.css-640 .filter-events p,
.mobi .phone .css-640 .filter-events p,
.mobi .tablet .css-640 .filter-events p,
.tablet .filter-events p {
  font-size: .6rem;
}

.css-640 .e-hold-i,
.css-640 .filter-events .show-mobile,
.mobi .phone .css-640 .e-hold-i,
.mobi .phone .css-640 .filter-events .show-mobile,
.mobi .tablet .css-640 .e-hold-i,
.mobi .tablet .css-640 .filter-events .show-mobile,
.tablet .e-hold-i,
.tablet .filter-events .show-mobile {
  display: none!important;
}

.css-640 .events-list h1,
.mobi .phone .css-640 .events-list h1,
.mobi .tablet .css-640 .events-list h1,
.tablet .events-list h1 {
  font-size: 100px;
  margin-top: -18px;
  margin-left: 17px;
}

.css-640 .events-list h2,
.mobi .phone .css-640 .events-list h2,
.mobi .tablet .css-640 .events-list h2,
.tablet .events-list h2 {
  font-size: 40px;
  margin-top: -47px;
  margin-left: 41px;
}

.css-640 .see,
.mobi .phone .css-640 .see,
.mobi .tablet .css-640 .see,
.tablet .see {
  padding-bottom: 30px;
}

.css-560 .events-banner,
.mobi .phone .css-560 .events-banner,
.mobi .tablet .css-560 .events-banner,
.tablet .events-banner {
  height: 260px;
}

.css-560 .events-banner .topbar-search-wrapper .button,
.css-560 .events-banner .topbar-search-wrapper input,
.mobi .phone .css-560 .events-banner .topbar-search-wrapper .button,
.mobi .phone .css-560 .events-banner .topbar-search-wrapper input,
.mobi .tablet .css-560 .events-banner .topbar-search-wrapper .button,
.mobi .tablet .css-560 .events-banner .topbar-search-wrapper input,
.tablet .events-banner .topbar-search-wrapper .button,
.tablet .events-banner .topbar-search-wrapper input {
  top: -1px!important;
}

.css-560 .events-banner .events-overlay,
.mobi .phone .css-560 .events-banner .events-overlay,
.mobi .tablet .css-560 .events-banner .events-overlay,
.tablet .events-banner .events-overlay {
  height: 260px;
}

.css-560 .events-banner .discover-box.has-form .pre-arrows img,
.mobi .phone .css-560 .events-banner .discover-box.has-form .pre-arrows img,
.mobi .tablet .css-560 .events-banner .discover-box.has-form .pre-arrows img,
.tablet .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}

.css-560 .events-banner .events-overlay .banner-text,
.mobi .phone .css-560 .events-banner .events-overlay .banner-text,
.mobi .tablet .css-560 .events-banner .events-overlay .banner-text,
.tablet .events-banner .events-overlay .banner-text {
  font-size: 33px;
  margin-top: 88px;
}

.css-560 .e-hold,
.mobi .phone .css-560 .e-hold,
.mobi .tablet .css-560 .e-hold,
.tablet .e-hold {
  padding-left: 0;
}

.css-560 .topbar-search-wrapper .button,
.mobi .phone .css-560 .topbar-search-wrapper .button,
.mobi .tablet .css-560 .topbar-search-wrapper .button,
.tablet .topbar-search-wrapper .button {
  top: 0!important;
}

.css-560 .filter-events,
.mobi .phone .css-560 .filter-events,
.mobi .tablet .css-560 .filter-events,
.tablet .filter-events {
  height: 50px;
}

.css-560 .filter-events .category-filter,
.css-560 .filter-events .location-filter,
.mobi .phone .css-560 .filter-events .category-filter,
.mobi .phone .css-560 .filter-events .location-filter,
.mobi .tablet .css-560 .filter-events .category-filter,
.mobi .tablet .css-560 .filter-events .location-filter,
.tablet .filter-events .category-filter,
.tablet .filter-events .location-filter {
  font-size: 13px;
}

.css-560 .filter-events .location-in,
.mobi .phone .css-560 .filter-events .location-in,
.mobi .tablet .css-560 .filter-events .location-in,
.tablet .filter-events .location-in {
  left: 45%;
  margin-top: -26px;
}

.css-560 .filter-events .location-in input,
.css-560 .filter-events .location-in select,
.mobi .phone .css-560 .filter-events .location-in input,
.mobi .phone .css-560 .filter-events .location-in select,
.mobi .tablet .css-560 .filter-events .location-in input,
.mobi .tablet .css-560 .filter-events .location-in select,
.tablet .filter-events .location-in input,
.tablet .filter-events .location-in select {
  width: 138px;
  font-size: 12px;
}

.css-560 .filter-events p,
.mobi .phone .css-560 .filter-events p,
.mobi .tablet .css-560 .filter-events p,
.tablet .filter-events p {
  font-size: .6rem;
}

.css-560 .e-hold-i,
.css-560 .filter-events .show-mobile,
.mobi .phone .css-560 .e-hold-i,
.mobi .phone .css-560 .filter-events .show-mobile,
.mobi .tablet .css-560 .e-hold-i,
.mobi .tablet .css-560 .filter-events .show-mobile,
.tablet .e-hold-i,
.tablet .filter-events .show-mobile {
  display: none!important;
}

.css-560 .see,
.mobi .phone .css-560 .see,
.mobi .tablet .css-560 .see,
.tablet .see {
  padding-bottom: 30px;
}

.css-560 .events-list,
.mobi .phone .css-560 .events-list,
.mobi .tablet .css-560 .events-list,
.tablet .events-list {
  height: 145px;
  width: 145px;
}

.css-560 .events-list h1,
.mobi .phone .css-560 .events-list h1,
.mobi .tablet .css-560 .events-list h1,
.tablet .events-list h1 {
  font-size: 90px;
  margin-top: -10px;
  margin-left: 23px;
}

.css-560 .events-list h2,
.mobi .phone .css-560 .events-list h2,
.mobi .tablet .css-560 .events-list h2,
.tablet .events-list h2 {
  font-size: 39px;
  margin-top: -42px;
  margin-left: 41px;
}

.css-560 .events-list img,
.mobi .phone .css-560 .events-list img,
.mobi .tablet .css-560 .events-list img,
.tablet .events-list img {
  height: 145px;
}

.css-560 .events-list a img,
.mobi .phone .css-560 .events-list a img,
.mobi .tablet .css-560 .events-list a img,
.tablet .events-list a img {
  left: 65%;
  top: 20%;
  height: 36px;
}

.css-480 .events-banner,
.css-480 .events-banner .events-overlay,
.mobi .phone .css-480 .events-banner,
.mobi .phone .css-480 .events-banner .events-overlay,
.mobi .tablet .css-480 .events-banner,
.mobi .tablet .css-480 .events-banner .events-overlay {
  height: 260px;
}

.css-480 .events-banner .discover-box.has-form .pre-arrows img,
.mobi .phone .css-480 .events-banner .discover-box.has-form .pre-arrows img,
.mobi .tablet .css-480 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}

.css-480 .events-banner .events-overlay .banner-text,
.mobi .phone .css-480 .events-banner .events-overlay .banner-text,
.mobi .tablet .css-480 .events-banner .events-overlay .banner-text {
  font-size: 33px;
  margin-top: 75px;
}

.css-480 .filter-events,
.mobi .phone .css-480 .filter-events,
.mobi .tablet .css-480 .filter-events {
  height: 45px;
}

.css-480 .filter-events .category-filter,
.css-480 .filter-events .location-filter,
.mobi .phone .css-480 .filter-events .category-filter,
.mobi .phone .css-480 .filter-events .location-filter,
.mobi .tablet .css-480 .filter-events .category-filter,
.mobi .tablet .css-480 .filter-events .location-filter {
  font-size: 17px;
  margin-top: -4px;
}

.css-480 .filter-events .location-in,
.mobi .phone .css-480 .filter-events .location-in,
.mobi .tablet .css-480 .filter-events .location-in {
  left: 1%;
  margin-top: -9px;
  vertical-align: inherit;
}

.css-480 .filter-events .location-in input,
.css-480 .filter-events .location-in select,
.mobi .phone .css-480 .filter-events .location-in input,
.mobi .phone .css-480 .filter-events .location-in select,
.mobi .tablet .css-480 .filter-events .location-in input,
.mobi .tablet .css-480 .filter-events .location-in select {
  width: 182px;
  height: 2.39rem;
  font-size: 15px;
  border-radius: 3px;
}

.css-480 .filter-events p,
.mobi .phone .css-480 .filter-events p,
.mobi .tablet .css-480 .filter-events p {
  font-size: .6rem;
}

.css-480 .filter-events .hide-mobile,
.mobi .phone .css-480 .filter-events .hide-mobile,
.mobi .tablet .css-480 .filter-events .hide-mobile {
  display: none!important;
}

.css-480 .see,
.mobi .phone .css-480 .see,
.mobi .tablet .css-480 .see {
  padding-bottom: 30px;
}

.css-480 .see .see-all-events,
.mobi .phone .css-480 .see .see-all-events,
.mobi .tablet .css-480 .see .see-all-events {
  font-size: 20px;
}

.css-480 .events-list,
.mobi .phone .css-480 .events-list,
.mobi .tablet .css-480 .events-list {
  height: 125px;
  width: 125px;
}

.css-480 .events-list h1,
.mobi .phone .css-480 .events-list h1,
.mobi .tablet .css-480 .events-list h1 {
  font-size: 84px;
  margin-top: -14px;
  margin-left: 16px;
}

.css-480 .events-list h2,
.mobi .phone .css-480 .events-list h2,
.mobi .tablet .css-480 .events-list h2 {
  font-size: 35px;
  margin-top: -40px;
  margin-left: 32px;
}

.css-480 .events-list img,
.mobi .phone .css-480 .events-list img,
.mobi .tablet .css-480 .events-list img {
  height: 125px;
}

.css-480 .events-list a img,
.mobi .phone .css-480 .events-list a img,
.mobi .tablet .css-480 .events-list a img {
  left: 72%;
  top: 24%;
  height: 30px;
}

.css-480 .e-hold-i,
.mobi .phone .css-480 .e-hold-i,
.mobi .tablet .css-480 .e-hold-i {
  display: none!important;
}

.css-480 .e-hold h3 a,
.mobi .phone .css-480 .e-hold h3 a,
.mobi .tablet .css-480 .e-hold h3 a {
  font-size: 18px;
}

.css-480 .e-hold p,
.mobi .phone .css-480 .e-hold p,
.mobi .tablet .css-480 .e-hold p {
  font-size: 14.8px!important;
}

.css-480 .events-display p a,
.mobi .phone .css-480 .events-display p a,
.mobi .tablet .css-480 .events-display p a {
  font-size: 12px;
}

.css-320 .events-banner,
.css-320 .events-banner .events-overlay,
.mobi .phone .css-320 .events-banner,
.mobi .phone .css-320 .events-banner .events-overlay,
.mobi .tablet .css-320 .events-banner,
.mobi .tablet .css-320 .events-banner .events-overlay {
  height: 210px;
}

.css-320 .events-banner .discover-box.has-form .pre-arrows img,
.mobi .phone .css-320 .events-banner .discover-box.has-form .pre-arrows img,
.mobi .tablet .css-320 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}

.css-320 .events-banner .events-overlay .banner-text,
.mobi .phone .css-320 .events-banner .events-overlay .banner-text,
.mobi .tablet .css-320 .events-banner .events-overlay .banner-text {
  font-size: 25px;
  margin-top: 55px;
}

.css-320 .events-banner .discover-box.has-form .button.tiny,
.mobi .phone .css-320 .events-banner .discover-box.has-form .button.tiny,
.mobi .tablet .css-320 .events-banner .discover-box.has-form .button.tiny {
  font-size: .7rem;
}

.css-320 .events-banner input[type=date],
.css-320 .events-banner input[type=datetime-local],
.css-320 .events-banner input[type=datetime],
.css-320 .events-banner input[type=email],
.css-320 .events-banner input[type=month],
.css-320 .events-banner input[type=number],
.css-320 .events-banner input[type=password],
.css-320 .events-banner input[type=search],
.css-320 .events-banner input[type=tel],
.css-320 .events-banner input[type=text],
.css-320 .events-banner input[type=time],
.css-320 .events-banner input[type=url],
.css-320 .events-banner input[type=week],
.css-320 .events-banner textarea,
.mobi .phone .css-320 .events-banner input[type=date],
.mobi .phone .css-320 .events-banner input[type=datetime-local],
.mobi .phone .css-320 .events-banner input[type=datetime],
.mobi .phone .css-320 .events-banner input[type=email],
.mobi .phone .css-320 .events-banner input[type=month],
.mobi .phone .css-320 .events-banner input[type=number],
.mobi .phone .css-320 .events-banner input[type=password],
.mobi .phone .css-320 .events-banner input[type=search],
.mobi .phone .css-320 .events-banner input[type=tel],
.mobi .phone .css-320 .events-banner input[type=text],
.mobi .phone .css-320 .events-banner input[type=time],
.mobi .phone .css-320 .events-banner input[type=url],
.mobi .phone .css-320 .events-banner input[type=week],
.mobi .phone .css-320 .events-banner textarea,
.mobi .tablet .css-320 .events-banner input[type=date],
.mobi .tablet .css-320 .events-banner input[type=datetime-local],
.mobi .tablet .css-320 .events-banner input[type=datetime],
.mobi .tablet .css-320 .events-banner input[type=email],
.mobi .tablet .css-320 .events-banner input[type=month],
.mobi .tablet .css-320 .events-banner input[type=number],
.mobi .tablet .css-320 .events-banner input[type=password],
.mobi .tablet .css-320 .events-banner input[type=search],
.mobi .tablet .css-320 .events-banner input[type=tel],
.mobi .tablet .css-320 .events-banner input[type=text],
.mobi .tablet .css-320 .events-banner input[type=time],
.mobi .tablet .css-320 .events-banner input[type=url],
.mobi .tablet .css-320 .events-banner input[type=week],
.mobi .tablet .css-320 .events-banner textarea {
  font-size: .675rem;
}

.css-320 .topbar-search-wrapper .button,
.mobi .phone .css-320 .topbar-search-wrapper .button,
.mobi .tablet .css-320 .topbar-search-wrapper .button {
  top: 0!important;
}

.css-320 .e-hold-head,
.mobi .phone .css-320 .e-hold-head,
.mobi .tablet .css-320 .e-hold-head {
  margin-top: 11px;
}

.css-320 .filter-events,
.mobi .phone .css-320 .filter-events,
.mobi .tablet .css-320 .filter-events {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
}

.css-320 .filter-events .location-in,
.mobi .phone .css-320 .filter-events .location-in,
.mobi .tablet .css-320 .filter-events .location-in {
  left: 48%;
  margin-top: -34px;
}

.css-320 .filter-events .location-in input,
.css-320 .filter-events .location-in select,
.mobi .phone .css-320 .filter-events .location-in input,
.mobi .phone .css-320 .filter-events .location-in select,
.mobi .tablet .css-320 .filter-events .location-in input,
.mobi .tablet .css-320 .filter-events .location-in select {
  width: 152px;
  height: 2.5125rem;
  font-size: .795rem;
}

.css-320 .filter-events p,
.mobi .phone .css-320 .filter-events p,
.mobi .tablet .css-320 .filter-events p {
  font-size: .6rem;
}

.css-320 .filter-events .hide-mobile,
.mobi .phone .css-320 .filter-events .hide-mobile,
.mobi .tablet .css-320 .filter-events .hide-mobile {
  display: none!important;
}

.css-320 .filter-events .show-location,
.mobi .phone .css-320 .filter-events .show-location,
.mobi .tablet .css-320 .filter-events .show-location {
  padding-bottom: 10px;
}

.css-320 .see,
.mobi .phone .css-320 .see,
.mobi .tablet .css-320 .see {
  padding-bottom: 20px;
}

.css-320 .see .see-all-events,
.mobi .phone .css-320 .see .see-all-events,
.mobi .tablet .css-320 .see .see-all-events {
  font-size: 16px;
}

.css-320 .e-hold-r,
.mobi .phone .css-320 .e-hold-r,
.mobi .tablet .css-320 .e-hold-r {
  display: inherit!important;
}

.css-320 .e-hold h3 a,
.mobi .phone .css-320 .e-hold h3 a,
.mobi .tablet .css-320 .e-hold h3 a {
  font-size: 17px;
}

.css-320 .e-hold p a,
.mobi .phone .css-320 .e-hold p a,
.mobi .tablet .css-320 .e-hold p a {
  font-size: 11.2px!important;
}

.css-320 .e-hold p,
.mobi .phone .css-320 .e-hold p,
.mobi .tablet .css-320 .e-hold p {
  font-size: 14.2px!important;
}

.css-240 .events-banner,
.css-240 .events-banner .events-overlay,
.mobi .phone .css-240 .events-banner,
.mobi .phone .css-240 .events-banner .events-overlay,
.mobi .tablet .css-240 .events-banner,
.mobi .tablet .css-240 .events-banner .events-overlay {
  height: 210px;
}

.css-240 .events-banner .discover-box.has-form .pre-arrows img,
.mobi .phone .css-240 .events-banner .discover-box.has-form .pre-arrows img,
.mobi .tablet .css-240 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}

.css-240 .events-banner .events-overlay .banner-text,
.mobi .phone .css-240 .events-banner .events-overlay .banner-text,
.mobi .tablet .css-240 .events-banner .events-overlay .banner-text {
  font-size: 25px;
  margin-top: 50px;
}

.css-240 .events-banner .discover-box.has-form .button.tiny,
.mobi .phone .css-240 .events-banner .discover-box.has-form .button.tiny,
.mobi .tablet .css-240 .events-banner .discover-box.has-form .button.tiny {
  font-size: .7rem;
}

.css-240 .events-banner input[type=date],
.css-240 .events-banner input[type=datetime-local],
.css-240 .events-banner input[type=datetime],
.css-240 .events-banner input[type=email],
.css-240 .events-banner input[type=month],
.css-240 .events-banner input[type=number],
.css-240 .events-banner input[type=password],
.css-240 .events-banner input[type=search],
.css-240 .events-banner input[type=tel],
.css-240 .events-banner input[type=text],
.css-240 .events-banner input[type=time],
.css-240 .events-banner input[type=url],
.css-240 .events-banner input[type=week],
.css-240 .events-banner textarea,
.mobi .phone .css-240 .events-banner input[type=date],
.mobi .phone .css-240 .events-banner input[type=datetime-local],
.mobi .phone .css-240 .events-banner input[type=datetime],
.mobi .phone .css-240 .events-banner input[type=email],
.mobi .phone .css-240 .events-banner input[type=month],
.mobi .phone .css-240 .events-banner input[type=number],
.mobi .phone .css-240 .events-banner input[type=password],
.mobi .phone .css-240 .events-banner input[type=search],
.mobi .phone .css-240 .events-banner input[type=tel],
.mobi .phone .css-240 .events-banner input[type=text],
.mobi .phone .css-240 .events-banner input[type=time],
.mobi .phone .css-240 .events-banner input[type=url],
.mobi .phone .css-240 .events-banner input[type=week],
.mobi .phone .css-240 .events-banner textarea,
.mobi .tablet .css-240 .events-banner input[type=date],
.mobi .tablet .css-240 .events-banner input[type=datetime-local],
.mobi .tablet .css-240 .events-banner input[type=datetime],
.mobi .tablet .css-240 .events-banner input[type=email],
.mobi .tablet .css-240 .events-banner input[type=month],
.mobi .tablet .css-240 .events-banner input[type=number],
.mobi .tablet .css-240 .events-banner input[type=password],
.mobi .tablet .css-240 .events-banner input[type=search],
.mobi .tablet .css-240 .events-banner input[type=tel],
.mobi .tablet .css-240 .events-banner input[type=text],
.mobi .tablet .css-240 .events-banner input[type=time],
.mobi .tablet .css-240 .events-banner input[type=url],
.mobi .tablet .css-240 .events-banner input[type=week],
.mobi .tablet .css-240 .events-banner textarea {
  font-size: .675rem;
}

.css-240 .e-hold-head,
.mobi .phone .css-240 .e-hold-head,
.mobi .tablet .css-240 .e-hold-head {
  margin-top: 11px;
}

.css-240 .topbar-search-wrapper .button,
.mobi .phone .css-240 .topbar-search-wrapper .button,
.mobi .tablet .css-240 .topbar-search-wrapper .button {
  top: 0!important;
}

.css-240 .filter-events,
.mobi .phone .css-240 .filter-events,
.mobi .tablet .css-240 .filter-events {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 43px;
}

.css-240 .filter-events .events-in,
.css-240 .filter-events .showing,
.mobi .phone .css-240 .filter-events .events-in,
.mobi .phone .css-240 .filter-events .showing,
.mobi .tablet .css-240 .filter-events .events-in,
.mobi .tablet .css-240 .filter-events .showing {
  font-size: 12px;
}

.css-240 .filter-events .location-in,
.mobi .phone .css-240 .filter-events .location-in,
.mobi .tablet .css-240 .filter-events .location-in {
  left: 50%;
  margin-top: -31px;
}

.css-240 .filter-events .location-in input,
.css-240 .filter-events .location-in select,
.mobi .phone .css-240 .filter-events .location-in input,
.mobi .phone .css-240 .filter-events .location-in select,
.mobi .tablet .css-240 .filter-events .location-in input,
.mobi .tablet .css-240 .filter-events .location-in select {
  width: 105px;
  height: 2.3125rem;
  font-size: 8px;
}

.css-240 .filter-events p,
.mobi .phone .css-240 .filter-events p,
.mobi .tablet .css-240 .filter-events p {
  font-size: .6rem;
}

.css-240 .filter-events .hide-mobile,
.mobi .phone .css-240 .filter-events .hide-mobile,
.mobi .tablet .css-240 .filter-events .hide-mobile {
  display: none!important;
}

.css-240 .filter-events .show-location,
.mobi .phone .css-240 .filter-events .show-location,
.mobi .tablet .css-240 .filter-events .show-location {
  padding-bottom: 10px;
}

.css-240 .see,
.mobi .phone .css-240 .see,
.mobi .tablet .css-240 .see {
  padding-bottom: 20px;
}

.css-240 .see .see-all-events,
.mobi .phone .css-240 .see .see-all-events,
.mobi .tablet .css-240 .see .see-all-events {
  font-size: 13px;
}

.css-240 .e-hold-r,
.mobi .phone .css-240 .e-hold-r,
.mobi .tablet .css-240 .e-hold-r {
  display: inherit!important;
}

.css-240 .e-hold h3 a,
.mobi .phone .css-240 .e-hold h3 a,
.mobi .tablet .css-240 .e-hold h3 a {
  font-size: 15px;
  line-height: 1.2;
}

.css-240 .e-hold p a,
.mobi .phone .css-240 .e-hold p a,
.mobi .tablet .css-240 .e-hold p a {
  font-size: 9.2px!important;
}

.css-240 .e-hold p,
.mobi .phone .css-240 .e-hold p,
.mobi .tablet .css-240 .e-hold p {
  font-size: 11.2px!important;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
  .events-list {
    height: 130px;
    width: 130px;
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    font-size: 87px;
    margin-top: -17px;
    margin-left: 18px;
  }

  .events-list h2 {
    font-size: 35px;
    margin-top: -40px;
    margin-left: 35px;
  }

  .events-list img {
    border-radius: 50%;
    height: 130px;
  }

  .events-list a img {
    left: 66%;
    top: 22%;
    height: 40px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 55px;
    font-size: 13px;
    font-weight: 700;
  }

  .e-hold p {
    margin-bottom: 6px;
    font-size: 10.9px;
  }

  .events-listing {
    font-size: 9.5px!important;
  }
}

@media only screen and (min-width:720px) and (max-width:767px) {
  .events-list {
    height: 110px;
    width: 110px;
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    font-size: 85px;
    margin-top: -23px;
    margin-left: 10px;
  }

  .events-list h2 {
    font-size: 33px;
    margin-top: -43px;
    margin-left: 26px;
  }

  .events-list img {
    height: 110px;
  }

  .events-list a img {
    left: 63%!important;
    top: 25%!important;
    height: 30px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 45px;
    font-size: 10.9px;
    font-weight: 700;
  }

  .e-hold p {
    margin-bottom: 6px;
    font-size: 8.84px;
  }

  .events-listing {
    font-size: 8px!important;
  }
}

@media only screen and (min-width:641px) and (max-width:719px) {
  .events-list {
    height: 110px;
    width: 110px;
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    font-size: 85px;
    margin-top: -23px;
    margin-left: 10px;
  }

  .events-list h2 {
    font-size: 33px;
    margin-top: -43px;
    margin-left: 26px;
  }

  .events-list img {
    height: 110px;
  }

  .events-list a img {
    left: 69%;
    top: 23%;
    height: 30px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 45px;
    font-size: 10.9px;
    font-weight: 700;
  }

  .e-hold p {
    margin-bottom: 6px;
    font-size: 8.84px;
  }

  .events-listing {
    font-size: 10px!important;
  }
}

@media only screen and (min-width:639px) and (max-width:640px) {
  .mobile-filter,
  .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }

  .mobile-filter h1,
  .remind-me h1 {
    margin-top: -2px;
  }

  .e-hold-i {
    display: none!important;
  }

  .submit {
    padding-left: 70px!important;
    padding-right: 70px!important;
  }

  .remind {
    margin-left: 220px;
    padding-left: 70px!important;
    padding-right: 70px!important;
  }

  .filter,
  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-show {
    display: none!important;
  }

  .events-list {
    height: 150px;
    width: 150px;
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    letter-spacing: -14px;
  }

  .events-list img {
    height: 150px;
  }

  .events-list a img {
    left: 60%;
    top: 21%;
    height: 36px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 60px;
    font-size: 20.6px;
    font-weight: 700;
    margin-bottom: 3px;
  }

  .e-hold p {
    margin-bottom: 3px;
    font-size: 18px;
  }

  .events-listing {
    font-size: 12px!important;
  }
}

@media only screen and (min-width:560px) and (max-width:638px) {
  .mobile-filter,
  .remind-mee {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }

  .mobile-filter h1,
  .remind-mee h1 {
    margin-top: -2px;
  }

  .e-hold-i {
    display: none!important;
  }

  .submit {
    padding-left: 70px!important;
    padding-right: 70px!important;
  }

  .remind {
    margin-left: 220px;
    padding-left: 70px!important;
    padding-right: 70px!important;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .reminder {
    margin-left: 25px!important;
    margin-top: 20px;
  }

  .p-show {
    display: none!important;
  }

  .events-list {
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    letter-spacing: -14px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 60px;
    font-size: 20.6px;
    font-weight: 700;
    margin-bottom: 3px;
  }

  .e-hold p {
    margin-bottom: 3px;
    font-size: 18px;
  }

  .events-listing {
    font-size: 10px!important;
  }
}

@media only screen and (min-width:480px) and (max-width:559px) {
  .mobile-filter,
  .remind-mee {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }

  .mobile-filter h1,
  .remind-mee h1 {
    margin-top: 5px;
    font-size: 25px;
  }

  .e-hold-i {
    display: none!important;
  }

  .submit {
    padding-left: 70px!important;
    padding-right: 70px!important;
  }

  .remind {
    margin-left: 175px;
    padding-left: 70px!important;
    padding-right: 70px!important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: 700;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    letter-spacing: -13px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 9.5px!important;
  }
}

@media only screen and (min-width:360px) and (max-width:479px) {
  .e-hold-r {
    display: inherit!important;
  }

  .mobile-filter,
  .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }

  .mobile-filter h1,
  .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .hide-mobile {
    display: none!important;
  }

  .submit {
    padding-left: 40px!important;
    padding-right: 40px!important;
  }

  .remind {
    margin-left: 110px;
    padding-left: 40px!important;
    padding-right: 40px!important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: 700;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 90px;
    width: 90px;
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    font-size: 70px;
    margin-top: -18px;
    margin-left: 8px;
    letter-spacing: -14px;
  }

  .events-list h2 {
    font-size: 26px;
    margin-top: -36px;
    margin-left: 22px;
  }

  .events-list img {
    height: 90px;
  }

  .events-list a img {
    left: 70%;
    top: 29%;
    height: 20px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 38px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 8.5px!important;
  }
}

@media only screen and (min-width:350px) and (max-width:359px) {
  .e-hold-r {
    display: inherit!important;
  }

  .mobile-filter,
  .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }

  .mobile-filter h1,
  .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .hide-mobile {
    display: none!important;
  }

  .submit {
    padding-left: 40px!important;
    padding-right: 40px!important;
  }

  .remind {
    margin-left: 110px;
    padding-left: 40px!important;
    padding-right: 40px!important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: 700;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 90px;
    width: 90px;
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    font-size: 70px;
    margin-top: -18px;
    margin-left: 8px;
    letter-spacing: -14px;
  }

  .events-list h2 {
    font-size: 26px;
    margin-top: -36px;
    margin-left: 22px;
  }

  .events-list img {
    height: 90px;
  }

  .events-list a img {
    left: 70%;
    top: 27.7%;
    height: 20px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 38px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 8.5px!important;
  }
}

@media only screen and (min-width:320px) and (max-width:349px) {
  .e-hold-r {
    display: inherit!important;
  }

  .mobile-filter,
  .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }

  .mobile-filter h1,
  .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .hide-mobile {
    display: none!important;
  }

  .submit {
    padding-left: 40px!important;
    padding-right: 40px!important;
  }

  .remind {
    margin-left: 110px;
    padding-left: 40px!important;
    padding-right: 40px!important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: 700;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 90px;
    width: 90px;
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    font-size: 70px;
    margin-top: -18px;
    margin-left: 8px;
    letter-spacing: -14px;
  }

  .events-list h2 {
    font-size: 26px;
    margin-top: -36px;
    margin-left: 22px;
  }

  .events-list img {
    height: 90px;
  }

  .events-list a img {
    left: 80%;
    top: 29%;
    height: 20px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 23px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 8.5px!important;
  }
}

@media only screen and (min-width:240px) and (max-width:319px) {
  .e-hold-r {
    display: inherit!important;
  }

  .mobile-filter,
  .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }

  .mobile-filter h1,
  .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .hide-mobile {
    display: none!important;
  }

  .submit {
    padding-left: 20px!important;
    padding-right: 20px!important;
  }

  .remind {
    margin-left: 85px;
    padding-left: 20px!important;
    padding-right: 20px!important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: 700;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 70px;
    width: 70px;
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    font-size: 50px;
    margin-top: -12px;
    margin-left: 9px;
    letter-spacing: -10px;
  }

  .events-list h2 {
    font-size: 20px;
    margin-top: -28px;
    margin-left: 16px;
  }

  .events-list img {
    height: 70px;
  }

  .events-list a img {
    left: 85%;
    top: 32%;
    height: 15px;
  }

  .e-hold h3 {
    line-height: 1;
    font-weight: 700;
    margin-bottom: -3px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 7px!important;
  }
}

@media only screen and (max-width:239px) {
  .e-hold-r {
    display: inherit!important;
  }

  .mobile-filter,
  .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }

  .mobile-filter h1,
  .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .submit {
    padding-left: 20px!important;
    padding-right: 20px!important;
  }

  .remind {
    margin-left: 85px;
    padding-left: 20px!important;
    padding-right: 20px!important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: 700;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 70px;
    width: 70px;
    margin-top: 33px;
    margin-bottom: 5px;
  }

  .events-list h1 {
    font-size: 50px;
    margin-top: -12px;
    margin-left: 9px;
    letter-spacing: -10px;
  }

  .events-list h2 {
    font-size: 20px;
    margin-top: -28px;
    margin-left: 16px;
  }

  .events-list img {
    height: 70px;
  }

  .events-list a img {
    left: 85%;
    top: 32%;
    height: 15px;
  }

  .e-hold h3 {
    line-height: 1;
    font-weight: 700;
    margin-bottom: -3px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 7px!important;
  }
}

.listing-top {
  min-height: 140px;
  background-color: #FFF;
  border: 2px solid #ccc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.listing-top .listing-top-head {
  margin-top: 42px;
}

.listing-top .listing-top-head .listing-top-header {
  font-size: 2.75rem;
  line-height: 1.1;
}

.listing-top .top-filter {
  margin-top: 52px;
  text-align: center;
  padding-right: 0;
}

.listing-top .top-filter .top-filter-i li {
  background: #F0F0F0;
  border: 2px solid #fff;
  border-radius: 3px;
}

.listing-top .top-filter .top-filter-i li a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #595959;
}

.listing-top .top-filter .top-filter-i li:first-child {
  border-top: 0;
  border-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 0;
}

.listing-top .top-filter .top-filter-i li:first-child a {
  padding-left: 32px;
  padding-right: 32px;
}

.listing-top .top-filter .top-filter-i li:nth-child(2) {
  border-top: 0;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

.listing-top .top-filter .top-filter-i li:nth-child(2) a {
  padding-left: 52px;
  padding-right: 52px;
}

.active-class {
  background: #ff6d00!important;
  color: #fff!important;
}

.listing-content {
  padding-top: 55px;
  padding-bottom: 55px;
}

.listing-content .listing-image-hold {
  padding-right: 0;
}

.listing-content .listing-image-hold .listing-image-container {
  margin-top: 23px;
}

.listing-content .listing-image-hold .listing-image-container .listing-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid #fff;
}

.listing-content .no-content-found {
  background: #fff;
  height: 320px;
  border-radius: 3px;
  text-align: center;
}

.listing-content .no-content-found .oops {
  font-size: 130px;
  margin-bottom: 0;
}

.listing-content .no-content-found .sorry-no-events {
  font-size: 21px;
  margin-top: -15px;
}

.listing-content .l-date-day {
  margin-bottom: 0;
  margin-top: -26px;
  margin-left: 173px;
}

.listing-content .date-day {
  padding-top: 20px;
}

.listing-content .listing-pagination .listing-count-p {
  color: #9E9E9E;
  font-size: .9rem;
  margin-left: 125px;
}

.listing-content .listing-pagination .listing-count-p .listing-count {
  margin-right: 8px;
}

.listing-content .listing-pagination .listing-pagination-count {
  margin-left: 8rem;
}

.listing-content .listing-pagination .listing-pagination-count li {
  font-size: 1.01rem;
  margin-left: 1.59125rem;
}

.listing-content .listing-filter-hold {
  padding-right: 0;
  margin-top: -26px;
}

.listing-content .listing-filter-hold .listing-filter-i a {
  color: #595959;
}

.listing-content .listing-filter-hold .tt-dropdown-menu {
  top: 78%!important;
}

.listing-content .listing-filter-hold .listing-filter-head {
  margin-bottom: 0;
}

.listing-content .listing-filter-hold .custom-date-input {
  padding-bottom: 11px;
}

.listing-content .listing-filter-hold .custom-date {
  margin-left: 0;
}

.listing-content .listing-filter-hold .custom-date .tt-dropdown-menu {
  display: none!important;
}

.listing-content .listing-filter-hold .custom-date-input-t .custom-date-update {
  border-radius: 3px;
}

.listing-content .listing-filter-hold .custom-date-input-t a,
.listing-content .listing-filter-hold .custom-date-input-t i {
  color: #fff!important;
}

.listing-content .listing-filter-hold .listing-map {
  height: 260px;
  padding-top: 8px;
}

.listing-content .listing-filter-hold .listing-filter-top {
  background: #fff;
  min-height: 150px;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top {
  margin-bottom: 0;
}

.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-custom-date {
  padding-bottom: 5px;
}

.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-arrow {
  float: right;
}

.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-last {
  margin-left: 0;
}

.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-last li:last-child {
  border-bottom: 0;
}

.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-category {
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-date {
  padding-top: 6px;
  padding-bottom: 6px;
}

.listing-content .listing-content-pad {
  padding-bottom: 20px;
}

.listing-content .listing-line-hold {
  padding-right: 0;
  padding-left: 0;
  margin-left: -2px;
}

.listing-content .listing-line-hold .listing-line {
  height: 2px;
  width: 100%;
  background: none repeat scroll 0 0 #ff6d00;
  margin-top: 73px;
}

.listing-content .listing-content-hold {
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  border-radius: 3px;
  min-height: 140px;
  margin-right: 2px;
}

.listing-content .listing-content-hold .listing-content-container {
  padding: 12px;
  padding-left: 20px;
}

.listing-content .listing-content-hold .listing-content-container i {
  color: #ff6d00;
}

.listing-content .listing-content-hold .listing-content-container .listing-date,
.listing-content .listing-content-hold .listing-content-container .listing-location,
.listing-content .listing-content-hold .listing-content-container .listing-organizer {
  line-height: 1.1;
}

.listing-content .listing-content-hold .listing-content-container .listing-organizer {
  color: #bbb;
  margin-bottom: 15px;
}

.listing-content .listing-content-hold .listing-content-container .listing-date {
  margin-bottom: 5px;
}

.listing-content .listing-content-hold .listing-content-container .listing-date .listing-time {
  margin-left: 10px;
}

.listing-content .listing-content-hold .listing-content-container .listing-location {
  margin-bottom: 5px;
}

.css-1024 .listing-top,
.mobi .tablet .css-1024 .listing-top,
.tablet .listing-top {
  min-height: 120px;
}

.css-1024 .listing-top .listing-top-head .listing-top-header,
.mobi .tablet .css-1024 .listing-top .listing-top-head .listing-top-header,
.tablet .listing-top .listing-top-head .listing-top-header {
  font-size: 2.15rem;
}

.css-1024 .listing-top .top-filter .top-filter-i li a,
.mobi .tablet .css-1024 .listing-top .top-filter .top-filter-i li a,
.tablet .listing-top .top-filter .top-filter-i li a {
  font-size: 14px;
}

.css-1024 .listing-top .top-filter,
.mobi .tablet .css-1024 .listing-top .top-filter,
.tablet .listing-top .top-filter {
  margin-top: 42px;
}

.css-1024 .listing-content .listing-content-hold,
.mobi .tablet .css-1024 .listing-content .listing-content-hold,
.tablet .listing-content .listing-content-hold {
  margin-right: 34px;
}

.css-1024 .listing-content .listing-line-hold,
.mobi .tablet .css-1024 .listing-content .listing-line-hold,
.tablet .listing-content .listing-line-hold {
  margin-left: -34px;
}

.css-1024 .listing-top .listing-top-head,
.mobi .tablet .css-1024 .listing-top .listing-top-head,
.tablet .listing-top .listing-top-head {
  margin-top: 38px;
}

.css-1024 .listing-content .listing-line-hold .listing-line,
.mobi .tablet .css-1024 .listing-content .listing-line-hold .listing-line,
.tablet .listing-content .listing-line-hold .listing-line {
  margin-top: 62px;
}

.css-1024 .listing-content .listing-pagination .listing-count-p,
.mobi .tablet .css-1024 .listing-content .listing-pagination .listing-count-p,
.tablet .listing-content .listing-pagination .listing-count-p {
  font-size: .8rem;
}

.css-1024 .listing-content .l-date-day,
.mobi .tablet .css-1024 .listing-content .l-date-day,
.tablet .listing-content .l-date-day {
  margin-left: 164px;
  font-size: .9rem;
}

.css-1024 .listing-content .listing-pagination .listing-pagination-count li,
.mobi .tablet .css-1024 .listing-content .listing-pagination .listing-pagination-count li,
.tablet .listing-content .listing-pagination .listing-pagination-count li {
  font-size: .9rem;
  margin-left: 1.07rem;
}

.css-1024 .listing-pagination-hold,
.mobi .tablet .css-1024 .listing-pagination-hold,
.tablet .listing-pagination-hold {
  padding-right: 0;
}

.css-1024 .listing-content .listing-filter-hold,
.mobi .tablet .css-1024 .listing-content .listing-filter-hold,
.tablet .listing-content .listing-filter-hold {
  padding-right: .9375rem;
}

.css-1024 .listing-content .listing-image-hold .listing-image-container,
.mobi .tablet .css-1024 .listing-content .listing-image-hold .listing-image-container,
.tablet .listing-content .listing-image-hold .listing-image-container {
  margin-top: 2px;
}

.css-1024 .listing-content .listing-content-hold,
.mobi .tablet .css-1024 .listing-content .listing-content-hold,
.tablet .listing-content .listing-content-hold {
  min-height: 120px;
}

.css-1024 .listing-content .listing-content-hold h5,
.mobi .tablet .css-1024 .listing-content .listing-content-hold h5,
.tablet .listing-content .listing-content-hold h5 {
  font-size: .925rem;
}

.css-1024 .listing-content .listing-content-hold p,
.mobi .tablet .css-1024 .listing-content .listing-content-hold p,
.tablet .listing-content .listing-content-hold p {
  font-size: .8rem;
}

.css-960 .listing-top,
.mobi .tablet .css-960 .listing-top,
.tablet .listing-top {
  min-height: 100px;
}

.css-960 .listing-top .listing-top-head .listing-top-header,
.mobi .tablet .css-960 .listing-top .listing-top-head .listing-top-header,
.tablet .listing-top .listing-top-head .listing-top-header {
  font-size: 1.6rem;
}

.css-960 .listing-top .top-filter .top-filter-i li a,
.mobi .tablet .css-960 .listing-top .top-filter .top-filter-i li a,
.tablet .listing-top .top-filter .top-filter-i li a {
  font-size: 9px;
}

.css-960 .listing-top .top-filter,
.mobi .tablet .css-960 .listing-top .top-filter,
.tablet .listing-top .top-filter {
  margin-top: 35px;
}

.css-960 .listing-top .listing-top-head,
.mobi .tablet .css-960 .listing-top .listing-top-head,
.tablet .listing-top .listing-top-head {
  margin-top: 33px;
}

.css-960 .listing-content .listing-content-hold,
.mobi .tablet .css-960 .listing-content .listing-content-hold,
.tablet .listing-content .listing-content-hold {
  margin-right: 25px;
}

.css-960 .listing-content .listing-line-hold,
.mobi .tablet .css-960 .listing-content .listing-line-hold,
.tablet .listing-content .listing-line-hold {
  margin-left: -25px;
}

.css-960 .listing-content .listing-line-hold .listing-line,
.mobi .tablet .css-960 .listing-content .listing-line-hold .listing-line,
.tablet .listing-content .listing-line-hold .listing-line {
  margin-top: 62px;
}

.css-960 .listing-content .listing-pagination .listing-count-p,
.mobi .tablet .css-960 .listing-content .listing-pagination .listing-count-p,
.tablet .listing-content .listing-pagination .listing-count-p {
  font-size: .7rem;
}

.css-960 .listing-content .l-date-day,
.mobi .tablet .css-960 .listing-content .l-date-day,
.tablet .listing-content .l-date-day {
  margin-left: 162px;
  font-size: .8rem;
}

.css-960 .listing-content .listing-pagination .listing-pagination-count li,
.mobi .tablet .css-960 .listing-content .listing-pagination .listing-pagination-count li,
.tablet .listing-content .listing-pagination .listing-pagination-count li {
  font-size: .8rem;
  margin-left: 1.07rem;
}

.css-960 .listing-pagination-hold,
.mobi .tablet .css-960 .listing-pagination-hold,
.tablet .listing-pagination-hold {
  padding-right: 0;
}

.css-960 .listing-content .listing-filter-hold,
.mobi .tablet .css-960 .listing-content .listing-filter-hold,
.tablet .listing-content .listing-filter-hold {
  padding-right: .9375rem;
}

.css-960 .listing-content .listing-filter-hold li,
.mobi .tablet .css-960 .listing-content .listing-filter-hold li,
.tablet .listing-content .listing-filter-hold li {
  font-size: .8rem;
}

.css-960 .listing-content .listing-content-hold,
.mobi .tablet .css-960 .listing-content .listing-content-hold,
.tablet .listing-content .listing-content-hold {
  min-height: 120px;
}

.css-960 .listing-content .listing-content-hold h5,
.mobi .tablet .css-960 .listing-content .listing-content-hold h5,
.tablet .listing-content .listing-content-hold h5 {
  font-size: .825rem;
}

.css-960 .listing-content .listing-content-hold p,
.mobi .tablet .css-960 .listing-content .listing-content-hold p,
.tablet .listing-content .listing-content-hold p {
  font-size: .7rem;
}

.css-960 .listing-content .listing-image-hold .listing-image-container,
.mobi .tablet .css-960 .listing-content .listing-image-hold .listing-image-container,
.tablet .listing-content .listing-image-hold .listing-image-container {
  margin-top: 12px;
}

.css-960 .listing-content .listing-pagination .listing-pagination-count,
.mobi .tablet .css-960 .listing-content .listing-pagination .listing-pagination-count,
.tablet .listing-content .listing-pagination .listing-pagination-count {
  margin-left: 7.2rem;
}

.css-960 .listing-content .listing-filter-hold .listing-filter-head,
.mobi .tablet .css-960 .listing-content .listing-filter-hold .listing-filter-head,
.tablet .listing-content .listing-filter-hold .listing-filter-head {
  font-size: .8rem;
}

.css-768 .listing-top,
.mobi .tablet .css-768 .listing-top,
.tablet .listing-top {
  min-height: 100px;
}

.css-768 .listing-top .listing-top-head .listing-top-header,
.mobi .tablet .css-768 .listing-top .listing-top-head .listing-top-header,
.tablet .listing-top .listing-top-head .listing-top-header {
  font-size: 1.6rem;
}

.css-768 .listing-top .top-filter .top-filter-i li a,
.mobi .tablet .css-768 .listing-top .top-filter .top-filter-i li a,
.tablet .listing-top .top-filter .top-filter-i li a {
  font-size: 9px;
}

.css-768 .listing-top .top-filter,
.mobi .tablet .css-768 .listing-top .top-filter,
.tablet .listing-top .top-filter {
  margin-top: 35px;
}

.css-768 .listing-content .listing-content-hold,
.mobi .tablet .css-768 .listing-content .listing-content-hold,
.tablet .listing-content .listing-content-hold {
  margin-right: 0;
}

.css-768 .listing-content .listing-line-hold,
.mobi .tablet .css-768 .listing-content .listing-line-hold,
.tablet .listing-content .listing-line-hold {
  margin-left: 0;
}

.css-768 .listing-content .listing-line-hold .listing-line,
.mobi .tablet .css-768 .listing-content .listing-line-hold .listing-line,
.tablet .listing-content .listing-line-hold .listing-line {
  margin-top: 62px;
}

.css-768 .listing-content .listing-pagination .listing-count-p,
.mobi .tablet .css-768 .listing-content .listing-pagination .listing-count-p,
.tablet .listing-content .listing-pagination .listing-count-p {
  font-size: .6rem;
}

.css-768 .listing-content .l-date-day,
.mobi .tablet .css-768 .listing-content .l-date-day,
.tablet .listing-content .l-date-day {
  margin-left: 149px;
  font-size: .8rem;
}

.css-768 .listing-content .listing-pagination .listing-pagination-count li,
.mobi .tablet .css-768 .listing-content .listing-pagination .listing-pagination-count li,
.tablet .listing-content .listing-pagination .listing-pagination-count li {
  font-size: .7rem;
  margin-left: .54rem;
}

.css-768 .listing-pagination-hold,
.mobi .tablet .css-768 .listing-pagination-hold,
.tablet .listing-pagination-hold {
  padding-right: 0;
}

.css-768 .listing-content .listing-filter-hold,
.mobi .tablet .css-768 .listing-content .listing-filter-hold,
.tablet .listing-content .listing-filter-hold {
  padding-right: .9375rem;
}

.css-768 .listing-content .listing-filter-hold li,
.mobi .tablet .css-768 .listing-content .listing-filter-hold li,
.tablet .listing-content .listing-filter-hold li {
  font-size: .8rem;
}

.css-768 .listing-content .listing-content-hold,
.mobi .tablet .css-768 .listing-content .listing-content-hold,
.tablet .listing-content .listing-content-hold {
  min-height: 120px;
}

.css-768 .listing-content .listing-content-hold h5,
.mobi .tablet .css-768 .listing-content .listing-content-hold h5,
.tablet .listing-content .listing-content-hold h5 {
  font-size: .825rem;
}

.css-768 .listing-content .listing-content-hold p,
.mobi .tablet .css-768 .listing-content .listing-content-hold p,
.tablet .listing-content .listing-content-hold p {
  font-size: .7rem;
}

.css-768 .listing-top .listing-top-head,
.mobi .tablet .css-768 .listing-top .listing-top-head,
.tablet .listing-top .listing-top-head {
  margin-top: 33px;
}

.css-768 .listing-content .listing-image-hold .listing-image-container,
.mobi .tablet .css-768 .listing-content .listing-image-hold .listing-image-container,
.tablet .listing-content .listing-image-hold .listing-image-container {
  margin-top: 12px;
}

.css-768 .listing-content .listing-pagination .listing-pagination-count,
.mobi .tablet .css-768 .listing-content .listing-pagination .listing-pagination-count,
.tablet .listing-content .listing-pagination .listing-pagination-count {
  margin-left: 6.5rem;
}

.css-768 .listing-content .listing-filter-hold .listing-filter-head,
.mobi .tablet .css-768 .listing-content .listing-filter-hold .listing-filter-head,
.tablet .listing-content .listing-filter-hold .listing-filter-head {
  font-size: .8rem;
}

.css-640 .listing-top,
.mobi .phone .css-640 .listing-top,
.mobi .tablet .css-640 .listing-top {
  min-height: 100px;
}

.css-640 .listing-top .listing-top-head .listing-top-header,
.mobi .phone .css-640 .listing-top .listing-top-head .listing-top-header,
.mobi .tablet .css-640 .listing-top .listing-top-head .listing-top-header {
  font-size: 1.6rem;
}

.css-640 .listing-top .top-filter .top-filter-i li a,
.mobi .phone .css-640 .listing-top .top-filter .top-filter-i li a,
.mobi .tablet .css-640 .listing-top .top-filter .top-filter-i li a {
  font-size: 9px;
}

.css-640 .listing-top .top-filter,
.mobi .phone .css-640 .listing-top .top-filter,
.mobi .tablet .css-640 .listing-top .top-filter {
  margin-top: 35px;
}

.css-640 .listing-content .listing-content-hold,
.mobi .phone .css-640 .listing-content .listing-content-hold,
.mobi .tablet .css-640 .listing-content .listing-content-hold {
  margin-right: 15px;
}

.css-640 .listing-content .listing-line-hold,
.mobi .phone .css-640 .listing-content .listing-line-hold,
.mobi .tablet .css-640 .listing-content .listing-line-hold {
  margin-left: -15px;
}

.css-640 .listing-content .listing-line-hold .listing-line,
.mobi .phone .css-640 .listing-content .listing-line-hold .listing-line,
.mobi .tablet .css-640 .listing-content .listing-line-hold .listing-line {
  margin-top: 83px;
}

.css-640 .listing-content .listing-pagination .listing-count-p,
.mobi .phone .css-640 .listing-content .listing-pagination .listing-count-p,
.mobi .tablet .css-640 .listing-content .listing-pagination .listing-count-p {
  font-size: .6rem;
}

.css-640 .listing-content .l-date-day,
.mobi .phone .css-640 .listing-content .l-date-day,
.mobi .tablet .css-640 .listing-content .l-date-day {
  margin-left: 198px;
  font-size: 1.1rem;
}

.css-640 .listing-top .top-filter .top-filter-i li:nth-child(2) a,
.mobi .phone .css-640 .listing-top .top-filter .top-filter-i li:nth-child(2) a,
.mobi .tablet .css-640 .listing-top .top-filter .top-filter-i li:nth-child(2) a {
  padding-left: 35px;
  padding-right: 35px;
}

.css-640 .listing-top .top-filter .top-filter-i li:first-child a,
.mobi .phone .css-640 .listing-top .top-filter .top-filter-i li:first-child a,
.mobi .tablet .css-640 .listing-top .top-filter .top-filter-i li:first-child a {
  padding-left: 22px;
  padding-right: 22px;
}

.css-640 .listing-content .listing-filter-hold .listing-filter-top,
.mobi .phone .css-640 .listing-content .listing-filter-hold .listing-filter-top,
.mobi .tablet .css-640 .listing-content .listing-filter-hold .listing-filter-top {
  min-height: 86px;
}

.css-640 .listing-content .listing-pagination .listing-pagination-count li,
.mobi .phone .css-640 .listing-content .listing-pagination .listing-pagination-count li,
.mobi .tablet .css-640 .listing-content .listing-pagination .listing-pagination-count li {
  font-size: .7rem;
  margin-left: .54rem;
}

.css-640 .listing-pagination-hold,
.mobi .phone .css-640 .listing-pagination-hold,
.mobi .tablet .css-640 .listing-pagination-hold {
  padding-right: 0;
}

.css-640 .listing-content .listing-filter-hold,
.mobi .phone .css-640 .listing-content .listing-filter-hold,
.mobi .tablet .css-640 .listing-content .listing-filter-hold {
  padding-right: .9375rem;
}

.css-640 .listing-content .listing-filter-hold li,
.mobi .phone .css-640 .listing-content .listing-filter-hold li,
.mobi .tablet .css-640 .listing-content .listing-filter-hold li {
  font-size: .8rem;
}

.css-640 .listing-content .listing-image-hold .listing-image-container .listing-image,
.mobi .phone .css-640 .listing-content .listing-image-hold .listing-image-container .listing-image,
.mobi .tablet .css-640 .listing-content .listing-image-hold .listing-image-container .listing-image {
  height: 130px;
  width: 130px;
}

.css-640 .listing-content .listing-content-hold,
.mobi .phone .css-640 .listing-content .listing-content-hold,
.mobi .tablet .css-640 .listing-content .listing-content-hold {
  min-height: 160px;
}

.css-640 .listing-content .listing-content-hold h5,
.mobi .phone .css-640 .listing-content .listing-content-hold h5,
.mobi .tablet .css-640 .listing-content .listing-content-hold h5 {
  font-size: 1.3rem;
}

.css-640 .listing-content .listing-content-hold p,
.mobi .phone .css-640 .listing-content .listing-content-hold p,
.mobi .tablet .css-640 .listing-content .listing-content-hold p {
  font-size: 1.1rem;
}

.css-640 .listing-top .listing-top-head,
.mobi .phone .css-640 .listing-top .listing-top-head,
.mobi .tablet .css-640 .listing-top .listing-top-head {
  margin-top: 33px;
}

.css-640 .listing-content .listing-image-hold .listing-image-container,
.mobi .phone .css-640 .listing-content .listing-image-hold .listing-image-container,
.mobi .tablet .css-640 .listing-content .listing-image-hold .listing-image-container {
  margin-top: 13px;
}

.css-640 .listing-content .listing-pagination .listing-pagination-count,
.mobi .phone .css-640 .listing-content .listing-pagination .listing-pagination-count,
.mobi .tablet .css-640 .listing-content .listing-pagination .listing-pagination-count {
  margin-left: 6.5rem;
}

.css-640 .listing-content .listing-filter-hold .listing-filter-head,
.mobi .phone .css-640 .listing-content .listing-filter-hold .listing-filter-head,
.mobi .tablet .css-640 .listing-content .listing-filter-hold .listing-filter-head {
  font-size: .8rem;
}

.css-640 .mobile-search-top,
.mobi .phone .css-640 .mobile-search-top,
.mobi .tablet .css-640 .mobile-search-top {
  background: #fff;
}

.css-640 .mobile-search-top .topbar-search-wrapper,
.mobi .phone .css-640 .mobile-search-top .topbar-search-wrapper,
.mobi .tablet .css-640 .mobile-search-top .topbar-search-wrapper {
  width: 90%;
}

.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}

.pika-title {
  position: relative;
  text-align: center;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 3px;
}

.pika-label:hover {
  background-color: #f7f7f7;
}

.pika-next,
.pika-prev {
  display: block;
  cursor: pointer;
  position: relative;
  outline: 0;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 75% 75%;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0;
}

.pika-next:hover,
.pika-prev:hover {
  opacity: 1;
  background-color: inherit;
}

.pika-next.is-disabled,
.pika-prev.is-disabled {
  cursor: default;
  opacity: .2;
}

.is-rtl .pika-next,
.pika-prev {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==);
  *left: 0;
}

.is-rtl .pika-prev,
.pika-next {
  float: right;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=);
  *right: 0;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table td,
.pika-table th {
  width: 14.285714285714286%;
  padding: 0;
}

.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
}

.pika-table td {
  border: 1px solid #d9d9d9;
}

.pika-table thead {
  background-color: #fff;
}

.pika-button {
  cursor: pointer;
  display: block;
  outline: 0;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #595959;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f2f2f2;
  border-radius: 0;
}

.pika-button:hover {
  color: inherit;
  background: #dedede;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border-radius: 0!important;
}

.is-today .pika-button {
  color: #bfff00;
  font-weight: 700;
  border: 1px solid;
}

.is-selected .pika-button {
  color: #fff;
  font-weight: 700;
  background: #bfff00;
  -webkit-box-shadow: inset 0 1px 3px #86b300;
  box-shadow: inset 0 1px 3px #86b300;
  border-radius: 0;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  opacity: .3;
}

.th~.description {
  display: none;
}

.big-image-gallery {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
}

.big-image-gallery .gallery-container {
  position: absolute;
  left: 0;
  margin-left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  color: #fff;
}

@media only screen and (min-width:64.063em) {
  .big-image-gallery .gallery-container {
    left: 50%;
    margin-left: -35%;
    width: 70%;
    top: 30px;
    bottom: 30px;
  }
}

.big-image-gallery .gallery-container .gallery-header {
  height: 50px;
  background-color: #212121;
}

.big-image-gallery .gallery-container .gallery-header .gallery-close {
  position: absolute;
  right: 10px;
  font-size: 30px;
  line-height: 50px;
  color: #ccc;
  z-index: 2;
}

.big-image-gallery .gallery-container .gallery-header .gallery-close:hover {
  color: #fff;
}

.big-image-gallery .gallery-container .gallery-header .gallery-upload-details {
  position: absolute;
  min-width: 30%;
  padding: 5px;
  top: 0;
}

.big-image-gallery .gallery-container .gallery-header .gallery-upload-details .uploader-thumbnail {
  height: 40px;
  max-width: 100px;
  float: left;
  margin-right: 5px;
}

.big-image-gallery .gallery-container .gallery-header .gallery-upload-details .upload-date {
  font-size: 11px;
  line-height: 20px;
  white-space: nowrap;
}

.big-image-gallery .gallery-container .gallery-header .gallery-upload-details .uploader-name {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}

@media only screen and (min-width:64.063em) {
  .big-image-gallery .gallery-container .gallery-header .gallery-upload-details .upload-date {
    font-size: 14px;
  }

  .big-image-gallery .gallery-container .gallery-header .gallery-upload-details .uploader-name {
    font-size: 18px;
  }
}

.big-image-gallery .gallery-container .gallery-header .gallery-title {
  text-align: center;
  color: #fff;
  line-height: 50px;
  margin: 0;
  position: relative;
  top: 50px;
  z-index: 1;
  text-shadow: 0 0 25px rgba(0,0,0,.9),0 -1px 1px rgba(0,0,0,.6);
}

@media only screen and (min-width:64.063em) {
  .big-image-gallery .gallery-container .gallery-header .gallery-title {
    top: 0;
  }
}

.big-image-gallery .gallery-container .gallery-image-container {
  min-height: 450px;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.big-image-gallery .gallery-container .gallery-image-container .gallery-image {
  height: 520px;
  width: 100%;
  background: rgba(0,0,0,.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  vertical-align: middle;
  position: absolute;
  top: 50px;
}

.big-image-gallery .gallery-container .gallery-image-container .gallery-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

.big-image-gallery .gallery-container .gallery-image-container .gallery-image.active {
  display: block;
}

.big-image-gallery .gallery-container .gallery-image-container .gallery-loading {
  background: rgba(0,0,0,.5);
}

.big-image-gallery .gallery-container .gallery-image-container img {
  max-height: 100%;
}

.big-image-gallery .gallery-container .gallery-description-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header {
  height: 40px;
  background: rgba(0,0,0,.9);
  position: relative;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .business-details {
  position: absolute;
  min-width: 30%;
  padding: 5px;
  bottom: 0;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .business-details .business-thumbnail {
  height: 30px;
  float: left;
  margin-right: 5px;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .business-details .business-name {
  font-size: 16px;
  line-height: 30px;
  white-space: nowrap;
}

@media only screen and (min-width:64.063em) {
  .big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .business-details .business-name {
    font-size: 20px;
  }
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .image-count {
  display: block;
  text-align: center;
  line-height: 40px;
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-shadow: 0 0 25px rgba(0,0,0,.9),0 -1px 1px rgba(0,0,0,.6);
}

@media only screen and (min-width:64.063em) {
  .big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .image-count {
    position: static;
  }
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .actions-container {
  position: absolute;
  right: 0;
  top: 0;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .actions-container .show-description {
  padding: 0 10px;
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  max-width: 200px;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .actions-container .show-description:hover {
  background: rgba(255,255,255,.2);
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .actions-container .show-description.active {
  background: rgba(255,255,255,.1);
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .actions-container .show-description.hidden {
  max-width: 0;
  padding: 0;
  margin: 0;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description-header .actions-container .like {
  background: rgba(255,255,255,.1);
  padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  line-height: 25px;
  margin: 7px 10px;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description {
  max-height: 0;
  background: rgba(0,0,0,.5);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 1.6;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description * {
  display: inline;
}

.big-image-gallery .gallery-container .gallery-description-container .gallery-description.show {
  max-height: 200px;
  padding: 5px;
}

.big-image-gallery .gallery-navigation-container {
  position: absolute;
  top: 50px;
  width: 100%;
  background: #2e2e2e;
  height: 50px;
  line-height: 50px;
}

.big-image-gallery .gallery-navigation-container .gallery-next,
.big-image-gallery .gallery-navigation-container .gallery-previous {
  position: relative;
  top: 0;
  z-index: 1;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  float: left;
}

.big-image-gallery .gallery-navigation-container .disabled.gallery-next,
.big-image-gallery .gallery-navigation-container .gallery-previous.disabled {
  opacity: .3;
}

.big-image-gallery .gallery-navigation-container .gallery-next {
  right: 0;
  float: right;
}

@media only screen and (min-width:64.063em) {
  .big-image-gallery .gallery-navigation-container {
    position: static;
    background: 0 0;
    height: 0;
  }

  .big-image-gallery .gallery-navigation-container .gallery-next,
  .big-image-gallery .gallery-navigation-container .gallery-previous {
    position: absolute;
    top: 50%;
    float: none;
    padding: 0 50px;
    font-size: 50px;
  }

  .big-image-gallery .gallery-navigation-container .gallery-next {
    position: absolute;
    float: none;
  }
}

.vc3-1#normal-header .logo-container {
  display: inline-block;
  vertical-align: middle;
}

.vc3-1#normal-header .menu-icon {
  text-indent: 0;
  display: inline-block;
  vertical-align: middle;
}

.vc3-1#normal-header .menu-icon span {
  position: relative;
}

.vc3-1#normal-header .left-small,
.vc3-1#normal-header .left-small-no-border {
  width: 170px;
  display: block;
}

.vc3-1#normal-header .tab-bar {
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.vc3-1#normal-header .tab-bar ul {
  margin-bottom: 0;
  list-style: none;
}

.vc3-1#normal-header .back-nav {
  font-size: 25px;
  color: #ff8932;
  padding-right: 7px;
  padding-left: 3px;
  border-right: 1px solid #d4d4d4;
  display: block;
  width: inherit;
}

.vc3-1#normal-header .back.left-small-no-border~.middle.tab-bar-section>.logo,
.vc3-1#normal-header .left-small.back~.middle.tab-bar-section>.logo {
  left: 0;
  height: auto;
}

.vc3-1#normal-header .back.left-small-no-border~.middle.tab-bar-section>.logo-container,
.vc3-1#normal-header .left-small.back~.middle.tab-bar-section>.logo-container {
  position: static;
  right: 0;
}

.vc3-1#normal-header .back.left-small-no-border,
.vc3-1#normal-header .left-small.back {
  width: 45px;
}

.vc3-1#normal-header .tab-bar-links {
  border: 0;
  text-align: center;
  padding-bottom: 0;
  margin-left: 0;
  position: relative;
  float: left;
}

.vc3-1#normal-header .tab-bar-links a {
  font-size: 15px!important;
  vertical-align: middle;
}

.vc3-1#normal-header .tab-bar-links .search-icon:before {
  font-size: 20px!important;
  color: #595959;
  position: relative;
  top: -4px;
}

.vc3-1#normal-header .tab-bar-links a:not(.button) {
  color: #595959;
  line-height: 45px;
  padding-right: 12px;
  padding-left: 12px;
  display: block;
  min-height: 45px;
}

.vc3-1#normal-header .tab-bar-links a:not(.button).active {
  background: #dbdbdb;
}

.vc3-1#normal-header .tab-bar-links a:not(.button).active:before {
  content: "";
  display: block;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  bottom: 0;
  border-width: 7px;
  left: 20.5px;
  z-index: 1;
}

.vc3-1#normal-header .tab-bar-links a:not(.button).active:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 10px solid #d4d4d4;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  display: block;
  bottom: 0;
  left: 18px;
}

.vc3-1#normal-header .tab-bar-links .counter {
  position: absolute;
  display: block;
  line-height: 15px;
  height: 14px;
  width: 14px;
  top: 5px;
  right: 8px;
  text-align: center;
  font-size: 8px;
  border-radius: 50%;
  border: 1px solid #ff6d00;
  background-color: #ff8932;
  color: #fff;
}

.vc3-1#normal-header.has-search .tab-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vc3-1#normal-header.has-search li.search a.active:before {
  border-bottom: 10px solid #fafafa;
}

.vc3-1#normal-header.has-search .search-bar {
  display: block;
  margin-bottom: 12px;
  position: relative;
  border-bottom: 1px solid #d4d4d4;
  background: #fafafa;
  padding-bottom: 5px;
  padding-top: 20px;
}

.vc3-1#normal-header.has-search .search-bar .input-container {
  position: relative;
}

.vc3-1#normal-header.has-search .search-bar .input-container input {
  border-radius: 3px;
  margin-bottom: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vc3-1#normal-header.has-search .search-bar .search-btn {
  position: absolute;
  right: 1px;
  top: 1px;
  margin-bottom: 0;
  font-size: 16.5px;
}

.vc3-1#normal-header.has-search .search-bar .location {
  font-size: 12px;
  margin-bottom: 7px;
}

.vc3-1#normal-header.has-search .search-bar .location a {
  font-size: 11px;
  border-bottom: 1px solid;
}

.vc3-1#normal-header .twitter-typeahead .tt-dropdown-menu {
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.1);
  box-shadow: 3px 3px 3px 0 rgba(0,0,0,.1);
}

.no-js .vc3-1#normal-header.has-search .search-bar .search-btn {
  position: absolute;
  right: 1px;
  top: 1px;
  margin-bottom: 0;
  font-size: 13.5px;
  padding: 6px 7px;
}

.no-js .vc3-1#normal-header .back.left-small-no-border~.middle.tab-bar-section>.logo,
.no-js .vc3-1#normal-header .left-small.back~.middle.tab-bar-section>.logo {
  left: 15px;
  top: 10px;
  position: relative;
  margin-top: 10px;
}

.no-js .vc3-1#normal-header .back.left-small-no-border~.middle.tab-bar-section>.logo-container,
.no-js .vc3-1#normal-header .left-small.back~.middle.tab-bar-section>.logo-container {
  top: 10px;
  margin-top: 10px;
}

.no-js .vc3-1#normal-header .back-nav i:before {
  position: relative;
  left: 5px;
}

.no-js .vc3-1#normal-header .menu-icon {
  position: relative;
}

.no-js .vc3-1#normal-header .menu-icon span {
  background: #595959;
  left: -15px;
  width: 20px;
  position: relative;
}

.no-js .vc3-1#normal-header .logo-container {
  top: 10px;
}

.no-js .vc3-1#normal-header .logo {
  height: auto;
}

.no-js .vc3-1#normal-header .tab-bar-links a:not(.btn) {
  padding-top: 15px;
}

.no-js .vc3-1#normal-header .back-nav {
  padding-top: 9px;
}

.btn {
  border-radius: 3px;
  color: #fff;
  background-color: #ff6d00;
  font-size: 12px;
  padding: 9px 20px;
  line-height: 1;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 0;
}

.btn:focus,
.btn:hover {
  color: #fff;
  background-color: #f56900;
}

.btn.active {
  color: #ff6d00;
  background-color: #fff;
  border: 1px solid;
  padding: 8px 19px;
}

.btn.active:focus,
.btn.active:hover {
  color: #ff6d00;
  background-color: #fafafa;
}

.btn.invert {
  color: #ff6d00;
  background-color: #fff;
}

.btn.invert:focus,
.btn.invert:hover {
  color: #ff6d00;
  background-color: #fafafa;
}

.btn.dark {
  color: #fff;
  background-color: #595959;
}

.btn.dark:focus,
.btn.dark:hover {
  background-color: #666;
}

.btn.dark.active {
  color: #ff6d00;
}

.btn.lightgray {
  color: #595959!important;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 8px 19px;
}

.btn.lightgray:focus,
.btn.lightgray:hover {
  background-color: #e9e9e9;
}

.btn.lightgray.active {
  color: #ff6d00;
}

.btn.transparent {
  background: 0 0;
  border: 1px solid;
  padding: 8px 19px;
}

.btn.small {
  font-size: 9.6px;
  padding: 7.2px 16px;
}

.btn.large {
  font-size: 14.4px;
  padding: 10.8px 24px;
}

.btn.x-large {
  font-size: 18px;
  padding: 13.5px 30px;
}

a.btn {
  text-decoration: none!important;
}

form .btn {
  margin-bottom: 10px;
}

.filter-box {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.filter-box input[type=checkbox].cb+label:before,
.filter-box input[type=radio].cb+label:before {
  font-size: 14px;
  margin-right: 3px;
}

.filter-box.close .filter-list {
  height: 0;
  padding: 0;
}

.filter-box.close .filter-search-wrapper {
  display: none;
}

.filter-box .clear-filter {
  font-size: 10px;
  line-height: 13px;
  text-decoration: underline;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
}

.filter-box .range-wrapper {
  padding: 10px;
}

.filter-box .range-text-wrapper {
  position: relative;
}

.filter-box .range-text-wrapper .columns {
  padding: 10px;
}

.filter-box .range-text-wrapper .currency {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  line-height: 45px;
  font-size: 12px;
}

.filter-box .range-text-wrapper .range-sep {
  position: absolute;
  font-size: 12px;
  top: 0;
  left: 50%;
  height: 45px;
  display: inline-block;
  line-height: 45px;
  margin-left: -5px;
}

.filter-box .range-text-input {
  height: 25px;
  margin: 0;
  padding: 3px;
  padding-left: 17px;
  border-radius: 0;
  font-size: 12px;
}

.filter-box .link-filter {
  display: block;
  line-height: 13px;
  padding: 5px;
  color: #595959;
}

.filter-box .link-filter:hover {
  text-decoration: underline;
}

.filter-box .link-filter.active {
  color: #ff6d00;
>>>>>>> 59c7ac9cb398ce3908bebfda26b06bee811f15b1
>>>>>>> e0e2a1f75ca2a7f6677ff0bacf78a2269b0d5d53
}

.filter-box-heading {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px;
}

.filter-box-heading h5 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.filter-search-wrapper .filter-search-input {
  font-size: 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 5px;
  height: 25px;
  margin: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.filter-search-wrapper .filter-search-input:focus,
.filter-search-wrapper .filter-search-input:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f7f7f7;
  border-color: #ccc;
}

.filters-wrapper .filter-list {
  font-size: 12px;
  padding: 0 5px;
  margin: 0;
  color: #595959;
  max-height: 250px;
  overflow-y: auto;
  background: -webkit-gradient(linear,top left,bottom left,from(#fff),to(rgba(255,255,255,0))),-webkit-gradient(linear,top left,bottom left,from(rgba(255,255,255,0)),to(#fff)) 0 100%,radial-gradient(50% 0,farthest-side,rgba(0,0,0,.1),rgba(0,0,0,0)),radial-gradient(50% 100%,farthest-side,rgba(0,0,0,.1),rgba(0,0,0,0)) 0 100%;
  background: -webkit-linear-gradient(#fff 30%,rgba(255,255,255,0)),-webkit-linear-gradient(rgba(255,255,255,0),#fff 70%) 0 100%,-webkit-radial-gradient(50% 0,farthest-side,rgba(0,0,0,.1),rgba(0,0,0,0)),-webkit-radial-gradient(50% 100%,farthest-side,rgba(0,0,0,.1),rgba(0,0,0,0)) 0 100%;
  background: linear-gradient(#fff 30%,rgba(255,255,255,0)),linear-gradient(rgba(255,255,255,0),#fff 70%) 0 100%,radial-gradient(50% 0,farthest-side,rgba(0,0,0,.1),rgba(0,0,0,0)),radial-gradient(50% 100%,farthest-side,rgba(0,0,0,.1),rgba(0,0,0,0)) 0 100%;
  background: -webkit-gradient(linear,top left,bottom left,from(#fff),to(rgba(255,255,255,0))),-webkit-gradient(linear,top left,bottom left,from(rgba(255,255,255,0)),to(#fff)) 0 100%,radial-gradient(farthest-side at 50% 0,rgba(0,0,0,.1),rgba(0,0,0,0)),radial-gradient(farthest-side at 50% 100%,rgba(0,0,0,.1),rgba(0,0,0,0)) 0 100%;
  background: linear-gradient(#fff 30%,rgba(255,255,255,0)),linear-gradient(rgba(255,255,255,0),#fff 70%) 0 100%,radial-gradient(farthest-side at 50% 0,rgba(0,0,0,.1),rgba(0,0,0,0)),radial-gradient(farthest-side at 50% 100%,rgba(0,0,0,.1),rgba(0,0,0,0)) 0 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  -webkit-background-size: 100% 40px,100% 40px,100% 14px,100% 14px;
  background-size: 100% 40px,100% 40px,100% 14px,100% 14px;
  background-attachment: local,local,scroll,scroll;
}

.filters-wrapper .filter-list li {
  margin: 5px 0;
}

.filters-wrapper .filter-list label {
  font-size: 12px;
  color: #595959;
  vertical-align: middle;
  line-height: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0;
}

.filters-wrapper .filter-list label input {
  margin: 0;
  vertical-align: middle;
}

.filters-wrapper .filter-list ul {
  font-size: inherit;
  margin-left: 10px;
}

.filters-wrapper .filter-open-toggle {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 20px;
  padding: 5px;
  font-size: 12px;
  color: #595959;
  z-index: 3;
}

.filters-wrapper .filter-open-toggle:focus {
  outline: 0;
}

.likes-count-box .count-list {
  font-size: 12px;
  margin-left: 0;
  line-height: 25px;
}

.likes-count-box .count-list,
.likes-count-box .count-list li {
  list-style: none;
}

.likes-count-box .count-list li {
  display: inline-block;
}

.likes-count-box .count-list li a {
  display: inline-block;
  background: #595959;
  border-radius: 5px;
  color: #fff;
  width: 25px;
  text-align: center;
}

.likes-count-box .count-list li img {
  border-radius: 5px;
  max-height: 25px;
}

.review-item {
  background: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.review-heading {
  max-height: 50px;
  background: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.review-heading .user-photo-wrapper {
  float: left;
  margin-right: 5px;
}

.review-heading .user-photo-wrapper img {
  border-radius: 17.5px;
  height: 35px;
  width: auto;
}

.review-heading .heading-actions {
  margin-top: 2px;
}

.review-heading .username {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  margin-bottom: 5px;
}

.review-heading .username a {
  color: inherit;
}

.review-heading .user-reviews-count {
  font-size: 12px;
  color: #595959;
  line-height: 1.2;
}

.review-heading .user-reviews-count a {
  color: inherit;
}

.review-body {
  padding: 0 5px;
}

.review-body .star-rating {
  color: #b3b3b3;
  font-size: 12px;
}

.review-body .star-rating i:before {
  font-size: 16px;
  color: #fab504;
  margin: 0;
}

.review-body p {
  margin-bottom: 0;
}

.review-footer {
  color: #b3b3b3;
  font-size: 12px;
  padding: 0 5px;
}

.review-footer a {
  color: inherit;
  font-size: 14px;
}

.review-footer a.active,
.review-footer a:hover {
  color: #ff6d00;
}

.smedia-links {
  margin-bottom: 10px;
}

.smedia-links a {
  color: #fff;
  font-size: 20px;
  display: block;
  padding: 10px;
}

.photo-upload-box .photo-dropzone-form {
  border: 2px dashed #ccc;
  margin-bottom: 20px;
  position: relative;
}

.photo-upload-box .photo-dropzone-form.dz-drag-hover {
  border-color: #ff6d00;
}

.photo-upload-box .photo-dropzone-form .dz-size {
  display: none;
}

.photo-upload-box .photo-dropzone-form .dz-details {
  margin-bottom: 5px;
}

.photo-upload-box .photo-dropzone-form .dz-preview {
  margin: 10px;
}

.photo-upload-box .photo-dropzone-form .dz-filename {
  display: none;
}

.photo-upload-box .photo-dropzone-form .dz-remove {
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  background: #f2f2f2;
  color: #b3b3b3;
  padding: 5px;
  display: block;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
}

.photo-upload-box .photo-dropzone-form .dz-remove:hover {
  color: #595959;
}

.photo-upload-box .upload-text {
  padding: 65px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.photo-upload-box .cancel-box {
  margin-bottom: 15px;
}

.topbar-search-wrapper {
  position: relative;
  top: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2px;
  max-height: 45px;
}

.topbar-search-wrapper .button,
.topbar-search-wrapper .tt-hint.searchlocation,
.topbar-search-wrapper .tt-hint.searchterm,
.topbar-search-wrapper input {
  top: 0!important;
}

.topbar-search-wrapper .searchlocation,
.topbar-search-wrapper .searchterm,
.topbar-search-wrapper input[type=text] {
  border: 0!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  padding-left: 20px;
}

.topbar-search-wrapper .pre {
  position: absolute;
  z-index: 1;
  padding: 10px 0;
  line-height: normal;
  color: #ccc;
}

.topbar-search-wrapper .seperator {
  display: inline-block;
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 0;
  background: #ccc;
  width: 1px;
}

.photos-heading {
  padding: 20px 10px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.photos-heading .button {
  margin-bottom: 0;
}

.photos-heading h4 a {
  color: inherit;
}

.photos-heading h4 a:hover {
  text-decoration: underline;
}

.photo-gallery-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-gallery-list li {
  position: relative;
  padding-bottom: 20%;
  width: 20%;
  float: left;
}

.photo-gallery-list .th {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  background-color: #e6e6e6;
}

.photo-gallery-list img {
  width: auto;
  max-width: none;
  height: 100%;
}

#demo-component {
  clear: both;
}

.component.waiting-on-data p.with-preview {
  margin: 6px 0 0;
}

.block {
  float: left;
  width: 100%;
  margin: 8px 0;
}

.block h1 {
  float: left;
  margin: 0 0 0 20px;
  font-size: 24px;
  line-height: 18px;
}

.events-list ul li .preact-image-mask {
  margin: 0 14px 0 0;
}

.events-list .preact-image-mask {
  clear: both;
  border-radius: 50%;
}

.waiting-on-data h3.with-preview {
  height: 22px;
  width: 200px;
  background: #e0e0e0;
  line-height: 18px;
}

.waiting-on-data p.with-preview {
  height: 10px;
  width: 150px;
  background: rgba(224,224,224,.6);
}

.waiting-on-data p span.with-preview {
  height: 60px;
  width: 100%;
  background: rgba(224,224,224,.6);
}

.waiting-on-data .disabled-in-preview {
  opacity: .2;
  pointer-events: none;
}

.preact-image-mask {
  position: relative;
  overflow: hidden;
  background: #e0e0e0;
  border-radius: 50%;
}

.preact-image-mask img {
  width: 100%;
  height: 100%;
}

.img-placeholder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.img-placeholder:after,
.img-placeholder:before {
  content: ' ';
  display: block;
  margin: 0 auto;
  background: #b2b1b1;
}

.img-placeholder:before {
  width: 40%;
  height: 45%;
  margin-top: 24%;
  border-radius: 100%;
}

.img-placeholder:after {
  width: 66%;
  height: 100%;
  margin-top: -2px;
  border-radius: 16px 16px 0 0;
}

select {
  position: relative;
  z-index: 0;
}

select:hover {
  background: initial;
  border: initial;
}

.browsehappy {
  filter: alpha(opacity=80);
}

.site-header {
  border-bottom: 2px solid #ccc;
}

.footer-content {
  padding-bottom: 70px;
}

.footer-content h6 {
  font-size: 16px;
}

.top-bar-section .dropdown .arr {
  display: none;
}

.reminder {
  margin-left: -20px!important;
}

.p-date {
  margin-top: 15px!important;
}

.big-one {
  display: none!important;
}

.event-name h1 {
  font-size: 20.2px!important;
}

.button-holder {
  padding: 12.5px 39px!important;
}

.description-down {
  margin-top: 10px;
}

.events-list h2 {
  margin-top: -30%;
}

.photo-count {
  background: none repeat scroll 0 0;
}

.wrapper {
  padding-top: 55px;
}

.joyride-modal-bg {
  background-color: #fff;
  filter: alpha(opacity=80);
}