body {
  font-family: lato-light;
  overflow-y: scroll;
}

::-moz-selection {
  background: #d22c25;
  color: white;
}

::selection {
  background: #d22c25;
  color: white;
}

.search-content {
  font-size: 40px;
}

.search-content .logo {
  text-align: center;
  padding: 50px;
}

.search-content input,
.search-content button {
  font-family: lato-light;
  height: 60px;
  font-size: 40px;
}

.search-content .search-values {
  position: absolute;
  z-index: 2;
  font-size: 14px;
  color: #e36660;
  bottom: 100%;
  left: 5px;
  margin-bottom: 10px;
  min-width: 250px;
  padding: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.search-content .search-values:after {
  content: "";
  position: absolute;
  left: 13px;
  bottom: -8px;
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: white;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.search-content .jsearchterm,
.search-content .jsearchlocation {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 60px;
  padding-left: 55px;
  border-bottom: 1px solid transparent;
  margin-bottom: 0;
}

.search-content .jsearchterm:focus,
.search-content .jsearchlocation:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: white;
  border-bottom: 1px solid #d22c25;
  border-color: #d22c25;
}

.search-content .submit-btn {
  padding: 10px 5px;
  background: transparent;
  color: #d22c25;
  position: absolute;
  top: 0;
  right: 0;
}

.search-content .submit-btn:active {
  outline: 0;
}

.search-content .search-box {
  margin-bottom: 15px;
}

.search-content .pre {
  color: #e6e6e6;
  padding: 10px 0;
  position: absolute;
  z-index: 2;
}

.search-content .loader {
  background-color: #d22c25;
  background: url(../img/loader2.gif) no-repeat center;
  height: 150px;
}

.search-content .twitter-typeahead {
  width: 100%;
}

.search-content .tt-dropdown-menu {
  background-color: #F8F8F8;
  border: none;
}

.search-content .tt-suggestions p {
  font-size: 40px;
  font-family: lato-light;
}

.search-content .tt-suggestion {
  border-bottom: 1px solid #EEE;
}

.search-content .tt-cursor {
  background-color: #EEE;
  color: #d22c25;
}