.img-gallery {
  width: 200px;
}

.img-gallery li {
  margin: 10px;
}

.th ~ .description {
  display: none;
}

.big-image-gallery {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.9);
  color: white;
}

.big-image-gallery h4 {
  color: white;
  text-align: center;
}

.big-image-gallery .gallery-close {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  right: 15px;
  font-size: 25px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
  z-index: 2;
}

.big-image-gallery .gallery-close:hover {
  color: #DA332C;
}

.big-image-gallery .gallery-title-container {
  position: relative;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.4);
}

.big-image-gallery .gallery-title-container .gallery-title {
  text-transform: capitalize;
  line-height: 50px;
  margin: 0;
}

.big-image-gallery .gallery-img-container {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 100%;
  position: relative;
  min-height: 300px;
  text-align: center;
}

.big-image-gallery .gallery-img-container a {
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.big-image-gallery .gallery-img-container a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.big-image-gallery .gallery-img-container .gallery-image {
  display: none;
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 60px;
  right: 0;
  z-index: 0;
  line-height: 1px;
  text-align: center;
  vertical-align: middle;
}

.big-image-gallery .gallery-img-container .gallery-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

.big-image-gallery .gallery-img-container .gallery-image img {
  max-height: 100%;
}

.big-image-gallery .gallery-img-container .gallery-controls,
.big-image-gallery .gallery-img-container .gallery-previous,
.big-image-gallery .gallery-img-container .gallery-next {
  position: absolute;
  top: 50%;
  font-size: 50px;
  margin-top: -105px;
  z-index: 2;
  padding: 50px 25px;
}

.big-image-gallery .gallery-img-container .gallery-previous {
  left: 0;
}

.big-image-gallery .gallery-img-container .gallery-next {
  right: 0;
}

.big-image-gallery .gallery-img-container .disabled {
  color: #CCC;
  color: rgba(255, 255, 255, 0.1);
  cursor: default;
}

.big-image-gallery .gallery-img-container .disabled:hover {
  color: #CCC;
  color: rgba(255, 255, 255, 0.1);
}

.big-image-gallery .gallery-img-container .gallery-img-count {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  font-size: 30px;
  z-index: 2;
}

.big-image-gallery .gallery-img-container .gallery-img-count:hover {
  color: white;
}

.big-image-gallery .gallery-actions-container {
  position: absolute;
  bottom: 100%;
  right: 10px;
  margin-bottom: 5px;
}

.big-image-gallery .gallery-actions-container .like-button {
  font-size: 20px;
  color: #CCC;
}

.big-image-gallery .gallery-description-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}

.big-image-gallery .gallery-description-container p {
  font-size: 14px;
}

.big-image-gallery .gallery-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/loader.gif) center center no-repeat;
  z-index: -1;
}

.big-image-gallery .gallery-upload-details {
  position: absolute;
  top: 0;
  left: 0px;
  width: 300px;
}

.big-image-gallery .gallery-upload-details .gallery-upload-userthumb {
  margin: 5px;
  height: 40px;
  float: left;
}

.big-image-gallery .gallery-upload-details .gallery-upload-date {
  margin-top: 5px;
  font-size: 11px;
  color: #CCC;
}

.stack-container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  margin-bottom: 10px;
}

.stack-container .picture-stack,
.stack-container .img-gallery li,
.img-gallery .stack-container li {
  border: 10px solid white;
  outline: 1px solid darkgray;
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  line-height: 280px;
  margin: 5px;
}

.stack-container .picture-stack:before,
.stack-container .img-gallery li:before,
.img-gallery .stack-container li:before,
.stack-container .picture-stack:after,
.stack-container .img-gallery li:after,
.img-gallery .stack-container li:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  border: 10px solid white;
  outline: 1px solid darkgray;
  z-index: -1;
}

.stack-container .picture-stack:before,
.stack-container .img-gallery li:before,
.img-gallery .stack-container li:before {
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.stack-container .picture-stack:after,
.stack-container .img-gallery li:after,
.img-gallery .stack-container li:after {
  -webkit-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  transform: rotate(13deg);
}

.stack-container .picture-stack:hover:before,
.stack-container .img-gallery li:hover:before,
.img-gallery .stack-container li:hover:before {
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.stack-container .picture-stack:hover:after,
.stack-container .img-gallery li:hover:after,
.img-gallery .stack-container li:hover:after {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.stack-container .picture-stack img,
.stack-container .img-gallery li img,
.img-gallery .stack-container li img {
  width: 280px;
  height: 280px;
}

.action-symbols {
  position: relative;
  text-align: center;
}

.action-symbols .symbol {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.action-symbols .symbol:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.action-symbols .bar {
  position: absolute;
  display: inline-block;
  top: 0;
  height: 2px;
  width: 50px;
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.action-symbols .close .bar:first-child {
  opacity: 0;
  -webkit-transform: translate(-25px, 0);
  -ms-transform: translate(-25px, 0);
  transform: translate(-25px, 0);
}

.action-symbols .close .bar:nth-child(2) {
  -webkit-transform: translate(-25px, 25px) rotate(45deg);
  -ms-transform: translate(-25px, 25px) rotate(45deg);
  transform: translate(-25px, 25px) rotate(45deg);
}

.action-symbols .close .bar:last-child {
  -webkit-transform: translate(-25px, 25px) rotate(-45deg);
  -ms-transform: translate(-25px, 25px) rotate(-45deg);
  transform: translate(-25px, 25px) rotate(-45deg);
}

.action-symbols .menu .bar:first-child {
  -webkit-transform: translate(-25px, 5px);
  -ms-transform: translate(-25px, 5px);
  transform: translate(-25px, 5px);
}

.action-symbols .menu .bar:nth-child(2) {
  -webkit-transform: translate(-25px, 25px);
  -ms-transform: translate(-25px, 25px);
  transform: translate(-25px, 25px);
}

.action-symbols .menu .bar:last-child {
  -webkit-transform: translate(-25px, 45px);
  -ms-transform: translate(-25px, 45px);
  transform: translate(-25px, 45px);
}

.action-symbols .plus .bar:first-child {
  opacity: 0;
  -webkit-transform: translate(-25px, 0);
  -ms-transform: translate(-25px, 0);
  transform: translate(-25px, 0);
}

.action-symbols .plus .bar:nth-child(2) {
  -webkit-transform: translate(-25px, 25px);
  -ms-transform: translate(-25px, 25px);
  transform: translate(-25px, 25px);
}

.action-symbols .plus .bar:last-child {
  -webkit-transform: translate(-25px, 25px) rotate(90deg);
  -ms-transform: translate(-25px, 25px) rotate(90deg);
  transform: translate(-25px, 25px) rotate(90deg);
}

.action-symbols .minus .bar:first-child {
  opacity: 0;
  -webkit-transform: translate(-25px, 5px);
  -ms-transform: translate(-25px, 5px);
  transform: translate(-25px, 5px);
}

.action-symbols .minus .bar:nth-child(2) {
  -webkit-transform: translate(-25px, 25px);
  -ms-transform: translate(-25px, 25px);
  transform: translate(-25px, 25px);
}

.action-symbols .minus .bar:last-child {
  opacity: 0;
  -webkit-transform: translate(-25px, 45px);
  -ms-transform: translate(-25px, 45px);
  transform: translate(-25px, 45px);
}

.action-symbols .divide .bar:first-child {
  opacity: 0;
  -webkit-transform: translate(-25px, 5px);
  -ms-transform: translate(-25px, 5px);
  transform: translate(-25px, 5px);
}

.action-symbols .divide .bar:nth-child(2) {
  -webkit-transform: translate(-25px, 25px) rotate(-70deg);
  -ms-transform: translate(-25px, 25px) rotate(-70deg);
  transform: translate(-25px, 25px) rotate(-70deg);
}

.action-symbols .divide .bar:last-child {
  opacity: 0;
  -webkit-transform: translate(-25px, 45px);
  -ms-transform: translate(-25px, 45px);
  transform: translate(-25px, 45px);
}

.action-symbols .percent .bar:first-child {
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-15px, 10px);
  -ms-transform: translate(-15px, 10px);
  transform: translate(-15px, 10px);
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
}

.action-symbols .percent .bar:nth-child(2) {
  -webkit-transform: translate(-25px, 25px) rotate(-70deg);
  -ms-transform: translate(-25px, 25px) rotate(-70deg);
  transform: translate(-25px, 25px) rotate(-70deg);
}

.action-symbols .percent .bar:last-child {
  width: 10px;
  height: 10px;
  -webkit-transform: translate(7.5px, 32.5px);
  -ms-transform: translate(7.5px, 32.5px);
  transform: translate(7.5px, 32.5px);
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
}

.action-symbols .left-arrow .bar:first-child {
  width: 25px;
  -webkit-transform: translate(-25px, 25px) rotate(-45deg);
  -ms-transform: translate(-25px, 25px) rotate(-45deg);
  transform: translate(-25px, 25px) rotate(-45deg);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}

.action-symbols .left-arrow .bar:nth-child(2) {
  -webkit-transform: translate(-25px, 25px);
  -ms-transform: translate(-25px, 25px);
  transform: translate(-25px, 25px);
}

.action-symbols .left-arrow .bar:last-child {
  width: 25px;
  -webkit-transform: translate(-25px, 25px) rotate(45deg);
  -ms-transform: translate(-25px, 25px) rotate(45deg);
  transform: translate(-25px, 25px) rotate(45deg);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.action-symbols .right-arrow .bar:first-child {
  width: 25px;
  -webkit-transform: translate(0, 25px) rotate(45deg);
  -ms-transform: translate(0, 25px) rotate(45deg);
  transform: translate(0, 25px) rotate(45deg);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}

.action-symbols .right-arrow .bar:nth-child(2) {
  -webkit-transform: translate(-25px, 25px);
  -ms-transform: translate(-25px, 25px);
  transform: translate(-25px, 25px);
}

.action-symbols .right-arrow .bar:last-child {
  width: 25px;
  -webkit-transform: translate(0, 25px) rotate(-45deg);
  -ms-transform: translate(0, 25px) rotate(-45deg);
  transform: translate(0, 25px) rotate(-45deg);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}

.action-symbols .smile .bar:first-child {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  -webkit-transform: translate(-25px, 5px);
  -ms-transform: translate(-25px, 5px);
  transform: translate(-25px, 5px);
}

.action-symbols .smile .bar:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  -webkit-transform: translate(15px, 5px);
  -ms-transform: translate(15px, 5px);
  transform: translate(15px, 5px);
}

.action-symbols .smile .bar:last-child {
  height: 25px;
  border-radius: 0 0 50px 50px;
  background-color: transparent;
  border: 2px solid black;
  border-top: none;
  -webkit-transform: translate(-25px, 25px);
  -ms-transform: translate(-25px, 25px);
  transform: translate(-25px, 25px);
}

.action-symbols .sad .bar:first-child {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  -webkit-transform: translate(-25px, 5px);
  -ms-transform: translate(-25px, 5px);
  transform: translate(-25px, 5px);
}

.action-symbols .sad .bar:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  -webkit-transform: translate(15px, 5px);
  -ms-transform: translate(15px, 5px);
  transform: translate(15px, 5px);
}

.action-symbols .sad .bar:last-child {
  height: 25px;
  border-radius: 0 0 50px 50px;
  background-color: transparent;
  border: 2px solid black;
  border-top: none;
  -webkit-transform: translate(-25px, 25px) rotate(180deg);
  -ms-transform: translate(-25px, 25px) rotate(180deg);
  transform: translate(-25px, 25px) rotate(180deg);
}

.action-symbols .laugh .bar:first-child {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  -webkit-transform: translate(-25px, 5px);
  -ms-transform: translate(-25px, 5px);
  transform: translate(-25px, 5px);
}

.action-symbols .laugh .bar:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  -webkit-transform: translate(15px, 5px);
  -ms-transform: translate(15px, 5px);
  transform: translate(15px, 5px);
}

.action-symbols .laugh .bar:last-child {
  height: 25px;
  border-radius: 0 0 50px 50px;
  background-color: transparent;
  border: 2px solid black;
  -webkit-transform: translate(-25px, 25px);
  -ms-transform: translate(-25px, 25px);
  transform: translate(-25px, 25px);
}

.action-symbols .evil .bar:first-child {
  width: 12px;
  height: 10px;
  border-radius: 0 0 50% 50%;
  background-color: transparent;
  border: 2px solid black;
  -webkit-transform: translate(-25px, 10px) rotate(45deg);
  -ms-transform: translate(-25px, 10px) rotate(45deg);
  transform: translate(-25px, 10px) rotate(45deg);
}

.action-symbols .evil .bar:nth-child(2) {
  width: 12px;
  height: 10px;
  border-radius: 0 0 50% 50%;
  background-color: transparent;
  border: 2px solid black;
  -webkit-transform: translate(15px, 10px) rotate(-45deg);
  -ms-transform: translate(15px, 10px) rotate(-45deg);
  transform: translate(15px, 10px) rotate(-45deg);
}

.action-symbols .evil .bar:last-child {
  height: 25px;
  border-radius: 50px 50px 0 0;
  background-color: transparent;
  background: -webkit-gradient(linear, top left, top right, from(transparent), color-stop(40%, black), color-stop(60%, black), to(transparent));
  background: -webkit-linear-gradient(left, transparent 40%, black 40%, black 60%, transparent 60%);
  background: linear-gradient(left, transparent 40%, black 40%, black 60%, transparent 60%);
  -webkit-background-size: 25%;
  background-size: 25%;
  border: 2px solid black;
  -webkit-transform: translate(-25px, 25px);
  -ms-transform: translate(-25px, 25px);
  transform: translate(-25px, 25px);
}

.button-style-practice .swipe-button {
  width: 150px;
  height: 50px;
  overflow: hidden;
  padding: 0;
  line-height: 20px;
  font-size: 20px;
}

.button-style-practice .swipe-button .swipe-content {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.button-style-practice .swipe-button .swipe-content span {
  padding: 15px 0;
  display: block;
}

.button-style-practice .swipe-button:hover .swipe-content {
  top: -50px;
}