﻿@media only screen and (min-width:180px) and (max-width:520px) {
.promo-rt-popup{position:fixed; top:0; height:100%; width:100%; left:0; background:url(http://deals.vconnect.com/resource/images/wh-bga.png);z-index:9999;}
.promo-rt-popup img{width:90%; margin:5%;padding-top: 40px;}
.promo-rt-popup-x{position: absolute;margin-top:0px;margin-left:0px;}
.promo-rt-popup-x img{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none; width:30px; height:30px;}
}

@media only screen and (min-width:521px) and (max-width:749px) {
.promo-rt-popup{position:fixed; z-index:99999; width:250px; right:5px; bottom:0px;}
.promo-rt-popup img{box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75); width:100%; height:auto;}
.promo-rt-popup-x{position: absolute;margin-top: -15px;margin-left: -15px;}
.promo-rt-popup-x img{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
}

@media only screen and (min-width:750px) and (max-width:980px) {
.promo-rt-popup{position:fixed; z-index:99999; width:250px; right:5px; bottom:0px;}
.promo-rt-popup img{box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);width:100%; height:auto;}
.promo-rt-popup-x{position: absolute;margin-top: -15px;margin-left: -15px;}
.promo-rt-popup-x img{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
}

@media only screen and (min-width:981px) and (max-width:1023px) {
.promo-rt-popup{position:fixed; z-index:99999; width:280px; right:5px; bottom:0px;}
.promo-rt-popup img{box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);width:100%; height:auto;}
.promo-rt-popup-x{position: absolute;margin-top: -15px;margin-left: -15px;}
.promo-rt-popup-x img{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
}

@media only screen and (min-width:1024px) {
.promo-rt-popup{position:fixed; z-index:99999; width:300px; right:5px; bottom:0px;}
.promo-rt-popup img{box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);width:100%; height:auto;}
.promo-rt-popup-x{position: absolute;margin-top: -15px;margin-left: -15px;}
.promo-rt-popup-x img{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
}
