﻿@{
    string vconnect_404 = Vconnect.Common.MyGlobalVariables.Staticimage + "vconnect-404-sketch.png";
    ViewBag.Title = "404 Error ";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    string title = "Not Found 404 Page";
    string description = "The Page You Are looking for was not found. Don't worry our map will help to get you to the right place.";
    string keyword = "error page";
    string robots = "noindex,nofollow";                      
}
@section title{@title}
@section  description{@description}
@section keyword{@keyword}
@section robots{@robots}

<div class="not-found-content">
    <h1>Not found <span>:(</span></h1>
    <img src="img/lab-small2.png" alt="404" class="right" />
    <p>Sorry, but the page you were trying to view does not exist.</p>
    <!-- <p>Sorry, but the page you were trying to view </p> -->
    <p>It looks like this was the result of either:</p>
    <ul>
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
    </ul>
  @*  <h3>You could also try searching:</h3>
    
        <div class="row collapse">
            <div class="columns medium-9">

                <input type="text" placeholder = "What are you looking for? e.g. cars, hotels">
            </div>
            <div class="columns medium-3">
                <button class="button button-red postfix">Search</button>
            </div>
        </div>*@


 
</div>
