﻿@model Vconnect.Models.SearchBar
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProduct</title>
     <script type="text/javascript">

         function validateData() {

             var objsearchkey = document.getElementById('SearchText');
             var objsearchlocation = document.getElementById('SearchLocation');
             var objTxtResult = document.getElementById('pError');

             document.getElementById('pError').style.color = "red";
             if (objsearchkey.value.trim() == "") {
                 objTxtResult.innerHTML = 'Please Enter Search Keyword';
                 return false;
             }

            


         }
    </script>
</head>
<body>
    @if (Model != null)
    {

         using (Html.BeginForm("submit", "HomeWAP", FormMethod.Post))
         {
        <section id="bdcontent">
            <div style="padding-top: 1px; padding-bottom: 10px;" class="orangeBack">

                <div style="padding-top: 5px;" id="innerSHeader">


                    <div class="txt_what">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <div class="hminptxt">
                                            @Html.TextBoxFor(m => m.SearchText, new
                                       {

                                           style = "width:100%;",
                                           placeholder = "What are you looking for"

                                       })
                                            @Html.ValidationMessageFor(m => m.SearchText)


                                        </div>
                                    </td>
                                   @* <td>
                                        <a onclick="clearText('txtKeyM')" style="cursor: pointer; display: inline;" class="cancel">X</a>
                                    </td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="txt_whr" id="test" style="display: block;">
                        <div style="margin-right: 48px;" class="txt_what">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <div class="hminptxt">
                                                
                                                
                                                @Html.TextBoxFor(m => m.SearchLocation, new
                                           {


                                               style = "width:100%;",
                                               placeholder = "Location"
                                           })
                                                @Html.ValidationMessageFor(m => m.SearchLocation)
                                            </div>
                                        </td>
                                        @*<td>
                                            <a onclick="clearText('txtAreaM')" style="cursor: pointer; display: inline;" class="cancel">X</a>
                                        </td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="position: absolute; right: 5px; top: 0;" class="visiblebut dp" id="srchBt">
                            <input type="submit" value="" name="btnSearch" onclick="return validateData()" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
             }
    }
</body>
</html>
