﻿@using Vconnect.Common
@using System.Text.RegularExpressions;
@using System.Configuration;
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    string cnvcSearchText = ConfigurationManager.AppSettings["vcSearchText"];
    string cnvcSearchLocation = ConfigurationManager.AppSettings["vcSearchLocation"];
    UserSession objUS = new UserSession();
    string VCUserContentID = "0";

    if (!string.IsNullOrEmpty(objUS.SV_VCUserContentID))
    {
        VCUserContentID = objUS.SV_VCUserContentID;
    }
    <header class="site-header contain-to-grid fixed">
        <!-- Navigation -->
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                    <span>
                        @*@if (Request.Cookies["vcSelectedLocation"] != null)
                            {
                                <a href='@Vconnect.RoutingUtility.GetHomeURL(Request.Cookies["vcSelectedLocation"].Value)'>
                                    <img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-small.png")" alt="Business Directory Vconnect" />
                                </a>
                            }
                            else
                            {

                                <a href='@Vconnect.RoutingUtility.GetHomeURL("lagos")'>
                                    <img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-small.png")" alt="Business Directory Vconnect" />
                                </a>
                            }*@

                        @if (Request.Cookies["vcSelectedLocation"] != null)
                        {
                            @*<img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-small.png")" alt="logo" />*@
                           @* if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "successdigestlocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/success-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "vanguardlocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/vanguard-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "thisdaylocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/thisoday-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "businessdaylocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/businessday-logo.jpg")" alt="Business Directory Vconnect" />
                            } *@
                            if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "thisdaylocalsearch.vconnect.com")
                            {
                               <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/thisoday-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else
                            {
                                @*<a href='@Vconnect.RoutingUtility.GetHomeURL(Request.Cookies["vcSelectedLocation"].Value)'>
                                    <img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-small.png")" alt="Business Directory Vconnect" />
                                </a>
                               
                                <a href='/'>
                                    <img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-small-xmas.gif")"  width="172" height="43" alt="Business Directory Vconnect" />
                                </a>     
                                 <a href='/'>
                                    <img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "NY-logo.gif")"  width="172" height="43" alt="Business Directory Vconnect" />
                                </a>  *@   
                             <a href='/'>
                                    <img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-desktop.png")" alt="Business Directory Vconnect" />
                                </a>                        
                            }
                        }
                        else
                        {

                           @*< if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "successdigestlocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/success-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "vanguardlocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/vanguard-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "thisdaylocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/thisoday-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "businessdaylocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/businessday-logo.jpg")" alt="Business Directory Vconnect" />
                            }*@
                            if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "thisdaylocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/thisoday-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else
                            {
                                @*<a href='@Vconnect.RoutingUtility.GetHomeURL("lagos")'>
                                    <img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-small.png")" alt="Business Directory Vconnect" />
                                </a>*@
                                <a href='/'>
                                    <img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-desktop.png")" alt="Business Directory Vconnect" />
                                </a>
                        }
                            @*<img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-small.png")" alt="logo" />*@
                        }



                    </span>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    @if (!string.IsNullOrEmpty(objUS.SV_VCLoginID) && objUS.SV_VCLoginID.ToString() != "" && objUS.SV_VCLoginID.ToString() != "0")
                    {
                        <div class="postlogin">
                            <li class="has-dropdown">
                                
                                <a class="loggedin-menu" href="/user/@VCUserContentID">  @*<a class="loggedin-menu" href="/users/myaccount">*@
                                     @if (!string.IsNullOrEmpty(objUS.SV_VCUserPhoto))
                                     {
                                        <img src="@objUS.SV_VCUserPhoto" alt="user picture" class="userpic-top" data-vc-userpic="" id="userpictop" />
                                     }
                                     else
                                     {
                                        @*<i class="icon-user"></i>*@
                                      <img src="http://image.vconnect.bz/vcsites/vcimages/resource/uploads/Static/img/profile-photo.jpg" alt="user picture" class="userpic-top" data-vc-userpic="" id="userpictop" />
                                     }
                                    <span id="profileusername" class="username-top">
                                        @objUS.SV_VCUserName
                                    </span>
                                    <i class="icon-down-open"></i>

                                </a>

                                <ul class="dropdown">
                                    @{
                                     bool isclaim = false;
                                     //if (Session["isclaim"] ==null || string.IsNullOrEmpty(Session["isclaim"].ToString()))
                                     //{
                                     //}
                                     //else
                                     //if (Session["isclaim"] == null)  // || string.IsNullOrEmpty(Session["isclaim"]))
                                     //if (System.Web.HttpContext.Current.Session["isclaim"] == null)
                                     if (Session == null || Session["isclaim"] == null)
                                     {
                                         List<Vconnect.Models.BoDashboardModel.ClaimedBusinessList> claimedbusinesslist = new List<Vconnect.Models.BoDashboardModel.ClaimedBusinessList>();
                                         Vconnect.Controllers.BoDashboardWebController BOdashboard = new Vconnect.Controllers.BoDashboardWebController();


                                         int userId = 0;
                                         if (!string.IsNullOrEmpty(objUS.SV_VCUserContentID) && !string.IsNullOrEmpty(objUS.SV_VCUserContentID))
                                         {
                                             userId = Convert.ToInt32(objUS.SV_VCUserContentID);
                                             claimedbusinesslist = BOdashboard.getbusiness(userId.ToString());
                                             if (claimedbusinesslist != null && claimedbusinesslist.Count > 0)
                                             {
                                                 isclaim = true;
                                                 if (Session != null)
                                                 {
                                                     Session["isclaim"] = true;
                                                 }
                                             }
                                         }
                                     }
                                     else if (Session["isclaim"] != null && Convert.ToBoolean(Session["isclaim"]) == true)
                                     {
                                         isclaim = true;
                                     }
                                    }
                                    <li><a href="/users/socialactivity"><i class="icon-users"></i>Social Activity</a></li>
                                    <li><a href="/users/notifications"><i class="icon-globe"></i>Notifications</a></li>
                                    <li><a href="/user/@VCUserContentID"><i class="icon-user"></i>My Profile</a></li>
                                    @if (objUS.SV_VCUserType == "59" && isclaim == true)
                                    {
                                        <li><a href="@Url.Action("Index", "BoDashboardWeb")"><i class="icon-hotel"></i>My Business</a></li>
                                    }
                                    @{
                                    var returnurl = string.Empty;
                                    var rturl = Request.Url.AbsoluteUri.ToString();

                                    if ((rturl.IndexOf(".com") == rturl.Length - 4) || (rturl.IndexOf(".com") == rturl.Length - 5) || rturl.IndexOf(".html") > -1 || rturl.IndexOf("404") > -1 || rturl.IndexOf("ClaimBusiness/VerifyCYBCode") > -1) // || (rturl.Length -5)))
                                    {
                                        returnurl = "http://www.vconnect.com";
                                    }
                                    else
                                    {
                                        if (Response != null && Response.StatusCode != null && Response.StatusCode.ToString() == "404")
                                        {
                                            returnurl = "http://www.vconnect.com";
                                        }
                                        else if (Request.QueryString["rturl"] != null)
                                        {
                                            returnurl = Request.QueryString["rturl"];
                                        }
                                        else
                                        {
                                            returnurl = Request.Url.AbsoluteUri.ToString().Replace('&', '$');
                                        }
                                        if (returnurl.IndexOf("ClaimBusiness/VerifyCYBCode") > -1)
                                        {
                                            returnurl = "http://www.vconnect.com";
                                        }
                                    }
                              }
                                    @*<li><a href="@Url.Action("LogOff", "Account")"><i class="icon-off"></i>Logout</a></li>*@
                                    <li><a href="/logout?rturl=@returnurl"><i class="icon-off"></i>Logout</a></li>
                                </ul>
                            </li>
                        </div>
                    }
                    else
                    {

                         <li>
                             @{
                        var returnurl = string.Empty;
                        var rturl = Request.Url.AbsoluteUri.ToString();

                        if ((rturl.IndexOf(".com") == rturl.Length - 4) || (rturl.IndexOf(".com") == rturl.Length - 5) || rturl.IndexOf(".html") > -1 || rturl.IndexOf("404") > -1) // || (rturl.Length -5)))
                        {
                            returnurl = "userdashboardweb/socialactivity";
                        }
                        else
                        {
                            if (Response != null && Response.StatusCode != null && Response.StatusCode.ToString() == "404")
                            {
                                returnurl = "userdashboardweb/socialactivity";
                            }
                            else if (Request.QueryString["rturl"] != null)
                            {
                                returnurl = Request.QueryString["rturl"];
                            }
                            else
                            {
                                returnurl = Request.Url.AbsoluteUri.ToString().Replace('&', '$');
                            }
                        }
                              }
                          
                                <a href="/login?rturl=@returnurl">Login</a>                           
                        </li>

                        <li class="has-form">                            
                                <a href="/userregistration?rturl=@returnurl" class="button button-red">Signup</a>                            
                        </li>
                    }
                </ul>
                <!-- Left Nav Section -->
                <ul class="left main-nav">
                     <div class="menu-expanded">
                        <li class="active"><a href='/'>Home</a></li>
                        <li><a href="http://movies.vconnect.com/" target="_blank">Movies</a></li>
                        <li><a href="http://events.vconnect.com/" target="_blank">Events</a></li>                        
                        <li><a href="/businesssolutions" target="_blank">Business</a></li>
                        <li><a href="http://deals.vconnect.com" target="_blank" ><img src="http://image.vconnect.bz/static/WEB/img/deals-new.png?1" alt="deals" style="position: absolute;margin-left: 7px;margin-top: 3px;"> Deals</a></li>
                      </div>
                    <div class="menu-collapsed">
                        <li class="tab-search hide-for-large-up">
                          <a href="#"><i class="icon-search-alt"></i></a>
                        </li>
                        <li class="has-dropdown single-menu">
                          <a href="#"><i class="icon-menu"></i></a>
                          <ul class="dropdown">
                            <div class="arr"></div>
                            <li><a href="http://movies.vconnect.com/" target="_blank"><i class="icon-video"></i> Movies</a></li>
                            <li><a href="http://events.vconnect.com/" target="_blank"><i class="icon-calendar"></i> Events</a></li>
                            <li><a href="/businesssolutions" target="_blank"><i class="icon-briefcase"></i> Business</a></li>
                            <li><a href="http://deals.vconnect.com" target="_blank" ><img src="http://image.vconnect.bz/static/WEB/img/deal-iconcart.png" alt="deals" style="float: left;margin: 20px 3px 0px 3px;" /> Deals</a></li>
                          </ul>
                        </li>
                    
                    @*<li class="tab-search">
                        <a href="#"><i class="icon-search-alt"></i></a>
                    </li>
                    <li class="has-dropdown single-menu">
                        <a href="#"><i class="icon-menu"></i></a>
                        <ul class="dropdown">
                            <div class="arr"></div>
                            <li><a href="http://movies.vconnect.com/" target="_blank"><i class="icon-video"></i> Movies</a></li>
                            <li><a href="http://events.vconnect.com/" target="_blank"><i class="icon-calendar"></i> Events</a></li>
                            <li><a href="/businesssolutions" target="_blank"><i class="icon-briefcase"></i> Business</a></li>
                            <li><a href="http://deals.vconnect.com" target="_blank" ><img src="~/img/deal-iconcart.png" style="float: left;margin: 20px 3px 0px 3px;" /> Deals</a></li>
                        </ul>
                    </li>*@
                    @* <li class="has-dropdown single-menu">
                            <a href="#"><i class="icon-menu"></i></a>
                            <ul class="dropdown">
                                <div class="arr"></div>
                                <li><a href="http://movies.vconnect.com/" target="_blank"><i class="icon-video"></i>Movies</a></li>
                                <li><a href="http://events.vconnect.com/" target="_blank"><i class="icon-video"></i>Events</a></li>
                                <li><a href="/businesssolutions" target="_blank"><i class="icon-video"></i>Business</a></li>
                            </ul>
                        </li>*@
                    <li class="has-form search-form">
                        <div class="row collapse topbar-search-wrapper">
                            <div class="medium-5 columns">
                                <span class="pre"><i class="icon-attention-circled"></i></span>
                                @{
                    string SearchText = string.Empty;
                    string SearchLocation = "Lagos";
                    string pattern = @"[^a-zA-Z0-9,]";

                    if (Request.Cookies["vcSearchText"] != null)
                    {
                        SearchText = Request.Cookies["vcSearchText"].Value;
                    }
                    else
                    {
                        SearchText = "";
                    }
                    if (Request.Cookies["vcSearchLocation"] != null)
                    {

                        SearchLocation = Request.Cookies["vcSearchLocation"].Value;
                        if (SearchLocation.Contains(','))
                        {
                            string[] strSrchLoc = SearchLocation.Split(',');
                            if (strSrchLoc.Count() > 2)
                            {
                                //model.SearchLocation = string.Format("{0}-{1}-{2}", strSrchLoc[2].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[1].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[0].Trim().Replace(' ', '_').Replace("-", "_"));
                                SearchLocation = string.Format("{0},{1},{2}", strSrchLoc[2].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[1].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[0].Trim().Replace(' ', '_').Replace("-", "_"));
                            }
                            else
                            {
                                //model.SearchLocation = string.Format("{0}-{1}", strSrchLoc[1].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[0].Trim().Replace(' ', '_').Replace("-", "_"));
                                SearchLocation = string.Format("{0},{1}", strSrchLoc[1].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[0].Trim().Replace(' ', '_').Replace("-", "_"));
                            }
                        }
                        else
                        {
                            SearchLocation = Regex.Replace(Regex.Replace(Regex.Replace(SearchLocation.Trim(), pattern, " ").Trim(), @"\s+", " ").Trim(), pattern, "_");
                        }
                    }
                    else
                    {
                        SearchLocation = "Lagos";
                    } 

                                }
                                @Html.TextBoxFor(m => SearchText, System.Text.RegularExpressions.Regex.Replace(SearchText, pattern, " ").Replace("  ", " "), new { @class = "searchterm", @placeholder = "What? e.g. Hotel", @onchange = "return textonchange('SearchText','KeyWordValue');", @onkeypress = "searchEnter(event)" })
                                @* @Html.ValidationMessageFor(m => m.SearchTextHeader)
                                    @Html.TextBoxFor(m =>  , new { data_otf_autocomplete = Url.Action("KeywordAutoComplete", "HomeWEB"), @class = "searchterm", @placeholder = "What? e.g. Hotel" })*@
                                @Html.ValidationMessage(SearchText)
                                @*<input type="text" placeholder="What? e.g. Hotel">*@
                                 <span class="seperator"></span>
                            </div>
                          @*  <div class="medium-1 columns text-center">
                                <label for="searchlocation" class="inbetween">in</label>
                            </div>*@
                            <div class="medium-4 columns">
                                <span class="pre"><i class="icon-location"></i></span>
                                @Html.TextBoxFor(m => SearchLocation, System.Text.RegularExpressions.Regex.Replace(SearchLocation, pattern, " ").Replace("  ", " "), new { @class = "searchlocation", @placeholder = "Where? e.g. Lagos", @onkeypress = "searchEnter(event)" })
                                @* @Html.TextBoxFor(m => SearchLocation, new { data_otf_autocomplete = Url.Action("KeywordAutoComplete", "HomeWEB"), @class = "searchlocation", @placeholder = "Where? e.g. Lagos" })*@
                                @Html.ValidationMessage(SearchLocation)
                                @*<input type="text" placeholder="Where? e.g. Lagos">*@
                            </div>
                            <div class="medium-2 columns">
                                <button class="button search-btn expand" type="button" onclick="return validateSearch('SearchText','SearchLocation');"><i class="icon-search-alt"></i></button>
                                @*
                                    <button class="button expand" type="submit" onclick="return validatesearch();">search</button>*@
                            </div>
                        </div>

                    </li>
                    </div>
                </ul>

                <!-- Right Nav Section -->
            </section>
        </nav>
        <!-- End Top Bar -->
    </header>
    @Html.Hidden("KeyWordValue", string.Empty)
    @Html.Hidden("LocationValue", string.Empty)
}
@*@if (Vconnect.Common.MyGlobalVariables._checkLoggedin != null && Vconnect.Common.MyGlobalVariables._checkLoggedin.HasValue && Vconnect.Common.MyGlobalVariables._checkLoggedin.Value == 1)
    {
        <div class="alerts">
            <div class="alert-box success" data-alert="">
                <!-- Your content goes here -->
                You have successfully logged in! :)

                <a class="close" href="#">×</a>

            </div>
        </div>
        Vconnect.Common.MyGlobalVariables._checkLoggedin = 2;
    }*@

@{
    object objValue = Session["_checkLoggedin"];
    if (objValue != null)
    {
        if ((string)objValue == "1")
{
    <div class="alerts">
        <div class="alert-box success" data-alert="">            
            You have successfully logged in! :)

            <a class="close" href="#">×</a>

        </div>
    </div>
    Session.Add("_checkLoggedin", "2");
}
}
}

<div id="dvSearchResult" class="alerts">
</div>
<script type="text/javascript">
    function searchEnterHeader(event) {
        if (event.which == 13 || event.keyCode == 13) {
            return validateSearch('SearchTextHeader', 'SearchLocationHeader');
        }
    }
    function searchEnter(event) {
        if (event.which == 13 || event.keyCode == 13) {
            return validateSearch('SearchText', 'SearchLocation');
        }
    }
    $.support.cors = true;
    function validateSearch(objsearchtext, objsearchlocation) {
        var objTxtSearchText = document.getElementById(objsearchtext);
        var objtxtSearchLocation = document.getElementById(objsearchlocation);
        var objTxtResult = document.getElementById('dvSearchResult');
        if ((objTxtSearchText.value != "") && (objtxtSearchLocation.value != "")) {
            $.ajax({
                cache: false,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/HomeWEB/getSearchResult",
                //data: { "SearchText": $("#SearchText").val(), "SearchTextHeader": $("#SearchTextHeader").val(), "SearchLocation": $("#SearchLocation").val(), "SearchLocationHeader": $("#SearchLocationHeader").val(), "KeyWordValue": $("#KeyWordValue").val(), "KeyWordValueHeader": $("#KeyWordValueHeader").val(), "LocationValue": $("#LocationValue").val(), "LocationValueHeader": $("#LocationValueHeader").val() },
                data: { "SearchText": objTxtSearchText.value, "SearchTextHeader": objTxtSearchText.value, "SearchLocation": objtxtSearchLocation.value, "SearchLocationHeader": objtxtSearchLocation.value, "KeyWordValue": $("#KeyWordValue").val(), "KeyWordValueHeader": $("#KeyWordValueHeader").val(), "LocationValue": $("#LocationValue").val(), "LocationValueHeader": $("#LocationValueHeader").val() },
                dataType: "json",
                success: function (data) {
                    window.location.href = data;
                }
            });            
            return true;
        }
        else if (objTxtSearchText.value == "") {

            objTxtResult.innerHTML = '<div id=\'alertErr2\' class=\'alert-box error\' data-alert=\'\'>Please specify Search Keyword.<a class=\'close\' href=\'javascript:void(o);\' onclick=\"document.getElementById(\'alertErr2\').style.display=\'none\';\">×</a></div>';
            objTxtSearchText.focus();
            return false;
        }
        else if (objtxtSearchLocation.value == "") {
            objTxtResult.innerHTML = '<div id=\'alertErr2\' class=\'alert-box error\' data-alert=\'\'>Please specify Search Location.<a class=\'close\' href=\'javascript:void(o);\' onclick=\"document.getElementById(\'alertErr2\').style.display=\'none\';\">×</a></div>';
            objtxtSearchLocation.focus();
            return false;
        }
    }
    var selectedautocompvalue = "";
    function selectedTTerm(datum) {
        document.getElementById('KeyWordValue').value = datum.value;
        selectedautocompvalue = datum.label;
    }
    function selectedJTerm(datum) {
        document.getElementById('KeyWordValue').value = datum.value;
        selectedautocompvalue = datum.label;
    }
    function selectedTLocation(datum) {
        document.getElementById('LocationValue').value = datum.value;
    }
    function selectedJLocation(datum) {
        document.getElementById('LocationValue').value = datum.value;
    }
    function textonchange(objSearchKeyword, objSearchHidden) {

        if (selectedautocompvalue != document.getElementById(objSearchKeyword).value) {
            {
                document.getElementById(objSearchHidden).value = "";
            }
        }
    }
</script>
