﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
@* <head >*@
<!--<![endif]-->
<head @if (IsSectionDefined("prefix")) { @RenderSection("prefix") }>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@if (IsSectionDefined("title"))
    { @RenderSection("title")}</title>
    <meta name="description" content="@if (IsSectionDefined("description")){@RenderSection("description")}else{<text>VConnect™</text>}" />
    <meta name="keywords" content="@if (IsSectionDefined("keyword")){@RenderSection("keyword")}else{<text>VConnect™</text>}" />
    <meta name="Robots" content="@if (IsSectionDefined("robots")){@RenderSection("robots")}else{<text>index, follow</text>}" />
    @if (IsSectionDefined("header"))
    {@RenderSection("header")}
    <link type="application/opensearchdescription+xml" rel="search" href="http://www.vconnect.com/osd.xml" />
    @{if (System.Web.HttpContext.Current.Request.Url != null)
    {
        TempData["source"] = System.Web.HttpContext.Current.Request.Url.ToString().ToLower().Trim();
    }
    if (Request.UrlReferrer != null)
    {
        TempData["previous"] = Request.UrlReferrer.ToString().ToLower().Trim();
    }
    TempData.Keep("source");
    TempData.Keep("previous");
    }

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <![if !lt IE 9]>
    <link rel="stylesheet" href="~/css/styles.css?v=1507041102">
    <![endif]>
    <script src="~/js/vendor/modernizr-2.6.2.min.js?v=1507041102"></script>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="~/css/styles-ie8-1.css?v=1507041102">
        <link rel="stylesheet" href="~/css/styles-ie8-2.css?v=1507041102">
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="http://image.vconnect.bz/static/WEB/img/favicon.ico?v=1507041102" />
    <script src="~/js/vendor/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/userinfo.js"></script>
        <script src="~/Scripts/ipTrack.js"></script>*@
</head>
<body>
    @*<link rel="search" type="application/opensearchdescription+xml" title="Vconnect Search" href="@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["WebsiteRootPath"].ToString().Trim() +"opensearch.xml")" />*@

    @*Google UA Starts*@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-19374048-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "D5DOg1awAe00GC", domain: "vconnect.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=D5DOg1awAe00GC" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->
    @*Google UA Ends*@
    <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="wrapper">
        @*Header Starts*@
        @Html.Partial("~/Views/Shared/_WebHeaderPartial.cshtml")
        @*Herder Ends*@
        @RenderBody()
        <!-- Place footer banner advertisement here -->
        @* @Html.Partial("~/Views/Shared/_WebFooterBannerPartial.cshtml")*@
        @if (!(ViewBag.isHomePage != null && ViewBag.isHomePage == true))
        {
            @Html.Partial("~/Views/Shared/_WebFooterBannerPartial.cshtml")
        }
        @*Footer Starts*@@Html.Partial("~/Views/Shared/_WebFooterPartialNew.cshtml")
        @*Footer ends*@
    </div>



    @*<script src="~/js/vendor/waypoints.min.js"></script>
        <script src="~/js/vendor/waypoints-sticky.min.js"></script>
        <script src="~/js/vendor/typeahead.bundle.min.js"></script>
        <script src="~/js/vendor/jquery.unveil.min.js"></script>
        <script src="~/js/min/plugins.min.js"></script>
        <script src="~/js/main.js"></script>*@

    <script>

        $(window).bind("load", function () {
            var sourceurl = '';
            var previousurl = '';
            @if (Response !=null && Response.StatusCode !=404 && System.Web.HttpContext.Current.Request.Url != null)
                {
                    if (Response != null && Response.StatusCode == 404)
                    {
                        try
                        {<text>sourceurl = '';</text>}
                        catch { }
                    }
                    else
                    {
                        try
                        {<text>sourceurl = '@System.Web.HttpUtility.HtmlEncode(System.Web.HttpContext.Current.Request.Url.ToString().ToLower().Trim())';</text>}
                        catch { }
                    }
                }


            @if (Response != null && Response.StatusCode != 404 && Request.UrlReferrer != null)
                {
                    if (Response != null && Response.StatusCode == 404)
                    {
                        try
                        {<text>previousurl = '';</text>}
                        catch { }
                    }
                    else
                    {
                        try
                        {<text>
            previousurl = '@System.Web.HttpUtility.HtmlEncode(Request.UrlReferrer.ToString().Replace("&#", "").ToLower().Trim())';
            if (previousurl.Length > 50)
            { previousurl = previousurl.Substring(0, 50); }
                        </text>}
                        catch { }
                    }
                }
            try {
                @if (System.Web.HttpContext.Current.Request.RequestContext.RouteData.Values.Count > 0)
                {

               <Text>
                var LogAction = '@System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action").ToLower()';
                if (LogAction != "bizdetail" && LogAction != "detail" && LogAction != "searchweb") {
                    $.getJSON('@Url.Action("AddwebsiteLogg", "HomeWEB")', { sourceurl: sourceurl, previousurl: previousurl }).success(function (data) {
                    });
                    </Text>
                }
                }
            }
            catch (e) {
            }
        });
        function fnerror() {
            //alert("errorrrrr");
            return true;
        }
        window.onerror = fnerror

        $(window).error(function () {
            // alert("error");
            return true;
        });
    </script>
    <![if !lt IE 9]>
    <script src="~/js/min/app.min.js?v=1507041102"></script>
    <![endif]>
    <!--[if lt IE 9]>
    <script src="~/js/vendor/foundation.4.3.2.js?v=1507041102"></script>
    <script src="~/js/min/app-ie.min.js?v=1507041102"></script>
    <![endif]-->
    <script>
        $(document).ready(function () {
            app.init(
	         {
	             termsURL: '../HomeWEB/KeywordAutoComplete?term=%QUERY',
	             locationsURL: '../HomeWEB/LocationAutoComplete?term=%QUERY',
	             storeDataUrl: ''//,
	             //typeValues: [
	             //   'Nation of Patriots.',
	             //   'Entrepreneur\'s Dreamland.',
	             //   'Blessed Nation.'
	             //]	             //
	             // isJoyrideCookie: true
	         });
        });
        //app.init(
        //{
        //    termsURL: '../HomeWEB/KeywordAutoComplete?term=%QUERY',
        //    locationsURL: '../HomeWEB/LocationAutoComplete?term=%QUERY',
        //    //isJoyrideCookie: true
        //});
    </script>
    @* <script src="~/js/vendor/skrollr.min.js?v=1507041102"></script>
        <![if !lt IE 9]>
        <script src="~/js/min/app.min.js?v=1507041102"></script>
        <![endif]>
        <!--[if lt IE 9]>
            <script src="~/js/min/app-ie.min.js?v=1507041102"></script>
            <script src="~/js/foundation.4.3.2.js?v=1507041102"></script>
        <![endif]-->

        <script>
            //$(document).ready(function () {
            //    app.init(
            //     {
            //         termsURL: '../HomeWEB/KeywordAutoComplete?term=%QUERY',
            //         locationsURL: '../HomeWEB/LocationAutoComplete?term=%QUERY',
            //         //isJoyrideCookie: true
            //     });
            //});
        </script>*@
</body>
</html>
