﻿@using Vconnect.Common.HtmlHelpers
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<div style="text-align: center; margin: 10px 0;">
    <a href="http://www.lufthansa.com/ng/en/Homepage?WT.mc_id=ng_tellafriend" target="_blank">
        <img src="~/Images/WEB/fotbanner.jpg" width="755" height="95" />
    </a>
</div>
<div class="footer">
    <a class="sidefix-feedback" href="/feedback">Give us your feedback</a>
    <div class="fotbor">
        <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-md-8" style="padding-left: 0; padding-right: 0;">
                <div class="col-md-4 fotrb hiet">
                    <ul class="fotlis" style="padding-left: 10px;">
                        <li class="fothdtxt">KNOW US BETTER</li>
                        <li class="active"><a href="@Url.Action("UnderConstruction", "HomeWEB")">ABOUT VCONNECT</a></li>
                         <li><a href="http://blog.vconnect.com">BLOG</a></li>
                        <li><a href="@Url.Action("UnderConstruction", "HomeWEB")">FAQ</a></li>
                        <li><a href="@Url.Action("UnderConstruction", "HomeWEB")">CAREERS</a></li>
                        <li><a href="@Url.Action("UnderConstruction", "HomeWEB")">CONTACT US</a></li>
                        <li><a href="@Url.Action("UnderConstruction", "HomeWEB")">VCONNECT ON MOBILE</a></li>
                    </ul>
                </div>
                <div class="col-md-4 fotrb hiet" style="padding-left: 0; padding-right: 0;">
                    <ul class="fotlis" style="padding-left: 10px;">
                        <li class="fothdtxt">BUSINESS OWNERS</li>
                        <li class="active"><a href="@Url.Action("UnderConstruction", "HomeWEB")">ADVERTISE WITH US</a></li>
                        <li><a href="@Url.Action("WebIndex", "ClaimBusiness")">CLAIM YOUR BUSINESS</a></li>
                        <li><a href="@Url.Action("UnderConstruction", "HomeWEB")">BUSINESS FORUMS</a></li>
                    </ul>
                </div>
                <div class="col-md-4 fotrb hiet" style="padding-left: 0px; padding-right: 0;">
                    <ul class="fotlis" style="padding-left: 10px;">
                        <li class="fothdtxt">WORK WITH US</li>
                        <li class="active"><a href="@Url.Action("UnderConstruction", "HomeWEB")">VC AGENTS</a></li>
                        <li><a href="@Url.Action("UnderConstruction", "HomeWEB")">BE A VCONNECTOR</a></li>
                        <li><a href="@Url.Action("UnderConstruction", "HomeWEB")">PARTNERSHIPS</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <ul style="padding-left: 0;">
                        <li class="pubfoltxt">FOLLOW US</li>
                    </ul>
                    <a class="pbr " href="http://www.facebook.com/vconnectnigeria" target="_blank"></a>
                    <a class="twt" href="http://twitter.com/vconnectnigeria" target="_blank"></a>
                    <a class="utb" href="http://www.youtube.com/vconnectnigeria" target="_blank"></a>
                </div>
                @using (Ajax.BeginForm("AddSubscribe", new AjaxOptions { UpdateTargetId = "result", OnComplete = "ClearForm" }))
                {
                    <div class="subscrib">
                        <div class="subscribtxt">SUBSCRIBE TO WEEKLY NEWLETTER</div>
                        <div>
                            <input type="text" name="txtSubscribeEmail" id="txtSubscribeEmail" class="form-control subinp" style="width: 80%;" />
                            <div>
                                <input name="" type="submit" class="button postfix" value="Get" onclick="return validateSubscribe();">
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div id="result" style="color: red;"></div>
                }
            </div>
        </div>
    </div>
    <div id="bw_list" class="browsediv">
        <div class="hot-prod">
            <b>Browse by Category :</b>
            @Html.Raw(@Html.AlphabetRouting(1, "Categories", string.IsNullOrEmpty(Request.Cookies["vcSelectedLocation"].Value)?"lagos":Request.Cookies["vcSelectedLocation"].Value.ToLower(),
           x => Url.RouteUrl("browsebycat", new {action = "Index", controller = "BrowseByCatBiz", tagname = x.ToString(), loc = string.IsNullOrEmpty(Request.Cookies["vcSelectedLocation"].Value)?"Lagos":Request.Cookies["vcSelectedLocation"].Value.ToLower() })))
        </div>
        <div class="hot-prod-r">
            <b>Browse by Business :</b>
             
            @Html.Raw(@Html.AlphabetRouting(1, "Businesses", string.IsNullOrEmpty(Request.Cookies["vcSelectedLocation"].Value)?"Lagos":Request.Cookies["vcSelectedLocation"].Value.ToLower(),
           x => Url.RouteUrl("browsebybiz", new {action = "Index", controller = "BrowseByCatBiz",tagname = x.ToString(), loc = string.IsNullOrEmpty(Request.Cookies["vcSelectedLocation"].Value)?"Lagos":Request.Cookies["vcSelectedLocation"].Value.ToLower()})))
            @*<b>Browse by Business :</b> <a title="Businesses from A in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-a" target="_blank">A</a><a title="Businesses from B in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-b" target="_blank">B</a><a title="Businesses from C in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-c" target="_blank">C</a><a title="Businesses from D in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-d" target="_blank">D</a><a title="Businesses from E in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-e" target="_blank">E</a> <a title="Businesses from F in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-f" target="_blank">F</a><a title="Businesses from G in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-g" target="_blank">G</a><a title="Businesses from H in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-h">H</a><a title="Businesses from I in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-i" target="_blank">I</a><a title="Businesses from J in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-j" target="_blank">J</a>
            <a title="Businesses from K in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-k" target="_blank">K</a><a title="Businesses from L in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-l" target="_blank">L</a><a title="Businesses from M in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-m" target="_blank">M</a><a title="Businesses from N in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-n" target="_blank">N</a><a title="Businesses from O in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-o" target="_blank">O</a> <a title="Businesses from P in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-p" target="_blank">P</a><a title="Businesses from Q in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-q" target="_blank">Q</a><a title="Businesses from R in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-r" target="_blank">R</a><a title="Businesses from S in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-s" target="_blank">S</a><a title="Businesses from T in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-t" target="_blank">T</a>
            <a title="Businesses from U in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-u" target="_blank">U</a><a title="Businesses from V in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-v" target="_blank">V</a><a title="Businesses from W in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-w" target="_blank">W</a><a title="Businesses from X in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-x" target="_blank">X</a><a title="Businesses from Y in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-y" target="_blank">Y</a><a title="Businesses from Z in @Model.SearchLocation.ToLower()" href="http://www.vconnect.com/@Model.SearchLocation.ToLower()/businesses-from-z" target="_blank">Z</a>*@
        </div>
        <div class="clear"></div>

    </div>
</div>
<div class="termslink">
    Copyright © 2010- 2013 VConnect Global Services Limited, <a href="http://www.vconnect.com/pages/static/privacypolicy.aspx" target="_blank">Privacy Policy *</a><a href="http://www.vconnect.com/content/terms" target="_blank"> Terms &amp; Conditions.</a>
</div>
<script>

    function validateSubscribe() {
        var objTxtSubscribe = document.getElementById('txtSubscribeEmail');
        var objTxtResult = document.getElementById('result');
        document.getElementById('result').style.color = "red";
        if (objTxtSubscribe.value.trim() == "") {
            objTxtResult.innerHTML = 'Please specify an Email Id.';
            return false;
        }
        if (!isValidEmailAddress(objTxtSubscribe.value)) {
            objTxtResult.innerHTML = 'Email Id is incorrect.';
            return false;
        }
    }
    function isValidEmailAddress(email) {

        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(email);
    }
    function ClearForm() {
        $('#txtSubscribeEmail').val('');
        document.getElementById('result').style.color = "green";
    }


    //added by nishant 4jan2014 
    $(document).ready(function () {
        $('.fotlis li a').bind('click', function () {

            document.getElementById('partialCount').value = "0";
        });
    });

</script>
