﻿@using System.Configuration;
@using System.Text.RegularExpressions;
@{
    List<Vconnect.Mapping.ListingWEB.getFeaturedBanner> featurebusiness = new List<Vconnect.Mapping.ListingWEB.getFeaturedBanner>();
    Vconnect.Models.HomeModel homeModel = new Vconnect.Models.HomeModel();
    Int32 bannerid = 0;
    string businessName = string.Empty;
    Int32? businessid = 0;
    string bannerName = string.Empty;
    string curl = System.Web.HttpContext.Current.Request.Url.ToString();
    string WebsiteRawPath = ConfigurationManager.AppSettings["WebsiteRawPath"].ToString();
    string strRegex1 = @"(?i)(?<=href=\"").+(?=\"")";    //regex needs to be case-insensitive, do NOT make it case sensitive
    string strRegex2 = @"(?i)(?<=src=\"").+(?=\"")";    //do NOT make it case sensitive
    string sourceurl = string.Empty; string previousurl = string.Empty;
    bool flaglogbannerImpression = false;

    if (System.Web.HttpContext.Current.Request.Url != null)
    {
        try
        { sourceurl = System.Web.HttpUtility.HtmlEncode(System.Web.HttpContext.Current.Request.Url.ToString().ToLower().Trim()); }
        catch { }
    }
    if (Request.UrlReferrer != null)
    {
        try
        { 
            previousurl = System.Web.HttpUtility.HtmlEncode(Request.UrlReferrer.ToString().Replace("&#", "").ToLower().Trim());
            if (previousurl.Length > 50)
            { previousurl = previousurl.Substring(0, 50); }
        }
        catch { }
    }
    if (Response != null && Response.StatusCode == 404)
    {
        sourceurl = string.Empty;
        previousurl = string.Empty;
    }
    if (Request.Cookies != null && Request.Cookies["vcSelectedLocation"] != null)
    {
        //Request.Cookies["vcSelectedLocation"].Value.ToString();   

        featurebusiness = homeModel.FeaturedBannerResultFunc(Request.Cookies["vcSelectedLocation"].Value.ToString());
    }
    else
    {
        featurebusiness = homeModel.FeaturedBannerResultFunc("lagos");
    }
    if (featurebusiness != null && featurebusiness.Count > 0)
    {

        foreach (var item in featurebusiness)
        {
            if (item.clienttype == 1)
            {
                bannerName = item.businessname.ToUpper().Contains("MTN") ? "MTNWEB" : item.businessname.Contains("United Bank For Africa Plc") ? "UNITEDBANKAFRICAWEB" : "";
                bannerid = item.bannerid;
                businessName = item.businessname;
                businessid = item.businessid;
                if (item.isscript == 1)
                {
                    if (item.scripttext.Contains("<SCRIPT"))
                    {
                        Regex myRegex1 = new Regex(strRegex1, RegexOptions.None);
                        string strTargetString = item.scripttext;


                        foreach (Match myMatch in myRegex1.Matches(strTargetString))    //i need this to run only once
                        {
                            if (myMatch.Success)
                            {
                                item.businessurl = myMatch.Value;
                                break;
                            }
                        }

                        Regex myRegex2 = new Regex(strRegex2, RegexOptions.None);
                        string imageTag = "";
                        foreach (Match myMatch in myRegex2.Matches(strTargetString))    //i need this to run only once
                        {
                            if (myMatch.Success)
                            {
                                imageTag = myMatch.Value;
                                break;
                            }
                        }
                        if (item.businessurl.Contains("src"))
                        {
                            foreach (Match myMatch in myRegex2.Matches(item.businessurl))    //i need this to run only once
                            {
                                if (myMatch.Success)
                                {
                                    imageTag = myMatch.Value;
                                    break;
                                }
                            }
                        }
				        <section class="footer-banner">
					        @*@Html.Raw(item.scripttext)*@
					        <a href="@item.businessurl" onclick="return linkredirect(@bannerid,'@item.businessurl','@sourceurl','@previousurl')" target="_blank" rel="nofollow">
					        <img src="@imageTag"/>
						        </a>                           
				        </section>
                    }
                    else
                    {
                        flaglogbannerImpression = true;
                        <section class="footer-banner" onclick="return linkredirect(@bannerid,'@item.businessurl','@sourceurl','@previousurl')">
					       @Html.Raw(item.scripttext)
				        </section>
                    }
                }
                else
                {
				    <section class="footer-banner">
					    <a href="@item.businessurl" onclick="return linkredirect(@bannerid,'@item.businessurl','@sourceurl','@previousurl')" target="_blank" rel="nofollow">
                            <img src="http://image.vconnect.bz/vcsites/vcimages/resource/uploads/banners/@item.businessbanner" alt="@item.businessname" />
					    </a>
					
					    @*<a href="@item.businessurl" target="_blank" rel="nofollow" onclick="bannerLogClick('@bannerid','@bannerName')">
        <img style="border: 0px" src="http://image.vconnect.bz/vcsites/vcimages/resource/uploads/banners/@item.businessbanner" onload="bannerLogImpression('@bannerName')" alt="@item.businessname"/>
    </a>*@
				    </section>
                }
            }
        }
    }
}
@*<section class="footer-banner">
    <!-- Place footer banner advertisement here -->
    <a target="_blank" href="http://bit.ly/nokialumia_VC" rel="nofollow">
        <img src="http://www.images.vconnect.co/resource/uploads/banners/lufthansa.jpg" alt="Footer Banner">
    </a>
</section>
 *@
<script>
    function SaveBannerClickLog(bid) {
        $.getJSON('@Url.Action("BannerClickLog", "SearchListWEB")', { 'bid': '@bannerid' })
    }
    function SaveBannerImpressionLogs() {        
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerid', businessid: '@businessid', businessname: '@businessName',sourceurl:'@sourceurl',previousurl:'@previousurl' });        
    }
    SaveBannerImpressionLogs();

    
    function bannerLogImpression(bannerString) {        
        
    }

    function bannerLogClick(bannerid, bannerString) {        
      
        SaveBannerClickLog(bannerid);
    }
    function linkredirect(bannerid, businessurl, sourceurl, previousurl) {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '/Static/bannerclickJson',
            data: { 'bannerid': bannerid, 'businessurl': businessurl, 'sourceurl': sourceurl, 'previousurl': previousurl },
            dataType: "json",
            success: function (resulturl) {
                debugger;
                return true;
                //window.open(businessurl, '_blank'); 
                //window.location = businessurl;
                //location.href = businessurl;
            }
        });
    }
</script>