﻿@using Vconnect.Models;
@{
    SearchBarWebModel searchBarWebModel = new SearchBarWebModel();
    searchBarWebModel = Model;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta id="ctl00_VCDesc" name="Description" content="Search upcoming events, movies, reviews and authentic information on local businesses in Nigeria on VConnectTM – the trusted Nigerian Business Directory." />
    <meta id="ctl00_VCMetaKeys" name="keywords" content="local business directory, Nigeria business directory, businesses in Nigeria, local search engine Nigeria" />
    <meta content="VConnect, Nigeria local search engine, Nigeria business directory, Nigeria Information Guide, Nigeria business guide, Nigeria B2B directory, Nigeria B2C Directory, Nigeria information service provider, Nigeria Tele search" name="Topic" />
    <meta content="VConnect : Nigeria's Largest Local Search Engine, Nigeria's No 1 Local Search Engine, No. 1 business directory. One can find all the products, services and companies in nigeria. Just visit to vconnect.com or call us at 070 0000 8888 to find any information." name="Abstract" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="http://image.vconnect.bz/vcsites/vcimages/resource/images/favicon.ico" />
    @*<link rel="shortcut icon" href="../../assets/ico/favicon.png">*@
    <title>NEW HOME PAGE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/WEBScripts/HomeWEB/")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M725XF"
            height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-M725XF');</script>
    <!-- End Google Tag Manager -->

    @*Header Starts*@
    @using (Html.BeginForm("SearchWEB", "SearchListWEB"))
    {       
        
        <header>
            <div class="header-area">
                <div class="vclog">
                    <a href="@Vconnect.RoutingUtility.GetHomeURL(((Vconnect.Models.SearchBar)(searchBarWebModel)).SearchLocation)">
                        <img src="http://image.vconnect.bz/vcsites/vcimages/resource/uploads/Static/img/vconnect-logo-desktop.png" width="210" height="52" /></a>
                </div>
                <div class="search-holder">


                    @Html.DropDownListFor(m => ((Vconnect.Models.SearchBarWebModel)(searchBarWebModel)).SelectedStateId, ((Vconnect.Models.SearchBarWebModel)(searchBarWebModel)).StateOptions, new { @class = "text-select" })

                    @Html.TextBoxFor(m => ((Vconnect.Models.SearchBar)(searchBarWebModel)).SearchText, new { data_otf_autocomplete = Url.Action("KeywordAutoComplete", "HomeWEB"), @class = "text-feild" })
                    @Html.ValidationMessageFor(m => ((Vconnect.Models.SearchBar)(searchBarWebModel)).SearchText) in  @Html.TextBoxFor(m => ((Vconnect.Models.SearchBar)(searchBarWebModel)).SearchLocation, new { data_otf_autocomplete = Url.Action("LocationAutoComplete", "HomeWEB"), @class = "location-feild" })
                    @Html.ValidationMessageFor(m => ((Vconnect.Models.SearchBar)(searchBarWebModel)).SearchLocation)
                    <a href="@Url.Action("submit", "HomeWEB")">Search</a>
                </div>
                <div class="signin-holder"><a href="@Url.Action("UnderConstruction", "HomeWEB")">Sign in</a> | <a href="@Url.Action("UnderConstruction", "HomeWEB")">Sign up</a></div>
            </div>
        </header>        
        @Html.Hidden("KeyWordText", "")
        @Html.Hidden("KeyWordValue", "")
        @Html.Hidden("LocationValue", "")
    }
    @*Herder Ends*@
    @RenderBody()
    @*Footer Starts*@
    <div>
        @* @Html.Partial("~/Views/Shared/_FooterBannerPartial.cshtml")*@
        @Html.Partial("~/Views/Shared/_WebFooterPartial.cshtml", ((Vconnect.Models.SearchBar)(Model)))

    </div>
    @*Footer ends*@
    @*:::ABHISHEk:7thJan14::: Auto Complete script Starts*@
    <script type="text/javascript">

        function validateSearch() {
            var objTxtSearchText = document.getElementById('SearchText');
            var objtxtSearchLocation = document.getElementById('SearchLocation');
            var objTxtResult = document.getElementById('dvSearchResult');
            if (objTxtSearchText.value.trim() == "") {
                objTxtResult.innerHTML = 'Please specify Search Keyword.';
                objTxtSearchText.focus();
                return false;
            }
            if (objtxtSearchLocation.value.trim() == "") {
                objTxtResult.innerHTML = 'Please specify Search Location.';
                objtxtSearchLocation.focus();
                return false;
            }
        }


        var createAutoComplete = function () {
            var $input = $(this);

            var options = {
                source: function (request, response) {
                    $.ajax({
                        url: $input.attr("data-otf-autocomplete"),
                        dataType: "json",
                        data: {
                            ddlStateSelectedValue: $('#SelectedStateId').val(),
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,
                                    value: item.value
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                delay: 0,
                select: function (event, ui) {
                    $input.val(ui.item.label);
                    if (($input.attr("data-otf-autocomplete").indexOf("KeywordAutoComplete") != -1)) {
                        document.getElementById('KeyWordText').value = ui.item.label;
                        document.getElementById('KeyWordValue').value = ui.item.value;
                    }
                    else {
                        document.getElementById('LocationValue').value = ui.item.label;
                    }
                    return false;
                }
            }
            $input.autocomplete(options);
        }
        $("input[data-otf-autocomplete]").each(createAutoComplete);
        $('#SelectedStateId').change(function () {
            // respond to the change event in here
            var selectedValue = $('#SelectedStateId').val();
            var selectedText = $('#SelectedStateId option:selected').text();
            $('#SearchLocation').val(selectedText);
        });
        $("#SelectedStateId").val('125');
        $('#SearchLocation').val($('#SelectedStateId option:selected').text());
        $("#LocationValue").val($('#SelectedStateId option:selected').text());

        function validateSearch() {
            var objTxtSearchText = document.getElementById('SearchText');
            var objtxtSearchLocation = document.getElementById('SearchLocation');
            var objTxtResult = document.getElementById('dvSearchResult');
            if (objTxtSearchText.value.trim() == "") {
                objTxtResult.innerHTML = 'Please specify Search Keyword.';
                objTxtSearchText.focus();
                return false;
            }
            if (objtxtSearchLocation.value.trim() == "") {
                objTxtResult.innerHTML = 'Please specify Search Location.';
                objtxtSearchLocation.focus();
                return false;
            }
        }

    </script>
</body>
</html>
 @*<script src="~/Scripts/ipTrack.js"></script>*@