﻿<div class="whatelse_wrap" style="margin-top:30px;">
    <div class="qslwrap" style="padding-top: 0; padding-bottom: 1px;">
        <div class="qsline">
            <div class="container" style="text-align: center;">
                <span class="qsltxt" style="width: 376px; left:46%">What else I can do on VConnect</span>
            </div>
        </div>
        <div class="qslshad">
            <div class="container">
                <div class="row featurette">

                    <div class="col-md-4">
                        <img src="~/Images/WEB/feature.jpg" width="230" height="100" />
                        <div style="float: left; margin: 0 auto; text-align: center; width: 230px; padding-bottom: 5px;">Reviews</div>
                        <div style="float: left; margin: 0 auto; text-align: center; width: 230px; padding-bottom: 5px;">@Html.ActionLink("view more","GetReviews","HomeWEB",new { target = "_blank" })</div>
                    </div>
                    <div class="col-md-4" style="">
                        <img src="~/Images/WEB/feature.jpg" width="230" height="100" />
                        <div style="float: left; margin: 0 auto; text-align: center; width: 230px; padding-bottom: 5px;">Post a Request</div>
                        <div style="float: left; margin: 0 auto; text-align: center; width: 230px; padding-bottom: 5px;">@Html.ActionLink("view more","PostRequest","HomeWEB",new { target = "_blank" })</div>
                    </div>
                    <div class="col-md-4" style="">
                        <img src="~/Images/WEB/feature.jpg" width="230" height="100" />
                        <div style="float: left; margin: 0 auto; text-align: center; width: 230px; padding-bottom: 5px;">Share</div>
                        <div style="float: left; margin: 0 auto; text-align: center; width: 230px; padding-bottom: 5px;">@Html.ActionLink("view more","Share","HomeWEB",new { target = "_blank" })</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
