﻿@model System.Web.Mvc.HandleErrorInfo
@{
    //ViewBag.Title = "SearchNotFound";
    Layout = "~/Views/Shared/_WebMainMasterNew.cshtml";


    string title = "Error";
    string description = string.Empty;
    string keyword = string.Empty;
  
}

@section title
{
    @title
}
@section  description
{
    @description

}
@section keyword
{
    @keyword
}
<section class="main-content row">

    <div class="no-result-box">

        <div class="columns medium-6">

            <img src="~/img/page_slow.jpg" alt="" />
            @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
            {
                Vconnect.Common.log.LogMe((Exception)Model.Exception);
                <div>
                    <p>
                        <b>Exception:</b> @Model.Exception.Message<br />
                        <b>Controller:</b> @Model.ControllerName<br />
                        <b>Action:</b> @Model.ActionName
                    </p>
                    <div style="overflow:scroll">
                        <pre>
@Model.Exception.StackTrace
                </pre>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
