﻿@{
   Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
   string title = "VConnect : Largest Local Search Engine &amp; Information Service Provider in Nigeria | Nigeria's No. 1 Local Search Engine | Call 070 0000 8888 ";//your page title
   string description = "VConnect is the largest &amp; No. 1 local search engine in Nigeria. VConnect is one of the popular tele search &amp; information service provider in Nigeria. More than 250,000 businesses are listed on VConnect; a Nigeria's No. 1 Local Search Engine. People Can find information about any product, service or company listed in this portal. Call to 070 0000 8888 to get more information.";
   string keyword = "vconnect, local search engine, information service provider, vconnect nigeria, local search nigeria, No. 1 local search engine, No.1 business directory, nigeria directory, nigeria business directory, business directories nigeria, nigeria business search, 07000008888, nigeria search engine, business search engine, Lagos local search, abuja local search, local nigeria information, local business, tele search nigeria";
 }
@section title
{
    @title
}
@section  description
{
    @description

}
@section keyword
{
    @keyword
}

         <div class="wrapper">
			<div class="products-content">
				<div class="sjumbotron">
					<div class="sjumbotron-content row">
						<div class="title-container columns medium-7 medium-centered">
							<h1 class="on-image nexa-bold large">Our Products</h1>
              <p>We make it easy for our users to connect with local businesses on the go.</p>
							<!-- <p>We make it possible to have all your business information no matter where you are.</p> -->
						</div>
					</div>
				</div>
        <div class="products-list">
          <div class="products-list-content row">
            <div class="columns medium-6">
                <img src="@Html.Raw(Vconnect.Common.MyGlobalVariables.Staticimage + "mobile-app.png")" alt="device">
            ></div>
            <div class="columns medium-6 other-content">
              <h3>Our mobile app</h3>
              <p>
                  Finding useful & relevant Information has always been a difficult task. VConnect helps users to access information on about a million businesses on-the-go from Mobile web and Mobile App. VConnect mobile app packs powerful set of features to make finding information easy for its users. <br />
                   <br />
VConnect Mobile app pack the following features together: <br />
Near Me – Find businesses around your current Location.  <br />
Best In Town – Find best businesses rated and reviewed by users.  <br />
Get Supplier – Post your requirement for any product or service and get best price or quote from multiple suppliers. <br />
Add Business – Can't find a business which you know ? Add new business today. <br />
Favorites – When a business is marked favorite by you; It will be shown in the favorites section.  <br />
Feeds – Get latest updates or feeds from your favorite business. By default, updates about movies and events shall be displayed in feeds. <br />

Get VConnect Mobile App now and discover great businesses around you!! <br /><br/>

                        <a href="https://itunes.apple.com/us/app/vconnect.com/id699407319?ls=1&amp;mt=8" class="appstore-btn"><img src="~/img/appstore-button.png" alt="AppStore"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.vconnect.view&amp;feature=search_result#?t=W251bGwsMSwyLDEsImNvbS52Y29ubmVjdC52aWV3Il0." class="gplay-btn"><img src="~/img/googleplay-button.png" alt="Google Play"></a>
                        <a href="http://appworld.blackberry.com/webstore/content/27314117/" class="bbapp-btn"><img src="~/img/blackberryapp-button.png" alt="Blackberry App World"></a></p>
            </div>
          </div>
          <div class="products-list-content row">
            <div class="columns medium-6">
                <img src="@Html.Raw(Vconnect.Common.MyGlobalVariables.Staticimage + "mobile_devices.png")" alt="device">
            ></div>
            <div class="columns medium-6 other-content">
              <h3>Our mobile site</h3>
              <p>
                  VConnect on WAP (mbeta.vconnect.com)<br/>

You can access VConnect through WAP to find any product, service, brand or business.<br/>
Explore as much as you can:<br/>

    Find nearby business.<br/>
    Receive free SMS about any business<br/>
    Read or Write business reviews<br/>
    Find out latest information on movies or event around the LGA or state.<br/>
    Get the business address on Google Map<br/>
              </p>
            </div>
          </div>
        </div>
			</div>
        </div>
