﻿@{
    //ViewBag.Title = "SearchNotFound";
    Layout = "~/Views/Shared/_WebMainMasterNew.cshtml";

    
    string title ="Search Not Found";
    string description = string.Empty;
    string keyword = string.Empty;
  
}

@section title
{
    @title         
}
@section  description
{
    @description

}
@section keyword
{
    @keyword
}
<section class="main-content row">

     <div class="no-result-box">
                    <div class="columns medium-6">
                        <h3>Are you lost?<a href="http://www.vconnect.com/"> Go home</a></h3>
                       Sorry there is no result for that search term.
                       <hr>
                  </div>                 
          <div class="columns medium-6">
                                            
               <img src="img/gift-box-120x120.png" alt="" />                

                                          </div>
               </div> </section>