﻿@model Vconnect.Models.PYRModel
@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<div class="post-box row" >
    <h4>Let us find the right businesses for you.</h4>
    <div class="post-1"id="divGetLead">
        <p>Post a requirement for <span class="red">@Model.SearchText</span> in <span class="red">@Model.SearchLocation</span></p>

        @using (Ajax.BeginForm("LeadRequest", "Categorylist", new AjaxOptions { UpdateTargetId = "divAlertMsg", OnComplete = "ClearLeadForm" }))
        {

            <div class="row">
                <div class="medium-5 columns">
                    @Html.TextBoxFor(u => u.UserName,new { placeholder = "Full Name" })
                </div>
                @Html.HiddenFor(u => u.SearchText)
                @Html.HiddenFor(u => u.SearchLocation)
                <div class="medium-7 columns">
                    <div class="row collapse">
                        <div class="columns small-2">
                            <span class="prefix">+234</span>
                        </div>
                        <div class="columns small-7">@Html.TextBoxFor(u => u.Phone,new { placeholder = "Phone Number" })</div>
                        <div class="columns small-3">

                            <input class="button button-red postfix" type="submit" value="Send" onclick="return validateLead();">
                        </div>
                    </div>
                </div>
                
   
            </div>
        }

    </div>
    <div class="post-2" id="divVerifyPhone" style="display: none;">
        <p>Enter the verification code sent to your phone below:</p>

        @using (Ajax.BeginForm("GetLead", "Categorylist", new AjaxOptions { UpdateTargetId = "divAlertMsg", OnComplete = "ClearLeadValidationForm" }))
        {
                                     
            @Html.HiddenFor(u => u.SearchText)
            @Html.HiddenFor(u => u.SearchLocation)

            <div class="row collapse">
                <div class="columns small-8">@Html.TextBoxFor(u => u.ValidationCode, new { placeholder = "Enter verification code" })
                    @Html.ValidationMessageFor(u => u.ValidationCode)
                </div>
                <div class="columns small-4">
                    <input class="button button-red postfix" type="submit" value="Verify" onclick="return validateLeadCode();">
                </div>
            </div>
        }

    </div>
     <div id="divAlertMsg"></div>
    <div class="post-3" id="SuccessPosting" style="display: none;">
        <p>Thank you for posting. We will get back to you shortly on this.</p>
    </div>
</div>

<script type="text/javascript">
    //To Validate Lead form fields
    function validateLead() {
        debugger;
        var objTxtLeadUsername = document.getElementById('UserName');
        var objTxtLeadPhone = document.getElementById('Phone');
        var objTxtResult = document.getElementById('divAlertMsg');
        document.getElementById('divAlertMsg').style.color = "red";
        if (objTxtLeadUsername.value == "" && objTxtLeadPhone.value == "") {
            objTxtResult.innerHTML = 'Please enter name and phone no. ';
            return false;

        }
        else if (objTxtLeadUsername.value == "") {
            objTxtResult.innerHTML = 'Please enter user name.';
            return false;
        }
        else if (objTxtLeadPhone.value == "") {
            objTxtResult.innerHTML = 'Please enter valid phone no.';
            return false;
        }
    }
    //To Validate Lead form fields
    function validateLeadCode() {
        debugger;
        var objTxtLeadValidationCode = document.getElementById('ValidationCode');
        var objTxtResult = document.getElementById('divAlertMsg');
        document.getElementById('divAlertMsg').style.color = "red";
        if (objTxtLeadValidationCode.value == "") {
            objTxtResult.innerHTML = 'Please specify valid code.';
            return false;
        }
    }
    //To clear lead textboxes after lead submission
    function ClearLeadForm() {
        debugger;

        var objTxtResult = document.getElementById('divAlertMsg');
        if (objTxtResult.textContent == "Verification code sent to your mobile. Please enter the code above.") {
            document.getElementById('divGetLead').style.display = "none";
            document.getElementById('divVerifyPhone').style.display = "block";
            $('#Phone').val('');
            $('#UserName').val('');
            //document.getElementById('divAlertMsg').style.color = "green";

        }
        else {
            document.getElementById('divAlertMsg').style.color = "green";
            document.getElementById('divGetLead').style.display = "block";
            document.getElementById('divVerifyPhone').style.display = "none";
        }

    }
    function ClearLeadValidationForm() {
        debugger;
        var objTxtResult = document.getElementById('divAlertMsg');

        if ((objTxtResult.textContent == "Your request is submitted successfully. Vconnect executive will contact you soon.") || (objTxtResult.textContent == "Your request is submitted to relevant suppliers.")) {
            document.getElementById('divGetLead').style.display = "none";
            document.getElementById('divVerifyPhone').style.display = "none";
            document.getElementById('SuccessPosting').style.display = "block";
            $('#ValidationCode').val('');
            document.getElementById('divAlertMsg').style.color = "green";



        }
        else {

            document.getElementById('divGetLead').style.display = "none";
            document.getElementById('divVerifyPhone').style.display = "block";
        }
    }

</script>
