﻿@model Vconnect.Models.LoginModel
<div >
    <span class="reghtxtb">Already have a VConnect account ?</span><span class="reghtxtp">Login to claim your business</span>
</div>
<p id="pError" runat="server">
</p>
<div id="ctl00_cphMiddleContainer_pnlbtnLogin" >
    @using (Html.BeginForm("Login", "Account", new { returnUrlControllerName = "ClaimBusiness", returnUrlActionName = "WebIndex", defaultcontroller = "ClaimBusiness", defaultaction = "WebIndex" }, FormMethod.Post))
    { 
        <div >
        <div class="claim_inpwrap">
            <div class="inpwrapl">
                <span class="nams"><span class="bizlandstar">*</span>Login ID</span><span class="userdel">
                    @Html.TextBoxFor(m => m.Login, new { @class = "NewUserForm" })<br>
                    <span id="ctl00_cphMiddleContainer_reqUserLoginID" style="color: Red; font-size: Smaller; display: none;">Cannot be blank.</span></span>

                <div class="vc_clear">
                </div>
            </div>
            <div class="inpwrapr">
                <span class="nams"><span class="bizlandstar">*</span>Password</span><span class="userdel">
                    @Html.PasswordFor(m => m.Password, new { @class = "NewUserForm" })<br>
                    <span id="ctl00_cphMiddleContainer_reqUserLoginPassword" style="color: Red; font-size: Smaller; display: none;">Cannot be blank.</span></span>
                <div class="vc_clear">
                </div>
            </div>
            <div class="vc_clear">
            </div>
        </div>
        <div class="claim_butr">
            <div class="clcheckr">
                <input id="ctl00_cphMiddleContainer_chkremember" name="ctl00$cphMiddleContainer$chkremember" type="checkbox">
                <label for="ctl00_cphMiddleContainer_chkremember">Remember Me</label>
            </div>
            <div class="clbutr">
                <input type="submit" name="Login" value="Login" onclick="return validateData();">
            </div>
            <div class="claimfgot">
                <a href="http://localhost:63633/code/forgotpassword/RE=response">Forgot
                                        password</a>
            </div>
            <div class="vc_clear">
            </div>
        </div>
        <div class="inpwrapr">
            <span class="claimopen">
                <div id="auth-status">
                    <a href="javascript:void(0);" id="auth-loginlink2">
                        <img alt="VConnect fb login" src="http://image.vconnect.bz/vcsites/vcimages/resource/images/public_fbicon.jpg" /></a>
                </div>
            </span><span class="claimopen2">
                       <input name="ctl00$cphMiddleContainer$OpenIdLoginClick" id="ctl00_cphMiddleContainer_OpenIdLoginClick" src="http://image.vconnect.bz/vcsites/vcimages/resource/images/open-id.jpg" alt="OpenID" onclick="OpenIDWindow();" style="border-width: 0px;" type="image"></span><span class="claimopen3">
                                                                                                                                                                                                                                                                                                    <input name="ctl00$cphMiddleContainer$twitterlogin" id="ctl00_cphMiddleContainer_twitterlogin" src="http://image.vconnect.bz/vcsites/vcimages/resource/images/Twitteruser.jpg" alt="OpenID" style="border-width: 0px;" type="image"></span>
            <div class="vc_clear">
            </div>
        </div>
   
        </div> 
    }
</div>
   
