﻿@model  Vconnect.Models.ClaimBusinessModel
@{
    ViewBag.Title = "Report Incorrect Comments";
    Layout = "~/Views/Shared/_WAPMainMaster.cshtml";
}

<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function validateData() {
        var objphone = document.getElementById('SearchBusinessPhone');
        var objTxtResult = document.getElementById('pError');
        if (objphone.value.trim() == "") {
            document.getElementById('pError').style.color = "red";
            objTxtResult.innerHTML = 'Please specify Phone';
            return false;
        }
    }
</script>
<!--! Vconnect-v3-frontend - v0.0.0 - 2014-02-20 -->
<!--! Vconnect-v3-frontend - v0.0.0 - 2014-02-20 -->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]--
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VConnect New</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <link href="~/Content/WAPthemes/mobile.css" rel="stylesheet" />
    <!-- fix mobile viewprt in IE Mobile-->
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                document.createTextNode(
                    "@@-ms-viewport{width:auto!important}"
              )
          );
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
        var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1 || navigator.userAgent.indexOf('Opera') > -1);
        if (isOperaMini) {
            var root = document.documentElement;
            root.className += " opera-mini";
            console.log('opera-mini');
        }
    </script>
</head>
<div class="alerts">


    @if (Session["CYBError"] != null)
    {
        <div data-alert class="alert-box warning" id="pError">


            @Session["CYBError"]

            <a href="#" class="close">&times;</a>
        </div>
        Session.Remove("CYBError");
    }

</div>

<div class="mobile-wrap">
    <div class="inner-wrap">
        @using (Html.BeginForm("SendCYBCode", "ClaimBusiness", new { bid = @Model.bid }, FormMethod.Post))
        {

            <div class="main-section">
                <div class="mobile body">
                    <div class="gray-header">
                        <div class="mobile container">
                            <h4>Claim Your Business</h4>
                        </div>
                    </div>
                    <div class="top-business-info-container no-bg">
                        <div class="mobile-container">
                            <div class="top-business-info">
                                <div class="business-img-holder">
                                </div>
                                @if (Model != null)
                                {


                                    <div class="business-info-holder">
                                        <h4 class="no-margin margin-bottom">
                                            @Model.SearchBuisnesname
                                        </h4>
                                        <div class="business-location">
                                            <p>@Model.SearchBuisnessaddress</p>
                                        </div>
                                    </div>
                                }
                                <div class="business-bardge-holder">
                                    <ul>
                                        <!-- <li class="distance">2,000 km</li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="claim-business-container">
                        <div class="mobile-container">
                            <p class="claimed-message">
                                This business has already been claimed. If this is your business and you think it has been claimed falsely, Please fill in the from below to report this issue

                            </p>
                            <form action="claim-two.html" class="verify-phone-form" data-abide>
                                <div class="row">
                                    <div class="mobile-container">
                                        <label for="">
                                            Enter your mobile phone<span class="mandatory">*</span> (e.g. 08075005563)
                                        </label>
                                        @Html.TextBoxFor(m => m.SearchBusinessPhone, new { onkeypress = "return isNumberKey(event)", maxlength = "11" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mobile-container">
                                        <label for="">
                                            <b>Why do you think it is not correct?<span class="mandatory"> *</span> (Max 250 char)</b>
                                        </label>
                                        @Html.TextAreaFor(m => m.ReportIncorrectComments, new { maxlength = "250" })

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mobile-container">
                                        @* <button class="button-red radius x-tiny" type="submit">Continue</button>*@
                                        <input class="button-red radius x-tiny" type="submit" value="Continue" name="btnSearch" onclick="return validateData();">
                                    </div>
                                </div>
                            @Html.Hidden("SelectedPhone", "")
                            @Html.Hidden("ClaimType", "")
                            @Html.Hidden("bid", @Model.bid)
                            </form>
                        </div>
                    </div>
                    <div class="claim-explainer">
                        <div class="mobile-container">
                            <p>
                                Claiming your business make it easy for us to allow people searching for your business find you easily. It also helps us verify as a genuine business

                            </p>
                        </div>
                    </div>
                </div>



            </div>
        }
    </div>

</div>

<script type="text/javascript">

    function validateData() {
        debugger;
        var objTxtResult = document.getElementById('pError');
        document.getElementById('pError').style.color = "red";
        var rate_value = document.getElementsByName('SearchBusinessPhone');
        if (rate_value.value.trim() == "")
        {
            objTxtResult.innerHTML = 'Please enter mobile no.';
            return false;
        }
        else
        {
            objTxtResult.innerHTML = '';
            document.getElementById('SelectedPhone').value = document.getElementById('SearchBusinessPhone').value;
            document.getElementById('ClaimType').value = 'R';
            return true;

        }
    }
    function isNumberKey(evt) {
        var objrdotherPhone = document.getElementById('rdotherPhone');
        if (objrdotherPhone.checked == true) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        else {
            return false;
        }
    }
</script>
