﻿@model  Vconnect.Models.ClaimBusinessModel
@{
    ViewBag.Title = "CYBVerifyCodeReportIncorrect";
    Layout = "~/Views/Shared/_WAPMainMaster.cshtml";
}


<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VConnect New</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link href="~/Content/WAPthemes/mobile.css" rel="stylesheet" />
    <!-- fix mobile viewprt in IE Mobile-->
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                document.createTextNode(
                    "@@-ms-viewport{width:auto!important}"
              )
          );
            document.getElementsByTagName("head")[0].
                appendChild(msViewportStyle);
        }
        </script>
</head>
<body>
 <div class="alerts" >


        @if (Session["CYBError"] != null)
        {
            <div data-alert class="alert-box warning" id="pError">

              
                @Session["CYBError"]

                <a href="#" class="close">&times;</a>
            </div>  
            Session.Remove("CYBError");
        }

    </div>
    <div class="mobile-wrap">
        <div class="inner-wrap">

            <div class="main-section">
                <div class="mobile body">
                    <div class="gray-header">
                        <div class="mobile container">
                            <h4>Claim Your Business</h4>
                        </div>
                    </div>
                    <div class="top-business-info-container no-bg">
                        <div class="mobile-container">
                            <div class="top-business-info">
                                <div class="business-img-holder">
                                    <img src='@Model.SearchBuisnesslogo' alt="logo" width="200" height="200" />

                                </div>
                                <div class="business-info-holder">
                                    <h4 class="no-margin margin-bottom">
                                        @Model.SearchBuisnesname
                                    </h4>
                                    <div class="business-location">
                                        <p>@Model.SearchBuisnessaddress</p>
                                    </div>
                                </div>
                                <div class="business-bardge-holder">
                                    <ul>
                                        <!-- <li class="distance">2,000 km</li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="claim-business-container">
                        <div class="mobile-container">
                            
                            @using (Html.BeginForm("VerifyCYBCode", "ClaimBusiness", FormMethod.Post))
                            {


                                if (Model != null)
                                {
       
                                @Html.Hidden("SelectedPhone", "")
                                @Html.Hidden("ClaimType",@Model.claimType )
                                @Html.Hidden("bid", @Model.bid)

                               @Html.ValidationSummary(true)				
                                <div class="row">
                                    <div class="mobile-container">
                                        <label for="">
                                            Enter Verification code sent to your mobile phone( @Model.SearchBusinessPhone)
                                        </label>
                                        @Html.TextBoxFor(x => x.ClaimVerifyCode, new { @required = "required" })
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="mobile-container">

                                        <input class="button-red radius x-tiny" type="submit" value="Verify" name="Verify" onclick="return validateData();">
                                        <a href="@Url.Action("ResendCYBCode", "ClaimBusiness", new { bid = @Model.bid })">Resend Verification Code</a>
                                        
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="claim-explainer">
                        <div class="mobile-container">
                            <p>
                                Claiming your business make it easy for us to allow people searching for your business find you easily. It also helps us verify as a genuine business
		
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</body>
<script type="text/javascript">
    function validateData() {

         debugger;
        var objverifycode = document.getElementById('ClaimVerifyCode');
        var objTxtResult = document.getElementById('pError');
      

        if (objverifycode.value.trim() == "")
        {
            
            objTxtResult.innerHTML = 'Please Enter Verification Code' + '<a href="#" class="close">&times;</a>';
            return false;

        }

    }
</script>
</html>



