﻿@model  Vconnect.Models.ClaimBusinessModel
@{
    ViewBag.Title = "CYBVerifyCodeReportIncorrect";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
}



    <meta name="viewport" content="width=device-width" />
    <title>Verify Code </title>

    <style>
        .vc_clear {
            clear: both;
            height: auto;
        }
    </style>


    @using (Html.BeginForm("VerifyCYBCode", "ClaimBusiness", FormMethod.Post, new { data_abide = "" }))
    {

        <section class="claim-content">
            <div class="claim-heading-bg">
                <div class="heading-box row">
                    <div class="large-12 columns text-center">
                        <h1 class="nexa-bold on-image large">Claim your business</h1>
                    </div>

                    <!-- End Large 12-->
                </div>
                <!-- End First Row -->

            </div>
            <!-- Custom Bar -->
          

            <div class="row">
                <div class="alerts" style="margin-top: -50px; ">


                    @if (Session["CYBError"] != null && Session["CYBError"] != "")
                    {
                        @*<div data-alert class="alert-box warning" id="pError">*@
                        <div id="pError" class="alert-box error" style="margin-top:60px;z-index:-1" data-alert="">

                            @Session["CYBError"]

                            <a href="#" class="close">&times;</a>
                        </div>
                        Session.Remove("CYBError");
                        <br />
                    }

                </div>

                @Html.Hidden("SelectedPhone", @Model.SearchBusinessPhone)
                @Html.Hidden("ClaimType", @Model.claimType)
                @Html.Hidden("bid", @Model.bid)


                <div class="medium-6 columns">
                    <div class="business-details row">
                        <div class="medium-3 columns">
                            <img src='@Model.SearchBuisnesslogo' alt="logo" />
                        </div>

                        <div class="medium-9 columns">
                            <h3>@Model.SearchBuisnesname</h3>
                            <p>@Model.SearchBuisnessaddress</p>
                        </div>
                    </div>
                    <!-- <div class="row"> -->



                    <div class="medium-12 columns">

                        <div class="claim-2">
                            <p>Please Enter the Verification code sent to your mobile(@Session["phone"] )</p>
                            @Html.TextBoxFor(m => m.ClaimVerifyCode, new { maxlength = 4, @required = "", @data_invalid = "" })
                            <small class="error">Enter Verification Code</small>
                        </div>
                        <!--  <div class="claim-3">
                            <p class="green lead">Hooray!</p>
                            <p>Thank you for claiming this business. The verification process and other details will be sent to you shortly. In the meantime, do check other parts of the site.</p>
                            <a href="#" class="button">Go back to business</a>
                        </div>-->
                    </div>

                    <div class="medium-6 columns">
                        <input class="button" type="submit" value="Submit" name="Verify">
                        <a class="button" href="@Url.Action("ResendCYBCode", "ClaimBusiness", new { bid = @Model.bid })">Resend</a>
                        @*<a href="#" class="red">Cancel</a>*@
                    </div>
                    <!-- </div> -->

                </div>
                <!-- Medium 6 -->

                <div class="medium-6 columns">
                    <h3>Why should you claim your business?</h3>
                    <p>There are plenty reasons why you should claim your business.</p>

                    <ol>
                        <li>Customize your business profile on-the-go</li>
                        <li>Tell users about your new product, services and other business updates</li>
                        <li>Set up your first targeted SMS Campaign using our free SMS Package</li>
                    </ol>
                </div>
                <!--Medium 6 -->
            </div>
            <!-- End Row -->
        </section>
    }

<script type="text/javascript">
    function validateData() {

        debugger;
        var objverifycode = document.getElementById('ClaimVerifyCode');
        var objTxtResult = document.getElementById('pError');
        //document.getElementById('pError').style.color = "red";
        
        if (objverifycode.value.trim() == "") {
            objTxtResult.innerHTML = 'Please Enter Verification Code';
            return false;

        }

    }
</script>


