﻿@model  Vconnect.Models.ClaimBusinessModel

@{
    ViewBag.Title = "Claim Your Buisness";
    Layout = "~/Views/Shared/_WAPMainMaster.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Business to be Claimed</title>

</head>
<body>

    @using (Html.BeginForm("SearchCYB", "ClaimBusiness", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div>
            <div class="login-blk">
                <div class="mlogpublic">
                    <div class="headlef">
                        <a style="color: Green; text-decoration: underline;" href='../../HomeWap/HomeWap'>Go Back</a>
                    </div>
                    <div class="headrig">
                        Find the business you want to Claim
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div>
                    <p id="pError" runat="server">
                    </p>
                </div>
                <div class="claimverftxt">
                    <p>
                        See if your business is already registered on VConnect.
                    </p>
                </div>
                <div class="selectinp" style="padding: 5px 0;">
                    <strong class="fld" style="margin-left: 0px;">Search</strong>

                    <div id="container">
                        <div style="float: left;" class="containers">


                           
                            <span class="fld">
                                <input type="radio" id="rdBname" name="SearchType"  checked onclick="javascript: help();">
                                Business Name
                               
                            </span>
                        </div>
                        <div style="float: left;" class="containers">
                            <span class="fld">
                                <input type="radio" id="Rdphone" name="SearchType"  onclick="javascript: showbname();">
                                Phone<br>
                            </span>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
                <br />
                <div class="bizlogformout" id="dvphone" style="display: none">
                    @Html.Label("Phone")
                    @Html.TextBoxFor(m => m.SearchBusinessPhone, new { onkeypress = "return isNumberKey(event)",maxlength="11" })

                </div>
                <div id="dvnameloc" style="display: block">
                    <div class="bizlogformout" id="Dvname">
                        @Html.Label("Business Name")
                        @Html.TextBoxFor(m => m.SearchBuisnesname,new {maxlength="100" })


                    </div>

                    <div class="bizlogformout">
                        <span class="bizlogform">
                            @Html.Label("Location")
                        </span>
                        @Html.TextBoxFor(m => m.SearchBusinessLocation,new {maxlength="100" })
                    </div>

                </div>

                <div class="mlogbut" style="margin-top: 10px;">
                    <div class="mlogbutl">

                        <input type="submit" value="Submit" name="btnSearch" onclick="return validateData();">
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="mlogpublicshow2">
            <div style="background: #F1F1F1; border: 1px solid #c7c7c7; padding: 3px 5px;">
                Could not find your business ?<a style="color: Green; text-decoration: underline;" href="businessregister.aspx">Add your business</a>
            </div>
        </div>
        <script type="text/javascript">
            function help() {
                var ele = document.getElementById("dvnameloc");
                var ele1 = document.getElementById("dvphone");
                ele.style.display = "block";
                ele1.style.display = "none";

            }
            function showbname() {
                var ele = document.getElementById("dvnameloc");
                var ele1 = document.getElementById("dvphone");

                ele.style.display = "none";
                ele1.style.display = "block";



            }
            function validateData() {
                               
                var objBnameradiovalue = document.getElementById('rdBname');
                var objPhoneradiovalue = document.getElementById('Rdphone');
                var objTxtResult = document.getElementById('pError');
                document.getElementById('pError').style.color = "red";
                if (objBnameradiovalue.checked == true)
                {
                    var objBname = document.getElementById('SearchBuisnesname');
                    if (objBname.value.trim() == "") {
                        objTxtResult.innerHTML = 'Please specify BusinessName';
                        return false;
                    }
                }
                if (objPhoneradiovalue.checked == true) {
                    var objphone = document.getElementById('SearchBusinessPhone');
                    if (objphone.value.trim() == "") {
                        objTxtResult.innerHTML = 'Please specify Phone';
                        return false;
                    }
                }
            }
            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                if (charCode != 46 && charCode > 31
                  && (charCode < 48 || charCode > 57))
                    return false;

                return true;
            }
        </script>
        
    }
</body>
</html>
