﻿@model  Vconnect.Models.ClaimBusinessModel
@{
    ViewBag.Title = "SearchCYBDetails.Phone";
    Layout = "~/Views/Shared/_WAPMainMaster.cshtml";
}


<!--! Vconnect-v3-frontend - v0.0.0 - 2014-02-18 -->
<!--! Vconnect-v3-frontend - v0.0.0 - 2014-02-18 -->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]--
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VConnect New</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">


    <link href="~/Content/WAPthemes/mobile.css" rel="stylesheet" />
    <!-- fix mobile viewprt in IE Mobile-->
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                document.createTextNode(
                    "@@-ms-viewport{width:auto!important}"
                )
            );
            document.getElementsByTagName("head")[0].
                appendChild(msViewportStyle);
        }
        </script>
    <script>
        $(document).ready(function () {
            $("#btn").click(function (e) {

                $("#SelectedPhone").val($("form input[type='radio']:checked").val());

            });
        });
             </script>
</head>
<body>
    <div class="alerts" >


        @if (Session["CYBError"].ToString() != null)
        {
            <div data-alert class="alert-box warning" id="pError">

                @ViewBag.alertmessage
                @Session["CYBError"]
                
                <a href="#" class="close">&times;</a>
            </div>  
            Session.Remove("CYBError");
        }
        else
        {
        }
    </div>

    <div class="mobile-wrap">
        <div class="inner-wrap">

            <div class="main-section">
                <div class="mobile body">
                    <div class="gray-header">
                        <div class="mobile container">
                            <h4>Claim Your Business</h4>
                        </div>
                    </div>
                    <div class="top-business-info-container no-bg">
                        <div class="mobile-container">
                            <div class="top-business-info">
                                <div class="business-img-holder">
                                    <img src='@Model.SearchBuisnesslogo' alt="logo" width="200" height="200" />

                                </div>
                                <div class="business-info-holder">
                                    <h4 class="no-margin margin-bottom">
                                        @Model.SearchBuisnesname
                                    </h4>
                                    <div class="business-location">
                                        <p>@Model.SearchBuisnessaddress</p>
                                    </div>
                                </div>
                                <div class="business-bardge-holder">
                                    <ul>
                                        <!-- <li class="distance">2,000 km</li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="claim-business-container">
                        <div class="mobile-container">
                            <p class="explainer">
                                To claim this business select your phone number where we'll send you a code to verifiy your business.
		
                            </p>
                            <p id="pError1">
                                @ViewBag.alertmessage
                                @if (Session["CYBError"] != null)
                                {
                                    @Session["CYBError"];
                                }
                            </p>
                            @using (Html.BeginForm("SendCYBCodeNew", "ClaimBusiness", FormMethod.Post))
                            {


                                if (Model != null)
                                {
       
                                @Html.Hidden("SelectedPhone", "")
                                @Html.Hidden("ClaimType", "")
                                @Html.Hidden("bid", @Model.bid)

                                <div class="row">
                                    <div class="mobile-container">
                                        <ul class="no-bullet">
                                            @foreach (var dr1 in Model.SearchListDetails)
                                            {
                                                <li>
                                                    <input type="radio" checked ="true" id="@dr1.contentid" name="SearchType"  value="@dr1.phone" >
                                                    <label for="#">@dr1.phone</label>
                                                </li>
                                            }
                                            <li>
                                                <div class="row collapse">
                                                    <div class="small-1 columns">
                                                        <input type="radio" name="SearchType" id="rdotherPhone">
                                                    </div>
                                                    <div class="small-2 columns">
                                                        <label for="#">Other</label>
                                                    </div>
                                                    <div class="small-9 columns">
                                                        @Html.TextBoxFor(m => m.SearchBusinessPhone, new { onkeypress = "return isNumberKey(event)", maxlength = "11", placeholder = "Enter your phone number" })
                                                        @*<input type="number" id="claimnumber" onkeydown='$("#Otherchk").prop("checked", true);$("#Otherchk").prop("value", $("#claimnumber").val());' placeholder="Enter your phone number">*@
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mobile-container">
                                        @*<button class="button-red radius x-tiny" id="btn" type="submit">Continue</button>*@
                                        <input class="button-red radius x-tiny" id="btn" type="submit" value="Continue" name="btnSearch" onclick="return validateData();">
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="claim-explainer">
                        <div class="mobile-container">
                            <p>
                                Claiming your business make it easy for us to allow people searching for your business find you easily. It also helps us verify as a genuine business
		
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>
<script type="text/javascript">

    function validateData() {

        debugger;
        var objrdotherPhone = document.getElementById('rdotherPhone');
        var objTxtResult = document.getElementById('pError');
       // document.getElementById('pError').style.color = "red";

        if (objrdotherPhone.checked == true) {
            var objphone = document.getElementById('SearchBusinessPhone');
            if (objphone.value.trim() == "") {
                objTxtResult.innerHTML = 'Please specify Phone' + '<a href="#" class="close">&times;</a>';
                
                return false;
            }
            else {

                var rates = document.getElementsByName('SearchType');
                var rate_value = document.getElementsByName('SelectedPhone');
                for (var i = rates.length - 1; i < rates.length; i++) {
                    if (rates[i].checked) {
                        document.getElementById('SelectedPhone').value = document.getElementById('SearchBusinessPhone').value;
                        document.getElementById('ClaimType').value = 'N';
                    }
                }



            }
        }
        else {

            var rates = document.getElementsByName('SearchType');
            var rate_value = document.getElementsByName('SelectedPhone');
            for (var i = 0; i < rates.length - 1; i++) {
                if (rates[i].checked) {
                    document.getElementById('SelectedPhone').value = rates[i].value;
                    document.getElementById('ClaimType').value = 'D';
                }
            }



        }
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function GetSelectedItem() {

    }
</script>

</html>
