﻿
@model  Vconnect.Models.ClaimBusinessModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyCYBReportIncorrectCode</title>
</head>
<body>
    <div>
      <p id="pThanksRegister" runat="server">
                      @if (Model.RequestType == "Claim")
                        {
                            if (Model.typ == 'C')
                            {
                                @: Thank you for taking the time out to report this claim as incorrect. We will verify your claim request and will contact you soon.
                            }
                        }
                    </p>  
    </div>
</body>
</html>
