﻿@model Vconnect.Models.RegisterExternalLoginModel
@{
    string title = @ViewBag.Provider + "login"+" ||VConnect™";
    string description = "";
    string keyword = "";
    
    Layout = "~/Views/Shared/_WebMainMasterNew.cshtml";
}


@section title{@title}
@section  description{@description}
@section keyword{@keyword}

<script type="text/javascript">
    history.replaceState
        ? history.replaceState(null, null, window.location.href.split('?')[0])
        : window.location.hash = '';
</script>
<div class="forgotpassword-heading-bg heading-bg-box">
    <section class="forgotpassword-heading heading-box">
        <div class="row">
            <div class="medium-12 columns text-center">
                <h1 class="nexa-bold on-image">Associate your @ViewBag.Provider account</h1>
            </div>
        </div>
    </section>
</div>

<section class="forgotpassword-content row text-center">
    <div class="columns medium-6 medium-centered">
        <div class="form-1">
            @using (Html.BeginForm("ExternalLoginConfirmation", "Account",FormMethod.Post, new { data_abide = ""}))
            {
                <p>
                    Dear <strong>@Model.UserName</strong> please enter your email address below and click the Confirm button to finish logging in.
                </p>
                <p id="showErorDiv">
                    @Html.Raw(@ViewBag.UserAlert)
                     @if(@TempData["UserAlert"]!=null)
                        {
                          @Html.Raw(@TempData["UserAlert"])
                        }
                </p>
                
                <div class="row collapse">
                    <div class="columns medium-9">
                        @Html.TextBoxFor(m => m.Email, new { maxlength = 100, placeholder = "Your email address", @required = "", @data_invalid = "" , type="email" })
                        <small class="error">Enter your valid email address</small>
                    </div>
                    <div class="columns medium-3">
                        <input type="submit" value="Confirm" class="button postfix"  />
                    </div>
                </div>
                
                @*
                @Html.LabelFor(m => m.Mobile)
                @Html.TextBoxFor(m => m.Mobile)
                @Html.ValidationMessageFor(m => m.Mobile)
                *@
                  
                @Html.HiddenFor(m => m.Provider)
                @Html.HiddenFor(m => m.ProviderId)
                @Html.HiddenFor(m => m.userData)
                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(m=>m.IsEmailNull)
                
            }
        </div>
    </div>
</section>


