﻿@model Vconnect.Models.LoginModel
@using System.Configuration
@{
   
    string title = "User Login Panel - Sign in with Your Registered Email ID and Password :: VConnect™";
    string description = "Are you already registered User on VConnect? Enter your registered email id and Password and hit enter to login into your user account.";
    string keyword = "VConnect User login, user login panel, user sign In Page, login into user account page";
    string WAPRootPath = ConfigurationManager.AppSettings["WAPRootPath"].ToString();
    string WEBRootPath = ConfigurationManager.AppSettings["WebsiteRootPath"].ToString();
    string canonical = WEBRootPath + "login";
    string linkAlternatemedia = WAPRootPath + "login";
    string linkAlternatehandheld = WAPRootPath + "login";
    Layout = "~/Views/Shared/_WebMainMasterNew.cshtml";
}

@section title{@title}
@section  description{@description}
@section keyword{@keyword}
@section header
{    
<link rel="canonical" href="@canonical" />
<link rel="alternate" media="only screen and (max-width: 640px)" href="@linkAlternatemedia" />
<link rel="alternate" media="handheld" href="@linkAlternatehandheld" />
}
<style>
     .MsgGreen
    {background:url(http://vccloud.blob.core.windows.net/vcsites/vcimages/resource/images/vcsptite_pngset.png) 0 -223px no-repeat scroll transparent;color:#55da3d!important;font-size:12px;font-weight:700;border:1px solid #55da3d;padding:7px 5px 6px 32px!important;display:block}
    .tableUserMappingAccounts {
    }

    margin-top: 5px; .tableUserMappingAccounts tr {
    }

    .tableUserMappingAccounts td {
        padding: 5px;
        border: 1px #444 solid;
        color: #000;
        font-size: 12px;
        font-family: Arial;
        height: 23px;
    }

    .tableUserMappingAccounts th {
        font-weight: bold;
        border: 1px #444 solid;
        background-color: #AF0005;
        color: #fff;
        font-size: 11px;
        font-family: Arial;
        height: 23px;
        text-align: center;
    }

    .tableUserMappingAccountsP {
        margin-top: 5px;
        padding: 5px 0px 0px 10px;
        font-weight: bold;
        border-radius: 5px 5px 5px 5px;
        border: 1px #444 solid;
        background-color: #AF0005;
        color: #fff;
        font-size: 13px;
        font-family: Arial;
        height: 23px;
        font-weight: bold;
    }


    .tableUserBusiness {
        margin-top: 5px;
    }

        .tableUserBusiness tr {
        }

        .tableUserBusiness td {
            border: 1px #444 solid;
            /*background-color: #01A914;*/
            color: #000;
            font-size: 12px;
            font-family: Arial;
            height: 23px;
        }

        .tableUserBusiness th {
            font-weight: bold;
            border-radius: 5px 5px 5px 5px;
            border: 1px #444 solid;
            background-color: #AF0005;
            color: #fff;
            font-size: 11px;
            font-family: Arial;
            height: 23px;
            text-align: center;
        }

    .tableUserBusinessP {
        margin-top: 5px;
        padding: 5px 0px 0px 10px;
        font-weight: bold;
        border-radius: 5px 5px 5px 5px;
        border: 1px #444 solid;
        background-color: #AF0005;
        color: #fff;
        font-size: 13px;
        font-family: Arial;
        height: 23px;
        font-weight: bold;
    }



    .userAccountMappingHeading {
        text-align: center;
        font-weight: bold;
        border-radius: 5px 5px 5px 5px;
        border: 1px #444 solid;
        background-color: #AF0005;
        color: #fff;
        font-size: 13px;
        font-family: Arial;
        height: 23px;
        width: 300px;
        margin: 0 auto;
    }


    .cross-bt-rd {
        width: 16px;
        height: 16px;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
    }

        .cross-bt-rd img {
            width: 16px;
            height: 16px;
        }
</style>
@*div useraccountmapping*@
@*<link href="~/Content/WEBthemes/login.css" rel="stylesheet" />*@
<div id="change-phone" class="report-problem-holder">
    <div class="cross-bt-rd">
        <a href="javascript:void(o)" onclick="document.getElementById('change-phone').style.display='none';document.getElementById('fade').style.display='none';">
            <img src="http://image.vconnect.bz/static/WEB/BOdashboard/cross_button.png" /></a>
    </div>
    <div id="divPostReview" class="db-bo-form-holder">
        <div id="pnllnkbtnSumit" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'lnkbtnSumit')">

            <div id="dvreviewid" style="display: none">
            </div>
            <input name="hdn" id="hdn" type="hidden">
            <div class="report-incorrect">

                @if (Model != null)
                {
                    if (Model.IsDuplicate == "1")
                    {
                        using (Html.BeginForm("UserAccountMappingPost", "Account", FormMethod.Post))
                        {
                            if (Model.ListResultTableAccountBusinessMappingModel.UserAccountMappingModel != null)
                            {
                                if (Model.ListResultTableAccountBusinessMappingModel.UserAccountMappingModel.Count > 0)
                                {
                    <h1 class="userAccountMappingHeading">User Account Mapping</h1>
                    <div class="clear" style="height: 5px;"></div>
                    <p class="tableUserMappingAccountsP">Following accounts are associated with this login id.Please choose one account so that we link all your businesses showing below(If Any) to that account.</p>
                             
                    <div style="height: 90px; overflow: auto; font-size: 11px;">
                        <table class="tableUserMappingAccounts" cellspacing="1" cellpadding="1">
                            <thead>
                                <tr>
                                    <td>Select</td>
                                    <td>ContentId</td>
                                    <td>UserLoginId</td>
                                    <td>UserId</td>
                                    <td>ContactName</td>
                                    <td>Email</td>
                                    <td>Phone</td>
                                    <td>Status</td>
                                    <td>BusinessClaimedCount</td>
                                </tr>

                            </thead>

                            @foreach (Vconnect.Models.UserAccountMappingModel item in Model.ListResultTableAccountBusinessMappingModel.UserAccountMappingModel)
                            {
                                                                                        
                                <tr>


                                    @if (@item.UserLoginId.Contains("@") && @item.IsEmailVerified.ToString().ToLower() == "true")
                                    {
                                        <td>@Html.RadioButton("ContentId", item.ContentId + "," + item.Phone + "," + item.UserLoginId)</td>
                                                                                                        
                                    }
                                    else
                                    {
                                        <td>&nbsp;</td>
                                                                                            
                                    }
                                    <td>@item.ContentId</td>
                                    <td>@item.UserLoginId</td>
                                    <td>@item.UserId</td>
                                    <td>@item.ContactName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Status</td>
                                    <td>@item.BizClaimed</td>
                                </tr>

                            }


                        </table>

                    </div>
                    <table cellspacing="1" cellpadding="1" width="890px">
                        <tr>
                            <td colspan="9" style="text-align: right; background: white; border: 0;">
                                <input type="submit" value="Submit" /></td>
                        </tr>
                    </table>
                                }
                            }

                            if (Model.ListResultTableAccountBusinessMappingModel.UserAccountMappingBusinessesModel != null)
                            {
                                if (Model.ListResultTableAccountBusinessMappingModel.UserAccountMappingBusinessesModel.Count > 0)
                                {
                    <p class="tableUserBusinessP">Following are the list of business claimed by these accounts</p>
                    <div style="height: 150px; overflow: auto;">
                        <table class="tableUserBusiness" cellspacing="1" cellpadding="1">
                            <thead>
                                <tr>
                                    <td>BusinessName</td>
                                    <td>BusinessPhone</td>
                                    <td>BusinessEmail</td>
                                    <td>UserContentId</td>
                                    <td>UserEmail</td>
                                    <td>UserPhone</td>
                                </tr>

                            </thead>
                            @foreach (Vconnect.Models.UserAccountMappingBusinessesModel item in Model.ListResultTableAccountBusinessMappingModel.UserAccountMappingBusinessesModel)
                            { 
    
                                <tr>
                                    <td>@item.BusinessName</td>
                                    <td>@item.BizPhone</td>
                                    <td>@item.BizEmail</td>
                                    <td>@item.UserContentId</td>
                                    <td>@item.UserEmail</td>
                                    <td>@item.UserPhone</td>
                                </tr>


                            }
                        </table>
                    </div>
                                }
                            }

                        }
                    }
                }

            </div>

        </div>
    </div>
</div>
<div id="fade" class="black_overlay">
</div>

@*div useraccountmapping*@
<div class="login-heading-bg">
    <section class="login-heading">
        <div class="row signup">
            <div class="medium-12 columns text-center">
                <h1 class="nexa-bold on-image">Login to your VConnect Account</h1>
            </div>
        </div>
    </section>
</div>

<section class="login-content row">
     @if (Request.QueryString["bid"]!=null)
    {
       <div id="ctl00_cphMiddleContainer_divMsg" class="MsgGreen">Get a chance to win exciting prizes for adding this business in VConnect. Please login to participate.</div><br/>
    }
    else
    {
        <div></div>
    }
   <div class="columns medium-6 social-buttons">
        @if (Request.QueryString["rturl"] != null)
        {
             if(Request.QueryString["bid"]!=null && Request.QueryString["bid"].ToString().Trim()!="" && Request.QueryString["br"]!=null && Request.QueryString["bid"].ToString().Trim()!="")
             {
                 using (Html.BeginForm("Facebook", "Account", new { rturl = Request.QueryString["rturl"] + "&bid=" + Request.QueryString["bid"] + "&br=br", provider = "Facebook" }, FormMethod.Post))
                {
                    <button class="button-fb icon" title="Log in using your Facebook account" value="Facebook" name="provider" type="submit"><i class="icon-facebook"></i>Login with Facebook</button>
                }
             }
             else
             {
                  using (Html.BeginForm("Facebook", "Account", new { rturl = Request.QueryString["rturl"], provider = "Facebook" }, FormMethod.Post))
                    {
                        <button class="button-fb icon" title="Log in using your Facebook account" value="Facebook" name="provider" type="submit"><i class="icon-facebook"></i>Login with Facebook</button>
                    }
             }
             
             if(Request.QueryString["bid"]!=null && Request.QueryString["bid"].ToString().Trim()!="" && Request.QueryString["br"]!=null && Request.QueryString["bid"].ToString().Trim()!="")
             {
                 using (Html.BeginForm("ExternalLogin", "Account", new { rturl = Request.QueryString["rturl"] + "&bid=" + Request.QueryString["bid"] + "&br=br" }, FormMethod.Post))
                 {
                        <button class="button-tw icon" title="Log in using your Twitter account" value="twitter" name="provider" type="submit"><i class="icon-twitter"></i>Login with Twitter</button>

                        @*<button class="button-gplus icon" title="Log in using your Google account" value="google" name="provider" type="submit"><i class="icon-gplus"></i>Login with Google+</button>*@
              <a class="button-gplus icon" href="https://accounts.google.com/o/oauth2/auth?response_type=code&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.google.com/m8/feeds/contacts/default/full&redirect_uri=@(ConfigurationManager.AppSettings["gmailredirecturlOnView"].ToString().Trim())&client_id=@(ConfigurationManager.AppSettings["gmailclientid"].ToString().Trim())&state=%2Fprofile&rturl=@(Request.QueryString["rturl"].ToString().Trim())&bid=&rturl=@(Request.QueryString["bid"].ToString().Trim())&br=&rturl=@(Request.QueryString["br"].ToString().Trim())"><i class="icon-gplus"></i>Login with Google+</a>
                 }
            
             }
            else
            {
                     using (Html.BeginForm("ExternalLogin", "Account", new { rturl = Request.QueryString["rturl"] }, FormMethod.Post))
                    {
                        <button class="button-tw icon" title="Log in using your Twitter account" value="twitter" name="provider" type="submit"><i class="icon-twitter"></i>Login with Twitter</button>

                        @*<button class="button-gplus icon" title="Log in using your Google account" value="google" name="provider" type="submit"><i class="icon-gplus"></i>Login with Google+</button>*@
                  <a class="button-gplus icon" href="https://accounts.google.com/o/oauth2/auth?response_type=code&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.google.com/m8/feeds/contacts/default/full&redirect_uri=@(ConfigurationManager.AppSettings["gmailredirecturlOnView"].ToString().Trim())&client_id=@(ConfigurationManager.AppSettings["gmailclientid"].ToString().Trim())&state=%2Fprofile&rturl=@(Request.QueryString["rturl"].ToString())"><i class="icon-gplus"></i>Login with Google+</a>
                    }
             }
        }
         else if (Request.QueryString["src"] != null)
        {
             using (Html.BeginForm("Facebook", "Account", FormMethod.Post))
            {
                <button class="button-fb icon" title="Log in using your Facebook account" value="Facebook" name="provider" type="submit"><i class="icon-facebook"></i>Login with Facebook</button>
            }
            using (Html.BeginForm("ExternalLogin", "Account", new { rturl = Request.QueryString["src"]}, FormMethod.Post))
            {
               

                <button class="button-tw icon" title="Log in using your Twitter account" value="twitter" name="provider" type="submit"><i class="icon-twitter"></i>Login with Twitter</button>

                @*<button class="button-gplus icon" title="Log in using your Google account" value="google" name="provider" type="submit"><i class="icon-gplus"></i>Login with Google+</button>*@
                <a class="button-gplus icon" href="https://accounts.google.com/o/oauth2/auth?response_type=code&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.google.com/m8/feeds/contacts/default/full&redirect_uri=@(ConfigurationManager.AppSettings["gmailredirecturlOnView"].ToString().Trim())&client_id=@(ConfigurationManager.AppSettings["gmailclientid"].ToString().Trim())&state=%2Fprofile%24rturl=@(Request.QueryString["src"].ToString())"><i class="icon-gplus"></i>Login with Google+</a>
            }
        }
        else
        {
            using (Html.BeginForm("Facebook", "Account", FormMethod.Post))
            {
                <button class="button-fb icon" title="Log in using your Facebook account" value="Facebook" name="provider" type="submit"><i class="icon-facebook"></i>Login with Facebook</button>
            }
            using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post))
            {
                

                <button class="button-tw icon" title="Log in using your Twitter account" value="twitter" name="provider" type="submit"><i class="icon-twitter"></i>Login with Twitter</button>

                @*<button class="button-gplus icon" title="Log in using your Google account" value="google" name="provider" type="submit"><i class="icon-gplus"></i>Login with Google+</button>*@
                <a class="button-gplus icon" href="https://accounts.google.com/o/oauth2/auth?response_type=code&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.google.com/m8/feeds/contacts/default/full&redirect_uri=@(ConfigurationManager.AppSettings["gmailredirecturlOnView"].ToString().Trim())&client_id=@(ConfigurationManager.AppSettings["gmailclientid"].ToString().Trim())&state=%2Fprofile"><i class="icon-gplus"></i>Login with Google+</a>
            }
        }

        @*<a href="#" class="button button-fb">Login with Facebook</a>
            <a href="#" class="button">Login with Twitter</a>
            <a href="#" class="button">Login with Google+</a>*@
    </div>
    @Html.Raw(@ViewBag.VerifiedMsg)
    <div class="columns medium-6 content">

        <div class="login-box">


            @Html.Raw(@Session["loginError"])
            @Html.Raw(@ViewBag.UserMsg)


            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { data_abide = "" }))
            {
                <div class="input-wrapper">
                    <label for="email">Email address</label>
                    @Html.TextBoxFor(m => m.Login, new {maxlength=100, @placeholder = "Email address", @required = "", @data_invalid = "" })
                    <small class="error">Enter your email address</small>
                </div>
                
                <div class="input-wrapper">
                    <label for="password">Password</label>
                    @Html.PasswordFor(m => m.Password, new { maxlength=50, @type = "password", @placeholder = "Password", @required = "", @data_invalid = "", pattern="oldpassword"})
                    <small class="error">Enter your password</small>
                </div>
                <input type="submit" class="button" name="Login" value="Login">
        
                                @*<input type="text" placeholder="Email">
                                <input type="password" placeholder="Password">
                                <input class="button" type="submit" value="Login">*@
                <strong>OR</strong>
                <a href="/userregistration">Create an account</a>
                
                <div class="forgot-password-link">
                    Forgot your password? <a href="/forgotpassword">Click here</a>
                </div>
                @Html.HiddenFor(m => m.CheckMobileVerification)
                @Html.HiddenFor(m => m.CheckEmailVerification)
                @Html.HiddenFor(m => m.Login)
                @Html.HiddenFor(m => m.QueryParameterEmail)
                @Html.HiddenFor(m => m.QueryParameterEmailVerificationCode)
                @Html.HiddenFor(m => m.Password)
                @Html.HiddenFor(m => m.MobileVerificationCode)
                @Html.HiddenFor(m => m.RememberMe)
                @Html.HiddenFor(m => m.ConfirmMobileVerificationCode)
                @Html.HiddenFor(m => m.Successaction)
                @Html.HiddenFor(m => m.Successcontroller)
                @Html.HiddenFor(m => m.PhoneNo)
                   
            }
        </div>
    </div>

</section>
