﻿@model Vconnect.Models.NewPasswordModel
@{
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    string title = "User Login || VConnect™";
    string description = "";
    string keyword = "";
}


@section title{@title}
@section  description{@description}
@section keyword{@keyword}

<script type="text/javascript">
    history.replaceState
        ? history.replaceState(null, null, window.location.href.split('?')[0])
        : window.location.hash = '';
</script>

<div class="forgotpassword-heading-bg heading-bg-box">
    <section class="forgotpassword-heading heading-box">
        <div class="row">
            <div class="medium-12 columns text-center">
                <h1 class="nexa-bold on-image">New password</h1>
            </div>
        </div>
    </section>
</div>


 @*using (Html.BeginForm("NewPassword", "Account", FormMethod.Post, new { data_abide = "" }))*@
<section class="forgotpassword-content row text-center">

    @if (TempData["IsValidLink"].ToString() == "1")
    {

        using (Html.BeginForm("", "", FormMethod.Post, new { data_abide = "" }))
        {
        
        <div class="columns medium-6 medium-centered">
            @if (@Model.IsSucceed == 0)
            { 
                <div class="form-3">

                    <p>Enter your new password to gain access to your account.</p>
                    <div class="input-wrapper">
                        <p id="showErorDiv"></p>
                    </div>
                    <div class="input-wrapper">
                        <label for="npassword">New Password <small>Required</small></label>
                        @Html.PasswordFor(m => m.NewPassword, new { minlength = 6,maxlength=50, placeholder = "Enter your new password", @required = "", @data_invalid = "",@pattern=".{6,50}" })
                        <small class="error">Enter your new password</small>
                    </div>
                    <div class="input-wrapper">
                        <label for="cnpassword">Confirm New Password <small>Required</small></label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { minlength = 6,maxlength=50, placeholder = "Confirm new password", @required = "",@pattern=".{6,50}", @data_equalto = "NewPassword" })
                        <small class="error">Password did not match</small>
                    </div>
                    <div class="row">
                        <div class="columns medium-4">
                            @*<button type="submit" class="button small expand">Submit</button>*@
                            <input type="submit" value="Submit" class="button small expand" />

                        </div>
                    </div>
                </div>
            }
            <div class="form-4">
                @Html.Raw((String)TempData["UserMsg"])
            </div>
        </div>
   
                  
        @Html.HiddenFor(m => m.EmailId)
        @Html.HiddenFor(m => m.VerificationCode)
        @Html.HiddenFor(m => m.userId)
        @Html.HiddenFor(m => m.MobileVerificationCode)
        }
    }
    else
    {
         if (@Model.IsSucceed == 0)
         { 
            <div class="form-4">
                Password reset link has expired. To get a new link,  <a href='/generatenewemaillink?uid=@Model.userId&code=@Model.VerificationCode'>click here</a>
            </div>
         }
         else
         {
             <div class="form-4">
                @Html.Raw((String)TempData["UserMsg"])
                @Html.Raw(@TempData["msg"])
             </div> 
             using (Html.BeginForm("generatenewemaillink", "Account",new {uid=@Model.userId, code=@Model.VerificationCode,cnt=@Model.IsSucceed }, FormMethod.Post, new { @id = "form1", @class = "verify-code-form", data_abide = "" }))
             { }
         }
    }
</section>
