/*----------- Banner ------------*/

.banner.jumbotron-container.t {
  width: 100%;
  height: 300px !important;
  border: 5px solid #eee;
  background: url("../img/event1.jpg") no-repeat;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.banner.jumbotron-container.t img {
  margin-top: -10rem;
}

.banner.jumbotron-container.t .tt-hint.searchlocation {
  position: relative;
  top: 0 !important;
}

.banner.jumbotron-container.t .twitter-typeahead {
  margin-left: 0.9rem;
}

.banner.jumbotron-container.t .search-events {
  color: #111;
}

.create .search-form {
  right: 19.25rem !important;
}

.banner.jumbotron-container.t h2 {
  color: #fff;
  text-align: center;
  margin-top: 55px;
  font-size: 42px;
}

.banner.jumbotron-container.t p {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.overlay-t {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  position: absolute;
  left: 0px;
  height: 300px !important;
}

.create-events {
  left: 49rem !important;
}

.create-events .button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.button-events-search {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  margin-bottom: 0;
}

.banner-form .row .row .columns {
  padding: 0px 0.5rem 0px 0.35rem;
}

.back-search {
  background: rgba(0, 0, 0, 0.6);
  padding: 0.4rem;
  padding-right: 0;
  border-radius: 0.2rem;
  padding-left: 0;
}

.back-search input[type="text"] {
  margin: 0;
}

.back-search select {
  margin: 0;
}

.cat-items-grid {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #D22C25;
}

.cat-items-grid .activet a {
  color: #D22C25;
  border-bottom: 2px solid;
  padding-bottom: 1.3rem;
}

.cat-items-grid ul {
  margin-bottom: 0;
  margin-left: 0;
}

.cat-items-grid ul li {
  margin-left: 0;
  padding-left: 1.2rem;
  padding-top: 1.3rem;
}

.cat-items-grid ul li a {
  color: #4D4D4D;
}

.cat-items-grid ul li a:hover {
  color: #D22C25;
  border-bottom: 2px solid;
  padding-bottom: 1.3rem;
}

.top-events {
  padding-top: 2rem;
}

.top-events h2 {
  display: inline-block;
  margin-left: 7.7rem;
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  color: #D22C25;
}

.events-hold {
  width: 300px;
  height: 255px;
  margin-left: 2.5rem;
  border: 1px solid #ddd;
}

.events-top-date {
  background-color: #ddd;
  width: auto;
  height: 140px;
  text-align: center;
}

.events-top-date h1 {
  font-size: 5rem;
  margin: 0;
}

.events-top-date p {
  line-height: 0;
  font-size: 2rem;
  margin-top: -0.1rem;
  margin-left: 0;
}

.events-top-date img {
  height: 140px;
  width: 100%;
}