/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

script {
  display: none !important;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

meta.foundation-version {
  font-family: "/5.1.0/";
}

meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

meta.foundation-data-attribute-namespace {
  font-family: false;
}

html, body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: white;
  color: #595959;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Open Sans", "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
  background-color: #ff6d00;
  border-color: #e66200;
  color: white;
  transition: background-color 300ms ease-out;
  padding-top: 1.0625rem;
  padding-bottom: 1rem;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #e66200;
}
button:hover, button:focus, .button:hover, .button:focus {
  color: white;
}
button.secondary, .button.secondary {
  background-color: #99cc00;
  border-color: #8ab800;
  color: white;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #8ab800;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  color: white;
}
button.success, .button.success {
  background-color: #43ac6a;
  border-color: #3c9b5f;
  color: white;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #3c9b5f;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  color: white;
}
button.alert, .button.alert {
  background-color: #f04124;
  border-color: #e82f10;
  color: white;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #e82f10;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  color: white;
}
button.large, .button.large {
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  font-size: 1.25rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
}
button.small, .button.small {
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
}
button.tiny, .button.tiny {
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.25rem;
  font-size: 0.6875rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
}
button.expand, .button.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
button.left-align, .button.left-align {
  text-align: left;
  text-indent: 0.75rem;
}
button.right-align, .button.right-align {
  text-align: right;
  padding-right: 0.75rem;
}
button.radius, .button.radius {
  border-radius: 3px;
}
button.round, .button.round {
  border-radius: 1000px;
}
button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background-color: #ff6d00;
  border-color: #e66200;
  color: white;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #e66200;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  color: white;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #ff6d00;
}
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
  background-color: #99cc00;
  border-color: #8ab800;
  color: white;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #8ab800;
}
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  color: white;
}
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #99cc00;
}
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
  background-color: #43ac6a;
  border-color: #3c9b5f;
  color: white;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #3c9b5f;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  color: white;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #43ac6a;
}
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
  background-color: #f04124;
  border-color: #e82f10;
  color: white;
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #e82f10;
}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  color: white;
}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #f04124;
}

@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block;
  }
}
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  font-size: 0.8125rem;
  background-color: #ff6d00;
  border-color: #db5e00;
  color: white;
}
.alert-box .close {
  font-size: 1.375rem;
  padding: 9px 6px 4px;
  line-height: 0;
  position: absolute;
  top: 50%;
  margin-top: -0.6875rem;
  right: 0.25rem;
  color: #333333;
  opacity: 0.3;
}
.alert-box .close:hover, .alert-box .close:focus {
  opacity: 0.5;
}
.alert-box.radius {
  border-radius: 3px;
}
.alert-box.round {
  border-radius: 1000px;
}
.alert-box.success {
  background-color: #43ac6a;
  border-color: #3a945b;
  color: white;
}
.alert-box.alert {
  background-color: #f04124;
  border-color: #de2d0f;
  color: white;
}
.alert-box.secondary {
  background-color: #99cc00;
  border-color: #84af00;
  color: white;
}
.alert-box.warning {
  background-color: #f08a24;
  border-color: #de770f;
  color: white;
}
.alert-box.info {
  background-color: #a0d3e8;
  border-color: #74bfdd;
  color: #344500;
}

/* Standard Forms */
form {
  margin: 0 0 1rem;
}

/* Using forms within rows, we need to set some defaults */
form .row .row {
  margin: 0 -0.5rem;
}
form .row .row .column,
form .row .row .columns {
  padding: 0 0.5rem;
}
form .row .row.collapse {
  margin: 0;
}
form .row .row.collapse .column,
form .row .row.collapse .columns {
  padding: 0;
}
form .row .row.collapse input {
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
}
form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
  padding-left: 0.5rem;
}

/* Label Styles */
label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  /* Styles for required inputs */
}
label.right {
  float: none;
  text-align: right;
}
label.inline {
  margin: 0 0 1rem 0;
  padding: 0.625rem 0;
}
label small {
  text-transform: capitalize;
  color: #676767;
}

select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center right 3%;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0;
}
select.radius {
  border-radius: 3px;
}

select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  select {
    background: #fafafa;
  }
}
/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
}

/* Adjust padding, alignment and radius if pre/post element is a button */
.postfix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125rem;
  border: none;
}

.prefix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125rem;
  border: none;
}

.prefix.button.radius {
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.postfix.button.radius {
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.prefix.button.round {
  border-radius: 0;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}

.postfix.button.round {
  border-radius: 0;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}

/* Separate prefix and postfix styles when on span or label so buttons keep their own */
span.prefix, label.prefix {
  background: #f2f2f2;
  border-right: none;
  color: #333333;
  border-color: #cccccc;
}
span.prefix.radius, label.prefix.radius {
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

span.postfix, label.postfix {
  background: #f2f2f2;
  border-left: none;
  color: #333333;
  border-color: #cccccc;
}
span.postfix.radius, label.postfix.radius {
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}
input[type="text"][disabled], fieldset[disabled] input[type="text"],
input[type="password"][disabled], fieldset[disabled]
input[type="password"],
input[type="date"][disabled], fieldset[disabled]
input[type="date"],
input[type="datetime"][disabled], fieldset[disabled]
input[type="datetime"],
input[type="datetime-local"][disabled], fieldset[disabled]
input[type="datetime-local"],
input[type="month"][disabled], fieldset[disabled]
input[type="month"],
input[type="week"][disabled], fieldset[disabled]
input[type="week"],
input[type="email"][disabled], fieldset[disabled]
input[type="email"],
input[type="number"][disabled], fieldset[disabled]
input[type="number"],
input[type="search"][disabled], fieldset[disabled]
input[type="search"],
input[type="tel"][disabled], fieldset[disabled]
input[type="tel"],
input[type="time"][disabled], fieldset[disabled]
input[type="time"],
input[type="url"][disabled], fieldset[disabled]
input[type="url"],
textarea[disabled], fieldset[disabled]
textarea {
  background-color: #dddddd;
}
input[type="text"].radius,
input[type="password"].radius,
input[type="date"].radius,
input[type="datetime"].radius,
input[type="datetime-local"].radius,
input[type="month"].radius,
input[type="week"].radius,
input[type="email"].radius,
input[type="number"].radius,
input[type="search"].radius,
input[type="tel"].radius,
input[type="time"].radius,
input[type="url"].radius,
textarea.radius {
  border-radius: 3px;
}

/* Add height value for select elements to match text input height */
select {
  height: 2.3125rem;
}

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* Normalize file input width */
input[type="file"] {
  width: 100%;
}

/* We add basic fieldset styling */
fieldset {
  border: solid 1px #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0;
}
fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}

/* Error Handling */
[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}
[data-abide] span.error, [data-abide] small.error {
  display: none;
}

span.error, small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}

.error input,
.error textarea,
.error select {
  margin-bottom: 0;
}
.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1rem;
}
.error label,
.error label.error {
  color: #f04124;
}
.error small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}
.error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline;
}
.error span.error-message {
  display: block;
}

input.error,
textarea.error {
  margin-bottom: 0;
}

label.error {
  color: #f04124;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 75rem;
  *zoom: 1;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
.row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
.row .row:after {
  clear: both;
}
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
.row .row.collapse:after {
  clear: both;
}

.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

@media only screen {
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right;
  }

  .small-push-0 {
    left: 0%;
    right: auto;
  }

  .small-pull-0 {
    right: 0%;
    left: auto;
  }

  .small-push-1 {
    left: 8.33333%;
    right: auto;
  }

  .small-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .small-push-2 {
    left: 16.66667%;
    right: auto;
  }

  .small-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .small-push-3 {
    left: 25%;
    right: auto;
  }

  .small-pull-3 {
    right: 25%;
    left: auto;
  }

  .small-push-4 {
    left: 33.33333%;
    right: auto;
  }

  .small-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .small-push-5 {
    left: 41.66667%;
    right: auto;
  }

  .small-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .small-push-6 {
    left: 50%;
    right: auto;
  }

  .small-pull-6 {
    right: 50%;
    left: auto;
  }

  .small-push-7 {
    left: 58.33333%;
    right: auto;
  }

  .small-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .small-push-8 {
    left: 66.66667%;
    right: auto;
  }

  .small-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .small-push-9 {
    left: 75%;
    right: auto;
  }

  .small-pull-9 {
    right: 75%;
    left: auto;
  }

  .small-push-10 {
    left: 83.33333%;
    right: auto;
  }

  .small-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .small-push-11 {
    left: 91.66667%;
    right: auto;
  }

  .small-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .small-1 {
    width: 8.33333%;
  }

  .small-2 {
    width: 16.66667%;
  }

  .small-3 {
    width: 25%;
  }

  .small-4 {
    width: 33.33333%;
  }

  .small-5 {
    width: 41.66667%;
  }

  .small-6 {
    width: 50%;
  }

  .small-7 {
    width: 58.33333%;
  }

  .small-8 {
    width: 66.66667%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.33333%;
  }

  .small-11 {
    width: 91.66667%;
  }

  .small-12 {
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .small-offset-0 {
    margin-left: 0% !important;
  }

  .small-offset-1 {
    margin-left: 8.33333% !important;
  }

  .small-offset-2 {
    margin-left: 16.66667% !important;
  }

  .small-offset-3 {
    margin-left: 25% !important;
  }

  .small-offset-4 {
    margin-left: 33.33333% !important;
  }

  .small-offset-5 {
    margin-left: 41.66667% !important;
  }

  .small-offset-6 {
    margin-left: 50% !important;
  }

  .small-offset-7 {
    margin-left: 58.33333% !important;
  }

  .small-offset-8 {
    margin-left: 66.66667% !important;
  }

  .small-offset-9 {
    margin-left: 75% !important;
  }

  .small-offset-10 {
    margin-left: 83.33333% !important;
  }

  .small-offset-11 {
    margin-left: 91.66667% !important;
  }

  .small-reset-order,
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
}
@media only screen and (min-width: 40.063em) {
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right;
  }

  .medium-push-0 {
    left: 0%;
    right: auto;
  }

  .medium-pull-0 {
    right: 0%;
    left: auto;
  }

  .medium-push-1 {
    left: 8.33333%;
    right: auto;
  }

  .medium-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .medium-push-2 {
    left: 16.66667%;
    right: auto;
  }

  .medium-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .medium-push-3 {
    left: 25%;
    right: auto;
  }

  .medium-pull-3 {
    right: 25%;
    left: auto;
  }

  .medium-push-4 {
    left: 33.33333%;
    right: auto;
  }

  .medium-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .medium-push-5 {
    left: 41.66667%;
    right: auto;
  }

  .medium-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .medium-push-6 {
    left: 50%;
    right: auto;
  }

  .medium-pull-6 {
    right: 50%;
    left: auto;
  }

  .medium-push-7 {
    left: 58.33333%;
    right: auto;
  }

  .medium-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .medium-push-8 {
    left: 66.66667%;
    right: auto;
  }

  .medium-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .medium-push-9 {
    left: 75%;
    right: auto;
  }

  .medium-pull-9 {
    right: 75%;
    left: auto;
  }

  .medium-push-10 {
    left: 83.33333%;
    right: auto;
  }

  .medium-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .medium-push-11 {
    left: 91.66667%;
    right: auto;
  }

  .medium-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .medium-1 {
    width: 8.33333%;
  }

  .medium-2 {
    width: 16.66667%;
  }

  .medium-3 {
    width: 25%;
  }

  .medium-4 {
    width: 33.33333%;
  }

  .medium-5 {
    width: 41.66667%;
  }

  .medium-6 {
    width: 50%;
  }

  .medium-7 {
    width: 58.33333%;
  }

  .medium-8 {
    width: 66.66667%;
  }

  .medium-9 {
    width: 75%;
  }

  .medium-10 {
    width: 83.33333%;
  }

  .medium-11 {
    width: 91.66667%;
  }

  .medium-12 {
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .medium-offset-0 {
    margin-left: 0% !important;
  }

  .medium-offset-1 {
    margin-left: 8.33333% !important;
  }

  .medium-offset-2 {
    margin-left: 16.66667% !important;
  }

  .medium-offset-3 {
    margin-left: 25% !important;
  }

  .medium-offset-4 {
    margin-left: 33.33333% !important;
  }

  .medium-offset-5 {
    margin-left: 41.66667% !important;
  }

  .medium-offset-6 {
    margin-left: 50% !important;
  }

  .medium-offset-7 {
    margin-left: 58.33333% !important;
  }

  .medium-offset-8 {
    margin-left: 66.66667% !important;
  }

  .medium-offset-9 {
    margin-left: 75% !important;
  }

  .medium-offset-10 {
    margin-left: 83.33333% !important;
  }

  .medium-offset-11 {
    margin-left: 91.66667% !important;
  }

  .medium-reset-order,
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  .push-0 {
    left: 0%;
    right: auto;
  }

  .pull-0 {
    right: 0%;
    left: auto;
  }

  .push-1 {
    left: 8.33333%;
    right: auto;
  }

  .pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .push-2 {
    left: 16.66667%;
    right: auto;
  }

  .pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .push-3 {
    left: 25%;
    right: auto;
  }

  .pull-3 {
    right: 25%;
    left: auto;
  }

  .push-4 {
    left: 33.33333%;
    right: auto;
  }

  .pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .push-5 {
    left: 41.66667%;
    right: auto;
  }

  .pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .push-6 {
    left: 50%;
    right: auto;
  }

  .pull-6 {
    right: 50%;
    left: auto;
  }

  .push-7 {
    left: 58.33333%;
    right: auto;
  }

  .pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .push-8 {
    left: 66.66667%;
    right: auto;
  }

  .pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .push-9 {
    left: 75%;
    right: auto;
  }

  .pull-9 {
    right: 75%;
    left: auto;
  }

  .push-10 {
    left: 83.33333%;
    right: auto;
  }

  .pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .push-11 {
    left: 91.66667%;
    right: auto;
  }

  .pull-11 {
    right: 91.66667%;
    left: auto;
  }
}
@media only screen and (min-width: 64.063em) {
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right;
  }

  .large-push-0 {
    left: 0%;
    right: auto;
  }

  .large-pull-0 {
    right: 0%;
    left: auto;
  }

  .large-push-1 {
    left: 8.33333%;
    right: auto;
  }

  .large-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .large-push-2 {
    left: 16.66667%;
    right: auto;
  }

  .large-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .large-push-3 {
    left: 25%;
    right: auto;
  }

  .large-pull-3 {
    right: 25%;
    left: auto;
  }

  .large-push-4 {
    left: 33.33333%;
    right: auto;
  }

  .large-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .large-push-5 {
    left: 41.66667%;
    right: auto;
  }

  .large-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .large-push-6 {
    left: 50%;
    right: auto;
  }

  .large-pull-6 {
    right: 50%;
    left: auto;
  }

  .large-push-7 {
    left: 58.33333%;
    right: auto;
  }

  .large-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .large-push-8 {
    left: 66.66667%;
    right: auto;
  }

  .large-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .large-push-9 {
    left: 75%;
    right: auto;
  }

  .large-pull-9 {
    right: 75%;
    left: auto;
  }

  .large-push-10 {
    left: 83.33333%;
    right: auto;
  }

  .large-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .large-push-11 {
    left: 91.66667%;
    right: auto;
  }

  .large-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .large-1 {
    width: 8.33333%;
  }

  .large-2 {
    width: 16.66667%;
  }

  .large-3 {
    width: 25%;
  }

  .large-4 {
    width: 33.33333%;
  }

  .large-5 {
    width: 41.66667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.33333%;
  }

  .large-8 {
    width: 66.66667%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.33333%;
  }

  .large-11 {
    width: 91.66667%;
  }

  .large-12 {
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .large-offset-0 {
    margin-left: 0% !important;
  }

  .large-offset-1 {
    margin-left: 8.33333% !important;
  }

  .large-offset-2 {
    margin-left: 16.66667% !important;
  }

  .large-offset-3 {
    margin-left: 25% !important;
  }

  .large-offset-4 {
    margin-left: 33.33333% !important;
  }

  .large-offset-5 {
    margin-left: 41.66667% !important;
  }

  .large-offset-6 {
    margin-left: 50% !important;
  }

  .large-offset-7 {
    margin-left: 58.33333% !important;
  }

  .large-offset-8 {
    margin-left: 66.66667% !important;
  }

  .large-offset-9 {
    margin-left: 75% !important;
  }

  .large-offset-10 {
    margin-left: 83.33333% !important;
  }

  .large-offset-11 {
    margin-left: 91.66667% !important;
  }

  .large-reset-order,
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  .push-0 {
    left: 0%;
    right: auto;
  }

  .pull-0 {
    right: 0%;
    left: auto;
  }

  .push-1 {
    left: 8.33333%;
    right: auto;
  }

  .pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .push-2 {
    left: 16.66667%;
    right: auto;
  }

  .pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .push-3 {
    left: 25%;
    right: auto;
  }

  .pull-3 {
    right: 25%;
    left: auto;
  }

  .push-4 {
    left: 33.33333%;
    right: auto;
  }

  .pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .push-5 {
    left: 41.66667%;
    right: auto;
  }

  .pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .push-6 {
    left: 50%;
    right: auto;
  }

  .pull-6 {
    right: 50%;
    left: auto;
  }

  .push-7 {
    left: 58.33333%;
    right: auto;
  }

  .pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .push-8 {
    left: 66.66667%;
    right: auto;
  }

  .pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .push-9 {
    left: 75%;
    right: auto;
  }

  .pull-9 {
    right: 75%;
    left: auto;
  }

  .push-10 {
    left: 83.33333%;
    right: auto;
  }

  .pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .push-11 {
    left: 91.66667%;
    right: auto;
  }

  .pull-11 {
    right: 91.66667%;
    left: auto;
  }
}
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.45);
  z-index: 98;
  display: none;
  top: 0;
  left: 0;
}

dialog, .reveal-modal {
  visibility: hidden;
  display: none;
  position: absolute;
  left: 50%;
  z-index: 99;
  height: auto;
  margin-left: -40%;
  width: 80%;
  background-color: white;
  padding: 1.25rem;
  border: solid 1px #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 6.25rem;
}
dialog .column,
dialog .columns, .reveal-modal .column,
.reveal-modal .columns {
  min-width: 0;
}
dialog > :first-child, .reveal-modal > :first-child {
  margin-top: 0;
}
dialog > :last-child, .reveal-modal > :last-child {
  margin-bottom: 0;
}
dialog .close-reveal-modal, .reveal-modal .close-reveal-modal {
  font-size: 1.375rem;
  line-height: 1;
  position: absolute;
  top: 0.5rem;
  right: 0.6875rem;
  color: #aaaaaa;
  font-weight: bold;
  cursor: pointer;
}

dialog[open] {
  display: block;
  visibility: visible;
}

@media only screen and (min-width: 40.063em) {
  dialog, .reveal-modal {
    padding: 1.875rem;
    top: 6.25rem;
  }
  dialog.tiny, .reveal-modal.tiny {
    margin-left: -15%;
    width: 30%;
  }
  dialog.small, .reveal-modal.small {
    margin-left: -20%;
    width: 40%;
  }
  dialog.medium, .reveal-modal.medium {
    margin-left: -30%;
    width: 60%;
  }
  dialog.large, .reveal-modal.large {
    margin-left: -35%;
    width: 70%;
  }
  dialog.xlarge, .reveal-modal.xlarge {
    margin-left: -47.5%;
    width: 95%;
  }
}
@media print {
  dialog, .reveal-modal {
    background: #fff !important;
  }
}
meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* Wrapped around .top-bar to contain to grid width */
.contain-to-grid {
  width: 100%;
  background: white;
}
.contain-to-grid .top-bar {
  margin-bottom: 0;
}

.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}
.fixed.expanded:not(.top-bar) {
  overflow-y: auto;
  height: auto;
  width: 100%;
  max-height: 100%;
}
.fixed.expanded:not(.top-bar) .title-area {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.fixed.expanded:not(.top-bar) .top-bar-section {
  z-index: 98;
  margin-top: 3.4375rem;
}

.top-bar {
  overflow: hidden;
  height: 3.4375rem;
  line-height: 3.4375rem;
  position: relative;
  background: white;
  margin-bottom: 0;
}
.top-bar ul {
  margin-bottom: 0;
  list-style: none;
}
.top-bar .row {
  max-width: none;
}
.top-bar form,
.top-bar input {
  margin-bottom: 0;
}
.top-bar input {
  height: auto;
  padding-top: .35rem;
  padding-bottom: .35rem;
  font-size: 0.75rem;
}
.top-bar .button {
  padding-top: .45rem;
  padding-bottom: .35rem;
  margin-bottom: 0;
  font-size: 0.75rem;
}
.top-bar .title-area {
  position: relative;
  margin: 0;
}
.top-bar .name {
  height: 3.4375rem;
  margin: 0;
  font-size: 16px;
}
.top-bar .name h1 {
  line-height: 3.4375rem;
  font-size: 1.0625rem;
  margin: 0;
}
.top-bar .name h1 a {
  font-weight: normal;
  color: #4d4d4d;
  width: 50%;
  display: block;
  padding: 0 1.14583rem;
}
.top-bar .toggle-topbar {
  position: absolute;
  right: 0;
  top: 0;
}
.top-bar .toggle-topbar a {
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 0 1.14583rem;
  height: 3.4375rem;
  line-height: 3.4375rem;
}
.top-bar .toggle-topbar.menu-icon {
  right: 1.14583rem;
  top: 50%;
  margin-top: -16px;
  padding-left: 40px;
}
.top-bar .toggle-topbar.menu-icon a {
  height: 34px;
  line-height: 33px;
  padding: 0;
  padding-right: 25px;
  color: #4d4d4d;
  position: relative;
}
.top-bar .toggle-topbar.menu-icon a::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  top: 0;
  height: 0;
  box-shadow: 0 10px 0 1px #4d4d4d, 0 16px 0 1px #4d4d4d, 0 22px 0 1px #4d4d4d;
}
.top-bar.expanded {
  height: auto;
  background: transparent;
}
.top-bar.expanded .title-area {
  background: white;
}
.top-bar.expanded .toggle-topbar a {
  color: #dddddd;
}
.top-bar.expanded .toggle-topbar a span {
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}

.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  transition: left 300ms ease-out;
}
.top-bar-section ul {
  width: 100%;
  height: auto;
  display: block;
  background: white;
  font-size: 16px;
  margin: 0;
}
.top-bar-section .divider,
.top-bar-section [role="separator"] {
  border-top: solid 1px gray;
  clear: both;
  height: 1px;
  width: 100%;
}
.top-bar-section ul li > a {
  display: block;
  width: 100%;
  color: #4d4d4d;
  padding: 12px 0 12px 0;
  padding-left: 1.14583rem;
  font-family: "Open Sans", "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  background: white;
}
.top-bar-section ul li > a.button {
  background: #ff6d00;
  font-size: 0.8125rem;
  padding-right: 1.14583rem;
  padding-left: 1.14583rem;
}
.top-bar-section ul li > a.button:hover {
  background: #ba5000;
}
.top-bar-section ul li > a.button.secondary {
  background: #99cc00;
}
.top-bar-section ul li > a.button.secondary:hover {
  background: #88b600;
}
.top-bar-section ul li > a.button.success {
  background: #43ac6a;
}
.top-bar-section ul li > a.button.success:hover {
  background: #358854;
}
.top-bar-section ul li > a.button.alert {
  background: #f04124;
}
.top-bar-section ul li > a.button.alert:hover {
  background: #d42b0f;
}
.top-bar-section ul li:hover > a {
  background: #f2f2f2;
  color: #4d4d4d;
}
.top-bar-section ul li.active > a {
  background: #d9d9d9 !important;
  color: #595959;
}
.top-bar-section ul li.active > a:hover {
  background: #db5e00;
  color: white;
}
.top-bar-section .has-form {
  padding: 1.14583rem;
}
.top-bar-section .has-dropdown {
  position: relative;
}
.top-bar-section .has-dropdown > a:after {
  margin-right: 1.14583rem;
  margin-top: -4.5px;
  position: absolute;
  top: 50%;
  right: 0;
}
.top-bar-section .has-dropdown.moved {
  position: static;
}
.top-bar-section .has-dropdown.moved > .dropdown {
  display: block;
}
.top-bar-section .has-dropdown.moved > a:after {
  display: none;
}
.top-bar-section .dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  z-index: 99;
}
.top-bar-section .dropdown li {
  width: 100%;
  height: auto;
}
.top-bar-section .dropdown li a {
  font-weight: normal;
  padding: 8px 1.14583rem;
}
.top-bar-section .dropdown li a.parent-link {
  font-weight: normal;
}
.top-bar-section .dropdown li.title h5 {
  margin-bottom: 0;
}
.top-bar-section .dropdown li.title h5 a {
  color: #4d4d4d;
  line-height: 1.71875rem;
  display: block;
}
.top-bar-section .dropdown li.has-form {
  padding: 8px 1.14583rem;
}
.top-bar-section .dropdown li .button {
  top: auto;
}
.top-bar-section .dropdown label {
  padding: 8px 1.14583rem 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #777777;
  font-weight: bold;
  font-size: 0.625rem;
}

.js-generated {
  display: block;
}

@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: white;
    *zoom: 1;
    overflow: visible;
  }
  .top-bar:before, .top-bar:after {
    content: " ";
    display: table;
  }
  .top-bar:after {
    clear: both;
  }
  .top-bar .toggle-topbar {
    display: none;
  }
  .top-bar .title-area {
    float: left;
  }
  .top-bar .name h1 a {
    width: auto;
  }
  .top-bar input,
  .top-bar .button {
    font-size: 0.875rem;
    position: relative;
    top: 0.5rem;
  }
  .top-bar.expanded {
    background: white;
  }

  .contain-to-grid .top-bar {
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 0;
  }

  .top-bar-section {
    transition: none 0 0;
    left: 0 !important;
  }
  .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
  }
  .top-bar-section ul li {
    float: left;
  }
  .top-bar-section ul li .js-generated {
    display: none;
  }
  .top-bar-section li.hover > a:not(.button) {
    background: #f2f2f2;
    color: #4d4d4d;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 1.14583rem;
    line-height: 3.4375rem;
    background: white;
  }
  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #f2f2f2;
  }
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    padding: 0 1.14583rem;
    line-height: 3.4375rem;
    color: #595959;
    background: #d9d9d9 !important;
  }
  .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #db5e00;
  }
  .top-bar-section .has-dropdown.moved {
    position: relative;
  }
  .top-bar-section .has-dropdown.moved > .dropdown {
    display: none;
  }
  .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    display: block;
  }
  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    border: none;
    content: "\00bb";
    top: 1rem;
    margin-top: -2px;
    right: 5px;
    line-height: 1.2;
  }
  .top-bar-section .dropdown {
    left: 0;
    top: auto;
    background: transparent;
    min-width: 100%;
  }
  .top-bar-section .dropdown li a {
    color: #4d4d4d;
    line-height: 1;
    white-space: nowrap;
    padding: 12px 1.14583rem;
    background: white;
  }
  .top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #333333;
  }
  .top-bar-section .dropdown li .dropdown {
    left: 100%;
    top: 0;
  }
  .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    border-bottom: none;
    border-top: none;
    border-right: solid 1px white;
    clear: none;
    height: 3.4375rem;
    width: 0;
  }
  .top-bar-section .has-form {
    background: white;
    padding: 0 1.14583rem;
    height: 3.4375rem;
  }
  .top-bar-section .right li .dropdown {
    left: auto;
    right: 0;
  }
  .top-bar-section .right li .dropdown li .dropdown {
    right: 100%;
  }
  .top-bar-section .left li .dropdown {
    right: auto;
    left: 0;
  }
  .top-bar-section .left li .dropdown li .dropdown {
    left: 100%;
  }

  .no-js .top-bar-section ul li:hover > a {
    background: #f2f2f2;
    color: #4d4d4d;
  }
  .no-js .top-bar-section ul li:active > a {
    background: #d9d9d9 !important;
    color: #595959;
  }
  .no-js .top-bar-section .has-dropdown:hover > .dropdown {
    display: block;
  }
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
a {
  color: #3499ff;
  text-decoration: none;
  line-height: inherit;
}
a:hover, a:focus {
  color: #0983ff;
}
a img {
  border: none;
}

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}
p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #4d4d4d;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #8b8b8b;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.subheader {
  line-height: 1.4;
  color: #8b8b8b;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bd260d;
}

/* Lists */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

ul {
  margin-left: 1.1rem;
}
ul.no-bullet {
  margin-left: 0;
}
ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
ol {
  margin-left: 1.4rem;
}
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* Definition Lists */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
dl dd {
  margin-bottom: 0.75rem;
}

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #595959;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

abbr {
  text-transform: none;
}

/* Blockquotes */
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd;
}
blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #767676;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
  color: #767676;
}

blockquote,
blockquote p {
  line-height: 1.6;
  color: #8b8b8b;
}

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #dddddd;
  padding: 0.625rem 0.75rem;
}
.vcard li {
  margin: 0;
  display: block;
}
.vcard .fn {
  font-weight: bold;
  font-size: 0.9375rem;
}

.vevent .summary {
  font-weight: bold;
}
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625rem;
}

@media only screen and (min-width: 40.063em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
.print-only {
  display: none !important;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .hide-on-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  .show-for-print {
    display: inherit !important;
  }
}
body {
  background-color: #F7F7F7;
}

header {
  box-shadow: 0px 1px 2px #888888;
}
header nav.top-bar {
  padding: 0 0.9375rem;
}
header nav.top-bar .title-area, header nav.top-bar .postlogin {
  line-height: 3;
}

.catalog-page {
  background-color: #fff;
  box-shadow: 0 0 50px #BEBEBE;
  margin-top: -0.125rem;
}

.index-page {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.head h1 {
  padding: 2.8125rem 0 1.375rem;
  color: #A8A9AE;
  font-size: 2.0625rem;
  font-weight: bold;
}
@media screen and (min-width: 640px) {
  .head h1 {
    font-size: 2.75rem;
  }
}

label {
  text-transform: capitalize;
}

.cancel-add-new, .add-new {
  padding: 0.75rem 0 0.75rem 0.1875rem !important;
  font-size: 0.6875rem;
  color: #6D95FC;
  cursor: pointer;
}
.cancel-add-new:hover, .add-new:hover {
  color: #1A5BFF;
}

i.err {
  color: #F30101;
  font-size: 0.875rem;
}

i.msg {
  font-size: 0.6875rem;
}

.chosen-container-single {
  margin-bottom: 1rem;
}

.twitter-typeahead {
  width: 100%;
}

.tt-dropdown-menu {
  background-color: white;
  border: 1px solid #ddd;
  border-top: 0;
  text-transform: none;
  text-align: left;
  width: 100%;
}

.tt-hint {
  background-color: white !important;
}
.tt-hint.searchterm, .tt-hint.searchlocation {
  position: relative;
  top: 7px !important;
}

.tt-suggestions {
  overflow: hidden;
}
.tt-suggestions p {
  margin-bottom: 0;
}

.tt-suggestion {
  padding: 5px;
  border-top: 1px solid #f2f2f2;
}

.tt-cursor {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

#image-croper-modal {
  width: 34.375rem;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  border-radius: 5px;
}

@media only screen and (max-width: 40em) {
  #image-croper-modal.reveal-modal {
    min-height: 10px !important;
  }
}
#image-croper-modal a.close-reveal-modal {
  font-size: 1.5625rem;
}

.modal-header p.lead {
  padding: 3px;
  margin: 0;
  color: #777;
}

.first-hr {
  margin-top: 0;
}

.last-hr {
  margin: 0;
}

.modal-content-inner {
  padding: 0;
  width: 100%;
}

.modal-footer {
  padding: 0.625rem 0;
}

button {
  margin-bottom: 0;
  box-shadow: #bbbfc2 0px 1px;
}

.modal-footer .cancel-crop {
  background: #C8C8C8;
  color: #545454;
  margin-right: 0.625rem;
}

button.upload-btn {
  padding: 0.3125rem 0.5625rem;
  font-size: 0.8125rem;
  background-color: #5292F7;
}
button.upload-btn:hover {
  background-color: #3875d7;
}

#submit-btn {
  padding: 0.625rem 1.25rem;
}

#upload-btn-count {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 0.125rem 0;
  margin-top: 0.625rem;
}

.photo-counter {
  font-size: 0.875rem;
  color: #777;
}

.upload-gallery {
  overflow: hidden;
  position: relative;
  width: 100%;
  white-space: nowrap;
}
.upload-gallery .upload-gallery-inner {
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  width: 100%;
}
.upload-gallery .thumbnail-holder {
  height: 4.6875rem;
  width: 6.25rem;
  overflow: hidden;
  display: inline-block;
  margin: 0 0.125rem 0.0625rem;
  border: 1px solid #eee;
  border-radius: 0.125rem;
  padding: 0.125rem;
}
.upload-gallery .thumbnail-holder img {
  max-height: 100%;
  height: 4.6875rem;
  margin: 0;
}

textarea {
  resize: none;
  height: 7.5rem;
}

.cropit-image-preview {
  /* You can specify preview size in CSS */
  /* background-color: #aaa;*/
  background-size: cover;
  border: 1px dashed #ccc;
  margin-top: 7px;
  width: 500px;
  height: 350px;
  cursor: move;
}

/* Translucent background image */
.cropit-image-background {
  opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
input.cropit-image-zoom-input {
  position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
  overflow: hidden;
}

input.cropit-image-zoom-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 50%;
  margin: 25px auto 40px;
  border: 0;
  border-radius: 0.3125rem;
  height: 0.4375rem;
  height: 7px;
  background-color: #e1e8ed;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
  outline: none;
}

input.cropit-image-zoom-input::-moz-focus-outer {
  border: 0;
}

.cropit-image-zoom-input::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}

.cropit-image-zoom-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #c5c5c5;
  background: linear-gradient(white, #e0e0e0);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  -ms-transition: background 0.25s;
  transition: background 0.25s;
}

.cropit-image-zoom-input::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: 1px solid #c5c5c5;
  background: linear-gradient(white, #e0e0e0);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  -ms-transition: background 0.25s;
  transition: background 0.25s;
}

.form-section {
  margin: 0 0 2.1875rem;
  border: 1px solid #ccc;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 4px #ddd;
}
.form-section .form-section-head {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  margin: 0;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  border-bottom: 1px solid #ccc;
  background: #f2f2f2;
  color: #333;
  font-weight: bold;
}
.form-section .form-section-body {
  border-top: none;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
