﻿@{
        Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    string title = "VConnect : Largest Local Search Engine &amp; Information Service Provider in Nigeria | Nigeria's No. 1 Local Search Engine | Call 070 0000 8888 ";//your page title
    string description = "VConnect is the largest &amp; No. 1 local search engine in Nigeria. VConnect is one of the popular tele search &amp; information service provider in Nigeria. More than 250,000 businesses are listed on VConnect; a Nigeria's No. 1 Local Search Engine. People Can find information about any product, service or company listed in this portal. Call to 070 0000 8888 to get more information.";
    string keyword = "vconnect, local search engine, information service provider, vconnect nigeria, local search nigeria, No. 1 local search engine, No.1 business directory, nigeria directory, nigeria business directory, business directories nigeria, nigeria business search, 07000008888, nigeria search engine, business search engine, Lagos local search, abuja local search, local nigeria information, local business, tele search nigeria";
 }
@section title{@title}
@section  description{@description}
@section keyword{@keyword}
            <div class="verification-heading-bg heading-bg-box">
              <section class="verification-heading heading-box">
               <div class="row signup">
                  <div class="medium-12 columns text-center">
                    <h1 class="nexa-bold on-image">Email Verification</h1>
                  </div>
                </div>   
                   <div class="row">
                   <div class="alerts">       
      @if (@ViewBag.Msg != null)
      {
          <div data-alert class="alert-box">
                        <!-- Your content goes here -->
                         @ViewBag.Msg
                        <a href="#" class="close">&times;</a>
           </div>
      }
       else if (ViewBag.Message == "1")
       {
           <div data-alert class="alert-box error">
                         User doesnot exists
                         <a href="#" class="close">&times;</a>
          </div>          
       }
       else if (ViewBag.Message == "2")
       {
          <div data-alert class="alert-box error">
                         Verification code does not match
                         <a href="#" class="close">&times;</a>
          </div>   
       }
      else if (ViewBag.Message == "3")
      {
          <div data-alert class="alert-box error">
                         Already verified, please login
                         <a href="#" class="close">&times;</a>
          </div>   
      }
      else
      {
      @*<div id="ctl00_cphMiddleContainer_divMsg" runat="server" style="margin: 10px;">&nbsp;</div>  *@
      }
                </div>   
                      </div>  
              </section>
            </div>
                     @if (Request.QueryString["resend"] != "" || Request.QueryString["resend"] != null)
                     {
                         <section class="verification-content row">
              <div class="columns medium-6 medium-centered">
                <div class="form-3"><form method="post">
                    @if (ViewBag.Message == "0")
                    {
                        <p style="text-align:center;">Verification was successful, <a href="@Url.Action("Login", "Account")" >Click Here</a> to login to Vconnect.</p>                 
                    }
                    else if (ViewBag.Message == "1")
                    {
                        <p style="text-align:center;"><img src="@Html.Raw(Vconnect.Common.MyGlobalVariables.Staticimage + "BOdashboard/bo-warning.png")" /> Error></p>
                    }
                    else if (ViewBag.Message == "2")
                    {
                      <p style="text-align:center;"><img src="@Html.Raw(Vconnect.Common.MyGlobalVariables.Staticimage + "BOdashboard/bo-warning.png")" /> Error></p>
                    }
                    else if (ViewBag.Message == "3")
                    {
                       <p style="text-align:center;"><img src="@Html.Raw(Vconnect.Common.MyGlobalVariables.Staticimage + "BOdashboard/bo-warning.png")" /> Error></p>
                    }
                    else
                    {
                     <p>An activation link has been sent to your email address. You need to activate your account via that link to gain access.</p>                 
                     <p>Didn't get the email? <a href='@Url.Action("ThankYou", "UserReg", new { verificationcode = Request.QueryString["verificationcode"], password = Request.QueryString["password"], loginid = Request.QueryString["loginid"], resend = Request.QueryString["resend"], name = Request.QueryString["name"], userid = Request.QueryString["userid"], clickmail = "email" })'>Click Here</a> to resend it.</p>                       
                    }
                 </form>
                </div>
              </div>             
            </section>
            
                     }
                     else
                     {
                       <section class="verification-content row">
              <div class="columns medium-6 medium-centered">
                <div class="form-3">
                  <p>Thank You! This email address has already been verified.</p>
                </div>
              </div>             
            </section>
                          
                     }        
        <script>
            function fnclickhere()
            {
                debugger;
                $.getJSON({
                    cache: false,                   
                    //contentType: "application/json; charset=utf-8",
                    type: "POST",
                    url: '/UserReg/ThankYou'
                 });

            }
        </script>
    