﻿@model Vconnect.Models.UserReg.UserRegWeb
@using System.Configuration
@{
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    string title = "Register as User |  VConnect™";//your page title
    string description = "Register as User and get all updates from VConnect™";
    string keyword = "User registration, register as user";
    string WAPRootPath = ConfigurationManager.AppSettings["WAPRootPath"].ToString();
    string WEBRootPath = ConfigurationManager.AppSettings["WebsiteRootPath"].ToString();
    string canonical = WEBRootPath + "userregistration";
    string linkAlternatemedia = WAPRootPath + "userregistration";
    string linkAlternatehandheld = WAPRootPath + "userregistration";
}
@section title{@title}
@section  description{@description}
@section keyword{@keyword}
@section header
{    
<link rel="canonical" href="@canonical" />
<link rel="alternate" media="only screen and (max-width: 640px)" href="@linkAlternatemedia" />
<link rel="alternate" media="handheld" href="@linkAlternatehandheld" />
}
<script lang="javascript" type="text/javascript">

    function isNumberKey(evt) {
        // debugger;
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
<script lang="javascript" type="text/javascript">
    $(document).ready(function () {        
        $("#email").change(function (evt) {
            var x = document.getElementById('email').value;
            var atpos = x.indexOf("@@");
            var dotpos = x.lastIndexOf(".");
            debugger;
            if ((atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) && atpos>1) {
                document.getElementById("MsgtxtEmail").innerHTML = 'invaild Email-Id';
                document.getElementById('MsgtxtEmail').style.color = 'white';
                document.getElementById('MsgtxtEmail').style.display = 'block';
            }
            else {
                document.getElementById("MsgtxtEmail").innerHTML = '';
                document.getElementById('MsgtxtEmail').style.display = 'none';
            }
            if (x == "") {
                document.getElementById("MsgtxtEmail").innerHTML = '';
                document.getElementById('MsgtxtEmail').style.display = 'none';
            }
        });
    });
</script>

    <div class="login-heading-bg">
        <section class="login-heading">
            <div class="row">
                <div class="medium-12 columns text-center">
                    <h1 class="nexa-bold on-image">Signup for a VConnect Account</h1>
                </div>
            </div>
            <div class="row">
                <div class="alerts">
                    @if (ViewBag.Msg != null)
                    {
                        <div data-alert class="alert-box error">
                            @ViewBag.Msg
                            <a href="#" class="close">&times;</a>
                        </div>  
                    }
@*else if (Model.SuccessMessage != null)
      {
          <div data-alert class="alert-box">
                        <!-- Your content goes here -->
                        @Html.DisplayFor(model => model.SuccessMessage)
                        <a href="#" class="close">&times;</a>
           </div>
      }*@
                    else if (Model.MessageError == "ForgetPassord")
                    {
                        <div data-alert class="alert-box warning">
                            Login ID already in use. Forgot your password?<a href="@Url.Action("ForgotPassword", "Account")">Click here</a> to retrieve your credentials.
                 <a href="#" class="close">&times;</a>
                        </div>
                    }
                    else if (Model.MessageError != null)
                    {
                        <div data-alert class="alert-box error">@Html.Raw(Model.MessageError)
                            @*@Html.DisplayFor(model => model.MessageError)*@
                            <a href="#" class="close">&times;</a>
                        </div>
                    }
                    else
                    {
@*<div id="ctl00_cphMiddleContainer_divMsg" runat="server" style="margin: 10px;">&nbsp;</div>  *@
                    }
                </div>
            </div>
        </section>
    </div>
    <section class="signup-content row">

        <div class="columns medium-4 social-buttons">
            @{
                if(Request.RawUrl.Contains("$description="))
                {
                string url=Request.RawUrl.Replace('$','&');
                Response.Redirect(url);
                }
                else
                {

            if (Request.QueryString["rturl"] != null)
            {
                if (Request.QueryString["bid"] != null && Request.QueryString["bid"].ToString().Trim() != "" && Request.QueryString["br"] != null && Request.QueryString["bid"].ToString().Trim() != "")
                {
                    using (Html.BeginForm("Facebook", "Account", new { rturl = Request.QueryString["rturl"] + "&bid=" + Request.QueryString["bid"] + "&br=br", provider = "Facebook" }, FormMethod.Post))
                    {
                <button class="button-fb icon" title="Log in using your Facebook account" value="Facebook" name="provider" type="submit"><i class="icon-facebook"></i>Login with Facebook</button>
                    }
                }
                else
                {
                    using (Html.BeginForm("Facebook", "Account", new { rturl = Request.QueryString["rturl"], provider = "Facebook" }, FormMethod.Post))
                    {
                <button class="button-fb icon" title="Log in using your Facebook account" value="Facebook" name="provider" type="submit"><i class="icon-facebook"></i>Login with Facebook</button>
                    }
                }

                if (Request.QueryString["bid"] != null && Request.QueryString["bid"].ToString().Trim() != "" && Request.QueryString["br"] != null && Request.QueryString["bid"].ToString().Trim() != "")
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new { rturl = Request.QueryString["rturl"] + "&bid=" + Request.QueryString["bid"] + "&br=br" }, FormMethod.Post))
                    {
                <button class="button-tw icon" title="Log in using your Twitter account" value="twitter" name="provider" type="submit"><i class="icon-twitter"></i>Login with Twitter</button>

                  <a class="button-gplus icon" href="https://accounts.google.com/o/oauth2/auth?response_type=code&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.google.com/m8/feeds/contacts/default/full&redirect_uri=@(ConfigurationManager.AppSettings["gmailredirecturlOnView"].ToString().Trim())&client_id=@(ConfigurationManager.AppSettings["gmailclientid"].ToString().Trim())&state=%2Fprofile&rturl=@(Request.QueryString["rturl"].ToString().Trim())&bid=&rturl=@(Request.QueryString["bid"].ToString().Trim())&br=&rturl=@(Request.QueryString["br"].ToString().Trim())"><i class="icon-gplus"></i>Login with Google+</a>
                    }
                }
                else
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new { rturl = Request.QueryString["rturl"] }, FormMethod.Post))
                    {
                <button class="button-tw icon" title="Log in using your Twitter account" value="twitter" name="provider" type="submit"><i class="icon-twitter"></i>Login with Twitter</button>

                @*<button class="button-gplus icon" title="Log in using your Google account" value="google" name="provider" type="submit"><i class="icon-gplus"></i>Login with Google+</button>*@
               <a class="button-gplus icon" href="https://accounts.google.com/o/oauth2/auth?response_type=code&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.google.com/m8/feeds/contacts/default/full&redirect_uri=@(ConfigurationManager.AppSettings["gmailredirecturlOnView"].ToString().Trim())&client_id=@(ConfigurationManager.AppSettings["gmailclientid"].ToString().Trim())&state=%2Fprofile&rturl=@(Request.QueryString["rturl"].ToString())"><i class="icon-gplus"></i>Login with Google+</a>
                    }
                }
            }
            else
            {
                using (Html.BeginForm("Facebook", "Account", FormMethod.Post))
                {
                <button class="button-fb icon" title="Log in using your Facebook account" value="Facebook" name="provider" type="submit"><i class="icon-facebook"></i>Login with Facebook</button>
                }

                using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post))
                {
                <button class="button-tw icon" title="Log in using your Twitter account" value="twitter" name="provider" type="submit"><i class="icon-twitter"></i>Login with Twitter</button>

                @*<button class="button-gplus icon" title="Log in using your Google account" value="google" name="provider" type="submit"><i class="icon-gplus"></i>Login with Google+</button>*@
                     <a class="button-gplus icon" href="https://accounts.google.com/o/oauth2/auth?response_type=code&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.google.com/m8/feeds/contacts/default/full&redirect_uri=@(ConfigurationManager.AppSettings["gmailredirecturlOnView"].ToString().Trim())&client_id=@(ConfigurationManager.AppSettings["gmailclientid"].ToString().Trim())&state=%2Fprofile"><i class="icon-gplus"></i>Login with Google+</a>
                }
            }
            }
            }
            @*<a href="#" class="button button-fb">Login with Facebook</a>
                <a href="#" class="button">Login with Twitter</a>
                <a href="#" class="button">Login with Google+</a>*@
        </div>
        <input type="text" style="display: none;" id="hidvaluetext">
        <div class="columns medium-8 content">
            <div class="signup-box align-form-elements">
                <form method="post" data-abide>
                    <div class="row">
                        <div class="columns medium-6">
                            <label for="fname">First Name <small>Required</small></label>
                            @Html.TextBoxFor(model => model.txtName, new { id = "fname", @maxlength = "50", @placeholder = "First Name", @data_invalid = "", @required = "" })
                            @*<input id="fname" type="text" placeholder="First Name" required>*@
                            <small class="error">Enter your first name</small>
                        </div>
                        <div class="columns medium-6">
                            <label for="sname">Surname <small>Required</small></label>
                            @Html.TextBoxFor(model => model.surname, new { id = "sname", @maxlength = "50", @placeholder = "Surname", @data_invalid = "", @required = "" })
                            @* <input id="sname" type="text" placeholder="Surname" required>*@
                            <small class="error">Enter your surname</small>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label for="email">Email <small>Required</small></label>
                        @Html.TextBoxFor(model => model.txtEmail, new { id = "email", @maxlength = "60", @placeholder = "Email", @pattern = "email", @data_invalid = "", @required = "" })
                        <small id="MsgtxtEmail" class="error">Enter a valid email address</small>
                    </div>
                    <!-- <div class="input-wrapper">
                      <label for="phone">Phone number</label>
                      <input id="phone" type="text" placeholder="Phone number" pattern="number">
                      <small class="error">Enter a valid phone number</small>
                    </div> -->
                    <div class="input-wrapper">
                        <label for="password">Password <small>Required</small></label>
                        @Html.PasswordFor(model => model.txtPassword, new { id = "password", @pattern = ".{6,64}", @maxlength = "64", @placeholder = "Password", @required = "" })
                        @*<input id="password" type="password" placeholder="Password" required>*@
                        <small class="error">Enter a valid password (at least 6 characters)</small>
                    </div>
                    <div class="input-wrapper">
                        <label for="cpassword">Confirm Password <small>Required</small></label>
                        @Html.PasswordFor(model => model.txtConfirmPassword, new { id = "cpassword", @maxlength = "64", @placeholder = "Confirm Password", @required = "", @data_equalto = "password" })
                        @*<input id="cpassword" type="password" placeholder="Confirm Password" data-equalto="password" style="visibility:hidden;"  required>*@
                        <small class="error">Enter your password here again</small>
                    </div>
                    <div class="input-wrapper">
                        <label for="tac">@Html.CheckBoxFor(model => model.ConditionaValue, new { @required = "", id = "tac" }) I have read and agree with the <a href="@Url.Action("termscondition", "userreg")">terms and conditions</a></label>
                        @* <label for="tac"><input type="checkbox" id="tac" required> I have read and agree with the <a href="#">terms and conditions</a></label>*@
                    </div>
                    <input class="button" type="submit" value="Signup">
                    <strong>OR</strong>
                    @*<a href='@Url.Action("Login", "Account")'>Go to login page</a>*@
                    @Html.ActionLink("Go to login page", "Login", "Account", new { }, new { id = "returnParam" })
                    @* <a href="#">Go to login page</a>*@
                </form>
            </div>
        </div>

    </section>

<!-- Wrapper ends -->
<script>
            @if (Request.Url.AbsoluteUri.ToString().IndexOf("rturl") != -1)
            {
                string returnurl = Request.Url.AbsoluteUri.ToString().Substring(Request.Url.AbsoluteUri.ToString().IndexOf("rturl"));
                <Text>
    var value = $("#returnParam").attr("href");
    $("#returnParam").attr("href", value + '?' + '@returnurl');
    </Text>
            }       

</script>
