﻿@model Vconnect.Models.CategoryListWebModel
@using System.Configuration;
@using System.Globalization;
@{
    string title = string.Empty;
    string description = string.Empty;
    string keyword = string.Empty;


    if (Model != null)
    {
        if (System.Web.HttpContext.Current.Request.RawUrl.ToLower().IndexOf("/all_categories_cl0") != -1)
        {
            title = "Browse All Categories Alphabetically in " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.SearchLocation);
            description = "Browse all Categories alphabetically in  " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.SearchLocation) + " on VConnect™ – the trusted local business directory of Nigeria.";
            keyword = "All Categories in " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.SearchLocation);

        }
        else
        {

            string currentCategory = System.Web.HttpContext.Current.Request.RawUrl.ToLower();
            currentCategory = currentCategory.Substring(currentCategory.LastIndexOf('/') + 1);
            currentCategory = currentCategory.Substring(0, currentCategory.LastIndexOf("_")).Replace("-", " ");

            title = "Get " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(currentCategory) + " Listing Online in " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.SearchLocation.Replace("-", " ").Replace("_", " ")) + " |VConnect™";
            description = "Looking for " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(currentCategory) + " business listing details in " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.SearchLocation.Replace("-", " ").Replace("_", " ")) + " .Find " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(currentCategory) + " business details on VConnect™";
            keyword = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(currentCategory) + " in " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.SearchLocation.Replace("-", " ").Replace("_", " ")) + ", " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(currentCategory) + " business in " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.SearchLocation.Replace("-", " ").Replace("_", " ")) + ", list of " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(currentCategory) + " in " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.SearchLocation.Replace("-", " ").Replace("_", " "));
        }
    }
    string canonical = HttpContext.Current.Request.Url.ToString();
    Layout = "~/Views/Shared/_WebMainMasterNew.cshtml";
    string WAPRootPath = ConfigurationManager.AppSettings["WAPRootPath"].ToString();
    string linkAlternatemedia = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    string linkAlternatehandheld = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
}

@section title{@title}
@section  description{@description}


@section keyword{@keyword}

@section header
{<link rel="canonical" href="@canonical" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="@linkAlternatemedia" />
    <link rel="alternate" media="handheld" href="@linkAlternatehandheld" />
}





<div class="listing-heading-bg">
    <section class="listing-heading row">
        <ul class="breadcrumbs right listing-breadcrumb">

            @if (@Model.CategoryList.FirstOrDefault().breadcrumb != null)
            {
                
                <li><a href="/">Home</a> / @Html.Raw(@Model.CategoryList.FirstOrDefault().breadcrumb)</li>
                    
             
            }
        </ul>
    </section>
</div>



@*<link href="~/Content/search-listing.css" rel="stylesheet" />*@


<div class="drilldown-container">
    <div class="drilldown-heading row">
        <div class="columns medium-12">
            <!-- <h5>Change your location below:</h5>
						<form action="./">
							<div class="row">
								<div class="columns medium-6">
									<div class="row collapse">
										<div class="columns medium-10"><input type="text" placeholder="Select location..."></div>
										<div class="columns medium-2"><input class="postfix button" type="submit" value="Go"></div>
									</div>
								</div>
							</div>
						</form> -->
            <h4>Refine your search for <span class="red">@Model.SearchText.Replace("-", " ").Replace("_", " ")</span> by clicking any of the links below:</h4>
        </div>
    </div>

    <div class="drilldown-listing row">
        <div class="columns medium-12">
            <!-- There are no results in that location. -->
            <ul class="medium-block-grid-3">

                @foreach (var obj in Model.CategoryList)
                {
                     
                    if (HttpContext.Current.Request.RawUrl.ToLower().IndexOf("/list-of-") == -1)
                    {
                    <li>
                        <a href='/@obj.url' >@obj.categoryname</a>
                    </li>
                    }
                    else
                    {
                     <li>
                        <a href='/@Model.SearchLocation/@obj.url' >@obj.categoryname</a>
                    </li>
                    }

                }

            </ul>
        </div>
    </div>
    <div class="clear"></div>

</div>

@*PYR Form STARTS @Html.Partial("~/Views/Shared/_WebPyrPartial.cshtml",Model.pyrModel) *@

