﻿@model Vconnect.Models.CategoryListWebModel


@{  
  Layout = "~/Views/Shared/_WebMainMaster.cshtml";
   
}

 <script> function showBanner() {
     $.get('/SearchListWeb/GetBanner', { Keyword: 'car', Location: "@Model.SearchLocation", bizid: '36068,294,160600,223217,125397,188198' },
       function (data) {
           //debugger;
           //alert("in");
           for (var cd in data) {
               //data[cd][""]
               if (data[cd].membership == 50) {
                   var div = '<div><img src="http://www.images.vconnect.co/resource/' + data[cd]["banner"] + '"  alt="ad" /></div>';
                   $('#rightbanner50').html(div);
               }
               else if (data[cd].membership == 40) {
                   var div = '<div><img src="http://www.images.vconnect.co/resource/' + data[cd]["banner"] + '"  alt="ad" /></div>';
                   $('#rightbanner40').html(div);
               }
               else if (data[cd].membership == 30) {
                   var div = '<div><img src="http://www.images.vconnect.co/resource/' + data[cd]["banner"] + '"  alt="ad" /></div>';
                   $('#rightbanner30').html(div);
               }
               else if (data[cd].membership == 9) {
                   var div = '<div><img src="http://www.images.vconnect.co/resource/' + data[cd]["banner"] + '"  alt="ad" /></div>';
                   $('#topbanner').html(div);
               }
           }
       })
 }
 $(window).load(function () {
     //debugger;
     showBanner();
 });    </script>
@*<link href="~/Content/search-listing.css" rel="stylesheet" />*@
@*PYR Form STARTS*@
@Html.Partial("~/Views/Shared/_WebPyrPartial.cshtml",Model.pyrModel)
<div class="suplier-list" style="width: 90%; margin: 0 auto;">

    <div class="suplierhd" style="width:75%">Quick Search</div>
   <div class="left-area">
    <ul class="listsup" style="padding: 0px;width:95%">

        @foreach (var obj in Model.CategoryList)
        {
            <li>
                <a href='/@obj.url' > @obj.categoryname</a>
                @*@Html.ActionLink(obj.categoryname, "ItemlistactionWEB", new { id = obj.categoryid, keyword = obj.categoryname, location = Model.searchBarWebModel.SearchLocation  })*@
            </li>
        }

    </ul>
       </div>
     <div class="right-area">          
            
            <div id="rightbanner50"></div>
            <div id="rightbanner40"></div>
            <div id="rightbanner30"></div>
        </div>
    <div class="clear"></div>
</div>
