﻿
<div class="how-container-bg">
    <section class="how-container row text-center">
        <h3 class="nexa">How does VConnect work?</h3>
        <div class="how-step columns medium-4">
            <img src="~/img/Gift-Box-120x120.png" alt="search">
            <h4>Search</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, culpa dolorum a molestias sed ducimus tenetur quas illo corrupti accusamus nemo doloremque molestiae qui ut dolore odio eveniet deserunt aspernatur!</p>
        </div>
        <div class="how-step columns medium-4">
            <div class="text-center">
                <img src="~/img/book-read-120x120.png" alt="search">
                <h4>Recommend</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, culpa dolorum a molestias sed ducimus tenetur quas illo corrupti accusamus nemo doloremque molestiae qui ut dolore odio eveniet deserunt aspernatur!</p>
        </div>
        <div class="how-step columns medium-4">
            <div class="text-center">
                <img src="~/img/disscusion-120x120.png" alt="search">
                <h4>Share</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, culpa dolorum a molestias sed ducimus tenetur quas illo corrupti accusamus nemo doloremque molestiae qui ut dolore odio eveniet deserunt aspernatur!</p>
        </div>
    </section>
</div>
<section class="footer-banner">
    <!-- Place footer banner advertisement here -->
    @if (ViewBag.sRandomfooterbanner == "1")
    {

        <a target="_blank" href="http://bit.ly/nokialumia_VC">
            <img src="~/img/etisalat.jpg"
                alt="etisalat" />
        </a>
    }
    else
    {

        <a href="http://www.lufthansa.com/ng/en/Homepage?WT.mc_id=ng_tellafriend" target="_blank">
            <img src="~/img/footer-banner-2.jpg" alt="Footer Banner">
        </a>
    }
</section>
<div class="app-promo-bg">
    <section class="app-promo row">
        <div class="columns medium-3">
            <img src="~/img/mobile_devices.png" alt="App screenshots">
        </div>
        <div class="app-promo-description columns medium-9">
            <h3 class="nexa">Connect on the go.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, vel, cumque. Animi, quis id. Possimus, minus, voluptate, vero quas amet natus neque repellat tenetur aut quae molestiae fugiat deleniti porro.</p>
            <a href="https://itunes.apple.com/us/app/vconnect.com/id699407319?ls=1&mt=8" class="appstore-btn">
                <img src="~/img/appstore-button.png" alt="AppStore"></a>
            <a href="https://play.google.com/store/apps/details?id=com.vconnect.view&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS52Y29ubmVjdC52aWV3Il0." class="gplay-btn">
                <img src="~/img/googleplay-button.png" alt="Google Play"></a>
            <a href="http://appworld.blackberry.com/webstore/content/27314117/" class="bbapp-btn">
                <img src="~/img/blackberryapp-button.png" alt="Blackberry App World"></a>
        </div>
    </section>
</div>
<div class="bcorner-container-bg">
    <section class="bcorner-container row text-center">
        <h3>Connect your business in three easy steps.</h3>
        <div class="business-step columns medium-4">
            <img src="~/img/lab-small.png" alt="">
            <h4>Register</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, inventore, id, vel, repudiandae aperiam totam quod temporibus adipisci omnis magnam rem necessitatibus maiores unde harum facere nobis animi. Fugit, eos.</p>
            <a href="/businessregistration" class="button-red">Register a Business</a>
        </div>
        <div class="business-step columns medium-4">
            <img src="~/img/lab-small.png" alt="">
            <h4>Claim</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, inventore, id, vel, repudiandae aperiam totam quod temporibus adipisci omnis magnam rem necessitatibus maiores unde harum facere nobis animi. Fugit, eos.</p>
            <a href="@Url.Action("WebIndex", "ClaimBusiness")" class="button-red">Claim Your Business</a>
        </div>
        <div class="business-step columns medium-4">
            <img src="~/img/lab-small.png" alt="">
            <h4>Advertise</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, inventore, id, vel, repudiandae aperiam totam quod temporibus adipisci omnis magnam rem necessitatibus maiores unde harum facere nobis animi. Fugit, eos.</p>
            <a href="http://www.vconnect.com/pages/static/advertwithus.aspx" class="button-red">Advertise with us</a>
        </div>
    </section>
</div>
<div class="featured-media-bg">
    <section class="featured-media row text-center">
        <h3 class="nexa">Vconnect In Media</h3>
        <ul class="medium-block-grid-6">
            <li><a href="http://www.vconnect.com/pages/static/pressrelease.aspx">
                <img src="~/img/lab-client1.gif" alt="image"></a></li>
            <li><a href="http://www.vconnect.com/pages/static/pressrelease.aspx">
                <img src="~/img/lab-client2.gif" alt="image"></a></li>
            <li><a href="http://www.vconnect.com/pages/static/pressrelease.aspx">
                <img src="~/img/lab-client3.gif" alt="image"></a></li>
            <li><a href="http://www.vconnect.com/pages/static/pressrelease.aspx">
                <img src="~/img/lab-client4.gif" alt="image"></a></li>
            <li><a href="http://www.vconnect.com/pages/static/pressrelease.aspx">
                <img src="~/img/lab-client5.gif" alt="image"></a></li>
            <li><a href="http://www.vconnect.com/pages/static/pressrelease.aspx">
                <img src="~/img/lab-client6.gif" alt="image"></a></li>
        </ul>
    </section>
</div>

