﻿@model Vconnect.Models.HomeModel
@using System.Configuration;
@using Vconnect.Common
@using System.Text.RegularExpressions;
@{    
    UserSession objUS = new UserSession();
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    string title = string.Empty;
    string description = string.Empty;
    string keyword = string.Empty;
    string homeLocation = Model.SearchLocation, metaLocation = "Nigeria";
    string WAPRootPath = ConfigurationManager.AppSettings["WAPRootPath"].ToString();
    string WEBRootPath = ConfigurationManager.AppSettings["WebsiteRootPath"].ToString();
    string WebsiteRawPath = ConfigurationManager.AppSettings["WebsiteRawPath"].ToString();
    string curl = System.Web.HttpContext.Current.Request.Url.ToString();
    string strBusinessUrl = "", imageTag = "";
    string CannoicalPath = WEBRootPath;
    string[,] bannerArray = new string[3, 3];
    string linkAlternatemedia = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    string linkAlternatehandheld = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    string robots = "index, follow";
    int firstPostion = 0;
    int secondPostion = 0;
    int thirdPostion = 0;
    int footerpostion = 0;
    string strRegex1 = @"(?i)(?<=href=\"").+(?=\"")";    //regex needs to be case-insensitive, do NOT make it case sensitive
    string strRegex2 = @"(?i)(?<=src=\"").+(?=\"")";    //do NOT make it case sensitive
    if (System.Web.HttpContext.Current.Request.Url != null)
    {
        TempData["sourcehome"] = System.Web.HttpContext.Current.Request.Url.ToString().ToLower().Trim();
    }

    if (Request.UrlReferrer != null)
    {
        TempData["previoushome"] = Request.UrlReferrer.ToString().ToLower().Trim();
    }
    string sourceurl = string.Empty; string previousurl = string.Empty;
    
    
    if (System.Web.HttpContext.Current.Request.Url != null)
    {
        try
        {sourceurl = System.Web.HttpUtility.HtmlEncode(System.Web.HttpContext.Current.Request.Url.ToString().ToLower().Trim());}
        catch { }
    }     
    if (Request.UrlReferrer != null)
    {
        try
        { 
            previousurl = System.Web.HttpUtility.HtmlEncode(Request.UrlReferrer.ToString().Replace("&#", "").ToLower().Trim());
            if (previousurl.Length > 50)
            { previousurl = previousurl.Substring(0, 50); }
        }
        catch { }
    }

    // sourceurl = TempData.Peek("source") != null ? TempData.Peek("source").ToString() : "";
    // previousurl = TempData.Peek("previous") != null ? TempData.Peek("previous").ToString() : "";

    //TempData.Keep("sourcehome");
    //TempData.Keep("previoushome");
        
    
    if (Request.Cookies.AllKeys.Contains("vcSelectedLocation") && Request.Cookies["vcSelectedLocation"] != null)
    {
        homeLocation = Request.Cookies["vcSelectedLocation"].Value.ToLower();
    }
    if (System.Web.HttpContext.Current.Request.RawUrl.ToLower().IndexOf(".html") != -1)
    {
        metaLocation = Utility.ToTitleCase(homeLocation.Replace("-", " ").Replace("_", " "));
        CannoicalPath = (WEBRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    }
    if (System.Web.HttpContext.Current.Request.RawUrl.ToLower().IndexOf("nigeria.html") != -1)
    {
        title = "Online Local Business Directory and Search Engine of Nigeria | VConnect™";
        description = "Search upcoming events, movies, local business phone number reviews and authentic information on local businesses directory in Nigeria on VConnect™– the trusted Nigerian Business Directory.";
        keyword = "business directory search engine, nigeria business directory, telephone business directory, local business search, phone business in nigeria, business contact in nigeria, business ideas in Nigeria";
    }
    else
    {
        title = "Local Business Directory and Search Engine of " + metaLocation + " | VConnect™";
        description = "Search upcoming events, movies, reviews and authentic information on local businesses in " + metaLocation + " on VConnect™– the trusted Nigerian Business Directory.";
        keyword = "local business directory, " + metaLocation + " business directory, businesses in " + metaLocation + ", local search engine " + metaLocation;
    }
}




@section title{@title.Replace(" ,", ",")}
@section description{@Html.Raw(description.Replace(" ,", ","))}
@section keyword{@keyword.Replace(" ,", ",")}

@section header
{
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<title>Local Business Directory and Search Engine of @metaLocation | VConnect™</title>
    <meta name="description" content="Search upcoming events, movies, reviews and authentic information on local businesses in @metaLocation on VConnect™– the trusted Nigerian Business Directory." />
    <meta name="keywords" content="local business directory, @metaLocation business directory, businesses in @metaLocation, local search engine @metaLocation" />*@
    @*<title>@title</title>
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keyword" />*@
    <link rel="canonical" href="@CannoicalPath" />
  @*  <meta name="robots" content="index, follow" />*@
    <meta name="msvalidate.01" content="AF9798BB2B2F16C39D4FD0CE1B83FE1E" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="@linkAlternatemedia" />
    <link rel="alternate" media="handheld" href="@linkAlternatehandheld" />
    @*<link rel="stylesheet" href="~/css/vcpromo.css">*@
    @*<link rel="shortcut icon" type="image/x-icon" href="@Html.Raw(MyGlobalVariables.ImagesRootPath + "images/favicon.ico")" />*@
   @* <style>
    .val-top img{width:100%; height:auto;}
    .val-img-holder{border:3px solid #ED3237; padding:10px 5px;background: #FFF;}
    .val-img-holder ul{padding:0; margin:0; list-style:none;}
    .val-img-holder li{display:inline-block; width:24.2%; text-align:center;}
    .val-img-holder li img{width:90%; height:auto; display:block;}
    </style>*@
}
@section robots
{@robots}
@functions{
    public void extractTags(string scriptText, out string strBusinessUrl, out string imageTag)
    {
        string strRegex1 = @"(?i)(?<=href=\"").+(?=\"")";    //regex needs to be case-insensitive, do NOT make it case sensitive
        string strRegex2 = @"(?i)(?<=src=\"").+(?=\"")";    //do NOT make it case sensitive
        Regex myRegex1 = new Regex(strRegex1, RegexOptions.None);
        string strTargetString = scriptText;
        strBusinessUrl = "";

        foreach (Match myMatch in myRegex1.Matches(strTargetString))    //i need this to run only once
        {
            if (myMatch.Success)
            {
                strBusinessUrl = myMatch.Value;
                break;
            }
        }

        Regex myRegex2 = new Regex(strRegex2, RegexOptions.None);
        imageTag = "";
        foreach (Match myMatch in myRegex2.Matches(strTargetString))    //i need this to run only once
        {
            if (myMatch.Success)
            {
                imageTag = myMatch.Value;
                break;
            }
        }
    }
} 
        <!-- Site header starts :main navigation bar -->       
        <!-- Site header ends -->
        <div id="skrollr-body">
            @*<section class="jumbotron-container row text-center" data-0="background-position:right 50% bottom 100px;" data-end="background-position:right 50% bottom -1000px;" data-smooth-scrolling="off"> *@             
           @* <section class="jumbotron-container row text-center" data-0="background-position:center 0px;" data-800="background-position:center 450px;" data-smooth-scrolling="off" style="background:  50% 0px /cover no-repeat;background:url(/img/desk-wd.jpg)">*@
            <section class="jumbotron-container row text-center skrollable skrollable-between" data-0="background-position:center 0px;" data-800="background-position:center 450px;" data-smooth-scrolling="off" data-vc-jumbotron="" data-vc-src="'http://image.vconnect.bz/static/WEB/img/desk-lagos-bg.jpg?i'">
                <div class="intro-message">
                    <h1>Looking for <span class="change">Local Businesses</span>?</h1>
                    @*<h1>Celebrating Nigeria at 54</h1>*@
                    <p>Search from about a million businesses in Nigeria</p>
                    @*<p><span class="change">Nation of Patrio</span></p>*@
                </div>
                <div class="search-box columns medium-8 medium-centered">
                    @using (Html.BeginForm(null, null, FormMethod.Get, new { @id = "formHeaderSearch", DefaultButton = "btnSubmitHeader" }))
                    {
                        <div class="row">
                            <div class="medium-4 columns jsearchterm-container">
                                @*@Html.TextBoxFor(m => m.SearchTextHeader, new { @class = "jsearchterm", @placeholder = "What are you looking for? e.g. cars, hotels", @onchange = "return textonchange('SearchTextHeader','KeyWordValueHeader');", @onkeypress = "searchEnterHeader(event)" })*@
                                @Html.TextBoxFor(m => m.SearchTextHeader, new { @class = "jsearchterm", @placeholder = "What are you looking for? e.g. cars, hotels", @onchange = "return textonchange('SearchTextHeader','KeyWordValueHeader');", @onkeypress = "searchEnterHeader(event)" })
                                @Html.ValidationMessageFor(m => m.SearchTextHeader)
                            </div>
                            <div class="medium-1 columns inbetween-container">
                                <label for="location" class="inline inbetween">in</label>
                            </div>
                            <div class="medium-4 columns jsearchlocation-container">
                                @*@Html.TextBoxFor(m => m.SearchLocationHeader, new { @class = "jsearchlocation", @placeholder = "Where are you looking? e.g. Lagos", @onkeypress = "searchEnterHeader(event)" })*@
                                @Html.TextBoxFor(m => m.SearchLocationHeader, new { @class = "jsearchlocation", @placeholder = "Where are you looking? e.g. Lagos", @onkeypress = "searchEnterHeader(event)" })
                                @Html.ValidationMessageFor(m => m.SearchLocationHeader)
                            </div>
                            <div class="medium-3 columns search-button-container">
                                <button id="btnSubmitHeader" class="button" type="button" onclick="return validateSearch('SearchTextHeader','SearchLocationHeader');">Search</button>
                            </div>
                            @Html.Hidden("KeyWordValueHeader", string.Empty)
                            @Html.Hidden("LocationValueHeader", string.Empty)
                        </div>
                    }
                </div>
                @if (string.IsNullOrEmpty(objUS.SV_VCLoginID))
                {
                    <div class="jumbotron-recommend">
                        @using (Html.BeginForm("Facebook", "Account", new { rturl = "userdashboardweb/socialactivity", provider = "facebook" }, FormMethod.Post, new { @id = "formFacebookPost" }))
                        {
                            @Html.AntiForgeryToken()
                            <p>Get a personalised search experience.</p>
                            <button onclick="ga('send', 'event', 'HomePInteraction', 'Button', 'FaceBookSignIn');" class="button-fb">
                                <i class="icon-facebook"> </i>&nbsp;
                                Sign in with Facebook

                            </button>
                        }
                    </div>
                }
                else
                {
                    <div class="jumbotron-recommend">  </div>
                }
                <div class="qsearch-box">
                    @*<a href="@WebsiteRawPath/linkredirect?id=2502&url=@curl&link=http://deals.vconnect.com/happyeaster" class="banner-overlay" target="_blank" rel="nofollow">
                    <img class="banner-logo" src="http://image.vconnect.bz/static/WEB/img/grab-it.jpg">
                    <span class="banner-text">***Easter Bonanza***</span>
                </a>*@

                    @*  <a href= "@WebsiteRawPath/linkredirect?id=2536&url=@curl&link=http://deals.vconnect.com"  class="banner-overlay" target="_blank" rel="nofollow">
                    <img class="banner-logo" src="img/grab-it.jpg">
                    <span class="banner-text" style="color: #940000; font-weight: 900; text-shadow: 1px 0px 5px #fff;bottom: 1rem;right: 13rem;">***Jaw Dropping Deals Only For You***</span>
                </a>*@
                    @*<a href="http://deals.vconnect.com/womenday" onclick="return linkredirect(2602,'http://deals.vconnect.com/womenday','@sourceurl','@previousurl');"  class="banner-overlay" target="_blank" rel="nofollow">
                <img class="banner-logo" src="img/grab-it.jpg">
                <span class="banner-text">***Women's Day Deals only for you***</span>
                </a>*@
                    @*<p class="title">Quick Search</p>*@
                    <p class="title">Hot Deals in town</p>
                    <ul class="qsearch-items">

                        <li><a href="http://deals.vconnect.com" target="_blank" id="qsb" data-tag="discount" onclick="return ga('send', 'event', 'HomePInteraction', 'IconClick', 'Discount ', {'nonInteraction': 1});"><i class="icon-tags"></i><br>Discount</a></li>
                        <li><a href="http://deals.vconnect.com/lagos/electronics/electronics-deals" target="_blank" data-tag="electronics" onclick="ga('send', 'event', 'HomePInteraction', 'IconClick', 'Electronics', {'nonInteraction': 1});"><i class="icon-radio"></i><br>Electronics</a></li>
                        <li><a href="http://deals.vconnect.com/lagos/gifts/gifts-deals" target="_blank" data-tag="baby" onclick="ga('send', 'event', 'HomePInteraction', 'IconClick', 'Gifts ', {'nonInteraction': 1});"><i class="icon-baby"></i><br>Baby And Kids</a></li>
                        @*<li><a href="http://deals.vconnect.com/lagos/baby-and-kids/baby-and-kids-deals" target="_blank" data-tag="baby"><i class="icon-baby"></i><br>Baby And Kids</a></li>*@
                        <li><a href="http://deals.vconnect.com/lagos/city-deals/city-deals-deals" target="_blank" data-tag="citydeals" onclick="ga('send', 'event', 'HomePInteraction', 'IconClick', 'CityDeals ', {'nonInteraction': 1});"><i class="icon-office"></i><br>City Deals</a></li>
                        <li><a href="http://deals.vconnect.com/lagos/home-and-kitchen/home-and-kitchen-deals" target="_blank" data-tag="home" onclick="ga('send', 'event', 'HomePInteraction', 'IconClick', 'HomeandKitchen', {'nonInteraction': 1});"><i class="icon-home"></i><br>Home And Kitchen</a></li>
                        <li><a href="http://deals.vconnect.com/lagos/groceries/groceries-deals" target="_blank" data-tag="groceries" onclick="ga('send', 'event', 'HomePInteraction', 'IconClick', 'Groceries', {'nonInteraction': 1});"><i class="icon-basket-small"></i><br>Groceries</a></li>

                    </ul>
                    <br />

                </div>
            </section>

          
            @*<div class="featured-container-bg">
                <section class="featured-container row">
                    <h3 class="text-center nexa">Recommended Businesses  @Model.SearchLocation</h3>
                    @{
                        int firstPostion = 0;
                        int secondPostion = 0;
                        int thirdPostion = 0;
                        bool bannerFlag = false;
                        int bannerCount = 0;
                        if (Model.lstFeaturedBusinesses.Count > 0)
                        {
                            foreach (Vconnect.Mapping.ListingWEB.getFeaturedBanner item in Model.lstFeaturedBusinesses)
                            {
                                bannerArray[bannerCount, 0] = item.bannerid.ToString();
                                bannerArray[bannerCount, 1] = item.businessid.Value.ToString();
                                bannerArray[bannerCount, 2] = item.businessname;
                                //string PREVIOUSURL = string.Empty;
                                //string SOURCEURL = string.Empty;

                                //if (Request.UrlReferrer == null || Request.UrlReferrer.ToString().Trim() == "")
                                //{
                                //    PREVIOUSURL = "-";
                                //}
                                //else
                                //{
                                //    PREVIOUSURL = Request.UrlReferrer.ToString().ToLower().Replace("//", "~~").Replace("/", "~").Replace(".html", ".indexpage").Replace("_", "~").Replace("-", "~").Trim();
                                //}
                                //if (System.Web.HttpContext.Current.Request.Url.AbsoluteUri == null || System.Web.HttpContext.Current.Request.Url.AbsoluteUri.ToString().Trim() == "")
                                //{
                                //    SOURCEURL = "-";
                                //}
                                //else
                                //{
                                //    SOURCEURL = System.Web.HttpContext.Current.Request.Url.AbsoluteUri.ToString().ToLower().Replace("//", "~~").Replace("/", "~").Replace(".html", ".indexpage").Replace("_", "~").Replace("-", "~").Trim();
                                //}
                                //int result = log.addbannerimpressionlog(Convert.ToString(item.bannerid), item.businessid.Value, item.businessname, 0, Utility.GetIpAddress(), SOURCEURL, PREVIOUSURL, Utility.GetReversedns(Utility.GetIpAddress()));
                                if (item.clienttype == 2)
                                {
                                    firstPostion = bannerCount;
                                    bannerFlag = true;
                                }
                                else if (item.clienttype == 2 && bannerFlag == true)
                                {
                                    thirdPostion = bannerCount;
                                }
                                else
                                {
                                    secondPostion = bannerCount;
                                }
                                bannerCount = bannerCount + 1;
                            }
                        }
                    }
                    <span></span>


                    <div class="fbusiness-container columns medium-4">
                        <a href="@Html.Raw(Model.lstFeaturedBusinesses[firstPostion].businessurl)" target="_blank" rel="nofollow">
                            <div class="advert">
                                <!-- Advertisement is placed here -->
                                <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[firstPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[firstPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[firstPostion].businessname" />
                            </div>
                        </a>
                    </div>


                    <div class="fbusiness-container columns medium-4">
                        <a href="/@Model.lstFeaturedBusinesses[secondPostion].businessurl">

                            <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[secondPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[secondPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[secondPostion].businessname" class="text-center" />
                            <div class="fbusiness-content">
                                <span class="star-rating">@Html.Raw(Vconnect.Common.Utility.RateMe(Model.lstFeaturedBusinesses[secondPostion].avgrating))</span>
                                @if (Model.lstFeaturedBusinesses[secondPostion].reviewcount > 0)
                                {
                                    <span class="num-reviews">(@Model.lstFeaturedBusinesses[secondPostion].reviewcount Reviews)</span>
                                }
                                <h4 class="business-title">@Model.lstFeaturedBusinesses[secondPostion].businessname</h4>
                            </div>
                        </a>
                    </div>

                    <div class="fbusiness-container columns medium-4">
                        <a   href="@Html.Raw(Model.lstFeaturedBusinesses[thirdPostion].businessurl)" target="_blank" rel="nofollow" >
                            <div class="advert">
                                <!-- Advertisement is placed here -->
                                <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[thirdPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[thirdPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[thirdPostion].businessname" />
                            </div>
                        </a>
                    </div>

                </section>*@
            </div>
            <div class="featured-container-bg">
                <section class="featured-container row">
                    <h3 class="text-center nexa">Recommended Businesses  @Model.SearchLocation</h3>
                   @{
                       
                       bool bannerFlag = false;
                       int bannerCount = 0;

                       if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
                       {
                           foreach (Vconnect.Mapping.ListingWEB.getFeaturedBanner item in Model.lstFeaturedBusinesses)
                           {
                               if (item.clienttype == 2 || item.clienttype == 3)
                               {
                                   bannerArray[bannerCount, 0] = item.bannerid.ToString();
                                   bannerArray[bannerCount, 1] = item.businessid.Value.ToString();
                                   bannerArray[bannerCount, 2] = item.businessname;

                                   if (item.clienttype == 2)
                                   {
                                       firstPostion = bannerCount;
                                       bannerFlag = true;
                                   }
                                   else if (item.clienttype == 2 && bannerFlag == true)
                                   {
                                       thirdPostion = bannerCount;
                                   }
                                   else
                                   {
                                       secondPostion = bannerCount;
                                   }
                               }
                               else if (item.clienttype == 1)
                               {
                                   footerpostion = bannerCount;
                               }
                               bannerCount = bannerCount + 1;
                           }
                       }

                       if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
                       {
                             @*if (Model.lstFeaturedBusinesses[firstPostion].isscript == 1 )
                            {
                        
                                    <div class="fbusiness-container columns medium-4">
                                        <div class="advert">
                                        @Html.Raw(Model.lstFeaturedBusinesses[firstPostion].scripttext)
                                    </div>
                                </div>
                            }
                            else
                            {
                            <div class="fbusiness-container columns medium-4">
                                <a href="@Model.lstFeaturedBusinesses[firstPostion].businessurl" target="_blank" rel="nofollow">
                                    <div class="advert">
                                        <!-- Advertisement is placed here -->
                                        <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[firstPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[firstPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[firstPostion].businessname" />
                                    </div>
                                </a>
                            </div>
                            }*@
                           if (Model.lstFeaturedBusinesses[firstPostion].isscript == 1)
                           {
                               extractTags(Model.lstFeaturedBusinesses[firstPostion].scripttext, out strBusinessUrl, out imageTag);
                               if (Model.lstFeaturedBusinesses[firstPostion].scripttext.Contains("<SCRIPT"))
                               {                               
                                <div class="fbusiness-container columns medium-4">
                                    <div class="advert">
                                        
                                        <a href="@strBusinessUrl" onclick="return linkredirect(@Model.lstFeaturedBusinesses[firstPostion].bannerid,'@strBusinessUrl','@sourceurl','@previousurl');" target="_blank" rel="nofollow">
                                             <img src="@imageTag" alt="VConnect Local Business Directory"/>
                                        </a>                                       
                                        
                                    </div>
                                </div>
                               }
                               else
                               {
                                <div class="fbusiness-container columns medium-4">
                                    <div class="advert" onclick="return linkredirect('@Model.lstFeaturedBusinesses[firstPostion].bannerid','@Model.lstFeaturedBusinesses[firstPostion].businessurl','@sourceurl','@previousurl')">
                                        @Html.Raw(Model.lstFeaturedBusinesses[firstPostion].scripttext)
                                        @*<a href="@strBusinessUrl" onclick="return linkredirect(@Model.lstFeaturedBusinesses[firstPostion].bannerid,'@strBusinessUrl','@sourceurl','@previousurl');" target="_blank" rel="nofollow">
                <img src="@imageTag" alt="VConnect Local Business Directory" />
            </a>*@

                                    </div>
                                </div>
                               }
                           }
                           else
                           {
                                <div class="fbusiness-container columns medium-4">
                                   @* <a  class="linkfirst" rel="nofollow">
                                        <img src="@imageTag" alt="VConnect Local Business Directory"/>
                                    </a>*@
                                    <a href="@Model.lstFeaturedBusinesses[firstPostion].businessurl" onclick="return linkredirect(@Model.lstFeaturedBusinesses[firstPostion].bannerid,'@Model.lstFeaturedBusinesses[firstPostion].businessurl','@sourceurl','@previousurl');" target="_blank" rel="nofollow">
                                    <div class="advert">
                                        <!-- Advertisement is placed here -->
                                        <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[firstPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[firstPostion].businessname" />                                        
                                    </div>
                                    </a>
                                   @* <a href="@WebsiteRawPath/linkredirect?id=@Model.lstFeaturedBusinesses[firstPostion].bannerid&url=@curl&link=@Model.lstFeaturedBusinesses[firstPostion].businessurl&sourceurl=@sourceurl&previousurl=@previousurl" onclick="javascript:bannerClickLog(@Model.lstFeaturedBusinesses[firstPostion].bannerid,'@Model.lstFeaturedBusinesses[firstPostion].businessurl','@sourceurl','@previousurl')" target="_blank" rel="external nofollow">
                                    <div class="advert">
                                        <!-- Advertisement is placed here -->
                                        <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[firstPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[firstPostion].businessname" />                                        
                                    </div>
                                    </a>*@
                                </div>
                           }
                       }
                       if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
                       {
                           <div class="fbusiness-container columns medium-4">
                                <a href="@Model.lstFeaturedBusinesses[secondPostion].businessurl"  onclick="return linkredirect(@Model.lstFeaturedBusinesses[secondPostion].bannerid,'@Model.lstFeaturedBusinesses[secondPostion].businessurl','@sourceurl','@previousurl')" target="_blank" rel="nofollow">
                                    <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[secondPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[secondPostion].businessname" />
                                    @*<img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[secondPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[secondPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[secondPostion].businessname" class="text-center" />*@
                                    <div class="review-details">
                                        <span class="star-rating">@Html.Raw(Vconnect.Common.Utility.RateMe(Model.lstFeaturedBusinesses[secondPostion].avgrating))</span>
                                        @if (Model.lstFeaturedBusinesses[secondPostion].reviewcount > 0)
                                        {
                                            <span class="num-reviews">(@Model.lstFeaturedBusinesses[secondPostion].reviewcount Reviews)</span>
                                        }
                                    </div>
                                    <div class="fbusiness-content">
                                        <h4 class="business-title">@Model.lstFeaturedBusinesses[secondPostion].businessname</h4>    
                                        <p class="business-location">@Model.lstFeaturedBusinesses[secondPostion].businessaddress</p>                                     
                                    </div>
                                </a>
                            </div>
                     @*<div class="fbusiness-container columns medium-4">
                       <a href="/@Model.lstFeaturedBusinesses[secondPostion].businessurl">

                            <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[secondPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[secondPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[secondPostion].businessname" class="text-center" />
                         
                            <div class="review-details">
                                <span class="star-rating">@Html.Raw(Vconnect.Common.Utility.RateMe(Model.lstFeaturedBusinesses[secondPostion].avgrating))</span>
                                @if (Model.lstFeaturedBusinesses[secondPostion].reviewcount > 0)
                                {
                                    <span class="num-reviews">(@Model.lstFeaturedBusinesses[secondPostion].reviewcount Reviews)</span>
                                }
                                   </div>
                               <div class="fbusiness-content">
                                    <h4 class="business-title">@Model.lstFeaturedBusinesses[secondPostion].businessname</h4>
                            </div>
                        </a>
                       
                    </div> *@@*   <div class="fbusiness-content">
                                <span class="star-rating">@Html.Raw(Vconnect.Common.Utility.RateMe(Model.lstFeaturedBusinesses[secondPostion].avgrating))</span>
                                @if (Model.lstFeaturedBusinesses[secondPostion].reviewcount > 0)
                                {
                                    <span class="num-reviews">(@Model.lstFeaturedBusinesses[secondPostion].reviewcount Reviews)</span>
                                }
                                <h4 class="business-title">@Model.lstFeaturedBusinesses[secondPostion].businessname</h4>
                            </div>*@
                       }
                       if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
                       {
                          @* if (Model.lstFeaturedBusinesses[thirdPostion].isscript == 1)
                           {
                            
                             <div class="fbusiness-container columns medium-4">
                                 <div class="advert">
                             @Html.Raw(Model.lstFeaturedBusinesses[thirdPostion].scripttext)
                             </div>
                             </div>
                           }
                           else
                           {
                        <div class="fbusiness-container columns medium-4">
                            <a   href="@Model.lstFeaturedBusinesses[thirdPostion].businessurl" target="_blank" rel="nofollow" >
                                <div class="advert">
                                    <!-- Advertisement is placed here -->
                                    <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[thirdPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[thirdPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[thirdPostion].businessname" />
                                </div>
                            </a>
                        </div>
                           }*@
                           if (Model.lstFeaturedBusinesses[thirdPostion].isscript == 1)
                           {
                               extractTags(Model.lstFeaturedBusinesses[thirdPostion].scripttext, out strBusinessUrl, out imageTag);
                               if (Model.lstFeaturedBusinesses[thirdPostion].scripttext.Contains("<SCRIPT"))
                               {                               
                                <div class="fbusiness-container columns medium-4">
                                    <div class="advert">
                                        @*@Html.Raw(Model.lstFeaturedBusinesses[thirdPostion].scripttext)*@
                                        <a href="@strBusinessUrl" onclick="return linkredirect(@Model.lstFeaturedBusinesses[thirdPostion].bannerid,'@strBusinessUrl','@sourceurl','@previousurl')" target="_blank" rel="nofollow">
                                            <img src="@imageTag" alt="VConnect Local Business Directory"/>
                                        </a>
                                    </div>
                                </div>
                               }
                               else
                               {
                                <div class="fbusiness-container columns medium-4">
                                    <div class="advert" onclick="return linkredirect(@Model.lstFeaturedBusinesses[thirdPostion].bannerid,'@strBusinessUrl','@sourceurl','@previousurl')">
                                        @Html.Raw(Model.lstFeaturedBusinesses[thirdPostion].scripttext)
                                        @*<a href="@strBusinessUrl" onclick="return linkredirect(@Model.lstFeaturedBusinesses[thirdPostion].bannerid,'@strBusinessUrl','@sourceurl','@previousurl')" target="_blank" rel="nofollow">
                <img src="@imageTag" alt="VConnect Local Business Directory" />
            </a>*@
                                    </div>
                                </div>
                               }
                           }
                           else
                           {
                                <div class="fbusiness-container columns medium-4">
                                    <a href="@Model.lstFeaturedBusinesses[thirdPostion].businessurl"  onclick="return linkredirect(@Model.lstFeaturedBusinesses[thirdPostion].bannerid,'@Model.lstFeaturedBusinesses[thirdPostion].businessurl','@sourceurl','@previousurl')" target="_blank" rel="nofollow">
                                        <div class="advert">
                                            <!-- Advertisement is placed here -->
                                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[thirdPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[thirdPostion].businessname" />
                                            @*<img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[thirdPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[thirdPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[thirdPostion].businessname" />*@
                                        </div>
                                    </a>
                                </div>
                           }
                       }
                    }
                </section>
            </div>
            <div class="how-container-bg">
                <section class="how-container row text-center">
                    <h3 class="nexa">How does VConnect work?</h3>
                    <div class="how-step columns medium-4">
                        @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "search-icon.png")" alt="Search" />*@
                        <span class="spr-search"></span>
                        <h4>Search</h4>
                        <p>Your search for local needs ends here! Get access to close to a million businesses in Nigeria. Post your requirement and get quotes from best local businesses around you.</p>
                    </div>
                    <div class="how-step columns medium-4">
                        <div class="text-center">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "save-icon.png")" alt="Save" />*@
                            <span class="spr-save"></span>
                            <h4>Save</h4>
                        </div>
                        <p>Are there businesses you visit frequently? Organize your business contacts in one single place! Start saving your favorite business to a list and access their contact details on the go.</p>
                    </div>
                    <div class="how-step columns medium-4">
                        <div class="text-center">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "share-icon.png")" alt="Share" />*@
                            <span class="spr-share"></span>
                            <h4>Share</h4>
                        </div>
                        <p>Did you find out a great business on VConnect? Share it on Facebook, Twitter and Google+. Let your friends benefit from your discovery and help the business grow.</p>
                    </div>
                </section>
            </div>
            <section class="footer-banner">
               @if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
               {
                   string bannerName = string.Empty;
                   bannerName = Model.lstFeaturedBusinesses[footerpostion].businessname.ToUpper().Contains("MTN") ? "MTNWEB" : Model.lstFeaturedBusinesses[footerpostion].businessname.Contains("United Bank For Africa Plc") ? "UNITEDBANKAFRICAWEB" : "";
                     @*if (Model.lstFeaturedBusinesses[footerpostion].isscript == 1)//Script banner
                    {
                        <Text>@Html.Raw(Model.lstFeaturedBusinesses[footerpostion].scripttext)</Text>
                    }
                    else // 
                    {                    
                        <a href="@Model.lstFeaturedBusinesses[footerpostion].businessurl" target="_blank" rel="nofollow" onclick="bannerLogClick('@Model.lstFeaturedBusinesses[footerpostion].bannerid','@bannerName')" >
                             <img style="border: 0px" src="http://images.vconnect.com/resource/uploads/banners/@Model.lstFeaturedBusinesses[footerpostion].businessbanner"  onload="bannerLogImpression('@bannerName')" alt="@Model.lstFeaturedBusinesses[footerpostion].businessname"/>
                        </a>
                    }*@ 
                   if (Model.lstFeaturedBusinesses[footerpostion].isscript == 1)//Script banner
                   {
                       if (Model.lstFeaturedBusinesses[footerpostion].scripttext.Contains("<SCRIPT"))
                       {
                       extractTags(Model.lstFeaturedBusinesses[footerpostion].scripttext, out strBusinessUrl, out imageTag);
                        @*<Text>@Html.Raw(Model.lstFeaturedBusinesses[footerpostion].scripttext)</Text>*@
                        <a href="@strBusinessUrl" onclick="return linkredirect(@Model.lstFeaturedBusinesses[footerpostion].bannerid,'@strBusinessUrl','@sourceurl','@previousurl')" target="_blank" rel="nofollow">
                            <img src="@imageTag" alt="VConnect Local Business Directory"/>
                        </a>
                        }
                        else
                        {
                           <span onclick="return linkredirect(@Model.lstFeaturedBusinesses[footerpostion].bannerid,'@strBusinessUrl','@sourceurl','@previousurl')">
                           @Html.Raw(Model.lstFeaturedBusinesses[footerpostion].scripttext)
                           </span>
                       }
                   }
                   else // 
                   {                    
                        <a href="@Model.lstFeaturedBusinesses[footerpostion].businessurl" onclick="return linkredirect(@Model.lstFeaturedBusinesses[footerpostion].bannerid,'@Model.lstFeaturedBusinesses[footerpostion].businessurl','@sourceurl','@previousurl')" target="_blank" rel="nofollow">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[footerpostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[footerpostion].businessname" />
                        </a>
                        
                        @*<a href="@Model.lstFeaturedBusinesses[footerpostion].businessurl" target="_blank" rel="nofollow" onclick="bannerLogClick('@Model.lstFeaturedBusinesses[footerpostion].bannerid','@bannerName')" >
                             <img style="border: 0px" src="http://images.vconnect.com/resource/uploads/banners/@Model.lstFeaturedBusinesses[footerpostion].businessbanner"  onload="bannerLogImpression('@bannerName')" alt="@Model.lstFeaturedBusinesses[footerpostion].businessname"/>
                        </a>*@
                   }
               }              
            </section>
            
            <div class="app-promo-bg">
                <section class="app-promo row">
                    <div class="columns medium-3">
                        <img src="@Html.Raw(MyGlobalVariables.Staticimage + "mobile-app-small.png")" alt="App screenshots" />
                    </div>
                    <div class="app-promo-description columns medium-9">
                        <h3 class="nexa">Connect on the go.</h3>
                        <p>
                            <strong>Searching for Local Businesses has never been easier.</strong><br>
                            You can now access close to a million businesses to fulfill your local needs from your Android, iOS and Blackberry mobile phones and tablets.

                        </p>
                        <a href="https://itunes.apple.com/us/app/vconnect.com/id699407319?ls=1&mt=8" class="appstore-btn" onClick="ga('send', 'event', 'HomePInteraction', 'IconClick', 'ApponApple');" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.Staticimage + "appstore-button.png")" alt="AppStore" />
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.vconnect.view&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS52Y29ubmVjdC52aWV3Il0." class="gplay-btn" onClick="ga('send', 'event', 'HomePInteraction', 'IconClick', 'ApponAndroid');" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.Staticimage + "googleplay-button.png")" alt="Google Play" />
                        </a>
                        <a href="http://appworld.blackberry.com/webstore/content/27314117/" class="bbapp-btn" onClick="ga('send', 'event', 'HomePInteraction', 'IconClick', 'ApponBB');" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.Staticimage + "blackberryapp-button.png")" alt="Blackberry App World" />
                        </a>
                    </div>
                </section>
            </div>
            <div class="bcorner-container-bg">
                <section class="bcorner-container row text-center">
                    <h3 class="nexa">Grow your business with VConnect.</h3>
                    <div class="business-step columns medium-4">
                        <img src="@Html.Raw(MyGlobalVariables.Staticimage + "register-icon.png")" alt="VConnect Local Business Directory" />
                        <h4>Register</h4>
                        <p>It starts with a free registration! Provide your basic information including contact details, products and services, and set your business on the growth path.</p>
                        <a href="/businessregistration" class="button tiny">Register your business</a>
                    </div>
                    <div class="business-step columns medium-4">
                        <img src="@Html.Raw(MyGlobalVariables.Staticimage + "claim-icon.png")" alt="VConnect Local Business Directory" />
                        <h4>Claim</h4>
                        <p>Have you already registered? Well Done. Claim your online business profile. This is your own online space. Update your details and attract more customers.</p>
                        <a href="claimyourbusiness" class="button tiny">See how it works</a>
                    </div>
                    <div class="business-step columns medium-4">
                        <img src="@Html.Raw(MyGlobalVariables.Staticimage + "advertise-icon.png")" alt="VConnect Local Business Directory" />
                        <h4>Advertise</h4>
                        <p>Unlock the power of online marketing using VConnect business solutions. Proactively reach out to new customers and engage existing ones. And many more features.</p>
                        <a href="/advertise" class="button tiny">Advertise with us</a>
                    </div>
                </section>
            </div>
            <div class="featured-media-bg">
                <section class="featured-media row text-center">
                    <h3 class="nexa">Featured in</h3>
                    <ul class="media-list">
                        <li>
                            @*<a href="http://sunnewsonline.com/new/business/we-have-spent-over-n157million-to-optimize-data-vconnect-co-founder/" target="_blank">*@
                        @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "sun-logo.png")" alt="image">*@<span class="spr-sun"></span>@*</a>*@
                    </li>
                    <li>
                        <a href="http://www.ventures-africa.com/2013/09/takes-build-nigerias-largest-sme-data-company/" target="_blank">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "/ventures-logo.png")" alt="image">*@<span class="spr-ventures"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.cnbcafrica.com/video/?bctid=2875082493001" target="_blank">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "cnbc-logo.png")" alt="image">*@<span class="spr-cnbc"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.forbes.com/sites/mfonobongnsehe/2013/07/18/vconnect-com-is-one-of-africas-hottest-tech-startups/" target="_blank">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "forbes-logo.png")" alt="image">*@<span class="spr-forbes"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/watch?v=dF-aqJ0tBko" target="_blank">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "ndani-logo.png")" alt="image">*@<span class="spr-ndani"></span>
                        </a>
                    </li>
                    <li>
                        @*<a href="#">*@
                        @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "tedx-logo.png")" alt="image">*@<span class="spr-tedx"></span>
                        @*</a>*@

                    </li>
                </ul>

                @* <ul class="media-list">
                        <li><a href="http://sunnewsonline.com/new/business/we-have-spent-over-n157million-to-optimize-data-vconnect-co-founder/" target="_blank">
                            <img src= "@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/The_Sun.jpg")" alt="The Sun"></a></li>
                        <li><a href="http://www.ventures-africa.com/2013/09/takes-build-nigerias-largest-sme-data-company/" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/Venture_Africa.png")" alt="Venture Africa"></a></li>
                        <li><a href="http://www.cnbcafrica.com/video/?bctid=2875082493001" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/CNBC_Africa.png")" alt="CNBC Africa"></a></li>
                        <li><a href="http://www.forbes.com/sites/mfonobongnsehe/2013/07/18/vconnect-com-is-one-of-africas-hottest-tech-startups/" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/Forbes.png")" alt="Forbs"></a></li>
                        <li><a href="http://www.youtube.com/watch?v=dF-aqJ0tBko" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/NDani_TV.png")" alt="NDani TV"></a></li>
                        <li>
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/TEDx.png")" alt="TEDx"></li>
                    </ul>*@
            </section>
<ol class="joyride-list" data-joyride>
	<li data-id="qsb" data-text="Okay" data-options="tip_location:top">
		<p>Something different in every category, go grab it !!</p>
	</li>
</ol>
@*<div id="accountsms" style="display:none;"></div> 
<div class="dialogs hide">    	
      <div class="reveal-modal vals-day-modal small" data-reveal data-vc-clead-popup data-vc-clead-name="vals-form">
		<div class="modal-content">
			<div class="vals-top"></div>
			<form class="vals-form" >                
				<div class="row">
					<div class="columns medium-12">
						<label>Email address</label>
						<input type="email" id="emailinput" class="email-input" placeholder="Enter your valid email address">                        
					</div>
				</div>
				<div class="row">
					<div class="columns large-12">
						<label>Location</label>
						<input type="radio" class="cb" id="inLagos" name="location" value="lagos"><label for="inLagos">Within Lagos</label>
						<input type="radio" class="cb" id="outLagos" name="location" value="outsidelagos"><label for="outLagos">Outside Lagos</label>
					</div>
				</div>
				<div class="row second-row">
					<div class="columns medium-12">
						<a href="javascript:void(0);" onclick="return fnsubmitdeal('male')" class="btn large">Male</a> or <a href="javascript:void(0);" onclick="return fnsubmitdeal('female')" class="btn large">Female</a> 
                        <span class="error" id="dealerror"></span>                     
					</div>
				</div>
			</form>
			<div class="vals-bottom"></div>
		</div>

		<a class="close-reveal-modal">&#215;</a>
	</div>
</div>*@
@*
    <div class="dialogs hide">
         <div class="reveal-modal vals-day-modal small" data-reveal data-vc-clead-popup data-vc-clead-name="vals-form">
                <div class="modal-content" style="padding: 0 3rem;">
                <div class="vals-top" style="background:url(http://deals.vconnect.com/resource/images/321.jpg) no-repeat;background-size:100%;height:110px"></div>
                    <div class="val-discount">
                        <div class="val-top"><img src="http://deals.vconnect.com/resource/images/321.jpg" width="300" height="300" /></div>
                <div class="val-img-holder">
            <ul>
             <li><a href="http://deals.vconnect.com/lagos/luv/kitchen-consumables/alcohols-deals?VCBDPopup" target="_blank" title="valentine"><img src="../img/val-1.jpg" width="155" height="227" alt="valentine" /></a></li>
             <li><a href="http://deals.vconnect.com/lagos/luv/fragrances/perfumes-deals?VCBDPopup" target="_blank" title="valentine"><img src="../img/val-2.jpg" width="155" height="227" alt="valentine"/></a></li>
             <li><a href="http://deals.vconnect.com/lagos/luv/lifestyle/hotels-deals?VCBDPopup" target="_blank" title="valentine"><img src="../img/val-3.jpg" width="155" height="227" alt="valentine"/></a></li>
             <li><a href="http://deals.vconnect.com/lagos/luv/sexual-wellness/condoms-deals?VCBDPopup" target="_blank" title="valentine"><img src="../img/val-4.jpg" width="155" height="227" alt="valentine"/></a></li>
             </ul>
             </div>
             <div style="padding: 5px 0px 20px;">* Terms and conditions apply</div>
             </div>
                </div>

                <a class="close-reveal-modal">&#215;</a>
            </div>

        </div>*@
                @*<div class="promo-rt-popup" id="moreforless" style="display:none;">
                    <div class="promo-rt-popup-x"><a href="javascript:void(0)" onclick="document.getElementById('moreforless').style.display = 'none';"><img src="http://deals.vconnect.com/resource/images/easter/button-cross_red.png" /></a></div>
                    <a href="http://deals.vconnect.com/more_for_less" target="_blank"><img src="http://deals.vconnect.com/resource/images/321.jpg" /></a>
                </div>*@
                @*<div class="reveal-modal-bg" id="reveal-modal-bg"></div>
                <div class="reveal-modal vals-day-modal small open" id="reveal-modal-body" data-reveal="" data-vc-clead-popup="" data-vc-clead-name="vals-form" style="opacity: 1; visibility: visible; top: 200px;">
                    <a href="http://deals.vconnect.com/more_for_less" target="_blank"><img src="http://deals.vconnect.com/resource/images/homebanner/23690464321promo.jpg"></a>
                    <a class="close-reveal-modal">×</a>
                </div>*@
            @*<a class="sidefix-feedback" href="/feedback">Give us your feedback</a>*@
        <!-- Site footer starts -->
        @*@Html.Partial("~/Views/Shared/_WebFooterPartialNew.cshtml")*@
        <!-- Site footer ends -->
    </div>

<script>
   
    
    //var selectedautocompvalue = "";
    //function selectedTTerm(datum) {        
    //    document.getElementById('KeyWordValueHeader').value = datum.value;
    //    selectedautocompvalue = datum.label;
    //}
    //function selectedJTerm(datum) {        
    //    document.getElementById('KeyWordValue').value = datum.value;
    //    selectedautocompvalue = datum.label;
    //}
    //function selectedTLocation(datum) {        
    //    document.getElementById('LocationValueHeader').value = datum.value;
    //}
    //function selectedJLocation(datum) {        
    //    document.getElementById('LocationValue').value = datum.value;
    //}
    //function textonchange(objSearchKeyword, objSearchHidden) {

    //    if (selectedautocompvalue != document.getElementById(objSearchKeyword).value) {
    //        {
    //            document.getElementById(objSearchHidden).value = "";
    //        }
    //    }
    //}
    function SaveBannerClickLog(bid) {
       
        $.getJSON('@Url.Action("BannerClickLog", "SearchListWEB")', { 'bid': bid })
    }
    function SaveBannerImpressionLogs() {
        
        @*$.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@Model.lstFeaturedBusinesses[footerpostion].bannerid', businessid: '@Model.lstFeaturedBusinesses[footerpostion].businessid', businessname: '@Model.lstFeaturedBusinesses[footerpostion].businessname', sourceurl: '@sourceurl', previousurl: '@previousurl' });*@
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[0, 0]', businessid: '@bannerArray[0, 1]', businessname: '@bannerArray[0, 2]', sourceurl: '@sourceurl', previousurl: '@previousurl' });
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[1, 0]', businessid: '@bannerArray[1, 1]', businessname: '@bannerArray[1, 2]', sourceurl: '@sourceurl', previousurl: '@previousurl' });
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[2, 0]', businessid: '@bannerArray[2, 1]', businessname: '@bannerArray[2, 2]', sourceurl: '@sourceurl', previousurl: '@previousurl' });
       @* $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[3, 0]', businessid: '@bannerArray[3, 1]', businessname: '@bannerArray[3, 2]', sourceurl: '@sourceurl', previousurl: '@previousurl' });*@
     }
     SaveBannerImpressionLogs();

     function MTNbanner() {

        
         SaveBannerClickLog(2232);
     }
     function UBAbanner() {

         
         SaveBannerClickLog(2250);
     }

     function bannerLogImpression(bannerString) {
         //alert(bannerString);
         
     }

     function bannerLogClick(bannerid, bannerString) {
         // alert(bannerString);
        
         SaveBannerClickLog(bannerid);
     }
    // var invocation = new XMLHttpRequest();
     
     function bannerClickLog(bannerid,url)
     {
         var url = url;
         $.getJSON('@Url.Action("bannerclicklog", "Static")', { bannerid: bannerid, url: url, sourceurl: '@sourceurl', previousurl: '@previousurl' }).success(function (data) {
             debugger;
             window.open(url, "_newtab");
             //    return false;
             //target = "new-tab";
             //var request = new XDomainRequest();
             //request.open(method, url);
             //request.onload = function () {
             //    callback(req.responseText);
             //};
             //request.send(data);
             //if (invocation) {
             //    invocation.open('GET', url, true);
             //    invocation.onreadystatechange = handler;
             //    invocation.send();
             //}
             //$('a[href=' + data + ']').each(function () {
             //    window.open(this.href);
             //    return false;
             //});
             
            // var win = window.open(data, '_blank');
            // win.focus();
            //// window.open(data);
             //window.open(data, '_blank');
             //window.location = data; target = "_blank";
             //window.location.href = data;
             //$('A[rel="_blank"]').click(function () {
             //    window.open($(data).attr('href'));
             //    return false;
             //});
             //$('A[rel="_blank"]').each(function () {
             //    $(data).attr('target', '_blank');
             //});
         });
         
     }

     @*$(window).load(function () {

         $.getJSON('@Url.Action("HomePageLog", "HomeWEB")');
    });*@
    function linkredirect(bannerid, businessurl, sourceurl, previousurl) {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '/Static/bannerclickJson',
            
            data: { 'bannerid': bannerid, 'businessurl': businessurl, 'sourceurl': sourceurl, 'previousurl': previousurl },
            dataType: "json",
            success: function (resulturl) {
                debugger;
                return true;
                //window.open(businessurl, '_blank'); 
                //window.location = businessurl;
                //location.href = businessurl;
            }
        });
    }
    //$('.vals-form').on('valid', function () {
    //    fnsubmitdeal('male');
    //});
    //$('#emailinput').blur(function () {
    //    // debugger;
    //    document.getElementById("Msgavailableemail").style.display = 'block';
    //    $.getJSON('/UserDashboardWeb/emailcheck', { email: $("#emailinput").val() },
    //    function (data) {
    //        if (data == '1') {
    //            document.getElementById('dealerror').innerHTML = 'Please enter valid email ID';
    //            return false;
    //        }
            
    //    }
    //    )
    //});
    function fnsubmitdeal(str)
    {
        var flag = true;
        var email = $('.email-input').val();
        var location = $('.cb').val();
        if (email == "") {
            //$('#dealerror').val('Please enter valid email ID');
            document.getElementById('dealerror').innerHTML = 'Please enter valid email ID';
            return false;
        }
        @*else {
            $.getJSON('@Url.Action("emailcheck", "UserDashboardWeb")', { email: email }).success(function (data) {
                if (data == '1') {
                    debugger;
                    document.getElementById('dealerror').innerHTML = 'Please enter valid email ID';
                    flag = false;
                }                
            });
        }
        *@
        if (document.getElementsByName('location')[0].checked == false && document.getElementsByName('location')[1].checked == false) {
            //$('#dealerror').val('Please select your location');
            document.getElementById('dealerror').innerHTML = 'Please select your location';
            return false;
        }
        else if (document.getElementsByName('location')[0].checked == true)
        { location = document.getElementsByName('location')[0].value; }
        else if (document.getElementsByName('location')[1].checked == true)
        { location = document.getElementsByName('location')[1].value; }

       
        $.getJSON('@Url.Action("submitdealsdata", "HomeWEB")', { email: email, location: location, gender: str })
            .success(function (data) {
                if (data == 5)
                {
                    document.getElementById('dealerror').innerHTML = 'Please enter valid email ID';                    
                    return false;
                }
                else
                {
                    $('.close-reveal-modal').click();
                    app.notifyMe("Thanks for submitting.");                    
                    //document.getElementById('accountsms').innerHTML = "<div class='alerts'><div data-alert class='alert-box success'>Thanks for submitting.<a class='close' onclick='close1();' style='z-index:111'>&times;</a></div></div>";                    
                    //document.getElementById('accountsms').style.display = "block";                    
                    return true;
                }
            });
        //$.ajax({
        //    cache: false,
        //    type: "GET",
        //    contentType: "application/json; charset=utf-8",
        //    url: '/Home/submitdealsdata/',
        //    data: { 'email': email, 'location': location, 'gender': str},
        //    dataType: "json",
        //    success: function (data) {
        //        debugger;
        //        return true;
        //        //window.open(businessurl, '_blank'); 
        //        //window.location = businessurl;
        //        //location.href = businessurl;
        //    }
        //});
    }
    function close1() {
        document.getElementById('accountsms').style.display = "none";
    }
    //$(document).ready(function () {
    //    debugger;
        
    //    if (localStorage.clickcount) {
    //        localStorage.clickcount = Number(localStorage.clickcount) + 1;
    //    }
    //    //else if (sessionStorage.clickcount == "undefined") {
    //    //    sessionStorage.clickcount = 1;
    //    //}
    //    else {
    //        localStorage.clickcount = 1;
    //    }
    //    if (localStorage.clickcount == "1") {
    //        document.getElementById('moreforless').style.display = "block";
            
    //        //document.getElementById('reveal-modal-bg').style.display = "block";
    //        //document.getElementById('reveal-modal-body').style.display = "block";            
    //    }
    //    else {
    //        document.getElementById('moreforless').style.display = "none";
    //        //document.getElementById('reveal-modal-bg').style.display = "none";
    //        //document.getElementById('reveal-modal-body').style.display = "none";
    //    }
    //});
</script>
@*<a href="page.html" onclick="jumpTo(this.href, 'nav2.html'); return false;">link</a>*@
            