﻿@model Vconnect.Models.HomeModel
@using System.Configuration;
@using Vconnect.Common
@using System.Text.RegularExpressions;
@{
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    string title = string.Empty;
    string description = string.Empty;
    string keyword = string.Empty;
    string homeLocation = Model.SearchLocation, metaLocation = "Nigeria";
    string WAPRootPath = ConfigurationManager.AppSettings["WAPRootPath"].ToString();
    string WEBRootPath = ConfigurationManager.AppSettings["WebsiteRootPath"].ToString();
    string WebsiteRawPath = ConfigurationManager.AppSettings["WebsiteRawPath"].ToString();
    string curl = System.Web.HttpContext.Current.Request.Url.ToString();
    string strBusinessUrl = "", imageTag = "";
    string CannoicalPath = WEBRootPath;
    string[,] bannerArray = new string[3, 3];
    string linkAlternatemedia = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    string linkAlternatehandheld = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    if (Request.Cookies.AllKeys.Contains("vcSelectedLocation") && Request.Cookies["vcSelectedLocation"] != null)
    {
        homeLocation = Request.Cookies["vcSelectedLocation"].Value.ToLower();
    }
    if (System.Web.HttpContext.Current.Request.RawUrl.ToLower().IndexOf(".html") != -1)
    {
        metaLocation = Utility.ToTitleCase(homeLocation.Replace("-", " ").Replace("_", " "));
        CannoicalPath = (WEBRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    }
    if (System.Web.HttpContext.Current.Request.RawUrl.ToLower().IndexOf("nigeria.html") != -1)
    {
        title = "Online Local Business Directory and Search Engine of Nigeria | VConnect™";
        description = "Search upcoming events, movies, local business phone number reviews and authentic information on local businesses directory in Nigeria on VConnect™– the trusted Nigerian Business Directory.";
        keyword = "business directory search engine, nigeria business directory, telephone business directory, local business search, phone business in nigeria, business contact in nigeria, business ideas in Nigeria";
    }
    else
    {
        title = "Local Business Directory and Search Engine of " + metaLocation + " | VConnect™";
        description = "Search upcoming events, movies, reviews and authentic information on local businesses in " + metaLocation + " on VConnect™– the trusted Nigerian Business Directory.";
        keyword = "local business directory, " + metaLocation + " business directory, businesses in " + metaLocation + ", local search engine " + metaLocation;
    }
}
@functions{
    public void extractTags(string scriptText, out string strBusinessUrl, out string imageTag)
    {
        string strRegex1 = @"(?i)(?<=href=\"").+(?=\"")";    //regex needs to be case-insensitive, do NOT make it case sensitive
        string strRegex2 = @"(?i)(?<=src=\"").+(?=\"")";    //do NOT make it case sensitive
        Regex myRegex1 = new Regex(strRegex1, RegexOptions.None);
        string strTargetString = scriptText;
        strBusinessUrl = "";

        foreach (Match myMatch in myRegex1.Matches(strTargetString))    //i need this to run only once
        {
            if (myMatch.Success)
            {
                strBusinessUrl = myMatch.Value;
                break;
            }
        }

        Regex myRegex2 = new Regex(strRegex2, RegexOptions.None);
        imageTag = "";
        foreach (Match myMatch in myRegex2.Matches(strTargetString))    //i need this to run only once
        {
            if (myMatch.Success)
            {
                imageTag = myMatch.Value;
                break;
            }
        }
    }
} 
        <!-- Site header starts :main navigation bar -->       
        <!-- Site header ends -->
        <div id="skrollr-body">
            <section class="jumbotron-container row text-center" data-0="background-position:right 50% bottom 100px;" data-end="background-position:right 50% bottom -1000px;" data-smooth-scrolling="off">              
                <div class="intro-message">
                    <h1>Looking for <span class="change">Local Businesses</span>?</h1>
                    <p>Search from about a million businesses in Nigeria</p>
                </div>
                <div class="search-box columns medium-8 medium-centered">
                    @using (Html.BeginForm(null, null, FormMethod.Get, new { @id = "formHeaderSearch", DefaultButton = "btnSubmitHeader" }))
                    {
                        <div class="row">
                            <div class="medium-4 columns jsearchterm-container">
                                @*@Html.TextBoxFor(m => m.SearchTextHeader, new { @class = "jsearchterm", @placeholder = "What are you looking for? e.g. cars, hotels", @onchange = "return textonchange('SearchTextHeader','KeyWordValueHeader');", @onkeypress = "searchEnterHeader(event)" })*@
                                @Html.TextBoxFor(m => m.SearchTextHeader, new { @class = "searchterm", @placeholder = "What are you looking for? e.g. cars, hotels", @onchange = "return textonchange('SearchTextHeader','KeyWordValueHeader');", @onkeypress = "searchEnterHeader(event)" })
                                @Html.ValidationMessageFor(m => m.SearchTextHeader)
                            </div>
                            <div class="medium-1 columns inbetween-container">
                                <label for="location" class="inline inbetween">in</label>
                            </div>
                            <div class="medium-4 columns jsearchlocation-container">
                                @*@Html.TextBoxFor(m => m.SearchLocationHeader, new { @class = "jsearchlocation", @placeholder = "Where are you looking? e.g. Lagos", @onkeypress = "searchEnterHeader(event)" })*@
                                @Html.TextBoxFor(m => m.SearchLocationHeader, new { @class = "searchlocation", @placeholder = "Where are you looking? e.g. Lagos", @onkeypress = "searchEnterHeader(event)" })
                                @Html.ValidationMessageFor(m => m.SearchLocationHeader)
                            </div>
                            <div class="medium-3 columns search-button-container">
                                <button id="btnSubmitHeader" class="button" type="button" onclick="return validateSearch('SearchTextHeader','SearchLocationHeader');">Search</button>
                            </div>
                            @Html.Hidden("KeyWordValueHeader", string.Empty)
                            @Html.Hidden("LocationValueHeader", string.Empty)
                        </div>
                    }
                </div>
                @if (Request.Cookies["VCLoginID"] == null)
                {
                    <div class="jumbotron-recommend">
                        @using (Html.BeginForm("Facebook", "Account", new { provider = "facebook" }, FormMethod.Post, new { @id = "formFacebookPost" }))
                        {
                            @Html.AntiForgeryToken()
                            <p>Get a personalised search experience.</p>
                            <button onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'ButtonClick', 'eventLabel': 'FaceBookSignIn', 'eventValue' : '0', 'event' : 'FaceBookSignIn'});" class="button-fb">
                                <i class="icon-facebook"> </i>&nbsp;
                                Sign in with Facebook

                            </button>
                        }
                    </div>
                }
                else
                {
                    <div class="jumbotron-recommend">  </div>
                }
                <div class="qsearch-box">
                    @*<a href="http://mtnonline.com/linkforum?utm_source=vconn&utm_medium=display&utm_content=linkforum&utm_campaign=dig" class="banner-overlay" rel="nofollow" onclick="SaveBannerClickLog(2251);" target="_blank"><img src="img/mtn-banner-overlay6.png" alt="banner link"></a>*@
                    <a href="https://www.facebook.com/vconnectnigeria/photos/a.135616186490016.33098.110963688955266/810309992353962" class="banner-overlay" target="_blank">
                       @*<a target="_blank" href="http://deals.vconnect.com/lagos.html" class="banner-overlay">*@
                        @*<img class="banner-logo" src="~/img/vc-square.jpg">*@
                        <img class="banner-logo" src="~/img/independence-logo.jpg">
                        <span class="banner-text">Express your love &amp; pride for Nigeria</span>
                      </a>
                    <p class="title">Quick Search</p>
                    <ul class="qsearch-items">
                        <li>
                            <a href="@homeLocation/list-of-beauty-spa_cl3" data-tag="Beauty-and-Spa" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'BeautyandSpa', 'eventValue' : '0', 'event' : 'BeautyandSpa'});">
                                <i class="icon-mortar"></i>
                                <br>
                                Beauty & Spa
                            </a>
                        </li>

                        <li>
                            <a href="@homeLocation/list-of-hotel-travel_cl1" data-tag="Hotel-and-Travel" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'HotelandTravel', 'eventValue' : '0', 'event' : 'HotelandTravel'});">
                                <i class="icon-plane"></i>
                                <br>
                                Hotel & Travel
                            </a>
                        </li>

                        <li>
                            <a href="@homeLocation/list-of-house-hold-services_cl4" data-tag="Household-Services" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'HouseholdServices', 'eventValue' : '0', 'event' : 'HouseholdServices'});">
                                <i class="icon-house"></i>
                                <br>
                                Household Services
                            </a>
                        </li>
                        <li>
                            <a href="@homeLocation/list-of-lifestyle_cl6" data-tag="Lifestyle" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'Lifestyle', 'eventValue' : '0', 'event' : 'Lifestyle'});">
                                <i class="icon-bar"></i>
                                <br>
                                Lifestyle
                            </a>
                        </li>
                        <li>
                            <a href="@homeLocation/list-of-office-services_cl5" data-tag="Office-Services" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'OfficeServices', 'eventValue' : '0', 'event' : 'OfficeServices'});">
                                <i class="icon-office"></i>
                                <br>
                                Office Services
                            </a>
                        </li>
                        <li>
                            <a href="@homeLocation/list-of-party-event-planning_cl2" data-tag="Party-and-Event-Planning" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'PartyandEventPlanning', 'eventValue' : '0', 'event' : 'PartyandEventPlanning'});">
                                <i class="icon-balloon"></i>
                                <br>
                                Party and Event Planning
                            </a>
                        </li>
                        @*<li><a href="@homeLocation/banquet_halls_cl298" data-tag="banquet-halls" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'BanquetHalls', 'eventValue' : '0', 'event' : 'BanquetHalls'});">
                            <i class="icon-picture"></i>
                            <br>
                            Banquet Halls</a></li>*@
                    </ul>

                    <a href="@homeLocation/all_categories_cl0" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'ViewMoreCat', 'eventValue' : '0', 'event' : 'ViewMoreCat'});" class="button-transparent">View more categories</a>
                </div>
            </section>
            @*<div class="featured-container-bg">
                <section class="featured-container row">
                    <h3 class="text-center nexa">Recommended Businesses  @Model.SearchLocation</h3>
                    @{
                        int firstPostion = 0;
                        int secondPostion = 0;
                        int thirdPostion = 0;
                        bool bannerFlag = false;
                        int bannerCount = 0;
                        if (Model.lstFeaturedBusinesses.Count > 0)
                        {
                            foreach (Vconnect.Mapping.ListingWEB.getFeaturedBanner item in Model.lstFeaturedBusinesses)
                            {
                                bannerArray[bannerCount, 0] = item.bannerid.ToString();
                                bannerArray[bannerCount, 1] = item.businessid.Value.ToString();
                                bannerArray[bannerCount, 2] = item.businessname;
                                //string PREVIOUSURL = string.Empty;
                                //string SOURCEURL = string.Empty;

                                //if (Request.UrlReferrer == null || Request.UrlReferrer.ToString().Trim() == "")
                                //{
                                //    PREVIOUSURL = "-";
                                //}
                                //else
                                //{
                                //    PREVIOUSURL = Request.UrlReferrer.ToString().ToLower().Replace("//", "~~").Replace("/", "~").Replace(".html", ".indexpage").Replace("_", "~").Replace("-", "~").Trim();
                                //}
                                //if (System.Web.HttpContext.Current.Request.Url.AbsoluteUri == null || System.Web.HttpContext.Current.Request.Url.AbsoluteUri.ToString().Trim() == "")
                                //{
                                //    SOURCEURL = "-";
                                //}
                                //else
                                //{
                                //    SOURCEURL = System.Web.HttpContext.Current.Request.Url.AbsoluteUri.ToString().ToLower().Replace("//", "~~").Replace("/", "~").Replace(".html", ".indexpage").Replace("_", "~").Replace("-", "~").Trim();
                                //}
                                //int result = log.addbannerimpressionlog(Convert.ToString(item.bannerid), item.businessid.Value, item.businessname, 0, Utility.GetIpAddress(), SOURCEURL, PREVIOUSURL, Utility.GetReversedns(Utility.GetIpAddress()));
                                if (item.clienttype == 2)
                                {
                                    firstPostion = bannerCount;
                                    bannerFlag = true;
                                }
                                else if (item.clienttype == 2 && bannerFlag == true)
                                {
                                    thirdPostion = bannerCount;
                                }
                                else
                                {
                                    secondPostion = bannerCount;
                                }
                                bannerCount = bannerCount + 1;
                            }
                        }
                    }
                    <span></span>


                    <div class="fbusiness-container columns medium-4">
                        <a href="@Html.Raw(Model.lstFeaturedBusinesses[firstPostion].businessurl)" target="_blank" rel="nofollow">
                            <div class="advert">
                                <!-- Advertisement is placed here -->
                                <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[firstPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[firstPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[firstPostion].businessname" />
                            </div>
                        </a>
                    </div>


                    <div class="fbusiness-container columns medium-4">
                        <a href="/@Model.lstFeaturedBusinesses[secondPostion].businessurl">

                            <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[secondPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[secondPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[secondPostion].businessname" class="text-center" />
                            <div class="fbusiness-content">
                                <span class="star-rating">@Html.Raw(Vconnect.Common.Utility.RateMe(Model.lstFeaturedBusinesses[secondPostion].avgrating))</span>
                                @if (Model.lstFeaturedBusinesses[secondPostion].reviewcount > 0)
                                {
                                    <span class="num-reviews">(@Model.lstFeaturedBusinesses[secondPostion].reviewcount Reviews)</span>
                                }
                                <h4 class="business-title">@Model.lstFeaturedBusinesses[secondPostion].businessname</h4>
                            </div>
                        </a>
                    </div>

                    <div class="fbusiness-container columns medium-4">
                        <a   href="@Html.Raw(Model.lstFeaturedBusinesses[thirdPostion].businessurl)" target="_blank" rel="nofollow" >
                            <div class="advert">
                                <!-- Advertisement is placed here -->
                                <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[thirdPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[thirdPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[thirdPostion].businessname" />
                            </div>
                        </a>
                    </div>

                </section>
            </div>*@
            <div class="featured-container-bg">
                <section class="featured-container row">
                    <h3 class="text-center nexa">Recommended Businesses  @Model.SearchLocation</h3>
                   @{
                       int firstPostion = 0;
                       int secondPostion = 0;
                       int thirdPostion = 0;
                       int footerpostion = 0;
                       bool bannerFlag = false;
                       int bannerCount = 0;

                       if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
                       {
                           foreach (Vconnect.Mapping.ListingWEB.getFeaturedBanner item in Model.lstFeaturedBusinesses)
                           {
                               if (item.clienttype == 2 || item.clienttype == 3)
                               {
                                   bannerArray[bannerCount, 0] = item.bannerid.ToString();
                                   bannerArray[bannerCount, 1] = item.businessid.Value.ToString();
                                   bannerArray[bannerCount, 2] = item.businessname;

                                   if (item.clienttype == 2)
                                   {
                                       firstPostion = bannerCount;
                                       bannerFlag = true;
                                   }
                                   else if (item.clienttype == 2 && bannerFlag == true)
                                   {
                                       thirdPostion = bannerCount;
                                   }
                                   else
                                   {
                                       secondPostion = bannerCount;
                                   }
                               }
                               else if (item.clienttype == 1)
                               {
                                   footerpostion = bannerCount;
                               }
                               bannerCount = bannerCount + 1;
                           }
                       }

                       if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
                       {
                             @*if (Model.lstFeaturedBusinesses[firstPostion].isscript == 1 )
                            {
                        
                                    <div class="fbusiness-container columns medium-4">
                                        <div class="advert">
                                        @Html.Raw(Model.lstFeaturedBusinesses[firstPostion].scripttext)
                                    </div>
                                </div>
                            }
                            else
                            {
                            <div class="fbusiness-container columns medium-4">
                                <a href="@Model.lstFeaturedBusinesses[firstPostion].businessurl" target="_blank" rel="nofollow">
                                    <div class="advert">
                                        <!-- Advertisement is placed here -->
                                        <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[firstPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[firstPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[firstPostion].businessname" />
                                    </div>
                                </a>
                            </div>
                            }*@
                           if (Model.lstFeaturedBusinesses[firstPostion].isscript == 1)
                           {
                               extractTags(Model.lstFeaturedBusinesses[firstPostion].scripttext, out strBusinessUrl, out imageTag);
                                
                                <div class="fbusiness-container columns medium-4">
                                    <div class="advert">
                                        @*@Html.Raw(Model.lstFeaturedBusinesses[firstPostion].scripttext)*@
                                        <a href= "@WebsiteRawPath/linkredirect?id=@Model.lstFeaturedBusinesses[firstPostion].bannerid&url=@curl&link=@strBusinessUrl" target="_blank" rel="nofollow">
                                            <img src="@imageTag"/>
                                        </a>
                                    </div>
                                </div>
                           }
                           else
                           {
                                <div class="fbusiness-container columns medium-4">
                                    <a href= "@WebsiteRawPath/linkredirect?id=@Model.lstFeaturedBusinesses[firstPostion].bannerid&url=@curl&link=@Model.lstFeaturedBusinesses[firstPostion].businessurl" target="_blank" rel="nofollow">
                                    <div class="advert">
                                        <!-- Advertisement is placed here -->
                                        <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[firstPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[firstPostion].businessname" />
                                        @*<img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[firstPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[firstPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[firstPostion].businessname" />*@
                                    </div>
                                    </a>
                                </div>
                           }
                       }
                       if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
                       {
                            <div class="fbusiness-container columns medium-4">
                                <a href= "@WebsiteRawPath/linkredirect?id=@Model.lstFeaturedBusinesses[secondPostion].bannerid&url=@curl&link=@Model.lstFeaturedBusinesses[secondPostion].businessurl" target="_blank" rel="nofollow">
                                    <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[secondPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[secondPostion].businessname" />
                                    @*<img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[secondPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[secondPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[secondPostion].businessname" class="text-center" />*@
                                    <div class="review-details">
                                        <span class="star-rating">@Html.Raw(Vconnect.Common.Utility.RateMe(Model.lstFeaturedBusinesses[secondPostion].avgrating))</span>
                                        @if (Model.lstFeaturedBusinesses[secondPostion].reviewcount > 0)
                                        {
                                            <span class="num-reviews">(@Model.lstFeaturedBusinesses[secondPostion].reviewcount Reviews)</span>
                                        }
                                         <div class="fbusiness-content">
                                        <h4 class="business-title">@Model.lstFeaturedBusinesses[secondPostion].businessname</h4>
                                         </div>
                                    </div>
                                </a>
                            </div>
                     @*<div class="fbusiness-container columns medium-4">
                       <a href="/@Model.lstFeaturedBusinesses[secondPostion].businessurl">

                            <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[secondPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[secondPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[secondPostion].businessname" class="text-center" />
                         
                            <div class="review-details">
                                <span class="star-rating">@Html.Raw(Vconnect.Common.Utility.RateMe(Model.lstFeaturedBusinesses[secondPostion].avgrating))</span>
                                @if (Model.lstFeaturedBusinesses[secondPostion].reviewcount > 0)
                                {
                                    <span class="num-reviews">(@Model.lstFeaturedBusinesses[secondPostion].reviewcount Reviews)</span>
                                }
                                   </div>
                               <div class="fbusiness-content">
                                    <h4 class="business-title">@Model.lstFeaturedBusinesses[secondPostion].businessname</h4>
                            </div>
                        </a>
                       
                    </div> *@@*   <div class="fbusiness-content">
                                <span class="star-rating">@Html.Raw(Vconnect.Common.Utility.RateMe(Model.lstFeaturedBusinesses[secondPostion].avgrating))</span>
                                @if (Model.lstFeaturedBusinesses[secondPostion].reviewcount > 0)
                                {
                                    <span class="num-reviews">(@Model.lstFeaturedBusinesses[secondPostion].reviewcount Reviews)</span>
                                }
                                <h4 class="business-title">@Model.lstFeaturedBusinesses[secondPostion].businessname</h4>
                            </div>*@
                       }
                       if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
                       {
                          @* if (Model.lstFeaturedBusinesses[thirdPostion].isscript == 1)
                           {
                            
                             <div class="fbusiness-container columns medium-4">
                                 <div class="advert">
                             @Html.Raw(Model.lstFeaturedBusinesses[thirdPostion].scripttext)
                             </div>
                             </div>
                           }
                           else
                           {
                        <div class="fbusiness-container columns medium-4">
                            <a   href="@Model.lstFeaturedBusinesses[thirdPostion].businessurl" target="_blank" rel="nofollow" >
                                <div class="advert">
                                    <!-- Advertisement is placed here -->
                                    <img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[thirdPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[thirdPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[thirdPostion].businessname" />
                                </div>
                            </a>
                        </div>
                           }*@
                           if (Model.lstFeaturedBusinesses[thirdPostion].isscript == 1)
                           {
                               extractTags(Model.lstFeaturedBusinesses[thirdPostion].scripttext, out strBusinessUrl, out imageTag);
                                
                                <div class="fbusiness-container columns medium-4">
                                    <div class="advert">
                                        @*@Html.Raw(Model.lstFeaturedBusinesses[thirdPostion].scripttext)*@
                                        <a href= "@WebsiteRawPath/linkredirect?id=@Model.lstFeaturedBusinesses[thirdPostion].bannerid&url=@curl&link=@strBusinessUrl" target="_blank" rel="nofollow">
                                            <img src="@imageTag"/>
                                        </a>
                                    </div>
                                </div>
                           }
                           else
                           {    
                                <div class="fbusiness-container columns medium-4">
                                    <a href= "@WebsiteRawPath/linkredirect?id=@Model.lstFeaturedBusinesses[thirdPostion].bannerid&url=@curl&link=@Model.lstFeaturedBusinesses[thirdPostion].businessurl" target="_blank" rel="nofollow">
                                        <div class="advert">
                                            <!-- Advertisement is placed here -->
                                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[thirdPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[thirdPostion].businessname" />
                                            @*<img onclick="SaveBannerClickLog(@Model.lstFeaturedBusinesses[thirdPostion].bannerid)" src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[thirdPostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[thirdPostion].businessname" />*@
                                        </div>
                                    </a>
                                </div>
                           }
                       }
                    }
                </section>
            </div>
            <div class="how-container-bg">
                <section class="how-container row text-center">
                    <h3 class="nexa">How does VConnect work?</h3>
                    <div class="how-step columns medium-4">
                        @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "search-icon.png")" alt="Search" />*@
                        <span class="spr-search"></span>
                        <h4>Search</h4>
                        <p>Your search for local needs ends here! Get access to close to a million businesses in Nigeria. Post your requirement and get quotes from best local businesses around you.</p>
                    </div>
                    <div class="how-step columns medium-4">
                        <div class="text-center">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "save-icon.png")" alt="Save" />*@
                            <span class="spr-save"></span>
                            <h4>Save</h4>
                        </div>
                        <p>Are there businesses you visit frequently? Organize your business contacts in one single place! Start saving your favorite business to a list and access their contact details on the go.</p>
                    </div>
                    <div class="how-step columns medium-4">
                        <div class="text-center">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "share-icon.png")" alt="Share" />*@
                            <span class="spr-share"></span>
                            <h4>Share</h4>
                        </div>
                        <p>Did you find out a great business on VConnect? Share it on Facebook, Twitter and Google+. Let your friends benefit from your discovery and help the business grow.</p>
                    </div>
                </section>
            </div>
            <section class="footer-banner">
               @if (Model.lstFeaturedBusinesses != null && Model.lstFeaturedBusinesses.Count > 0)
               {
                   string bannerName = string.Empty;
                   bannerName = Model.lstFeaturedBusinesses[footerpostion].businessname.ToUpper().Contains("MTN") ? "MTNWEB" : Model.lstFeaturedBusinesses[footerpostion].businessname.Contains("United Bank For Africa Plc") ? "UNITEDBANKAFRICAWEB" : "";
                     @*if (Model.lstFeaturedBusinesses[footerpostion].isscript == 1)//Script banner
                    {
                        <Text>@Html.Raw(Model.lstFeaturedBusinesses[footerpostion].scripttext)</Text>
                    }
                    else // 
                    {                    
                        <a href="@Model.lstFeaturedBusinesses[footerpostion].businessurl" target="_blank" rel="nofollow" onclick="bannerLogClick('@Model.lstFeaturedBusinesses[footerpostion].bannerid','@bannerName')" >
                             <img style="border: 0px" src="http://images.vconnect.com/resource/uploads/banners/@Model.lstFeaturedBusinesses[footerpostion].businessbanner"  onload="bannerLogImpression('@bannerName')" alt="@Model.lstFeaturedBusinesses[footerpostion].businessname"/>
                        </a>
                    }*@ 
                   if (Model.lstFeaturedBusinesses[footerpostion].isscript == 1)//Script banner
                   {
                       extractTags(Model.lstFeaturedBusinesses[footerpostion].scripttext, out strBusinessUrl, out imageTag);
                        @*<Text>@Html.Raw(Model.lstFeaturedBusinesses[footerpostion].scripttext)</Text>*@
                        <a href= "@WebsiteRawPath/linkredirect?id=@Model.lstFeaturedBusinesses[footerpostion].bannerid&url=@curl&link=@strBusinessUrl" target="_blank" rel="nofollow">
                            <img src="@imageTag"/>
                        </a>
                   }
                   else // 
                   {                    
                        <a href= "@WebsiteRawPath/linkredirect?id=@Model.lstFeaturedBusinesses[footerpostion].bannerid&url=@curl&link=@Model.lstFeaturedBusinesses[footerpostion].businessurl" target="_blank" rel="nofollow">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/banners/" + Model.lstFeaturedBusinesses[footerpostion].businessbanner)" alt="@Model.lstFeaturedBusinesses[footerpostion].businessname" />
                        </a>
                        
                        @*<a href="@Model.lstFeaturedBusinesses[footerpostion].businessurl" target="_blank" rel="nofollow" onclick="bannerLogClick('@Model.lstFeaturedBusinesses[footerpostion].bannerid','@bannerName')" >
                             <img style="border: 0px" src="http://images.vconnect.com/resource/uploads/banners/@Model.lstFeaturedBusinesses[footerpostion].businessbanner"  onload="bannerLogImpression('@bannerName')" alt="@Model.lstFeaturedBusinesses[footerpostion].businessname"/>
                        </a>*@
                   }
               }              
            </section>
            @*<section class="footer-banner">
                <!-- Place footer banner advertisement here -->
                @if (ViewBag.sRandomfooterbanner == "1")
                {
                    <a target="_blank" href="http://ad.doubleclick.net/jump/N3707.1092086.VCONNECT.COM/B8032713;sz=728x90;ord=@DateTime.UtcNow?" rel="nofollow">
                        <img src="http://ad.doubleclick.net/ad/N3707.1092086.VCONNECT.COM/B8032713;sz=728x90;ord=@DateTime.UtcNow?" border="0" width="728" height="90" alt="Advertisement" />
                    </a>
                }     
                else if (ViewBag.sRandomfooterbanner == "2")
                {
                    <a target="_blank"  href="http://ad.doubleclick.net/jump/N7936.1092086.VCONNECT.COM/B8140433.109015187;abr=!ie4;abr=!ie5;sz=728x90;ord=@DateTime.UtcNow?" rel="nofollow">
                    <img src="http://ad.doubleclick.net/ad/N7936.1092086.VCONNECT.COM/B8140433.109015187;abr=!ie4;abr=!ie5;sz=728x90;ord=@DateTime.UtcNow?" BORDER=0 WIDTH=728 HEIGHT=90 ALT="Advertisement"/>
                    </a>
                }
                else if (ViewBag.sRandomfooterbanner == "3")
                {
                    <a href="http://mtnonline.com/linkforum?utm_source=vconn&utm_medium=display&utm_content=linkforum&utm_campaign=dig" target="_blank" rel="nofollow" onclick="MTNbanner()"> <img style="border: 0px" src="http://images.vconnect.com/resource/uploads/banners/mtnforum2-728x90-24-4-14.jpg" alt="MTN Banner" onclick="UBAbanner()"/></a>
                    <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="dataLayer.push({'eventCategory' : 'Banner', 'eventAction' : 'BannerImpression', 'eventLabel': 'MTNWEB', 'eventValue' : '2.00', 'event' : 'MTNWEB'});" />
                }
                else
                {
                    <a href="http://www.ubagroup.com/?utm_source=ABusReview&utm_medium=Banner&utm_term=ubagroup&utm_content=NRN&utm_campaign=Products" target="_blank" rel="nofollow" onclick="UBAbanner()"> <img style="border: 0px" src="http://images.vconnect.com/resource/uploads/banners/aop_wk48_728by90.gif"  alt="UBA Banner" onclick="UBAbanner()"/></a>
                    <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  onload="dataLayer.push({'eventCategory' : 'Banner', 'eventAction' : 'BannerImpression', 'eventLabel': 'UNITEDBANKAFRICAWEB', 'eventValue' : '2.00', 'event' : UNITEDBANKAFRICAWEB'});" />
                }


            </section>*@
            <div class="app-promo-bg">
                <section class="app-promo row">
                    <div class="columns medium-3">
                        <img src="@Html.Raw(MyGlobalVariables.Staticimage + "mobile-app-small.png")" alt="App screenshots" />
                    </div>
                    <div class="app-promo-description columns medium-9">
                        <h3 class="nexa">Connect on the go.</h3>
                        <p>
                            <strong>Searching for Local Businesses has never been easier.</strong><br>
                            You can now access close to a million businesses to fulfill your local needs from your Android, iOS and Blackberry mobile phones and tablets.

                        </p>
                        <a href="https://itunes.apple.com/us/app/vconnect.com/id699407319?ls=1&mt=8" class="appstore-btn" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'ApponApple', 'eventValue' : '0', 'event' : 'ApponApple'});" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.Staticimage + "appstore-button.png")" alt="AppStore" />
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.vconnect.view&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS52Y29ubmVjdC52aWV3Il0." class="gplay-btn" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'ApponAndroid', 'eventValue' : '0', 'event' : 'ApponAndroid'});" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.Staticimage + "googleplay-button.png")" alt="Google Play" />
                        </a>
                        <a href="http://appworld.blackberry.com/webstore/content/27314117/" class="bbapp-btn" onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'IconClick', 'eventLabel': 'ApponBB', 'eventValue' : '0', 'event' : 'ApponBB'});" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.Staticimage + "blackberryapp-button.png")" alt="Blackberry App World" />
                        </a>
                    </div>
                </section>
            </div>
            <div class="bcorner-container-bg">
                <section class="bcorner-container row text-center">
                    <h3 class="nexa">Grow your business with VConnect.</h3>
                    <div class="business-step columns medium-4">
                        <img src="@Html.Raw(MyGlobalVariables.Staticimage + "register-icon.png")" alt="" />
                        <h4>Register</h4>
                        <p>It starts with a free registration! Provide your basic information including contact details, products and services, and set your business on the growth path.</p>
                        <a href="/businessregistration" class="button button-red">Register your business</a>
                    </div>
                    <div class="business-step columns medium-4">
                        <img src="@Html.Raw(MyGlobalVariables.Staticimage + "claim-icon.png")" alt="" />
                        <h4>Claim</h4>
                        <p>Have you already registered? Well Done. Claim your online business profile. This is your own online space. Update your details and attract more customers.</p>
                        <a href="claimyourbusiness" class="button button-red">See how it works</a>
                    </div>
                    <div class="business-step columns medium-4">
                        <img src="@Html.Raw(MyGlobalVariables.Staticimage + "advertise-icon.png")" alt="" />
                        <h4>Advertise</h4>
                        <p>Unlock the power of online marketing using VConnect business solutions. Proactively reach out to new customers and engage existing ones. And many more features.</p>
                        <a href="/advertise" class="button button-red">Advertise with us</a>
                    </div>
                </section>
            </div>
            <div class="featured-media-bg">
                <section class="featured-media row text-center">
                    <h3 class="nexa">Featured in</h3>
                    <ul class="media-list">
                        <li>
                            @*<a href="http://sunnewsonline.com/new/business/we-have-spent-over-n157million-to-optimize-data-vconnect-co-founder/" target="_blank">*@
                        @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "sun-logo.png")" alt="image">*@<span class="spr-sun"></span>@*</a>*@
                    </li>
                    <li>
                        <a href="http://www.ventures-africa.com/2013/09/takes-build-nigerias-largest-sme-data-company/" target="_blank">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "/ventures-logo.png")" alt="image">*@<span class="spr-ventures"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.cnbcafrica.com/video/?bctid=2875082493001" target="_blank">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "cnbc-logo.png")" alt="image">*@<span class="spr-cnbc"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.forbes.com/sites/mfonobongnsehe/2013/07/18/vconnect-com-is-one-of-africas-hottest-tech-startups/" target="_blank">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "forbes-logo.png")" alt="image">*@<span class="spr-forbes"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/watch?v=dF-aqJ0tBko" target="_blank">
                            @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "ndani-logo.png")" alt="image">*@<span class="spr-ndani"></span>
                        </a>
                    </li>
                    <li>
                        @*<a href="#">*@
                        @*<img src="@Html.Raw(MyGlobalVariables.Staticimage + "tedx-logo.png")" alt="image">*@<span class="spr-tedx"></span>
                        @*</a>*@

                    </li>
                </ul>

                @* <ul class="media-list">
                        <li><a href="http://sunnewsonline.com/new/business/we-have-spent-over-n157million-to-optimize-data-vconnect-co-founder/" target="_blank">
                            <img src= "@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/The_Sun.jpg")" alt="The Sun"></a></li>
                        <li><a href="http://www.ventures-africa.com/2013/09/takes-build-nigerias-largest-sme-data-company/" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/Venture_Africa.png")" alt="Venture Africa"></a></li>
                        <li><a href="http://www.cnbcafrica.com/video/?bctid=2875082493001" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/CNBC_Africa.png")" alt="CNBC Africa"></a></li>
                        <li><a href="http://www.forbes.com/sites/mfonobongnsehe/2013/07/18/vconnect-com-is-one-of-africas-hottest-tech-startups/" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/Forbes.png")" alt="Forbs"></a></li>
                        <li><a href="http://www.youtube.com/watch?v=dF-aqJ0tBko" target="_blank">
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/NDani_TV.png")" alt="NDani TV"></a></li>
                        <li>
                            <img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + "uploads/press_release/TEDx.png")" alt="TEDx"></li>
                    </ul>*@
            </section>
        </div>
            @*<a class="sidefix-feedback" href="/feedback">Give us your feedback</a>*@
        <!-- Site footer starts -->
        @*@Html.Partial("~/Views/Shared/_WebFooterPartialNew.cshtml")*@
        <!-- Site footer ends -->
    </div>

<script>
   
    //var selectedautocompvalue = "";
    //function selectedTTerm(datum) {        
    //    document.getElementById('KeyWordValueHeader').value = datum.value;
    //    selectedautocompvalue = datum.label;
    //}
    //function selectedJTerm(datum) {        
    //    document.getElementById('KeyWordValue').value = datum.value;
    //    selectedautocompvalue = datum.label;
    //}
    //function selectedTLocation(datum) {        
    //    document.getElementById('LocationValueHeader').value = datum.value;
    //}
    //function selectedJLocation(datum) {        
    //    document.getElementById('LocationValue').value = datum.value;
    //}
    //function textonchange(objSearchKeyword, objSearchHidden) {

    //    if (selectedautocompvalue != document.getElementById(objSearchKeyword).value) {
    //        {
    //            document.getElementById(objSearchHidden).value = "";
    //        }
    //    }
    //}
    function SaveBannerClickLog(bid) {
            $.getJSON('@Url.Action("BannerClickLog", "SearchListWEB")', { 'bid': bid })
    }
    function SaveBannerImpressionLogs() {
        @if (ViewBag.sRandomfooterbanner == "2")
        {
                <Text>
         $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '2232', businessid: '56855', businessname: 'Mtn Nigeria Communications Limited' });
        </Text>
        }
        else if (ViewBag.sRandomfooterbanner == "3")
        {
                <Text>
         $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '2250', businessid: '396779', businessname: 'United Bank For Africa Plc' });
         </Text>
        }
         //$.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '2251', businessid: '33355', businessname: 'Mtn Nigeria Communications Limited' });
         $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[0, 0]', businessid: '@bannerArray[0, 1]', businessname: '@bannerArray[0, 2]' });
         $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[1, 0]', businessid: '@bannerArray[1, 1]', businessname: '@bannerArray[1, 2]' });
         $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[2, 0]', businessid: '@bannerArray[2, 1]', businessname: '@bannerArray[2, 2]' });
     }
     SaveBannerImpressionLogs();

     function MTNbanner() {

         dataLayer.push({ 'eventCategory': 'Banner', 'eventAction': 'BannerClick', 'eventLabel': 'MTNWEB', 'eventValue': '1.00', 'event': 'MTNWEB' });
         SaveBannerClickLog(2232);
     }
     function UBAbanner() {

         dataLayer.push({ 'eventCategory': 'Banner', 'eventAction': 'BannerClick', 'eventLabel': 'UNITEDBANKAFRICAWEB', 'eventValue': '1.00', 'event': 'UNITEDBANKAFRICAWEB' });
         SaveBannerClickLog(2250);
     }

     function bannerLogImpression(bannerString) {
         //alert(bannerString);
         dataLayer.push({ 'eventCategory': 'Banner', 'eventAction': 'BannerImpression', 'eventLabel': bannerString, 'eventValue': '2.00', 'event': bannerString });
     }

     function bannerLogClick(bannerid, bannerString) {
         // alert(bannerString);
         dataLayer.push({ 'eventCategory': 'Banner', 'eventAction': 'BannerClick', 'eventLabel': bannerString, 'eventValue': '1.00', 'event': bannerString });
         SaveBannerClickLog(bannerid);
     }
     $(window).load(function () {

         $.getJSON('@Url.Action("HomePageLog", "HomeWEB")');
    });

</script>