﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_WAPMainMaster.cshtml";
}
@model Vconnect.Models.LoginModel
@Styles.Render("~/Content/WAPthemes/Home/css/login")


<div class="covwrap">
    <div class="login-blk">
        <div class="mlogpublic">
            <div class="headlef">
                <a href='<%= Page.ResolveUrl("http://localhost:31585/") %>' title="Back" class="home">Back</a>
            </div>
            <div class="headrig">
                @* <asp:Literal ID="ltrlLoginFor" runat="server"></asp:Literal></div>*@
                <div class="clear">
                </div>
            </div>
            <div>
                <p id="pError" runat="server">
                    @Session["loginError"]
                    @ViewBag.UserMsg
                </p>
            </div>
            @using (Html.BeginForm("Login", "Account", new { returnUrlControllerName = "HomeWEB", returnUrlActionName = "HomeWEB", defaultcontroller = "WapLogin", defaultaction = "Login" }, FormMethod.Post))
            { 
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="bizlogformout">


                    <span class="bizlogform">Login with Email/Mobile Number<span class="mandatory" style="display: inline;">*</span></span>
                    @Html.TextBoxFor(m => m.Login, new { @class = "NewUserForm" })
                    @Html.ValidationMessageFor(m => m.Login)
                </div>
                <div class="bizlogformout">
                    <span class="bizlogform">Password<span class="mandatory" style="display: inline;">*</span></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "NewUserForm" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="logrem">
                    <span class="bizlogform">Remember Me</span>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                    @*<input type="checkbox" id="chkRemember" /> *@

                </div>
                <div class="mlogbut" style="width: 100%;">
                    <div class="mlogbutl" style="float: none;">
                        <input type="submit" name="Login" value="Login" onclick="return validateData();">
                        @* <asp:Button ID="btnskip" Style="margin-left: 15px" runat="server" Text="Skip" OnClick="btnskip_Click"
                        Width="46px" />*@

                    </div>


                    <div class="clear">
                    </div>
                    <div style="text-align: center; margin-top: 9px;">
                          <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password</a>
                    </div>
                </div> 
            }
            <div class="nwuserbut">
                New to VConnect ?
                        @*<asp:Literal ID="aRegister" runat="server"></asp:Literal>*@


            </div>
            <div class="clear">
            </div>
            <div class="mlogpublic" style="background-color: #fff; font-size: 13px; font-weight: bold; text-align: center;">
                Or
            </div>
            <div class="mlogpublicshow" style="background-color: #fff; border: none;">

                <section class="social" id="socialLoginForm">
                    <h2>Use another service to log in.</h2>
                    <div class="log_br">
                        <div class="log_brinputs">
                            <div class="log_pb">
                               @Html.Action("ExternalLoginsList", new { returnUrlControllerName = "HomeWEB", returnUrlActionName = "HomeWEB" })

                            </div>
                        </div>
                    </div>
                </section>
                <div class="clear">
                </div>
            </div>
        </div>
        <div id="auth-status">
        </div>
    </div>
    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        function validateData() {
            var username = document.getElementById('Login');
            var password = document.getElementById('Password');
            var objTxtResult = document.getElementById('pError');
            if (username.value.trim() == "") {
                document.getElementById('pError').style.color = "red";
                objTxtResult.innerHTML = 'Please specify username';
                return false;
            }
            if (password.value.trim() == "") {
                document.getElementById('pError').style.color = "red";
                objTxtResult.innerHTML = 'Please specify Password ';
                return false;
            }

        }
    </script>
