﻿@charset "utf-8";
/* CSS Document */
body{font-family:Calibri, Tahoma, Arial;} 
.clear{clear:both;}

.main-container{width:90%; padding:10px 0px; margin:0 auto; min-width:980px;}
.bred-crum{background:#f3f3f3; padding:8px 10px; font-size:14px; color:#4E4E4E; border:#EBEBEB 1px solid;}
.bred-crum a{color:#777; text-decoration:none;}
.bred-crum a:hover{color:#000;}

.userdb-area{background:#FAFAFA; margin-top:10px;border:#E0E0E0 1px solid;}
.userdb-left{float:left; width:20%; min-width:180px; background:#FFF;}
.pro-picarea{padding:10px; text-align:center;color:#666;border-right: #E0E0E0 1px solid;}
.pro-picarea a{text-decoration:none; color:#666; font-size:14px;}
.pro-picarea a:hover{color:#111;}
.pro-picarea h2{padding:10px 0px; margin:0; font-size:18px; }

.pro-photo{width:100px; height:100px; margin:0 auto; padding:10px 0px;}
.pro-photo img{width:100px;height:100px; border:#f3f3f3 1px solid;}

.left-links{width:auto;}
.left-links ul{padding:0; margin:0; list-style:none;}
.left-links li{display: block;background: #1da047;font-size: 14px;color: #FFF;border-bottom: #178039 1px solid;}
.left-links li a{padding: 10px 20px;text-decoration: none;display: block;color: #FFF;font-size: 17px;}
.left-links li a:hover{color:#FFF; background:#178039;}
.active{color:#FFF; background:#178039;}

.userdb-mid{float:left; width:55%;}
.user-midcontent{padding:15px 0px;}
.midcontent-head h1{color:#178039; padding:0px; margin:0; float:right; font-size:15px; font-weight:400; margin-right:20px;}
.midcontent-head{font-family:Tahoma, Arial, Calibri; border-bottom:#E0E0E0 1px solid;padding:10px 0px; font-size:15px; width:100%;background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.tab-title{float:left;margin-left: 25px; color:#178039;}
.account-table{background:#fff; width:94%; margin:0 auto; border:#F0F0F0 1px solid; border-bottom:none;}
.account-tb-row{border-bottom:#F0F0F0 1px solid; color:#666; font-size:14px;}
.tb-row-head{background:#EB6E6E; color:#fff; font-size:16px;}
.tb-rowbox1{width:45%; float:left; padding:10px;}
.tb-rowbox2{width:20%; float:left; padding:10px; border-right:#F0F0F0 1px solid; border-left:#F0F0F0 1px solid; text-align:center;}
.tb-rowbox3{width:20%; float:left; padding:10px; text-align:center;}

.userdb-right{float:right; width:25%;}
.right-boxhead{background:#178039; padding:11px 20px; color:#FFF; margin-top:-1px;}
.review-list{background:#FFF; padding:10px 15px; font-size:14px;  border-left:#E0E0E0 1px solid;  border-bottom:#E0E0E0 1px solid; margin-bottom:15px;}
.review-list ul{padding:0; margin:0; list-style:none;}
.review-list li{padding:8px 5px; border-bottom:#ccc dotted 1px;color: #555;}
.review-list li:last-child{border-bottom:none;}


/*-------------------------------------------------- Manage Details page*/
.udb-detail{background:#fff; width:94%; margin:0 auto; border:#E4E2E2 1px solid; border-bottom:none;}
.udb-detail-row{border-bottom:#E4E2E2 1px solid; color:#666; font-size:14px;}
.udb-detail-boxl{width:35%; float:left; padding:10px 20px;}
.udb-detail-boxr{width:45%; float:left; padding:10px 20px; border-left:#E0E0E0 1px solid;}
.udb-detail-boxr img{width:80px; height:80px; padding:2px; border:#ccc 1px solid; background:#FFF;}
.udb-detail-row a{padding:8px 15px; background:#6AA22D; color:#fff; text-decoration:none;font-size: 16px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.udb-detail-row a:hover{background:#53831F;}
.grey{background:#FAFAFA;}

/*-------------------------------------------------- Edit Manage Details page*/
.udb-form-area{background:#fff; width:94%; margin:0 auto; border:#E4E2E2 1px solid; border-bottom:none; padding-top:10px;}
.udb-form-row{border-bottom:#F0F0F0 1px solid; color:#666; font-size:14px;}
.udb-form-left{width:30%; float:left; padding:10px 20px;}
.udb-form-right{width:50%; float:left; padding:10px 20px; border-left:#F0F0F0 1px solid;}
.udb-form-right img{width:80px; height:80px; padding:2px; border:#ccc 1px solid; background:#FFF;}

.udb-form-right input[type="submit"]{padding:7px 20px; background:#6AA22D; color:#fff; text-decoration:none;font-size: 16px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; border:none;font-family:Calibri, Tahoma, Arial;}
.udb-form-right input[type="submit"]:hover{background:#53831F;}

.udb-form-right input[type="reset"]{padding:7px 20px; background:#7E7E7E; color:#fff; text-decoration:none;font-size: 16px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; border:none;font-family:Calibri, Tahoma, Arial;}
.udb-form-right input[type="reset"]:hover{background:#333;}

.udb-form-right input[type="text"]{border-radius: 2px;border:1px solid #ccc;padding:5px;width: 86%; margin:0; color:#333; background: #f9f9f9;background: -moz-linear-gradient(top,  #f9f9f9 0%, #ffffff 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ffffff));background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ffffff 100%);background: -o-linear-gradient(top,  #f9f9f9 0%,#ffffff 100%);background: -ms-linear-gradient(top,  #f9f9f9 0%,#ffffff 100%);background: linear-gradient(to bottom,  #f9f9f9 0%,#ffffff 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 );
}
.udb-form-right select{border-radius: 2px;border:1px solid #ccc;background: #FAFAFA;padding:5px;width: 90%; margin:0; color:#333;}
.udb-form-right textarea{border-radius: 2px;border:1px solid #ccc; height:100px; background: #FAFAFA;padding:5px;width: 86%; margin:0; color:#333; font-family:Arial, Helvetica, sans-serif;}
.udb-form-right input[type="password"]{border-radius: 2px;border:1px solid #ccc;background: #FAFAFA;padding:5px;width: 90%; margin:0; color:#333;}

/*-------------------------------------------------- My Watch list page*/
.watchlist-table{background:#fff; width:94%; margin:0 auto; border:#F0F0F0 1px solid; border-bottom:none;}
.watchlis-tb-row{border-bottom:#F0F0F0 1px solid; color:#666; font-size:14px;}
.watchlis-row-head{background:#5492B1; color:#fff; font-size:16px;}
.watchlis-rowbox1{width:55%; float:left; padding:10px;border-right:#F0F0F0 1px solid;}
.watchlis-rowbox2{width:25%; float:left; padding:10px; text-align:center;}
.watchlis-rowbox3{width:20%; float:left; padding:10px; border-left:#F0F0F0 1px solid; text-align:center;}
.watchlis-rowbox1 a{text-decoration:none; color:#666; display:block; font-size:15px;}
.watchlis-rowbox1 a:hover{text-decoration:underline; color:#0066C4;}

/*-------------------------------------------------- Keywords not found page*/
.keyword-table{background:#fff; width:94%; margin:0 auto; border:#F0F0F0 1px solid; border-bottom:none;}
.keyword-tb-row{border-bottom:#F0F0F0 1px solid; color:#666; font-size:14px;}
.keyword-row-head{background:#5492B1; color:#fff; font-size:16px;}
.keyword-rowbox1{width:29%; float:left; padding:10px;}
.keyword-rowbox2{width:15%; float:left; padding:10px; border-left:#F0F0F0 1px solid; text-align:center;}
.keyword-rowbox3{width:26%; float:left; padding:10px; border-left:#F0F0F0 1px solid; text-align:center;}
.keyword-rowbox4{width:12%; float:left; padding:10px; border-left:#F0F0F0 1px solid; text-align:center;}

/*-------------------------------------------------- Edit Profile Picture page*/
.udb-upload-img{width:94%; padding:0px; margin:0 auto; background:#FFF;}
.udb-upload-left{float:left; margin-right:20px; padding:10px;}
.udb-upload-left img{width:100px; height:100px; border:#f3f3f3 1px solid;}
.udb-upload-right{float:left; padding:10px;}
