﻿@model  Vconnect.Models.BizRegModels
@{
   Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
   string title = "Register as Business Owner, Get More Quality Customers | VConnect™";//your page title
   string description = "Register as Business Owner. Fill VConnect Business registration from and get more quality customers.";
   string keyword = "VConnect Business Registration form, register business, register as business owner, Get more customers, get quality leads";
 }
@section title{@title}
@section  description{@description}
@section keyword{@keyword}
<style>
     .MsgGreen
    {background:url(http://vccloud.blob.core.windows.net/vcsites/vcimages/resource/images/vcsptite_pngset.png) 0 -223px no-repeat scroll transparent;color:#55da3d!important;font-size:12px;font-weight:700;border:1px solid #55da3d;padding:7px 5px 6px 32px!important;display:block}
</style>
                        <script lang="javascript" type="text/javascript">
                            $(function () {
                                debugger;
                                var userid = '@Model.CAPTCHA';
                                $('#phonenumber').blur(function () {
                                    $.getJSON('/BizReg/phonenumbercheck', { phonenumber: $("#phonenumber").val(),userid:userid },
                                    function (data) {
                                        // document.getElementById('txtContactPersonPhone').style.display = 'none';
                                        document.getElementById('Msgavailablebusinessphonenol').style.display = 'block';
                                        document.getElementById("Msgavailablebusinessphoneno").innerHTML = '';
                                        document.getElementById('Labelloaderphone').innerHTML = 'Checking ...';
                                        document.getElementById("divnf2").style.display = 'block';
                                        
                                        document.getElementById("phonenumber").setAttribute("required","");
                                        document.getElementById("phonenumber").setAttribute("data_invalid","");
                                        document.getElementById("phonenumber").setAttribute("pattern", "");
                                        document.getElementById("phonenumber").getAttribute("required");
                                        document.getElementById("pcl").style.color = '#D22C25';
                                        // alert(document.getElementById('divnf1').innerHTML);
                                        if (data == '1') {
                                            document.getElementById('Labelloaderphone').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenol').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphoneno").innerHTML = 'Phone No. Already Exists';
                                            document.getElementById('Msgavailablebusinessphoneno').style.color = 'white';
                                            document.getElementById('Msgavailablebusinessphoneno').style.backgroundColor = '#D22C25';
                                            document.getElementById('Msgavailablebusinessphoneno').style.display = 'block';
                                        }
                                        else if (data == '2') {
                                            document.getElementById('Labelloaderphone').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenol').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphoneno").innerHTML = 'Invalid Phone Number';
                                            document.getElementById('Msgavailablebusinessphoneno').style.color = 'white';
                                            document.getElementById('Msgavailablebusinessphoneno').style.backgroundColor = '#D22C25';
                                            document.getElementById('Msgavailablebusinessphoneno').style.display = 'block';

                                        }
                                        else if (data == '0') {
                                                document.getElementById('Labelloaderphone').innerHTML = '';
                                                document.getElementById('Msgavailablebusinessphonenol').style.display = 'none';
                                                document.getElementById("Msgavailablebusinessphoneno").innerHTML = 'New Contact Number, Please add';
                                                document.getElementById('Msgavailablebusinessphoneno').style.color = 'green';
                                                document.getElementById('Msgavailablebusinessphoneno').style.backgroundColor = 'white';
                                                document.getElementById('Msgavailablebusinessphoneno').style.marginTop = "0px";
                                                document.getElementById('Msgavailablebusinessphoneno').style.display = 'block';
                                                document.getElementById("pcl").style.color = '#4D4D4D';
                                                document.getElementById("phonenumber").removeAttribute("required");
                                                document.getElementById("phonenumber").removeAttribute("data_invalid");
                                                document.getElementById("phonenumber").removeAttribute("pattern");
                                        }
                                        else if (data == '5') {
                                            document.getElementById('Labelloaderphone').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenol').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphoneno").innerHTML = 'Please start contact number with zero';
                                            document.getElementById('Msgavailablebusinessphoneno').style.color = 'white';
                                            document.getElementById('Msgavailablebusinessphoneno').style.backgroundColor = '#D22C25';
                                            document.getElementById('Msgavailablebusinessphoneno').style.display = 'block';
                                        }
                                        else {
                                            document.getElementById('Labelloaderphone').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenol').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphoneno").innerHTML = 'Enter phone number';
                                            document.getElementById('Msgavailablebusinessphoneno').style.color = 'white';
                                            document.getElementById('Msgavailablebusinessphoneno').style.backgroundColor = '#D22C25';
                                            document.getElementById('Msgavailablebusinessphoneno').style.display = 'block';
                                        }
                                    }
                                        )
                                });
                            });
                            $(function () {
                                debugger;
                                var userid1 = '@Model.CAPTCHA';
                            $('#altphonenumber').blur(function () {
                                debugger;
                                    $.getJSON('/BizReg/phonenumbercheckalt', { altphonenumber: $("#altphonenumber").val(), phonenumber: $("#phonenumber").val(), userid: userid1 },
                                    function (data) {
                                        debugger;
                                        // document.getElementById('txtContactPersonPhone').style.display = 'none';
                                        document.getElementById('Msgavailablebusinessphonenolalt').style.display = 'block';
                                        document.getElementById("Msgavailablebusinessphonenoalt").innerHTML = '';
                                        document.getElementById('Labelloaderphonealt').innerHTML = 'Checking ...';
                                        document.getElementById("divnf2alt").style.display = 'block';
                                        debugger;
                                        document.getElementById('altphonenumber').style.marginBottom = '0px';
                                        if (data == '1') {
                                            document.getElementById('Labelloaderphonealt').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenolalt').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphonenoalt").innerHTML = 'Alternate Phone No. Already Exists';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.color = 'white';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.backgroundColor = '#F04124';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.display = 'block';

                                        }
                                        else if (data == '6') {
                                            document.getElementById('Labelloaderphonealt').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenolalt').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphonenoalt").innerHTML = 'Alternate phone match with company phone number';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.color = 'white';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.backgroundColor = '#F04124';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.display = 'block';
                                        }
                                        else if (data == '2') {
                                            document.getElementById('Labelloaderphonealt').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenolalt').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphonenoalt").innerHTML = 'Invalid Alternate Phone Number';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.color = 'white';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.backgroundColor = '#F04124';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.display = 'block';
                                        }
                                        else if (data == '0') {
                                            document.getElementById('Labelloaderphonealt').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenolalt').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphonenoalt").innerHTML = 'New Contact Number, Please add';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.color = 'green';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.backgroundColor = 'white';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.marginTop = "0px";
                                            document.getElementById("pclalt").style.color = '#4D4D4D';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.display = 'block';
                                        }
                                        else if (data == '5') {
                                            document.getElementById('Labelloaderphonealt').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenolalt').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphonenoalt").innerHTML = 'Please start contact number with zero';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.color = 'white';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.backgroundColor = '#F04124';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.display = 'block';
                                        }
                                        else {
                                            document.getElementById('Labelloaderphonealt').innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenolalt').style.display = 'none';
                                            document.getElementById("Msgavailablebusinessphonenoalt").innerHTML = '';
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.color = 'white';
                                            document.getElementById("altphonenumber").style.marginBottom = "12px";
                                            document.getElementById('Msgavailablebusinessphonenoalt').style.display = 'none';
                                        }
                                        if (HttpContext.Current.Request.UserAgent.ToString().IndexOf("Opera Mini") != -1) {
                                            document.getElementById("altphonenumber").removeAttribute("pattern");
                                        }
                                    }
                                        )
                                });
                            });
                        </script>
<script type="text/javascript">
    function isNumberKey(evt) {
        // debugger;
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    </script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#drp1").change(function (evt) {
                                    if ($("#drp1").val() != "-1") {
                                        //var catId = $(this).val();
                                        var catId = $("#drp1").val()
                                        $.getJSON("/BizReg/GetProductByCategory", { catId: catId },
                                           function (dropdowndata) {
                                               debugger;
                                               var select = $("#drp2");
                                               select.empty();
                                               select.append($('<option/>', {
                                                   value: "",
                                                   text: "-Select-"
                                               }));
                                               $.each(dropdowndata, function (index, itemData) {
                                                   debugger;
                                                   select.append($('<option/>', {
                                                       value: itemData.Value,
                                                       text: itemData.Text
                                                   }));
                                               });
                                           });
                                    }
                                    if ($("#drp1").val() == "") {
                                        $.getJSON("/BizReg/GetProductByCategory", { catId: 0 },
                                           function (dropdowndata) {
                                               debugger;
                                               var select = $("#drp2");
                                               select.empty();
                                               select.append($('<option/>', {
                                                   value: "",
                                                   text: "-Select-"
                                               }));
                                               $.each(dropdowndata, function (index, itemData) {
                                                   debugger;
                                                   select.append($('<option/>', {
                                                       value: itemData.Value,
                                                       text: itemData.Text
                                                   }));
                                               });
                                           });
                                    }
                                });
                            });
                        </script>
                        <script lang="javascript" type="text/javascript">
                            $(document).ready(function () {
                                $("#txtEmail").change(function (evt) {
                                    var x = document.getElementById('txtEmail').value;
                                    var atpos = x.indexOf("@@");
                                    var dotpos = x.lastIndexOf(".");
                                    if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                                        document.getElementById("MsgtxtEmail").innerHTML = 'invalid Email-Id';
                                        document.getElementById('MsgtxtEmail').style.color = 'white';
                                        document.getElementById('MsgtxtEmail').style.display = 'block';
                                    }
                                    else {
                                        document.getElementById("MsgtxtEmail").innerHTML = '';
                                        document.getElementById('MsgtxtEmail').style.display = 'none';
                                        //document.getElementById('lblemail').style.color = 'black';
                                    }
                                    if (x == "") {
                                        document.getElementById("MsgtxtEmail").innerHTML = '';
                                        document.getElementById('MsgtxtEmail').style.display = 'none';
                                    }
                                });
                                $("#phonenumber").change(function (evt) {
                                    if (document.getElementById("Msgavailablebusinessphoneno").innerHTML != "") {
                                        document.getElementById("Msgavailablebusinessphoneno").innerHTML = '';
                                        document.getElementById('Msgavailablebusinessphoneno').style.display = 'none';
                                    }
                                });
                            });
                            
                        </script>
 <script lang="javascript" type="text/javascript">
     $(document).ready(function () {
         $("#txtweb").change(function (evt) {
             var str = document.getElementById('txtweb').value;
             var RegExp = (/^(ftp|http|https?:\/\/)?(www\.)((([a-z\d]([a-z\d-]*[a-z\d])*)\.)+[a-z]{2,12}|((\d{1,3}\.){3}\d{0,3}))(\:\d+)?(\/[-a-z\d%_.~+]*)*(\?[;&a-z\d%_.~+=-]*)?(\#[-az\d_]*)?$/i);
             if (!RegExp.test(str)) {
                 document.getElementById("Msgtxtweb").innerHTML = 'Enter valid url(e.g. www.vconnect.com)';
                 document.getElementById('Msgtxtweb').style.color = 'white';
                 document.getElementById('Msgtxtweb').style.display = 'block';
             } else {
                 document.getElementById("Msgtxtweb").innerHTML = '';
                 document.getElementById('Msgtxtweb').style.display = 'none';
             }
             if (str == "") {
                 document.getElementById("Msgtxtweb").innerHTML = '';
                 document.getElementById('Msgtxtweb').style.display = 'none';
             }
         });
     });
                        </script>
          <div class="alerts">
                                                       @if (ViewBag.Msg != null)
                                                             {
                                                           <div data-alert class="alert-box error">                                                         
                                                          @ViewBag.Msg
                                                           <a href="#" class="close">&times;</a>
                                                             </div>  
                                                              }
                                                             else if(Request.QueryString["urdiv"]!=null)
                                                               {
                                                                 <div data-alert="" class="alert-box success">
                                                                 <!-- Your content goes here -->
                                                                 The business has been added successfully. It will start appearing on the website once verified by our executives. Keep adding more businesses!. Please verify your email (@Request.QueryString["urdiv"]) to access VConnect services.
                                                                 <a href="#" class="close">×</a>
                                                                 </div>                      
                                                                }
                                                                 else
                                                                {
                                                                }
                   </div>  
            <input type="text" style="display:none;" id="hidvaluetext">
            <div class="register-heading-bg">
              <section class="register-heading row">
                <div class="medium-12 columns text-center">
                  <h1 class="nexa-bold on-image large">Business Registration</h1>
                </div>                       
              </section>
            </div>
              <section class="main-content">                 
                <div class="registration-form">
                    <p class="text-center">Register your business to be found online by potential customers.<br>Get started by filling the form below.</p>
                  <form  method="post" data-abide >
                    <div class="row">
                      <div class="medium-6 columns">
                        <label for="bname">Business Name <small>Required</small></label>
                         @Html.TextBoxFor(model => model.txtCompanyName, new { id = "companyname",@tabindex="200", @maxlength = "50", @placeholder = "Business name", @data_invalid = "", @required = "" })
                        @*<input id="bname" type="text" placeholder="Business name" required/>*@
                        <small class="error">Enter your business name</small>
                      </div>
                      <div class="medium-6 columns">
                        <label for="bstate">State <small>Required</small></label>
                        @Html.DropDownListFor(model => model.SelectedStateId, Model.StateOptions, "State", new { @id = "drp1",@tabindex="205", @placeholder = "State", @data_invalid = "", @required = "" })
                        <small class="error">Select a state</small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="medium-6 columns">
                        <label for="bphone" id="pcl">Contact Number<small>Required</small></label>
                        @Html.TextBoxFor(model => model.txtContactPersonPhone, new { id = "phonenumber",@style="margin-bottom:0px;",@tabindex="202", onkeypress = "return isNumberKey(event)", maxlength = "11", @placeholder = "Contact Number", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'GSM no. are preferred(e.g. 08075005563)'", @data_invalid = "", @required = "", @pattern = "mobile" })
                           <small id="Msgavailablebusinessphoneno" class="error" style="margin-bottom:0px; color:white;">Enter phone number</small>       
                         @* <div class="errordiv" id="Msgavailablebusinessphoneno" style="display: none;"></div>*@
                        <div id="Msgavailablebusinessphonenol" style="display: none;">
                                    <img src="~/Images/WEB/logos/allpageloader.gif" alt="Processing..." />
                                    <div class="bizuser_loadertxt">
                                        <label id="Labelloaderphone">
                                        </label>
                                    </div>
                                </div>
                        <div id="divnf2" class="Msgavailablebusiness"></div>                       
                      </div>
                      <div class="medium-6 columns">
                        <label for="blga">Local Government Area <small>Required</small></label>
                        @Html.DropDownListFor(model => model.SelectedCityId, Model.CityOptions, "Local Government Area", new { @id = "drp2",@tabindex="206", @placeholder = "Local Government Area", @data_invalid = "", @required = "" })
                        <small class="error">Select an LGA</small>
                      </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                       <label for="bphone" id="pclalt">Alternate Phone Number</label>
                        @Html.TextBoxFor(model => model.txtAltPhone, new { id = "altphonenumber",@style="margin-bottom:0px;",@tabindex="202", onkeypress = "return isNumberKey(event)", maxlength = "11", @placeholder = "Alternate Phone Number", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'GSM no. are preferred(e.g. 08075005563)'", @data_invalid = "" })
                           <small id="Msgavailablebusinessphonenoalt" class="error" style="margin-bottom:0px; color:white;">Enter phone number</small>       
                         @* <div class="errordiv" id="Msgavailablebusinessphoneno" style="display: none;"></div>*@
                        <div id="Msgavailablebusinessphonenolalt" style="display: none;">
                                    <img src="~/Images/WEB/logos/allpageloader.gif" alt="Processing..." />
                                    <div class="bizuser_loadertxt">
                                        <label id="Labelloaderphonealt">
                                        </label>
                                    </div>
                                </div>
                        <div id="divnf2alt" class="Msgavailablebusiness"></div>     
                      </div>
                    <div class="medium-6 columns">
                        <label for="bproducts">Products and Services <small>Required</small></label>
                       @Html.TextBoxFor(model => model.txtProduct, new { id = "product",@tabindex="207" ,@maxlength = "50", @placeholder = "Product / Service", @data_invalid = "", @required = "" })
                        <small class="error">Select your products and services</small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="medium-6 columns">
                        <label for="cname">Contact Name</label>
                         @Html.TextBoxFor(model => model.txtcontactname, new { id = "contactname",@tabindex="203", @maxlength = "30", @placeholder = "Contact Name", @data_invalid = "", @required = "" })
                        <small class="error">Enter the business contact name</small>
                      </div>
                      <div class="medium-6 columns">
                        <label for="bwebsite">Website <small>Optional</small></label>
                         @Html.TextBoxFor(model => model.txtwebsite, new {id="txtweb",@maxlength = "100",@tabindex="208", @placeholder = "Website", @style = "margin-bottom:0px;" })
                          <small id="Msgtxtweb" class="error">Enter valid url(e.g. www.vconnect.com)</small>  
                      </div>
                    </div>
                    <div class="row">
                      <div class="medium-6 columns">
                        <label for="baddress">Address <small>Required</small></label>
                         @Html.TextAreaFor(model => model.txtAddress, new { id = "address",@tabindex="204", @placeholder = "Address", @style = "min-height:100px;", @data_invalid = "", @required = "" })
                        <small class="error">Enter the business address</small>
                      </div>
                      <div class="medium-6 columns">                      
                         <label for="email">Email-Id <small>Optional</small></label>
                         @Html.TextBoxFor(model => model.txtemail, new { id = "txtEmail",@tabindex="209", @placeholder = "Email-Id", @pattern = "email",@style = "margin-bottom:0px;" })
                      @*<div class="errordiv" id="MsgtxtEmail" style="display: none;"></div>         *@
                          <small id="MsgtxtEmail" class="error" >Enter email-id</small>     
                      </div>
                    </div>
                    <div class="row">
                      <div class="medium-12 columns">
                          <label for="tac">@Html.CheckBoxFor(model => model.ConditionaValue) I have read and agree with the <a href="@Url.Action("termscondition","userreg")">terms and conditions</a></label><br>                         
                           <input type="Submit" value="Register" tabindex="210" class="button small"/>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- <div class="registration-message row text-center">
                  Thank you for registering your business. We will contact you shortly to complete the verification process.
                </div> -->
              </section>
      


