﻿@charset "utf-8";
/* CSS Document */

.clear{clear:both;
}

.mandatory{color:#F00;}

#bo-db-container{width:972px;
	height:auto;
	margin:0 auto;
	border:#e5e4e4 1px solid;
	/* ------------------------------------- Boder Radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top:10px;
}

#bo-db-container-left{width:175px;
	height:auto;
	float:left;
	/* ------------------------------------- Boder Radius */
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#bo-db-container-mid{width:580px;
	height:auto;
	float:left;
	background:url(../../images/BOdashboard/top-gerdient.png) repeat-x top left;
	border-left:#efeeee 1px solid;
	border-right:#efeeee 1px solid;
}

#bo-db-container-right{width:214px;
	height:auto;
	float:left;
	/*padding-top:10px;*/
	padding-bottom:10px;
	text-align:center;
	/* ------------------------------------- Boder Radius */
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* ============================================================== Left Area */

.bo-profile-img-area{width:100px;
    height:100px;
	margin-top:20px;	
	margin-bottom:20px;
	text-align:center;
	border:#ccc 1px solid;
	margin-left:35px;
}
.bo-profile-img-areapage{width:100px;
    height:100px;
	margin-top:20px;	
	text-align:center;
	border:#ccc 1px solid;
	-moz-box-shadow: 0 1px 4px #ccc;
	-webkit-box-shadow: 0 1px 4px #ccc;
	-o-box-shadow: 0 1px 4px #ccc;
	-ms-box-shadow: 0 1px 4px #ccc;
	box-shadow: 0 1px 4px #ccc;
	float:left;
}

.bo-profile-img-area img{width:96px;
	height:96px;
	padding:2px;
	border:none;
	border-style: none;
	background:#fff;
}

.bo-profile-logo{width:100px;
	height:100px;
	text-align:center;	
	padding-bottom: 20px;
  margin : 0 auto;
}


.bo-profile-logo img{width:100px;
	height:100px;
	max-width:100px;
	text-align:center;
}

#bo-db-left-tabs{width:auto;
	height:auto;
	background:url(../../images/BOdashboard/lefmenu-bg.jpg) no-repeat left bottom;
	font-family:Arial, Calibri, Tahoma;
	font-size:14px;
	padding-bottom:3px;
	text-shadow: 1px 0px 1px #555;
    filter: dropshadow(color=#555, offx=1, offy=1);
}

#bo-db-left-tabs ul{list-style:none;
	margin:0;
	padding:0;
}

#bo-db-left-tabs li{width:auto;
	height:36px;
	background:url(../../images/BOdashboard/leftmenu-divider.png) center bottom no-repeat;
}

#bo-db-left-tabs li:last-child{width:auto;
	height:36px;
	background:none;
}

#bo-db-left-tabs li img{float:left;
	margin-right:8px;
	margin-left:8px;
	margin-top:2px;
	border:none;
	text-shadow: 1px 0px 1px #555;
    filter: dropshadow(color=#555, offx=1, offy=1);
}

#bo-db-left-tabs li a{text-decoration:none;
	text-decoration:none;
	color:#FFF;
	height:36px;
	line-height:36px;
	display:block;
}

#bo-db-left-tabs li a:hover{color:#FFF;
	height:34px;
	background:url(../../images/BOdashboard/lefmenu-bg-over.png) repeat left bottom;
}

.bo-db-left-tabs-activ{color:#FFF;
	height:34px;
	background:url(../../images/BOdashboard/lefmenu-bg-over1.png) repeat left bottom;
}

.bo-db-left-saddow{width:auto;
	height:100px;
	background:url(../../images/BOdashboard/top-gerdient.png) repeat-x top left;
}

/* ============================================================== Center Area */

.bo-db-header-area{width:auto;
	font-family:Arial,Tahoma, Calibri;
	line-height:30px;
}

.bo-db-for{font-size:15px;
	color:#676666;
	float:left;
	margin-right:3px;
	padding:8px 0px 8px 8px;
}

.bo-db-user-name{font-size:15px;
	color:#177935;
	float:left;
	margin-right:10px;
	padding:8px 14px 8px 0px;
	width:375px;
}
.bo-db-user-name a{color:#177935;}
.bo-db-user-name a:hover{color:#111;}

.bo-db-arrow-down{
		border:none;
}

/*====================================== Droup down menu */
.business-name-menu{
position: absolute;
z-index: 10;
border: #ccc 1px solid;
padding: 1px 10px 1px 5px;
margin-left: 180px;
margin-top: -8px;
-moz-box-shadow: 0 1px 4px #ccc;
-webkit-box-shadow: 0 1px 4px #ccc;
-o-box-shadow: 0 1px 4px #ccc;
-ms-box-shadow: 0 1px 4px #ccc;
box-shadow: 0 1px 4px #ccc;
}

.business-name-menu h1{padding:0px;
       margin:0px;
       font-size:16px;
       color:#607D06;
       padding-left:6px;
}
.business-name-menu table tbody tr td{height:30px; vertical-align:middle; border-top: #ccc 1px dotted;}
.business-name-menu table tbody tr td input{margin:5px; margin-left:10px; margin-right:10px;}
.business-name-menu table tbody tr td a:hover{text-decoration:underline; color:Blue;}
.business-name-menu-close{float: right; margin-right: -6px; font-weight:bold; font-size:12px;
                          
}

/* ---------------------------------------- Completeness Holder */
.completeness-bar-holder{width:165px;
	height:30px;
	/*padding-bottom:8px;*/
	padding:4px 0px 8px 0px;
	float:right;
}

.completeness-bar-right{width:165px;
	height:auto;
	font-size:12px;
	color:#060;
	font-weight:700;
	font-family: Arial,Tahoma, Calibri;
}

.completeness-bar{height:5px;
	width:110px;
	border:#CCC 1px solid;
	margin-top:5px;
}

.completeness-bar-left{width:204px;
	height:auto;
	float:left;
	padding-left:3px;
	margin-top:8px;
}
.completeness-bar-left img{float:right; border:none;}

.completeness-bar-left input[type="text"]{width:170px;
	float:left;
	border:#c3c3c3 1px solid;
	height:22px;
	padding-left:3px;
	padding-right:3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f2f2f2;
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 30%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(30%,#ffffff));
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
	background: -o-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
	background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}

.db-bo-add-product{width:auto;
	float:left;
	margin-left:2px;
	line-height:25px;
	font-family:Arial, Calibri, Tahoma;
	font-size:12px;
	margin-top: 4px;
}

.db-bo-add-product a{text-decoration:none;
	height:auto;
	padding-left:10px;
	padding-right:10px;
	background-color:#333;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color:#FFF;
	display:block;
}

.db-bo-add-product a:hover{text-decoration:none;
	height:auto;
	padding-left:10px;
	padding-right:10px;
	background-color:#060;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color:#FFF;
	display:block;
}

/* ---------------------------------------- All form Holder */
.db-bo-form-holder{width:auto;
	height:auto;
}

.db-bo-form-holder-univarsal{width:auto;
	height:auto;
	padding-bottom:10px;
}

/*.db-bo-form-holder-univarsal a{color:#017d24;
}*/

.db-bo-form-holder-univarsal a:hover{color:#000;
	text-decoration:none;
}

.db-bo-form-table-row{width:auto;
	height:auto;
	padding-bottom:5px;
}

.db-bo-form-table-row-left{width:150px;
	height:auto;
	float:left;
	font-family: Arial, Calibri, Tahoma;
	font-size:12px;
	line-height:25px;
	color:#444;
	padding-left:15px;
	margin-left:30px;
}

.db-bo-form-table-row-left a{color:#090;
	font-size:11px;
	text-decoration:none;
}

.db-bo-form-table-row-left a:hover{color:#cc0000;
	font-size:11px;
	text-decoration:none;
}

.db-bo-form-table-row-right{width:350px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.db-bo-form-table-row-right a{margin-left:5px;font-size:12px;}
.db-bo-form-table-row-right img{border:#ccc 1px solid; width: 100px; height: 100px;}

.db-bo-form-table-row-right input[type="text"]{/*width:320px;*/
	border:#c3c3c3 1px solid;
	height:30px;
	padding-left:3px;
	padding-right:3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    margin:0rem;
/*	background: #f2f2f2;
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 30%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(30%,#ffffff));
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
	background: -o-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
	background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); */
}

.db-bo-form-textarea{width:320px;
	border:#c3c3c3 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	height:80px;
	padding-left:3px;
	padding-right:3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
/*	background: #f2f2f2;
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 30%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(30%,#ffffff));
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
	background: -o-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
	background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); */
}

.db-bo-form-select{width:auto;
	height:24px;
	padding:2px;
	color:#333;
	border:#c3c3c3 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size:12px;
}

.ads-list-area{width:327px;
	height:100px;
	overflow-y:scroll;
	border:#CCC 1px solid;
}

.ads-list-area table tbody tr td{vertical-align:middle;}
.ads-list-area table tbody tr td input{margin:5px;}

.ads-list-area-text{float:left;
	margin-left:5px;
	margin-right:5px;
	margin-top:3px;
	margin-bottom:3px;
	color:#444;
	height:20px;
	line-height:20px;
	width:145px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.ads-list-area-text input[type="checkbox"]{float:left;
}

.db-bo-form-table-row-right  input[type="submit"]{margin-left:115px;}
.db-bo-form-submit-bt{width:auto;
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:4px;
	color:#FFF;
	background-color:#bf0000;
	font-size:12px;
	font-family:Arial,Calibri, Tahoma;
	border:none;
	cursor:pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top:10px;
}

.db-bo-form-submit-bt a{color:#fff;}
.db-bo-form-submit-bt a:hover{color:#fff;}
/* ============================================ Contact details working hours */
.db-bo-working-hours{width:auto;
	height:auto;
}

.db-bo-working-hours h1{padding:0;
	margin:10px 0px 5px 0px;
	font-size:12px;
	padding-left:45px;
	border-top:1px solid #b9b9b9;;
	border-bottom:none;
	border-left:none;
	border-right:none;
	line-height:30px;
	font-family:Arial, Calibri, Tahoma;
	color:#222;
	font-weight:700;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fdf3d5;
	background: -moz-linear-gradient(top,  #fdf3d5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf3d5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #fdf3d5 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf3d5', endColorstr='#ffffff',GradientType=0 );
}

.db-bo-working-hours-row{width:auto;
	height:auto;
	padding-bottom:5px;
}

.db-bo-working-hours-row-left{width:150px;
	height:auto;
	float:left;
	font-family: Arial, Calibri, Tahoma;
	font-size:12px;
	line-height:25px;
	color:#000;
	padding-left:45px;
}

.db-bo-working-hours-row-mid{width:145px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-right:10px;
	line-height:25px;
}

.db-bo-working-hours-row-right{width:145px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:25px;
}

.db-bo-working-hours-row-right1{width:145px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*padding-left:10px;*/
	line-height:25px;
}

.db-bo-working-hours-select{width:145px;
	height:24px;
	padding:2px;
	border:#c3c3c3 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size:12px;
}

/* ============================================ Upload vedio */
.db-bo-video-upload-area{width:auto;
	height:auto;
	font-family:Arial, Tahoma, Calibri;
	font-size:12px;
	color:#444;
}

.db-bo-tab-heading{width:auto;
	margin:0px 0px 5px 0px;
	font-size:14px;
	padding-left:10px;
	border-top:1px solid #ccc;;
	border-bottom:none;
	border-left:none;
	border-right:none;
	line-height:30px;
	font-family:Arial, Calibri, Tahoma;
	color:#676666;
	font-weight:700;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fdf3d5;
	background: -moz-linear-gradient(top,  #fdf3d5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf3d5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #fdf3d5 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf3d5', endColorstr='#ffffff',GradientType=0 );
}

.db-bo-video-left{width:43%;
 height:auto;
 padding:0px 0px 0px 15px;
 float:left;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 border-radius: 2px;
}

.db-bo-video-left ul{padding:0;
	margin:0;
	margin-top:5px;
	margin-left:5px;
}

.db-bo-video-left li{padding-top:5px;
	padding-bottom:5px;
}

.db-bo-video-left li a{color:#000;
	text-decoration:none;
}

.db-bo-video-left li a:hover{color:#cc0000;
	text-decoration:none;
}

.db-bo-video-left h1{margin:0;
	padding:0;
	font-size:13px;
	color:#017d24;
	font-weight:700;
}

.db-bo-video-right{width:44%;
 height:auto;
 padding:0px 0px 0px 50px;
 float:left;
 background:url(../../images/BOdashboard/arrow-vid-left.png) no-repeat left;
 margin-left:10px;
}
.db-bo-video-right ul{padding:0;
	margin:0;
	margin-top:5px;
	margin-left:5px;
}

.db-bo-video-right li{padding-top:5px;
	padding-bottom:5px;
}

.db-bo-video-right h1{margin:0;
	padding:0;
	font-size:13px;
	color:#017d24;
	font-weight:700;
}

.bo-db-vedio-tumb-holder{width:auto;
	height:auto;
	padding-top:5px;
	
}

.bo-db-vedio-tumb{float:left;
	width:125px;
	height:auto;
	margin:1.5%;
	text-align:center;
	font-size:11px;
}

.bo-db-vedio-tumb a{color:#060;
	text-decoration:none;
}

.bo-db-vedio-tumb a:hover{color:#cc0000;
	text-decoration:none;
}

.bo-db-vedio-tumb img
{
	width:100%;
	height:auto;
	border:none;
}

.bo-db-vedio-tumb-active{border:#fea9a9 4px solid;}

.video-thumb-play{opacity:0.7;
filter:alpha(opacity=70);
position: absolute;
margin-top: 33px;
margin-left: 33px;
}

.see-more-vedio{font-size:12px;
	font-weight:700;
	float:right;
	margin-right:5px;
	margin-bottom:15px;
}

.see-more-vedio a{color:#cc0000;
	text-decoration:none;
}

.see-more-vedio a:hover{color:#060;
	text-decoration:none;
}

.bo-db-vedio-big-holder{width:auto;
	height:auto;
}

.bo-db-vedio-big-holder-left{width:360px;
	height:240px;
	float:left;
	margin-right:20px;
	padding-left:10px;
}

.bo-db-vedio-big-holder-right{width:250px;
	height:auto;
	float:right;
}

.bo-db-vedio-icon{float:left;
	width:59px;
	height:60px;
	padding:2px;
	border:#CCC 1px solid;
	margin-right:10px;
	margin-bottom:5px;
}

.bo-db-vedio-icon img{width:100%;
	height:100%;
}

.bo-db-vedio-titile-holder{width:auto;
	height:auto;
	float:left;
	padding-top:5px;
}

.bo-db-vedio-titile-holder h1{padding:0;
	margin:0;
	font-size: 14px;
	color: #017d24;
	font-weight: 400;
	margin-bottom:6px;
}

.db-bo-vedio-text-black{width:auto;
	font-size:12px;
	padding-right:10px;
	margin-bottom:10px;
}

.db-bo-vedio-text-green{width:auto;
	font-size:12px;
	color:#060;
	margin-bottom:5px;
}

.db-bo-vedio-text-black a{color:#000;
	text-decoration:none;
}

.db-bo-vedio-text-black a:hover{color:#F00;
	text-decoration:none;
}

.db-bo-vedio-text-red{color:#cc0000;
	text-align:right;
	float:right;
}

.db-bo-form-holder-text{padding:0px 10px 0px 10px;
}
/* ============================================ Video list area */
.db-bo-video-list{width:auto;
	height:auto;
	padding:10px;
	border-top:1px dotted #ccc;
}

.db-bo-video-list-l{width: 240px;
	height: 240px;
	float: left;
	padding-left:5px;
	font-family:Arial, Helvetica, sans-serif;
}

.db-bo-video-list-l h1{padding:0;
	margin:0;
	font-size: 12px;
	color: #555;
	font-weight: 400;
	margin-bottom:4px;
}
.db-bo-video-list-l h2{padding:0;
	margin:0;
	font-size: 14px;
	color: #017d24;
	font-weight: 400;
	margin-bottom:6px;
}

.db-bo-vedio-list-text{width:auto;
	font-size:12px;
	color:#333;
	border-bottom:1px solid #f3f3f3;
	margin-bottom:10px;
	padding-bottom:10px;
	padding-top:5px;
}

.db-bo-vedio-list-uploaded{width:auto;
	font-size:11px;
	color:#666;
	padding-top:10px;
}

.db-bo-video-list-r{width:auto;
	height: 240px;
	float: left;
	padding:2px;
	border:#f3f3f3 1px solid;
	margin-left:10px;
}

.bo-db-vedio-list-tumb-holder{width:auto;
	height:auto;
	padding-top:10px;
	padding-bottom:7px;
	border-top:#ccc 1px solid;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
}

.db-bo-vedio-text-novideo{width:auto;
	font-size:12px;
	color:#060;
	margin-bottom:10px;
	text-align:center;
}

.db-bo-video-list-r iframe{width:295px;
 height:200px;
}

/* ============================================ Product area */
.db-bo-form-product-1row{width:auto;
	border-top:#CCC 1px solid;
	background-color:#f5f6f8;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.db-bo-form-product-2row{width:auto;
	border:#CCC 1px solid;
	border-bottom:none;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.db-bo-form-product-1row-text{float:left;
	padding:8px 10px 8px 10px;
	width:auto;
	font-size:12px;
	color:#333;
}

.db-bo-form-product-1row-prod{width:100px;
	height:100px;
	float:left;
	border:#ccc 1px solid;
	margin-right:10px;
}

.db-bo-form-product-1row-prod-img{width:100px;
	height:100px;
	overflow:hidden;
	background:#FFF;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.db-bo-form-product-1row-prod-img img{margin: auto;
vertical-align: middle;
height :100px;
width:100px;

}
.db-bo-form-product-1row-prod-text{line-height:20px;
	float:left;
}

.db-bo-form-product-1row-text a{text-decoration:none;
	color:#333;
	display:block;
}
.db-bo-form-product-1row-text a:hover{text-decoration:none;
	color:#017d24;
}
.db-bo-form-product-1row-img{float:right;
	border:none;
	height:20px;
	padding-top: 7px;
	margin-right:8px;
}
.db-bo-form-product-1row-img a{color:blue;}
.db-bo-form-product-1row-img a:hover{color:#333;}
.table-holder{width:294px;border:#ccc 1px solid; border-bottom:0px; margin:0 10px; font-family:Arial, Calibri, Tahoma; color:#676666; font-size:12px; line-height:30px;}
.table-holder h1{padding:0px 10px; margin:0; background:#f9f9f9; color:#177935; font-size:12px;}

.table-holder-r{width:92px; float:left; border-bottom:#ccc 1px solid; text-align:right; padding-right:20px;}

.table-holder-l {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #177935;
    float: left;
    padding-left: 11px;
    width: 200px;
}
/* ============================================ Reviews list */
.review-chart-holder{width:auto;
	height:auto;
	margin:0 auto;
	text-align:center;
	margin-bottom:10px;
}

.review-list-holder{width:auto;
	height:auto;
	padding:10px;
	border-bottom:#ccc 1px dashed;
	font-family:Arial, Helvetica, sans-serif;
}

.review-users-holder{width:100px;
	height:auto;
	float:left;
	padding-bottom:10px;
}

.review-users-holder img{width:100px;
	height:100px;
}

.review-detail-holder{width:425px;
	height:auto;
	margin-left:22px;
	float:left;
}

.review-star-holder{font-size:12px;
	color:#777;
	line-height:20px;
	height:20px;
}

.review-star-holder img{float:left;
	padding-top:2px;
	margin-right:10px;
}

.review-details-text{font-size:12px;
	color:#666;
	padding-top: 5px;
	height: 30px;
	overflow: hidden;
}
.review-details-text_open{font-size:12px;
	color:#666;
	padding-top: 5px;
	height:auto;
}
 
 
.review-more-holder{width:auto;
	height:16px;
	line-height:16px;
	padding-top:10px;
	font-size:12px;
}

.review-more-link a{text-decoration:none;
	color:#00f;
	float:left;
}

.review-more-link a:hover{text-decoration:none;
	color:#000;
}

.review-problem-link a{text-decoration:none;
	color:#00f;
	float:right;
}

.review-problem-link a:hover{text-decoration:none;
	color:#000;
}

.review-user-link{width:auto;
	height:16px;
	padding-top:4px;
	font-size:12px;
	text-align:center;
}
.review-user-link a{text-decoration:none;
	color:#177935;
}
.review-user-link a:hover{text-decoration:none;
	color:#000;
}

/* ============================================ Images area */

.db-bo-select-images
{
	width:auto;
	float:left;
	margin-left:2px;
	font-family:Arial, Calibri, Tahoma;
	font-size:12px;
	padding:3px;
	margin-top:0px;
	margin-right:2px;
}

.db-bo-images-holder{width:auto;
	height:auto;
	padding:0px 10px 0px 10px;
}
/*
.db-bo-iamges-box{ width:107px;
   height:auto;
   float:left;
	margin:8px;
}*/

/*.db-bo-iamges-box img{width:100px;
	height:100px;
}*/
.db-bo-iamges-box-img:hover{
 -moz-box-shadow: 0 1px 7px #FFFF66;
 -webkit-box-shadow: 0 1px 7px #FFFF66;
 -o-box-shadow: 0 1px 7px #FFFF66;
 -ms-box-shadow: 0 1px 7px #FFFF66;
 box-shadow: 0 1px 7px #FFFF66;
 border:#FFFF66 1px solid;
}

.db-bo-iamges-box-img{width:100px;
	height:100px;
	border:#CCC 1px solid;
	padding:2px;
	-moz-box-shadow: 0 1px 4px #ccc;
	-webkit-box-shadow: 0 1px 4px #ccc;
	-o-box-shadow: 0 1px 4px #ccc;
	-ms-box-shadow: 0 1px 4px #ccc;
	box-shadow: 0 1px 4px #ccc;
}

.db-bo-iamges-box-img img{width:100px;
	height:100px;
}

.db-bo-image-header{width:auto;
	margin:0px 0px 5px 0px;
	font-size:14px;
	padding-left:10px;
	border-top:1px solid #ccc;;
	border-bottom:none;
	border-left:none;
	border-right:none;
	line-height:30px;
	font-family:Arial, Calibri, Tahoma;
	color:#676666;
	font-weight:700;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fdf3d5;
	background: -moz-linear-gradient(top,  #fdf3d5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf3d5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #fdf3d5 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf3d5', endColorstr='#ffffff',GradientType=0 );
}

.hori-tabs-holder{width:auto;
                  height:auto;
                  border-bottom:solid 4px #df111c;
}

.hori-tabs-holder ul{padding:0;
                     margin:0;
                     list-style:none;
}

.hori-tabs-holder li a{
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 2px;
	font-size:12px;
	color:#5d5d5d;
	font-family:Verdana, Geneva, sans-serif;
	list-style: none;
	border-left: solid 1px #acaaaa;
	border-top: solid 1px #acaaaa;
	border-right: solid 1px #acaaaa;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #fdf3d5;
	background: -moz-linear-gradient(top,  #fdf3d5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf3d5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #fdf3d5 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #fdf3d5 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf3d5', endColorstr='#ffffff',GradientType=0 );
}

.hori-tabs-holder li a:hover{color:#FFF;
	background-color: #df111c;
	border-left:#d40303 1px solid;
	border-right:#d40303 1px solid;
	border-top:#d40303 1px solid;
	border-bottom:none;
	background: #ed0303;
	background: -moz-linear-gradient(top,  #ed0303 89%, #df111c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(89%,#ed0303), color-stop(100%,#df111c));
	background: -webkit-linear-gradient(top,  #ed0303 89%,#df111c 100%);
	background: -o-linear-gradient(top,  #ed0303 89%,#df111c 100%);
	background: -ms-linear-gradient(top,  #ed0303 89%,#df111c 100%);
	background: linear-gradient(to bottom,  #ed0303 89%,#df111c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0303', endColorstr='#df111c',GradientType=0 );
}


.hori-tabs-holder-selected
{float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 2px;
	font-size:12px;
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	list-style: none;
	border-left: solid 1px #d40303;
	border-top: solid 1px #d40303;
	border-right: solid 1px #d40303;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #ed0303;
	background: -moz-linear-gradient(top,  #ed0303 50%, #df111c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ed0303), color-stop(100%,#df111c));
	background: -webkit-linear-gradient(top,  #ed0303 50%,#df111c 100%);
	background: -o-linear-gradient(top,  #ed0303 50%,#df111c 100%);
	background: -ms-linear-gradient(top,  #ed0303 50%,#df111c 100%);
	background: linear-gradient(to bottom,  #ed0303 50%,#df111c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0303', endColorstr='#df111c',GradientType=0 );
}

.bo-MsgGreen{font-size:12px;          
color: Green;
float: left;
margin-top: 7px;
margin-left: 13px;
margin-bottom:10px;
border: 1px solid #64be3c;
padding: 2px 28px;
background: #e7ffdd url(../../images/BOdashboard/msggreen.png) no-repeat 4px;
}

.bo-MsgRed{font-size:12px;          
color: Red;
float: left;
margin-top: 7px;
margin-left: 13px;
margin-bottom:10px;
border: 1px solid #fea9a9;
padding: 2px 28px;
background: #feeeee url(../../images/BOdashboard/bo-warning.png) no-repeat 4px;
}

.bo-db-serch-bt{background: #3bd310;
background: -moz-linear-gradient(top,  #3bd310 0%, #299a0b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3bd310), color-stop(100%,#299a0b));
background: -webkit-linear-gradient(top,  #3bd310 0%,#299a0b 100%);
background: -o-linear-gradient(top,  #3bd310 0%,#299a0b 100%);
background: -ms-linear-gradient(top,  #3bd310 0%,#299a0b 100%);
background: linear-gradient(to bottom,  #3bd310 0%,#299a0b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bd310', endColorstr='#299a0b',GradientType=0 );
padding:3px;
color:White;
float:left;
-webkit-border-top-right-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
-moz-border-radius-topright: 2px;
-moz-border-radius-bottomright: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
}

.total-imges-cont{float:right;
                  margin-right:25px;
}
.db-bo-iamges-box-text{ text-align:center; padding:3px 0px;color: #555;font-size: 11px;
font-family: arial;}
.db-bo-iamges-box-textbyme{ text-align:center; padding:3px 0px;color: #555;
font-family: arial;margin-top: 2px;}

/*----------------------------------------- table CSS for Subscription Package */
.subs-package-table{ width:auto; height:auto; font-family:Arial, Calibri; color:#444;}
.subs-package-table table{ width:100%;}
.subs-package-table table tbody th{ padding:0px 5px; font-size:12px; background:#f2f2f2; height:30px; color:Green; text-align:left;border-right:#ccc 1px solid;border-top:#ccc 1px solid; border-bottom:#ccc 1px solid;}
.subs-package-table table tbody th:last-child{border-right:none;}
.subs-package-table table tbody tr td{padding:5px 5px; border-right:#ccc 1px solid; border-bottom:#ccc 1px solid;}
.subs-package-table table tbody tr td:last-child{border-right:none;}

/*----------------------------------------- table CSS for Subscription Banner */
.subs-banner-table{ width:auto; height:auto; font-family:Arial, Calibri; color:#444; margin-top:5px;}
.subs-banner-table table{ width:100%;}
.subs-banner-table table tbody th{ padding:0px 5px; font-size:12px; background:#f2f2f2; height:30px; color:Green; text-align:left;border-right:#ccc 1px solid;border-top:#ccc 1px solid; border-bottom:#f2f2f2 1px solid;}
.subs-banner-table table tbody th:last-child{border-right:none;}
.subs-banner-table table tbody tr td{padding:5px 5px; border-right:#ccc 1px solid; border-bottom:#ccc 1px solid;}
.subs-banner-table table tbody tr td:last-child{border-right:none;}
.subs-banner-table table tbody tr td:nth-child(7){text-align:center;}
.subs-banner-table table tbody tr td:nth-child(8){text-align:center;}

/*----------------------------------------- table CSS for Subscription Leads */
.subs-lead-table{ width:auto; height:auto; font-family:Arial, Calibri; color:#444;}
.subs-lead-table table{ width:100%;}
.subs-lead-table table tbody th{ padding:0px 5px; font-size:12px; background:#f2f2f2; height:30px; color:Green; text-align:left;border-right:#ccc 1px solid;border-top:#ccc 1px solid; border-bottom:#ccc 1px solid;}
.subs-lead-table table tbody th:last-child{border-right:none;}
.subs-lead-table table tbody tr td{padding:5px 5px; border-right:#ccc 1px solid; border-bottom:#ccc 1px solid;}
.subs-lead-table table tbody tr td:last-child{border-right:none;}

/*----------------------------------------- table CSS for Subscription Leads */
.user-activity-table{ width:auto; height:auto; font-family:Arial, Calibri; color:#444;}
.user-activity-table table{ width:100%;}
.user-activity-table table tbody th{ padding:0px 5px; font-size:12px; background:#f2f2f2; height:30px; color:Green; text-align:left;border-right:#ccc 1px solid;border-top:#ccc 1px solid; border-bottom:#ccc 1px solid;}
.user-activity-table table tbody th:last-child{border-right:none;}
.user-activity-table table tbody tr td{padding:5px 5px; border-right:#ccc 1px solid; border-bottom:#ccc 1px solid;}
.user-activity-table table tbody tr td:last-child{border-right:none;}

/*----------------------------------------- Review Rating */
.user-ratings{width:auto; border:#ccc 1px solid; padding:8px;}
.histogram-table{margin-top:5px; width:300px;}
.top-row{padding-bottom:2px}
.middle-row{padding:2px 0}
.bottom-row{padding-top:2px}
.histogram-msg{padding-right:5px;text-align:right;text-transform:lowercase;white-space:nowrap;}
.histogram-clear-filter .histogram-msg{text-transform:none}
.histogram-label{cursor:pointer;color:#3377ab}
.histogram-label:hover{text-decoration:underline}
.histogram-clear-filter{padding-top:5px}
.bar-cell{border-left:1px solid #f3f3f3;white-space:nowrap;width:225px}
.bar{float:left}
.bar5{background-color:#ed1c24}
.bar4{background-color:#ff7f27}
.bar3{background-color:#ffc90e}
.bar2{background-color:#eeb633}
.bar1{background-color:#ffc49b}

.average-rating{float:left; font-size:14px;}
.average-rating-title{float:left;}
.average-rating-value{float:left;}
.average-rating-stars{float:left; margin: 10px 0px 10px 0px;}
.value-rating{float:left; height:20px;line-height: 22px; margin-left: 5px;}
.votes{float:left; padding-left:5px; padding-right:5px;}

.review-via-mobile{background:url(../../images/BOdashboard/mobile-reviews.png) no-repeat left;
 height:20px; line-height:24px; padding-left:15px; position: absolute;margin-left: 300px;margin-top: -2px;}
 
.dvprofileimage{ float:right;}
.uploa-photos{background:url(../../images/BOdashboard/choose-image.jpg) no-repeat center; margin-top:10px; cursor:pointer;}
.uploa-photos input{filter: alpha(opacity=0);opacity: 0;}
/* ------------------------ businesseditfrom.css used for sapn error in validations */
.com_error {
display: block;
text-align: left;
color: red;
font-size: 92%;
font-weight: 400;
padding: 4px 0;
}
/* ======================================================== Report Incorrect */
.report-incorrect{padding:10px;
 font-family: Arial,Tahoma, Calibri;
}

.report-incorrect h1{font-size: 16px;
 color: #177935;
 font-weight: 700;
 padding:0;
 margin:0;
}

.report-incorrect-text{font-size:12px;
 line-height:18px;
 color:#666;
 padding-top:3px;
}

.report-incorrect-issue{padding:5px 0px; color:#555;}
.report-incorrect-issue-textarea {
 width: 445px;
 border: #c3c3c3 1px solid;
 font-family: Arial, Helvetica, sans-serif;
 height: 80px;
 padding-left: 3px;
 padding-right: 3px;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 border-radius: 2px;
 
}

.db-bo-review-submit-bt{width:auto;
 padding-left:10px;
 padding-right:10px;
 padding-top:4px;
 padding-bottom:4px;
 color:#FFF;
 background-color:#bf0000;
 font-size:14px;
 font-family:Arial,Calibri, Tahoma;
 border:none;
 cursor:pointer;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 border-radius: 2px;
}
.cross-bt-rd{width:16px; height:16px;float: right;position: absolute;right: 0;top: 0;}
.cross-bt-rd img{width:16px; height:16px;}
.db-bo-iamges-box-list{ width:100px; min-height:145px;float:left; margin:3px 10px;}
.db-bo-iamges-box{ width:100px; height:100px; overflow:hidden; float:left; margin:3px; border:#f3f3f3 1px solid;
}
.bo-db-imgholder{width:100px; height:100px; margin-bottom:10px;}
.bo-db-imgholder:hover{width:100px; height:300px; margin-top:-120px;
 }
.bo-db-img1{height:100px;}
.bo-db-img1 img{width:100px; height:100px;}
.bo-db-img2{height:100px; margin-top:20px;}
.bo-db-photo{width:100px; height:100px; z-index:111;}
.bo-db-photo img{width:100px; height:100px;}
.bo-db-cross{width:16px; height:16px; display:block; z-index:999;margin-top: -100px;}

.change-phone-holder {
  display: none;
  position: absolute;
  width: 500px;
  height:110px;
  border: 4px solid #000;
  padding:20px 10px;
  background-color: white;
  z-index:1002;
  left:30%;
  font-family:Arial, Helvetica, sans-serif;
  }
.change-phone-col1{width:auto;
 float:left;
 margin:5px 10px;
 font-size:12px;
 line-height:22px;
 text-align:right;
}

.change-phone-col1 input[type="text"]{width:220px;
 border:#c3c3c3 1px solid;
 height:20px;
 padding-left:3px;
 padding-right:3px;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 border-radius: 2px;
 background: #f2f2f2;
 background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 30%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(30%,#ffffff));
 background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
 background: -o-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
 background: -ms-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%);
 background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 30%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}
.black_overlay{
   display: none;
   position:fixed;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index:1001;
   -moz-opacity: 0.8;
   opacity:.80;
   filter: alpha(opacity=80);
  }
  /* ======================================================== Offers */
  .offer-days{float:left; width:100px; margin:5px;}
.offer-days input{float:left; margin-right:5px; margin-top:1px;}

.offer-time-slot{float:left; width:180px;}
.offer-time-slot select{width: auto;height: 24px;padding: 2px;color: #333; margin-left:5px; border: #c3c3c3 1px solid;
	-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;font-size: 12px;
}

.offer-banner-img{float:left; width:330px;}
.offer-banner-img input{margin-bottom:5px;}
.offer-banner-img-limt{float:left; width:auto; background:#f9f9f9; border:1px solid #f1f1f1; padding:8px; color:#555; font-size:12px; margin-bottom:5px;}
.offer-banner-img-limt-r{color:Red;}
.offer-banner-img-limt-b{color:#000;}

.head-yell a{color:#ff0;}

.report-problem-holder {
  display: none;
  position: absolute;
  width: 500px;
  height:auto;
  border: 4px solid #000;
  padding:20px 10px;
  background-color: white;
  z-index:1002;
  left:30%;
  font-family:Arial, Helvetica, sans-serif;
  }
.faqor a img {
    margin: 0px 0;
    padding-bottom: 8px;
    width: 215px;
}