body{padding-bottom:10px;color:#5a5a5a;}
.navbar-wrapper{position:relative;z-index:15;}
.carousel{ }
.carousel-caption{z-index:10;}
.carousel .item{height:350px;background-color:#777;}
.carousel-inner > .item > img{position:absolute;top:0;left:0;min-width:100%;height:500px;}
.marketing{padding-left:15px;padding-right:15px;}
.marketing .col-lg-4{text-align:center;margin-bottom:20px;}
.marketing h2{font-weight:normal;}
.marketing .col-lg-4 p{margin-left:10px;margin-right:10px;}
.featurette-divider{margin:10px 0;}
.featurette-heading{font-weight:300;line-height:1;letter-spacing:-1px;}
@media (min-width:768px){.marketing{padding-left:0;padding-right:0;}
.navbar-wrapper{margin-top:20px;}
.navbar-wrapper .navbar{border-radius:4px;}
.carousel-caption p{margin-bottom:20px;font-size:21px;line-height:1.4;}
.featurette-heading{font-size:50px;}
}
@media (min-width:992px){.featurette-heading{margin-top:120px;}
}
.clr{clear:both;}
.tpb{background:#3a8106;height:30px;}
.tpl{height:85px;position:relative;}