@charset "UTF-8";


/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

script {
  display: none !important;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

meta.foundation-version {
  font-family: "/5.1.0/";
}

meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

meta.foundation-data-attribute-namespace {
  font-family: false;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: white;
  color: #595959;
  padding: 0;
  margin: 0;
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem;
  *zoom: 1;
}

[class*="block-grid-"]:before,
[class*="block-grid-"]:after {
  content: " ";
  display: table;
}

[class*="block-grid-"]:after {
  clear: both;
}

[class*="block-grid-"] > li {
  display: block;
  height: auto;
  float: left;
  padding: 0 0.625rem 1.25rem;
}

@media only screen {
  .small-block-grid-1 > li {
    width: 100%;
    list-style: none;
  }

  .small-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  .small-block-grid-2 > li {
    width: 50%;
    list-style: none;
  }

  .small-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  .small-block-grid-3 > li {
    width: 33.33333%;
    list-style: none;
  }

  .small-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  .small-block-grid-4 > li {
    width: 25%;
    list-style: none;
  }

  .small-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  .small-block-grid-5 > li {
    width: 20%;
    list-style: none;
  }

  .small-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  .small-block-grid-6 > li {
    width: 16.66667%;
    list-style: none;
  }

  .small-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  .small-block-grid-7 > li {
    width: 14.28571%;
    list-style: none;
  }

  .small-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  .small-block-grid-8 > li {
    width: 12.5%;
    list-style: none;
  }

  .small-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  .small-block-grid-9 > li {
    width: 11.11111%;
    list-style: none;
  }

  .small-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  .small-block-grid-10 > li {
    width: 10%;
    list-style: none;
  }

  .small-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  .small-block-grid-11 > li {
    width: 9.09091%;
    list-style: none;
  }

  .small-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  .small-block-grid-12 > li {
    width: 8.33333%;
    list-style: none;
  }

  .small-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 40.063em) {
  .medium-block-grid-1 > li {
    width: 100%;
    list-style: none;
  }

  .medium-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  .medium-block-grid-2 > li {
    width: 50%;
    list-style: none;
  }

  .medium-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  .medium-block-grid-3 > li {
    width: 33.33333%;
    list-style: none;
  }

  .medium-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  .medium-block-grid-4 > li {
    width: 25%;
    list-style: none;
  }

  .medium-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  .medium-block-grid-5 > li {
    width: 20%;
    list-style: none;
  }

  .medium-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  .medium-block-grid-6 > li {
    width: 16.66667%;
    list-style: none;
  }

  .medium-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  .medium-block-grid-7 > li {
    width: 14.28571%;
    list-style: none;
  }

  .medium-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  .medium-block-grid-8 > li {
    width: 12.5%;
    list-style: none;
  }

  .medium-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  .medium-block-grid-9 > li {
    width: 11.11111%;
    list-style: none;
  }

  .medium-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  .medium-block-grid-10 > li {
    width: 10%;
    list-style: none;
  }

  .medium-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  .medium-block-grid-11 > li {
    width: 9.09091%;
    list-style: none;
  }

  .medium-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  .medium-block-grid-12 > li {
    width: 8.33333%;
    list-style: none;
  }

  .medium-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 64.063em) {
  .large-block-grid-1 > li {
    width: 100%;
    list-style: none;
  }

  .large-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  .large-block-grid-2 > li {
    width: 50%;
    list-style: none;
  }

  .large-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  .large-block-grid-3 > li {
    width: 33.33333%;
    list-style: none;
  }

  .large-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  .large-block-grid-4 > li {
    width: 25%;
    list-style: none;
  }

  .large-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  .large-block-grid-5 > li {
    width: 20%;
    list-style: none;
  }

  .large-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  .large-block-grid-6 > li {
    width: 16.66667%;
    list-style: none;
  }

  .large-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  .large-block-grid-7 > li {
    width: 14.28571%;
    list-style: none;
  }

  .large-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none;
  }

  .large-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  .large-block-grid-9 > li {
    width: 11.11111%;
    list-style: none;
  }

  .large-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  .large-block-grid-10 > li {
    width: 10%;
    list-style: none;
  }

  .large-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  .large-block-grid-11 > li {
    width: 9.09091%;
    list-style: none;
  }

  .large-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  .large-block-grid-12 > li {
    width: 8.33333%;
    list-style: none;
  }

  .large-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }

  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}

button,
.button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #d22c25;
  border-color: #bd2821;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 1.0625rem;
  padding-bottom: 1rem;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #bd2821;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  color: white;
}

button.secondary,
.button.secondary {
  background-color: #d22c25;
  border-color: #bd2821;
  color: white;
}

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
  background-color: #bd2821;
}

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
  color: white;
}

button.success,
.button.success {
  background-color: #43ac6a;
  border-color: #3c9b5f;
  color: white;
}

button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus {
  background-color: #3c9b5f;
}

button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus {
  color: white;
}

button.alert,
.button.alert {
  background-color: #f04124;
  border-color: #e82f10;
  color: white;
}

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
  background-color: #e82f10;
}

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
  color: white;
}

button.large,
.button.large {
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  font-size: 1.25rem;
}

button.small,
.button.small {
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
}

button.tiny,
.button.tiny {
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.25rem;
  font-size: 0.6875rem;
}

button.expand,
.button.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

button.left-align,
.button.left-align {
  text-align: left;
  text-indent: 0.75rem;
}

button.right-align,
.button.right-align {
  text-align: right;
  padding-right: 0.75rem;
}

button.radius,
.button.radius {
  border-radius: 3px;
}

button.round,
.button.round {
  border-radius: 1000px;
}

button.disabled,
button[disabled],
.button.disabled,
.button[disabled] {
  background-color: #d22c25;
  border-color: #bd2821;
  color: white;
  cursor: default;
  opacity: 0.7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
  background-color: #bd2821;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
  color: white;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
  background-color: #d22c25;
}

button.disabled.secondary,
button[disabled].secondary,
.button.disabled.secondary,
.button[disabled].secondary {
  background-color: #d22c25;
  border-color: #bd2821;
  color: white;
  cursor: default;
  opacity: 0.7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
  background-color: #bd2821;
}

button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
  color: white;
}

button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
  background-color: #d22c25;
}

button.disabled.success,
button[disabled].success,
.button.disabled.success,
.button[disabled].success {
  background-color: #43ac6a;
  border-color: #3c9b5f;
  color: white;
  cursor: default;
  opacity: 0.7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
  background-color: #3c9b5f;
}

button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
  color: white;
}

button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
  background-color: #43ac6a;
}

button.disabled.alert,
button[disabled].alert,
.button.disabled.alert,
.button[disabled].alert {
  background-color: #f04124;
  border-color: #e82f10;
  color: white;
  cursor: default;
  opacity: 0.7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
  background-color: #e82f10;
}

button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
  color: white;
}

button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
  background-color: #f04124;
}

@media only screen and (min-width: 40.063em) {
  button,
  .button {
    display: inline-block;
  }
}

/* Standard Forms */

form {
  margin: 0 0 1rem;
}

/* Using forms within rows, we need to set some defaults */

form .row .row {
  margin: 0 -0.5rem;
}

form .row .row .column,
form .row .row .columns {
  padding: 0 0.5rem;
}

form .row .row.collapse {
  margin: 0;
}

form .row .row.collapse .column,
form .row .row.collapse .columns {
  padding: 0;
}

form .row .row.collapse input {
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
}

form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
  padding-left: 0.5rem;
}

/* Label Styles */

label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  /* Styles for required inputs */
}

label.right {
  float: none;
  text-align: right;
}

label.inline {
  margin: 0 0 1rem 0;
  padding: 0.625rem 0;
}

label small {
  text-transform: capitalize;
  color: #676767;
}

select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center right 3%;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0;
}

select.radius {
  border-radius: 3px;
}

select::-ms-expand {
  display: none;
}

@-moz-document url-prefix()  {
  select {
    background: #fafafa;
  }
}

/* Attach elements to the beginning or end of an input */

.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
}

/* Adjust padding, alignment and radius if pre/post element is a button */

.postfix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125rem;
  border: none;
}

.prefix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125rem;
  border: none;
}

.prefix.button.radius {
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.postfix.button.radius {
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.prefix.button.round {
  border-radius: 0;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}

.postfix.button.round {
  border-radius: 0;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}

/* Separate prefix and postfix styles when on span or label so buttons keep their own */

span.prefix,
label.prefix {
  background: #f2f2f2;
  border-right: none;
  color: #333333;
  border-color: #cccccc;
}

span.prefix.radius,
label.prefix.radius {
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

span.postfix,
label.postfix {
  background: #f2f2f2;
  border-left: none;
  color: #333333;
  border-color: #cccccc;
}

span.postfix.radius,
label.postfix.radius {
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* We use this to get basic styling on all basic form elements */

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

input[type="text"][disabled],
fieldset[disabled] input[type="text"],
input[type="password"][disabled],
fieldset[disabled]
input[type="password"],
input[type="date"][disabled],
fieldset[disabled]
input[type="date"],
input[type="datetime"][disabled],
fieldset[disabled]
input[type="datetime"],
input[type="datetime-local"][disabled],
fieldset[disabled]
input[type="datetime-local"],
input[type="month"][disabled],
fieldset[disabled]
input[type="month"],
input[type="week"][disabled],
fieldset[disabled]
input[type="week"],
input[type="email"][disabled],
fieldset[disabled]
input[type="email"],
input[type="number"][disabled],
fieldset[disabled]
input[type="number"],
input[type="search"][disabled],
fieldset[disabled]
input[type="search"],
input[type="tel"][disabled],
fieldset[disabled]
input[type="tel"],
input[type="time"][disabled],
fieldset[disabled]
input[type="time"],
input[type="url"][disabled],
fieldset[disabled]
input[type="url"],
textarea[disabled],
fieldset[disabled]
textarea {
  background-color: #dddddd;
}

input[type="text"].radius,
input[type="password"].radius,
input[type="date"].radius,
input[type="datetime"].radius,
input[type="datetime-local"].radius,
input[type="month"].radius,
input[type="week"].radius,
input[type="email"].radius,
input[type="number"].radius,
input[type="search"].radius,
input[type="tel"].radius,
input[type="time"].radius,
input[type="url"].radius,
textarea.radius {
  border-radius: 3px;
}

/* Add height value for select elements to match text input height */

select {
  height: 2.3125rem;
}

/* Adjust margin for form elements below */

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* Normalize file input width */

input[type="file"] {
  width: 100%;
}

/* We add basic fieldset styling */

fieldset {
  border: solid 1px #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0;
}

fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}

/* Error Handling */

[data-abide] .error small.error,
[data-abide] span.error,
[data-abide] small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}

[data-abide] span.error,
[data-abide] small.error {
  display: none;
}

span.error,
small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}

.error input,
.error textarea,
.error select {
  margin-bottom: 0;
}

.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1rem;
}

.error label,
.error label.error {
  color: #f04124;
}

.error small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}

.error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline;
}

.error span.error-message {
  display: block;
}

input.error,
textarea.error {
  margin-bottom: 0;
}

label.error {
  color: #f04124;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 75rem;
  *zoom: 1;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

@media only screen {
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right;
  }

  .small-push-0 {
    left: 0%;
    right: auto;
  }

  .small-pull-0 {
    right: 0%;
    left: auto;
  }

  .small-push-1 {
    left: 8.33333%;
    right: auto;
  }

  .small-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .small-push-2 {
    left: 16.66667%;
    right: auto;
  }

  .small-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .small-push-3 {
    left: 25%;
    right: auto;
  }

  .small-pull-3 {
    right: 25%;
    left: auto;
  }

  .small-push-4 {
    left: 33.33333%;
    right: auto;
  }

  .small-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .small-push-5 {
    left: 41.66667%;
    right: auto;
  }

  .small-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .small-push-6 {
    left: 50%;
    right: auto;
  }

  .small-pull-6 {
    right: 50%;
    left: auto;
  }

  .small-push-7 {
    left: 58.33333%;
    right: auto;
  }

  .small-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .small-push-8 {
    left: 66.66667%;
    right: auto;
  }

  .small-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .small-push-9 {
    left: 75%;
    right: auto;
  }

  .small-pull-9 {
    right: 75%;
    left: auto;
  }

  .small-push-10 {
    left: 83.33333%;
    right: auto;
  }

  .small-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .small-push-11 {
    left: 91.66667%;
    right: auto;
  }

  .small-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .small-1 {
    width: 8.33333%;
  }

  .small-2 {
    width: 16.66667%;
  }

  .small-3 {
    width: 25%;
  }

  .small-4 {
    width: 33.33333%;
  }

  .small-5 {
    width: 41.66667%;
  }

  .small-6 {
    width: 50%;
  }

  .small-7 {
    width: 58.33333%;
  }

  .small-8 {
    width: 66.66667%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.33333%;
  }

  .small-11 {
    width: 91.66667%;
  }

  .small-12 {
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .small-offset-0 {
    margin-left: 0% !important;
  }

  .small-offset-1 {
    margin-left: 8.33333% !important;
  }

  .small-offset-2 {
    margin-left: 16.66667% !important;
  }

  .small-offset-3 {
    margin-left: 25% !important;
  }

  .small-offset-4 {
    margin-left: 33.33333% !important;
  }

  .small-offset-5 {
    margin-left: 41.66667% !important;
  }

  .small-offset-6 {
    margin-left: 50% !important;
  }

  .small-offset-7 {
    margin-left: 58.33333% !important;
  }

  .small-offset-8 {
    margin-left: 66.66667% !important;
  }

  .small-offset-9 {
    margin-left: 75% !important;
  }

  .small-offset-10 {
    margin-left: 83.33333% !important;
  }

  .small-offset-11 {
    margin-left: 91.66667% !important;
  }

  .small-reset-order,
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
}

@media only screen and (min-width: 40.063em) {
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right;
  }

  .medium-push-0 {
    left: 0%;
    right: auto;
  }

  .medium-pull-0 {
    right: 0%;
    left: auto;
  }

  .medium-push-1 {
    left: 8.33333%;
    right: auto;
  }

  .medium-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .medium-push-2 {
    left: 16.66667%;
    right: auto;
  }

  .medium-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .medium-push-3 {
    left: 25%;
    right: auto;
  }

  .medium-pull-3 {
    right: 25%;
    left: auto;
  }

  .medium-push-4 {
    left: 33.33333%;
    right: auto;
  }

  .medium-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .medium-push-5 {
    left: 41.66667%;
    right: auto;
  }

  .medium-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .medium-push-6 {
    left: 50%;
    right: auto;
  }

  .medium-pull-6 {
    right: 50%;
    left: auto;
  }

  .medium-push-7 {
    left: 58.33333%;
    right: auto;
  }

  .medium-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .medium-push-8 {
    left: 66.66667%;
    right: auto;
  }

  .medium-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .medium-push-9 {
    left: 75%;
    right: auto;
  }

  .medium-pull-9 {
    right: 75%;
    left: auto;
  }

  .medium-push-10 {
    left: 83.33333%;
    right: auto;
  }

  .medium-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .medium-push-11 {
    left: 91.66667%;
    right: auto;
  }

  .medium-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .medium-1 {
    width: 8.33333%;
  }

  .medium-2 {
    width: 16.66667%;
  }

  .medium-3 {
    width: 25%;
  }

  .medium-4 {
    width: 33.33333%;
  }

  .medium-5 {
    width: 41.66667%;
  }

  .medium-6 {
    width: 50%;
  }

  .medium-7 {
    width: 58.33333%;
  }

  .medium-8 {
    width: 66.66667%;
  }

  .medium-9 {
    width: 75%;
  }

  .medium-10 {
    width: 83.33333%;
  }

  .medium-11 {
    width: 91.66667%;
  }

  .medium-12 {
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .medium-offset-0 {
    margin-left: 0% !important;
  }

  .medium-offset-1 {
    margin-left: 8.33333% !important;
  }

  .medium-offset-2 {
    margin-left: 16.66667% !important;
  }

  .medium-offset-3 {
    margin-left: 25% !important;
  }

  .medium-offset-4 {
    margin-left: 33.33333% !important;
  }

  .medium-offset-5 {
    margin-left: 41.66667% !important;
  }

  .medium-offset-6 {
    margin-left: 50% !important;
  }

  .medium-offset-7 {
    margin-left: 58.33333% !important;
  }

  .medium-offset-8 {
    margin-left: 66.66667% !important;
  }

  .medium-offset-9 {
    margin-left: 75% !important;
  }

  .medium-offset-10 {
    margin-left: 83.33333% !important;
  }

  .medium-offset-11 {
    margin-left: 91.66667% !important;
  }

  .medium-reset-order,
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  .push-0 {
    left: 0%;
    right: auto;
  }

  .pull-0 {
    right: 0%;
    left: auto;
  }

  .push-1 {
    left: 8.33333%;
    right: auto;
  }

  .pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .push-2 {
    left: 16.66667%;
    right: auto;
  }

  .pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .push-3 {
    left: 25%;
    right: auto;
  }

  .pull-3 {
    right: 25%;
    left: auto;
  }

  .push-4 {
    left: 33.33333%;
    right: auto;
  }

  .pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .push-5 {
    left: 41.66667%;
    right: auto;
  }

  .pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .push-6 {
    left: 50%;
    right: auto;
  }

  .pull-6 {
    right: 50%;
    left: auto;
  }

  .push-7 {
    left: 58.33333%;
    right: auto;
  }

  .pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .push-8 {
    left: 66.66667%;
    right: auto;
  }

  .pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .push-9 {
    left: 75%;
    right: auto;
  }

  .pull-9 {
    right: 75%;
    left: auto;
  }

  .push-10 {
    left: 83.33333%;
    right: auto;
  }

  .pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .push-11 {
    left: 91.66667%;
    right: auto;
  }

  .pull-11 {
    right: 91.66667%;
    left: auto;
  }
}

@media only screen and (min-width: 64.063em) {
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right;
  }

  .large-push-0 {
    left: 0%;
    right: auto;
  }

  .large-pull-0 {
    right: 0%;
    left: auto;
  }

  .large-push-1 {
    left: 8.33333%;
    right: auto;
  }

  .large-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .large-push-2 {
    left: 16.66667%;
    right: auto;
  }

  .large-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .large-push-3 {
    left: 25%;
    right: auto;
  }

  .large-pull-3 {
    right: 25%;
    left: auto;
  }

  .large-push-4 {
    left: 33.33333%;
    right: auto;
  }

  .large-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .large-push-5 {
    left: 41.66667%;
    right: auto;
  }

  .large-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .large-push-6 {
    left: 50%;
    right: auto;
  }

  .large-pull-6 {
    right: 50%;
    left: auto;
  }

  .large-push-7 {
    left: 58.33333%;
    right: auto;
  }

  .large-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .large-push-8 {
    left: 66.66667%;
    right: auto;
  }

  .large-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .large-push-9 {
    left: 75%;
    right: auto;
  }

  .large-pull-9 {
    right: 75%;
    left: auto;
  }

  .large-push-10 {
    left: 83.33333%;
    right: auto;
  }

  .large-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .large-push-11 {
    left: 91.66667%;
    right: auto;
  }

  .large-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .large-1 {
    width: 8.33333%;
  }

  .large-2 {
    width: 16.66667%;
  }

  .large-3 {
    width: 25%;
  }

  .large-4 {
    width: 33.33333%;
  }

  .large-5 {
    width: 41.66667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.33333%;
  }

  .large-8 {
    width: 66.66667%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.33333%;
  }

  .large-11 {
    width: 91.66667%;
  }

  .large-12 {
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .large-offset-0 {
    margin-left: 0% !important;
  }

  .large-offset-1 {
    margin-left: 8.33333% !important;
  }

  .large-offset-2 {
    margin-left: 16.66667% !important;
  }

  .large-offset-3 {
    margin-left: 25% !important;
  }

  .large-offset-4 {
    margin-left: 33.33333% !important;
  }

  .large-offset-5 {
    margin-left: 41.66667% !important;
  }

  .large-offset-6 {
    margin-left: 50% !important;
  }

  .large-offset-7 {
    margin-left: 58.33333% !important;
  }

  .large-offset-8 {
    margin-left: 66.66667% !important;
  }

  .large-offset-9 {
    margin-left: 75% !important;
  }

  .large-offset-10 {
    margin-left: 83.33333% !important;
  }

  .large-offset-11 {
    margin-left: 91.66667% !important;
  }

  .large-reset-order,
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  .push-0 {
    left: 0%;
    right: auto;
  }

  .pull-0 {
    right: 0%;
    left: auto;
  }

  .push-1 {
    left: 8.33333%;
    right: auto;
  }

  .pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .push-2 {
    left: 16.66667%;
    right: auto;
  }

  .pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .push-3 {
    left: 25%;
    right: auto;
  }

  .pull-3 {
    right: 25%;
    left: auto;
  }

  .push-4 {
    left: 33.33333%;
    right: auto;
  }

  .pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .push-5 {
    left: 41.66667%;
    right: auto;
  }

  .pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .push-6 {
    left: 50%;
    right: auto;
  }

  .pull-6 {
    right: 50%;
    left: auto;
  }

  .push-7 {
    left: 58.33333%;
    right: auto;
  }

  .pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .push-8 {
    left: 66.66667%;
    right: auto;
  }

  .pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .push-9 {
    left: 75%;
    right: auto;
  }

  .pull-9 {
    right: 75%;
    left: auto;
  }

  .push-10 {
    left: 83.33333%;
    right: auto;
  }

  .pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .push-11 {
    left: 91.66667%;
    right: auto;
  }

  .pull-11 {
    right: 91.66667%;
    left: auto;
  }
}

.inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.inline-list > li {
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}

.inline-list > li > * {
  display: block;
}

meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* Wrapped around .top-bar to contain to grid width */

.contain-to-grid {
  width: 100%;
  background: -webkit-gradient(linear, top left, bottom left, from(white), to(#fafafa));
  background: -webkit-linear-gradient(top, white 0%, #fafafa 100%);
  background: linear-gradient(to bottom, white 0%, #fafafa 100%);
}

.contain-to-grid .top-bar {
  margin-bottom: 0;
}

.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}

.fixed.expanded:not(.top-bar) {
  overflow-y: auto;
  height: auto;
  width: 100%;
  max-height: 100%;
}

.fixed.expanded:not(.top-bar) .title-area {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.fixed.expanded:not(.top-bar) .top-bar-section {
  z-index: 98;
  margin-top: 3.4375rem;
}

.top-bar {
  overflow: hidden;
  height: 3.4375rem;
  line-height: 3.4375rem;
  position: relative;
  background: -webkit-gradient(linear, top left, bottom left, from(white), to(#fafafa));
  background: -webkit-linear-gradient(top, white 0%, #fafafa 100%);
  background: linear-gradient(to bottom, white 0%, #fafafa 100%);
  margin-bottom: 0;
}

.top-bar ul {
  margin-bottom: 0;
  list-style: none;
}

.top-bar .row {
  max-width: none;
}

.top-bar form,
.top-bar input {
  margin-bottom: 0;
}

.top-bar input {
  height: auto;
  padding-top: .35rem;
  padding-bottom: .35rem;
  font-size: 0.75rem;
}

.top-bar .button {
  padding-top: .45rem;
  padding-bottom: .35rem;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.top-bar .title-area {
  position: relative;
  margin: 0;
}

.top-bar .name {
  height: 3.4375rem;
  margin: 0;
  font-size: 16px;
}

.top-bar .name h1 {
  line-height: 3.4375rem;
  font-size: 1.0625rem;
  margin: 0;
}

.top-bar .name h1 a {
  font-weight: normal;
  color: #4d4d4d;
  width: 50%;
  display: block;
  padding: 0 1.14583rem;
}

.top-bar .toggle-topbar {
  position: absolute;
  right: 0;
  top: 0;
}

.top-bar .toggle-topbar a {
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 0 1.14583rem;
  height: 3.4375rem;
  line-height: 3.4375rem;
}

.top-bar .toggle-topbar.menu-icon {
  right: 1.14583rem;
  top: 50%;
  margin-top: -16px;
  padding-left: 40px;
}

.top-bar .toggle-topbar.menu-icon a {
  height: 34px;
  line-height: 33px;
  padding: 0;
  padding-right: 25px;
  color: #4d4d4d;
  position: relative;
}

.top-bar .toggle-topbar.menu-icon a::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  top: 0;
  height: 0;
  -webkit-box-shadow: 0 10px 0 1px #4d4d4d, 0 16px 0 1px #4d4d4d, 0 22px 0 1px #4d4d4d;
  box-shadow: 0 10px 0 1px #4d4d4d, 0 16px 0 1px #4d4d4d, 0 22px 0 1px #4d4d4d;
}

.top-bar.expanded {
  height: auto;
  background: transparent;
}

.top-bar.expanded .title-area {
  background: -webkit-gradient(linear, top left, bottom left, from(white), to(#fafafa));
  background: -webkit-linear-gradient(top, white 0%, #fafafa 100%);
  background: linear-gradient(to bottom, white 0%, #fafafa 100%);
}

.top-bar.expanded .toggle-topbar a {
  color: #dddddd;
}

.top-bar.expanded .toggle-topbar a span {
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}

.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  -webkit-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}

.top-bar-section ul {
  width: 100%;
  height: auto;
  display: block;
  background: white;
  font-size: 16px;
  margin: 0;
}

.top-bar-section .divider,
.top-bar-section [role="separator"] {
  border-top: solid 1px gray;
  clear: both;
  height: 1px;
  width: 100%;
}

.top-bar-section ul li > a {
  display: block;
  width: 100%;
  color: #4d4d4d;
  padding: 12px 0 12px 0;
  padding-left: 1.14583rem;
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  background: white;
}

.top-bar-section ul li > a.button {
  background: #d22c25;
  font-size: 0.8125rem;
  padding-right: 1.14583rem;
  padding-left: 1.14583rem;
}

.top-bar-section ul li > a.button:hover {
  background: #99201b;
}

.top-bar-section ul li > a.button.secondary {
  background: #d22c25;
}

.top-bar-section ul li > a.button.secondary:hover {
  background: #bb2721;
}

.top-bar-section ul li > a.button.success {
  background: #43ac6a;
}

.top-bar-section ul li > a.button.success:hover {
  background: #358854;
}

.top-bar-section ul li > a.button.alert {
  background: #f04124;
}

.top-bar-section ul li > a.button.alert:hover {
  background: #d42b0f;
}

.top-bar-section ul li:hover > a {
  background: #f2f2f2;
  color: #4d4d4d;
}

.top-bar-section ul li.active > a {
  background: #d9d9d9 !important;
  color: #595959;
}

.top-bar-section ul li.active > a:hover {
  background: #b52620;
  color: white;
}

.top-bar-section .has-form {
  padding: 1.14583rem;
}

.top-bar-section .has-dropdown {
  position: relative;
}

.top-bar-section .has-dropdown > a:after {
  margin-right: 1.14583rem;
  margin-top: -4.5px;
  position: absolute;
  top: 50%;
  right: 0;
}

.top-bar-section .has-dropdown.moved {
  position: static;
}

.top-bar-section .has-dropdown.moved > .dropdown {
  display: block;
}

.top-bar-section .has-dropdown.moved > a:after {
  display: none;
}

.top-bar-section .dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  z-index: 99;
}

.top-bar-section .dropdown li {
  width: 100%;
  height: auto;
}

.top-bar-section .dropdown li a {
  font-weight: normal;
  padding: 8px 1.14583rem;
}

.top-bar-section .dropdown li a.parent-link {
  font-weight: normal;
}

.top-bar-section .dropdown li.title h5 {
  margin-bottom: 0;
}

.top-bar-section .dropdown li.title h5 a {
  color: #4d4d4d;
  line-height: 1.71875rem;
  display: block;
}

.top-bar-section .dropdown li.has-form {
  padding: 8px 1.14583rem;
}

.top-bar-section .dropdown li .button {
  top: auto;
}

.top-bar-section .dropdown label {
  padding: 8px 1.14583rem 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #777777;
  font-weight: bold;
  font-size: 0.625rem;
}

.js-generated {
  display: block;
}

@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: -webkit-gradient(linear, top left, bottom left, from(white), to(#fafafa));
    background: -webkit-linear-gradient(top, white 0%, #fafafa 100%);
    background: linear-gradient(to bottom, white 0%, #fafafa 100%);
    *zoom: 1;
    overflow: visible;
  }

  .top-bar:before,
  .top-bar:after {
    content: " ";
    display: table;
  }

  .top-bar:after {
    clear: both;
  }

  .top-bar .toggle-topbar {
    display: none;
  }

  .top-bar .title-area {
    float: left;
  }

  .top-bar .name h1 a {
    width: auto;
  }

  .top-bar input,
  .top-bar .button {
    font-size: 0.875rem;
    position: relative;
    top: 0.5rem;
  }

  .top-bar.expanded {
    background: -webkit-gradient(linear, top left, bottom left, from(white), to(#fafafa));
    background: -webkit-linear-gradient(top, white 0%, #fafafa 100%);
    background: linear-gradient(to bottom, white 0%, #fafafa 100%);
  }

  .contain-to-grid .top-bar {
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 0;
  }

  .top-bar-section {
    -webkit-transition: none 0 0;
    transition: none 0 0;
    left: 0 !important;
  }

  .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
  }

  .top-bar-section ul li {
    float: left;
  }

  .top-bar-section ul li .js-generated {
    display: none;
  }

  .top-bar-section li.hover > a:not(.button) {
    background: #f2f2f2;
    color: #4d4d4d;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 1.14583rem;
    line-height: 3.4375rem;
    background: -webkit-gradient(linear, top left, bottom left, from(white), to(#fafafa));
    background: -webkit-linear-gradient(top, white 0%, #fafafa 100%);
    background: linear-gradient(to bottom, white 0%, #fafafa 100%);
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #f2f2f2;
  }

  .top-bar-section li.active:not(.has-form) a:not(.button) {
    padding: 0 1.14583rem;
    line-height: 3.4375rem;
    color: #595959;
    background: #d9d9d9 !important;
  }

  .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #b52620;
  }

  .top-bar-section .has-dropdown.moved {
    position: relative;
  }

  .top-bar-section .has-dropdown.moved > .dropdown {
    display: none;
  }

  .top-bar-section .has-dropdown.hover > .dropdown,
  .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    display: block;
  }

  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    border: none;
    content: "\00bb";
    top: 1rem;
    margin-top: -2px;
    right: 5px;
    line-height: 1.2;
  }

  .top-bar-section .dropdown {
    left: 0;
    top: auto;
    background: transparent;
    min-width: 100%;
  }

  .top-bar-section .dropdown li a {
    color: #4d4d4d;
    line-height: 1;
    white-space: nowrap;
    padding: 12px 1.14583rem;
    background: white;
  }

  .top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #333333;
  }

  .top-bar-section .dropdown li .dropdown {
    left: 100%;
    top: 0;
  }

  .top-bar-section > ul > .divider,
  .top-bar-section > ul > [role="separator"] {
    border-bottom: none;
    border-top: none;
    border-right: solid 1px white;
    clear: none;
    height: 3.4375rem;
    width: 0;
  }

  .top-bar-section .has-form {
    background: -webkit-gradient(linear, top left, bottom left, from(white), to(#fafafa));
    background: -webkit-linear-gradient(top, white 0%, #fafafa 100%);
    background: linear-gradient(to bottom, white 0%, #fafafa 100%);
    padding: 0 1.14583rem;
    height: 3.4375rem;
  }

  .top-bar-section .right li .dropdown {
    left: auto;
    right: 0;
  }

  .top-bar-section .right li .dropdown li .dropdown {
    right: 100%;
  }

  .top-bar-section .left li .dropdown {
    right: auto;
    left: 0;
  }

  .top-bar-section .left li .dropdown li .dropdown {
    left: 100%;
  }

  .no-js .top-bar-section ul li:hover > a {
    background: #f2f2f2;
    color: #4d4d4d;
  }

  .no-js .top-bar-section ul li:active > a {
    background: #d9d9d9 !important;
    color: #595959;
  }

  .no-js .top-bar-section .has-dropdown:hover > .dropdown {
    display: block;
  }
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}

/* Typography resets */

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */

a {
  color: #3499ff;
  text-decoration: none;
  line-height: inherit;
}

a:hover,
a:focus {
  color: #0983ff;
}

a img {
  border: none;
}

/* Default paragraph styles */

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}

p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #4d4d4d;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  color: #8b8b8b;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.subheader {
  line-height: 1.4;
  color: #8b8b8b;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* Helpful Typography Defaults */

em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bd260d;
}

/* Lists */

ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

ul {
  margin-left: 1.1rem;
}

ul.no-bullet {
  margin-left: 0;
}

ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */

ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

ul.square li ul,
ul.circle li ul,
ul.disc li ul {
  list-style: inherit;
}

ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}

ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}

ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}

ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */

ol {
  margin-left: 1.4rem;
}

ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* Definition Lists */

dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

dl dd {
  margin-bottom: 0.75rem;
}

/* Abbreviations */

abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #595959;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

abbr {
  text-transform: none;
}

/* Blockquotes */

blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd;
}

blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #767676;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  color: #767676;
}

blockquote,
blockquote p {
  line-height: 1.6;
  color: #8b8b8b;
}

/* Microformats */

.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #dddddd;
  padding: 0.625rem 0.75rem;
}

.vcard li {
  margin: 0;
  display: block;
}

.vcard .fn {
  font-weight: bold;
  font-size: 0.9375rem;
}

.vevent .summary {
  font-weight: bold;
}

.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625rem;
}

@media only screen and (min-width: 40.063em) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }
}

/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/

.print-only {
  display: none !important;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .hide-on-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  .show-for-print {
    display: inherit !important;
  }
}

/* small displays */

@media only screen {
  .show-for-small-only,
  .show-for-small-up,
  .show-for-small,
  .show-for-small-down,
  .hide-for-medium-only,
  .hide-for-medium-up,
  .hide-for-medium,
  .show-for-medium-down,
  .hide-for-large-only,
  .hide-for-large-up,
  .hide-for-large,
  .show-for-large-down,
  .hide-for-xlarge-only,
  .hide-for-xlarge-up,
  .hide-for-xlarge,
  .show-for-xlarge-down,
  .hide-for-xxlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge,
  .show-for-xxlarge-down {
    display: inherit !important;
  }

  .hide-for-small-only,
  .hide-for-small-up,
  .hide-for-small,
  .hide-for-small-down,
  .show-for-medium-only,
  .show-for-medium-up,
  .show-for-medium,
  .hide-for-medium-down,
  .show-for-large-only,
  .show-for-large-up,
  .show-for-large,
  .hide-for-large-down,
  .show-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xlarge,
  .hide-for-xlarge-down,
  .show-for-xxlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge,
  .hide-for-xxlarge-down {
    display: none !important;
  }

  table.show-for-small-only,
  table.show-for-small-up,
  table.show-for-small,
  table.show-for-small-down,
  table.hide-for-medium-only,
  table.hide-for-medium-up,
  table.hide-for-medium,
  table.show-for-medium-down,
  table.hide-for-large-only,
  table.hide-for-large-up,
  table.hide-for-large,
  table.show-for-large-down,
  table.hide-for-xlarge-only,
  table.hide-for-xlarge-up,
  table.hide-for-xlarge,
  table.show-for-xlarge-down,
  table.hide-for-xxlarge-only,
  table.hide-for-xxlarge-up,
  table.hide-for-xxlarge,
  table.show-for-xxlarge-down {
    display: table;
  }

  thead.show-for-small-only,
  thead.show-for-small-up,
  thead.show-for-small,
  thead.show-for-small-down,
  thead.hide-for-medium-only,
  thead.hide-for-medium-up,
  thead.hide-for-medium,
  thead.show-for-medium-down,
  thead.hide-for-large-only,
  thead.hide-for-large-up,
  thead.hide-for-large,
  thead.show-for-large-down,
  thead.hide-for-xlarge-only,
  thead.hide-for-xlarge-up,
  thead.hide-for-xlarge,
  thead.show-for-xlarge-down,
  thead.hide-for-xxlarge-only,
  thead.hide-for-xxlarge-up,
  thead.hide-for-xxlarge,
  thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  tbody.show-for-small-only,
  tbody.show-for-small-up,
  tbody.show-for-small,
  tbody.show-for-small-down,
  tbody.hide-for-medium-only,
  tbody.hide-for-medium-up,
  tbody.hide-for-medium,
  tbody.show-for-medium-down,
  tbody.hide-for-large-only,
  tbody.hide-for-large-up,
  tbody.hide-for-large,
  tbody.show-for-large-down,
  tbody.hide-for-xlarge-only,
  tbody.hide-for-xlarge-up,
  tbody.hide-for-xlarge,
  tbody.show-for-xlarge-down,
  tbody.hide-for-xxlarge-only,
  tbody.hide-for-xxlarge-up,
  tbody.hide-for-xxlarge,
  tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  tr.show-for-small-only,
  tr.show-for-small-up,
  tr.show-for-small,
  tr.show-for-small-down,
  tr.hide-for-medium-only,
  tr.hide-for-medium-up,
  tr.hide-for-medium,
  tr.show-for-medium-down,
  tr.hide-for-large-only,
  tr.hide-for-large-up,
  tr.hide-for-large,
  tr.show-for-large-down,
  tr.hide-for-xlarge-only,
  tr.hide-for-xlarge-up,
  tr.hide-for-xlarge,
  tr.show-for-xlarge-down,
  tr.hide-for-xxlarge-only,
  tr.hide-for-xxlarge-up,
  tr.hide-for-xxlarge,
  tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  th.show-for-small-only,
  td.show-for-small-only,
  th.show-for-small-up,
  td.show-for-small-up,
  th.show-for-small,
  td.show-for-small,
  th.show-for-small-down,
  td.show-for-small-down,
  th.hide-for-medium-only,
  td.hide-for-medium-only,
  th.hide-for-medium-up,
  td.hide-for-medium-up,
  th.hide-for-medium,
  td.hide-for-medium,
  th.show-for-medium-down,
  td.show-for-medium-down,
  th.hide-for-large-only,
  td.hide-for-large-only,
  th.hide-for-large-up,
  td.hide-for-large-up,
  th.hide-for-large,
  td.hide-for-large,
  th.show-for-large-down,
  td.show-for-large-down,
  th.hide-for-xlarge-only,
  td.hide-for-xlarge-only,
  th.hide-for-xlarge-up,
  td.hide-for-xlarge-up,
  th.hide-for-xlarge,
  td.hide-for-xlarge,
  th.show-for-xlarge-down,
  td.show-for-xlarge-down,
  th.hide-for-xxlarge-only,
  td.hide-for-xxlarge-only,
  th.hide-for-xxlarge-up,
  td.hide-for-xxlarge-up,
  th.hide-for-xxlarge,
  td.hide-for-xxlarge,
  th.show-for-xxlarge-down,
  td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}

/* medium displays */

@media only screen and (min-width: 40.063em) {
  .hide-for-small-only,
  .show-for-small-up,
  .hide-for-small,
  .hide-for-small-down,
  .show-for-medium-only,
  .show-for-medium-up,
  .show-for-medium,
  .show-for-medium-down,
  .hide-for-large-only,
  .hide-for-large-up,
  .hide-for-large,
  .show-for-large-down,
  .hide-for-xlarge-only,
  .hide-for-xlarge-up,
  .hide-for-xlarge,
  .show-for-xlarge-down,
  .hide-for-xxlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge,
  .show-for-xxlarge-down {
    display: inherit !important;
  }

  .show-for-small-only,
  .hide-for-small-up,
  .show-for-small,
  .show-for-small-down,
  .hide-for-medium-only,
  .hide-for-medium-up,
  .hide-for-medium,
  .hide-for-medium-down,
  .show-for-large-only,
  .show-for-large-up,
  .show-for-large,
  .hide-for-large-down,
  .show-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xlarge,
  .hide-for-xlarge-down,
  .show-for-xxlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge,
  .hide-for-xxlarge-down {
    display: none !important;
  }

  table.hide-for-small-only,
  table.show-for-small-up,
  table.hide-for-small,
  table.hide-for-small-down,
  table.show-for-medium-only,
  table.show-for-medium-up,
  table.show-for-medium,
  table.show-for-medium-down,
  table.hide-for-large-only,
  table.hide-for-large-up,
  table.hide-for-large,
  table.show-for-large-down,
  table.hide-for-xlarge-only,
  table.hide-for-xlarge-up,
  table.hide-for-xlarge,
  table.show-for-xlarge-down,
  table.hide-for-xxlarge-only,
  table.hide-for-xxlarge-up,
  table.hide-for-xxlarge,
  table.show-for-xxlarge-down {
    display: table;
  }

  thead.hide-for-small-only,
  thead.show-for-small-up,
  thead.hide-for-small,
  thead.hide-for-small-down,
  thead.show-for-medium-only,
  thead.show-for-medium-up,
  thead.show-for-medium,
  thead.show-for-medium-down,
  thead.hide-for-large-only,
  thead.hide-for-large-up,
  thead.hide-for-large,
  thead.show-for-large-down,
  thead.hide-for-xlarge-only,
  thead.hide-for-xlarge-up,
  thead.hide-for-xlarge,
  thead.show-for-xlarge-down,
  thead.hide-for-xxlarge-only,
  thead.hide-for-xxlarge-up,
  thead.hide-for-xxlarge,
  thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  tbody.hide-for-small-only,
  tbody.show-for-small-up,
  tbody.hide-for-small,
  tbody.hide-for-small-down,
  tbody.show-for-medium-only,
  tbody.show-for-medium-up,
  tbody.show-for-medium,
  tbody.show-for-medium-down,
  tbody.hide-for-large-only,
  tbody.hide-for-large-up,
  tbody.hide-for-large,
  tbody.show-for-large-down,
  tbody.hide-for-xlarge-only,
  tbody.hide-for-xlarge-up,
  tbody.hide-for-xlarge,
  tbody.show-for-xlarge-down,
  tbody.hide-for-xxlarge-only,
  tbody.hide-for-xxlarge-up,
  tbody.hide-for-xxlarge,
  tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  tr.hide-for-small-only,
  tr.show-for-small-up,
  tr.hide-for-small,
  tr.hide-for-small-down,
  tr.show-for-medium-only,
  tr.show-for-medium-up,
  tr.show-for-medium,
  tr.show-for-medium-down,
  tr.hide-for-large-only,
  tr.hide-for-large-up,
  tr.hide-for-large,
  tr.show-for-large-down,
  tr.hide-for-xlarge-only,
  tr.hide-for-xlarge-up,
  tr.hide-for-xlarge,
  tr.show-for-xlarge-down,
  tr.hide-for-xxlarge-only,
  tr.hide-for-xxlarge-up,
  tr.hide-for-xxlarge,
  tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  th.hide-for-small-only,
  td.hide-for-small-only,
  th.show-for-small-up,
  td.show-for-small-up,
  th.hide-for-small,
  td.hide-for-small,
  th.hide-for-small-down,
  td.hide-for-small-down,
  th.show-for-medium-only,
  td.show-for-medium-only,
  th.show-for-medium-up,
  td.show-for-medium-up,
  th.show-for-medium,
  td.show-for-medium,
  th.show-for-medium-down,
  td.show-for-medium-down,
  th.hide-for-large-only,
  td.hide-for-large-only,
  th.hide-for-large-up,
  td.hide-for-large-up,
  th.hide-for-large,
  td.hide-for-large,
  th.show-for-large-down,
  td.show-for-large-down,
  th.hide-for-xlarge-only,
  td.hide-for-xlarge-only,
  th.hide-for-xlarge-up,
  td.hide-for-xlarge-up,
  th.hide-for-xlarge,
  td.hide-for-xlarge,
  th.show-for-xlarge-down,
  td.show-for-xlarge-down,
  th.hide-for-xxlarge-only,
  td.hide-for-xxlarge-only,
  th.hide-for-xxlarge-up,
  td.hide-for-xxlarge-up,
  th.hide-for-xxlarge,
  td.hide-for-xxlarge,
  th.show-for-xxlarge-down,
  td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}

/* large displays */

@media only screen and (min-width: 64.063em) {
  .hide-for-small-only,
  .show-for-small-up,
  .hide-for-small,
  .hide-for-small-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .hide-for-medium,
  .hide-for-medium-down,
  .show-for-large-only,
  .show-for-large-up,
  .show-for-large,
  .show-for-large-down,
  .hide-for-xlarge-only,
  .hide-for-xlarge-up,
  .hide-for-xlarge,
  .show-for-xlarge-down,
  .hide-for-xxlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge,
  .show-for-xxlarge-down {
    display: inherit !important;
  }

  .show-for-small-only,
  .hide-for-small-up,
  .show-for-small,
  .show-for-small-down,
  .show-for-medium-only,
  .hide-for-medium-up,
  .show-for-medium,
  .show-for-medium-down,
  .hide-for-large-only,
  .hide-for-large-up,
  .hide-for-large,
  .hide-for-large-down,
  .show-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xlarge,
  .hide-for-xlarge-down,
  .show-for-xxlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge,
  .hide-for-xxlarge-down {
    display: none !important;
  }

  table.hide-for-small-only,
  table.show-for-small-up,
  table.hide-for-small,
  table.hide-for-small-down,
  table.hide-for-medium-only,
  table.show-for-medium-up,
  table.hide-for-medium,
  table.hide-for-medium-down,
  table.show-for-large-only,
  table.show-for-large-up,
  table.show-for-large,
  table.show-for-large-down,
  table.hide-for-xlarge-only,
  table.hide-for-xlarge-up,
  table.hide-for-xlarge,
  table.show-for-xlarge-down,
  table.hide-for-xxlarge-only,
  table.hide-for-xxlarge-up,
  table.hide-for-xxlarge,
  table.show-for-xxlarge-down {
    display: table;
  }

  thead.hide-for-small-only,
  thead.show-for-small-up,
  thead.hide-for-small,
  thead.hide-for-small-down,
  thead.hide-for-medium-only,
  thead.show-for-medium-up,
  thead.hide-for-medium,
  thead.hide-for-medium-down,
  thead.show-for-large-only,
  thead.show-for-large-up,
  thead.show-for-large,
  thead.show-for-large-down,
  thead.hide-for-xlarge-only,
  thead.hide-for-xlarge-up,
  thead.hide-for-xlarge,
  thead.show-for-xlarge-down,
  thead.hide-for-xxlarge-only,
  thead.hide-for-xxlarge-up,
  thead.hide-for-xxlarge,
  thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  tbody.hide-for-small-only,
  tbody.show-for-small-up,
  tbody.hide-for-small,
  tbody.hide-for-small-down,
  tbody.hide-for-medium-only,
  tbody.show-for-medium-up,
  tbody.hide-for-medium,
  tbody.hide-for-medium-down,
  tbody.show-for-large-only,
  tbody.show-for-large-up,
  tbody.show-for-large,
  tbody.show-for-large-down,
  tbody.hide-for-xlarge-only,
  tbody.hide-for-xlarge-up,
  tbody.hide-for-xlarge,
  tbody.show-for-xlarge-down,
  tbody.hide-for-xxlarge-only,
  tbody.hide-for-xxlarge-up,
  tbody.hide-for-xxlarge,
  tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  tr.hide-for-small-only,
  tr.show-for-small-up,
  tr.hide-for-small,
  tr.hide-for-small-down,
  tr.hide-for-medium-only,
  tr.show-for-medium-up,
  tr.hide-for-medium,
  tr.hide-for-medium-down,
  tr.show-for-large-only,
  tr.show-for-large-up,
  tr.show-for-large,
  tr.show-for-large-down,
  tr.hide-for-xlarge-only,
  tr.hide-for-xlarge-up,
  tr.hide-for-xlarge,
  tr.show-for-xlarge-down,
  tr.hide-for-xxlarge-only,
  tr.hide-for-xxlarge-up,
  tr.hide-for-xxlarge,
  tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  th.hide-for-small-only,
  td.hide-for-small-only,
  th.show-for-small-up,
  td.show-for-small-up,
  th.hide-for-small,
  td.hide-for-small,
  th.hide-for-small-down,
  td.hide-for-small-down,
  th.hide-for-medium-only,
  td.hide-for-medium-only,
  th.show-for-medium-up,
  td.show-for-medium-up,
  th.hide-for-medium,
  td.hide-for-medium,
  th.hide-for-medium-down,
  td.hide-for-medium-down,
  th.show-for-large-only,
  td.show-for-large-only,
  th.show-for-large-up,
  td.show-for-large-up,
  th.show-for-large,
  td.show-for-large,
  th.show-for-large-down,
  td.show-for-large-down,
  th.hide-for-xlarge-only,
  td.hide-for-xlarge-only,
  th.hide-for-xlarge-up,
  td.hide-for-xlarge-up,
  th.hide-for-xlarge,
  td.hide-for-xlarge,
  th.show-for-xlarge-down,
  td.show-for-xlarge-down,
  th.hide-for-xxlarge-only,
  td.hide-for-xxlarge-only,
  th.hide-for-xxlarge-up,
  td.hide-for-xxlarge-up,
  th.hide-for-xxlarge,
  td.hide-for-xxlarge,
  th.show-for-xxlarge-down,
  td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}

/* xlarge displays */

@media only screen and (min-width: 90.063em) {
  .hide-for-small-only,
  .show-for-small-up,
  .hide-for-small,
  .hide-for-small-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-large-only,
  .show-for-large-up,
  .hide-for-large,
  .hide-for-large-down,
  .show-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xlarge,
  .show-for-xlarge-down,
  .hide-for-xxlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge,
  .show-for-xxlarge-down {
    display: inherit !important;
  }

  .show-for-small-only,
  .hide-for-small-up,
  .show-for-small,
  .show-for-small-down,
  .show-for-medium-only,
  .hide-for-medium-up,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-large-only,
  .hide-for-large-up,
  .show-for-large,
  .show-for-large-down,
  .hide-for-xlarge-only,
  .hide-for-xlarge-up,
  .hide-for-xlarge,
  .hide-for-xlarge-down,
  .show-for-xxlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge,
  .hide-for-xxlarge-down {
    display: none !important;
  }

  table.hide-for-small-only,
  table.show-for-small-up,
  table.hide-for-small,
  table.hide-for-small-down,
  table.hide-for-medium-only,
  table.show-for-medium-up,
  table.hide-for-medium,
  table.hide-for-medium-down,
  table.hide-for-large-only,
  table.show-for-large-up,
  table.hide-for-large,
  table.hide-for-large-down,
  table.show-for-xlarge-only,
  table.show-for-xlarge-up,
  table.show-for-xlarge,
  table.show-for-xlarge-down,
  table.hide-for-xxlarge-only,
  table.hide-for-xxlarge-up,
  table.hide-for-xxlarge,
  table.show-for-xxlarge-down {
    display: table;
  }

  thead.hide-for-small-only,
  thead.show-for-small-up,
  thead.hide-for-small,
  thead.hide-for-small-down,
  thead.hide-for-medium-only,
  thead.show-for-medium-up,
  thead.hide-for-medium,
  thead.hide-for-medium-down,
  thead.hide-for-large-only,
  thead.show-for-large-up,
  thead.hide-for-large,
  thead.hide-for-large-down,
  thead.show-for-xlarge-only,
  thead.show-for-xlarge-up,
  thead.show-for-xlarge,
  thead.show-for-xlarge-down,
  thead.hide-for-xxlarge-only,
  thead.hide-for-xxlarge-up,
  thead.hide-for-xxlarge,
  thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  tbody.hide-for-small-only,
  tbody.show-for-small-up,
  tbody.hide-for-small,
  tbody.hide-for-small-down,
  tbody.hide-for-medium-only,
  tbody.show-for-medium-up,
  tbody.hide-for-medium,
  tbody.hide-for-medium-down,
  tbody.hide-for-large-only,
  tbody.show-for-large-up,
  tbody.hide-for-large,
  tbody.hide-for-large-down,
  tbody.show-for-xlarge-only,
  tbody.show-for-xlarge-up,
  tbody.show-for-xlarge,
  tbody.show-for-xlarge-down,
  tbody.hide-for-xxlarge-only,
  tbody.hide-for-xxlarge-up,
  tbody.hide-for-xxlarge,
  tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  tr.hide-for-small-only,
  tr.show-for-small-up,
  tr.hide-for-small,
  tr.hide-for-small-down,
  tr.hide-for-medium-only,
  tr.show-for-medium-up,
  tr.hide-for-medium,
  tr.hide-for-medium-down,
  tr.hide-for-large-only,
  tr.show-for-large-up,
  tr.hide-for-large,
  tr.hide-for-large-down,
  tr.show-for-xlarge-only,
  tr.show-for-xlarge-up,
  tr.show-for-xlarge,
  tr.show-for-xlarge-down,
  tr.hide-for-xxlarge-only,
  tr.hide-for-xxlarge-up,
  tr.hide-for-xxlarge,
  tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  th.hide-for-small-only,
  td.hide-for-small-only,
  th.show-for-small-up,
  td.show-for-small-up,
  th.hide-for-small,
  td.hide-for-small,
  th.hide-for-small-down,
  td.hide-for-small-down,
  th.hide-for-medium-only,
  td.hide-for-medium-only,
  th.show-for-medium-up,
  td.show-for-medium-up,
  th.hide-for-medium,
  td.hide-for-medium,
  th.hide-for-medium-down,
  td.hide-for-medium-down,
  th.hide-for-large-only,
  td.hide-for-large-only,
  th.show-for-large-up,
  td.show-for-large-up,
  th.hide-for-large,
  td.hide-for-large,
  th.hide-for-large-down,
  td.hide-for-large-down,
  th.show-for-xlarge-only,
  td.show-for-xlarge-only,
  th.show-for-xlarge-up,
  td.show-for-xlarge-up,
  th.show-for-xlarge,
  td.show-for-xlarge,
  th.show-for-xlarge-down,
  td.show-for-xlarge-down,
  th.hide-for-xxlarge-only,
  td.hide-for-xxlarge-only,
  th.hide-for-xxlarge-up,
  td.hide-for-xxlarge-up,
  th.hide-for-xxlarge,
  td.hide-for-xxlarge,
  th.show-for-xxlarge-down,
  td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}

/* xxlarge displays */

@media only screen and (min-width: 120.063em) {
  .hide-for-small-only,
  .show-for-small-up,
  .hide-for-small,
  .hide-for-small-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-large-only,
  .show-for-large-up,
  .hide-for-large,
  .hide-for-large-down,
  .hide-for-xlarge-only,
  .show-for-xlarge-up,
  .hide-for-xlarge,
  .hide-for-xlarge-down,
  .show-for-xxlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge,
  .show-for-xxlarge-down {
    display: inherit !important;
  }

  .show-for-small-only,
  .hide-for-small-up,
  .show-for-small,
  .show-for-small-down,
  .show-for-medium-only,
  .hide-for-medium-up,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-large-only,
  .hide-for-large-up,
  .show-for-large,
  .show-for-large-down,
  .show-for-xlarge-only,
  .hide-for-xlarge-up,
  .show-for-xlarge,
  .show-for-xlarge-down,
  .hide-for-xxlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge,
  .hide-for-xxlarge-down {
    display: none !important;
  }

  table.hide-for-small-only,
  table.show-for-small-up,
  table.hide-for-small,
  table.hide-for-small-down,
  table.hide-for-medium-only,
  table.show-for-medium-up,
  table.hide-for-medium,
  table.hide-for-medium-down,
  table.hide-for-large-only,
  table.show-for-large-up,
  table.hide-for-large,
  table.hide-for-large-down,
  table.hide-for-xlarge-only,
  table.show-for-xlarge-up,
  table.hide-for-xlarge,
  table.hide-for-xlarge-down,
  table.show-for-xxlarge-only,
  table.show-for-xxlarge-up,
  table.show-for-xxlarge,
  table.show-for-xxlarge-down {
    display: table;
  }

  thead.hide-for-small-only,
  thead.show-for-small-up,
  thead.hide-for-small,
  thead.hide-for-small-down,
  thead.hide-for-medium-only,
  thead.show-for-medium-up,
  thead.hide-for-medium,
  thead.hide-for-medium-down,
  thead.hide-for-large-only,
  thead.show-for-large-up,
  thead.hide-for-large,
  thead.hide-for-large-down,
  thead.hide-for-xlarge-only,
  thead.show-for-xlarge-up,
  thead.hide-for-xlarge,
  thead.hide-for-xlarge-down,
  thead.show-for-xxlarge-only,
  thead.show-for-xxlarge-up,
  thead.show-for-xxlarge,
  thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  tbody.hide-for-small-only,
  tbody.show-for-small-up,
  tbody.hide-for-small,
  tbody.hide-for-small-down,
  tbody.hide-for-medium-only,
  tbody.show-for-medium-up,
  tbody.hide-for-medium,
  tbody.hide-for-medium-down,
  tbody.hide-for-large-only,
  tbody.show-for-large-up,
  tbody.hide-for-large,
  tbody.hide-for-large-down,
  tbody.hide-for-xlarge-only,
  tbody.show-for-xlarge-up,
  tbody.hide-for-xlarge,
  tbody.hide-for-xlarge-down,
  tbody.show-for-xxlarge-only,
  tbody.show-for-xxlarge-up,
  tbody.show-for-xxlarge,
  tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  tr.hide-for-small-only,
  tr.show-for-small-up,
  tr.hide-for-small,
  tr.hide-for-small-down,
  tr.hide-for-medium-only,
  tr.show-for-medium-up,
  tr.hide-for-medium,
  tr.hide-for-medium-down,
  tr.hide-for-large-only,
  tr.show-for-large-up,
  tr.hide-for-large,
  tr.hide-for-large-down,
  tr.hide-for-xlarge-only,
  tr.show-for-xlarge-up,
  tr.hide-for-xlarge,
  tr.hide-for-xlarge-down,
  tr.show-for-xxlarge-only,
  tr.show-for-xxlarge-up,
  tr.show-for-xxlarge,
  tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  th.hide-for-small-only,
  td.hide-for-small-only,
  th.show-for-small-up,
  td.show-for-small-up,
  th.hide-for-small,
  td.hide-for-small,
  th.hide-for-small-down,
  td.hide-for-small-down,
  th.hide-for-medium-only,
  td.hide-for-medium-only,
  th.show-for-medium-up,
  td.show-for-medium-up,
  th.hide-for-medium,
  td.hide-for-medium,
  th.hide-for-medium-down,
  td.hide-for-medium-down,
  th.hide-for-large-only,
  td.hide-for-large-only,
  th.show-for-large-up,
  td.show-for-large-up,
  th.hide-for-large,
  td.hide-for-large,
  th.hide-for-large-down,
  td.hide-for-large-down,
  th.hide-for-xlarge-only,
  td.hide-for-xlarge-only,
  th.show-for-xlarge-up,
  td.show-for-xlarge-up,
  th.hide-for-xlarge,
  td.hide-for-xlarge,
  th.hide-for-xlarge-down,
  td.hide-for-xlarge-down,
  th.show-for-xxlarge-only,
  td.show-for-xxlarge-only,
  th.show-for-xxlarge-up,
  td.show-for-xxlarge-up,
  th.show-for-xxlarge,
  td.show-for-xxlarge,
  th.show-for-xxlarge-down,
  td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}

/* Orientation targeting */

.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

/* Specific visibility for tables */

table.hide-for-landscape,
table.show-for-portrait {
  display: table;
}

thead.hide-for-landscape,
thead.show-for-portrait {
  display: table-header-group !important;
}

tbody.hide-for-landscape,
tbody.show-for-portrait {
  display: table-row-group !important;
}

tr.hide-for-landscape,
tr.show-for-portrait {
  display: table-row !important;
}

td.hide-for-landscape,
td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  /* Specific visibility for tables */

  table.show-for-landscape,
  table.hide-for-portrait {
    display: table;
  }

  thead.show-for-landscape,
  thead.hide-for-portrait {
    display: table-header-group !important;
  }

  tbody.show-for-landscape,
  tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  tr.show-for-landscape,
  tr.hide-for-portrait {
    display: table-row !important;
  }

  td.show-for-landscape,
  td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}

@media only screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  /* Specific visibility for tables */

  table.show-for-portrait,
  table.hide-for-landscape {
    display: table;
  }

  thead.show-for-portrait,
  thead.hide-for-landscape {
    display: table-header-group !important;
  }

  tbody.show-for-portrait,
  tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  tr.show-for-portrait,
  tr.hide-for-landscape {
    display: table-row !important;
  }

  td.show-for-portrait,
  td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}

/* Touch-enabled device targeting */

.show-for-touch {
  display: none !important;
}

.hide-for-touch {
  display: inherit !important;
}

.touch .show-for-touch {
  display: inherit !important;
}

.touch .hide-for-touch {
  display: none !important;
}

/* Specific visibility for tables */

table.hide-for-touch {
  display: table;
}

.touch table.show-for-touch {
  display: table;
}

thead.hide-for-touch {
  display: table-header-group !important;
}

.touch thead.show-for-touch {
  display: table-header-group !important;
}

tbody.hide-for-touch {
  display: table-row-group !important;
}

.touch tbody.show-for-touch {
  display: table-row-group !important;
}

tr.hide-for-touch {
  display: table-row !important;
}

.touch tr.show-for-touch {
  display: table-row !important;
}

td.hide-for-touch {
  display: table-cell !important;
}

.touch td.show-for-touch {
  display: table-cell !important;
}

th.hide-for-touch {
  display: table-cell !important;
}

.touch th.show-for-touch {
  display: table-cell !important;
}

@font-face {
  font-family: 'vc-icon';
  src: url("../font/vc-icon.eot?30751843");
  src: url("../font/vc-icon.eot?30751843#iefix") format("embedded-opentype"), url("../font/vc-icon.woff?30751843") format("woff"), url("../font/vc-icon.ttf?30751843") format("truetype"), url("../font/vc-icon.svg?30751843#vc-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

.vc-icon,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vc-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus:before {
  content: '\e800';
}

/* '' */

.icon-off:before {
  content: '\e801';
}

/* '' */

.icon-user:before {
  content: '\e802';
}

/* '' */

.icon-mail:before {
  content: '\e803';
}

/* '' */

.icon-ok:before {
  content: '\e804';
}

/* '' */

.icon-phone:before {
  content: '\e805';
}

/* '' */

.icon-cog:before {
  content: '\e806';
}

/* '' */

.icon-twitter:before {
  content: '\e807';
}

/* '' */

.icon-facebook:before {
  content: '\e808';
}

/* '' */

.icon-flag:before {
  content: '\e809';
}

/* '' */

.icon-gplus:before {
  content: '\e80a';
}

/* '' */

.icon-menu:before {
  content: '\e80b';
}

/* '' */

.icon-youtube:before {
  content: '\e80c';
}

/* '' */

.icon-location:before {
  content: '\e80d';
}

/* '' */

.icon-mail-white:before {
  content: '\e80e';
}

/* '' */

.icon-clock:before {
  content: '\e80f';
}

/* '' */

.icon-calendar:before {
  content: '\e810';
}

/* '' */

.icon-cancel:before {
  content: '\e811';
}

/* '' */

.icon-users:before {
  content: '\e812';
}

/* '' */

.icon-user-add:before {
  content: '\e813';
}

/* '' */

.icon-angle-left:before {
  content: '\e814';
}

/* '' */

.icon-heart-empty:before {
  content: '\e815';
}

/* '' */

.icon-heart:before {
  content: '\e816';
}

/* '' */

.icon-office:before {
  content: '\e817';
}

/* '' */

.icon-angle-right:before {
  content: '\e818';
}

/* '' */

.icon-map:before {
  content: '\e819';
}

/* '' */

.icon-search-alt:before {
  content: '\e81a';
}

/* '' */

.icon-linkedin:before {
  content: '\e81b';
}

/* '' */

.icon-camera:before {
  content: '\e81c';
}

/* '' */

.icon-picture:before {
  content: '\e81d';
}

/* '' */

.icon-video:before {
  content: '\e81e';
}

/* '' */

.icon-ccw:before {
  content: '\e81f';
}

/* '' */

.icon-direction:before {
  content: '\e820';
}

/* '' */

.icon-link:before {
  content: '\e821';
}

/* '' */

.icon-attention-circled:before {
  content: '\e822';
}

/* '' */

.icon-ok-circled:before {
  content: '\e823';
}

/* '' */

.icon-house:before {
  content: '\e824';
}

/* '' */

.icon-address:before {
  content: '\e825';
}

/* '' */

.icon-mortar:before {
  content: '\e826';
}

/* '' */

.icon-attach:before {
  content: '\e827';
}

/* '' */

.icon-up-micro:before {
  content: '\e828';
}

/* '' */

.icon-bookmark-empty-1:before {
  content: '\e829';
}

/* '' */

.icon-bookmark:before {
  content: '\e82a';
}

/* '' */

.icon-plane:before {
  content: '\e82b';
}

/* '' */

.icon-balloon:before {
  content: '\e82c';
}

/* '' */

.icon-share-alt:before {
  content: '\e82d';
}

/* '' */

.icon-star:before {
  content: '\e82e';
}

/* '' */

.icon-star-empty:before {
  content: '\e82f';
}

/* '' */

.icon-star-half:before {
  content: '\e830';
}

/* '' */

.icon-share:before {
  content: '\e831';
}

/* '' */

.icon-globe:before {
  content: '\e832';
}

/* '' */

.icon-edit:before {
  content: '\e833';
}

/* '' */

.icon-briefcase:before {
  content: '\e834';
}

/* '' */

.icon-down-open:before {
  content: '\e835';
}

/* '' */

.icon-down-micro:before {
  content: '\e836';
}

/* '' */

.icon-restaurant:before {
  content: '\e837';
}

/* '' */

.icon-filter:before {
  content: '\e838';
}

/* '' */

.icon-fast-food:before {
  content: '\e839';
}

/* '' */

.icon-bar:before {
  content: '\e83a';
}

/* '' */

.icon-catering:before {
  content: '\e83b';
}

/* '' */

.icon-hotel:before {
  content: '\e83c';
}

/* '' */

.icon-boutique:before {
  content: '\e83d';
}

/* '' */

.icon-banquet-hall:before {
  content: '\e83e';
}

/* '' */

.icon-user-female:before {
  content: '\e83f';
}

/* '' */

.icon-lock:before {
  content: '\e840';
}

/* '' */

.icon-bell:before {
  content: '\e841';
}

/* '' */

.icon-mobile:before {
  content: '\e842';
}

/* '' */

.icon-home:before {
  content: '\e843';
}

/* '' */

.icon-analysis:before {
  content: '\e844';
}

/* '' */

.icon-back-in-time:before {
  content: '\e845';
}

/* '' */

.icon-comment:before {
  content: '\e846';
}

/* '' */

.icon-network:before {
  content: '\e847';
}

/* '' */

.icon-card:before {
  content: '\e848';
}

/* '' */

.icon-note:before {
  content: '\e849';
}

/* '' */

.icon-refresh:before {
  content: '\e84a';
}

/* '' */

.icon-specials-phone:before {
  content: '\e84b';
}

/* '' */

.icon-specials-tags:before {
  content: '\e84c';
}

/* '' */

.icon-basket:before {
  content: '\e84d';
}

/* '' */

.icon-cancel-circled:before {
  content: '\e84e';
}

/* '' */

.icon-music:before {
  content: '\e84f';
}

/* '' */

.icon-mic:before {
  content: '\e850';
}

/* '' */

.icon-notebook:before {
  content: '\e851';
}

/* '' */

.icon-check-empty:before {
  content: '\e852';
}

/* '' */

.icon-check:before {
  content: '\e853';
}

/* '' */

.icon-ok-squared:before {
  content: '\e854';
}

/* '' */

.icon-circle-empty:before {
  content: '\e855';
}

/* '' */

.icon-circle:before {
  content: '\e856';
}

/* '' */

.icon-dot-circled:before {
  content: '\e857';
}

/* '' */

.icon-radio:before {
  content: '\e858';
}

/* '' */

.icon-tags:before {
  content: '\e859';
}

/* '' */

.icon-basket-small:before {
  content: '\e85a';
}

/* '' */

.icon-baby:before {
  content: '\e85b';
}

/* '' */

.icon-thumbs-up:before {
  content: '\e85c';
}

/* '' */

.icon-thumbs-down:before {
  content: '\e85d';
}

/* '' */

.icon-help-circled:before {
  content: '\e85e';
}

/* '' */

.icon-list:before {
  content: '\e85f';
}

/* '' */

.icon-th:before {
  content: '\e860';
}

/* '' */

.icon-trash:before {
  content: '\e861';
}

/* '' */