﻿@model Vconnect.Models.SearchListWebModel


@using Vconnect.Common;
@{
    var bizid = string.Empty;
    string notfoundimage = MyGlobalVariables.Staticimage + "default-biz-logo.jpg";
   // string Staticimage = ConfigurationManager.AppSettings["StaticImagesRootPath"].ToString();
   // string ImagesRootPath = ConfigurationManager.AppSettings["ImagesRootPath"].ToString();
    }

	<div class="search-list">
                         @if (Model != null)
                         {

                            

                             if (Model.listSearchResultWEB.SearchListBusiness.Count > 0)
                             {
                                 foreach (Vconnect.Mapping.ListingWEB.SearchListBusinessWEB searchList in Model.listSearchResultWEB.SearchListBusiness)
                                 {
                                     bizid += searchList.businessid + ",";
                                     //totalRecords++;
                        <div class="search-item row">
                            <div class="columns medium-10">
                                <div class="biz-title">
                                    <h5> <a href="/@searchList.url" class="primary">@searchList.businessname</a></h5>
                                    <div class="biz-rating">
                                        <ul class="rating-stars">
                                             @{
                                     string rateMe = Utility.RateMeSearchListing(searchList.rate);
                                               }

                                              @Html.Raw(rateMe)
                                           @* <li><i class="rating-star"></i></li>
                                            <li><i class="rating-star"></i></li>
                                            <li><i class="rating-star"></i></li>
                                            <li><i class="rating-star"></i></li>
                                            <li><i class="rating-star"></i></li>*@
                                        </ul>
                                         @if (searchList.reviewcount != 0)
                                         {
                                         <a href="/@searchList.url#review_detail">(@searchList.reviewcount Reviews)</a>
                                         }
                                    </div>
                                </div>
                                
                                
                                <div class="biz-address">@searchList.location</div>
                            
                            @{
                                var itemProcessed = "";
                                <p class="tags">
                                @foreach (var item in searchList.category.Split(','))
                                {
                                    if (item.ToLower().Contains("<b>"))
                                    {
                                        itemProcessed = item.Replace("<b>", "").Replace("</b>", "");
                                        <a href="/qsearch?sq=@itemProcessed.ToLower().Replace(" ", "-").Replace("(", "").Replace(")", "").Replace("&", "and").Replace("'", "")&sl=@Model.SearchLocation">@itemProcessed</a>
                                    }
                                    else
                                    {
                                        <a href="/qsearch?sq=@item.ToLower().Replace(" ", "-").Replace("(", "").Replace(")", "").Replace("&", "and").Replace("'", "")&sl=@Model.SearchLocation">@item</a>
                                    }                                                                             
                                }
                                </p>
                            }
                      
                                @*<p class="tags"> @Html.Raw(searchList.category)</p>*@
                    @*              <p class="tags">
                     @{
                                var x = searchList.category;

                                if (searchList.category.Contains(","))
                                {
                                    foreach (string y in searchList.category.Split(','))
                                    {
                                        if (y.ToLower().Contains("<b>"))
                                        {
                                            <b><a href="javascript:void(0);">@y.ToLower().Replace("<b>", "").Replace("</b>", "")</a></b>
                                        }
                                        else
                                        {
                                                <a href="javascript:void(0);">@y</a>
                                        }
                                    }
                                }                                                 
                         }
                       </p>*@
                                @if (searchList.lke == 0)
                                  {                                    
                                    <a class="btn" id="like@{@searchList.businessid}" onclick="fnGetLoginPartial('@Model.SearchText','@Model.SearchLocation','@searchList.businessid','@searchList.url','Like')" ><i class="icon-heart"></i>Like</a>
                                  }
                                  else
                                  {
                                     <a class="btn active"><i class="icon-heart"></i>Liked</a>
                                  }
                                  @if (searchList.fav == 0)
                                  {
                                     <a class="btn lightgray" id="save@{@searchList.businessid}"  onclick="fnGetLoginPartial('@Model.SearchText','@Model.SearchLocation','@searchList.businessid','@searchList.url','Save')"><i class="icon-bookmark"></i>Save</a> 
                                  }
                                  else
                                  {
                                       <a class="btn lightgray active" ><i class="icon-bookmark"></i>Saved</a>
                                  }


                                
                            </div>
                            <div class="columns medium-2 biz-logo">
                               @if (!string.IsNullOrEmpty(searchList.companylogo))
                               {
                                <img src="@MyGlobalVariables.ImagesRootPath@searchList.companylogo"  alt="@searchList.businessname">
                               }
                               else
                               {
                                     <img src="@notfoundimage" alt="@searchList.businessname">
                               }
                            </div>
                        </div>
                             
                             
                                 }
                             }
                         }
                       
					</div>

<input type="hidden" id="bizid" value="@bizid" />