.waiting-on-data h1.with-preview {
  height: 22px;
  width: 200px;
  background: #e0e0e0;

}
.waiting-on-data p.with-preview {
  height: 10px;
  width: 150px;
  background: rgba(224, 224, 224, 0.6);
}
.waiting-on-data .disabled-in-preview {
  opacity: 0.2;
  pointer-events: none;
}
.preact-image-mask {
  position: relative;
  overflow: hidden;
  background: #e0e0e0;
}
.preact-image-mask img {
  width: 100%;
  height: 100%;
}
.img-placeholder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.img-placeholder:before,
.img-placeholder:after {
  content: ' ';
  display: block;
  margin: 0 auto;
  background: #b2b1b1;
}
.img-placeholder:before {
  width: 40%;
  height: 45%;
  margin-top: 24%;
  border-radius: 100%;
}
.img-placeholder:after {
  width: 66%;
  height: 100%;
  margin-top: -2px;
  border-radius: 16px 16px 0 0;
}
