﻿@model IList<Vconnect.Models.SmeEventMaster>
@{
    Layout = "~/Views/Shared/_WAPMainMaster.cshtml"; 
    }
                <div class="main-section"><div class="mobile body">
	<div class="gray-header">
		<div class="mobile-container">
			<h4>Business Forums</h4>
		</div>
	</div>
	<div class="business-forum-header row">
		<div class="mobile-container">
			<p class="explainer">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, assumenda, doloremque, reiciendis inventore nesciunt quas corporis quo iste laudantium alias nisi nemo temporibus id quae ex suscipit perspiciatis distinctio maiores?
			</p>
		</div>
	</div>
	<div class="business-forum-events row">
		<div class="mobile-container">
			<div class="details-header">
				<h4>Upcoming Events</h4>
			</div>

			<ul class="events-list">
				 @foreach (var item in Model)
     {
         if (item.timeslot1 != null)
         {
             <li>
					<a href="smeevent2?id=@item.contentid&timeslot=@item.timeslot1">
						<span class="date">@item.eventdate</span>
                        <span class="location">@item.timeslot1</span>
						<span class="location">@item.eventaddress</span>
						<i class="icon-angle-right"></i>
					</a>
				</li>
         }
         if (item.timeslot2 != null)
         {
             <li><a href="smeeventII?id=@item.contentid&timeslot=@item.timeslot2">
						<span class="date">@item.eventdate</span>
                        <span class="location">@item.timeslot2</span>
						<span class="location">@item.eventaddress</span>
						<i class="icon-angle-right"></i>
					</a>
				</li>
         } if (item.timeslot3 != null)
         {
             <li>
					<a href="smeeventII?id=@item.contentid&timeslot=@item.timeslot3">
						<span class="date">@item.eventdate</span>
                        <span class="location">@item.timeslot1</span>
						<span class="location">@item.eventaddress</span>
						<i class="icon-angle-right"></i>
					</a>
				</li>
         }
         if (item.timeslot4 != null)
         {
             <li><a href="smeeventII?id=@item.contentid&timeslot=@item.timeslot4">
						<span class="date">@item.eventdate</span>
                        <span class="location">@item.timeslot2</span>
						<span class="location">@item.eventaddress</span>
						<i class="icon-angle-right"></i>
					</a>
				</li>
         }


     }
				
			</ul>
		</div>
	</div>
</div><!--    Footer section (Start)    -->
                        
            </div>
      