﻿@{
    string vconnect_404=Vconnect.Common.MyGlobalVariables.Staticimage+"vconnect-404-sketch.png";
   ViewBag.Title = "404 Error ";
   Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
   string title = "Not Found 404 Page";
   string description = "The Page You Are looking for was not found. Don't worry our map will help to get you to the right place.";
   string keyword = "error page";
   string robots = "noindex,nofollow";  }
@section title{@title}
@section  description{@description}
@section keyword{@keyword}
@section robots{@robots}

<div class="not-found-content row">
   
      <h1>404</h1>
     
       <img src="@vconnect_404" alt="404" />
        <p>Whoops! It seems something broke. <a href="/">here</a></p>
     <p> The address has changed or doesn't exist.</p>
     <a class="button button-red" href="/">Back to the homepage</a>        
 </div>
