﻿@{
    ViewBag.Title = "Business Solutions";
   Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
   string title = "Grow your Business with VConnect™";//your page title
   string description = "Grow your Business with VConnect™ and get more customers, get quality leads.";
   string keyword = "grow your business, increase your sales, get leads";
 }
@section title{@title}
@section  description{@description}
@section keyword{@keyword}
<div class="business-content">
    <div class="sjumbotron">
        <div class="sjumbotron-content row">
            <div class="title-container columns medium-7 medium-centered">
                <h1 class="on-image nexa-bold large">Grow your Business with VConnect!</h1>
                <p>Take advantage of the multiple channels provided to enable you add value to your business. Engage with prospective customers on VConnect.</p>
            </div>
        </div>
    </div>
    <div class="features-container">
        <div class="register row">
            <div class="columns medium-5">
                <h3>Register Your Business</h3>
                <p>A free listing provides you with your own online space. Users can easily find your business on desktop, tablets and mobile phones.</p>
                <p>Be found! Provide additional information on your contact address, product and services and make it even easier for users to find your business online. </p>
                <a href="/businessregistration" class="button button-red radius" target="_blank">Register</a>
            </div>
            <div class="columns medium-7">
                <div class="register-image"></div>
            </div>
        </div>
        <div class="claim row">
            <div class="columns medium-7">
                <div class="claim-image right"></div>
            </div>
            <div class="columns medium-5">
                <h3>Claim Your Business</h3>
                <p>Have you already registered? Well Done. Now Claim your business to customize your online profile. Add product, services, images, menus and much more.</p>
                <a class="red-link" href="/claimyourbusiness" target="_blank">Learn more »</a>
            </div>
        </div>
        <div class="advertise row">
            <div class="columns medium-5">
                <h3>Advertise With Us</h3>
                <p>VConnect understands small and medium scale businesses. Unlock the power of online marketing using VConnect Business Solution. Proactively reach out to new customers and engage existing ones.</p>
                <p>Our Business Solutions are customized to suit all advertising requirements of your business. Be it attracting more local leads or reaching out to more customers by display advertising, VConnect's powerful suite of Business Solutions will help you grow in the budget you have.</p>
                <p><a class="red-link" href="/advertise" target="_blank">Learn more »</a></p>
            </div>
            <div class="columns medium-7">
                <div class="advertise-image"></div>
            </div>
        </div>
        <div class="line hide-for-small"></div>
    </div>
    <div class="partners">
        <div class="partners-container row">
            <h3>Brands that trust us</h3>
            <ul>
                <li><a href="#"><img src="img/brands/mtn1.png" alt="MTN" /></a></li>
				<li><a href="#"><img src="~/img/brands/etisalat1.png" alt="etisalat" /></a></li>
				<li><a href="#"><img src="~/img/brands/airtel1.png" alt="Airtel" /></a></li>
				<li><a href="#"><img src="~/img/brands/gtbank1.png" alt="GTBank" /></a></li>
				<li><a href="#"><img src="~/img/brands/mr-price1.png" alt="Mr Price Sport" /></a></li>
                <li><a href="#"><img src="~/img/brands/proctor-and-gamble1.png" alt="Proctor and Gamble" /></a></li>
            </ul>
        </div>
    </div>
</div>
