﻿@model  Vconnect.Models.StaticPagesModel
@{
   Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
   string title = "Contact Us - Share Your Ideas to Improve Our Offering | VConnect™";//your page title
   string description = "Share your ideas to improve our offering. Feel free to ask any queries related to business information. Call on our Tele Search number 070 0000 8888 or mail us at info@vconnect.com to get answers for your questions.";
   string keyword = "Contact VConnect™ , VConnect Contact details, VConnect contact addresses, VConnect tele search number, vconnect phone number";
 }
@section title{@title}
@section  description{@description}
@section keyword{@keyword}
 <script>

     function isNumberKey(evt) {
         // debugger;
         var charCode = (evt.which) ? evt.which : event.keyCode;
         if (charCode != 46 && charCode > 31
           && (charCode < 48 || charCode > 57))
             return false;
         return true;
     }
     $(function () {
         $('#phonenumber').blur(function () {
             $.getJSON('/Static/phonenumbercheck', { phonenumber: $("#phonenumber").val() },
             function (data) {
                 // document.getElementById('txtContactPersonPhone').style.display = 'none';
                 document.getElementById('Msgavailablebusinessphonenol').style.display = 'block';
                 document.getElementById("Msgavailablebusinessphoneno").innerHTML = '';
                 document.getElementById('Labelloaderphone').innerHTML = 'Checking ...';
                 document.getElementById("divnf2").style.display = 'block';

                 // alert(document.getElementById('divnf1').innerHTML);

                 if (data == '2') {
                     document.getElementById('Labelloaderphone').innerHTML = '';
                     document.getElementById('Msgavailablebusinessphonenol').style.display = 'none';
                     document.getElementById("Msgavailablebusinessphoneno").innerHTML = 'Invalid Phone Number';
                     document.getElementById('Msgavailablebusinessphoneno').style.color = 'white';
                     document.getElementById('Msgavailablebusinessphoneno').style.display = 'block';

                 }

                 else if (data == '5') {
                     document.getElementById('Labelloaderphone').innerHTML = '';
                     document.getElementById('Msgavailablebusinessphonenol').style.display = 'none';
                     document.getElementById("Msgavailablebusinessphoneno").innerHTML = 'Please start contact number with zero';
                     document.getElementById('Msgavailablebusinessphoneno').style.color = 'white';
                     document.getElementById('Msgavailablebusinessphoneno').style.display = 'block';
                 }
                 else {
                     document.getElementById('Labelloaderphone').innerHTML = '';
                     document.getElementById('Msgavailablebusinessphonenol').style.display = 'none';
                     document.getElementById("Msgavailablebusinessphoneno").innerHTML = '';
                     document.getElementById('Msgavailablebusinessphoneno').style.display = 'none';
                 }
             }
                 )
         });
     });


        </script>
 <script lang="javascript" type="text/javascript">
     $(document).ready(function () {
         $("#txtEmail").change(function (evt) {
             var x = document.getElementById('txtEmail').value;
             var atpos = x.indexOf("@@");
             var dotpos = x.lastIndexOf(".");
             if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                 document.getElementById("MsgtxtEmail").innerHTML = 'invaild Email-Id';
                 document.getElementById('MsgtxtEmail').style.color = 'white';
                 document.getElementById('MsgtxtEmail').style.display = 'block';
             }
             else {
                 document.getElementById("MsgtxtEmail").innerHTML = '';
                 document.getElementById('MsgtxtEmail').style.display = 'none';
                 document.getElementById('lblemail').style.color = 'black';
             }
             if (x == "") {
                 document.getElementById("MsgtxtEmail").innerHTML = '';
                 document.getElementById('MsgtxtEmail').style.display = 'none';
             }
         });
         $("#phonenumber").change(function (evt) {
             if (document.getElementById("Msgavailablebusinessphoneno").innerHTML != "") {
                 document.getElementById("Msgavailablebusinessphoneno").innerHTML = '';
                 document.getElementById('Msgavailablebusinessphoneno').style.display = 'none';
             }
         });
     });
            </script>
			<div class="contact-content">
                 
        <div class="heading-bg-box">
            <div class="row">

             <div class="alerts">       
       @if (ViewBag.message != null)
      {
          <div data-alert class="alert-box">
                        <!-- Your content goes here -->
                         @ViewBag.message
               <a href="#" class="close">&times;</a>
           </div><br/>
      }
      else if (ViewBag.message1 != null)
                     {
           <div data-alert class="alert-box error">
                        @ViewBag.message1
                         <a href="#" class="close">&times;</a>
          </div>
                     }
      else
      {
       <div></div>
      }
                </div> 

            </div>
         <div class="heading-box">
           <h1 class="on-image nexa-bold text-center">Contact Us</h1>
         </div>
       </div>
       <div class="row contact-form-container">

          <div class="columns medium-6 contact-form">
          <h4>Write Us a Note</h4>
           <form method="post" data-abide>
              @* @using (Ajax.BeginForm("Contactus", "Static", new AjaxOptions { UpdateTargetId = "alertmsg", OnComplete = "complete" },new { data_abide=""}))
               {
            *@<div class="input-wrapper">
              <label for="fname">Your Name <small class="red">Required</small></label>
                @Html.TextBoxFor(model => model.Contactus.name, new { id = "fname", @maxlength = "30", @placeholder = "Your Name", @data_invalid = "", @required = "" })
                <small class="error">Enter your name</small>
            </div>
            <div class="input-wrapper">
              <label for="email">Your Email Address <small class="red">Required</small></label>
                 @Html.TextBoxFor(model => model.Contactus.email, new { id = "txtEmail", @placeholder = "Your Email Address", @data_invalid = "", @required = "", @pattern = "email" })
                <small id="MsgtxtEmail" class="error">Enter your email address</small>
            </div>
            <div class="input-wrapper">
              <label for="phone">Phone <small>Optional</small></label>
                 @Html.TextBoxFor(model => model.Contactus.phoneno, new { id = "phonenumber", onkeypress = "return isNumberKey(event)", maxlength = "11", @placeholder = "Your Phone number" })
             
                <small id="Msgavailablebusinessphoneno" class="error"></small>       
                <div id="Msgavailablebusinessphonenol" style="display: none;">
                                    <img src="~/Images/WEB/logos/allpageloader.gif" alt="Processing..." />
                                    <div class="bizuser_loadertxt">
                                        <label id="Labelloaderphone">
                                        </label>
                                    </div>
                                </div>
                        <div id="divnf2" class="Msgavailablebusiness"></div>  
            </div>
            <div class="input-wrapper">
              <label for="message">Your Message <small class="red">Required</small></label>
                @Html.TextAreaFor(model => model.Contactus.message, new { id = "message", @placeholder = "Your Message", @data_invalid = "", @required = "", @cols = "30", @rows = "10" })
              
              <small class="error">Enter your message</small>
            </div>
               <input type="submit" onclick="$('#alertmsg')[0].focus()" value="Submit" class="button button-red small radius" />
               @*//}*@
          </form>
         </div>
         <div class="columns medium-6 quick-contacts">
            <div class="qcontact-item">
               <h4>Partnerships</h4>
               <p>You think we can do business together. Let us know how at .<br>
               <a href="mailto:marketing@vconnect.co">marketing@vconnect.com</a></p>
            </div>
            <div class="qcontact-item">
               <h4>Subscriptions</h4>
               <p>Thinking of VConnect subscription, drop us a line at<br>
               <a href="mailto:sales@vconnect.com">Sales@vconnect.com</a></p>
            </div>
            <div class="qcontact-item">
               <h4>Already Subscribed</h4>
               <p>Tell us about your updates and concerns at.<br>
               <a href="mailto:business@vconnect.com">business@vconnect.com</a></p>
            </div>
            <div class="qcontact-item">
               <h4>Share with Us</h4>
               <p>Have something to share with us but don't know where. No Wahala. Send at <br>
               <a href="mailto:info@vconnect.com">info@vconnect.com</a></p>
            </div>
         </div>
       </div>
       <div class="row">
         <div class="columns medium-12 contact-map-container">
          <div id="contact-map" class="contact-map"></div>
         </div>
       </div>
      </div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
        @*<script src="~/js/min/contact.map.min.js"></script>*@