﻿@{
    ViewBag.Title = "FAQS";
  
   Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
 }
@section title{@Html.Raw("Frequently Asked Questions (FAQ) | VConnect™")}
@section  description{@("To read some of the Frequently Asked Questions(FAQs) about VConnect and our website in general, visit VConnect.com today!")}
@section keyword{@("faq, frequently asked questions")}

<div class="faq-content">
    <div class="heading-bg-box">
        <div class="heading-box">
            <h1 class="on-image nexa-bold text-center">FAQs</h1>
        </div>
    </div>
    <div class="faq-list row">
        <div class="columns medium-7 medium-centered">
            @*<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, consequatur, excepturi, consequuntur accusamus rem animi assumenda totam nisi ipsam id eius nobis tempora facere adipisci doloremque nulla error eveniet quidem?</p>*@
            <ul class="no-bullet">
                <li>
                    <h4>About VConnect ?</h4>
                    <p>VConnect is the largest business search engine in Nigeria. More than 500,000 businesses are listed on VConnect which provides the most comprehensive and updated information about products, services or companies in Nigeria. </p>
                </li>
                <li>
                    <h4>Where can you meet us?</h4>
                    <p>Drop by anytime to our office at 44 Eric Moore Road, Surulere, Lagos.</p>
                </li>
                <li>
                    <h4>Where does VConnect get Business information from?</h4>
                    <p>We have a dedicated team of field executives who are responsible for all data collection. In addition, we also use business directories, handbills, business cards and pamphlets to compliment our data collection efforts. </p>
                </li>
                <li>
                    <h4>Are our Services free?</h4>
                    <p>
                        VConnect services are absolutely free for both users and business owners. </p>
                         <p>• Users can search and get required information on the internet at absolutely no cost. They can also call us without any extra charge and receive business information free of cost.</p> 
                         <p>• Business owner can also list their business completely for free. We also have subscription plans for those who want to advertise and market their business aggressively on our platform</p>
                   
                </li>
                <li>
                    <h4>How can one use this service?</h4>
                    <p>Please click on ‘How VConnect Works’ and check out the user guides for various features on VConnect including reviews, claim your business, chat and many more.</p>
                </li>
                <li>
                    <h4>How can you contact VConnect?</h4>
                    <p>All you have to do is to call our customer helpline - 070 0000 8888 or email us at <a title="Email ID for VConnect Information" href="mailto:info@vconnect.com">info@vconnect.com</a></p>
                </li>
                <li>
                    <h4>Why do we need your data?</h4>
                    <p>There are large numbers of user looking for information on local businesses on the internet every day. Most up-to-date information of your business on our website will make it easier for users to find your business.</p>
                </li>
                <li>
                    <h4>How do Business Owners benefit from our services?</h4>
                    <p>
                        VConnect provides businesses with a Pan-Nigeria advertising platform. If your business is listed on the VConnect website user have easy access to your business information.

Availability of your business information online opens door to large number of possibilities to take your business to next level of success.
                    </p>
                </li>
                <li>
                    <h4>How are we different from the normal Directories/Yellow Pages?</h4>
                    <p>
                        Directories and Yellow Pages are things of the past. Businesses must evolve with the changing technological landscape.
VConnect enables Businesses to

Break the Regional barrier - We enable our clients to break the regional or local barriers by giving them an online presence. Online presence enables easier access of business information for prospective clients
Just business listing is not enough. VConnect also provides
                        </p>
    <p>• Marketing Tool for Businesses – Our website provides Small and Medium Scale businesses with a platform to promote their business locally. Through our subscription services, businesses can get access to online advert space on Nigeria’s largest business search engine.</p>
    <p>• Value Added Services – We also provide businesses with their own website through our subscription services. In addition, businesses can leverage tools such as Bulk SMS and Bulk Email for their local marketing needs.</p>
                    <p>
We believe in providing best value to our users and businesses. We are constantly thriving to find out new ways to create more value for our customers. Watch out this space for more...
                    </p>
                </li>
                <li>
                    <h4>How do users benefit from VConnect services?</h4>
                    <p>
                        VConnect provides users with a Pan-Nigeria platform to access business information. On VConnect website, users across states and LGAs in Nigeria can access information on local businesses across Nigeria. We provide information on their fingertips to our users whenever they want it, wherever they want it! We also provide our services through our mobile website.
Value Proposition</p><p>

VConnect is the simplest and most cost-effective way to find local businesses information in Nigeria. We provide business search and other value added services on multiple platforms such as the internet, SMS, fixed line and mobile telephone networks. More importantly, we offer our services to users and business owner completely for free. Our objective is to fill the information gap which exists between users and businesses in Nigeria.
                    </p>
                </li>
                @* <li>
								<h4>Why did the chicken cross the road?</h4>
								<p>There are plenty reasons why a chicken would cross the road. The chicken may cross the road because he is pursuing a goat, or he is running away from a rat. The chicken could also have just received some good news and is crossing the road to express that joy.</p>
							</li>*@
            </ul>
        </div>

    </div>
</div>
