﻿@{
    ViewBag.Title = "PressRelease";
    Layout = "~/Views/Shared/_WebMainMasterNew.cshtml";
    string title = "Press Release - Company News & Information | VConnect™";//your page title
    string description = "Find the latest company news headlines and latest information and Updates at Vconnect.com";
    string keyword = "Press release, company news, vconnect updates, vconnect information";
 }
@section title{@title}
@section  description{@description}
@section keyword{@keyword}
<div style="text-align: center;">
		<iframe  style=" border: none;margin-top: 20px;" id='myframe' src='http://static.vconnect.com/pressrelease/' width="974"
			height="1450"></iframe>
	</div>