﻿
@model Vconnect.Models.StaticPagesModel
@{
    ViewBag.Title = "smeevent";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
 }
@section title{@Html.Raw("Business Forum : Online Nigerian Business Discussion Board | VConnect™")}
@section  description{@("Join VConnect Discussion forum, Nigeria’s No.1 Business discussion board, participate in business discussion, place your business related queries and get proper solutions with our discussion board.")}
@section keyword{@("Business Forum, Online Business Forum, Online Business Discussion board, business discussion board, Nigerian business discussion board, Nigerian business forum")}

   @* <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="~/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="~/js/vendor/jquery-1.10.2.min.js"></script>*@
    <script lang="javascript" type="text/javascript">
        $(function () {
            $('#phonenumber').blur(function () {
                $.getJSON('/Static/phonenumbercheck', { phonenumber: $("#phonenumber").val() },
                function (data) {

                    document.getElementById("Msgavailablebusinessphoneno").innerHTML = '';

                    document.getElementById("divnf2").style.display = 'block';

                    // alert(document.getElementById('divnf1').innerHTML);

                    if (data == '2') {

                        document.getElementById("Msgavailablebusinessphoneno").innerHTML = 'Invalid Phone Number';
                        document.getElementById('Msgavailablebusinessphoneno').style.color = 'white';
                        document.getElementById('Msgavailablebusinessphoneno').style.display = 'block';

                    }

                    else if (data == '5') {

                        document.getElementById("Msgavailablebusinessphoneno").innerHTML = 'Please start contact number with zero';
                        document.getElementById('Msgavailablebusinessphoneno').style.color = 'white';
                        document.getElementById('Msgavailablebusinessphoneno').style.display = 'block';
                    }
                    else {
                        document.getElementById("Msgavailablebusinessphoneno").innerHTML = '';
                        document.getElementById('Msgavailablebusinessphoneno').style.display = 'none';
                    }
                }
                    )
            });
        });
        function isNumberKey(evt) {
            // debugger;
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>
    <script lang="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#txtEmail").change(function (evt) {
                var x = document.getElementById('txtEmail').value;
                var atpos = x.indexOf("@@");
                var dotpos = x.lastIndexOf(".");
                if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                    document.getElementById("MsgtxtEmail").innerHTML = 'invaild Email-Id';
                    document.getElementById('MsgtxtEmail').style.color = 'white';
                    document.getElementById('MsgtxtEmail').style.display = 'block';
                }
                else {
                    document.getElementById("MsgtxtEmail").innerHTML = '';
                    document.getElementById('MsgtxtEmail').style.display = 'none';
                    document.getElementById('lblemail').style.color = 'black';
                }
                if (x == "") {
                    document.getElementById("MsgtxtEmail").innerHTML = '';
                    document.getElementById('MsgtxtEmail').style.display = 'none';
                }
            });

        });

    </script>
 <div class="row">
             <div class="alerts">       
       @if (ViewBag.Success != null)
      {
          <div data-alert class="alert-box">
                        <!-- Your content goes here -->
                         @ViewBag.Success
               <a href="#" class="close">&times;</a>
           </div><br/>
      }
       else if (ViewBag.error != null)
                     {
           <div data-alert class="alert-box error">
                        @ViewBag.error
                         <a href="#" class="close">&times;</a>
          </div>
                     }
      else
      {
       @*<div data-alert class="alert-box error">
                        @Html.DisplayFor(model => model.MessageError)
                         <a href="#" class="close">&times;</a>
          </div>*@
      }
                </div> </div>

        <section class="forum-content">
            <div class="forum-heading-bg heading-bg-box">
                <div class="heading-box row">
                    <div class="large-12 columns text-center">
                        <h1 class="nexa-bold on-image large">Business Forum</h1>
                    </div>
                    <!-- End Large 12-->
                </div>
                <!-- End First Row -->
            </div>
            <!-- Custom Bar -->
            <div class="row">
                <div class="columns medium-6">
                    <div class="forum-1">
                        <h3>Upcoming Events</h3>                        
                        @if (Model != null)
                        {

                            if (Model.websmeevent.Smeevent != null)
                            {
                                if (Model.websmeevent.Smeevent.Count > 0)
                                {
                                     <p>To register your business for an event, select it below.</p>
                                    foreach (var UdbDetails in Model.websmeevent.Smeevent)
                                    {
                                        if(!string.IsNullOrEmpty(@UdbDetails.timeslot1))
                                        {
                                            <ul class="forum-list" >
                                                <!-- The forumid is set in the <li> element -->
                                                <li data-forumid="@UdbDetails.contentid"><a href="javascript:void(o)" onclick="selectEvent('@UdbDetails.eventdate','@UdbDetails.eventaddress','@UdbDetails.timeslot1')">
                                   
                                                    <h4 class="forum-date">@UdbDetails.eventdate</h4>
                                                    <p>
                                                        <span class="forum-address">@UdbDetails.eventaddress</span><br>
                                                        <strong> Time:<span class="forum-time">@UdbDetails.timeslot1 </span></strong>
                                                        </p>
                                      
                                                </a></li>
                                            </ul>
                                        }
                                        if(!string.IsNullOrEmpty(@UdbDetails.timeslot2))
                                        {
                                            <ul class="forum-list" >
                                                <!-- The forumid is set in the <li> element -->
                                                <li data-forumid="@UdbDetails.contentid"><a href="javascript:void(o)" onclick="selectEvent('@UdbDetails.eventdate','@UdbDetails.eventaddress','@UdbDetails.timeslot2')">
                                   
                                                    <h4 class="forum-date">@UdbDetails.eventdate</h4>
                                                    <p>
                                                        <span class="forum-address">@UdbDetails.eventaddress</span><br>
                                                        <strong>Time: <span class="forum-time">@UdbDetails.timeslot2 </span></strong>
                                                        </p>
                                      
                                                </a></li>
                                            </ul>
                                        }
                                        if(!string.IsNullOrEmpty(@UdbDetails.timeslot3))
                                        {
                                            <ul class="forum-list" >
                                                <!-- The forumid is set in the <li> element -->
                                                <li data-forumid="@UdbDetails.contentid"><a href="javascript:void(o)" onclick="selectEvent('@UdbDetails.eventdate','@UdbDetails.eventaddress','@UdbDetails.timeslot3')">
                                   
                                                    <h4 class="forum-date">@UdbDetails.eventdate</h4>
                                                    <p>
                                                        <span class="forum-address">@UdbDetails.eventaddress</span><br>
                                                        <strong>Time:<span class="forum-time"> @UdbDetails.timeslot3 </span></strong>
                                                        </p>
                                      
                                                </a></li>
                                            </ul>
                                        }
                                        if(!string.IsNullOrEmpty(@UdbDetails.timeslot4))
                                        {
                                            <ul class="forum-list" >
                                                <!-- The forumid is set in the <li> element -->
                                                <li data-forumid="@UdbDetails.contentid"><a href="javascript:void(o)" onclick="selectEvent('@UdbDetails.eventdate','@UdbDetails.eventaddress','@UdbDetails.timeslot4')">
                                   
                                                    <h4 class="forum-date">@UdbDetails.eventdate</h4>
                                                    <p>
                                                        <span class="forum-address">@UdbDetails.eventaddress</span><br>
                                                        <strong>Time:<span class="forum-time"> @UdbDetails.timeslot4 </span></strong>
                                                      </p>
                                                </a></li>
                                            </ul>
                                        }
                                    }
                                }
                            }
                            else
                            {
                            <p>
                                <span class="forum-time">Currently no upcoming events. Coming soon...
                                </span>

                            </p>                        
                            }

                        }
                       
                    </div>
                    <div class="forum-2 hide">

                        <div class="register-forum-heading">
                            <a href="#" class="red-link back-forums">&laquo; Back</a>
                            <h3 class="forum-date">28 February, 2014</h3>
                            <p>
                                <i class="icon-address"></i><span class="forum-address">Somewhere in Lagos sha</span><br>
                                <i class="icon-clock"></i><span class="forum-time">11.00AM - 2.00PM</span>
                            </p>
                        </div>

                        <form method="post" data-abide>

                            <!-- Hidden input to contain the forum ID used to identify the forum -->
                            <input type="hidden" class="forumid" name="forumid" value="forumid">
                            <input type="hidden"  id="eventDate" name="eventDate" />
                            <input type="hidden"  id="eventSlot" name="eventSlot" />
                            <div class="row">
                                <div class="columns medium-6">
                                    <label for="fname">First Name <small>Required</small></label>
                                    @Html.TextBoxFor(model => model.Enterevent.fname, new { id = "fname", @maxlength = "50", @placeholder = "First Name", @data_invalid = "", @required = "" })
                                    <small class="error">Enter your first name</small>
                                </div>
                                <div class="columns medium-6">
                                    <label for="sname">Surname <small>Required</small></label>
                                    @Html.TextBoxFor(model => model.Enterevent.lname, new { id = "sname", @maxlength = "50", @placeholder = "Surname", @data_invalid = "", @required = "" })
                                    <small class="error">Enter your surname</small>
                                </div>
                            </div>
                            <div class="input-wrapper">
                                <label for="cname">Company Name <small>Required</small></label>
                                @Html.TextBoxFor(model => model.Enterevent.companyname, new { id = "cname", @maxlength = "50", @placeholder = "Company Name", @data_invalid = "", @required = "" })

                                <small class="error">Enter your company name</small>
                            </div>
                            <div class="input-wrapper">
                                <label for="caddress">Company Address <small>Required</small></label>
                                @Html.TextBoxFor(model => model.Enterevent.companyadddress, new { id = "caddress", @maxlength = "50", @placeholder = "Company Address", @data_invalid = "", @required = "" })

                                <small class="error">Enter your company address</small>
                            </div>
                            <div class="input-wrapper">
                                <label for="phone">Phone Number <small>Required</small></label>

                                @Html.TextBoxFor(model => model.Enterevent.phone, new { id = "phonenumber", onkeypress = "return isNumberKey(event)", maxlength = "11", @placeholder = "Phone Number", @data_invalid = "", @required = "" })

                                <small id="Msgavailablebusinessphoneno" class="error">Enter your phone number</small>
                                <div id="Msgavailablebusinessphonenol" style="display: none;">
                                </div>
                                <div id="divnf2"></div>
                            </div>
                            <div class="input-wrapper">
                                <label for="email">Email Address <small>Required</small></label>
                                @Html.TextBoxFor(model => model.Enterevent.email, new { id = "txtEmail", @placeholder = "Email Address", @pattern = "email", @data_invalid = "", @required = "" })

                                <small id="MsgtxtEmail" class="error">Enter your email address</small>
                            </div>
                            <div class="input-wrapper">
                                <label for="designation">Designation</label>
                                <select name="designation" id="designation">
                                    <option value="">Select a designation</option>
                                    <option value="1">CEOs / MD</option>
                                    <option value="2">Marketing Managers</option>
                                    <option value="3">Advertising Managers</option>
                                    <option value="4">Business Consultants</option>
                                    <option value="5">Others</option>
                                </select>
                            </div>
                            <div class="">

                                <input type="submit" value="Submit" class="button button-red small radius" />
                                <a href="#" class="red-link back-forums">Cancel</a>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="columns medium-6">
                    <p class="lead">VConnect Business Forum</p>
                    <h3>Need help in promoting your business online?</h3>
                    <p>Attend VConnect Business Forum a platform for Small and Medium Enterprise(SME) owners/ CEOs / Marketing Heads.</p>
                    <p>
                        <strong>Key learning from this business forum will be to understand:</strong>
                        <br>
                        How small and medium businesses can leverage mobile phone and internet for marketing products and services. Strategies and advantages of digital marketing. Use the power of digital marketing to generate more prospects / leads to get more sales.
                    </p>
                    <p>Don't be left out from the new ways of advertising and marketing of your business.</p>
                </div>
            </div>

        </section>
        <!-- End Section Role Main -->

<script type="text/ecmascript">
    function selectEvent(eventdate, eventaddress, timeslot)
    {
        debugger;
        var date = eventdate;
        var address = eventaddress;
        var time = timeslot;

        document.getElementById("eventSlot").value = timeslot;
        document.getElementById("eventDate").value = eventdate;
    }
</script>


