ol.upper-alpha,
ul.upper-alpha {
  list-style-type: upper-alpha;
}

ol.lower-roman,
ul.lower-roman {
  list-style-type: lower-roman;
}

ol.upper-roman,
ul.upper-roman {
  list-style-type: upper-roman;
}

ol.lower-alpha,
ul.lower-alpha {
  list-style-type: lower-alpha;
}

ol.reset,
ul.reset {
  counter-reset: section;
  list-style-type: none !important;
}

ol.reset li .counter,
ul.reset li .counter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol.reset li .counter:before,
ul.reset li .counter:before {
  counter-increment: section;
  content: counter(section) " ";
  display: inline-block;
}

ol.reset li .counter.lower-roman:before,
ul.reset li .counter.lower-roman:before {
  content: counter(section,lower-roman) " " !important;
}

ol.reset li .counter.upper-roman:before,
ul.reset li .counter.upper-roman:before {
  content: counter(section,upper-roman) " " !important;
}

ol.reset li .counter.lower-alpha:before,
ul.reset li .counter.lower-alpha:before {
  content: counter(section,lower-alpha) " " !important;
}

ol.reset li .counter.upper-alpha:before,
ul.reset li .counter.upper-alpha:before {
  content: counter(section,upper-alpha) " " !important;
}

ol.reset li .counter.bold:before,
ul.reset li .counter.bold:before {
  font-weight: bold;
}

ol.reset li .content,
ul.reset li .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  left: 20px;
}