﻿@using Vconnect.Common.HtmlHelpers
@using System.Configuration;
@model Vconnect.Models.BrowseByCatBizModel
@{
    
    Layout = "~/Views/Shared/_WebMainMasterNew.cshtml";
    Pager pager1 = ViewBag.Pager;
    string title = string.Empty;
    string description = string.Empty;
    string MetaKeyword = string.Empty;
    string WAPRootPath = ConfigurationManager.AppSettings["WAPRootPath"].ToString();
    string WebsiteRawPath = ConfigurationManager.AppSettings["WebsiteRawPath"].ToString();
    string linkAlternatemedia = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    string linkAlternatehandheld = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    string robots = string.Empty;
    robots = "index,follow";
    if (Model != null)
    {
        Vconnect.Common.Utility.LoadMetaBrowseByCat(Model.SearchLocation, Model.type.ToString(), Model.SearchText, Model.pageNum, out title, out description, out MetaKeyword);
    }
    string divPrevlinkTag = string.Empty;
    string divNxtlinkTag = string.Empty;
    
    string canonical = System.Web.HttpContext.Current.Request.Url.AbsoluteUri.ToString();
    
    if(canonical.IndexOf("-page")!=-1)
    {
        canonical = canonical.Substring(0,canonical.LastIndexOf("-page"));
    }
   
    if(linkAlternatemedia.IndexOf("-page")!=-1)
    {
        linkAlternatemedia = linkAlternatemedia.Substring(0, linkAlternatemedia.LastIndexOf("-page"));
    }
    if (linkAlternatehandheld.IndexOf("-page") != -1)
    {
        linkAlternatehandheld = linkAlternatehandheld.Substring(0, linkAlternatehandheld.LastIndexOf("-page"));
    }
  //  canonical =  canonical.Substring(canonical.LastIndexOf('/') + 1);
   // canonical = WebsiteRootPath+canonical.Substring(0, canonical.LastIndexOf("-"));
}

@section title{@title}
@section  description{@description}
@section keyword{@MetaKeyword}
@section robots{@robots}
@section header
{
    <link rel="alternate" media="only screen and (max-width: 640px)" href="@linkAlternatemedia" />
    <link rel="alternate" media="handheld" href="@linkAlternatehandheld" />   
     <link rel="canonical" href="@canonical" />
   @if (Model.pageNum == 1)
    {
        if (pager1.HasNextPage)
        {
            if (Model.type == 2)
            { 
    <link  rel="next" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetCatSearch(Model.SearchLocation, Model.SearchText, 2)'/>           
      
            }
            else
            {
    <link  rel="next" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetBizSearch(Model.SearchLocation, Model.SearchText, 2)'/>
            }
        }


    }
else if (Model.pageNum == 2)
    {
        if (pager1.HasNextPage)
        {
            if (Model.type == 2)
            {   
    <link  rel="next" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetCatSearch(Model.SearchLocation, Model.SearchText, 3)'/>         
      
            }
            else
            {
    <link  rel="next" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetBizSearch(Model.SearchLocation, Model.SearchText, 3)'/>
            }
        }
        if (Model.type == 2)
            {    
    <link  rel="prev" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetCatSearch(Model.SearchLocation, Model.SearchText)'/>        
       
            }
            else
            {
    <link  rel="prev" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetBizSearch(Model.SearchLocation, Model.SearchText)'/>
            }

    }
else if(pager1.HasNextPage)
{
    if (Model.type == 2)
            {  
    <link  rel="next" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetCatSearch(Model.SearchLocation, Model.SearchText, Model.pageNum+1)'/>
    <link  rel="prev" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetCatSearch(Model.SearchLocation, Model.SearchText,Model.pageNum-1)'/>          
      
            }
            else
            {
    <link  rel="next" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetBizSearch(Model.SearchLocation, Model.SearchText, Model.pageNum+1)'/>
    <link  rel="prev" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetBizSearch(Model.SearchLocation, Model.SearchText,Model.pageNum-1)'/>
            }
}
else
{
    if (Model.type == 2)
            {            
    <link  rel="prev" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetCatSearch(Model.SearchLocation, Model.SearchText,Model.pageNum-1)'/>
            }
            else
            {
    <link  rel="prev" href='@WebsiteRawPath@Vconnect.RoutingUtility.GetBizSearch(Model.SearchLocation, Model.SearchText,Model.pageNum-1)'/>
            }
}
}

<div class="browse-heading-bg">
    <section class="browse-heading row">
        <div class="columns medium-12">
            @if (Model.type == 2)
            {
   
                <h2>Categories</h2>
                <ul class="category-letters">
                    @for (int i = 0; i < 26; i++)
                    {
                        if (Convert.ToChar(97 + i).ToString() == Model.SearchText)
                        {
                        <li class="active"><a  href='../@Model.SearchLocation/categories-from-@Convert.ToChar(97 + i)'  title='Categories from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li>
                        }
                        else
                        {
                        <li><a href='../@Model.SearchLocation.ToLower()/categories-from-@Convert.ToChar(97 + i)'  title='Categories from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li> 
                        }
                    }
                </ul>
            }
            else if (Model.type == 3)
            {
   
                <h2>Brands</h2>
                <ul class="category-letters">
                    @for (int i = 0; i < 26; i++)
                    {
                        if (Convert.ToChar(97 + i).ToString() == Model.SearchText)
                        {
                        <li class="active"><a  href='../@Model.SearchLocation/brands-from-@Convert.ToChar(97 + i)'  title='Brands from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li>
                        }
                        else
                        {
                        <li><a href='../@Model.SearchLocation.ToLower()/brands-from-@Convert.ToChar(97 + i)'  title='Brands from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li> 
                        }
                    }
                </ul>
            }
            else if (Model.type == 7)
            {
   
                <h2>Services</h2>
                <ul class="category-letters">
                    @for (int i = 0; i < 26; i++)
                    {
                        if (Convert.ToChar(97 + i).ToString() == Model.SearchText)
                        {
                        <li class="active"><a  href='../@Model.SearchLocation/services-from-@Convert.ToChar(97 + i)'  title='Services from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li>
                        }
                        else
                        {
                        <li><a href='../@Model.SearchLocation.ToLower()/services-from-@Convert.ToChar(97 + i)'  title='Services from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li> 
                        }
                    }
                </ul>
            }
            else if (Model.type == 6)
            {
   
                <h2>Products</h2>
                <ul class="category-letters">
                    @for (int i = 0; i < 26; i++)
                    {
                        if (Convert.ToChar(97 + i).ToString() == Model.SearchText)
                        {
                        <li class="active"><a  href='../@Model.SearchLocation/products-from-@Convert.ToChar(97 + i)'  title='Products from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li>
                        }
                        else
                        {
                        <li><a href='../@Model.SearchLocation.ToLower()/products-from-@Convert.ToChar(97 + i)'  title='Products from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li> 
                        }
                    }
                </ul>
            }
            else
            {
                <h2>Businesses</h2>
                <ul class="category-letters">
                    @for (int i = 0; i < 26; i++)
                    {
                        if (Convert.ToChar(97 + i).ToString() == Model.SearchText)
                        {
                        <li class="active"><a  href='../@Model.SearchLocation/categories-from-@Convert.ToChar(97 + i)'  title='Businesses from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li>
                        }
                        else
                        {
                        <li><a href='../@Model.SearchLocation.ToLower()/businesses-from-@Convert.ToChar(97 + i)'  title='Businesses from @Convert.ToChar(65 + i) in lagos'>@Convert.ToChar(65 + i)</a></li> 
                        }
                    }
                </ul>
            }
        </div>
    </section>
</div>
<section class="content row">
    <div class="category-section columns medium-12">
        <div class="csection-heading">
        </div>

        <ul class="medium-block-grid-2">
            @if (Model.browseByCatBizTable.browseByCatBizList1 != null)
            {
                foreach (Vconnect.Models.BrowseByCatBizfield dr1 in Model.browseByCatBizTable.browseByCatBizList1)
                {
                <li>
                    @if (Model.type == 2 || Model.type == 6 || Model.type == 3 || Model.type == 7)
                    {
                        <a href='../@Model.SearchLocation.ToLower()/@dr1.url.ToString()'><strong>@dr1.name.ToString()</strong></a>
                    }
                    else
                    {
                        <a href='../@dr1.url.ToString()'><strong>@dr1.name.ToString()</strong><p>@dr1.address.ToString()</p>
                        </a>
                    }
                </li>
                       
                }
            }
            else
            {
                <div class="no-result-box">
                    <div class="columns medium-6">
                        <h3>Are you lost?<a href="@ConfigurationManager.AppSettings["WebsiteRootPath"].ToString()"> Go home</a></h3>
                        Sorry there is no result for that search term.
                       <hr>
                    </div>
                    <div class="columns medium-6">
                        <img src="~/img/gift-box-120x120.png" alt="" />
                    </div>
                </div> 
            }
        </ul>
    </div>
    @{
        Pager pager = ViewBag.Pager;
        if (Model.type == 2)
        {
        <div class="pagination-content right">
            <ul class="pagination">
                @if (pager.HasPreviousPage)
                {
                    <li>
                        @if (pager.PreviousPageIndex == 1)
                        {
                            @Html.RouteLink("«", "browsebycat", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink("«", "browsebycatpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.PreviousPageIndex }, new { @class = "arrow unavailable" })
                        }
                    </li>
                }

                @foreach (int page in ViewBag.Pager)
                {
                    if (page == pager.CurrentPageIndex)
                    {
                    <li class="current">
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebycat", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebycatpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }
                    else
                    {
                    <li>
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebycat", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebycatpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }

                }

                @if (pager.HasNextPage)
                {
                    <li>
                        @Html.RouteLink("»", "browsebycatpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.NextPageIndex }, new { @class = "arrow unavailable" })
                    </li>
                }
            </ul>
        </div>
        }
        else if (Model.type == 3)
        {
        <div class="pagination-content right">
            <ul class="pagination">
                @if (pager.HasPreviousPage)
                {
                    <li>
                        @if (pager.PreviousPageIndex == 1)
                        {
                            @Html.RouteLink("«", "browsebybrand", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink("«", "browsebybrandpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.PreviousPageIndex }, new { @class = "arrow unavailable" })
                        }
                    </li>
                }

                @foreach (int page in ViewBag.Pager)
                {
                    if (page == pager.CurrentPageIndex)
                    {
                    <li class="current">
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebybrand", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebybrandpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }
                    else
                    {
                    <li>
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebybrand", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebybrandpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }

                }

                @if (pager.HasNextPage)
                {
                    <li>
                        @Html.RouteLink("»", "browsebybrandpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.NextPageIndex }, new { @class = "arrow unavailable" })
                    </li>
                }
            </ul>
        </div>
        }
        else if (Model.type == 6)
        {
        <div class="pagination-content right">
            <ul class="pagination">
                @if (pager.HasPreviousPage)
                {
                    <li>
                        @if (pager.PreviousPageIndex == 1)
                        {
                            @Html.RouteLink("«", "browsebyproduct", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink("«", "browsebyproductpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.PreviousPageIndex }, new { @class = "arrow unavailable" })
                        }
                    </li>
                }

                @foreach (int page in ViewBag.Pager)
                {
                    if (page == pager.CurrentPageIndex)
                    {
                    <li class="current">
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebyproduct", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebyproductpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }
                    else
                    {
                    <li>
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebyproduct", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebyproductpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }

                }

                @if (pager.HasNextPage)
                {
                    <li>
                        @Html.RouteLink("»", "browsebyproductpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.NextPageIndex }, new { @class = "arrow unavailable" })
                    </li>
                }
            </ul>
        </div>
        }
        else if (Model.type == 7)
        {
        <div class="pagination-content right">
            <ul class="pagination">
                @if (pager.HasPreviousPage)
                {
                    <li>
                        @if (pager.PreviousPageIndex == 1)
                        {
                            @Html.RouteLink("«", "browsebyservice", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink("«", "browsebyservicepg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.PreviousPageIndex }, new { @class = "arrow unavailable" })
                        }
                    </li>
                }

                @foreach (int page in ViewBag.Pager)
                {
                    if (page == pager.CurrentPageIndex)
                    {
                    <li class="current">
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebyservice", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebyservicepg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }
                    else
                    {
                    <li>
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebyservice", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebyservicepg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }

                }

                @if (pager.HasNextPage)
                {
                    <li>
                        @Html.RouteLink("»", "browsebyservicepg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.NextPageIndex }, new { @class = "arrow unavailable" })
                    </li>
                }
            </ul>
        </div>
        }
        else
        {
        <div class="pagination-content right">
            <ul class="pagination">
                @if (pager.HasPreviousPage)
                {
                    <li>
                        @if (pager.PreviousPageIndex == 1)
                        {
                            @Html.RouteLink("«", "browsebybiz", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink("«", "browsebybizpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.PreviousPageIndex }, new { @class = "arrow unavailable" })
                        }
                    </li>
                }

                @foreach (int page in ViewBag.Pager)
                {
                    if (page == pager.CurrentPageIndex)
                    {
                    <li class="current">
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebybiz", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebybizpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }
                    else
                    {
                    <li>
                        @if (page == 1)
                        {
                            @Html.RouteLink(page.ToString(), "browsebybiz", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower() }, new { @class = "arrow unavailable" })
                        }
                        else
                        {
                            @Html.RouteLink(page.ToString(), "browsebybizpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = page })
                        }
                    </li>
                    }

                }

                @if (pager.HasNextPage)
                {
                    <li>
                        @Html.RouteLink("»", "browsebybizpg", new { loc = Model.SearchLocation.ToLower(), tagname = Model.SearchText.ToLower(), page = pager.NextPageIndex }, new { @class = "arrow unavailable" })
                    </li>
                }
            </ul>
        </div>
        }
    }
</section>

<div class="vc_clear">
</div>
<div class="MsgRed" visible="false" id="divNoBrowseByData">
</div>
<div class="vc_clear">
</div>

