﻿@model Vconnect.Models.profilemodel
@using System.Configuration
@{
    Vconnect.Common.UserSession objUS = new Vconnect.Common.UserSession();
    }
<script type="text/javascript">
    function getPartialaccount(num) {
        var inum = num;
        var pwd = $('#curpassword').val();
        var pwdcurt = $('#newpassword').val();
        var pwdnewcurt = $('#cnewpassword').val();
        if (num == "1") {
            debugger;
            $.getJSON('@Url.Action("AccountUserDashboard", "UserDashboardWEB")', { pwd: pwd, pwdcurt: pwdcurt, pwdnewcurt: pwdnewcurt },
                     function (data) {
                         if (data == "Password Updated Successfully..Thankyou") {
                             document.getElementById('message').innerHTML = "";                             
                            // document.getElementById('message').innerHTML = '<div data-alert class="alert-box" style="background-color: green;">' + data + '<a href="javascript:void(0)" class="close" onclick="displayAC()">&times;</a></div>';
                             document.getElementById('message').innerHTML = ' <div class="alert-box success" data-alert="">' + data + '<a href="javascript:void(0)" class="close" onclick="displayAC()">&times;</a></div>';
                         }
                         else {
                             document.getElementById('message').innerHTML = "";
                             //document.getElementById('message').innerHTML = '<div data-alert class="alert-box error">' + data + '<a href="javascript:void(0)" class="close" onclick="displayAC()">&times;</a></div>';
                             document.getElementById('message').innerHTML = ' <div class="alert-box error" data-alert="">' + data + '<a href="javascript:void(0)" class="close" onclick="displayAC()">&times;</a></div>';
                         }
                         document.getElementById('message').style.display = 'block';
                         document.getElementById('innerdiv').style.paddingTop = "0px";
                     });
        }
    }
    function displayAC() {
        document.getElementById('message').style.display = 'none';
        document.getElementById('innerdiv').style.paddingTop = "10px";
    }
    </script>
<script lang="javascript" type="text/javascript">
    function Validation1() {
        if (document.getElementById("curpassword").value != "") {
            document.getElementById('curpassword').style.margin = '0px 0px 1rem';
            document.getElementById('msg1').style.display = 'none';
        }
        else {
            document.getElementById('msg1').style.display = 'block';
            document.getElementById('curpassword').style.margin = '0px 0px 0rem';
        }
    }
    function Validation2() {
        if (document.getElementById("newpassword").value != "" && (document.getElementById("newpassword").value.length)>=6) {
            document.getElementById('msg2').style.display = 'none';
            document.getElementById('newpassword').style.margin = '0px 0px 1rem';
        }
        else {
            document.getElementById('msg2').style.display = 'block';
            document.getElementById('newpassword').style.margin = '0px 0px 0rem';
        }
    }
    function Validation3() {
        if (document.getElementById("cnewpassword").value != "" && (document.getElementById("cnewpassword").value.length) >= 6) {
            document.getElementById('msg3').style.display = 'none';
            document.getElementById('cnewpassword').style.margin = '0px 0px 1rem';
        }
        else {
            document.getElementById('msg3').style.display = 'block';
            document.getElementById('cnewpassword').style.margin = '0px 0px 0rem';
        }
    }
    function checkValidation() {
        debugger;
        //document.getElementById('msg1').style.display = 'none';
        var loginType = "normal"; //normal /social

        @if (!string.IsNullOrEmpty(objUS.SV_VCLoginType))
        { 
            if (objUS.SV_VCLoginType.ToString().IndexOf("FB Web") == -1 && objUS.SV_VCLoginType.ToString().IndexOf("twitter") == -1 && objUS.SV_VCLoginType.ToString().IndexOf("Google") == -1)
            {
                <Text>
                loginType = "normal";               
                </Text>
            }
            else
            {
                  <Text>
                loginType = "social";       
                </Text>
            }
        }
        if (loginType == "normal") {
            if (document.getElementById("curpassword").value == "") {
                document.getElementById('msg1').style.display = 'block';
                document.getElementById('curpassword').style.margin = '0px 0px 0rem';
            }
        }
        if (document.getElementById("newpassword").value == "") {
            document.getElementById('msg2').style.display = 'block';
            document.getElementById('newpassword').style.margin = '0px 0px 0rem';
        }
        if (document.getElementById("cnewpassword").value == "") {
            document.getElementById('msg3').style.display = 'block';
            document.getElementById('cnewpassword').style.margin = '0px 0px 0rem';
        }
        if (loginType == "normal" && (document.getElementById('msg1').style.display == 'block' || document.getElementById('msg2').style.display == 'block' || document.getElementById('msg3').style.display == 'block')) {
            return false;
        }
        else if (loginType == "social" && ( document.getElementById('msg2').style.display == 'block' || document.getElementById('msg3').style.display == 'block')) {
            return false;
        }
        else {
            getPartialaccount(1);
            if (loginType == "normal") {
                document.getElementById("curpassword").value = "";
            }
            document.getElementById("newpassword").value = "";
            document.getElementById("cnewpassword").value = "";
            return true;
        }
            //if (document.getElementById('msg1').style.display == 'block' || document.getElementById('msg2').style.display == 'block' || document.getElementById('msg3').style.display == 'block') {
            //    return false;
            //}
            //else {
            //    getPartialaccount(1);
            //    document.getElementById("curpassword").value = "";
            //    document.getElementById("newpassword").value = "";
            //    document.getElementById("cnewpassword").value = "";
            //    return true;
            //}
    }
 </script>
<style type="text/css">
    .errorsmall {
        background-color: #d22c25;
        border-radius: 0 0 3px 3px;
        padding: 0.375rem 0.5625rem 0.5625rem;
        margin-top: -1px;
        margin-bottom: 1rem;
        font-size: 0.75rem;
        font-weight: normal;
        font-style: italic;
        background: #f04124;
        color: white;
    }
</style>

<div class="row">
                   <div class="alerts" id="message" style="position: relative;margin-top:-65px;">  
         </div>   
      </div>  
  @if (@TempData["UserAlert"] != null)
  {
            <br />
            <div class="row">
                
                    @Html.Raw(@TempData["UserAlert"])
                
            </div>
  }
<div class="row">
   @* <form  data-abide="ajax">*@
										<div class="columns medium-7 medium-centered">
											<label>Your Email Address</label>
											<p><span class="email">@Model.ResultUserDBTab.UserDBDetails.First().email</span> <small data-tooltip class="has-tip tip-top radius" title="This email address is permanent and cannot be changed for this account.">Permanent</small>
											</p>
											<fieldset>
												<legend>Change your password</legend>
                                                @if (!string.IsNullOrEmpty(objUS.SV_VCLoginType))// && objUS.SV_VCLoginType.ToString() != "Web")
                                                {
                                                    if (objUS.SV_VCLoginType.ToString().IndexOf("FB Web") == -1 && objUS.SV_VCLoginType.ToString().IndexOf("twitter") == -1 && objUS.SV_VCLoginType.ToString().IndexOf("Google") == -1)
                                                    {
                                                         <label for="curpassword">Current Password</label>
                                                         @Html.TextBoxFor(model => model.txtpassword, new { id = "curpassword", @type = "password", @maxlength = "50", @onchange = "javascript:Validation1();", @onblur = "javascript:Validation1();" })										
                                                        <p class="errorsmall" id="msg1" style="display:none;">Enter a valid current password</p>
                                                    }
                                                }												
                                               
												<label for="newpassword">New Password</label>
                                                @Html.TextBoxFor(model => model.txtnewpwd, new { id = "newpassword", @type = "password", @maxlength = "50", @data_invalid = "", @required = "", @onchange = "javascript:Validation2();", @onblur = "javascript:Validation2();" })											
                                                <p class="errorsmall" id="msg2" style="display:none;">Enter a valid new password (at least 6 characters)</p>
												<label for="cnewpassword">Confirm New Password</label>
                                                @Html.TextBoxFor(model => model.txtcomfpwd, new { id = "cnewpassword", @type = "password", @maxlength = "50", @data_invalid = "", @required = "", @onchange = "javascript:Validation3();", @onblur = "javascript:Validation3();" })																							
                                                <p class="errorsmall" id="msg3" style="display:none;">Enter a valid new confirm password (at least 6 characters)</p>
                                                <a onclick="javasript: return checkValidation();" class="button small">Save</a>
												@*<input type="Submit" value="Save" class="button small" onclick="javasript: getPartialaccount(1);"/>*@
											</fieldset>
											<div class="connected-accounts" style="display:none;">
                                                 @if (objUS.SV_VCLoginType.ToString().Trim() != "")
                                                 {
                                                     if (Request.Cookies["VCisfbconnect"] != null && Request.Cookies["VCisfbconnect"].Value.ToString().Trim() == "1")
                                                     {
                                                            <div class="fb">
													            <p class="lead">
													            <span class="fb-bg"><i class="icon-facebook"></i></span> <strong class="accont-name">@((objUS.SV_VCUserName.ToString().Trim() != "") ? objUS.SV_VCUserName.ToString().Trim() : "User")</strong></p>
													            <p>You have linked to your facebook account. You can share your activities, likes, photos to your Facebook Timeline. Note: Aything you publish to Facebook is visible to anyone who can view you Facebook Timeline.</p>
                                                                @using (Html.BeginForm("Share", "UserDashboardWeb", new { con = "fb" }, FormMethod.Post))
                                                                {
                                                                    <label><input id="chkfbshare" name="chkfbshare" type="checkbox" value="1" @Model.IsFBShare> Publish your activities, likes and photos to my timeline.</label>
                                                                   <button type="submit" class="button tiny button-red">Save</button>
                                                                }
												            </div>
                                                     }
                                                     else
                                                     {          
                                                            <div class="connected-account row">
                                                                <div class="mobile-container">
                                                                    <div class="title row">
                                                                        <div class="small-2 columns">
                                                                            <span class="fb-bg account-logo">
                                                                                <i class="vc-icon icon-facebook"></i>
                                                                            </span>
                                                                        </div>
                                                                        <div class="small-10 columns accont-name-container">
                                                                            <strong class="accont-name">Facebook</strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="body row">
                                                                        <div class="mobile-container">
                                                                            <p class="details">
                                                                            </p>
                                                                            <div class="row">
                                                                                <div class="mobile-container">
                                                                                    <label for="share-to-fb">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="small-3 columns">
                                                                                </div>
                                                                                <div class="small-5 offset-4 columns">
                                                                                </div>
                                                                            </div>
                                                                            @using (Html.BeginForm("Facebook", "UserDashboardWeb", new { rturl = "UserDashboardWeb/EditProfile", provider = "Facebook" }, FormMethod.Post))
                                                                            {
                                                                                <button class="button-fb icon" title="Connect your Facebook account" value="Facebook" name="provider" type="submit" style="width:330px;"><i class="icon-facebook"></i>Connect your Facebook account</button>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                     }
                                                     if (Request.Cookies["vcistwconnect"] != null && Request.Cookies["vcistwconnect"].Value.ToString().Trim() == "1")
                                                     {
                                                         using (Html.BeginForm("Share", "UserDashboardWeb", new { con = "tw" }, FormMethod.Post))
                                                         {
												        <div class="tw">
													        <p class="lead">
													        <span class="tw-bg"><i class="icon-twitter"></i></span> <strong class="accont-name">@((objUS.SV_VCUserName.ToString().Trim() != "") ? objUS.SV_VCUserName.ToString().Trim() : "User")</strong></p>
													        <p>You have linked to your twitter account. You can share your activities, likes, photos to your twitter Timeline. Note: Aything you publish to twitter is visible to anyone who can view you twitter Timline.</p>
                                                                    <label><input id="chktwshare" name="chktwshare" type="checkbox" value="1" @Model.IsTWShare>  Share my Like, Saves, &amp; Activity to my Timeline</label>
                                                                   <button type="submit" class="button tiny button-red">Save</button>
												        </div>
                                                         }
                                                     }
                                                     else
                                                     {
                                                     <div class="connected-account row">
                                                        <div class="mobile-container">
                                                            <div class="title row">
                                                                <div class="small-2 columns">
                                                                    <span class="tw-bg account-logo">
                                                                        <i class="vc-icon icon-twitter"></i>
                                                                    </span>
                                                                </div>
                                                                <div class="small-10 columns accont-name-container">
                                                                    <strong class="accont-name">Twitter</strong>
                                                                </div>
                                                            </div>
                                                            <div class="body row">
                                                                <div class="mobile-container">
                                                                    <p class="details">
                                                                    </p>
                                                                    @using (Html.BeginForm("ExternalLogin", "UserDashboardWeb", new { rturl = "UserDashboardWeb/EditProfile" }, FormMethod.Post))
                                                                    {
                                                                        <button class="button-tw icon" title="Connect your Twitter account" value="Twitter" name="provider" type="submit" style="width:330px;"><i class="icon-twitter"></i>Connect your Twitter account</button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                      </div>
                                                     }
                                                     if (Request.Cookies["VCisgmconnect"] != null && Request.Cookies["VCisgmconnect"].Value.ToString().Trim() == "1")
                                                     {
												        <div class="gp">
													        <p class="lead">
													        <span class="gp-bg"><i class="icon-gplus"></i></span> <strong class="accont-name">@((objUS.SV_VCUserName.ToString().Trim() != "") ? objUS.SV_VCUserName.ToString().Trim() : "User")</strong></p>
													        @*<p>Link to your Facebook account to share your activities, likes and photos to your Facebook timeline. Note: Anything you publish will be will be visible to anyone who can view your Facebook timeline.</p>*@
                                                            <p>You have linked to your Google account. </p>
													        @*<a href="#" class="button button-gplus"><i class="icon-gplus"></i> Connect to Google+</a>*@
												        </div>
                                                     }
                                                     else
                                                     {
                                                     <div class="connected-account row">
                                                        <div class="mobile-container">
                                                            <div class="title row">
                                                                <div class="small-2 columns">
                                                                    <span class="gp-bg account-logo">
                                                                        <i class="vc-icon icon-gplus"></i>
                                                                    </span>
                                                                </div>
                                                                <div class="small-10 columns accont-name-container">
                                                                    <strong class="accont-name">Google+</strong>
                                                                </div>
                                                            </div>
                                                            <div class="body row">
                                                                <div class="mobile-container">
                                                                    <p class="details">
                                                                    </p>
                                                                    @* <a href="#" class="button-gplus icon">
                                                                                <i class="icon-gplus"></i>
                                                                                Connect your Google+ account
                                                                            </a>*@
                                                                    <a class="button-gplus icon" href="https://accounts.google.com/o/oauth2/auth?response_type=code&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.google.com/m8/feeds/contacts/default/full&redirect_uri=@(ConfigurationManager.AppSettings["gmailredirecturlOnView"].ToString().Trim())&client_id=@(ConfigurationManager.AppSettings["gmailclientid"].ToString().Trim())&state=%2Fprofile%24rturl=UserDashboardWeb%2FEditProfile"><i class="icon-gplus"></i>Connect your Google+ account</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                            
                                                 }
                                                }
											</div>
											@*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, consequatur, qui voluptatum ullam cumque dolor corporis quia quasi provident perferendis. Saepe, optio, voluptatem obcaecati dolorum porro consequatur magni fuga. <a href="#">Cumque.</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, saepe, quam explicabo dolor provident nostrum laboriosam suscipit hic a distinctio eveniet reiciendis voluptas eum dolore odit pariatur maiores quos temporibus. Also you can <a href="#">delete your account.</a></p>*@
										</div>
       @* </form>*@
									</div>


     