﻿@model Vconnect.Models.profilemodel
<script type="text/javascript">
    function getPartialnotification() {
        debugger;
        var arr='';
        var arrChkBox = document.getElementsByName("notIdList");
        debugger;
        for (var k = 0; k < arrChkBox.length;k++) {
            var cmpchk= arrChkBox[k].value.replace('a_','');
            var chkid1 = "chk_" + arrChkBox[k].value.replace('a_','').replace('b_','');
            var a=chkid1.replace('chk_','');
            var b=cmpchk.replace('a_','');
            if (a==b) {
                arr += ',' + arrChkBox[k].value.replace('a_','');
            }
        }
 
        $.getJSON('@Url.Action("NotificationUserDashboard", "UserDashboardWEB")', { notIdList: arr },
                     function (data) {
                         debugger;
                         document.getElementById('message1').innerHTML = "";                             
                         if (data == "0") {
                             document.getElementById('message1').style.marginTop = '-118px';
                             document.getElementById('divnotification').style.paddingTop = "42px";           
                             //document.getElementById('message1').innerHTML = '<div data-alert class="alert-box" style="background-color: green;">Notifications Updated Successfully.<a href="javascript:void(0)" class="close" onclick="displayNT()">&times;</a></div>';
                             document.getElementById('message1').innerHTML ='<div class="alert-box success" data-alert=""> Notifications Updated Successfully <a href="javascript:void(0)" class="close" onclick="displayNT()">&times;</a></div>';
                         }
                         else {
                             document.getElementById('message1').style.marginTop = '-118px';
                             document.getElementById('divnotification').style.paddingTop = "42px";
                             //document.getElementById('message1').innerHTML = '<div data-alert class="alert-box error" style="background-color: #D22C25;">Some error occured Please try again later.<a href="javascript:void(0)" class="close" onclick="displayNT()">&times;</a></div>';
                             
                             document.getElementById('message1').innerHTML = '<div class="alert-box error" data-alert="">Some error occured Please try again later.<a href="javascript:void(0)" class="close" onclick="displayNT()">&times;</a></div>';
                         }
                         document.getElementById('message1').style.display = 'block';
                         //document.getElementById('divnotification').style.paddingTop = "0px";
                     });
    }
    function displayNT() {
        document.getElementById('message1').style.display = 'none';
        document.getElementById('divnotification').style.paddingTop = "10px";
    }
    </script>
<script>
    function fnchecked(id) {
        var chkid = "chk_" + id;
        var cmpchk= "a_" + id;
        var cmpchk0= "b_" + id;
        debugger;
        if (document.getElementById(chkid).value == cmpchk)
            document.getElementById(chkid).value = cmpchk0;
        else
            document.getElementById(chkid).value = cmpchk;
    }
</script>
<div class="row">
                   <div class="alerts" id="message1" style="position: relative;">  
         </div>   
      </div>  
@*<form action="./save-settings">*@
@*    <strong class="title">Social</strong><br/>*@
@if (Model != null)
                        {
                            if(Model.IsErr==0)
                            {
                                foreach (Vconnect.Models.ListUserNotificationsModel UN in Model.listNotifications)
                                {
                                    if (UN.CategoryId.ToString().Trim() == "1")
                                    {
                                                if (UN.IsActive == 1)
                                                {
                                                    <label><input type="checkbox" name="notIdList" checked="checked" value="a_@UN.ContentId" onclick="fnchecked(@UN.ContentId);" id="chk_@UN.ContentId"/> &nbsp;@UN.Notifications</label>
                                                }
                                                else
                                                {
                                                    <label><input type="checkbox" name="notIdList"  value="b_@UN.ContentId" onclick="fnchecked(@UN.ContentId);" id="chk_@UN.ContentId"/> &nbsp;@UN.Notifications</label>
                                                }                             
                                    }
                                }
                            }

                        }
@*<strong class="title">Reminders & updates</strong><br/>*@
         @if (Model != null)
                                {
                                     if(Model.IsErr==0)
                                    {
                              
                                        foreach (Vconnect.Models.ListUserNotificationsModel UN in Model.listNotifications)
                                        {
                                            if (UN.CategoryId.ToString().Trim() == "2")
                                            {
                                                            if (UN.IsActive == 1)
                                                            {
                                                                <label><input type="checkbox" name="notIdList" value="a_@UN.ContentId" checked="checked" id="chk_@UN.ContentId" onclick="fnchecked(@UN.ContentId);"/> &nbsp;@UN.Notifications</label>
                                                            }
                                                            else
                                                            {
                                                                <label><input type="checkbox" name="notIdList" value="b_@UN.ContentId" onclick="fnchecked(@UN.ContentId);" id="chk_@UN.ContentId"/> &nbsp;@UN.Notifications</label>
                                                            }
                                            }
                                        }
                                    }

                                }	
									<button type="submit" onclick="javasript:getPartialnotification();">Save</button>
								@*</form>*@


