﻿@model Vconnect.Models.UserInfo
@using System.Configuration;
@using System.Text.RegularExpressions
@using Vconnect.Common
@{
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    string homeLocation = Model.SearchLocation, metaLocation = "Nigeria";
    string WAPRootPath = ConfigurationManager.AppSettings["WAPRootPath"].ToString();
    string WEBRootPath = ConfigurationManager.AppSettings["WebsiteRootPath"].ToString();
    string WebsiteRawPath = ConfigurationManager.AppSettings["WebsiteRawPath"].ToString();
    string curl = System.Web.HttpContext.Current.Request.Url.ToString();
    string strBusinessUrl = "", imageTag = "";
    string CannoicalPath = WEBRootPath;
    string[,] bannerArray = new string[3, 3];
    string linkAlternatemedia = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    string linkAlternatehandheld = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    var userID = "0";
    string cnvcSearchLocation = ConfigurationManager.AppSettings["vcSearchLocation"];
    UserSession objUS = new UserSession();
    if (!string.IsNullOrEmpty(objUS.SV_VCUserContentID))
    {
        userID = objUS.SV_VCUserContentID;
    }
    if (Request.Cookies.AllKeys.Contains(cnvcSearchLocation) && Request.Cookies[cnvcSearchLocation] != null)
    {
        homeLocation = Request.Cookies[cnvcSearchLocation].Value.ToLower();
    }
    if (System.Web.HttpContext.Current.Request.RawUrl.ToLower().IndexOf(".html") != -1)
    {
        metaLocation = Utility.ToTitleCase(homeLocation.Replace("-", " ").Replace("_", " "));
        CannoicalPath = (WEBRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    }
 string title = "VConnect™ || userdashboard";
}
@section title{@title}


<div id="skrollr-body">
            <div class="newsfeed-content" style="margin-top: 0rem;">
           @*<section class="jumbotron-container row text-center">
                <div class="intro-message">
                    <h1>Looking for <span class="change">Local Businesses</span>?</h1>
                    <p>Search from about a million businesses in Nigeria</p>
                </div>
                <div class="search-box columns medium-8 medium-centered">
                    
                    @using (Html.BeginForm(null, null, FormMethod.Get, new { @id = "formJumbosearchSearch", @class = "search-form", DefaultButton = "btnSubmit" }))                    
                    {
                        string SearchText = string.Empty;
                        string SearchLocation = "Lagos";
                        string pattern = @"[^a-zA-Z0-9,]";

                        if (Request.Cookies["-vcSearchText-"] != null)
                        {
                            SearchText = Request.Cookies["-vcSearchText-"].Value;
                        }
                        else
                        {
                            SearchText = "";
                        }
                        if (Request.Cookies["-vcSearchLocation-"] != null)
                        {

                            SearchLocation = Request.Cookies["-vcSearchLocation-"].Value;
                            if (SearchLocation.Contains(','))
                            {
                                string[] strSrchLoc = SearchLocation.Split(',');
                                if (strSrchLoc.Count() > 2)
                                {
                                    //model.SearchLocation = string.Format("{0}-{1}-{2}", strSrchLoc[2].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[1].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[0].Trim().Replace(' ', '_').Replace("-", "_"));
                                    SearchLocation = string.Format("{0},{1},{2}", strSrchLoc[2].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[1].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[0].Trim().Replace(' ', '_').Replace("-", "_"));
                                }
                                else
                                {
                                    //model.SearchLocation = string.Format("{0}-{1}", strSrchLoc[1].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[0].Trim().Replace(' ', '_').Replace("-", "_"));
                                    SearchLocation = string.Format("{0},{1}", strSrchLoc[1].Trim().Replace(' ', '_').Replace("-", "_"), strSrchLoc[0].Trim().Replace(' ', '_').Replace("-", "_"));
                                }
                            }
                            else
                            {
                                SearchLocation = Regex.Replace(Regex.Replace(Regex.Replace(SearchLocation.Trim(), pattern, " ").Trim(), @"\s+", " ").Trim(), pattern, "_");
                            }
                        }
                        else
                        {
                            SearchLocation = "Lagos";
                        }                      
                    <div class="row">
                            <div class="medium-4 columns jsearchterm-container">
                                @Html.TextBoxFor(m => m.SearchTextHeader, new { @class = "jsearchterm", @placeholder = "What are you looking for? e.g. cars, hotels", @onchange = "return textonchange('SearchText','KeyWordValue');" })
                                @Html.ValidationMessageFor(m => m.SearchTextHeader)
                            </div>
                            <div class="medium-1 columns inbetween-container">
                                <label for="location" class="inline inbetween">in</label>
                            </div>
                            <div class="medium-4 columns jsearchlocation-container">
                                @Html.TextBoxFor(m => m.SearchLocationHeader, new { @class = "jsearchlocation", @placeholder = "Where are you looking? e.g. Lagos" })
                                @Html.ValidationMessageFor(m => m.SearchLocationHeader)
                            </div>
                            <div class="medium-3 columns search-button-container">
                                <button id="btnSubmit" class="button-green" type="button" onclick="return validateSearch('SearchTextHeader','SearchLocationHeader');">Search</button>
                            </div>
                            @Html.Hidden("KeyWordValueHeader", string.Empty)
                            @Html.Hidden("LocationValueHeader", string.Empty)
                        </div>
                    }
                </div>
                @if (Request.Cookies["-VCLoginID-"] == null)
                {
                    <div class="jumbotron-recommend">
                        @using (Html.BeginForm("Facebook", "Account", new { provider = "facebook" }, FormMethod.Post, new { @id = "formFacebookPost" }))
                        {
                            @Html.AntiForgeryToken()
                            <p>Get a personalised search experience.</p>
                            <button class="button-fb">
                                <i class="icon-facebook"> </i>&nbsp;
                                Sign in with Facebook

                            </button>
                        }
                    </div>
                }
                else
                {
                    <div class="">  </div>
                }
            </section>*@
                <section class="jumbotron-container row text-center" data-0="background-position:right 50% bottom 100px;" data-end="background-position:right 50% bottom -1000px;" data-smooth-scrolling="off" data-vc-jumbotron="" data-vc-src="'http://image.vconnect.bz/static/WEB/img/desk-lagos-bg.jpg?i'">
                    <div class="intro-message">
                        <h1>Looking for <span class="change">Local Businesses</span>?</h1>
                        @*<h1>Celebrating Nigeria at 54</h1>*@
                        <p>Search from about a million businesses in Nigeria</p>
                        @*<p><span class="change">Nation of Patrio</span></p>*@
                    </div>
                    <div class="search-box columns medium-8 medium-centered">
                        @using (Html.BeginForm(null, null, FormMethod.Get, new { @id = "formHeaderSearch", DefaultButton = "btnSubmitHeader" }))
                        {
                            <div class="row">
                                <div class="medium-4 columns jsearchterm-container">
                                    @*@Html.TextBoxFor(m => m.SearchTextHeader, new { @class = "jsearchterm", @placeholder = "What are you looking for? e.g. cars, hotels", @onchange = "return textonchange('SearchTextHeader','KeyWordValueHeader');", @onkeypress = "searchEnterHeader(event)" })*@
                                    @Html.TextBoxFor(m => m.SearchTextHeader, new { @class = "jsearchterm", @placeholder = "What are you looking for? e.g. cars, hotels", @onchange = "return textonchange('SearchTextHeader','KeyWordValueHeader');", @onkeypress = "searchEnterHeader(event)" })
                                    @Html.ValidationMessageFor(m => m.SearchTextHeader)
                                </div>
                                <div class="medium-1 columns inbetween-container">
                                    <label for="location" class="inline inbetween">in</label>
                                </div>
                                <div class="medium-4 columns jsearchlocation-container">
                                    @*@Html.TextBoxFor(m => m.SearchLocationHeader, new { @class = "jsearchlocation", @placeholder = "Where are you looking? e.g. Lagos", @onkeypress = "searchEnterHeader(event)" })*@
                                    @Html.TextBoxFor(m => m.SearchLocationHeader, new { @class = "jsearchlocation", @placeholder = "Where are you looking? e.g. Lagos", @onkeypress = "searchEnterHeader(event)" })
                                    @Html.ValidationMessageFor(m => m.SearchLocationHeader)
                                </div>
                                <div class="medium-3 columns search-button-container">
                                    <button id="btnSubmitHeader" class="button" type="button" onclick="return validateSearch('SearchTextHeader','SearchLocationHeader');">Search</button>
                                </div>
                                @Html.Hidden("KeyWordValueHeader", string.Empty)
                                @Html.Hidden("LocationValueHeader", string.Empty)
                            </div>
                        }
                    </div>

                    <div class="qsearch-box">
                        <span class="banner-overlay">
                            <span class="banner-text">
                            </span>
                        </span>
                    </div>
                </section>
            <div class="newsfeed-content-inner row">
					<div class="main-content columns medium-8">
						<h3>Social Activities <small><a href="/UserDashboardWEB/socialactivity"><i class="icon-refresh"></i></a></small></h3>
                        @*<div class="feed-item-box" ></div>*@
                        @if (Model.socialactivity.Count > 0)
                        {
                            foreach (var social in Model.socialactivity)
                            {
                                if (social.activity == 1)
                                {
                                        <div class="feed-item-box">
							            <div class="feed-item-pic">
								            <a href="#"><img src="@social.UserPhoto" alt="user photo"></a>
							            </div>
							            <div class="feed-item-inner">
								            <div class="feed-item-header">
                                                <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@social.userurl.ToLower()" class="title">@social.contactname</a> liked <a href="http://www.vconnect.com/@social.businessurl" class="title">@social.businessname</a>
								            </div>
								           @* <div class="feed-item-content">
									            <p>@social.detail</p>
								            </div>*@
								           @* <div class="feed-item-footer">
									            <div class="actions left">
										            <a href="#"><i class="icon-heart"></i>Like</a> <a href="#"><i class="icon-comment"></i>Comment</a> <a href="#"><i class="icon-share"></i>Share</a>
									            </div>
									            <div class="view-actions right">
										            <a href="#">24 Likes</a> &middot; <a href="#">6 Comments</a>
									            </div>
								            </div>*@
							            </div>
						               </div>
                                }
                                else if (social.activity == 2)
                                {
                                    <div class="feed-item-box photo">
							            <div class="feed-item-pic">
								            <a href="#"><img src="@social.UserPhoto" alt="user photo"></a>
							            </div>
							            <div class="feed-item-inner">
								            <div class="feed-item-header">
									            <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@social.userurl.ToLower()" class="title">@social.contactname</a> added a new photo to <a href="http://www.vconnect.com/@social.businessurl" class="title">@social.businessname</a>
								            </div>
								            <div class="feed-item-content">
									            @*<a href="#"><img src="img/lab.jpg" alt="photo"></a>*@
                                                 <a href="javascript:void(0)"><img src="@Html.Raw(Vconnect.Common.MyGlobalVariables.ImagesRootPath + social.detail)" alt="photo"></a>
                                                 @* <p>@social.detail</p> *@
                                              
								            </div>
							            </div>
						            </div>
                                }
                                else if (social.activity == 3)
                                {
                                    <div class="feed-item-box review">
							            <div class="feed-item-pic">
								            <a href="#"><img src="@social.UserPhoto" alt="user photo"></a>
							            </div>
							            <div class="feed-item-inner">
								            <div class="feed-item-header">
									            <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@social.userurl.ToLower()" class="title">@social.contactname</a> reviewed <a href="http://www.vconnect.com/@social.businessurl" class="title">@social.businessname</a>
								            </div>
								            <div class="feed-item-content">
									            <p>@social.detail</p>
								            </div>
								            </div>
                                     </div>
                                }
                                else if (social.activity == 4)
                                { 
                                    <div class="feed-item-box review">
							            <div class="feed-item-pic">
								            <a href="#"><img src="@social.UserPhoto" alt="user photo"></a>
							            </div>
							            <div class="feed-item-inner">
								            <div class="feed-item-header">
									            <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@social.userurl.ToLower()" class="title">@social.contactname</a> rated <a href="http://www.vconnect.com/@social.businessurl" class="title">@social.businessname</a>
								            </div>
								            <div class="feed-item-content">
									            <p class="red">
                                                    @for (int i1 = 1; i1 <= int.Parse(social.detail); i1++)
                                                    { 
											        <i class="icon-star"></i>
                                                    }
                                                    @for (int i2 = 1; i2 <= (5 - int.Parse(social.detail)); i2++)
                                                    { 
											        <i class="icon-star-empty"></i>
                                                    }
									            </p>
									            @*<p>@social.detail</p>*@
								            </div>
							            </div>
						          </div>
                                }
                                else if (social.activity == 5)
                                { 
                                 <div class="feed-item-box follow">
							                <div class="feed-item-pic">
								                <a href="#"><img src="@social.UserPhoto" alt="user photo" ></a>
							                </div>
							                <div class="feed-item-inner">
								                <div class="feed-item-header">
                                                    <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@social.userurl.ToLower()" class="title">@social.contactname</a> followed <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@social.businessname" class="title">@social.detail</a>
								                </div>
							                </div>
						                </div>
                                }
                                else if (social.activity == 66)
                                { 
                                 <div class="feed-item-box follow">
							                <div class="feed-item-pic">
								                <a href="#"><img src="@social.UserPhoto" alt="user photo" ></a>
							                </div>
							                <div class="feed-item-inner">
								                <div class="feed-item-header">
                                                     <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@social.userurl.ToLower()" class="title">@social.detail</a> unfollowed 
                                                           <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@social.userurl.ToLower()">@social.contactname</a>
								                </div>
							                </div>
						                </div>
                                }
                            }

                        }
                        else
                        {
                             <p class="nothing"> No Feeds Available.</p>
                        }
						
                         @if (Model.socialactivity.Count > 10)
                         {
						    <div class="nothing text-center">
							    <a href="#" class="button button-red" onclick="javasript:FeedViewMorefn();" id="FeedViewMore" style="display:none;">Load older activities</a>
						    </div>
                         }
					</div>
						@*<div class="side-content columns medium-4">
						@Model.socialact.description
					</div>*@
				</div>          
            </div>       
    </div>


    <script type="text/javascript">

        function otherfollow() {
            for (var i = 4; i <= '@Model.socialactivity.Where(m => m.activity == 5).Count()'; i++) {
                if (document.getElementById("follow_" + i) != null)
                    document.getElementById("follow_" + i).style.display = "block";
            }
            for (var i = 4; i <= '@Model.socialactivity.Where(m => m.activity == 6).Count()'; i++) {
                if (document.getElementById("follow1_" + i) != null)
                    document.getElementById("follow1_" + i).style.display = "block";
            }
        }
</script>

