﻿@model Vconnect.Models.UserInfo
@using System.Configuration;
@using Vconnect.Common
@{
    string homeLocation = Model.SearchLocation, metaLocation = "Nigeria";
    string WAPRootPath = ConfigurationManager.AppSettings["WAPRootPath"].ToString();
    string WEBRootPath = ConfigurationManager.AppSettings["WebsiteRootPath"].ToString();
    string CannoicalPath = WEBRootPath;
    string[,] bannerArray = new string[3, 3];
    string linkAlternatemedia = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    string linkAlternatehandheld = (WAPRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    var userID = "0";
    if (Request != null && Request.Cookies != null && Request.Cookies["VCUserContentID"] != null)
    {
        userID = Request.Cookies["VCUserContentID"].Value;
    }
    if (Request.Cookies.AllKeys.Contains("vcSelectedLocation") && Request.Cookies["vcSelectedLocation"] != null)
    {
        homeLocation = Request.Cookies["vcSelectedLocation"].Value.ToLower();
    }
    if (System.Web.HttpContext.Current.Request.RawUrl.ToLower().IndexOf(".html") != -1)
    {
        metaLocation = Utility.ToTitleCase(homeLocation.Replace("-", " ").Replace("_", " "));
        CannoicalPath = (WEBRootPath + Request.RawUrl).ToString().Replace(".com/", ".com");
    }
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Local Business Directory and Search Engine of @metaLocation | VConnect™</title>
    <meta name="description" content="Search upcoming events, movies, reviews and authentic information on local businesses in @metaLocation on VConnect™– the trusted Nigerian Business Directory." />
    <meta name="keywords" content="local business directory, @metaLocation business directory, businesses in @metaLocation, local search engine @metaLocation" />
    <link rel="canonical" href="@CannoicalPath" />
    <meta name="robots" content="index, follow" />
    <meta name="msvalidate.01" content="AF9798BB2B2F16C39D4FD0CE1B83FE1E" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="@linkAlternatemedia" />
    <link rel="alternate" media="handheld" href="@linkAlternatehandheld" />
    <link rel="shortcut icon" type="image/x-icon" href="@Html.Raw(MyGlobalVariables.ImagesRootPath + "images/favicon.ico")" />

    <script type="text/javascript">
        if (window.location.hash == '#_=_') {
            history.replaceState
                ? history.replaceState(null, null, window.location.href.split('#')[0])
                : window.location.hash = '';
        }
    </script>
    <script src="~/js/vendor/jquery-1.10.2.min.js"></script>
    <![if !lt IE 9]>
    <link rel="stylesheet" href="~/css/styles.css">
    <![endif]>
    <script src="~/js/vendor/modernizr-2.6.2.min.js"></script>

    @*<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="http://s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="~/css/styles-ie8.css">
      <script src="http://html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->*@

     <!--[if lt IE 9]>
          <link rel="stylesheet" href="~/css/styles-ie8.css">
          <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
          <script src="http://html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <![endif]-->
      
       
</head>
<body>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M725XF"
                height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <noscript>For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" target="_blank">instructions how to enable JavaScript in your web browser</a></noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M725XF');</script>
    <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Site content here -->
    <!-- First, the site wrapper: contains all the elements on the site -->
    <div class="wrapper">
        <!-- Site header starts :main navigation bar -->
        <header class="site-header contain-to-grid fixed">
            <!-- Navigation -->

            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <!-- Title Area -->
                    <li class="name">
                        <span>
                            @if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "successdigestlocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/success-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "vanguardlocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/vanguard-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "thisdaylocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/thisoday-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else if (HttpContext.Current.Request != null && (HttpContext.Current.Request.Url.Host).ToString() == "businessdaylocalsearch.vconnect.com")
                            {
                                <img class="logo" src="@Html.Raw("http://www.static.vconnect.co/images/businessday-logo.jpg")" alt="Business Directory Vconnect" />
                            }
                            else
                            {
                                <a href="http://vconnect.com">
                                    <img class="logo" src="@Html.Raw(MyGlobalVariables.Staticimage + "vconnect-logo-small.png")" alt="Business Directory Vconnect" />
                                </a>
                            }


                        </span>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="http://vconnect.com"><span>menu</span></a></li>
                </ul>

                <section class="top-bar-section">

                    <!-- Right Nav Section -->
                    <ul class="right">
                        @if (Request.Cookies["VCLoginID"] != null)
                        {
                            <div class="postlogin">
                                <li class="has-dropdown">
                                    <a class="loggedin-menu" href="/users/myaccount">
                                        @if ((Request.Cookies["VCUserPhoto"] != null) && (!string.IsNullOrEmpty(Request.Cookies["VCUserPhoto"].Value)))
                                        {
                                            <img src="@Request.Cookies["VCUserPhoto"].Value" class="userpic-top" />
                                        }
                                        else
                                        {
                                            <i class="icon-user"></i>
                                        }
                                        @Request.Cookies["VCUserName"].Value<i class="icon-down-open"></i>
                                    </a>
                                    <ul class="dropdown">
                                        <li><a href="/users/socialactivity"><i class="icon-users"></i>Social Activity</a></li>
                                        <li><a href="/users/notifications"><i class="icon-globe"></i>Notifications</a></li>
                                        <li><a href="/users/myaccount"><i class="icon-user"></i>My Profile</a></li>
                                        @if (Request.Cookies["VCUserType"].Value == "59" && Model.isclaim == true)
                                        {
                                            <li><a href="@Url.Action("Index", "BoDashboardWeb")"><i class="icon-hotel"></i>My Business</a></li>
                                        }
                                        <li><a href="/logout"><i class="icon-off"></i>Logout</a></li>
                                    </ul>
                                </li>
                            </div>
                        }
                        else
                        {
                            <li>
                                @* <a href="http://www.vconnect.com/login/" target="_blank">Login</a>*@
                                <a href="/login">Login</a>
                            </li>
                            @*<li class="has-form"><a href="http://www.vconnect.com/userregistration" class="button button-red" target="_blank">Signup</a></li>*@
                            <li class="has-form"><a href="/userregistration" class="button button-red">Signup</a></li>
                        }
                    </ul>
                    <!-- Left Nav Section -->
                    <ul class="left main-nav">
                        <div class="menu-expanded">
                            <li class="active"><a href="http://vconnect.com/">Home</a></li>
                            <li><a href="http://events.vconnect.com/" target="_blank">Events</a></li>
                            <li><a href="http://movies.vconnect.com/" target="_blank">Movies</a></li>
                            <li><a href="/businesssolutions" target="_blank">Business</a></li>
                            <li><a href="http://deals.vconnect.com" target="_blank" onclick="dataLayer.push({'eventCategory' : 'DealsTraffic', 'eventAction' : 'IconClick', 'eventLabel': 'VCHometoDeals', 'eventValue' : '0', 'event' : 'VCHometoDeals'});"><img src="/img/deals-new.png" style="position: absolute;margin-left: 7px;margin-top: 3px;"> Deals</a></li>
                        </div>
                        <div class="menu-collapsed">
                            <li class="tab-search">
                                <a href="#"><i class="icon-search-alt"></i></a>
                            </li>
                            <li class="has-dropdown single-menu">
                                <a href="#"><i class="icon-menu"></i></a>
                                <ul class="dropdown">
                                    <div class="arr"></div>
                                    <li><a href="http://movies.vconnect.com/" target="_blank"><i class="icon-video"></i> Movies</a></li>
                                    <li><a href="http://events.vconnect.com/" target="_blank"><i class="icon-calendar"></i> Events</a></li>
                                    <li><a href="/businesssolutions" target="_blank"><i class="icon-briefcase"></i> Business</a></li>
                                    <li><a href="http://deals.vconnect.com" target="_blank" onclick="dataLayer.push({'eventCategory' : 'DealsTraffic', 'eventAction' : 'IconClick', 'eventLabel': 'VCHometoDeals', 'eventValue' : '0', 'event' : 'VCHometoDeals'});"><img src="~/img/deal-iconcart.png" style="float: left;margin: 20px 3px 0px 3px;" /> Deals</a></li>
                                </ul>
                            </li>
                            <!-- <div class="search-form-box"> -->
                            <li class="has-form search-form">
                                @using (Html.BeginForm("submit", "HomeWEB", FormMethod.Post, new { @id = "formHeaderSearch", DefaultButton = "btnSubmitHeader" }))
                                {
                                    <div class="row">
                                        <div class="medium-5 columns">
                                            @Html.TextBoxFor(m => m.SearchTextHeader, new { @class = "searchterm", @placeholder = "What? e.g. Hotel", @onchange = "return textonchange('SearchTextHeader','KeyWordValueHeader');" })
                                            @Html.ValidationMessageFor(m => m.SearchTextHeader)
                                        </div>
                                        <div class="medium-1 columns text-center">
                                            <label for="searchlocation" class="inbetween">in</label>
                                        </div>
                                        <div class="medium-4 columns">
                                            @Html.TextBoxFor(m => m.SearchLocationHeader, new { @class = "searchlocation", @placeholder = "Where? e.g. Lagos" })
                                            @Html.ValidationMessageFor(m => m.SearchLocationHeader)
                                        </div>
                                        <div class="medium-2 columns">
                                            <button id="btnSubmitHeader" class="button search-btn" type="submit" onclick="return validateSearch('SearchTextHeader','SearchLocationHeader');;"><i class="icon-search-alt"></i></button>
                                        </div>
                                        @Html.Hidden("KeyWordValueHeader", string.Empty)
                                        @Html.Hidden("LocationValueHeader", string.Empty)
                                    </div>
                                }
                            </li>
                        </div>

                    </ul>
                </section>
            </nav>
            <!-- End Top Bar -->
            <div id="dvSearchResult" class="alerts">
                @*<div data-alert class="alert-box error">
                        Your content goes here
                            Error message alert!

                        <a href="#" class="close">&times;</a>
                    </div>*@
            </div>
        </header>
        <!-- Site header ends -->
        <div id="skrollr-body">
            <div class="newsfeed-content" style="margin-top: 0rem;">
           <section class="jumbotron-container row text-center" style="background: url('../img/deals-banner.jpg') no-repeat scroll 50% 100% /cover transparent;height:370px;">
                <div class="intro-message">
                    <h1>Looking for <span class="change">Local Businesses</span>?</h1>
                    <p>Search from about a million businesses in Nigeria</p>
                </div>
                <div class="search-box columns medium-8 medium-centered">
                    @using (Html.BeginForm("submit", "HomeWEB", FormMethod.Post, new { @id = "formJumbosearchSearch", @class = "search-form", DefaultButton = "btnSubmit" }))
                    {
                        <div class="row">
                            <div class="medium-4 columns jsearchterm-container">
                                @Html.TextBoxFor(m => m.SearchText, new { @class = "jsearchterm", @placeholder = "What are you looking for? e.g. cars, hotels", @onchange = "return textonchange('SearchText','KeyWordValue');" })
                                @Html.ValidationMessageFor(m => m.SearchText)
                            </div>
                            <div class="medium-1 columns inbetween-container">
                                <label for="location" class="inline inbetween">in</label>
                            </div>
                            <div class="medium-4 columns jsearchlocation-container">
                                @Html.TextBoxFor(m => m.SearchLocation, new { @class = "jsearchlocation", @placeholder = "Where are you looking? e.g. Lagos" })
                                @Html.ValidationMessageFor(m => m.SearchLocation)
                            </div>
                            <div class="medium-3 columns search-button-container">
                                <button id="btnSubmit" class="button-green" type="submit" onclick="return validateSearch('SearchText','SearchLocation');">Search</button>
                            </div>
                            @Html.Hidden("KeyWordValue", string.Empty)
                            @Html.Hidden("LocationValue", string.Empty)
                        </div>
                    }
                </div>
                @if (Request.Cookies["VCLoginID"] == null)
                {
                    <div class="jumbotron-recommend">
                        @using (Html.BeginForm("Facebook", "Account", new { provider = "facebook" }, FormMethod.Post, new { @id = "formFacebookPost" }))
                        {
                            @Html.AntiForgeryToken()
                            <p>Get a personalised search experience.</p>
                            <button onclick="dataLayer.push({'eventCategory' : 'HomePInteraction', 'eventAction' : 'ButtonClick', 'eventLabel': 'FaceBookSignIn', 'eventValue' : '0', 'event' : 'FaceBookSignIn'});" class="button-fb">
                                <i class="icon-facebook"> </i>&nbsp;
                                Sign in with Facebook

                            </button>
                        }
                    </div>
                }
                else
                {
                    <div class="jumbotron-recommend">  </div>
                }
            </section>
            <div class="newsfeed-content-inner row">
					<div class="main-content columns medium-8">
						<h3>Social Activities <small><a href="/UserDashboardWEB/socialactivity"><i class="icon-refresh"></i></a></small></h3>
                        @if (Model.socialactivity.Count > 0)
                        {
                            if (@Model.socialactivity.Where(m => m.activity == 5).Count() >= 1)
                            {
                                int cnt = ((Model.socialactivity.Where(m => m.activity == 5).Count()) - 3);
                                          <div class="feed-item-box follow">
							                <div class="feed-item-pic">
								                <a href="#"><img src="@Request.Cookies["VCUserPhoto"].Value" alt="user photo" id="profilePhoto"></a>
							                </div>
							                <div class="feed-item-inner">
								                <div class="feed-item-header">
                                                     <a href="/UserDashboardWEB/getUserDetails?userid=@userID" class="title">@Model.loginname</a> followed 
                                                    
                                                        @for (int i = 1; i <= Model.socialactivity.Where(m => m.activity == 5).Count(); i++)
                                                        {
                                                            foreach (var social in Model.socialactivity.Where(m => m.activity == 5))
                                                            {
                                                                if (i == 1)
                                                                {<a href="/UserDashboardWEB/getUserDetails?userid=@social.userid">@social.contactname</a>}
                                                                if (i == 2)
                                                                {<p>,</p><a href="/UserDashboardWEB/getUserDetails?userid=@social.userid">@social.contactname</a><p>,</p>}
                                                                if (i == 3)
                                                                {<a href="/UserDashboardWEB/getUserDetails?userid=@social.userid">@social.contactname</a> }
                                                                if (cnt >= 1 && i == 4)
                                                                {<p onclick="otherfollow();" id="followid">and <a href="#">@cnt others</a></p> }
                                                                if (i >= 4)
                                                                {<a id="follow_@i" style="display:none;" href="/UserDashboardWEB/getUserDetails?userid=@social.userid">@social.contactname</a> }
                                                            }
                                                        }
								                </div>
							                </div>
						                </div>
                            }
                            if (@Model.socialactivity.Where(m => m.activity == 6).Count() >= 1)
                            {
                                int cnt = ((Model.socialactivity.Where(m => m.activity == 6).Count()) - 3);
                                          <div class="feed-item-box follow">
							                <div class="feed-item-pic">
								                <a href="#"><img src="@Request.Cookies["VCUserPhoto"].Value" alt="user photo" id="profilePhoto1"></a>
							                </div>
							                <div class="feed-item-inner">
								                <div class="feed-item-header">
                                                     <a href="/UserDashboardWEB/getUserDetails?userid=@userID" class="title">@Model.loginname</a> unfollowed 
                                                    
                                                        @for (int i = 1; i <= Model.socialactivity.Where(m => m.activity == 6).Count(); i++)
                                                        {
                                                            foreach (var social in Model.socialactivity.Where(m => m.activity == 6))
                                                            {
                                                                if (i == 1)
                                                                {<a href="/UserDashboardWEB/getUserDetails?userid=@social.userid">@social.contactname</a>}
                                                                if (i == 2)
                                                                {<p>,</p><a href="/UserDashboardWEB/getUserDetails?userid=@social.userid">@social.contactname</a><p>,</p>}
                                                                if (i == 3)
                                                                {<a href="/UserDashboardWEB/getUserDetails?userid=@social.userid">@social.contactname</a> }
                                                                if (cnt >= 1 && i == 4)
                                                                {<p onclick="otherfollow();" id="followid">and <a href="#">@cnt others</a></p> }
                                                                if (i >= 4)
                                                                {<a id="follow1_@i" style="display:none;" href="/UserDashboardWEB/getUserDetails?userid=@social.userid">@social.contactname</a> }
                                                            }
                                                        }
								                </div>
							                </div>
						                </div>
                            }
                            foreach (var social in Model.socialactivity)
                            {
                                if (social.activity == 1)
                                {
                                        <div class="feed-item-box">
							            <div class="feed-item-pic">
								            <a href="#"><img src="@social.UserPhoto" alt="user photo"></a>
							            </div>
							            <div class="feed-item-inner">
								            <div class="feed-item-header">
                                                <a href="/UserDashboardWEB/getUserDetails?userid=@social.userid" class="title">@social.contactname</a> liked <a href="http://www.vconnect.com/@social.businessurl" class="title">@social.businessname</a>
								            </div>
								           @* <div class="feed-item-content">
									            <p>@social.detail</p>
								            </div>*@
								           @* <div class="feed-item-footer">
									            <div class="actions left">
										            <a href="#"><i class="icon-heart"></i>Like</a> <a href="#"><i class="icon-comment"></i>Comment</a> <a href="#"><i class="icon-share"></i>Share</a>
									            </div>
									            <div class="view-actions right">
										            <a href="#">24 Likes</a> &middot; <a href="#">6 Comments</a>
									            </div>
								            </div>*@
							            </div>
						               </div>
                                }
                                else if (social.activity == 2)
                                {
                                    <div class="feed-item-box photo">
							            <div class="feed-item-pic">
								            <a href="#"><img src="@social.UserPhoto" alt="user photo"></a>
							            </div>
							            <div class="feed-item-inner">
								            <div class="feed-item-header">
									            <a href="/UserDashboardWEB/getUserDetails?userid=@social.userid" class="title">@social.contactname</a> added a new photo to <a href="http://www.vconnect.com/@social.businessurl" class="title">@social.businessname</a>
								            </div>
								            <div class="feed-item-content">
									            @*<a href="#"><img src="img/lab.jpg" alt="photo"></a>*@
                                                 <a href="javascript:void(0)"><img src="@Html.Raw(MyGlobalVariables.ImagesRootPath + social.detail)" alt="photo"></a>
                                                 @* <p>@social.detail</p> *@
								            </div>
							            </div>
						            </div>
                                }
                                else if (social.activity == 3)
                                {
                                    <div class="feed-item-box review">
							            <div class="feed-item-pic">
								            <a href="#"><img src="@social.UserPhoto" alt="user photo"></a>
							            </div>
							            <div class="feed-item-inner">
								            <div class="feed-item-header">
									            <a href="/UserDashboardWEB/getUserDetails?userid=@social.userid" class="title">@social.contactname</a> reviewed <a href="http://www.vconnect.com/@social.businessurl" class="title">@social.businessname</a>
								            </div>
								            <div class="feed-item-content">
									            <p>@social.detail</p>
								            </div>
								            </div>
                                     </div>
                                }
                                else if (social.activity == 4)
                                { 
                                    <div class="feed-item-box review">
							            <div class="feed-item-pic">
								            <a href="#"><img src="@social.UserPhoto" alt="user photo"></a>
							            </div>
							            <div class="feed-item-inner">
								            <div class="feed-item-header">
									            <a href="/UserDashboardWEB/getUserDetails?userid=@social.userid" class="title">@social.contactname</a> rated <a href="http://www.vconnect.com/@social.businessurl" class="title">@social.businessname</a>
								            </div>
								            <div class="feed-item-content">
									            <p class="red">
                                                    @for (int i1 = 1; i1 <= int.Parse(social.detail); i1++)
                                                    { 
											        <i class="icon-star"></i>
                                                    }
                                                    @for (int i2 = 1; i2 <= (5 - int.Parse(social.detail)); i2++)
                                                    { 
											        <i class="icon-star-empty"></i>
                                                    }
									            </p>
									            @*<p>@social.detail</p>*@
								            </div>
							            </div>
						          </div>
                                }
                                else if (social.activity == 7) { }
                                else if (social.activity == 8) { }
                            }

                        }
                        else
                        {
                             <p class="nothing"> No Feeds Available.</p>
                        }
						
                         @if (Model.socialactivity.Count > 10)
                         {
						    <div class="nothing text-center">
							    <a href="#" class="button button-red" onclick="javasript:FeedViewMorefn();" id="FeedViewMore" style="display:none;">Load older activities</a>
						    </div>
                         }
					</div>
					<div class="side-content columns medium-4">
						@ViewBag.Description
					</div>
				</div>
          
            </div>
        <!-- Site footer starts -->
        @Html.Partial("~/Views/Shared/_WebFooterPartialNew.cshtml")
        <!-- Site footer ends -->
    </div>
</div>
<!-- Wrapper ends -->
@*<script type="text/javascript">
        //var totalCount = 12;
        //var num = Math.ceil(Math.random() * totalCount);
        var imagename = "mtn-banner.jpg";
        $(document).ready(function () {
            $(".jumbotron-container").css({ 'background-image': 'url(@MyGlobalVariables.Staticimage' + imagename + ')' });
        });



    </script>*@
<script src="~/js/vendor/skrollr.min.js"></script>
    <![if !lt IE 9]>
<script src="~/js/min/app.min.js"></script>
    <![endif]>
<!--[if lt IE 9]>
  <script src="~/js/min/app-ie.min.js"></script>
<script src="~/js/foundation.4.3.2.js"></script>
<![endif]-->
<script>
    $(document).ready(function () {
        app.init(
        {
            termsURL: '../HomeWEB/KeywordAutoComplete?term=%QUERY',
            locationsURL: '../HomeWEB/LocationAutoComplete?term=%QUERY',
            isJoyrideCookie: true
        });
    });
</script>
<script>
    var selectedautocompvalue = "";
    function selectedTTerm(datum) {
        document.getElementById('KeyWordValueHeader').value = datum.value;
        selectedautocompvalue = datum.label;
    }
    function selectedJTerm(datum) {
        document.getElementById('KeyWordValue').value = datum.value;
        selectedautocompvalue = datum.label;
    }
    function selectedTLocation(datum) {
        document.getElementById('LocationValueHeader').value = datum.value;
    }
    function selectedJLocation(datum) {
        document.getElementById('LocationValue').value = datum.value;
    }
    function textonchange(objSearchKeyword, objSearchHidden) {

        if (selectedautocompvalue != document.getElementById(objSearchKeyword).value) {
            {
                document.getElementById(objSearchHidden).value = "";
            }
        }
    }

    function validateSearch(objsearchtext, objsearchlocation) {
        var objTxtSearchText = document.getElementById(objsearchtext);
        var objtxtSearchLocation = document.getElementById(objsearchlocation);
        var objTxtResult = document.getElementById('dvSearchResult');
        if (objTxtSearchText.value.trim() == "") {
            objTxtResult.innerHTML = '<div id=\'alertErr2\' class=\'alert-box error\' data-alert=\'\'>Please specify Search Keyword.<a class=\'close\' href=\'javascript:void(0);\' onclick=\"document.getElementById(\'alertErr2\').style.display=\'none\';\">×</a></div>';
            objTxtSearchText.focus();
            return false;

        }
        else if (objtxtSearchLocation.value.trim() == "") {
            objTxtResult.innerHTML = '<div id=\'alertErr2\' class=\'alert-box error\' data-alert=\'\'>Please specify Search Location.<a class=\'close\' href=\'javascript:void(0);\' onclick=\"document.getElementById(\'alertErr2\').style.display=\'none\';\">×</a></div>';
            objtxtSearchLocation.focus();
            return false;
        }
        else {
            dataLayer.push({ 'eventCategory': 'HomePInteraction', 'eventAction': 'ButtonClick', 'eventLabel': 'SearchBtn', 'eventValue': '0', 'event': 'SearchBtn' });
            return true;
        }

    }
    function SaveBannerClickLog(bid) {
        $.getJSON('@Url.Action("BannerClickLog", "SearchListWEB")', { 'bid': bid })
    }
    function SaveBannerImpressionLogs() {
        @if (ViewBag.sRandomfooterbanner == "2")
        {
                <Text>
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '2232', businessid: '56855', businessname: 'Mtn Nigeria Communications Limited' });
        </Text>
        }
        else if (ViewBag.sRandomfooterbanner == "3")
        {
                <Text>
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '2250', businessid: '396779', businessname: 'United Bank For Africa Plc' });
        </Text>
        }
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '2251', businessid: '33355', businessname: 'Mtn Nigeria Communications Limited' });
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[0, 0]', businessid: '@bannerArray[0, 1]', businessname: '@bannerArray[0, 2]' });
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[1, 0]', businessid: '@bannerArray[1, 1]', businessname: '@bannerArray[1, 2]' });
        $.getJSON('@Url.Action("BannerImpressionLog", "SearchListWEB")', { bannerid: '@bannerArray[2, 0]', businessid: '@bannerArray[2, 1]', businessname: '@bannerArray[2, 2]' });
    }
    SaveBannerImpressionLogs();

    function MTNbanner() {

        dataLayer.push({ 'eventCategory': 'Banner', 'eventAction': 'BannerClick', 'eventLabel': 'MTNWEB', 'eventValue': '1.00', 'event': 'MTNWEB' });
        SaveBannerClickLog(2232);
    }
    function UBAbanner() {

        dataLayer.push({ 'eventCategory': 'Banner', 'eventAction': 'BannerClick', 'eventLabel': 'UNITEDBANKAFRICAWEB', 'eventValue': '1.00', 'event': 'UNITEDBANKAFRICAWEB' });
        SaveBannerClickLog(2250);
    }

    function bannerLogImpression(bannerString) {
        //alert(bannerString);
        dataLayer.push({ 'eventCategory': 'Banner', 'eventAction': 'BannerImpression', 'eventLabel': bannerString, 'eventValue': '2.00', 'event': bannerString });
    }

    function bannerLogClick(bannerid, bannerString) {
        // alert(bannerString);
        dataLayer.push({ 'eventCategory': 'Banner', 'eventAction': 'BannerClick', 'eventLabel': bannerString, 'eventValue': '1.00', 'event': bannerString });
        SaveBannerClickLog(bannerid);
    }
</script>
    <script type="text/javascript">
       
        function otherfollow() {
            for (var i = 4; i <= '@Model.socialactivity.Where(m => m.activity == 5).Count()'; i++) {
                if (document.getElementById("follow_" + i) != null)
                    document.getElementById("follow_" + i).style.display = "block";
            }
            for (var i = 4; i <= '@Model.socialactivity.Where(m => m.activity == 6).Count()'; i++) {
                if (document.getElementById("follow1_" + i) != null)
                    document.getElementById("follow1_" + i).style.display = "block";
            }
    }
</script>
</body>
</html>
