﻿@model Vconnect.Models.UserInfo
@using Vconnect.Common;
@using System.Configuration;
@{
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    UserSession objUS = new UserSession();
    string city = string.Empty, state = string.Empty, county = string.Empty, area = string.Empty;
    city = (Model.userDetail != null) ?Model.userDetail.city : ""; county = (Model.userDetail != null) ?Model.userDetail.country:""; area = (Model.userDetail != null) ?Model.userDetail.area:"";
    //state = (Model.userDetail == null && Model.userDetail.state == "") ? "Lagos" : Model.userDetail.state;
    //county = (Model.userDetail == null && Model.userDetail.country == "") ? "Nigeria" : Model.userDetail.country;
    string loadingspinner = MyGlobalVariables.Staticimage + "loading.gif";
    string profile_photo = Vconnect.Common.MyGlobalVariables.Staticimage + "profile-photo.jpg";
    state = (Model.userDetail != null) ? Model.userDetail.state : "Lagos";
    county = (Model.userDetail != null) ? Model.userDetail.country : "Nigeria";
    string logo_spinning=Vconnect.Common.MyGlobalVariables.Staticimage+"vc-logo-spinning.gif";
    var userID = "0";
    if (!string.IsNullOrEmpty(objUS.SV_VCLoginID))
    {
        userID = objUS.SV_VCUserContentID;
    }
    int activitycnt = 0;
    if (Model.loginid != 0 && Model.loginid == Model.userid && Model.usermenucount !=null)
    {
        activitycnt = int.Parse(Model.usermenucount.FirstOrDefault().activitycount.ToString());
    }
    else if (Model.loginid != 0 && Model.loginid != Model.userid && Model.usermenucount != null)
    {
        if (Model.usermenucount !=null)
        {
        activitycnt = int.Parse(Model.usermenucount.FirstOrDefault().activitycount.ToString()) - int.Parse(Model.usermenucount.FirstOrDefault().savedcount.ToString());
        }
    }
    string title =  (Model.userDetail.contactname !=null ? " " + Utility.ToTitleCase(Model.userDetail.contactname.Trim()) : "") + (Model.userDetail.lastname !=null ? " " + Utility.ToTitleCase(Model.userDetail.lastname.Trim()) : "") + " Profile, " + state + " | VConnect™";
    string name = (!string.IsNullOrEmpty(Model.loginname)) ? Utility.ToTitleCase(Model.loginname) : (Model.userDetail.contactname != null ? " " + Utility.ToTitleCase(Model.userDetail.contactname.Trim()) : "")  + (Model.userDetail.lastname != null ? " " + Utility.ToTitleCase(Model.userDetail.lastname.Trim()) : "");
    string description = "View the profile of people named " + (Model.userDetail.contactname != null ? " " + Utility.ToTitleCase(Model.userDetail.contactname.Trim()) : "") + (Model.userDetail.lastname != null ? " " + Utility.ToTitleCase(Model.userDetail.lastname.Trim()) : "") + " on VConnect™. Join VConnect™ to connect with " + (Model.userDetail.contactname != null ? " " + Utility.ToTitleCase(Model.userDetail.contactname.Trim()) : "") + (Model.userDetail.lastname != null ? " " + Utility.ToTitleCase(Model.userDetail.lastname.Trim()) : "") + " and see their user activities, photos and followers details.";
    string canonical = ConfigurationManager.AppSettings["ProfilePath"].ToString() + Model.userDetail.userurl;
    string linkAlternatemedia = ConfigurationManager.AppSettings["mProfilePath"].ToString() + Model.userDetail.userurl;
    string linkAlternatehandheld = ConfigurationManager.AppSettings["mProfilePath"].ToString() + Model.userDetail.userurl;
    string keyword = (Model.userDetail.contactname != null ? " " + Utility.ToTitleCase(Model.userDetail.contactname.Trim()) : "") + (Model.userDetail.lastname != null ? " " + Utility.ToTitleCase(Model.userDetail.lastname.Trim()) : "") + " on VConnect, " + Utility.ToTitleCase(Model.userDetail.contactname) + (Model.userDetail.lastname != null ? " " + Utility.ToTitleCase(Model.userDetail.lastname.Trim()) : "") + " Profile";   
}
@section header
{
    @if (Model != null)
    {
        <link rel="canonical" href="@canonical" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="@linkAlternatemedia" />
        <link rel="alternate" media="handheld" href="@linkAlternatehandheld" />      
    }
}
@section title{@title}
@section description{@description}
@section keyword{@keyword} 
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        if (document.getElementById("Activity") != null) {
            if (document.getElementById("Activity").className == "active") {
                Display('Activity');
            }
        } 
         CheckIFLoggedIn();
    });
</script>
<div class="userprofile-content">
				<div class="header-bg"> 
					<div class="header-container row">
						<div class="header-inner columns medium-12">
							<div class="profile-photo-container">
								<!-- Profile photo -->
                                @if (Model.userDetail.photo == null || Model.userDetail.photo == "images/list_noimg.jpg" || Model.userDetail.photo == "")
                                {
                                      <img class="profile-photo" style="width:100px;height:100px;" alt='@Model.userDetail.contactname' src='@profile_photo'/>
                                }

                                else if (Model.userDetail.photo != null && Model.userDetail.photo.Contains("facebook"))
                                {
                                    <img class="profile-photo" style="width:100px;height:100px;" alt='@Model.userDetail.contactname' src='@Model.userDetail.photo'>
                                }
                                else
                                {
                                    string img = Vconnect.Common.MyGlobalVariables.ImagesRootPath + Model.userDetail.photo;
                                    if (Model.userDetail.photo != null && Model.userDetail.photo == "images/no-images.jpg")
                                    {
                                        <img class="profile-photo" style="width:100px;height:100px;" alt='@Model.userDetail.contactname' src="@profile_photo" />
                                    }
                                    else
                                    { 
                                            <img class="profile-photo" style="width:100px;height:100px;" alt='@Model.userDetail.contactname' src='@Vconnect.Common.MyGlobalVariables.ImagesRootPath@Model.userDetail.photo' />
                                        
                                    }
                                }
								@*<img src="img/lab-profile2.jpg" alt="profile photo" class="profile-photo">*@
							</div>
							<div class="basic-info-container">
								<div class="basic-info">
									<!-- Contains the user basic info -->
                                     @if (Model.loginid != 0 && Model.userid != 0)
                                     {
                                         if (Model.loginid == Model.userid)
                                         { 
                                             <button class="button edit-profile-btn right" onClick="location.href='@Url.Action("EditProfile", "UserDashboardWEB", new { userid = Model.userid })'">Edit Profile</button>
                                         }
                                     }
                                    <div id="mainfollowbtn">
                                        @if (Model.userid != Model.loginid && Model.loginid !=0)
                                        {
                                            if (Model.userFollowid.err == 0)
                                            {
                                            <a id="followbtn_@Model.loginid" class="follow-btn button right" onclick="fnGetLoginPartial('follow',@Model.userid,@Model.loginid,'followbtn_@Model.loginid');"><i class="icon-user-add"></i> Follow</a>
                                            }
                                            else
                                            {
									        <a id="followbtn_@Model.loginid" class="unfollow-btn button right" onclick="fnGetLoginPartial('follow',@Model.userid,@Model.loginid,'followbtn_@Model.loginid');" title="unfollows"><i class="icon-ok"></i>Following</a>
                                            }
                                        }
                                        </div>
									<h1 class="fullname">@Utility.ToTitleCase(Model.userDetail.contactname)</h1>
									<ul class="details">
                                        @if (!string.IsNullOrEmpty(Model.userDetail.sex))
                                        {
										<li>@Model.userDetail.sex</li>   
                                        }
                                             @if (Model.loginid != 0 && Model.userid != 0 && Model.loginid == Model.userid)
                                             {
                                                 string city2 = "";
                                                 string state2 = "";
                                                 if (!string.IsNullOrEmpty(Model.userDetail.city.ToString()) || (!string.IsNullOrEmpty(Model.userDetail.state)))
                                                 {
                                                     if (!string.IsNullOrEmpty(Model.userDetail.city.ToString())) { state2 = ", " + Model.userDetail.state; }
                                                     else { state2 = Model.userDetail.state; }
                                                     if ((Model.userDetail.cityid != 0 && Model.userDetail.cityid != null) || state2 != "")
                                                     {
                                                     <li> @Model.userDetail.city@state2</li>}
                                                 }
                                             }
                                             else
                                             {
                                                 string city1 = "";
                                                 string state1 = "";
                                                 if (!string.IsNullOrEmpty(Model.userDetail.city.ToString()) || (!string.IsNullOrEmpty(Model.userDetail.state)))
                                                 {
                                                     if (!string.IsNullOrEmpty(Model.userDetail.city.ToString())) { state1 = ", " + Model.userDetail.state; }
                                                     else { state1 = Model.userDetail.state; }
                                                     <li> @Model.userDetail.city@state1</li>
                                                 }
                                                 else
                                                 { <li>Lagos, Nigeria</li>}
                                             }
                                       
                                        @if (Model.loginid != 0 && Model.userid != 0 && Model.loginid == Model.userid)
                                        {
                                             @*<li><a href="@Url.Action("EditProfile", "UserDashboardWEB", new { userid = string.IsNullOrEmpty(Model.userDetail.userurl.ToLower()) ? Model.userid.ToString() : Model.userDetail.userurl.ToLower() })">Tell us more about yourself</a></li>*@
                                            <li><a href="@Url.Action("EditProfile", "UserDashboardWEB", new { userid = Model.userid})">Tell us more about yourself</a></li>
                                        }
										
									</ul>

                                   @if (Model.loginid != 0 && Model.loginid == Model.userid && (!string.IsNullOrEmpty(Model.userDetail.facebookid) || !string.IsNullOrEmpty(Model.userDetail.twitterid) || !string.IsNullOrEmpty(Model.userDetail.googleid)))
                                   {    
                                        <ul class="social-links">
                                            @if (!string.IsNullOrEmpty(Model.userDetail.facebookid))
                                            {
										        <li><a class="fb-bg" href='https://www.facebook.com/@Model.userDetail.facebookid' target="_blank">
										        <i class="icon-facebook"></i>
										        </a></li>
                                            } 
                                            @if (string.IsNullOrEmpty(Model.userDetail.facebookid))
                                            {
                                                 <li><a class="fb-bg inactive" href="#">
										        <i class="icon-facebook"></i>
										        </a></li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.userDetail.twitterid))
                                            {
                                                Int64 ID = 0;
                                                string twturl = string.Empty;
                                                if (Int64.TryParse(Model.userDetail.twitterid, out ID))
                                                {
                                                    twturl = "https://twitter.com/intent/user?user_id=" + Model.userDetail.twitterid;
                                                }
                                                else
                                                {
                                                    twturl = "https://twitter.com/" + Model.userDetail.twitterid;
                                                }
										         <li><a class="tw-bg" href="@twturl" target="_blank">
										        <i class="icon-twitter"></i>
										        </a></li>
                                            }
                                            @if (string.IsNullOrEmpty(Model.userDetail.twitterid))
                                            {
                                                 <li><a class="tw-bg inactive" href="#">
										        <i class="icon-twitter"></i>
										        </a></li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.userDetail.googleid))
                                            {
										        <li><a class="gp-bg" href='https://plus.google.com/@Model.userDetail.googleid' target="_blank">
										        <i class="icon-gplus"></i>
										        </a></li>
                                            }
                                            @if (string.IsNullOrEmpty(Model.userDetail.googleid))
                                            {
                                                <li><a class="gp-bg inactive" href="#">
										        <i class="icon-gplus"></i>
										        </a></li>
                                            }
									        </ul>
                                   }
                                   else
                                   {
                                       if (Model.loginid != 0 && Model.loginid != Model.userid && (!string.IsNullOrEmpty(Model.userDetail.facebookid) || !string.IsNullOrEmpty(Model.userDetail.twitterid) || !string.IsNullOrEmpty(Model.userDetail.googleid)))
                                       {
                                        <ul class="social-links">
                                            @if (!string.IsNullOrEmpty(Model.userDetail.facebookid))
                                            {
										        <li><a class="fb-bg" href='https://www.facebook.com/@Model.userDetail.facebookid' target="_blank">
										        <i class="icon-facebook"></i>
										        </a></li>
                                            } 
                                            @if (string.IsNullOrEmpty(Model.userDetail.facebookid))
                                            {
                                                 <li><a class="fb-bg inactive" href="#">
										        <i class="icon-facebook"></i>
										        </a></li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.userDetail.twitterid))
                                            {
                                                Int64 ID = 0;
                                                string twturl = string.Empty;
                                                if (Int64.TryParse(Model.userDetail.twitterid, out ID))
                                                {
                                                    twturl = "https://twitter.com/intent/user?user_id=" + Model.userDetail.twitterid;
                                                }
                                                else
                                                {
                                                    twturl = "https://twitter.com/" + Model.userDetail.twitterid;
                                                }
										         <li><a class="tw-bg" href="@twturl" target="_blank">
										        <i class="icon-twitter"></i>
										        </a></li>
                                            }
                                            @if (string.IsNullOrEmpty(Model.userDetail.twitterid))
                                            {
                                                 <li><a class="tw-bg inactive" href="#">
										        <i class="icon-twitter"></i>
										        </a></li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.userDetail.googleid))
                                            {
										        <li><a class="gp-bg" href='https://plus.google.com/@Model.userDetail.googleid' target="_blank">
										        <i class="icon-gplus"></i>
										        </a></li>
                                            }
                                            @if (string.IsNullOrEmpty(Model.userDetail.googleid))
                                            {
                                                <li><a class="gp-bg inactive" href="#">
										        <i class="icon-gplus"></i>
										        </a></li>
                                            }
									        </ul>
                                       }
                                   }
									@if (!string.IsNullOrEmpty(Model.userDetail.description))
         {<p class="description">@Model.userDetail.description</p>}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-strip-bg">
					<div class="header-strip-container row">
						<div class="header-strip columns medium-12">
							<ul class="strip-list" id="menuid">
								@*<li class="active" id="Activity"><a  onclick="Display('Activity');" style="line-height: 2.1875rem;">
									<i class="icon-flag"></i> Activity
								</a></li>
								<li id="Likes" class=""><a onclick="Display('Likes');">
									<span class="counter">@Model.usermenucount.FirstOrDefault().likecount</span><br>Likes
								</a></li>
								<li class="" id="Reviews"><a  onclick="Display('Reviews')">
									<span class="counter">@Model.usermenucount.FirstOrDefault().reviewcount</span><br>Reviews
									</a></li>
								<li id="Followers" class=""><a onclick="Display('Followers')">
									<span class="counter">@Model.usermenucount.FirstOrDefault().followercount</span><br>Followers
								</a></li>
                                
                                        <li id="Following" class=""><a onclick="Display('Following')">
									   <span class="counter">@Model.usermenucount.FirstOrDefault().followingcount</span><br>Following
								         </a></li>
                                @if (Model.loginid != 0)
                                {
                                    if (Model.loginid == Model.userid)
                                    {
								        <li id="Saved" class=""><a onclick="Display('Saved')">
									        <span class="counter">@Model.usermenucount.FirstOrDefault().savedcount</span><br>Saved
								        </a></li>
                                    }
                                    else
                                    {<li id="Saved" class="" style="display:none;"></li>}
                                }
                                else
                                {
                                 <li id="Saved" class="" style="display:none;"></li>
                                }
								<li id="Badges" class="" style="display:none;"><a onclick="Display('Badges')">
									<span class="counter">11</span><br>Badges
								</a></li>
								    <li id="Photos" class=""><a onclick="Display('Photos')">
									    <span class="counter">@Model.usermenucount.FirstOrDefault().photocount</span><br>Photos
								    </a></li>
                                @if (Model.userClaimedBusiness.Count() > 0)
                                {
								<li id="Businesses" class="single-line right"><a data-dropdown="dropBiz">
									<i class="icon-briefcase"></i> My Businesses
								</a></li>}*@
                                <li class="active" id="Activity"><a  onclick="Display('Activity');" style="line-height: 2.1875rem;">
									<i class="icon-flag"></i> Activity
								</a></li>
								<li id="Likes" class=""><a onclick="Display('Likes');">
									<span class="counter">@Model.usermenucount.FirstOrDefault().likecount</span><br>Likes
								</a></li>
								<li class="" id="Reviews"><a  onclick="Display('Reviews')">
									<span class="counter">@Model.usermenucount.FirstOrDefault().reviewcount</span><br>Reviews
									</a></li>
								<li id="Followers" class=""><a onclick="Display('Followers')">
									<span class="counter" id="Followerscnt">@Model.usermenucount.FirstOrDefault().followercount</span><br>Followers
								</a></li>
                                
                                        <li id="Following" class=""><a onclick="Display('Following')">
									   <span class="counter">@Model.usermenucount.FirstOrDefault().followingcount</span><br>Following
								         </a></li>
                              
                                 <li id="Saved" class="" style="display:none;"></li>
								<li id="Badges" class="" style="display:none;"><a onclick="Display('Badges')">
									<span class="counter">11</span><br>Badges
								</a></li>
								    <li id="Photos" class=""><a onclick="Display('Photos')">
									    <span class="counter">@Model.usermenucount.FirstOrDefault().photocount</span><br>Photos
								    </a></li>
                                @if (Model.userClaimedBusiness != null && Model.userClaimedBusiness.Count() > 0)
                                {
								        <li id="Businesses" class="single-line right"><a data-dropdown="dropBiz">
									        <i class="icon-briefcase"></i> My Businesses
								        </a></li>
                                }
							</ul>
						</div>
					</div>
				</div>
				<div class="main-container row">
					<div class="main-info-container columns medium-8">
                        @if (Model.loginid != 0)
                        {
                        <div class="loading-box text-center" id="spinner" >
                                    <img src="@loadingspinner"  alt="" />
                                </div>
                        }
						 <div class="activity-container" style="display:none;">
                             @if (Model.loginid != 0)
                             {
							<h4>Activity</h4>
                                 <div id="headermenu1">
                                     @if (Model.usermenucount.FirstOrDefault().activitycount <= 0 && Model.userid == Model.loginid)
                                     {
                                       <p class="nothing">You haven't done anything yet. Discover and interact with businesses now.
                                           <a id="discoverid" class="button button-red" href="@ConfigurationManager.AppSettings["WebsiteRootPath"].ToString()" style="display:block;width:100px;margin-left:306px;">Discover</a></p>
                                     }
                                     </div>
                                     if (Model.usermenucount.FirstOrDefault().activitycount <= 0 && Model.userid != Model.loginid)
                                     {
                                       <p class="nothing"><strong>There is no activity for this user.</strong></p>
                                     }
							  <ul id="addActivityList" class="activity-list"></ul>
                                     if (Model.usermenucount.FirstOrDefault().activitycount > 10)
                                     {
                                     <a class="button button-red expand" onclick="javasript:getPartialRecords(5,'addActivityList',0);" id="ActivityViewMore" style="display:none;"><i class="icon-down-open"></i>View More</a>
                                     }
                             }
                            @* <div class="newsfeed-content-inner row">
					            <div class="main-content columns medium-8">
						            <h3>Social Activities <small><i class="icon-ccw"></i></small></h3>
						            <div class="feed-item-box">
							            <div class="feed-item-pic">
								            <a href="#"><img src="img/lab-profile2.jpg" alt="user photo"></a>
							            </div>
							            <div class="feed-item-inner">
								            <div class="feed-item-header">
									            <a href="#" class="title">John Doe </a>
								            </div>
								            <div class="feed-item-content">
									            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, sunt, maiores, laboriosam, voluptate dolor aspernatur nam ipsa soluta deleniti molestiae quisquam corporis incidunt in assumenda quos voluptatum dolore omnis temporibus!</p>
								            </div>
								            <div class="feed-item-footer">
									            <div class="actions left">
										            <a href="#"><i class="icon-heart"></i>Like</a> <a href="#"><i class="icon-comment"></i>Comment</a> <a href="#"><i class="icon-share"></i>Share</a>
									            </div>
									            <div class="view-actions right">
										            <a href="#">24 Likes</a> &middot; <a href="#">6 Comments</a>
									            </div>
								            </div>
							            </div>
						            </div>
					            </div>
					            <div class="side-content columns medium-4">
						            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolorem voluptates doloremque saepe soluta incidunt illo quaerat eos aperiam cum deserunt doloribus commodi odio quidem nesciunt! Nobis sunt aliquam unde!</p>
					            </div>
				            </div>*@
                             else
                             {
                             <div class="not-loggedin-container">
                                 <div class="nothing">
								<p class="lead red"><img src="../img/connect-people.png" alt=""><br>You need to have an account to view more of @Model.userDetail.contactname's profile.</p>
								<p>If you already have an account you can <a class="red-link" href="@Url.Action("Login", "Account", new { rturl = Request.Url.AbsoluteUri.ToString().Replace("_follow", "") })">login</a> or create an account. It should take only a minute.</p><a class="button button-red" href="@Url.Action("UserReg", "UserReg")">Create an account</a>
							</div>

							   @* <div class="nothing">
								    <p class="lead red">You need to have an account to view this profile.</p>
								    <p><img src="../img/connect-people.png" alt=""><br>Signup now to know more about @Model.userDetail.contactname.<br>
                                        <a class="button button-red" href="@Url.Action("Login", "Account", new { rturl=Request.Url.AbsoluteUri.ToString() })">Signup</a>
								    </p>
							    </div>*@
						     </div>
                             }
						</div> 
						 <div class="likes-container" style="display:none;">
							<h4>Likes</h4>
							<div class="" id="nothinglike">
                                <div id="headermenu2">
                                    @if (Model.usermenucount.FirstOrDefault().likecount <= 0 && Model.userid == Model.loginid)
                                    {
								    <h8>You haven't liked any business yet.</h8>
								    <p><strong>You can start by liking any of the businesses below: </strong></p>
                                    }  
                                    </div>
                                     @if (Model.usermenucount.FirstOrDefault().likecount <= 0 && Model.userid != Model.loginid)
                                     {
                                           <p class="nothing"><strong>The user has not liked any business yet.</strong></p>
                                     } 
                                 
                                <ul id="addLikeList" class="like-list"></ul>
                                 <a class="button button-red expand" onclick="javasript:getPartialRecords(1,'addLikeList',0);" id="LikeViewMore" style="display:none;"><i class="icon-down-open"></i>View More</a>
							</div>
						</div> 
                         <div class="reviews-container" style="display: none;">
							<h4>Reviews</h4>
							<div class="" id="nothingReviews">
                                <div id="headermenu3">
                                    @if (Model.usermenucount.FirstOrDefault().reviewcount <= 0 && Model.userid == Model.loginid)
                                    {
                                        <h8>You haven't reviewed any business yet.</h8>
								        <p><strong>You can start by reviewing any of the businesses below: </strong></p>
                                    }
                                    </div>
                                     @if (Model.usermenucount.FirstOrDefault().reviewcount <= 0 && Model.userid != Model.loginid)
                                     {
                                           <p class="nothing"><strong>The user is yet to review businesses.</strong></p>
                                     } 
                                 
                                <ul id="addReviewList" class="review-list"></ul>
                                <a class="button button-red expand" onclick="javasript:getPartialRecords(2,'addReviewList',0);" id="ReviewViewMore" style="display:none;"><i class="icon-down-open"></i>View More</a>
							</div>
							@*<ul class="review-list hide">
                                        @foreach (var review in Model.userReviewBusiness)
                                        {
                                            j++;
                                            if (j >= 11)
                                            { 
                                              <li class="review-item" id="hiddenReview_@j" style="display:none;">
									        <div class="review-header">
										        <span class="bname"><a href='http://www.vconnect.com/@review.businessurl'>@review.businessname</a></span>
										        <span class="rating">
                                                    @for (int i1 = 1; i1 <= review.avgrating; i1++)
                                                    { 
											        <i class="icon-star"></i>
                                                    }
                                                    @for (int i2 = 1; i2 <= (5 - review.avgrating); i2++)
                                                    { 
											        <i class="icon-star-empty"></i>
                                                    }
										        </span>
										        <span class="review-date"><a href="#"><i class="icon-share-alt"></i>@review.modifieddate</a></span>
									        </div>
									        <div class="review-body">
										        <p>@review.reviewdetail</p>
									        </div>
								               </li>
                                            }
                                            else
                                            {   
								        <li class="review-item">
									        <div class="review-header">
										        <span class="bname"><a href='http://www.vconnect.com/@review.businessurl'>@review.businessname</a></span>
										        <span class="rating">
                                                    @for (int i3 = 1; i3 <= review.avgrating; i3++)
                                                    { 
											        <i class="icon-star"></i>
                                                    }
                                                    @for (int i4 = 1; i4 <= (5 - review.avgrating); i4++)
                                                    { 
											        <i class="icon-star-empty"></i>
                                                    }
										        </span>
										        <span class="review-date"><a href="#"><i class="icon-share-alt"></i>@review.modifieddate</a></span>
									        </div>
									        <div class="review-body">
										        <p>@review.reviewdetail</p>
									        </div>
								        </li>
                                            }
                                        }
							           </ul>*@
						</div> 
                         <div class="followers-container" style="display: none;">
							<h4>Followers</h4>
                                  <div class="" id="followers1Sug">
                                 <div id="headermenu4">
                                        @if (Model.usermenucount.FirstOrDefault().followercount <= 0)
                                        {
								            @*<p class="nothing"><strong>@Model.userDetail.contactname currently have no followers<br>:(</strong></p>*@
                                            if (Model.userid == Model.loginid)
                                            { <p class="nothing"><strong>You currently have no followers<br>:(</strong></p>}
                                            else
                                            { <p class="nothing"><strong>@Model.userDetail.contactname currently have no followers<br>:(</strong></p>}

                                        }
                                     </div>
                                          @*@if (Model.usermenucount.FirstOrDefault().followercount <= 0 && Model.userid != Model.loginid)
                                          {
                                               <p class="nothing">There like be the first one to follow.</p>
                                          } *@
                                      @if (Model.usermenucount.FirstOrDefault().followercount > 0)
                                      {
                                        <ul id="addFollowerList" class="follower-list"></ul>}
                                      else
                                      {<ul id="addFollowerList" class="medium-block-grid-2 nothing-suggestions-grid"></ul>}
							 </div>
						</div> 
                         <div class="following-container" style="display: none;">
							<h4>Following</h4>
                            
                                 <div class="" id="followingSug">
                                 <div id="headermenu5">
                                        @if (Model.usermenucount.FirstOrDefault().followingcount <= 0 && Model.userid == Model.loginid)
                                        {
								            <h8>You are not following anybody yet.</h8>
							             	<p><strong>You can start by following these people: </strong></p>
                                        }
                                        else
                                        {
                                            if (Model.usermenucount.FirstOrDefault().followingcount <= 0)
                                            {
                                             <p class="nothing"><strong>No following to display.</strong></p>
                                            }
                                        }
                                </div>
                                       <ul id="addFollowingList" class="following-list"></ul>
                                       <a class="button button-red expand" onclick="javasript:getPartialRecords(8,'addFollowingList',0);" id="FollowingViewMore" style="display:none;"><i class="icon-down-open"></i>View More</a>
							 </div>
						</div> 
						 <div class="saved-container" style="display: none;">
							<h4>Saved Businesses</h4>
							<div class="" id="nothingSaved">
                                <div id="headermenu6">
                                    @if (Model.usermenucount.FirstOrDefault().savedcount <= 0)
                                    {
                                    <h8>You haven't saved any business as your favorite yet.</h8>
								    <p><strong>You can start by saving any of the businesses below: </strong></p>
                                    }
                                </div>
							      	<ul id="addSavedList" class="saved-list"></ul>
                                     <a class="button button-red expand" onclick="javasript:getPartialRecords(3,'addSavedList',0);" id="SavedViewMore" style="display:none;"><i class="icon-down-open"></i>View More</a>
							</div>
						</div> 
                         <div class="photos-container" style="display: none;">
							<h4>Photos</h4>
							<div class="nothing">
                                @if (Model.usermenucount.FirstOrDefault().photocount <= 0)
                                {   
                                    <div id="headermenu7">
                                            @if (Model.userid == Model.loginid)
                                            {
                                                <h5><strong>You haven't added any photos yet.</strong></h5>
								                <p>Follow the steps below to add a photo and share your experiences in your favorite businesses.</p>
								                <ul class="medium-block-grid-3 action-steps">
									                <li><i class="icon-search-alt"></i><br>Search</li>
									                <li><i class="icon-flag"></i><br>Select</li>
									                <li><i class="icon-plus"></i><br>Add Photo</li>
								               </ul>
                                            }
                                            else
                                            {
                                                <p class="nothing"><strong>@Model.userDetail.contactname currently have no photo.</strong></p>
                                            }
                                     </div>
                                }
                                else
                                {
                                <div id="displayImages">
                                    <div class="images-box clearfix">    
                                        <ul id="addPhotoList" class="medium-block-grid-4"></ul>
                                         <a class="button button-red expand" onclick="javasript:getPartialRecords(4,'addPhotoList',0);" id="PhotoViewMore"><i class="icon-down-open"></i>View More</a>
                                    </div>
                                  </div>
                                }
							</div>
						</div>	
					</div>
                    <div class="right-container columns medium-4">
						<!-- Suggestions of who to follow, complete your profile -->
                             @if (Model.loginid != 0 && Model.userid != 0 && Model.loginid == Model.userid)
                             {
                                 <div class="complete-profile-container">
                                     @if (Model.percentage != null)
                                     {
							            <p>Your Profile is @Model.percentage% complete.</p>
							            <div class="progress-container">
								            <span class="progress-level" style="width:@Model.percentage%"></span>
							            </div>
                                     }
                                     else
                                     {
                                        <p>Your Profile is 0% complete.</p>
							            <div class="progress-container">
								            <span class="progress-level" style="width:0%"></span>
							            </div>
                                     }
                                     @if (Model.percentage != 100)
                                     {
							            @*<a class="button button-white tiny" href='@Url.Action("EditProfile", "UserDashboardWEB", new { userid = string.IsNullOrEmpty(Model.userDetail.userurl.ToLower()) ? Model.userid.ToString() : Model.userDetail.userurl.ToLower() })'>Edit your profile</a>*@
                                          <a class="button button-white tiny" href='@Url.Action("EditProfile", "UserDashboardWEB", new { userid = Model.userid })'>Edit your profile</a>
                                     }
                                     </div>
                             }
                        @if (Model.loginid != 0)
                        {
						        <div class="suggestions-container" id="suggestions_container">
               <div class="suggestions-header">
                <h5>People You May Know</h5>
               </div>
               <ul class="suggestion-list">
                                        @if (Model.userfollowersuggestion.Count > 0)
                                        {
                                            int i = 0;
                                            foreach (var followersugt in Model.userfollowersuggestion)
                                            {
                                                i++;
                                                <li class="suggestion-item" id="closefollowersug_@i">
                     <a href="#" class="close" onclick="closefollowersug('closefollowersug_@i')">&times;</a>
                     <a id="followsug_@followersugt.userid" href="#" class="button follow-btn" onclick="fnGetLoginPartial('follow',@followersugt.userid,@Model.loginid,'followsug_@followersugt.userid');"><i class="icon-user-add"></i> Follow</a>
                     <p>
                                                    @if (followersugt.photo != null)
                                                    {
                                                        if (followersugt.photo == "~/App_Themes/Mobile/images/review-img.png")
                                                        {
                                                         <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@followersugt.userurl.ToLower()"><img class="profile" src="http://image.vconnect.bz/static/WEB/img/profile-photo.jpg" alt="profile"> @followersugt.name</a>
                                                        }
                                                        else
                                                        {
                                                          <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@followersugt.userurl.ToLower()"><img class="profile" src='@followersugt.photo' alt="profile"> @followersugt.name</a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                    <a href="@ConfigurationManager.AppSettings["ProfilePath"].ToString()@followersugt.userurl.ToLower()"><img class="profile" src="http://image.vconnect.bz/static/WEB/img/profile-photo.jpg" alt="profile"> @followersugt.name</a>}
                     </p>
                     @*<small class="other-users"><i class="icon-facebook"></i> <a href="#">John Doe</a>, <a href="#">James Kelvin</a> and <a href="#">24 others</a> follow him.</small>*@
                                                    <small class="other-users">@followersugt.followerscnt followers</small>
                </li>
                                            }
                                        }
               </ul>
              </div>
                        }
					</div>
				</div>
				<div class="dropdowns">
					<ul id="dropBiz" class="f-dropdown" data-dropdown-content>
                     @if (Model.userClaimedBusiness != null)
                     {
                         foreach (var claimedList in Model.userClaimedBusiness)
                         {
                             if (Model.userid == Model.loginid)
                             { <li><a href='@ConfigurationManager.AppSettings["WebsiteRootPath"].ToString()mybusiness?BID=@claimedList.contentid&bname=@claimedList.businessname&returnaction=Index&retuncontroller=BoDashboardWeb'>@claimedList.businessname</a></li>}
                             else
                             { <li><a href='@ConfigurationManager.AppSettings["WebsiteRootPath"].ToString()@claimedList.businessurl'>@claimedList.businessname</a></li>}
                         }
                     }
					</ul>
				</div>
			</div>
            <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
                top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
                opacity: .8; filter: alpha(opacity=70);display:none" >
                <p style="position: absolute; top: 30%; left: 45%; color: White;">
                    Please wait...<img src="~/img/ajax-loader.gif"  alt="loading">
                </p>
            </div>

            <div id="loginModal" class="reveal-modal login-modal small" data-reveal>
                 <div class="modal-header">  <p class="lead title">Join VConnect to do this</p>
                </div>    
                <div class="modal-content">
                    <p>
                        <div class="modal-header row">
                            <div class="columns medium-12">                             
                                <p>Find your friends who are already here. VConnect helps you to discover great places around you.</p>
                            </div>
                            
                        </div>                        
                        <div class="modal-content row text-center">
                            <div class="columns medium-12">
                              
                                @Html.ActionLink("Signup with Facebook", "Facebook", "Account", new { }, new { id = "returnFBParam", @class = "button button-fb" })
                               <p><strong>OR Signup with @Html.ActionLink("your email", "UserReg", "UserReg", new { }, new { id = "returnRegParam" })</strong></p>
                            </div>
                            
                        </div>
                       <div class="modal-footer row">
                            Already on VConnect? @Html.ActionLink("Log in", "Login", "Account", new { }, new { id = "returnParam" })
                        </div></p>
                    </div>
                        <a class="close-reveal-modal">&#215;</a>
                    </div>

            <div id="sendModal" class="reveal-modal small" data-reveal>
                 <div class="modal-header">                <p class="lead title">Send to mobile phone </p>   
                </div>    
                <div class="modal-content">               
                <div class="send-mobile-1">
                  <p>Enter the mobile number below:</p>
                <form  data-abide="ajax" class="form-ajaxSendtomobile">
                    <div class="row collapse">
                      <div class="columns medium-8 input-wrapper" id="divphone">
                        <input type="text" placeholder="Enter mobile number" id="RecipientPhoneNumber" onkeypress = "return isNumberKey(event)" maxlength="11"  required>
                        <small class="error">Enter your mobile number</small>
                      </div>
                      <div class="columns medium-4"><button class="button postfix">Send</button></div>
                    </div>
                  </form>                  
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
                </div>            
            <div id="confirmModal" class="reveal-modal small" data-reveal>
                <div class="modal-header">                  
                </div>    
                <div class="modal-content">               
                <div class="send-mobile-3">
                    <p>
                  Details sent successfully.</p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
              </div>
            <div id="errorSendModal" class="reveal-modal small" data-reveal>
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">              
                <div class="send-mobile-3">
                    <p>
                  Phone number is not valid.</p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
              </div>
            <div id="confirmReviewModal" class="reveal-modal small" data-reveal>   
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                      
                <div class="send-mobile-3">
                  <p>The business review added successfully, and sent to Admin for Approval.</p>
                </div>
                </div>
                <a class="close-reveal-modal">&#215;</a>
              </div>
            <div id="confirmReviewAfterLoginModal" class="reveal-modal small" data-reveal>   
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                      
                <div class="send-mobile-3">
                    <p>
                  The business review added successfully, and sent to Admin for Approval.</p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
              </div>
            <div id="confirmReportModal" class="reveal-modal small" data-reveal>     
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                    
                <div class="send-mobile-3">
                    <p>
                  The Report-Incorrect information added successfully, and sent to Admin.</p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="confirmReviewisHelpfullModal" class="reveal-modal small" data-reveal>
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                         
                <div class="send-mobile-3">
                    <p>
                  Thank you for your feedback.</p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
              </div>
            <div id="confirmReviewFollowModal" class="reveal-modal small" data-reveal>   
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                      
                <div class="send-mobile-3">
                    <p>
                  You are now following this user.</p>
                </div>
                    </div>
                <a class="close-reveal-modal" onclick="reloadurl();">&#215;</a>
            </div>
            <div id="confirmReviewCantFollowModal" class="reveal-modal small" data-reveal>  
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                       
                <div class="send-mobile-3">
                    <p>
                  You can't follow yourself.</p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="confirmRatingModal" class="reveal-modal small" data-reveal>           
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">              
                <div class="send-mobile-3">
                    <p>
                  Thanks for rating this business! </p>@*To submit the ratings please click"Submit" otherwise click "Cancel".*@
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="alreadyRatingModal" class="reveal-modal small" data-reveal>      
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                   
                <div class="send-mobile-3">
                    <p>
                  Thanks, but you have already rated this business! </p>@*To submit the ratings please click"Submit" otherwise click "Cancel".*@
                </div>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="errorRatingModal" class="reveal-modal small" data-reveal>      
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                   
                <div class="send-mobile-3">
                    <p>
                  Sorry! some error occured.</p> @*To submit the ratings please click"Submit" otherwise click "Cancel".*@
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="confirmReviewAlreadyFollowModalOld" class="reveal-modal small" data-reveal>   
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                      
                <div class="send-mobile-3">
                    <p>
                  You are already following this user.</p>
                </div>
                </div>
                <a class="close-reveal-modal" onclick="reloadurl();">&#215;</a>
            </div>
            <div id="confirmReviewAlreadyFollowModalOld1" class="reveal-modal small" data-reveal> 
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                        
                <div class="send-mobile-3">
                    <p>
                  You can't follow yourself.</p>
                </div>
                    </div>
                <a class="close-reveal-modal" onclick="reloadurl();">&#215;</a>
            </div>
            <div id="confirmReviewAlreadyFollowModal" class="reveal-modal small" data-reveal> 
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                        
                <div class="send-mobile-3">
                 <p> User Unfollowed successfully.</p>
                </div>
                    </div>
                <a class="close-reveal-modal" onclick="reloadurl();">&#215;</a>
            </div>
            <div id="loadingModal"  class="reveal-modal small" data-reveal>  
                 <div class="modal-header">           <p class="lead title">Please wait....</p>             
                </div>    
                <div class="modal-content">
                                                 
                <div class="send-mobile-3" style="text-align:center">
                    <p>
                    <img src="@logo_spinning"/></p>
                </div>   
                    </div>             
            </div>           
            <div id="imgUploadModal" class="reveal-modal small" data-reveal>    
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                     
                <div class="send-mobile-3">
                    <p>
                  Image uploaded sucessfully</p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="imgEditModal" class="reveal-modal small" data-reveal> 
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                        
                <div class="send-mobile-3">
                    <p>
                  Title and Description for Image(s), updated sucessfully. </p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="imgUploadErrorModal" class="reveal-modal small" data-reveal>      
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                   
                <div class="send-mobile-3" id="photoUploadError">
                  <p>Error in Image uploading.</p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="wasthishelpfulModal" class="reveal-modal small" data-reveal>  
                 <div class="modal-header">                  
                </div>    
                <div class="modal-content">                       
                <div class="send-mobile-3">
                  <p>Thanks for your feedback. </p>
                </div>
                    </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="addPhotoModal" class="reveal-modal small" data-reveal>
                 <div class="modal-header">   <p class="lead title text-upper"><i class="icon-picture"></i> Add Photos to Business</p>
                </div>    
                <div class="modal-content">
                <p>
                <div class="btn-box hide">
                  <button type="button" class="button edit-btn">Edit</button>
                  <button type="button" class="button done-btn">Done</button>
                </div>
                <div class="add-photo-1">   
                    
                    @*//action="/BizDetail/SaveUploadedFile" action="@Url.Action("SaveUploadedFile","BizDetail")"    *@  
                    
                  <form  action="/BizDetail/SaveUploadedFile?bizid=52"  enctype = "multipart/form-data" id="add-photo"  class="dropzone-form"  method="post">
                    <div class="dz-message">
                      <span>Click or drop files here to upload</span>
                    </div>
                    <div class="fallback">
                      Select a photo: <input type="file">
                    </div>
                  </form>
                        
                </div>   
                <div id="container"><div class="zaq">  
                <form  action="/BizDetail/EditPhotoTitleDescription?bizid=52" method="post">
                 <div class="add-photo-2 hide">                                                 
                </div>
                <div class="save-btn-box hide">                    
                        <button class="button save-btn" type="button" onclick="EditPhotoTitleDescription()">Save Changes</button> @*onclick="javascript:EditPhotoTitleDescription()"*@                    
                </div>
               </form>
                    </div></div>
                <div class="upload-btn-box hide">
                  <button class="button upload-btn" type="button">Upload images</button>
                </div> 
                </p>        
                <a class="close-reveal-modal">&#215;</a>
              </div>
           </div>
<script type="text/javascript">
    function Display(item)
    {
        $('#LikeViewMore').hide();
        $('#ReviewViewMore').hide();
        $('#SavedViewMore').hide();
        $('#PhotoViewMore').hide();
        $('#ActivityViewMore').hide();
        $('#FollowersViewMore').hide();
        $('#FollowingViewMore').hide();
        $("#spinner").show();

        if ('@Model.loginid' != 0)
            menucountid(item);
        else
            item = "Activity";
        debugger;
        if (item == "Activity")
        {
            $('#addActivityList').innerHTML = '';
            if ('@Model.usermenucount.FirstOrDefault().activitycount' <= 0 && '@Model.loginid' != 0 && '@Model.loginid' != '@Model.userid')
                $("#spinner").hide();
            $('.likes-container').hide();
            $('.reviews-container').hide();
            $('.followers-container').hide();
            $('.following-container').hide();
            $('.saved-container').hide();
            $('.Badges').hide();
            $('.photos-container').hide();
            $('.activity-container').show();
            document.getElementById('hiddenpage').value = '0';
            if (document.getElementById('addActivityList') != null)
                document.getElementById('addActivityList').innerHTML = '';
            if ('@Model.usermenucount.FirstOrDefault().activitycount' > 0) {
                getPartialRecords(5, 'addActivityList',1);
            }
            else { $("#spinner").hide(); }
        }
        else if (item == "Likes")
        {
            $('#addLikeList').innerHTML = '';
            if ('@Model.usermenucount.FirstOrDefault().likecount' <= 0 && '@Model.loginid' != 0 && '@Model.loginid' != '@Model.userid')
                $("#spinner").hide();
            $('.likes-container').show();
            $('.reviews-container').hide();
            $('.followers-container').hide();
            $('.following-container').hide();
            $('.saved-container').hide();
            $('.Badges').hide();
            $('.photos-container').hide();
            $('.activity-container').hide();
            //$('#LikeViewMore').show();
            document.getElementById('hiddenpage').value = '0';
            if (document.getElementById('addLikeList') != null)
            document.getElementById('addLikeList').innerHTML = '';
            if (('@Model.loginid' != '@Model.userid' && '@Model.usermenucount.FirstOrDefault().likecount' > 0) || ('@Model.loginid' == '@Model.userid')) {
                getPartialRecords(1, 'addLikeList',1);
            }
        }
        else if (item == "Reviews")
        {
            $('#addReviewList').innerHTML = '';
            if ('@Model.usermenucount.FirstOrDefault().reviewcount' <= 0 && '@Model.loginid' != 0 && '@Model.loginid' != '@Model.userid')
                $("#spinner").hide();
            $('.likes-container').hide();
            $('.reviews-container').show();
            $('.followers-container').hide();
            $('.following-container').hide();
            $('.saved-container').hide();
            $('.Badges').hide();
            $('.photos-container').hide();
            $('.activity-container').hide();
           // $('#ReviewViewMore').show();
            document.getElementById('hiddenpage').value = '0';
            if (document.getElementById('addReviewList') != null)
            document.getElementById('addReviewList').innerHTML = '';
            if (('@Model.loginid' != '@Model.userid' && '@Model.usermenucount.FirstOrDefault().reviewcount' > 0) || ('@Model.loginid' == '@Model.userid')) {
                getPartialRecords(2, 'addReviewList',1);
            }
        }
        else if (item == "Followers")
        {
            $('#addFollowerList').innerHTML = '';
            var followcntnew = document.getElementById("Followerscnt").innerHTML;
            if (followcntnew <= 0 && '@Model.loginid' != 0 && '@Model.loginid' != '@Model.userid') {
                $("#spinner").hide();
                if (document.getElementById('followers1Sug') !=null)
                document.getElementById('followers1Sug').className = "nothing";
            }
            $('.likes-container').hide();
            $('.reviews-container').hide();
            $('.followers-container').show();
            $('.following-container').hide();
            $('.saved-container').hide();
            $('.Badges').hide();
            $('.photos-container').hide();
            $('.activity-container').hide();
           // $('#FollowerViewMore').show();
            document.getElementById('hiddenpage').value = '0';
            if (document.getElementById('addFollowerList') != null)
            document.getElementById('addFollowerList').innerHTML = '';
            if (('@Model.loginid' != '@Model.userid' && followcntnew > 0) || ('@Model.loginid' == '@Model.userid')) {
                getPartialRecords(6, 'addFollowerList',1);
            }
        }
        else if (item == "Following")
        {
            $('#addFollowingList').innerHTML = '';
            if ('@Model.usermenucount.FirstOrDefault().followingcount' <= 0 && '@Model.loginid' != 0 && '@Model.loginid' != '@Model.userid') {
                $("#spinner").hide();
                if (document.getElementById('followingSug') != null)
                document.getElementById('followingSug').className = "nothing";
            }
            $('.likes-container').hide();
            $('.reviews-container').hide();
            $('.followers-container').hide();
            $('.following-container').show();
            $('.saved-container').hide();
            $('.Badges').hide();
            $('.photos-container').hide();
            $('.activity-container').hide();
           // $('#FollowingViewMore').show();
            document.getElementById('hiddenpage').value = '0';
            if (document.getElementById('addFollowingList') != null)
            document.getElementById('addFollowingList').innerHTML = '';
            if ('@Model.loginid' == '@Model.userid') {
                if ('@Model.usermenucount.FirstOrDefault().followingcount' > 0) {
                    getPartialRecords(8, 'addFollowingList',1);
                 }
                else {
                    getPartialRecords(7, 'addFollowingList',1);
                 }
            }
            if ('@Model.loginid' != '@Model.userid') {
                if ('@Model.usermenucount.FirstOrDefault().followingcount' > 0) {
                    getPartialRecords(8, 'addFollowingList',1);
                }
            }
        }
        else if (item == "Saved")
        {
            $('#addSavedList').innerHTML = '';
            if ('@Model.usermenucount.FirstOrDefault().savedcount' <= 0 && '@Model.loginid' != 0 && '@Model.loginid' != '@Model.userid')
                $("#spinner").hide();
            $('.likes-container').hide();
            $('.reviews-container').hide();
            $('.followers-container').hide();
            $('.following-container').hide();
            $('.saved-container').show();
            $('.Badges').hide();
            $('.photos-container').hide();
            $('.activity-container').hide();
            //$('#SavedViewMore').show();
            document.getElementById('hiddenpage').value = '0';
            if (document.getElementById('addSavedList') != null)
            document.getElementById('addSavedList').innerHTML = '';
            if (('@Model.loginid' != '@Model.userid' && '@Model.usermenucount.FirstOrDefault().savedcount' > 0) || ('@Model.loginid' == '@Model.userid')) {
                getPartialRecords(3, 'addSavedList',1);
            }
        }
        else if (item == "Badges")
        {
            $('.likes-container').hide();
            $('.reviews-container').hide();
            $('.followers-container').hide();
            $('.following-container').hide();
            $('.saved-container').hide();
            $('.Badges').show();
            $('.photos-container').hide();
            $('.activity-container').hide();
           // $('#SavedViewMore').show();
        }
        else if (item == "Photos") {
            $('#addPhotoList').innerHTML = '';
            if ('@Model.usermenucount.FirstOrDefault().photocount' <= 0 )
                $("#spinner").hide();
            $('.likes-container').hide();
            $('.reviews-container').hide();
            $('.followers-container').hide();
            $('.following-container').hide();
            $('.saved-container').hide();
            $('.Badges').hide();
            $('.photos-container').show();
            $('.activity-container').hide();
            //$('#PhotoViewMore').show();
            document.getElementById('hiddenpage').value = '0';
            if (document.getElementById('addPhotoList') != null)
                document.getElementById('addPhotoList').innerHTML = '';
            getPartialRecords(4, 'addPhotoList',1);
        }
        else { $("#spinner").hide(); }
    }
</script>
<input type="hidden" id="followfromgmail" value="followfromgmail" />
<input type="hidden" id="reviewid" name="reviewid" />
<input type="hidden" id="reviewpostedby" name="reviewpostedby" />
<input type="hidden" id="reviewpostedbyName" name="reviewpostedbyName" />
<input type="hidden" id="ishelpfull" name="ishelpfull" />
<input id="hiddenpage" type="hidden" value="1"/>
<script>
    function getPartialRecords(Type,ulid,chk) {
        debugger;
        var Page = parseInt(document.getElementById('hiddenpage').value);
        Page++;
        document.getElementById('hiddenpage').value = Page;
        $.ajaxSetup({ cache: false });
         $.get('/UserDashboardWeb/GetListDataWEB', { Page: Page, Type: Type, userid: '@Model.userid' },
                         function (data) {
                             $.ajaxSetup({ cache: true });
                             if (chk == 1) {
                                 document.getElementById(ulid).innerHTML = '';
                                 $('#' + ulid).append(data.htmlcodelist);
                             }
                             else {
                                 $('#' + ulid).append(data.htmlcodelist);
                             }
                             if (data.htmlcodelist == "") {
                                 $('#LikeViewMore').hide();
                                 $('#ReviewViewMore').hide();
                                 $('#SavedViewMore').hide();
                                 $('#PhotoViewMore').hide();
                                 $('#ActivityViewMore').hide();
                                 $('#FollowersViewMore').hide();
                                 $('#FollowingViewMore').hide();
                                 $("#spinner").hide(); 
                             }
                             else {
                                 if (data.viewcnt == 10 && data.menucnt > 10 && Page<10) {
                                     $('#LikeViewMore').show();
                                     $('#ReviewViewMore').show();
                                     $('#SavedViewMore').show();
                                     $('#ActivityViewMore').show();
                                     $('#FollowersViewMore').show();
                                     $('#FollowingViewMore').show();
                                 }
                                 else {
                                     $('#LikeViewMore').hide();
                                     $('#ReviewViewMore').hide();
                                     $('#SavedViewMore').hide();
                                     $('#ActivityViewMore').hide();
                                     $('#FollowersViewMore').hide();
                                     $('#FollowingViewMore').hide();
                                 }
                                 if (data.viewcnt == 12 && data.menucnt > 12 && Page <= 12) {
                                     $('#PhotoViewMore').show();
                                 }
                                 else {
                                     $('#PhotoViewMore').hide();
                                 }
                                 @*if ((('@Model.usermenucount.FirstOrDefault().likecount') / 10 < Page || ('@Model.usermenucount.FirstOrDefault().likecount') / 10 == 1) && data.viewcnt <= 10)
                                     $('#LikeViewMore').hide();
                                 else
                                     $('#LikeViewMore').show();
                                 if ((('@Model.usermenucount.FirstOrDefault().reviewcount') / 10 < Page || ('@Model.usermenucount.FirstOrDefault().reviewcount') / 10 == 1) && data.viewcnt <= 10)
                                     $('#ReviewViewMore').hide();
                                 else
                                     $('#ReviewViewMore').show();
                                 if ((('@Model.usermenucount.FirstOrDefault().savedcount') / 10 < Page || ('@Model.usermenucount.FirstOrDefault().savedcount') / 10 == 1) && data.viewcnt <= 10)
                                     $('#SavedViewMore').hide();
                                 else
                                     $('#SavedViewMore').show();
                                     if ((('@Model.usermenucount.FirstOrDefault().photocount') / 12 < Page || ('@Model.usermenucount.FirstOrDefault().photocount') / 10 == 1) && data.viewcnt <= 12)
                                     $('#PhotoViewMore').hide();
                                 else
                                     $('#PhotoViewMore').show();
                                 if (((('@activitycnt') / 10 < Page) || ('@activitycnt') / 10 == 1) && data.viewcnt <= 10)
                                     $('#ActivityViewMore').hide();
                                 else
                                     $('#ActivityViewMore').show();
                                 if ((('@Model.usermenucount.FirstOrDefault().followercount') / 10 < Page || ('@Model.usermenucount.FirstOrDefault().followercount') / 10 == 1) && data.viewcnt <= 10)
                                     $('#FollowersViewMore').hide();
                                 else
                                     $('#FollowersViewMore').show();*@
                                 @*if (('@Model.usermenucount.FirstOrDefault().followingcount') / 10 < Page)*@
                                 $('#FollowingViewMore').hide();
                                 $("#spinner").hide();
                             }
                             app.publish('vc:gallery/refresh');
                         })
    }
    function menucountid(item) {
        debugger;
        if ('@Model.loginid' != 0 && '@Model.userid' != 0) {
            $.ajaxSetup({ cache: false });
            $.get('/UserDashboardWeb/Headermenucount', { item: item, userid: '@Model.userid' },
                           function (htmlheader) {
                               $.ajaxSetup({ cache: true });
                               if (document.getElementById('suggestions_container') != null) {
                                   document.getElementById('suggestions_container').style.display = "block";
                               }
                               debugger;
                               if (htmlheader != "" && htmlheader != null) {
                                   document.getElementById(htmlheader).style.display = "none";
                               }
                               if (htmlheader == "headermenu5") {
                                   if (document.getElementById('suggestions_container') != null && item == "Following" && '@Model.userid'=='@Model.loginid') {
                                       document.getElementById('suggestions_container').style.display = "block";
                                   }
                                   document.getElementById('followingSug').className = "";
                                   document.getElementById('addFollowingList').className = "following-list";
                               }
                               else {
                                   if (document.getElementById('suggestions_container') != null && item == "Following" && '@Model.userid' == '@Model.loginid') {
                                       document.getElementById('suggestions_container').style.display = "none";
                                   }
                                   document.getElementById('headermenu5').style.display = "block";
                                   document.getElementById('followingSug').className = "nothing";
                                   document.getElementById('addFollowingList').className = "medium-block-grid-2 nothing-suggestions-grid";
                               }
                               if (htmlheader == "headermenu4") {
                                   document.getElementById('followers1Sug').className = "";
                                   document.getElementById('addFollowerList').className = "follower-list";
                               }
                               else {
                                   document.getElementById('headermenu4').style.display = "block";
                                   document.getElementById('followers1Sug').className = "nothing";
                                   document.getElementById('addFollowerList').className = "medium-block-grid-2 nothing-suggestions-grid";
                               }
                               if (htmlheader == "headermenu2") {
                                   document.getElementById('addLikeList').className = "like-list"; 
                                   document.getElementById('nothinglike').className = "";
                               }
                               else {
                                   document.getElementById('nothinglike').className = "nothing";
                                   document.getElementById('addLikeList').className = "medium-block-grid-2 nothing-suggestions-grid";
                               }
                               if (htmlheader == "headermenu6") {
                                   document.getElementById('addSavedList').className = "saved-list";
                                   document.getElementById('nothingSaved').className = "";
                               }
                               else {
                                   document.getElementById('nothingSaved').className = "nothing";
                                   document.getElementById('addSavedList').className = "medium-block-grid-2 nothing-suggestions-grid";
                               }
                               if (htmlheader == "headermenu3") {
                                   document.getElementById('addReviewList').className = "review-list";
                                   document.getElementById('nothingReviews').className = "";
                               }
                               else {
                                   document.getElementById('nothingReviews').className = "nothing";
                                   document.getElementById('addReviewList').className = "medium-block-grid-2 nothing-suggestions-grid";
                               }
                           })
        }
        $.ajaxSetup({ cache: false });
        var claimedBusinessCount = '0';
        @if (Model.userClaimedBusiness != null)
        {
            <Text>
            claimedBusinessCount = '@Model.userClaimedBusiness.Count()' 
        </Text>
        }
        
        $.get('/UserDashboardWeb/menucount', { item: item, userid: '@Model.userid', claimed: claimedBusinessCount },
                        function (htmlcodelist) {
                            $.ajaxSetup({ cache: true });
                            debugger;
                            if (document.getElementById('menuid') != null) {
                                document.getElementById("menuid").innerHTML = '';
                                document.getElementById('menuid').innerHTML = htmlcodelist;
                            }
                         })
                     }
</script>
<script>
    function Headermenucount(item) {
        debugger;
        $.ajaxSetup({ cache: false });
            $.get('/UserDashboardWeb/Headermenucount', { item: item, userid: '@Model.userid' },
                           function (htmlheader) {
                               $.ajaxSetup({ cache: true });
                               debugger;
                               if (htmlheader != "" && htmlheader != null)
                                   document.getElementById(htmlheader).style.display = "none";
                           })
        }
</script>
<script type="text/javascript">
    //closefollowersug for right side of profile
     function closefollowersug(itemid) {
         document.getElementById(itemid).style.display = 'none';
     }

</script>
<script type="text/javascript">
    function fnsaveLike(bizID, userID, val) {
        //  debugger;
        if (val == "like" || val == "1") {
            $("#like1" + bizID).replaceWith('<a class="button button-red action-btn like-btn active radius"><i class="icon-ok"></i> Liked</a>');
        }
        else if (val == "save" || val == "2") {
            $("#save1" + bizID).replaceWith('<a class="button button-red action-btn save-btn active radius"><i class="icon-ok"></i> Saved</a>');
        }
        $.ajaxSetup({ cache: false });
        $.getJSON('@Url.Action("SaveLike", "SearchListWEB")', { bizID: bizID, userID: userID, val: val }).success(function (data) {
            $.ajaxSetup({ cache: true });
        });
    }
    function Follow(customerid, followedby, val, businessurl) {
        debugger;
        ga('send', 'event', 'BizDInteraction', 'IconClick', 'Follow');
        $.ajaxSetup({ cache: false });
        $.getJSON('@Url.Action("Follow", "UserDashboardWeb")', { customerid: customerid, followedby: followedby, status: 1, source: 'Web' }).success(function (data) {
            $.ajaxSetup({ cache: true });
            if (val == "follow" || val == "6") {
                debugger;
                var businessurlnew = 'follow_' + customerid;
                var businessurlnewing = 'following_' + customerid;
                var businessurlnewbtn = "followbtn_@Model.loginid";
                var businessurlnewbtnsug = 'followsug_' + customerid;

                if (data == 0) {
                    $("#divLoading").hide();
                    $('#confirmReviewFollowModal').foundation('reveal', 'open');
                    if (document.getElementById('followfromgmail').value == "follownotmgmail") {
                        document.getElementById('followfromgmail').value = "followfromgmailbtn";
                        //window.history.replaceState('@Request.Url.AbsoluteUri.ToString()', 'Title', '@Request.Url.AbsoluteUri.ToString().Replace("&ref=gmail", "")');
                        //window.history.pushState('@Request.Url.AbsoluteUri.ToString()', 'Title', '@Request.Url.AbsoluteUri.ToString().Replace("&ref=gmail", "")');
                    }
                    if (businessurl != "" && businessurl != null) {
                        if (businessurlnew == businessurl)
                            $("#" + businessurlnew).replaceWith('<a id="' + businessurlnew + '" href="#" class="unfollow-btn button center" onclick="fnGetLoginPartial(&#39;follow&#39;,' + customerid + ',' + followedby + ',&#39;' + businessurlnew + '&#39;);" title="unfollows"><i class="icon-ok"> Following</a>');
                        if (businessurlnewing == businessurl)
                            $("#" + businessurlnewing).replaceWith('<a id="' + businessurlnewing + '" href="#" class="unfollow-btn button center" onclick="fnGetLoginPartial(&#39;follow&#39;,' + customerid + ',' + followedby + ',&#39;' + businessurlnewing + '&#39;);" title="unfollows"><i class="icon-ok"> Following</a>');
                        if (businessurlnewbtn == businessurl && document.getElementById('mainfollowbtn') != null) {

                            document.getElementById('mainfollowbtn').innerHTML = '';
                            document.getElementById('mainfollowbtn').innerHTML = '<a id="followbtn_@Model.loginid" class="unfollow-btn button right" onclick="fnGetLoginPartial(&#39;follow&#39;,@Model.userid,@Model.loginid,&#39;followbtn_@Model.loginid&#39;);" title="unfollows"><i class="icon-ok"></i>Following</a>';
                            if (document.getElementById(businessurlnewbtnsug) != null)
                                $("#" + businessurlnewbtnsug).replaceWith('<a id="' + businessurlnewbtnsug + '" href="#" class="unfollow-btn button center" onclick="fnGetLoginPartial(&#39;follow&#39;,' + customerid + ',' + followedby + ',&#39;' + businessurlnewbtnsug + '&#39;);" title="unfollows"><i class="icon-ok"></i> Following</a>');
                        }
                        if (businessurlnewbtnsug == businessurl)
                            $("#" + businessurlnewbtnsug).replaceWith('<a id="' + businessurlnewbtnsug + '" href="#" class="unfollow-btn button center" onclick="fnGetLoginPartial(&#39;follow&#39;,' + customerid + ',' + followedby + ',&#39;' + businessurlnewbtnsug + '&#39;);" title="unfollows"><i class="icon-ok"></i> Following</a>');
                    }
                    $.ajaxSetup({ cache: false });
                    $.getJSON('@Url.Action("Follow", "UserDashboardWeb")', { customerid: customerid, followedby: followedby, status: 4, source: 'Web' }).success(function (data) {
                        $.ajaxSetup({ cache: true });
                    });
                }
                else if (data == 2) {
                    $("#divLoading").hide();
                    $('#confirmReviewAlreadyFollowModal').foundation('reveal', 'open');
                    // window.history.replaceState('@Request.Url.AbsoluteUri.ToString()', 'Title', '@Request.Url.AbsoluteUri.ToString().Replace("&ref=gmail", "")');
                    //window.history.pushState('@Request.Url.AbsoluteUri.ToString()', 'Title', '@Request.Url.AbsoluteUri.ToString().Replace("&ref=gmail", "")');
                    debugger;
                    if (businessurl != "" && businessurl != null) {
                        if (businessurlnew == businessurl)
                            $("#" + businessurlnew).replaceWith('<a id="' + businessurlnew + '" href="#" class="button follow-btn" onclick="fnGetLoginPartial(&#39;follow&#39;,' + customerid + ',' + followedby + ',&#39;' + businessurlnew + '&#39;);"><i class="icon-user-add"> Follow</a>');
                        if (businessurlnewing == businessurl)
                            $("#" + businessurlnewing).replaceWith('<a id="' + businessurlnewing + '" href="#" class="button follow-btn" onclick="fnGetLoginPartial(&#39;follow&#39;,' + customerid + ',' + followedby + ',&#39;' + businessurlnewing + '&#39;);"><i class="icon-user-add"> Follow</a>');
                        if (businessurlnewbtn == businessurl && document.getElementById('mainfollowbtn') != null) {
                            document.getElementById('mainfollowbtn').innerHTML = '';
                            document.getElementById('mainfollowbtn').innerHTML = '<a id="followbtn_@Model.loginid" class="follow-btn button right" onclick="fnGetLoginPartial(&#39;follow&#39;,@Model.userid,@Model.loginid,&#39;followbtn_@Model.loginid&#39;);"><i class="icon-user-add"></i> Follow</a>';
                            if (document.getElementById(businessurlnewbtnsug) != null)
                                $("#" + businessurlnewbtnsug).replaceWith('<a id="' + businessurlnewbtnsug + '" href="#" class="button follow-btn" onclick="fnGetLoginPartial(&#39;follow&#39;,' + customerid + ',' + followedby + ',&#39;' + businessurlnewbtnsug + '&#39;);"><i class="icon-user-add"></i> Follow</a>');
                        }
                        if (businessurlnewbtnsug == businessurl)
                            $("#" + businessurlnewbtnsug).replaceWith('<a id="' + businessurlnewbtnsug + '" href="#" class="button follow-btn" onclick="fnGetLoginPartial(&#39;follow&#39;,' + customerid + ',' + followedby + ',&#39;' + businessurlnewbtnsug + '&#39;);"><i class="icon-user-add"></i> Follow</a>');
                    }
                }
                else if (data == 6) {
                    $("#divLoading").hide();
                    $('#confirmReviewAlreadyFollowModalOld1').foundation('reveal', 'open');
                }
                else {
                    $("#divLoading").hide();
                    $('#confirmReviewAlreadyFollowModalOld').foundation('reveal', 'open');
                }
        }
            //debugger;
            //$("#follow" + customerid).text("Following");
        });
    }
    function Review(bizID, userID, val) {
        debugger;
        if (val == "Review" || val == "5") {
            $("#Review1" + bizID).replaceWith('<a class="button button-red action-btn like-btn active radius"><i class="icon-ok"></i> Review</a>');
        }
        
        //$("#reviewpostedby").val(val2);
        //$("#reviewid").val(val);
        $.ajaxSetup({ cache: false });
        $.getJSON('@Url.Action("SaveReview", "UserDashboardWeb")', { bizID: bizID, userID: userID, val: val }).success(function (data) {
            $.ajaxSetup({ cache: true });
            if (data == 0) {
                $('#confirmReviewFollowModal').foundation('reveal', 'open');
            }
            else if (data == 2) {
                $('#confirmReviewAlreadyFollowModal').foundation('reveal', 'open');
            }
            //debugger;
            //$("#follow" + customerid).text("Following");
        });
    }
    function CheckIFLoggedIn() {

        @if (!string.IsNullOrEmpty(userID))
        {
        <Text>
         debugger; 
         var bizidurl = "", valurl = "", useridurl = "";
         //when follow/like/review from without login
         if ('@Session["rturl"]' != "") {
             var urlstr = '@Session["rturl"]';
             var temp = new Array();
             var temp1 = new Array();
             if (urlstr != "" && urlstr.indexOf('&amp;') != -1 && urlstr.indexOf('follow') != -1) {
                 var temp = urlstr.split("&amp;");

                 if (temp[1].indexOf('_') != -1) {
                     var temp1 = temp[1].split("_");
                     useridurl = temp1[0];
                     bizidurl = temp1[1];
                     valurl = temp1[2];
                 }
                 if (('@Model.loginid' != null && '@Model.loginid' != "" && '@Model.loginid' != 0)) {
                     if ((valurl == "like" || valurl == "1") && bizidurl != "") {
                         fnsaveLike(bizidurl, '@Model.loginid', "like");
                         @{<Text>
                         ga('send', 'event', 'BizDInteraction', 'IconClick', 'Liked');
                         </Text>}
                     }
                     if ((valurl == "save" || valurl == "2") && bizidurl != "") {
                         fnsaveLike(bizidurl, '@Model.loginid', "save");
                         @{<Text>
                         ga('send', 'event', 'BizDInteraction', 'IconClick', 'SAVE');
                         </Text>}
                     }
                     if ((valurl == "Review" || valurl == "5") && bizidurl != "") {
                         Review(bizidurl, '@Model.loginid', "Review");
                         @{<Text>
                         
                         </Text>}
                     }
                     if ((valurl == "follow" || valurl == "6") && (useridurl != "" && useridurl != null && useridurl != 0)) {
                             Follow(useridurl, '@Model.loginid', "follow", 'followbtn_@Model.loginid');
                     }
                 }
             }
         }
         else {
             //when click on follow button from gmail
              @if (Request.QueryString["ref"] != null)
              {
                    <Text>
                     if (document.getElementById('followfromgmail').value != 'follownotmgmail' && document.getElementById('followfromgmail').value != 'followfromgmailbtn') {
                         document.getElementById('followfromgmail').value = 'follownotmgmail';
                         var useridurl = '@Request.QueryString["userid"]';
                         fnGetLoginPartial('follow', useridurl, 'gmail', 'followbtn_@Model.loginid');
                        }
                     </Text>
              }  
         }
         </Text>
        }
    }
    function fnGetLoginPartial(val, userID, businessid, businessurl) {
        debugger;
        //CheckIFLoggedIn(userID, businessid);
        var valValue = "";
        var strLogin = "";
        var strLoginFB = "";
        var strRegister = "";
        var value = $("#returnParam").attr("href");
        var valueFB = $("#returnFBParam").attr("href");
        var valueReg = $("#returnRegParam").attr("href");
            if (val == "like") {
                valValue = "1";
            }
            else if (val == "save") {
                valValue = "2";
            }
            else if (val == "rate") {
                valValue = "3";
           
            }
            else if (val == "Review") {
                valValue = "5";
            }
            else if (val == "follow") {
                valValue = "6";
            }
            else if (val == "photo") {
                valValue = "9";
            }
        @if (userID == null || userID == "" || userID == "0")
        {
                    <Text>
                var userdashboardurl = "UserDashboardWeb/getUserDetails";
                var savelike = userID + '_' + businessid + '_' + val;
                        $('returnParam').removeAttr('href');
                        $('returnFBParam').removeAttr('href');
                        $('returnRegParam').removeAttr('href');
                        var value = $("#returnParam").attr("href");
                        var valueFB = $("#returnFBParam").attr("href");
                        var valueReg = $("#returnRegParam").attr("href");
       
                        $("#returnParam").attr("href", value + '?rturl=' + userdashboardurl + '?userid=' + userID+'$' + savelike);
                        $("#returnFBParam").attr("href", valueFB + '?rturl=' + userdashboardurl + '?userid=' + userID + '$' + savelike + '&provider=facebook');
                        $("#returnRegParam").attr("href", valueReg + '?rturl=' + userdashboardurl + '?userid=' + userID + '$' + savelike);
                       if(businessid!=null && businessid !=0 && businessid=="gmail"){
                              window.location.href = "@ConfigurationManager.AppSettings["WebsiteRootPath"].ToString()login?rturl=UserDashboardWeb/getUserDetails?userid=" + userID + '$' + savelike;
                       }
                      else{
                            $('#loginModal').foundation('reveal', 'open');
                        }
                   </Text>        
        }
        else
        {
                      
                   <Text>
                        if (val == "save" || val == "like") {
                            fnsaveLike(businessid, userID, valValue); 
                         }
                        else if (val == "Review") {
                            Review(businessid, userID, valValue);
                        }
                        else if (val == "follow")
                        {
                            $("#divLoading").show();
                            if (businessid != null && businessid != 0 && businessid == "gmail") {
                                Follow(userID, '@userID', 'follow', businessurl);
                            }
                            else { Follow(userID, businessid, 'follow', businessurl); }
                        }
                    </Text> 
                    
        }
    }
</script>



