.top-head .top-bar {
  background: transparent;
  border-bottom: 1px solid #CCC;
  width: 75%;
  margin-left: 12%;
}
.top-head .title-area img.logo {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.top-footer {
  background: transparent;
  border-top: 1px solid #CCC;
  width: 75%;
  margin-left: 12%;
  position: absolute;
  top: 620px;
}
.top-footer .ho-l {
  padding-top: 1rem;
}
.top-footer .ho {
  margin-left: 15rem;
}
.top-footer .hol {
  margin-left: -15rem;
}

.top-content {
  text-align: initial;
  padding-top: 3rem;
}
.top-content h3 {
  font-size: 2rem;
  font-weight: bold;
}
.top-content h4 {
  font-size: 1.5rem;
  font-weight: 300;
}
.top-content p {
  font-weight: 200;
}

.back-ho {
  background: rgba(0, 0, 0, 0.8);
}
.back-ho .b-h {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 17px;
}

.b-x {
  min-height: 150px;
  border-top: 1px solid #ccc;
  margin-top: 4rem;
}
