﻿@model Vconnect.Models.BizDetailWeb
@using System.Configuration;
@{
    Layout = "~/Views/Shared/_WebMainMasterNew.cshtml";
   // ViewBag.Title = "GetDirection";
    string title = string.Empty;
    string description = string.Empty;
    string keyword = string.Empty;
    string canonical = string.Empty;
    string linkAlternatemedia = string.Empty;
    string linkAlternatehandheld = string.Empty;
    string webconfigWebsiteRootPath = HttpContext.Current.Session["webconfigWebsiteRootPath"] != null ? HttpContext.Current.Session["webconfigWebsiteRootPath"].ToString() : ConfigurationManager.AppSettings["WebsiteRootPath"].ToString();
    string WAPRootPath = ConfigurationManager.AppSettings["WAPRootPath"].ToString();
    
    
    title = Model.businessname + " Driving Directions Map to " + Model.area + ", " + Model.city + " | VConnect™";
    description = "Get Online Driving Directions map to " + Model.area + ", " + Model.city + " of " + Model.businessname + " with maps, times, distance and miles.";
    keyword = Model.businessname + "Get Direction to" + Model.city;
    
    if (Model != null)
    {
        canonical = webconfigWebsiteRootPath + "getdirection?bizid=" + Model.businessid;
        linkAlternatemedia = (WAPRootPath + "getdirection?bizID=" + Model.businessid).ToString();
        linkAlternatehandheld = (WAPRootPath + "getdirection?bizID=" + Model.businessid).ToString();
        if (Model.houseno != null)
        {
            title = Model.businessname + " Driving Directions Map to " + Model.houseno + ", " + Model.address1 + ", " + Model.city + " | VConnect™";
            description = "Get Online Driving Directions map to " + Model.houseno + ", " + Model.address1 + ", " + Model.city + " of " + Model.businessname + " with maps, times, distance and miles.";
            keyword = Model.businessname + " map in " + Model.houseno + "," + Model.address1 + ", " + Model.city;
        }
        else
        {
            title = Model.businessname + " Driving Directions Map to " + Model.address1 + ", " + Model.city + " | VConnect™";
            description = "Get Online Driving Directions map to " + Model.address1 + ", " + Model.city + " of " + Model.businessname + " with maps, times, distance and miles.";
            keyword = Model.businessname + " map in " + Model.address1 + ", " + Model.city;
        }

    }
} 
   @section title{@title}
   @section description{@description}
   @section keyword{@keyword}
<link rel="canonical" href="@canonical" />
<link rel="alternate" media="only screen and (max-width: 640px)" href="@linkAlternatemedia" />
<link rel="alternate" media="handheld" href="@linkAlternatehandheld" /> 
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
 <script type="text/javascript">
     var source, destination;
     var directionsDisplay;
     var directionsService = new google.maps.DirectionsService();
     google.maps.event.addDomListener(window, 'load', initialize);
     function initialize() {
         new google.maps.places.SearchBox(document.getElementById('txtSource'));
         new google.maps.places.SearchBox(document.getElementById('txtDestination'));
         directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
     }
     function GetRoute() {
         document.getElementById('diverror').style.display = 'none';
         document.getElementById('diverror').innerHTML = "";
         var latlng = new google.maps.LatLng('@Model.lattiude', '@Model.longitude');
         var mapOptions = {
             zoom: 6,
             center: latlng,
             mapTypeControl: true,
             scrollwheel: true,
             mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
             navigationControl: true,
             navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
             mapTypeId: google.maps.MapTypeId.ROADMAP,
             mapTypeControlOptions: {
                 style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                 position: google.maps.ControlPosition.TOP_CENTER
             }
         };
         map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
         directionsDisplay.setMap(map);
         directionsDisplay.setPanel(document.getElementById('dvPanel'));

         //*********DIRECTIONS AND ROUTE**********************//
         source = document.getElementById("txtSource").value;
         destination = document.getElementById("txtDestination").value;

         var request = {
             origin: source,
             destination: destination,
             travelMode: google.maps.TravelMode.DRIVING
         };
         directionsService.route(request, function (response, status) {
             if (status == google.maps.DirectionsStatus.OK) {
                 directionsDisplay.setDirections(response);
             }
         });

         //*********DISTANCE AND DURATION**********************//
         var service = new google.maps.DistanceMatrixService();
         debugger;
         service.getDistanceMatrix({
             origins: [source],
             destinations: [destination],
             travelMode: google.maps.TravelMode.DRIVING,
             unitSystem: google.maps.UnitSystem.METRIC,
             avoidHighways: false,
             avoidTolls: false
         }, function (response, status) {
             if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                 var distance = response.rows[0].elements[0].distance.text;
                 var duration = response.rows[0].elements[0].duration.text;
             } else {
                 document.getElementById('dvPanel').innerHTML = '';
                 document.getElementById('diverror').style.display = 'block';
                 document.getElementById('diverror').innerHTML = "Sorry, we could not calculate directions from '<b><u>" + source + "'</u></b> and <b><u>'" + destination + "</u><b>'";
             }
         });
         var companyMarker = new google.maps.Marker({
             position: companyPos,
             map: map,
             //icon: companyLogo,                
             flat: true,
             title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.businessname))'
          });
     }
     window.onload = GetRoute;
    </script>
<script lang="javascript" type="text/javascript">
    jQuery.getJSON('http://freegeoip.net/json/', function (location) {
        //document.title = '@Model.businessname' + " in " + '@Model.city';
        var country = location.country_name;
        var state = location.region_name;
        var city = location.city;
        $('#txtSource').val((city + ',' + state + ',' + country).toString());
        if (document.getElementById("txtSource").value != '') {
            calcRoute();
        }
    });
</script>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Site content here -->
        <!-- First, the site wrapper: contains all the elements on the site -->
      
          <!-- Site header starts :main navigation bar -->
         
            <!-- Site header ends -->
                <section class="directions-content">
              <div class="directions-heading clearfix">
                <div class="columns medium-12">
                  <h3><a href="/@Model.businessurl">@Model.businessname</a></h3>
                  <p>@((!string.IsNullOrEmpty(Model.address1) && !string.IsNullOrEmpty(Model.area) && !string.IsNullOrEmpty(Model.city) && !string.IsNullOrEmpty(Model.state)) ? Model.address1 + ", " + Model.area + ", " + Model.city + ", " + Model.state :
                             (string.IsNullOrEmpty(Model.address1) && !string.IsNullOrEmpty(Model.area) && !string.IsNullOrEmpty(Model.city) && !string.IsNullOrEmpty(Model.state)) ? Model.city + ", " + Model.state :
                             (!string.IsNullOrEmpty(Model.address1) && string.IsNullOrEmpty(Model.area) && !string.IsNullOrEmpty(Model.city) && !string.IsNullOrEmpty(Model.state)) ? Model.address1 + ", " + Model.city + ", " + Model.state :
                            (!string.IsNullOrEmpty(Model.address1) && !string.IsNullOrEmpty(Model.area) && string.IsNullOrEmpty(Model.city) && !string.IsNullOrEmpty(Model.state)) ? Model.address1 + ", " + Model.area + ", " + Model.state :
                            (!string.IsNullOrEmpty(Model.address1) && !string.IsNullOrEmpty(Model.area) && !string.IsNullOrEmpty(Model.city) && string.IsNullOrEmpty(Model.state)) ? Model.address1 + ", " + Model.area + ", " + Model.city : "")</p>
                  <!-- <p><i class="icon-phone"></i> +2348046664193</p> -->
                </div>
              </div>
              <div class="clearfix">
                <div class="columns medium-4">
                  <div class="directions-form">
                    <div class="row collapse">
                      <div class="columns medium-2">
                        <label class="prefix from-label" for="from">A</label>
                      </div>
                      <div class="columns medium-10">
                        <!--<input id="from" type="text" placeholder="Current Location">-->
                            <input id="txtSource" type="text" class="location-box directions-box" placeholder="Current Location">
                      </div>
                    </div>
                    <div class="row collapse">
                      <div class="columns medium-2">
                        <label class="prefix to-label" for="to">B</label>
                      </div>
                      <div class="columns medium-10">
                        <!--<input id="to" type="text" placeholder="Enter your destination">-->
                          <input id="txtDestination" type="text" readonly="true" value="@((!string.IsNullOrEmpty(Model.address1) && !string.IsNullOrEmpty(Model.area) && !string.IsNullOrEmpty(Model.city) && !string.IsNullOrEmpty(Model.state)) ? Model.address1 + ", " + Model.area + ", " + Model.city + ", " + Model.state :
                             (string.IsNullOrEmpty(Model.address1) && !string.IsNullOrEmpty(Model.area) && !string.IsNullOrEmpty(Model.city) && !string.IsNullOrEmpty(Model.state)) ? Model.city + ", " + Model.state :
                             (!string.IsNullOrEmpty(Model.address1) && string.IsNullOrEmpty(Model.area) && !string.IsNullOrEmpty(Model.city) && !string.IsNullOrEmpty(Model.state)) ? Model.address1 + ", " + Model.city + ", " + Model.state :
                            (!string.IsNullOrEmpty(Model.address1) && !string.IsNullOrEmpty(Model.area) && string.IsNullOrEmpty(Model.city) && !string.IsNullOrEmpty(Model.state)) ? Model.address1 + ", " + Model.area + ", " + Model.state :
                            (!string.IsNullOrEmpty(Model.address1) && !string.IsNullOrEmpty(Model.area) && !string.IsNullOrEmpty(Model.city) && string.IsNullOrEmpty(Model.state)) ? Model.address1 + ", " + Model.area + ", " + Model.city : "")" placeholder="Enter your destination">
                      </div>
                    </div>
                    <div class="row">
                         <input id="Button1" type="button" class="button" value="Get Directions" onclick="GetRoute();" />
                    </div>
                  </div>
                    <div id="diverror" class="directions-list"></div>
                  <div class="directions-list" id ="dvPanel" style="height:350px;overflow: auto" >
                  </div>
                </div>
                <div class="columns medium-8">
                  <div class="map-container" id="map-container" >
                      <div id ="dvMap" style="width:831px;height:799px"></div>
                  </div>
                </div>
              </div>
            </section>
            <!-- Site footer starts -->
           
            <!-- Site footer ends -->
     
        <!-- Wrapper ends -->

        <!-- Scripts  -->

     
    
  