/*----------- Banner ------------*/
.banner.jumbotron-container.t {
  width: 100%;
  height: 400px;
  border: 5px solid #eee;
  background: url("../img/02.jpg") no-repeat;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.banner.jumbotron-container.t .tt-hint.searchlocation {
  position: relative;
  top: 0 !important;
}

.banner.jumbotron-container.t .search-events {
  color: #111;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0px;
  height: 400px;
}

.create-events {
  left: 49rem !important;
}

.create-events .button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.button-events-search {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 1.6rem;
}

.category-grid {
  background: #BD2821;
  text-align: center;
}
.category-grid a {
  color: #fff;
}
.category-grid li {
  border-right: 1px solid #fff;
}
.category-grid li:last-child {
  border-right: none;
}
.category-grid [class*="block-grid-"], .category-grid .block-grid {
  margin: 0 !important;
}
.category-grid [class*="block-grid-"] > li {
  display: block;
  height: auto;
  float: left;
}
.category-grid .button.expand {
  border-radius: 0;
}

.color-all {
  background: #50C9C3;
}

.color-music {
  background: #FF4E50;
}

.color-comedy {
  background: #56B4D3;
}

.color-talent {
  background: #BB377D;
}

.color-more {
  background: #606c88;
}

.back-search {
  background: rgba(0, 0, 0, 0.6);
  padding: 0.4rem;
}
.back-search input[type="text"] {
  margin: 0;
}
.back-search select {
  margin: 0;
}

.discover-text {
  color: #fff;
  text-align: center;
}
.discover-text h2 {
  color: #fff;
  margin-top: 120px;
  font-size: 42px;
}
.discover-text p {
  font-size: 18px;
  color: #fff;
}
.discover-text .tt-hint.searchlocation, .discover-text .tt-hint.searchterm {
  top: 0 !important;
}

.banner.jumbotron-container.t .icon-down-micro {
  border: 2px solid #FFF;
  border-radius: 50%;
  padding: 0.99%;
  display: inline-block;
  margin-top: 76px;
  color: #FFF;
  width: 50px;
  height: 50px;
  padding-left: 0.9%;
  padding-top: 1.2%;
}

.create .search-form {
  right: 19.25rem !important;
}

.discover {
  position: absolute;
  width: 100%;
  height: 423px;
  background: rgba(0, 0, 0, 0.6);
  top: 2rem;
}

/*----------------------------------------------*/
.static-caption h3 a:link,
.static-caption h3 a:visited {
  color: #FFFFFF;
}

/* Microfiche - With Associates */
ul.slides {
  list-style-type: none;
}

.slideshow {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: black;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  height: 400px;
  min-width: 900px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  text-align: center;
}

.slideshow .slides {
  height: 490px;
  left: 50%;
  margin-left: -450px;
  position: absolute;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: linear;
  width: 900px;
}

.slideshow .slides.sway-right {
  transform: translate3d(-50px, 0px, 0px);
}

.slideshow .slides.sway-left {
  transform: translate3d(50px, 0px, 0px);
}

.slideshow .slides li {
  float: left;
  height: 490px;
  position: relative;
  width: 900px;
}

.slideshow .slides li .texture-overlay {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("../img/pattern-texture.png");
  background-origin: padding-box;
  background-position: center top;
  background-repeat: repeat;
  background-size: auto auto;
  bottom: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: linear;
  z-index: 11;
}

.slideshow .slides li.current .texture-overlay {
  opacity: 0;
}

.slideshow .microfiche-screen {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.slideshow .microfiche-button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("../img/arrows_microfiche.png");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  border-bottom-color: -moz-use-text-color;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: -moz-use-text-color;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: none;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 0;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: -moz-use-text-color;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: none;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 0;
  border-top-color: -moz-use-text-color;
  border-top-style: none;
  border-top-width: 0;
  cursor: pointer;
  display: block;
  height: 62px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: absolute;
  text-indent: -999px;
  top: 155px;
  width: 44px;
  z-index: 30;
  border: none;
}

.slideshow .microfiche-prev-button {
  background-position: left center;
  left: 0;
}

.slideshow .microfiche-next-button {
  background-position: right center;
  right: 0;
}

a.screeningtime.generic:link,
a.screeningtime.generic:visited {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

/* image slider */
.slideshow h4 {
  background-image: url("../img/showingtoday_panel.png");
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  height: 25px;
  left: 350px;
  line-height: 166%;
  margin-top: 355px;
  padding-top: 3px;
  position: absolute;
  top: 0;
  width: 200px;
  text-shadow: 1px 2px 2px #333333;
}

.static-caption {
  margin-top: 380px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../img/showingtoday_panel.png");
  background-repeat: no-repeat;
  height: 120px;
  width: 900px;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  text-shadow: 1px 2px 2px #333333;
}

.static-caption .screeningtitle {
  margin-top: 12px;
  margin-bottom: 4px;
}

.static-caption h3 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #FFFFFF;
  font-family: 'prenton-condensed';
  font-weight: normal;
  display: inline;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}

.static-caption .tramlines {
  display: inline;
  vertical-align: middle;
}

.slideshow a.screeningtime {
  margin-left: 4px;
  text-shadow: 0 0;
}
