.listing-top {
  min-height: 140px;
  background-color: #FFF;
  border: 2px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
}
.listing-top .listing-top-head {
  margin-top: 42px;
}
.listing-top .listing-top-head .listing-top-header {
  font-size: 2.75rem;
  line-height: 1.1;
}
.listing-top .top-filter {
  margin-top: 52px;
  text-align: center;
  padding-right: 0;
}
.listing-top .top-filter .top-filter-i li {
  background: #F0F0F0;
  border: 2px solid #fff;
  border-radius: 3px;
}
.listing-top .top-filter .top-filter-i li a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #595959;
}
.listing-top .top-filter .top-filter-i li:first-child {
  border-top: none;
  border-bottom: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 0;
}
.listing-top .top-filter .top-filter-i li:first-child a {
  padding-left: 32px;
  padding-right: 32px;
}
.listing-top .top-filter .top-filter-i li:nth-child(2) {
  border-top: none;
  border-bottom: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}
.listing-top .top-filter .top-filter-i li:nth-child(2) a {
  padding-left: 52px;
  padding-right: 52px;
}

.active-class {
  background: #ff6d00 !important;
  color: #fff !important;
}

.listing-content {
  padding-top: 55px;
  padding-bottom: 55px;
}
.listing-content .listing-image-hold {
  padding-right: 0;
}
.listing-content .listing-image-hold .listing-image-container {
  margin-top: 23px;
}
.listing-content .listing-image-hold .listing-image-container .listing-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid #fff;
}
.listing-content .no-content-found {
  background: #fff;
  height: 320px;
  border-radius: 3px;
  text-align: center;
}
.listing-content .no-content-found .oops {
  font-size: 130px;
  margin-bottom: 0px;
}
.listing-content .no-content-found .sorry-no-events {
  font-size: 21px;
  margin-top: -15px;
}
.listing-content .l-date-day {
  margin-bottom: 0px;
  margin-top: -26px;
  margin-left: 173px;
}
.listing-content .date-day {
  padding-top: 20px;
}
.listing-content .listing-pagination .listing-count-p {
  color: #9E9E9E;
  font-size: 0.9rem;
  margin-left: 125px;
}
.listing-content .listing-pagination .listing-count-p .listing-count {
  margin-right: 8px;
}
.listing-content .listing-pagination .listing-pagination-count {
  margin-left: 8rem;
}
.listing-content .listing-pagination .listing-pagination-count li {
  font-size: 1.01rem;
  margin-left: 1.59125rem;
}
.listing-content .listing-filter-hold {
  padding-right: 0;
  margin-top: -26px;
}
.listing-content .listing-filter-hold .listing-filter-i a {
  color: #595959;
}
.listing-content .listing-filter-hold .tt-dropdown-menu {
  top: 78% !important;
}
.listing-content .listing-filter-hold .listing-filter-head {
  margin-bottom: 0;
}
.listing-content .listing-filter-hold .custom-date-input {
  padding-bottom: 11px;
}
.listing-content .listing-filter-hold .custom-date {
  margin-left: 0;
}
.listing-content .listing-filter-hold .custom-date .tt-dropdown-menu {
  display: none !important;
}
.listing-content .listing-filter-hold .custom-date-input-t .custom-date-update {
  border-radius: 3px;
}
.listing-content .listing-filter-hold .custom-date-input-t i, .listing-content .listing-filter-hold .custom-date-input-t a {
  color: #fff !important;
}
.listing-content .listing-filter-hold .listing-map {
  height: 260px;
  padding-top: 8px;
}
.listing-content .listing-filter-hold .listing-filter-top {
  background: #fff;
  min-height: 150px;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top {
  margin-bottom: 0;
}
.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-custom-date {
  padding-bottom: 5px;
}
.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-arrow {
  float: right;
}
.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-last {
  margin-left: 0;
}
.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-last li:last-child {
  border-bottom: none;
}
.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-category {
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}
.listing-content .listing-filter-hold .listing-filter-top .listing-filter-top-top .listing-filter-date {
  padding-top: 6px;
  padding-bottom: 6px;
}
.listing-content .listing-content-pad {
  padding-bottom: 20px;
}
.listing-content .listing-line-hold {
  padding-right: 0;
  padding-left: 0;
  margin-left: -2px;
}
.listing-content .listing-line-hold .listing-line {
  height: 2px;
  width: 100%;
  background: none repeat scroll 0% 0% #ff6d00;
  margin-top: 73px;
}
.listing-content .listing-content-hold {
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  border-radius: 3px;
  min-height: 140px;
  margin-right: 2px;
}
.listing-content .listing-content-hold .listing-content-container {
  padding: 12px;
  padding-left: 20px;
}
.listing-content .listing-content-hold .listing-content-container i {
  color: #ff6d00;
}
.listing-content .listing-content-hold .listing-content-container .listing-organizer, .listing-content .listing-content-hold .listing-content-container .listing-date, .listing-content .listing-content-hold .listing-content-container .listing-location {
  line-height: 1.1;
  margin-bottom: 10px;
}
.listing-content .listing-content-hold .listing-content-container .listing-organizer {
  color: #bbb;
  margin-bottom: 15px;
}
.listing-content .listing-content-hold .listing-content-container .listing-date {
  margin-bottom: 5px;
}
.listing-content .listing-content-hold .listing-content-container .listing-date .listing-time {
  margin-left: 10px;
}
.listing-content .listing-content-hold .listing-content-container .listing-location {
  margin-bottom: 5px;
}

/* Media Queries Start Here */
.css-1024 .listing-top, .tablet .listing-top, .mobi .tablet .css-1024 .listing-top {
  min-height: 120px;
}
.css-1024 .listing-top .listing-top-head .listing-top-header, .tablet .listing-top .listing-top-head .listing-top-header, .mobi .tablet .css-1024 .listing-top .listing-top-head .listing-top-header {
  font-size: 2.15rem;
}
.css-1024 .listing-top .top-filter .top-filter-i li a, .tablet .listing-top .top-filter .top-filter-i li a, .mobi .tablet .css-1024 .listing-top .top-filter .top-filter-i li a {
  font-size: 14px;
}
.css-1024 .listing-top .top-filter, .tablet .listing-top .top-filter, .mobi .tablet .css-1024 .listing-top .top-filter {
  margin-top: 42px;
}
.css-1024 .listing-content .listing-content-hold, .tablet .listing-content .listing-content-hold, .mobi .tablet .css-1024 .listing-content .listing-content-hold {
  margin-right: 34px;
}
.css-1024 .listing-content .listing-line-hold, .tablet .listing-content .listing-line-hold, .mobi .tablet .css-1024 .listing-content .listing-line-hold {
  margin-left: -34px;
}
.css-1024 .listing-top .listing-top-head, .tablet .listing-top .listing-top-head, .mobi .tablet .css-1024 .listing-top .listing-top-head {
  margin-top: 38px;
}
.css-1024 .listing-content .listing-line-hold .listing-line, .tablet .listing-content .listing-line-hold .listing-line, .mobi .tablet .css-1024 .listing-content .listing-line-hold .listing-line {
  margin-top: 62px;
}
.css-1024 .listing-content .listing-pagination .listing-count-p, .tablet .listing-content .listing-pagination .listing-count-p, .mobi .tablet .css-1024 .listing-content .listing-pagination .listing-count-p {
  font-size: 0.8rem;
}
.css-1024 .listing-content .l-date-day, .tablet .listing-content .l-date-day, .mobi .tablet .css-1024 .listing-content .l-date-day {
  margin-left: 164px;
  font-size: 0.9rem;
}
.css-1024 .listing-content .listing-pagination .listing-pagination-count li, .tablet .listing-content .listing-pagination .listing-pagination-count li, .mobi .tablet .css-1024 .listing-content .listing-pagination .listing-pagination-count li {
  font-size: 0.9rem;
  margin-left: 1.07rem;
}
.css-1024 .listing-pagination-hold, .tablet .listing-pagination-hold, .mobi .tablet .css-1024 .listing-pagination-hold {
  padding-right: 0px;
}
.css-1024 .listing-content .listing-filter-hold, .tablet .listing-content .listing-filter-hold, .mobi .tablet .css-1024 .listing-content .listing-filter-hold {
  padding-right: 0.9375rem;
}
.css-1024 .listing-content .listing-image-hold .listing-image-container, .tablet .listing-content .listing-image-hold .listing-image-container, .mobi .tablet .css-1024 .listing-content .listing-image-hold .listing-image-container {
  margin-top: 2px;
}
.css-1024 .listing-content .listing-content-hold, .tablet .listing-content .listing-content-hold, .mobi .tablet .css-1024 .listing-content .listing-content-hold {
  min-height: 120px;
}
.css-1024 .listing-content .listing-content-hold h5, .tablet .listing-content .listing-content-hold h5, .mobi .tablet .css-1024 .listing-content .listing-content-hold h5 {
  font-size: 0.925rem;
}
.css-1024 .listing-content .listing-content-hold p, .tablet .listing-content .listing-content-hold p, .mobi .tablet .css-1024 .listing-content .listing-content-hold p {
  font-size: 0.8rem;
}

.css-960 .listing-top, .tablet .listing-top, .mobi .tablet .css-960 .listing-top {
  min-height: 100px;
}
.css-960 .listing-top .listing-top-head .listing-top-header, .tablet .listing-top .listing-top-head .listing-top-header, .mobi .tablet .css-960 .listing-top .listing-top-head .listing-top-header {
  font-size: 1.6rem;
}
.css-960 .listing-top .top-filter .top-filter-i li a, .tablet .listing-top .top-filter .top-filter-i li a, .mobi .tablet .css-960 .listing-top .top-filter .top-filter-i li a {
  font-size: 9px;
}
.css-960 .listing-top .top-filter, .tablet .listing-top .top-filter, .mobi .tablet .css-960 .listing-top .top-filter {
  margin-top: 35px;
}
.css-960 .listing-top .listing-top-head, .tablet .listing-top .listing-top-head, .mobi .tablet .css-960 .listing-top .listing-top-head {
  margin-top: 33px;
}
.css-960 .listing-content .listing-content-hold, .tablet .listing-content .listing-content-hold, .mobi .tablet .css-960 .listing-content .listing-content-hold {
  margin-right: 25px;
}
.css-960 .listing-content .listing-line-hold, .tablet .listing-content .listing-line-hold, .mobi .tablet .css-960 .listing-content .listing-line-hold {
  margin-left: -25px;
}
.css-960 .listing-content .listing-line-hold .listing-line, .tablet .listing-content .listing-line-hold .listing-line, .mobi .tablet .css-960 .listing-content .listing-line-hold .listing-line {
  margin-top: 62px;
}
.css-960 .listing-content .listing-pagination .listing-count-p, .tablet .listing-content .listing-pagination .listing-count-p, .mobi .tablet .css-960 .listing-content .listing-pagination .listing-count-p {
  font-size: 0.7rem;
}
.css-960 .listing-content .l-date-day, .tablet .listing-content .l-date-day, .mobi .tablet .css-960 .listing-content .l-date-day {
  margin-left: 162px;
  font-size: 0.8rem;
}
.css-960 .listing-content .listing-pagination .listing-pagination-count li, .tablet .listing-content .listing-pagination .listing-pagination-count li, .mobi .tablet .css-960 .listing-content .listing-pagination .listing-pagination-count li {
  font-size: 0.8rem;
  margin-left: 1.07rem;
}
.css-960 .listing-pagination-hold, .tablet .listing-pagination-hold, .mobi .tablet .css-960 .listing-pagination-hold {
  padding-right: 0px;
}
.css-960 .listing-content .listing-filter-hold, .tablet .listing-content .listing-filter-hold, .mobi .tablet .css-960 .listing-content .listing-filter-hold {
  padding-right: 0.9375rem;
}
.css-960 .listing-content .listing-filter-hold li, .tablet .listing-content .listing-filter-hold li, .mobi .tablet .css-960 .listing-content .listing-filter-hold li {
  font-size: 0.8rem;
}
.css-960 .listing-content .listing-content-hold, .tablet .listing-content .listing-content-hold, .mobi .tablet .css-960 .listing-content .listing-content-hold {
  min-height: 120px;
}
.css-960 .listing-content .listing-content-hold h5, .tablet .listing-content .listing-content-hold h5, .mobi .tablet .css-960 .listing-content .listing-content-hold h5 {
  font-size: 0.825rem;
}
.css-960 .listing-content .listing-content-hold p, .tablet .listing-content .listing-content-hold p, .mobi .tablet .css-960 .listing-content .listing-content-hold p {
  font-size: 0.7rem;
}
.css-960 .listing-content .listing-image-hold .listing-image-container, .tablet .listing-content .listing-image-hold .listing-image-container, .mobi .tablet .css-960 .listing-content .listing-image-hold .listing-image-container {
  margin-top: 12px;
}
.css-960 .listing-content .listing-pagination .listing-pagination-count, .tablet .listing-content .listing-pagination .listing-pagination-count, .mobi .tablet .css-960 .listing-content .listing-pagination .listing-pagination-count {
  margin-left: 7.2rem;
}
.css-960 .listing-content .listing-filter-hold .listing-filter-head, .tablet .listing-content .listing-filter-hold .listing-filter-head, .mobi .tablet .css-960 .listing-content .listing-filter-hold .listing-filter-head {
  font-size: 0.8rem;
}

.css-768 .listing-top, .tablet .listing-top, .mobi .tablet .css-768 .listing-top {
  min-height: 100px;
}
.css-768 .listing-top .listing-top-head .listing-top-header, .tablet .listing-top .listing-top-head .listing-top-header, .mobi .tablet .css-768 .listing-top .listing-top-head .listing-top-header {
  font-size: 1.6rem;
}
.css-768 .listing-top .top-filter .top-filter-i li a, .tablet .listing-top .top-filter .top-filter-i li a, .mobi .tablet .css-768 .listing-top .top-filter .top-filter-i li a {
  font-size: 9px;
}
.css-768 .listing-top .top-filter, .tablet .listing-top .top-filter, .mobi .tablet .css-768 .listing-top .top-filter {
  margin-top: 35px;
}
.css-768 .listing-content .listing-content-hold, .tablet .listing-content .listing-content-hold, .mobi .tablet .css-768 .listing-content .listing-content-hold {
  margin-right: 0px;
}
.css-768 .listing-content .listing-line-hold, .tablet .listing-content .listing-line-hold, .mobi .tablet .css-768 .listing-content .listing-line-hold {
  margin-left: 0;
}
.css-768 .listing-content .listing-line-hold .listing-line, .tablet .listing-content .listing-line-hold .listing-line, .mobi .tablet .css-768 .listing-content .listing-line-hold .listing-line {
  margin-top: 62px;
}
.css-768 .listing-content .listing-pagination .listing-count-p, .tablet .listing-content .listing-pagination .listing-count-p, .mobi .tablet .css-768 .listing-content .listing-pagination .listing-count-p {
  font-size: 0.6rem;
}
.css-768 .listing-content .l-date-day, .tablet .listing-content .l-date-day, .mobi .tablet .css-768 .listing-content .l-date-day {
  margin-left: 149px;
  font-size: 0.8rem;
}
.css-768 .listing-content .listing-pagination .listing-pagination-count li, .tablet .listing-content .listing-pagination .listing-pagination-count li, .mobi .tablet .css-768 .listing-content .listing-pagination .listing-pagination-count li {
  font-size: 0.7rem;
  margin-left: 0.54rem;
}
.css-768 .listing-pagination-hold, .tablet .listing-pagination-hold, .mobi .tablet .css-768 .listing-pagination-hold {
  padding-right: 0px;
}
.css-768 .listing-content .listing-filter-hold, .tablet .listing-content .listing-filter-hold, .mobi .tablet .css-768 .listing-content .listing-filter-hold {
  padding-right: 0.9375rem;
}
.css-768 .listing-content .listing-filter-hold li, .tablet .listing-content .listing-filter-hold li, .mobi .tablet .css-768 .listing-content .listing-filter-hold li {
  font-size: 0.8rem;
}
.css-768 .listing-content .listing-content-hold, .tablet .listing-content .listing-content-hold, .mobi .tablet .css-768 .listing-content .listing-content-hold {
  min-height: 120px;
}
.css-768 .listing-content .listing-content-hold h5, .tablet .listing-content .listing-content-hold h5, .mobi .tablet .css-768 .listing-content .listing-content-hold h5 {
  font-size: 0.825rem;
}
.css-768 .listing-content .listing-content-hold p, .tablet .listing-content .listing-content-hold p, .mobi .tablet .css-768 .listing-content .listing-content-hold p {
  font-size: 0.7rem;
}
.css-768 .listing-top .listing-top-head, .tablet .listing-top .listing-top-head, .mobi .tablet .css-768 .listing-top .listing-top-head {
  margin-top: 33px;
}
.css-768 .listing-content .listing-image-hold .listing-image-container, .tablet .listing-content .listing-image-hold .listing-image-container, .mobi .tablet .css-768 .listing-content .listing-image-hold .listing-image-container {
  margin-top: 12px;
}
.css-768 .listing-content .listing-pagination .listing-pagination-count, .tablet .listing-content .listing-pagination .listing-pagination-count, .mobi .tablet .css-768 .listing-content .listing-pagination .listing-pagination-count {
  margin-left: 6.5rem;
}
.css-768 .listing-content .listing-filter-hold .listing-filter-head, .tablet .listing-content .listing-filter-hold .listing-filter-head, .mobi .tablet .css-768 .listing-content .listing-filter-hold .listing-filter-head {
  font-size: 0.8rem;
}

.css-640 .listing-top, .mobi .phone .css-640 .listing-top, .mobi .tablet .css-640 .listing-top {
  min-height: 100px;
}
.css-640 .listing-top .listing-top-head .listing-top-header, .mobi .phone .css-640 .listing-top .listing-top-head .listing-top-header, .mobi .tablet .css-640 .listing-top .listing-top-head .listing-top-header {
  font-size: 1.6rem;
}
.css-640 .listing-top .top-filter .top-filter-i li a, .mobi .phone .css-640 .listing-top .top-filter .top-filter-i li a, .mobi .tablet .css-640 .listing-top .top-filter .top-filter-i li a {
  font-size: 9px;
}
.css-640 .listing-top .top-filter, .mobi .phone .css-640 .listing-top .top-filter, .mobi .tablet .css-640 .listing-top .top-filter {
  margin-top: 35px;
}
.css-640 .listing-content .listing-content-hold, .mobi .phone .css-640 .listing-content .listing-content-hold, .mobi .tablet .css-640 .listing-content .listing-content-hold {
  margin-right: 15px;
}
.css-640 .listing-content .listing-line-hold, .mobi .phone .css-640 .listing-content .listing-line-hold, .mobi .tablet .css-640 .listing-content .listing-line-hold {
  margin-left: -15px;
}
.css-640 .listing-content .listing-line-hold .listing-line, .mobi .phone .css-640 .listing-content .listing-line-hold .listing-line, .mobi .tablet .css-640 .listing-content .listing-line-hold .listing-line {
  margin-top: 83px;
}
.css-640 .listing-content .listing-pagination .listing-count-p, .mobi .phone .css-640 .listing-content .listing-pagination .listing-count-p, .mobi .tablet .css-640 .listing-content .listing-pagination .listing-count-p {
  font-size: 0.6rem;
}
.css-640 .listing-content .l-date-day, .mobi .phone .css-640 .listing-content .l-date-day, .mobi .tablet .css-640 .listing-content .l-date-day {
  margin-left: 198px;
  font-size: 1.1rem;
}
.css-640 .listing-top .top-filter .top-filter-i li:nth-child(2) a, .mobi .phone .css-640 .listing-top .top-filter .top-filter-i li:nth-child(2) a, .mobi .tablet .css-640 .listing-top .top-filter .top-filter-i li:nth-child(2) a {
  padding-left: 35px;
  padding-right: 35px;
}
.css-640 .listing-top .top-filter .top-filter-i li:first-child a, .mobi .phone .css-640 .listing-top .top-filter .top-filter-i li:first-child a, .mobi .tablet .css-640 .listing-top .top-filter .top-filter-i li:first-child a {
  padding-left: 22px;
  padding-right: 22px;
}
.css-640 .listing-content .listing-filter-hold .listing-filter-top, .mobi .phone .css-640 .listing-content .listing-filter-hold .listing-filter-top, .mobi .tablet .css-640 .listing-content .listing-filter-hold .listing-filter-top {
  min-height: 86px;
}
.css-640 .listing-content .listing-pagination .listing-pagination-count li, .mobi .phone .css-640 .listing-content .listing-pagination .listing-pagination-count li, .mobi .tablet .css-640 .listing-content .listing-pagination .listing-pagination-count li {
  font-size: 0.7rem;
  margin-left: 0.54rem;
}
.css-640 .listing-pagination-hold, .mobi .phone .css-640 .listing-pagination-hold, .mobi .tablet .css-640 .listing-pagination-hold {
  padding-right: 0px;
}
.css-640 .listing-content .listing-filter-hold, .mobi .phone .css-640 .listing-content .listing-filter-hold, .mobi .tablet .css-640 .listing-content .listing-filter-hold {
  padding-right: 0.9375rem;
}
.css-640 .listing-content .listing-filter-hold li, .mobi .phone .css-640 .listing-content .listing-filter-hold li, .mobi .tablet .css-640 .listing-content .listing-filter-hold li {
  font-size: 0.8rem;
}
.css-640 .listing-content .listing-image-hold .listing-image-container .listing-image, .mobi .phone .css-640 .listing-content .listing-image-hold .listing-image-container .listing-image, .mobi .tablet .css-640 .listing-content .listing-image-hold .listing-image-container .listing-image {
  height: 130px;
  width: 130px;
}
.css-640 .listing-content .listing-content-hold, .mobi .phone .css-640 .listing-content .listing-content-hold, .mobi .tablet .css-640 .listing-content .listing-content-hold {
  min-height: 160px;
}
.css-640 .listing-content .listing-content-hold h5, .mobi .phone .css-640 .listing-content .listing-content-hold h5, .mobi .tablet .css-640 .listing-content .listing-content-hold h5 {
  font-size: 1.3rem;
}
.css-640 .listing-content .listing-content-hold p, .mobi .phone .css-640 .listing-content .listing-content-hold p, .mobi .tablet .css-640 .listing-content .listing-content-hold p {
  font-size: 1.1rem;
}
.css-640 .listing-top .listing-top-head, .mobi .phone .css-640 .listing-top .listing-top-head, .mobi .tablet .css-640 .listing-top .listing-top-head {
  margin-top: 33px;
}
.css-640 .listing-content .listing-image-hold .listing-image-container, .mobi .phone .css-640 .listing-content .listing-image-hold .listing-image-container, .mobi .tablet .css-640 .listing-content .listing-image-hold .listing-image-container {
  margin-top: 13px;
}
.css-640 .listing-content .listing-pagination .listing-pagination-count, .mobi .phone .css-640 .listing-content .listing-pagination .listing-pagination-count, .mobi .tablet .css-640 .listing-content .listing-pagination .listing-pagination-count {
  margin-left: 6.5rem;
}
.css-640 .listing-content .listing-filter-hold .listing-filter-head, .mobi .phone .css-640 .listing-content .listing-filter-hold .listing-filter-head, .mobi .tablet .css-640 .listing-content .listing-filter-hold .listing-filter-head {
  font-size: 0.8rem;
}
.css-640 .mobile-search-top, .mobi .phone .css-640 .mobile-search-top, .mobi .tablet .css-640 .mobile-search-top {
  background: #fff;
}
.css-640 .mobile-search-top .topbar-search-wrapper, .mobi .phone .css-640 .mobile-search-top .topbar-search-wrapper, .mobi .tablet .css-640 .mobile-search-top .topbar-search-wrapper {
  width: 90%;
}
