.events-wrapper {
  background: #F0F0F0;
}

/*----------- Banner ------------*/
.events-banner {
  width: 100%;
  height: 350px;
  background: url("../../img/event1.jpg") no-repeat;
}
.events-banner .topbar-search-wrapper .button {
  top: -0.52px !important;
}
.events-banner .events-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0px;
  height: 350px;
}
.events-banner .events-overlay .banner-text {
  color: #fff;
  text-align: left;
  margin-top: 112px;
  font-size: 71px;
  padding-bottom: 5px;
  line-height: 1;
}
.events-banner .discover-box.has-form {
  background: linear-gradient(to bottom, white 0%, #fafafa 100%) repeat scroll 0% 0% transparent;
  padding: 0px 0.01583rem;
  height: 2.8rem;
  border-radius: 3px;
}
.events-banner .discover-box.has-form .disc-input {
  top: -2px !important;
  left: -2px !important;
}
.events-banner .discover-box.has-form input[type="text"], .events-banner .discover-box.has-form input[type="password"], .events-banner .discover-box.has-form input[type="date"], .events-banner .discover-box.has-form input[type="datetime"], .events-banner .discover-box.has-form input[type="datetime-local"], .events-banner .discover-box.has-form input[type="month"], .events-banner .discover-box.has-form input[type="week"], .events-banner .discover-box.has-form input[type="email"], .events-banner .discover-box.has-form input[type="number"], .events-banner .discover-box.has-form input[type="search"], .events-banner .discover-box.has-form input[type="tel"], .events-banner .discover-box.has-form input[type="time"], .events-banner .discover-box.has-form input[type="url"], .events-banner .discover-box.has-form textarea, .events-banner .discover-box.has-form select {
  height: 2.6525rem;
}
.events-banner .discover-box.has-form input {
  border-radius: 0;
}
.events-banner .discover-box.has-form .topbar-search-wrapper .seperator {
  top: 0.1625rem;
  bottom: 1.49rem;
  right: 2px;
}
.events-banner .discover-box.has-form .topbar-search-wrapper .searchterm, .events-banner .discover-box.has-form .topbar-search-wrapper .searchlocation, .events-banner .discover-box.has-form .topbar-search-wrapper input[type="text"], .events-banner .discover-box.has-form .topbar-search-wrapper select {
  padding-left: 1.55rem;
}
.events-banner .discover-box.has-form .topbar-search-wrapper {
  top: 0;
  padding: 0.125rem;
}
.events-banner .discover-box.has-form .button.tiny {
  font-size: 0.795rem;
}
.events-banner .discover-box.has-form select {
  background-color: #FFF !important;
  font-weight: normal;
  color: #7D7D80;
  cursor: pointer;
}
.events-banner .discover-box.has-form select option {
  padding: 8px;
}
.events-banner .discover-box.has-form .disc-location {
  color: #000;
}
.events-banner .discover-box.has-form .date-pre, .events-banner .discover-box.has-form .location-pre {
  color: #7D7D80;
}
.events-banner .discover-box.has-form .tt-dropdown-menu {
  top: 72% !important;
  left: -3px !important;
}
.events-banner .discover-box.has-form .disc-search {
  color: #ccc;
}
.events-banner .discover-box.has-form .pre-arrows {
  position: absolute;
  z-index: 1;
  left: 84%;
  background: none repeat scroll 0% 0% white;
  width: 16%;
  height: 43px;
  top: -2px;
  cursor: pointer;
}
.events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 7px;
}

.filter-events {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFF;
  border-bottom: 2px solid #ccc;
  height: 55px;
}
.filter-events .hide {
  display: none !important;
}
.filter-events .events-in, .filter-events .showing {
  display: inline;
}
.filter-events .location-filter > *, .filter-events .category-filter > * {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.filter-events .location-in {
  position: relative;
  left: 38%;
  margin-top: -32px;
}
.filter-events .location-in input, .filter-events .location-in select {
  width: 243px;
  height: 2.6125rem;
  margin-bottom: 0;
  border: 1px solid #ff6d00;
  border-radius: 3px;
}
.filter-events .location-in .tt-hint.searchterm, .filter-events .location-in .tt-hint.searchlocation {
  top: 0px !important;
}
.filter-events .location-filter-showing {
  margin-bottom: 0;
  list-style: none;
}
.filter-events .location-filter-showing input, .filter-events .location-filter-showing select {
  margin-bottom: -7px;
}
.filter-events .location-filter-showing .location-r {
  margin-left: 0.375rem;
}
.filter-events .events-in {
  padding-left: 2px;
  color: #ff6d00;
  cursor: pointer;
}
.filter-events .events-in a, .filter-events .events-in a:focus, .filter-events .events-in a:hover {
  color: #ff6d00;
}

.mobile-header-filter {
  margin-top: 46px;
}

/*---------- Events Display ------------*/
.events-display p a {
  color: #111;
}
.events-display [class*="column"] + [class*="column"]:last-child {
  float: left !important;
}

.panel-events {
  text-align: center;
  margin-top: 2rem;
}

.events-list {
  border: 1px solid #ccc;
  margin-top: 20%;
  margin-bottom: 20%;
  border-radius: 50%;
  background-color: #888;
  height: 150px;
  width: 150px;
}
.events-list h1 {
  font-size: 105px;
  margin-top: -16%;
  margin-left: 18px;
  letter-spacing: -19px;
  color: #eee;
}
.events-list h2 {
  font-size: 38px;
  margin-top: -34%;
  margin-left: 45px;
  color: #bbb;
}
.events-list img {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
}
.events-list a img {
  height: 40px;
  position: absolute;
  left: 68%;
  top: 15%;
}

.e-hold h3 {
  line-height: 1;
  margin-top: 10%;
}
.e-hold h3 a {
  text-decoration: none;
  margin: 1px;
  color: #111;
  font-size: 21px;
  font-weight: bold;
}
.e-hold p {
  line-height: 1.1;
  margin-bottom: 10px;
}

.events-listing {
  font-size: 12px;
  margin-top: -4px;
  display: inline-block;
}

.date-place-listing {
  font-weight: bold;
  color: #111;
}

.see {
  padding-top: 20px;
}
.see .see-all-events {
  background: none repeat scroll 0% 0% white;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
.see .see-all-events a {
  color: #666;
}

.modal-border {
  border: none;
}

/*------------------------- Media Query Home Page -------------------------*/
.css-1024 .filter-events .location-in, .tablet .filter-events .location-in, .mobi .tablet .css-1024 .filter-events .location-in {
  left: 0;
  margin-top: -10px;
}
.css-1024 .filter-events .location-in input, .css-1024 .filter-events .location-in select, .tablet .filter-events .location-in input, .tablet .filter-events .location-in select, .mobi .tablet .css-1024 .filter-events .location-in input, .mobi .tablet .css-1024 .filter-events .location-in select {
  border-radius: 3px;
}
.css-1024 .location-filter .location-in, .css-1024 .category-filter .location-in, .tablet .location-filter .location-in, .tablet .category-filter .location-in, .mobi .tablet .css-1024 .location-filter .location-in, .mobi .tablet .css-1024 .category-filter .location-in {
  vertical-align: inherit;
}
.css-1024 .events-banner .events-overlay .banner-text, .tablet .events-banner .events-overlay .banner-text, .mobi .tablet .css-1024 .events-banner .events-overlay .banner-text {
  font-size: 69px;
}
.css-1024 .e-hold, .tablet .e-hold, .mobi .tablet .css-1024 .e-hold {
  padding-right: 0;
  padding-left: 0;
}
.css-1024 .e-hold h3, .tablet .e-hold h3, .mobi .tablet .css-1024 .e-hold h3 {
  margin-bottom: 0;
}
.css-1024 .e-hold h3 a, .tablet .e-hold h3 a, .mobi .tablet .css-1024 .e-hold h3 a {
  font-size: 17px;
}
.css-1024 .events-list a img, .tablet .events-list a img, .mobi .tablet .css-1024 .events-list a img {
  left: 53%;
}
.css-1024 .e-hold p, .tablet .e-hold p, .mobi .tablet .css-1024 .e-hold p {
  font-size: 12.9px;
}
.css-1024 .events-listing, .tablet .events-listing, .mobi .tablet .css-1024 .events-listing {
  font-size: 10.5px !important;
}

.css-960 .events-banner .discover-box.has-form .pre-arrows img, .tablet .events-banner .discover-box.has-form .pre-arrows img, .mobi .tablet .css-960 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 12px;
}
.css-960 .events-banner .events-overlay .banner-text, .tablet .events-banner .events-overlay .banner-text, .mobi .tablet .css-960 .events-banner .events-overlay .banner-text {
  font-size: 55px;
}
.css-960 .e-hold, .tablet .e-hold, .mobi .tablet .css-960 .e-hold {
  padding-right: 0;
  padding-left: 0;
}
.css-960 .e-hold h3, .tablet .e-hold h3, .mobi .tablet .css-960 .e-hold h3 {
  margin-bottom: 0;
}
.css-960 .e-hold h3 a, .tablet .e-hold h3 a, .mobi .tablet .css-960 .e-hold h3 a {
  font-size: 17px;
}
.css-960 .events-list a img, .tablet .events-list a img, .mobi .tablet .css-960 .events-list a img {
  left: 57%;
}
.css-960 .e-hold p, .tablet .e-hold p, .mobi .tablet .css-960 .e-hold p {
  font-size: 12.9px;
}
.css-960 .events-listing, .tablet .events-listing, .mobi .tablet .css-960 .events-listing {
  font-size: 10.5px !important;
}

.css-768 .events-banner, .tablet .events-banner, .mobi .tablet .css-768 .events-banner {
  height: 300px;
}
.css-768 .events-banner .events-overlay, .tablet .events-banner .events-overlay, .mobi .tablet .css-768 .events-banner .events-overlay {
  height: 300px;
}
.css-768 .events-banner .discover-box.has-form .pre-arrows img, .tablet .events-banner .discover-box.has-form .pre-arrows img, .mobi .tablet .css-768 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}
.css-768 .events-banner .events-overlay .banner-text, .tablet .events-banner .events-overlay .banner-text, .mobi .tablet .css-768 .events-banner .events-overlay .banner-text {
  font-size: 45px;
}
.css-768 .e-hold, .tablet .e-hold, .mobi .tablet .css-768 .e-hold {
  padding-right: 0;
  padding-left: 0;
}
.css-768 .filter-events .location-in, .tablet .filter-events .location-in, .mobi .tablet .css-768 .filter-events .location-in {
  left: 48%;
}
.css-768 .filter-events .location-in input, .css-768 .filter-events .location-in select, .tablet .filter-events .location-in input, .tablet .filter-events .location-in select, .mobi .tablet .css-768 .filter-events .location-in input, .mobi .tablet .css-768 .filter-events .location-in select {
  width: 177px;
  border-radius: 3px;
}

.css-640 .events-banner, .tablet .events-banner, .mobi .phone .css-640 .events-banner, .mobi .tablet .css-640 .events-banner {
  height: 260px;
}
.css-640 .events-banner .topbar-search-wrapper .button, .css-640 .events-banner .topbar-search-wrapper input, .tablet .events-banner .topbar-search-wrapper .button, .tablet .events-banner .topbar-search-wrapper input, .mobi .phone .css-640 .events-banner .topbar-search-wrapper .button, .mobi .phone .css-640 .events-banner .topbar-search-wrapper input, .mobi .tablet .css-640 .events-banner .topbar-search-wrapper .button, .mobi .tablet .css-640 .events-banner .topbar-search-wrapper input {
  top: -1px !important;
}
.css-640 .events-banner .events-overlay, .tablet .events-banner .events-overlay, .mobi .phone .css-640 .events-banner .events-overlay, .mobi .tablet .css-640 .events-banner .events-overlay {
  height: 260px;
}
.css-640 .events-banner .discover-box.has-form .pre-arrows img, .tablet .events-banner .discover-box.has-form .pre-arrows img, .mobi .phone .css-640 .events-banner .discover-box.has-form .pre-arrows img, .mobi .tablet .css-640 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}
.css-640 .events-banner .events-overlay .banner-text, .tablet .events-banner .events-overlay .banner-text, .mobi .phone .css-640 .events-banner .events-overlay .banner-text, .mobi .tablet .css-640 .events-banner .events-overlay .banner-text {
  font-size: 39px;
  margin-top: 90px;
}
.css-640 .topbar-search-wrapper .button, .tablet .topbar-search-wrapper .button, .mobi .phone .css-640 .topbar-search-wrapper .button, .mobi .tablet .css-640 .topbar-search-wrapper .button {
  top: 0 !important;
}
.css-640 .e-hold, .tablet .e-hold, .mobi .phone .css-640 .e-hold, .mobi .tablet .css-640 .e-hold {
  padding-left: 0;
}
.css-640 .filter-events .location-in, .tablet .filter-events .location-in, .mobi .phone .css-640 .filter-events .location-in, .mobi .tablet .css-640 .filter-events .location-in {
  left: 48%;
}
.css-640 .filter-events .location-in input, .css-640 .filter-events .location-in select, .tablet .filter-events .location-in input, .tablet .filter-events .location-in select, .mobi .phone .css-640 .filter-events .location-in input, .mobi .phone .css-640 .filter-events .location-in select, .mobi .tablet .css-640 .filter-events .location-in input, .mobi .tablet .css-640 .filter-events .location-in select {
  width: 152px;
  border-radius: 3px;
  font-size: 0.795rem;
}
.css-640 .filter-events p, .tablet .filter-events p, .mobi .phone .css-640 .filter-events p, .mobi .tablet .css-640 .filter-events p {
  font-size: 0.6rem;
}
.css-640 .filter-events .show-mobile, .tablet .filter-events .show-mobile, .mobi .phone .css-640 .filter-events .show-mobile, .mobi .tablet .css-640 .filter-events .show-mobile {
  display: none !important;
}
.css-640 .e-hold-i, .tablet .e-hold-i, .mobi .phone .css-640 .e-hold-i, .mobi .tablet .css-640 .e-hold-i {
  display: none !important;
}
.css-640 .events-list h1, .tablet .events-list h1, .mobi .phone .css-640 .events-list h1, .mobi .tablet .css-640 .events-list h1 {
  font-size: 100px;
  margin-top: -18px;
  margin-left: 17px;
}
.css-640 .events-list h2, .tablet .events-list h2, .mobi .phone .css-640 .events-list h2, .mobi .tablet .css-640 .events-list h2 {
  font-size: 40px;
  margin-top: -47px;
  margin-left: 41px;
}
.css-640 .see, .tablet .see, .mobi .phone .css-640 .see, .mobi .tablet .css-640 .see {
  padding-bottom: 30px;
}

.css-560 .events-banner, .tablet .events-banner, .mobi .phone .css-560 .events-banner, .mobi .tablet .css-560 .events-banner {
  height: 260px;
}
.css-560 .events-banner .topbar-search-wrapper .button, .css-560 .events-banner .topbar-search-wrapper input, .tablet .events-banner .topbar-search-wrapper .button, .tablet .events-banner .topbar-search-wrapper input, .mobi .phone .css-560 .events-banner .topbar-search-wrapper .button, .mobi .phone .css-560 .events-banner .topbar-search-wrapper input, .mobi .tablet .css-560 .events-banner .topbar-search-wrapper .button, .mobi .tablet .css-560 .events-banner .topbar-search-wrapper input {
  top: -1px !important;
}
.css-560 .events-banner .events-overlay, .tablet .events-banner .events-overlay, .mobi .phone .css-560 .events-banner .events-overlay, .mobi .tablet .css-560 .events-banner .events-overlay {
  height: 260px;
}
.css-560 .events-banner .discover-box.has-form .pre-arrows img, .tablet .events-banner .discover-box.has-form .pre-arrows img, .mobi .phone .css-560 .events-banner .discover-box.has-form .pre-arrows img, .mobi .tablet .css-560 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}
.css-560 .events-banner .events-overlay .banner-text, .tablet .events-banner .events-overlay .banner-text, .mobi .phone .css-560 .events-banner .events-overlay .banner-text, .mobi .tablet .css-560 .events-banner .events-overlay .banner-text {
  font-size: 33px;
  margin-top: 88px;
}
.css-560 .e-hold, .tablet .e-hold, .mobi .phone .css-560 .e-hold, .mobi .tablet .css-560 .e-hold {
  padding-left: 0;
}
.css-560 .topbar-search-wrapper .button, .tablet .topbar-search-wrapper .button, .mobi .phone .css-560 .topbar-search-wrapper .button, .mobi .tablet .css-560 .topbar-search-wrapper .button {
  top: 0 !important;
}
.css-560 .filter-events, .tablet .filter-events, .mobi .phone .css-560 .filter-events, .mobi .tablet .css-560 .filter-events {
  height: 50px;
}
.css-560 .filter-events .location-filter, .css-560 .filter-events .category-filter, .tablet .filter-events .location-filter, .tablet .filter-events .category-filter, .mobi .phone .css-560 .filter-events .location-filter, .mobi .phone .css-560 .filter-events .category-filter, .mobi .tablet .css-560 .filter-events .location-filter, .mobi .tablet .css-560 .filter-events .category-filter {
  font-size: 13px;
}
.css-560 .filter-events .location-in, .tablet .filter-events .location-in, .mobi .phone .css-560 .filter-events .location-in, .mobi .tablet .css-560 .filter-events .location-in {
  left: 45%;
  margin-top: -26px;
}
.css-560 .filter-events .location-in input, .css-560 .filter-events .location-in select, .tablet .filter-events .location-in input, .tablet .filter-events .location-in select, .mobi .phone .css-560 .filter-events .location-in input, .mobi .phone .css-560 .filter-events .location-in select, .mobi .tablet .css-560 .filter-events .location-in input, .mobi .tablet .css-560 .filter-events .location-in select {
  width: 138px;
  font-size: 12px;
}
.css-560 .filter-events p, .tablet .filter-events p, .mobi .phone .css-560 .filter-events p, .mobi .tablet .css-560 .filter-events p {
  font-size: 0.6rem;
}
.css-560 .filter-events .show-mobile, .tablet .filter-events .show-mobile, .mobi .phone .css-560 .filter-events .show-mobile, .mobi .tablet .css-560 .filter-events .show-mobile {
  display: none !important;
}
.css-560 .e-hold-i, .tablet .e-hold-i, .mobi .phone .css-560 .e-hold-i, .mobi .tablet .css-560 .e-hold-i {
  display: none !important;
}
.css-560 .see, .tablet .see, .mobi .phone .css-560 .see, .mobi .tablet .css-560 .see {
  padding-bottom: 30px;
}
.css-560 .events-list, .tablet .events-list, .mobi .phone .css-560 .events-list, .mobi .tablet .css-560 .events-list {
  height: 145px;
  width: 145px;
}
.css-560 .events-list h1, .tablet .events-list h1, .mobi .phone .css-560 .events-list h1, .mobi .tablet .css-560 .events-list h1 {
  font-size: 90px;
  margin-top: -10px;
  margin-left: 23px;
}
.css-560 .events-list h2, .tablet .events-list h2, .mobi .phone .css-560 .events-list h2, .mobi .tablet .css-560 .events-list h2 {
  font-size: 39px;
  margin-top: -42px;
  margin-left: 41px;
}
.css-560 .events-list img, .tablet .events-list img, .mobi .phone .css-560 .events-list img, .mobi .tablet .css-560 .events-list img {
  height: 145px;
}
.css-560 .events-list a img, .tablet .events-list a img, .mobi .phone .css-560 .events-list a img, .mobi .tablet .css-560 .events-list a img {
  left: 65%;
  top: 20%;
  height: 36px;
}

.css-480 .events-banner, .mobi .phone .css-480 .events-banner, .mobi .tablet .css-480 .events-banner {
  height: 260px;
}
.css-480 .events-banner .events-overlay, .mobi .phone .css-480 .events-banner .events-overlay, .mobi .tablet .css-480 .events-banner .events-overlay {
  height: 260px;
}
.css-480 .events-banner .discover-box.has-form .pre-arrows img, .mobi .phone .css-480 .events-banner .discover-box.has-form .pre-arrows img, .mobi .tablet .css-480 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}
.css-480 .events-banner .events-overlay .banner-text, .mobi .phone .css-480 .events-banner .events-overlay .banner-text, .mobi .tablet .css-480 .events-banner .events-overlay .banner-text {
  font-size: 33px;
  margin-top: 75px;
}
.css-480 .filter-events, .mobi .phone .css-480 .filter-events, .mobi .tablet .css-480 .filter-events {
  height: 45px;
}
.css-480 .filter-events .location-filter, .css-480 .filter-events .category-filter, .mobi .phone .css-480 .filter-events .location-filter, .mobi .phone .css-480 .filter-events .category-filter, .mobi .tablet .css-480 .filter-events .location-filter, .mobi .tablet .css-480 .filter-events .category-filter {
  font-size: 17px;
  margin-top: -4px;
}
.css-480 .filter-events .location-in, .mobi .phone .css-480 .filter-events .location-in, .mobi .tablet .css-480 .filter-events .location-in {
  left: 1%;
  margin-top: -9px;
  vertical-align: inherit;
}
.css-480 .filter-events .location-in input, .css-480 .filter-events .location-in select, .mobi .phone .css-480 .filter-events .location-in input, .mobi .phone .css-480 .filter-events .location-in select, .mobi .tablet .css-480 .filter-events .location-in input, .mobi .tablet .css-480 .filter-events .location-in select {
  width: 182px;
  height: 2.39rem;
  font-size: 15px;
  border-radius: 3px;
}
.css-480 .filter-events p, .mobi .phone .css-480 .filter-events p, .mobi .tablet .css-480 .filter-events p {
  font-size: 0.6rem;
}
.css-480 .filter-events .hide-mobile, .mobi .phone .css-480 .filter-events .hide-mobile, .mobi .tablet .css-480 .filter-events .hide-mobile {
  display: none !important;
}
.css-480 .see, .mobi .phone .css-480 .see, .mobi .tablet .css-480 .see {
  padding-bottom: 30px;
}
.css-480 .see .see-all-events, .mobi .phone .css-480 .see .see-all-events, .mobi .tablet .css-480 .see .see-all-events {
  font-size: 20px;
}
.css-480 .events-list, .mobi .phone .css-480 .events-list, .mobi .tablet .css-480 .events-list {
  height: 125px;
  width: 125px;
}
.css-480 .events-list h1, .mobi .phone .css-480 .events-list h1, .mobi .tablet .css-480 .events-list h1 {
  font-size: 84px;
  margin-top: -14px;
  margin-left: 16px;
}
.css-480 .events-list h2, .mobi .phone .css-480 .events-list h2, .mobi .tablet .css-480 .events-list h2 {
  font-size: 35px;
  margin-top: -40px;
  margin-left: 32px;
}
.css-480 .events-list img, .mobi .phone .css-480 .events-list img, .mobi .tablet .css-480 .events-list img {
  height: 125px;
}
.css-480 .events-list a img, .mobi .phone .css-480 .events-list a img, .mobi .tablet .css-480 .events-list a img {
  left: 72%;
  top: 24%;
  height: 30px;
}
.css-480 .e-hold-i, .mobi .phone .css-480 .e-hold-i, .mobi .tablet .css-480 .e-hold-i {
  display: none !important;
}
.css-480 .e-hold h3 a, .mobi .phone .css-480 .e-hold h3 a, .mobi .tablet .css-480 .e-hold h3 a {
  font-size: 18px;
}
.css-480 .e-hold p, .mobi .phone .css-480 .e-hold p, .mobi .tablet .css-480 .e-hold p {
  font-size: 14.8px !important;
}
.css-480 .events-display p a, .mobi .phone .css-480 .events-display p a, .mobi .tablet .css-480 .events-display p a {
  font-size: 12px;
}

.css-320 .events-banner, .mobi .phone .css-320 .events-banner, .mobi .tablet .css-320 .events-banner {
  height: 210px;
}
.css-320 .events-banner .events-overlay, .mobi .phone .css-320 .events-banner .events-overlay, .mobi .tablet .css-320 .events-banner .events-overlay {
  height: 210px;
}
.css-320 .events-banner .discover-box.has-form .pre-arrows img, .mobi .phone .css-320 .events-banner .discover-box.has-form .pre-arrows img, .mobi .tablet .css-320 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}
.css-320 .events-banner .events-overlay .banner-text, .mobi .phone .css-320 .events-banner .events-overlay .banner-text, .mobi .tablet .css-320 .events-banner .events-overlay .banner-text {
  font-size: 25px;
  margin-top: 55px;
}
.css-320 .events-banner .discover-box.has-form .button.tiny, .mobi .phone .css-320 .events-banner .discover-box.has-form .button.tiny, .mobi .tablet .css-320 .events-banner .discover-box.has-form .button.tiny {
  font-size: 0.7rem;
}
.css-320 .events-banner input[type="text"], .css-320 .events-banner input[type="password"], .css-320 .events-banner input[type="date"], .css-320 .events-banner input[type="datetime"], .css-320 .events-banner input[type="datetime-local"], .css-320 .events-banner input[type="month"], .css-320 .events-banner input[type="week"], .css-320 .events-banner input[type="email"], .css-320 .events-banner input[type="number"], .css-320 .events-banner input[type="search"], .css-320 .events-banner input[type="tel"], .css-320 .events-banner input[type="time"], .css-320 .events-banner input[type="url"], .css-320 .events-banner textarea, .mobi .phone .css-320 .events-banner input[type="text"], .mobi .phone .css-320 .events-banner input[type="password"], .mobi .phone .css-320 .events-banner input[type="date"], .mobi .phone .css-320 .events-banner input[type="datetime"], .mobi .phone .css-320 .events-banner input[type="datetime-local"], .mobi .phone .css-320 .events-banner input[type="month"], .mobi .phone .css-320 .events-banner input[type="week"], .mobi .phone .css-320 .events-banner input[type="email"], .mobi .phone .css-320 .events-banner input[type="number"], .mobi .phone .css-320 .events-banner input[type="search"], .mobi .phone .css-320 .events-banner input[type="tel"], .mobi .phone .css-320 .events-banner input[type="time"], .mobi .phone .css-320 .events-banner input[type="url"], .mobi .phone .css-320 .events-banner textarea, .mobi .tablet .css-320 .events-banner input[type="text"], .mobi .tablet .css-320 .events-banner input[type="password"], .mobi .tablet .css-320 .events-banner input[type="date"], .mobi .tablet .css-320 .events-banner input[type="datetime"], .mobi .tablet .css-320 .events-banner input[type="datetime-local"], .mobi .tablet .css-320 .events-banner input[type="month"], .mobi .tablet .css-320 .events-banner input[type="week"], .mobi .tablet .css-320 .events-banner input[type="email"], .mobi .tablet .css-320 .events-banner input[type="number"], .mobi .tablet .css-320 .events-banner input[type="search"], .mobi .tablet .css-320 .events-banner input[type="tel"], .mobi .tablet .css-320 .events-banner input[type="time"], .mobi .tablet .css-320 .events-banner input[type="url"], .mobi .tablet .css-320 .events-banner textarea {
  font-size: 0.675rem;
}
.css-320 .topbar-search-wrapper .button, .mobi .phone .css-320 .topbar-search-wrapper .button, .mobi .tablet .css-320 .topbar-search-wrapper .button {
  top: 0 !important;
}
.css-320 .e-hold-head, .mobi .phone .css-320 .e-hold-head, .mobi .tablet .css-320 .e-hold-head {
  margin-top: 11px;
}
.css-320 .filter-events, .mobi .phone .css-320 .filter-events, .mobi .tablet .css-320 .filter-events {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
}
.css-320 .filter-events .location-in, .mobi .phone .css-320 .filter-events .location-in, .mobi .tablet .css-320 .filter-events .location-in {
  left: 48%;
  margin-top: -34px;
}
.css-320 .filter-events .location-in input, .css-320 .filter-events .location-in select, .mobi .phone .css-320 .filter-events .location-in input, .mobi .phone .css-320 .filter-events .location-in select, .mobi .tablet .css-320 .filter-events .location-in input, .mobi .tablet .css-320 .filter-events .location-in select {
  width: 152px;
  height: 2.5125rem;
  font-size: 0.795rem;
}
.css-320 .filter-events p, .mobi .phone .css-320 .filter-events p, .mobi .tablet .css-320 .filter-events p {
  font-size: 0.6rem;
}
.css-320 .filter-events .hide-mobile, .mobi .phone .css-320 .filter-events .hide-mobile, .mobi .tablet .css-320 .filter-events .hide-mobile {
  display: none !important;
}
.css-320 .filter-events .show-location, .mobi .phone .css-320 .filter-events .show-location, .mobi .tablet .css-320 .filter-events .show-location {
  padding-bottom: 10px;
}
.css-320 .see, .mobi .phone .css-320 .see, .mobi .tablet .css-320 .see {
  padding-bottom: 20px;
}
.css-320 .see .see-all-events, .mobi .phone .css-320 .see .see-all-events, .mobi .tablet .css-320 .see .see-all-events {
  font-size: 16px;
}
.css-320 .e-hold-r, .mobi .phone .css-320 .e-hold-r, .mobi .tablet .css-320 .e-hold-r {
  display: inherit !important;
}
.css-320 .e-hold h3 a, .mobi .phone .css-320 .e-hold h3 a, .mobi .tablet .css-320 .e-hold h3 a {
  font-size: 17px;
}
.css-320 .e-hold p a, .mobi .phone .css-320 .e-hold p a, .mobi .tablet .css-320 .e-hold p a {
  font-size: 11.2px !important;
}
.css-320 .e-hold p, .mobi .phone .css-320 .e-hold p, .mobi .tablet .css-320 .e-hold p {
  font-size: 14.2px !important;
}

.css-240 .events-banner, .mobi .phone .css-240 .events-banner, .mobi .tablet .css-240 .events-banner {
  height: 210px;
}
.css-240 .events-banner .events-overlay, .mobi .phone .css-240 .events-banner .events-overlay, .mobi .tablet .css-240 .events-banner .events-overlay {
  height: 210px;
}
.css-240 .events-banner .discover-box.has-form .pre-arrows img, .mobi .phone .css-240 .events-banner .discover-box.has-form .pre-arrows img, .mobi .tablet .css-240 .events-banner .discover-box.has-form .pre-arrows img {
  margin-top: 14px;
}
.css-240 .events-banner .events-overlay .banner-text, .mobi .phone .css-240 .events-banner .events-overlay .banner-text, .mobi .tablet .css-240 .events-banner .events-overlay .banner-text {
  font-size: 25px;
  margin-top: 50px;
}
.css-240 .events-banner .discover-box.has-form .button.tiny, .mobi .phone .css-240 .events-banner .discover-box.has-form .button.tiny, .mobi .tablet .css-240 .events-banner .discover-box.has-form .button.tiny {
  font-size: 0.7rem;
}
.css-240 .events-banner input[type="text"], .css-240 .events-banner input[type="password"], .css-240 .events-banner input[type="date"], .css-240 .events-banner input[type="datetime"], .css-240 .events-banner input[type="datetime-local"], .css-240 .events-banner input[type="month"], .css-240 .events-banner input[type="week"], .css-240 .events-banner input[type="email"], .css-240 .events-banner input[type="number"], .css-240 .events-banner input[type="search"], .css-240 .events-banner input[type="tel"], .css-240 .events-banner input[type="time"], .css-240 .events-banner input[type="url"], .css-240 .events-banner textarea, .mobi .phone .css-240 .events-banner input[type="text"], .mobi .phone .css-240 .events-banner input[type="password"], .mobi .phone .css-240 .events-banner input[type="date"], .mobi .phone .css-240 .events-banner input[type="datetime"], .mobi .phone .css-240 .events-banner input[type="datetime-local"], .mobi .phone .css-240 .events-banner input[type="month"], .mobi .phone .css-240 .events-banner input[type="week"], .mobi .phone .css-240 .events-banner input[type="email"], .mobi .phone .css-240 .events-banner input[type="number"], .mobi .phone .css-240 .events-banner input[type="search"], .mobi .phone .css-240 .events-banner input[type="tel"], .mobi .phone .css-240 .events-banner input[type="time"], .mobi .phone .css-240 .events-banner input[type="url"], .mobi .phone .css-240 .events-banner textarea, .mobi .tablet .css-240 .events-banner input[type="text"], .mobi .tablet .css-240 .events-banner input[type="password"], .mobi .tablet .css-240 .events-banner input[type="date"], .mobi .tablet .css-240 .events-banner input[type="datetime"], .mobi .tablet .css-240 .events-banner input[type="datetime-local"], .mobi .tablet .css-240 .events-banner input[type="month"], .mobi .tablet .css-240 .events-banner input[type="week"], .mobi .tablet .css-240 .events-banner input[type="email"], .mobi .tablet .css-240 .events-banner input[type="number"], .mobi .tablet .css-240 .events-banner input[type="search"], .mobi .tablet .css-240 .events-banner input[type="tel"], .mobi .tablet .css-240 .events-banner input[type="time"], .mobi .tablet .css-240 .events-banner input[type="url"], .mobi .tablet .css-240 .events-banner textarea {
  font-size: 0.675rem;
}
.css-240 .e-hold-head, .mobi .phone .css-240 .e-hold-head, .mobi .tablet .css-240 .e-hold-head {
  margin-top: 11px;
}
.css-240 .topbar-search-wrapper .button, .mobi .phone .css-240 .topbar-search-wrapper .button, .mobi .tablet .css-240 .topbar-search-wrapper .button {
  top: 0 !important;
}
.css-240 .filter-events, .mobi .phone .css-240 .filter-events, .mobi .tablet .css-240 .filter-events {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 43px;
}
.css-240 .filter-events .showing, .css-240 .filter-events .events-in, .mobi .phone .css-240 .filter-events .showing, .mobi .phone .css-240 .filter-events .events-in, .mobi .tablet .css-240 .filter-events .showing, .mobi .tablet .css-240 .filter-events .events-in {
  font-size: 12px;
}
.css-240 .filter-events .location-in, .mobi .phone .css-240 .filter-events .location-in, .mobi .tablet .css-240 .filter-events .location-in {
  left: 50%;
  margin-top: -31px;
}
.css-240 .filter-events .location-in input, .css-240 .filter-events .location-in select, .mobi .phone .css-240 .filter-events .location-in input, .mobi .phone .css-240 .filter-events .location-in select, .mobi .tablet .css-240 .filter-events .location-in input, .mobi .tablet .css-240 .filter-events .location-in select {
  width: 105px;
  height: 2.3125rem;
  font-size: 8px;
}
.css-240 .filter-events p, .mobi .phone .css-240 .filter-events p, .mobi .tablet .css-240 .filter-events p {
  font-size: 0.6rem;
}
.css-240 .filter-events .hide-mobile, .mobi .phone .css-240 .filter-events .hide-mobile, .mobi .tablet .css-240 .filter-events .hide-mobile {
  display: none !important;
}
.css-240 .filter-events .show-location, .mobi .phone .css-240 .filter-events .show-location, .mobi .tablet .css-240 .filter-events .show-location {
  padding-bottom: 10px;
}
.css-240 .see, .mobi .phone .css-240 .see, .mobi .tablet .css-240 .see {
  padding-bottom: 20px;
}
.css-240 .see .see-all-events, .mobi .phone .css-240 .see .see-all-events, .mobi .tablet .css-240 .see .see-all-events {
  font-size: 13px;
}
.css-240 .e-hold-r, .mobi .phone .css-240 .e-hold-r, .mobi .tablet .css-240 .e-hold-r {
  display: inherit !important;
}
.css-240 .e-hold h3 a, .mobi .phone .css-240 .e-hold h3 a, .mobi .tablet .css-240 .e-hold h3 a {
  font-size: 15px;
  line-height: 1.2;
}
.css-240 .e-hold p a, .mobi .phone .css-240 .e-hold p a, .mobi .tablet .css-240 .e-hold p a {
  font-size: 9.2px !important;
}
.css-240 .e-hold p, .mobi .phone .css-240 .e-hold p, .mobi .tablet .css-240 .e-hold p {
  font-size: 11.2px !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .events-list {
    height: 130px;
    width: 130px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    font-size: 87px;
    margin-top: -17px;
    margin-left: 18px;
  }
  .events-list h2 {
    font-size: 35px;
    margin-top: -40px;
    margin-left: 35px;
  }
  .events-list img {
    border-radius: 50%;
    height: 130px;
  }
  .events-list a img {
    left: 66%;
    top: 22%;
    height: 40px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 55px;
    font-size: 13px;
    font-weight: bold;
  }

  .e-hold p {
    margin-bottom: 6px;
    font-size: 10.9px;
  }

  .events-listing {
    font-size: 9.5px !important;
  }
}
@media only screen and (min-width: 720px) and (max-width: 767px) {
  .events-list {
    height: 110px;
    width: 110px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    font-size: 85px;
    margin-top: -23px;
    margin-left: 10px;
  }
  .events-list h2 {
    font-size: 33px;
    margin-top: -43px;
    margin-left: 26px;
  }
  .events-list img {
    height: 110px;
  }
  .events-list a img {
    left: 63% !important;
    top: 25% !important;
    height: 30px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 45px;
    font-size: 10.9px;
    font-weight: bold;
  }

  .e-hold p {
    margin-bottom: 6px;
    font-size: 8.84px;
  }

  .events-listing {
    font-size: 8px !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 719px) {
  .events-list {
    height: 110px;
    width: 110px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    font-size: 85px;
    margin-top: -23px;
    margin-left: 10px;
  }
  .events-list h2 {
    font-size: 33px;
    margin-top: -43px;
    margin-left: 26px;
  }
  .events-list img {
    height: 110px;
  }
  .events-list a img {
    left: 69%;
    top: 23%;
    height: 30px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 45px;
    font-size: 10.9px;
    font-weight: bold;
  }

  .e-hold p {
    margin-bottom: 6px;
    font-size: 8.84px;
  }

  .events-listing {
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 639px) and (max-width: 640px) {
  .mobile-filter, .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  .mobile-filter h1, .remind-me h1 {
    margin-top: -2px;
  }

  .e-hold-i {
    display: none !important;
  }

  .submit {
    padding-left: rem-calc(70) !important;
    padding-right: rem-calc(70) !important;
  }

  .remind {
    margin-left: rem-calc(220);
    padding-left: rem-calc(70) !important;
    padding-right: rem-calc(70) !important;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-show {
    display: none !important;
  }

  .events-list {
    height: 150px;
    width: 150px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    letter-spacing: -14px;
  }
  .events-list img {
    height: 150px;
  }
  .events-list a img {
    left: 60%;
    top: 21%;
    height: 36px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 60px;
    font-size: 20.6px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .e-hold p {
    margin-bottom: 3px;
    font-size: 18px;
  }

  .events-listing {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 560px) and (max-width: 638px) {
  .mobile-filter, .remind-mee {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  .mobile-filter h1, .remind-mee h1 {
    margin-top: -2px;
  }

  .e-hold-i {
    display: none !important;
  }

  .submit {
    padding-left: rem-calc(70) !important;
    padding-right: rem-calc(70) !important;
  }

  .remind {
    margin-left: rem-calc(220);
    padding-left: rem-calc(70) !important;
    padding-right: rem-calc(70) !important;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .reminder {
    margin-left: 25px !important;
    margin-top: 20px;
  }

  .p-show {
    display: none !important;
  }

  .events-list {
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    letter-spacing: -14px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 60px;
    font-size: 20.6px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .e-hold p {
    margin-bottom: 3px;
    font-size: 18px;
  }

  .events-listing {
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 559px) {
  .mobile-filter, .remind-mee {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  .mobile-filter h1, .remind-mee h1 {
    margin-top: 5px;
    font-size: 25px;
  }

  .e-hold-i {
    display: none !important;
  }

  .submit {
    padding-left: rem-calc(70) !important;
    padding-right: rem-calc(70) !important;
  }

  .remind {
    margin-left: rem-calc(175);
    padding-left: rem-calc(70) !important;
    padding-right: rem-calc(70) !important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: bold;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    letter-spacing: -13px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 50px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 9.5px !important;
  }
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .e-hold-r {
    display: inherit !important;
  }

  .mobile-filter, .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  .mobile-filter h1, .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .hide-mobile {
    display: none !important;
  }

  .submit {
    padding-left: rem-calc(40) !important;
    padding-right: rem-calc(40) !important;
  }

  .remind {
    margin-left: rem-calc(110);
    padding-left: rem-calc(40) !important;
    padding-right: rem-calc(40) !important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: bold;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 90px;
    width: 90px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    font-size: 70px;
    margin-top: -18px;
    margin-left: 8px;
    letter-spacing: -14px;
  }
  .events-list h2 {
    font-size: 26px;
    margin-top: -36px;
    margin-left: 22px;
  }
  .events-list img {
    height: 90px;
  }
  .events-list a img {
    left: 70%;
    top: 29%;
    height: 20px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 38px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 8.5px !important;
  }
}
@media only screen and (min-width: 350px) and (max-width: 359px) {
  .e-hold-r {
    display: inherit !important;
  }

  .mobile-filter, .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  .mobile-filter h1, .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .hide-mobile {
    display: none !important;
  }

  .submit {
    padding-left: rem-calc(40) !important;
    padding-right: rem-calc(40) !important;
  }

  .remind {
    margin-left: rem-calc(110);
    padding-left: rem-calc(40) !important;
    padding-right: rem-calc(40) !important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: bold;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 90px;
    width: 90px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    font-size: 70px;
    margin-top: -18px;
    margin-left: 8px;
    letter-spacing: -14px;
  }
  .events-list h2 {
    font-size: 26px;
    margin-top: -36px;
    margin-left: 22px;
  }
  .events-list img {
    height: 90px;
  }
  .events-list a img {
    left: 70%;
    top: 27.7%;
    height: 20px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 38px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 8.5px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 349px) {
  .e-hold-r {
    display: inherit !important;
  }

  .mobile-filter, .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  .mobile-filter h1, .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .hide-mobile {
    display: none !important;
  }

  .submit {
    padding-left: rem-calc(40) !important;
    padding-right: rem-calc(40) !important;
  }

  .remind {
    margin-left: rem-calc(110);
    padding-left: rem-calc(40) !important;
    padding-right: rem-calc(40) !important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: bold;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 90px;
    width: 90px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    font-size: 70px;
    margin-top: -18px;
    margin-left: 8px;
    letter-spacing: -14px;
  }
  .events-list h2 {
    font-size: 26px;
    margin-top: -36px;
    margin-left: 22px;
  }
  .events-list img {
    height: 90px;
  }
  .events-list a img {
    left: 80%;
    top: 29%;
    height: 20px;
  }

  .e-hold h3 {
    line-height: 1;
    margin-top: 23px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 8.5px !important;
  }
}
@media only screen and (min-width: 240px) and (max-width: 319px) {
  .e-hold-r {
    display: inherit !important;
  }

  .mobile-filter, .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  .mobile-filter h1, .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .hide-mobile {
    display: none !important;
  }

  .submit {
    padding-left: rem-calc(20) !important;
    padding-right: rem-calc(20) !important;
  }

  .remind {
    margin-left: rem-calc(85);
    padding-left: rem-calc(20) !important;
    padding-right: rem-calc(20) !important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: bold;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 70px;
    width: 70px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    font-size: 50px;
    margin-top: -12px;
    margin-left: 9px;
    letter-spacing: -10px;
  }
  .events-list h2 {
    font-size: 20px;
    margin-top: -28px;
    margin-left: 16px;
  }
  .events-list img {
    height: 70px;
  }
  .events-list a img {
    left: 85%;
    top: 32%;
    height: 15px;
  }

  .e-hold h3 {
    line-height: 1;
    font-weight: bold;
    margin-bottom: -3px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 7px !important;
  }
}
@media only screen and (max-width: 239px) {
  .e-hold-r {
    display: inherit !important;
  }

  .mobile-filter, .remind-me {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  .mobile-filter h1, .remind-me h1 {
    margin-top: 9px;
    font-size: 20px;
  }

  .submit {
    padding-left: rem-calc(20) !important;
    padding-right: rem-calc(20) !important;
  }

  .remind {
    margin-left: rem-calc(85);
    padding-left: rem-calc(20) !important;
    padding-right: rem-calc(20) !important;
  }

  .reminder {
    margin-left: 10px;
    margin-top: 20px;
  }

  label.inline {
    font-size: 8.2px;
    font-weight: bold;
  }

  .filter {
    margin-left: 10px;
    margin-top: 20px;
  }

  .p-display {
    display: none;
  }

  .events-list {
    height: 70px;
    width: 70px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
  .events-list h1 {
    font-size: 50px;
    margin-top: -12px;
    margin-left: 9px;
    letter-spacing: -10px;
  }
  .events-list h2 {
    font-size: 20px;
    margin-top: -28px;
    margin-left: 16px;
  }
  .events-list img {
    height: 70px;
  }
  .events-list a img {
    left: 85%;
    top: 32%;
    height: 15px;
  }

  .e-hold h3 {
    line-height: 1;
    font-weight: bold;
    margin-bottom: -3px;
  }

  .e-hold p {
    margin-bottom: 3px;
  }

  .events-listing {
    font-size: 7px !important;
  }
}
