.n-details {
  min-height: 140px;
  background-color: #F0F0F0;
  border: 2px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
}
.n-details .medium-3 {
  padding-right: 0;
}
.n-details .details-web {
  color: #ff6d00;
}
.n-details .details-web:hover, .n-details .details-web:focus {
  color: #ff6d00;
}

.n-details-top {
  margin-top: 10px !important;
}

.event-image {
  height: 77px;
  width: 77px;
  border: 2px solid #FFF;
  border-radius: 3px;
  margin-top: 22px;
}
.event-image img {
  width: auto;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  -ms-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  overflow: hidden;
}

.event-details-t {
  padding-top: 20px;
}
.event-details-t ul {
  margin-left: 0 !important;
}
.event-details-t li {
  margin-left: 0 !important;
}
.event-details-t h1 {
  font-size: 2.2rem;
}

.location-i {
  margin-top: -0.7rem !important;
}
.location-i li {
  border-right: 2px solid #ccc;
  padding-right: 5px;
}
.location-i li:last-child {
  border-right: none;
}
.location-i li:last-child {
  padding-left: 5px;
}
.location-i li:nth-child(2) {
  padding-left: 5px;
}
.location-i p {
  font-size: 0.8rem !important;
  margin-bottom: 0;
}
.location-i .add-holder-l {
  text-align: center;
  line-height: 1.1;
}

.social-but {
  margin-left: 26px;
  padding-bottom: 13px;
}
.social-but .button-holder {
  font-size: 0.88rem !important;
  margin-top: 0;
  margin-right: 24px;
}
.social-but .share-style {
  padding: 10.5px 40px;
  margin-top: 0;
  margin-left: 0;
  border-color: #ff6d00;
  color: #ff6d00;
}

.description-h {
  text-align: justify;
  padding-top: 17px;
}
.description-h h1 {
  font-size: 18px;
}
.description-h p {
  line-height: 1.3;
}

.top-date {
  min-height: 100px;
}
.top-date .info-h {
  border-bottom: 2px solid #ccc;
  height: 50px;
}
.top-date .info-lhh {
  height: 160px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.top-date .info-lh {
  height: 160px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: url("../img/tap.png") no-repeat;
}
.top-date .info-lh .overla {
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  height: 160px;
}
.top-date .info-lh .overla p {
  color: #fff;
  line-height: 1.1;
}
.top-date .info-lh .overla i {
  color: #ff6d00;
  font-size: 3rem;
}
.top-date .info-lh .overla .l-l {
  padding-top: 23px;
}
.top-date .contact-h {
  background-color: #fff;
  height: 150px;
  width: 450px;
  border-radius: 3px;
}
.top-date .information-h {
  background-color: #fff;
  height: 210px;
  width: 400px;
  border-radius: 3px;
}
.top-date .top-date-o {
  padding-top: 20px;
}
.top-date .in-f {
  display: inline-block;
  border-bottom: 2px solid;
}
.top-date .in-p {
  text-align: center;
}
.top-date .in-p li {
  padding-top: 12px;
  width: 44%;
  margin-left: 1.2rem;
}

.in-p-p {
  padding-top: 12px;
  text-align: center;
}

.in-p-p-c {
  background-color: #ff6d00;
  color: white;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.contact-d {
  height: 77px;
  width: 77px;
  margin-left: 158px;
  margin-top: 3px;
}
.contact-d img {
  width: auto;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  -ms-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.list-s {
  list-style: none;
}
.list-s p {
  margin-bottom: 0 !important;
  line-height: 1.2;
  font-size: 14px;
}
.list-s .share-style {
  margin-top: 15.4px;
  padding: 14px 39px;
  margin-left: 114px;
}
.list-s .pad-b {
  margin-bottom: 0.7rem;
}

.sect-l {
  margin-top: 59px;
}

.loc-r {
  margin-top: 13px;
}
.loc-r ul {
  margin-left: 0;
}
.loc-r i {
  color: #ff6d00;
  padding-right: 6px;
}

.list-s.l {
  margin-left: 1.6rem;
}

.directions-l {
  margin-right: -15px;
  margin-top: 13px;
  min-height: 120px;
  padding-bottom: 8px;
  border: 1px solid #eee;
  border-bottom: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.directions-l .b-t {
  margin-bottom: -13px;
}
.directions-l h1 {
  font-size: 18px;
  padding-left: 17px;
  padding-top: 3px;
}
.directions-l form {
  margin-left: 17px;
  margin-right: -17px;
}
.directions-l p {
  font-size: 14px;
}

.g-t {
  min-height: 50px;
  border: 1px solid #EEE;
  width: 386px;
  border-top: none;
  padding-left: 17px;
}

.top-date-w {
  border-bottom: 1px solid #EEE;
}

.no-image a {
  padding-top: 74px;
}

.lr img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  -ms-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
}

.rp {
  background-color: #ccc;
  height: 180px !important;
  width: 44.5%;
  border-radius: 4px;
  text-align: center;
}
.rp a {
  color: #595959;
}

.lo-dr {
  padding-left: 17px;
}
.lo-dr ul {
  margin-bottom: 0;
}
.lo-dr li {
  line-height: 1.2;
}

.desc {
  padding-right: 0;
}
.desc h1 {
  font-size: 18px;
  margin-top: 22px;
}

.photo-count-t {
  display: inline-block;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: -180px;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
  font-size: 57px;
  font-weight: bolder;
  color: #FFF;
  width: 100%;
  height: 180px;
  border-radius: 4px;
  padding-top: 47px;
}

.s-c h1 {
  font-size: 18px;
}

.calenda .cal-r {
  padding-right: 0;
}
.calenda .cal-l {
  padding-left: 0;
}

.calenda-h {
  min-height: 289px;
  border: 2px solid #ccc;
  width: 100%;
  margin-left: 13px;
  margin-top: -2px;
  border-radius: 4px;
}

.calenda-t {
  border-right: 2px solid #ddd;
  height: 298px;
  border-bottom: 2px solid #ddd;
}

.calenda-t-o {
  height: 35px;
  border-bottom: 2px solid #eee;
}

.date-i p {
  padding-left: 9px;
  font-size: 14px;
  color: #ccc;
}
.date-i li:first-child {
  margin-left: 1.6rem;
}
.date-i ul {
  padding-top: 4px;
  margin-bottom: 0;
  padding-bottom: 6px;
}
.date-i table {
  width: 100%;
  height: 263px;
  border: none;
  font-size: 12px;
}
.date-i table .ta {
  border-top: none;
  border-right: none;
  border-left: none;
}
.date-i table .te {
  border-right: none;
  border-left: none;
}
.date-i table .tr {
  border-bottom: none;
}

.ts td {
  border-color: #ddd;
  height: 36px;
  width: 54px;
}

.io ul {
  margin-bottom: 0;
}
.io ul a {
  color: #ddd;
}
.io li:nth-child(2) {
  margin-left: 0;
  padding-top: 2px;
}
.io li:last-child {
  margin-left: -8px;
  padding-top: 2px;
}
.io p {
  padding-left: 14px;
  padding-top: 6px;
  font-size: 14px;
}

.iw p {
  padding-left: 14px;
  padding-top: 6px;
  font-size: 14px;
}

.pef ul {
  margin-left: 0px;
  padding-left: 9px;
  margin-top: -16px;
}
.pef i {
  color: #ff6d00;
  padding-right: 6px;
}

.actd {
  background: #D22C25;
}
.actd a {
  color: #fff;
}

.wit {
  padding-left: 13px;
  font-size: 14px;
}

.wi {
  padding-top: 10px;
}

.witt {
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  border-radius: 50%;
  background-color: #ff6d00;
  color: #fff;
  text-align: center;
  margin-right: 12px;
  margin-top: 5px;
  float: right !important;
}
.witt p:first-child {
  margin-top: -3px;
}
.witt p:last-child {
  margin-top: -11px;
}

.pt ul {
  margin-left: -7px;
}
.pt .last-p {
  font-size: 34px;
  margin-top: -17px;
}
.pt .last-p a {
  color: #ddd;
}
.pt a {
  height: 40px;
  width: 40px;
}
.pt a img {
  height: 100%;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.atc {
  color: #ff6d00;
}

.con {
  padding-right: 0;
}
.con .flex-video {
  padding-bottom: 67.5%;
}

.t-section {
  margin-top: 18px;
}
.t-section .arr {
  width: 7px;
  height: 7px;
  transform: rotate(-45deg);
  background-color: #eee;
  margin: 2px auto -3px;
  border: 1px solid #eee;
  top: -6px;
  left: 22px;
  position: absolute;
}
.t-section .no-p {
  font-size: 16px !important;
}
.t-section .has-dropdown {
  padding-top: 5px;
}
.t-section .dropdown {
  position: absolute;
  top: auto;
  background-color: #eee;
  width: 160px;
  min-height: 30px;
  text-align: center;
  padding-top: 2px;
  border-radius: 4px;
  padding-bottom: 8px;
}
.t-section .dropdown li {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: -5px;
}
.t-section .dropdown li:last-child {
  font-size: 11px;
}

.wedt {
  margin-left: -2px !important;
}

.wedd {
  padding-top: 3px;
}
.wedd a {
  color: #ddd;
}

.wetd {
  margin-left: 7px !important;
  padding-top: 3px;
}
.wetd a {
  color: #ddd;
}

/* Media Queries Start Here */
.css-1024 .lr, .css-1024 .rp, .tablet .lr, .tablet .rp, .mobi .tablet .css-1024 .lr, .mobi .tablet .css-1024 .rp, .css-1178 .lr, .css-1178 .rp, .mobi .tablet .css-1178 .lr, .mobi .tablet .css-1178 .rp {
  height: 245px !important;
  width: 91.5%;
}
.css-1024 .no-image, .tablet .no-image, .mobi .tablet .css-1024 .no-image, .css-1178 .no-image, .mobi .tablet .css-1178 .no-image {
  display: none !important;
}
.css-1024 .lr img, .tablet .lr img, .mobi .tablet .css-1024 .lr img, .css-1178 .lr img, .mobi .tablet .css-1178 .lr img {
  height: 245px;
}
.css-1024 .photo-count-t, .tablet .photo-count-t, .mobi .tablet .css-1024 .photo-count-t, .css-1178 .photo-count-t, .mobi .tablet .css-1178 .photo-count-t {
  height: 245px;
  top: -245px;
  padding: 86px 12px 12px;
}

.css-960 .list-s p, .tablet .list-s p, .mobi .tablet .css-960 .list-s p {
  font-size: 11px;
}
.css-960 .list-s.l, .tablet .list-s.l, .mobi .tablet .css-960 .list-s.l {
  margin-left: 1.3rem;
}
.css-960 .event-details-t, .tablet .event-details-t, .mobi .tablet .css-960 .event-details-t {
  padding-top: 28px;
  margin-left: 26px;
}
.css-960 .event-details-t h1, .tablet .event-details-t h1, .mobi .tablet .css-960 .event-details-t h1 {
  font-size: 1.7rem;
}
.css-960 .directions-l, .tablet .directions-l, .mobi .tablet .css-960 .directions-l {
  margin-right: 0;
}
.css-960 .directions-l h1, .tablet .directions-l h1, .mobi .tablet .css-960 .directions-l h1 {
  font-size: 15px;
}
.css-960 .directions-l form, .tablet .directions-l form, .mobi .tablet .css-960 .directions-l form {
  margin-left: 15px;
  margin-right: -8px;
}
.css-960 .directions-l .lo-dr li, .tablet .directions-l .lo-dr li, .mobi .tablet .css-960 .directions-l .lo-dr li {
  font-size: 14px;
}
.css-960 .description-h h1, .tablet .description-h h1, .mobi .tablet .css-960 .description-h h1 {
  font-size: 16px;
}
.css-960 .description-h p, .tablet .description-h p, .mobi .tablet .css-960 .description-h p {
  font-size: 14px;
}
.css-960 .desc h1, .tablet .desc h1, .mobi .tablet .css-960 .desc h1 {
  font-size: 16px;
}
.css-960 .lr, .css-960 .rp, .tablet .lr, .tablet .rp, .mobi .tablet .css-960 .lr, .mobi .tablet .css-960 .rp {
  width: 89%;
}
.css-960 .photo-count-t, .tablet .photo-count-t, .mobi .tablet .css-960 .photo-count-t {
  padding: 54px 12px 12px;
  font-size: 57px;
  height: 180px;
}
.css-960 .calenda-h, .tablet .calenda-h, .mobi .tablet .css-960 .calenda-h {
  min-height: 283px;
}
.css-960 .witt, .tablet .witt, .mobi .tablet .css-960 .witt {
  margin-left: 123px !important;
}
.css-960 .witt p:first-child, .tablet .witt p:first-child, .mobi .tablet .css-960 .witt p:first-child {
  margin-top: -1px;
}
.css-960 .witt p:last-child, .tablet .witt p:last-child, .mobi .tablet .css-960 .witt p:last-child {
  margin-top: -10px;
}
.css-960 .s-c h1, .tablet .s-c h1, .mobi .tablet .css-960 .s-c h1 {
  font-size: 16px;
}
.css-960 .con, .tablet .con, .mobi .tablet .css-960 .con {
  padding-right: 0.9375rem;
}
.css-960 .con .flex-video, .tablet .con .flex-video, .mobi .tablet .css-960 .con .flex-video {
  padding-bottom: 280px;
}

.css-768 .sch-padd, .tablet .sch-padd, .mobi .tablet .css-768 .sch-padd {
  padding-bottom: 52px;
}
.css-768 .list-s p, .tablet .list-s p, .mobi .tablet .css-768 .list-s p {
  font-size: 9.5px;
}
.css-768 .list-s.l, .tablet .list-s.l, .mobi .tablet .css-768 .list-s.l {
  margin-left: 1.3rem;
}
.css-768 .location-i p, .tablet .location-i p, .mobi .tablet .css-768 .location-i p {
  font-size: 0.7rem !important;
}
.css-768 .social-but .share-style, .tablet .social-but .share-style, .mobi .tablet .css-768 .social-but .share-style {
  padding: 9px 28px;
}
.css-768 .social-but .button-holder, .tablet .social-but .button-holder, .mobi .tablet .css-768 .social-but .button-holder {
  font-size: 0.633rem !important;
}
.css-768 .event-details-t, .tablet .event-details-t, .mobi .tablet .css-768 .event-details-t {
  padding-top: 33px;
  margin-left: 39px;
}
.css-768 .event-details-t h1, .tablet .event-details-t h1, .mobi .tablet .css-768 .event-details-t h1 {
  font-size: 1.4rem;
}
.css-768 .directions-l, .tablet .directions-l, .mobi .tablet .css-768 .directions-l {
  margin-right: 0;
}
.css-768 .directions-l h1, .tablet .directions-l h1, .mobi .tablet .css-768 .directions-l h1 {
  font-size: 13px;
  padding-left: 12px;
}
.css-768 .directions-l form, .tablet .directions-l form, .mobi .tablet .css-768 .directions-l form {
  margin-left: 13px;
  margin-right: -5px;
}
.css-768 .directions-l label, .tablet .directions-l label, .mobi .tablet .css-768 .directions-l label {
  font-size: 0.675rem;
}
.css-768 .directions-l .button.tiny, .tablet .directions-l .button.tiny, .mobi .tablet .css-768 .directions-l .button.tiny {
  font-size: 0.56rem;
}
.css-768 .directions-l .lo-dr li, .tablet .directions-l .lo-dr li, .mobi .tablet .css-768 .directions-l .lo-dr li {
  font-size: 12px;
}
.css-768 .description-h h1, .tablet .description-h h1, .mobi .tablet .css-768 .description-h h1 {
  font-size: 14px;
}
.css-768 .description-h p, .tablet .description-h p, .mobi .tablet .css-768 .description-h p {
  font-size: 12px;
}
.css-768 .desc h1, .tablet .desc h1, .mobi .tablet .css-768 .desc h1 {
  font-size: 14px;
}
.css-768 .lr, .css-768 .rp, .tablet .lr, .tablet .rp, .mobi .tablet .css-768 .lr, .mobi .tablet .css-768 .rp {
  width: 85.5%;
}
.css-768 .photo-count-t, .tablet .photo-count-t, .mobi .tablet .css-768 .photo-count-t {
  padding: 58px 12px 12px;
  font-size: 50px;
  height: 180px;
}
.css-768 .calenda-h, .tablet .calenda-h, .mobi .tablet .css-768 .calenda-h {
  min-height: 235px;
}
.css-768 .calenda-h .calenda-t-o, .tablet .calenda-h .calenda-t-o, .mobi .tablet .css-768 .calenda-h .calenda-t-o {
  height: 27px;
}
.css-768 .calenda-h .wetd, .css-768 .calenda-h .wedd, .tablet .calenda-h .wetd, .tablet .calenda-h .wedd, .mobi .tablet .css-768 .calenda-h .wetd, .mobi .tablet .css-768 .calenda-h .wedd {
  padding-top: 0;
  margin-top: -2px;
}
.css-768 .calenda-h .wedd, .tablet .calenda-h .wedd, .mobi .tablet .css-768 .calenda-h .wedd {
  margin-left: -5px !important;
}
.css-768 .t-section .dropdown, .tablet .t-section .dropdown, .mobi .tablet .css-768 .t-section .dropdown {
  width: 100px;
}
.css-768 .t-section .dropdown li, .tablet .t-section .dropdown li, .mobi .tablet .css-768 .t-section .dropdown li {
  font-size: 12px;
}
.css-768 .t-section .dropdown li:last-child, .tablet .t-section .dropdown li:last-child, .mobi .tablet .css-768 .t-section .dropdown li:last-child {
  font-size: 8px;
}
.css-768 .witt, .tablet .witt, .mobi .tablet .css-768 .witt {
  margin-left: 75px !important;
  width: 40px;
  height: 40px;
}
.css-768 .witt p:first-child, .tablet .witt p:first-child, .mobi .tablet .css-768 .witt p:first-child {
  margin-top: -3px;
}
.css-768 .witt p:last-child, .tablet .witt p:last-child, .mobi .tablet .css-768 .witt p:last-child {
  margin-top: -10px;
}
.css-768 .wit, .tablet .wit, .mobi .tablet .css-768 .wit {
  font-size: 10px;
}
.css-768 .s-c h1, .tablet .s-c h1, .mobi .tablet .css-768 .s-c h1 {
  font-size: 14px;
}
.css-768 .s-c, .tablet .s-c, .mobi .tablet .css-768 .s-c {
  margin-bottom: -80px;
}
.css-768 .con, .tablet .con, .mobi .tablet .css-768 .con {
  padding-right: 0.9375rem;
}
.css-768 .pt a, .tablet .pt a, .mobi .tablet .css-768 .pt a {
  height: 30px;
  width: 30px;
}
.css-768 .t-section .has-dropdown, .tablet .t-section .has-dropdown, .mobi .tablet .css-768 .t-section .has-dropdown {
  margin-left: 18px;
}
.css-768 .pt .last-p, .tablet .pt .last-p, .mobi .tablet .css-768 .pt .last-p {
  font-size: 25px;
  margin-top: -11px;
}
.css-768 .con .flex-video, .tablet .con .flex-video, .mobi .tablet .css-768 .con .flex-video {
  padding-bottom: 226px;
}

.css-640 .n-details-body .mobile-wrap nav.tab-bar, .tablet .n-details-body .mobile-wrap nav.tab-bar, .mobi .phone .css-640 .n-details-body .mobile-wrap nav.tab-bar, .mobi .tablet .css-640 .n-details-body .mobile-wrap nav.tab-bar {
  background-image: none !important;
}
.css-640 .n-details, .tablet .n-details, .mobi .phone .css-640 .n-details, .mobi .tablet .css-640 .n-details {
  min-height: 120px;
}
.css-640 .n-details .n-details-top, .tablet .n-details .n-details-top, .mobi .phone .css-640 .n-details .n-details-top, .mobi .tablet .css-640 .n-details .n-details-top {
  margin-top: -21px !important;
}
.css-640 .photo-list, .tablet .photo-list, .mobi .phone .css-640 .photo-list, .mobi .tablet .css-640 .photo-list {
  width: 97.6%;
}
.css-640 .event-image, .tablet .event-image, .mobi .phone .css-640 .event-image, .mobi .tablet .css-640 .event-image {
  height: 70px;
  width: 70px;
  margin-top: 46px;
}
.css-640 .event-details-t, .tablet .event-details-t, .mobi .phone .css-640 .event-details-t, .mobi .tablet .css-640 .event-details-t {
  padding-top: 58px;
  margin-left: -35px;
}
.css-640 .event-details-t h1, .tablet .event-details-t h1, .mobi .phone .css-640 .event-details-t h1, .mobi .tablet .css-640 .event-details-t h1 {
  font-size: 1rem;
}
.css-640 .location-i p, .tablet .location-i p, .mobi .phone .css-640 .location-i p, .mobi .tablet .css-640 .location-i p {
  font-size: 0.7rem !important;
}
.css-640 .list-s p, .tablet .list-s p, .mobi .phone .css-640 .list-s p, .mobi .tablet .css-640 .list-s p {
  font-size: 11px;
}
.css-640 .list-s.l, .tablet .list-s.l, .mobi .phone .css-640 .list-s.l, .mobi .tablet .css-640 .list-s.l {
  margin-left: 1.3rem;
}
.css-640 .social-but .share-style, .tablet .social-but .share-style, .mobi .phone .css-640 .social-but .share-style, .mobi .tablet .css-640 .social-but .share-style {
  margin-left: 11px !important;
  padding: 7px 28px;
}
.css-640 .social-but .button-holder, .tablet .social-but .button-holder, .mobi .phone .css-640 .social-but .button-holder, .mobi .tablet .css-640 .social-but .button-holder {
  font-size: 0.6rem !important;
  padding: 9.5px 20px !important;
}
.css-640 .f-dropdown.small.drop-s, .tablet .f-dropdown.small.drop-s, .mobi .phone .css-640 .f-dropdown.small.drop-s, .mobi .tablet .css-640 .f-dropdown.small.drop-s {
  max-width: 300px !important;
  margin-left: 126px;
}
.css-640 .description-h h1, .tablet .description-h h1, .mobi .phone .css-640 .description-h h1, .mobi .tablet .css-640 .description-h h1 {
  font-size: 14px;
}
.css-640 .description-h p, .tablet .description-h p, .mobi .phone .css-640 .description-h p, .mobi .tablet .css-640 .description-h p {
  font-size: 12px;
}
.css-640 .desc h1, .tablet .desc h1, .mobi .phone .css-640 .desc h1, .mobi .tablet .css-640 .desc h1 {
  font-size: 14px;
}
.css-640 .lr, .css-640 .rp, .tablet .lr, .tablet .rp, .mobi .phone .css-640 .lr, .mobi .phone .css-640 .rp, .mobi .tablet .css-640 .lr, .mobi .tablet .css-640 .rp {
  width: 46%;
  height: 220px !important;
}
.css-640 .no-image a, .tablet .no-image a, .mobi .phone .css-640 .no-image a, .mobi .tablet .css-640 .no-image a {
  padding-top: 98px;
}
.css-640 .lr img, .tablet .lr img, .mobi .phone .css-640 .lr img, .mobi .tablet .css-640 .lr img {
  height: 220px;
}
.css-640 .photo-count-t, .tablet .photo-count-t, .mobi .phone .css-640 .photo-count-t, .mobi .tablet .css-640 .photo-count-t {
  top: -221px;
  padding: 72px 12px 12px;
  font-size: 55px;
  height: 220px !important;
}
.css-640 .s-c h1, .tablet .s-c h1, .mobi .phone .css-640 .s-c h1, .mobi .tablet .css-640 .s-c h1 {
  font-size: 14px;
}
.css-640 .calenda-h, .tablet .calenda-h, .mobi .phone .css-640 .calenda-h, .mobi .tablet .css-640 .calenda-h {
  min-height: 286px;
  width: 97.9%;
}
.css-640 .con, .tablet .con, .mobi .phone .css-640 .con, .mobi .tablet .css-640 .con {
  padding-right: 0.9375rem;
  margin-top: 24px;
}
.css-640 .witt, .tablet .witt, .mobi .phone .css-640 .witt, .mobi .tablet .css-640 .witt {
  margin-left: 210px !important;
}
.css-640 .wetd, .css-640 .wedd, .tablet .wetd, .tablet .wedd, .mobi .phone .css-640 .wetd, .mobi .phone .css-640 .wedd, .mobi .tablet .css-640 .wetd, .mobi .tablet .css-640 .wedd {
  padding-top: 0;
}
.css-640 .iw, .tablet .iw, .mobi .phone .css-640 .iw, .mobi .tablet .css-640 .iw {
  margin-top: 4px;
}
.css-640 .t-section .dropdown, .tablet .t-section .dropdown, .mobi .phone .css-640 .t-section .dropdown, .mobi .tablet .css-640 .t-section .dropdown {
  position: absolute;
}

.css-560 .n-details-body .mobile-wrap nav.tab-bar, .tablet .n-details-body .mobile-wrap nav.tab-bar, .mobi .phone .css-560 .n-details-body .mobile-wrap nav.tab-bar, .mobi .tablet .css-560 .n-details-body .mobile-wrap nav.tab-bar {
  background-image: none !important;
}
.css-560 .n-details, .tablet .n-details, .mobi .phone .css-560 .n-details, .mobi .tablet .css-560 .n-details {
  min-height: 120px;
}
.css-560 .n-details .n-details-top, .tablet .n-details .n-details-top, .mobi .phone .css-560 .n-details .n-details-top, .mobi .tablet .css-560 .n-details .n-details-top {
  margin-top: -21px !important;
}
.css-560 .event-image, .tablet .event-image, .mobi .phone .css-560 .event-image, .mobi .tablet .css-560 .event-image {
  height: 65px;
  width: 65px;
  margin-top: 50px;
}
.css-560 .event-details-t, .tablet .event-details-t, .mobi .phone .css-560 .event-details-t, .mobi .tablet .css-560 .event-details-t {
  padding-top: 58px;
  margin-left: -44px;
}
.css-560 .event-details-t h1, .tablet .event-details-t h1, .mobi .phone .css-560 .event-details-t h1, .mobi .tablet .css-560 .event-details-t h1 {
  font-size: 0.9rem;
  line-height: 1.7;
}
.css-560 .location-i p, .tablet .location-i p, .mobi .phone .css-560 .location-i p, .mobi .tablet .css-560 .location-i p {
  font-size: 0.6rem !important;
}
.css-560 .top-date .top-date-o, .tablet .top-date .top-date-o, .mobi .phone .css-560 .top-date .top-date-o, .mobi .tablet .css-560 .top-date .top-date-o {
  padding-top: 0;
}
.css-560 .list-s p, .tablet .list-s p, .mobi .phone .css-560 .list-s p, .mobi .tablet .css-560 .list-s p {
  font-size: 10px;
}
.css-560 .list-s.l, .tablet .list-s.l, .mobi .phone .css-560 .list-s.l, .mobi .tablet .css-560 .list-s.l {
  margin-left: 1.3rem;
}
.css-560 .social-but .button-holder, .tablet .social-but .button-holder, .mobi .phone .css-560 .social-but .button-holder, .mobi .tablet .css-560 .social-but .button-holder {
  font-size: 0.8rem !important;
  padding: 10px 21px !important;
}
.css-560 .f-dropdown.small.drop-s, .tablet .f-dropdown.small.drop-s, .mobi .phone .css-560 .f-dropdown.small.drop-s, .mobi .tablet .css-560 .f-dropdown.small.drop-s {
  max-width: 175px !important;
  margin-left: 126px;
}
.css-560 .description-h h1, .tablet .description-h h1, .mobi .phone .css-560 .description-h h1, .mobi .tablet .css-560 .description-h h1 {
  font-size: 13px;
}
.css-560 .description-h p, .tablet .description-h p, .mobi .phone .css-560 .description-h p, .mobi .tablet .css-560 .description-h p {
  font-size: 11px;
}
.css-560 .desc h1, .tablet .desc h1, .mobi .phone .css-560 .desc h1, .mobi .tablet .css-560 .desc h1 {
  font-size: 13px;
}
.css-560 .lr, .css-560 .rp, .tablet .lr, .tablet .rp, .mobi .phone .css-560 .lr, .mobi .phone .css-560 .rp, .mobi .tablet .css-560 .lr, .mobi .tablet .css-560 .rp {
  width: 44%;
}
.css-560 .photo-count-t, .tablet .photo-count-t, .mobi .phone .css-560 .photo-count-t, .mobi .tablet .css-560 .photo-count-t {
  padding: 61px 12px 12px;
  font-size: 40px;
  height: 180px;
}
.css-560 .s-c h1, .tablet .s-c h1, .mobi .phone .css-560 .s-c h1, .mobi .tablet .css-560 .s-c h1 {
  font-size: 13px;
}
.css-560 .calenda-h, .tablet .calenda-h, .mobi .phone .css-560 .calenda-h, .mobi .tablet .css-560 .calenda-h {
  min-height: 256px;
  width: 97.6%;
}
.css-560 .con, .tablet .con, .mobi .phone .css-560 .con, .mobi .tablet .css-560 .con {
  padding-right: 0.9375rem;
  margin-top: 15px;
}
.css-560 .witt, .tablet .witt, .mobi .phone .css-560 .witt, .mobi .tablet .css-560 .witt {
  margin-left: 259px !important;
  margin-top: 6px;
  width: 40px;
  height: 40px;
}
.css-560 .wetd, .css-560 .wedd, .tablet .wetd, .tablet .wedd, .mobi .phone .css-560 .wetd, .mobi .phone .css-560 .wedd, .mobi .tablet .css-560 .wetd, .mobi .tablet .css-560 .wedd {
  padding-top: 0;
}
.css-560 .iw, .tablet .iw, .mobi .phone .css-560 .iw, .mobi .tablet .css-560 .iw {
  margin-top: 4px;
}
.css-560 .p-bad, .tablet .p-bad, .mobi .phone .css-560 .p-bad, .mobi .tablet .css-560 .p-bad {
  margin-left: 17px;
}
.css-560 .p-bad i, .tablet .p-bad i, .mobi .phone .css-560 .p-bad i, .mobi .tablet .css-560 .p-bad i {
  position: absolute;
  left: 2.7%;
}
.css-560 .pt a, .tablet .pt a, .mobi .phone .css-560 .pt a, .mobi .tablet .css-560 .pt a {
  height: 35px;
  width: 35px;
}
.css-560 .t-section .has-dropdown, .tablet .t-section .has-dropdown, .mobi .phone .css-560 .t-section .has-dropdown, .mobi .tablet .css-560 .t-section .has-dropdown {
  margin-left: 14px;
  padding-top: 5px;
}
.css-560 .pt .last-p, .tablet .pt .last-p, .mobi .phone .css-560 .pt .last-p, .mobi .tablet .css-560 .pt .last-p {
  margin-top: -2px;
  font-size: 20px;
}
.css-560 .t-section .dropdown, .tablet .t-section .dropdown, .mobi .phone .css-560 .t-section .dropdown, .mobi .tablet .css-560 .t-section .dropdown {
  width: 90px;
}
.css-560 .t-section .dropdown li, .tablet .t-section .dropdown li, .mobi .phone .css-560 .t-section .dropdown li, .mobi .tablet .css-560 .t-section .dropdown li {
  font-size: 11px;
}
.css-560 .t-section .dropdown li:last-child, .tablet .t-section .dropdown li:last-child, .mobi .phone .css-560 .t-section .dropdown li:last-child, .mobi .tablet .css-560 .t-section .dropdown li:last-child {
  font-size: 8px;
}

.css-480 .n-details-body .mobile-wrap nav.tab-bar, .mobi .phone .css-480 .n-details-body .mobile-wrap nav.tab-bar, .mobi .tablet .css-480 .n-details-body .mobile-wrap nav.tab-bar {
  background-image: none !important;
}
.css-480 .n-details, .mobi .phone .css-480 .n-details, .mobi .tablet .css-480 .n-details {
  min-height: 100px;
}
.css-480 .n-details .n-details-top, .mobi .phone .css-480 .n-details .n-details-top, .mobi .tablet .css-480 .n-details .n-details-top {
  margin-top: -31px !important;
}
.css-480 .event-image, .mobi .phone .css-480 .event-image, .mobi .tablet .css-480 .event-image {
  height: 60px;
  width: 60px;
  margin-top: 52px;
}
.css-480 .event-details-t, .mobi .phone .css-480 .event-details-t, .mobi .tablet .css-480 .event-details-t {
  padding-top: 64px;
  margin-left: -15px;
}
.css-480 .event-details-t h1, .mobi .phone .css-480 .event-details-t h1, .mobi .tablet .css-480 .event-details-t h1 {
  font-size: 0.7rem;
  line-height: 1.7;
}
.css-480 .location-i p, .mobi .phone .css-480 .location-i p, .mobi .tablet .css-480 .location-i p {
  font-size: 0.55rem !important;
}
.css-480 .list-s p, .mobi .phone .css-480 .list-s p, .mobi .tablet .css-480 .list-s p {
  font-size: 10px;
}
.css-480 .list-s.l, .mobi .phone .css-480 .list-s.l, .mobi .tablet .css-480 .list-s.l {
  margin-left: 1.3rem;
}
.css-480 .social-but .share-style, .mobi .phone .css-480 .social-but .share-style, .mobi .tablet .css-480 .social-but .share-style {
  padding: 8px 30px;
}
.css-480 .social-but .button-holder, .mobi .phone .css-480 .social-but .button-holder, .mobi .tablet .css-480 .social-but .button-holder {
  font-size: 0.7rem !important;
  padding: 10px 20px !important;
  margin-right: 40px;
}
.css-480 .f-dropdown.small.drop-s, .mobi .phone .css-480 .f-dropdown.small.drop-s, .mobi .tablet .css-480 .f-dropdown.small.drop-s {
  max-width: 175px !important;
  margin-left: 126px;
}
.css-480 .description-h h1, .mobi .phone .css-480 .description-h h1, .mobi .tablet .css-480 .description-h h1 {
  font-size: 12px;
}
.css-480 .description-h p, .mobi .phone .css-480 .description-h p, .mobi .tablet .css-480 .description-h p {
  font-size: 10px;
}
.css-480 .desc h1, .mobi .phone .css-480 .desc h1, .mobi .tablet .css-480 .desc h1 {
  font-size: 12px;
}
.css-480 .lr, .css-480 .rp, .mobi .phone .css-480 .lr, .mobi .phone .css-480 .rp, .mobi .tablet .css-480 .lr, .mobi .tablet .css-480 .rp {
  width: 41.8%;
  height: 130px !important;
}
.css-480 .lr img, .mobi .phone .css-480 .lr img, .mobi .tablet .css-480 .lr img {
  height: 130px;
}
.css-480 .no-image a, .mobi .phone .css-480 .no-image a, .mobi .tablet .css-480 .no-image a {
  padding-top: 56px;
}
.css-480 .photo-count-t, .mobi .phone .css-480 .photo-count-t, .mobi .tablet .css-480 .photo-count-t {
  top: -130px;
  padding: 45px 12px 12px;
  font-size: 30px;
  height: 130px !important;
}
.css-480 .s-c h1, .mobi .phone .css-480 .s-c h1, .mobi .tablet .css-480 .s-c h1 {
  font-size: 12px;
}
.css-480 .calenda-h, .mobi .phone .css-480 .calenda-h, .mobi .tablet .css-480 .calenda-h {
  min-height: 253px;
  width: 97.6%;
  margin-bottom: 30px;
}
.css-480 .con, .mobi .phone .css-480 .con, .mobi .tablet .css-480 .con {
  padding-right: 0.9375rem;
  margin-top: -17px;
}
.css-480 .witt, .mobi .phone .css-480 .witt, .mobi .tablet .css-480 .witt {
  margin-left: 265px !important;
  margin-top: -17px;
  width: 40px;
  height: 40px;
}
.css-480 .wetd, .css-480 .wedd, .mobi .phone .css-480 .wetd, .mobi .phone .css-480 .wedd, .mobi .tablet .css-480 .wetd, .mobi .tablet .css-480 .wedd {
  padding-top: 0;
}
.css-480 .iw, .mobi .phone .css-480 .iw, .mobi .tablet .css-480 .iw {
  margin-top: 4px;
}
.css-480 .p-bad, .mobi .phone .css-480 .p-bad, .mobi .tablet .css-480 .p-bad {
  margin-left: 17px;
}
.css-480 .p-bad i, .mobi .phone .css-480 .p-bad i, .mobi .tablet .css-480 .p-bad i {
  position: absolute;
  left: 3.1%;
}
.css-480 .pt a, .mobi .phone .css-480 .pt a, .mobi .tablet .css-480 .pt a {
  height: 35px;
  width: 35px;
}
.css-480 .t-section .has-dropdown, .mobi .phone .css-480 .t-section .has-dropdown, .mobi .tablet .css-480 .t-section .has-dropdown {
  margin-left: 14px;
  padding-top: 5px;
}
.css-480 .pt .last-p, .mobi .phone .css-480 .pt .last-p, .mobi .tablet .css-480 .pt .last-p {
  margin-top: -2px;
  font-size: 20px;
}
.css-480 .t-section .dropdown, .mobi .phone .css-480 .t-section .dropdown, .mobi .tablet .css-480 .t-section .dropdown {
  width: 90px;
}
.css-480 .t-section .dropdown li, .mobi .phone .css-480 .t-section .dropdown li, .mobi .tablet .css-480 .t-section .dropdown li {
  font-size: 11px;
}
.css-480 .t-section .dropdown li:last-child, .mobi .phone .css-480 .t-section .dropdown li:last-child, .mobi .tablet .css-480 .t-section .dropdown li:last-child {
  font-size: 8px;
}

.css-320 .n-details-body .mobile-wrap nav.tab-bar, .mobi .phone .css-320 .n-details-body .mobile-wrap nav.tab-bar, .mobi .tablet .css-320 .n-details-body .mobile-wrap nav.tab-bar {
  background-image: none !important;
}
.css-320 .n-details, .mobi .phone .css-320 .n-details, .mobi .tablet .css-320 .n-details {
  min-height: 85px;
}
.css-320 .n-details .n-details-top, .mobi .phone .css-320 .n-details .n-details-top, .mobi .tablet .css-320 .n-details .n-details-top {
  margin-top: -35px !important;
}
.css-320 .t-section, .mobi .phone .css-320 .t-section, .mobi .tablet .css-320 .t-section {
  margin-top: 4px;
}
.css-320 .top-date .top-date-o, .mobi .phone .css-320 .top-date .top-date-o, .mobi .tablet .css-320 .top-date .top-date-o {
  padding-top: 0;
}
.css-320 .location-i li:last-child, .mobi .phone .css-320 .location-i li:last-child, .mobi .tablet .css-320 .location-i li:last-child {
  padding-left: 0px;
}
.css-320 .event-image, .mobi .phone .css-320 .event-image, .mobi .tablet .css-320 .event-image {
  height: 50px;
  width: 50px;
  margin-top: 52px;
}
.css-320 .event-details-t, .mobi .phone .css-320 .event-details-t, .mobi .tablet .css-320 .event-details-t {
  padding-top: 54px;
  margin-left: -15px;
}
.css-320 .event-details-t h1, .mobi .phone .css-320 .event-details-t h1, .mobi .tablet .css-320 .event-details-t h1 {
  font-size: 0.6rem;
  line-height: 1.7;
}
.css-320 .location-i p, .mobi .phone .css-320 .location-i p, .mobi .tablet .css-320 .location-i p {
  font-size: 0.5rem !important;
}
.css-320 .list-s p, .mobi .phone .css-320 .list-s p, .mobi .tablet .css-320 .list-s p {
  font-size: 8px;
}
.css-320 .list-s.l, .mobi .phone .css-320 .list-s.l, .mobi .tablet .css-320 .list-s.l {
  margin-left: 1.2rem;
}
.css-320 .social-but .button-holder, .mobi .phone .css-320 .social-but .button-holder, .mobi .tablet .css-320 .social-but .button-holder {
  font-size: 0.7rem !important;
  padding: 6px 7px !important;
  margin-right: 10px;
}
.css-320 .f-dropdown.small.drop-s, .mobi .phone .css-320 .f-dropdown.small.drop-s, .mobi .tablet .css-320 .f-dropdown.small.drop-s {
  max-width: 96px !important;
  margin-left: 98px;
}
.css-320 .description-h h1, .mobi .phone .css-320 .description-h h1, .mobi .tablet .css-320 .description-h h1 {
  font-size: 10px;
}
.css-320 .description-h p, .mobi .phone .css-320 .description-h p, .mobi .tablet .css-320 .description-h p {
  font-size: 8px;
}
.css-320 .desc h1, .mobi .phone .css-320 .desc h1, .mobi .tablet .css-320 .desc h1 {
  font-size: 10px;
  margin-top: 0;
}
.css-320 .lr, .css-320 .rp, .mobi .phone .css-320 .lr, .mobi .phone .css-320 .rp, .mobi .tablet .css-320 .lr, .mobi .tablet .css-320 .rp {
  width: 38.8%;
  height: 90px !important;
}
.css-320 .lr img, .mobi .phone .css-320 .lr img, .mobi .tablet .css-320 .lr img {
  height: 90px;
}
.css-320 .no-image a, .mobi .phone .css-320 .no-image a, .mobi .tablet .css-320 .no-image a {
  padding-top: 41px;
}
.css-320 .rp a, .mobi .phone .css-320 .rp a, .mobi .tablet .css-320 .rp a {
  font-size: 10px;
}
.css-320 .photo-count-t, .mobi .phone .css-320 .photo-count-t, .mobi .tablet .css-320 .photo-count-t {
  top: -90px;
  padding: 36px 12px 12px;
  font-size: 20px;
  height: 90px;
}
.css-320 .s-c h1, .mobi .phone .css-320 .s-c h1, .mobi .tablet .css-320 .s-c h1 {
  font-size: 10px;
}
.css-320 .calenda, .mobi .phone .css-320 .calenda, .mobi .tablet .css-320 .calenda {
  margin-bottom: 60px;
}
.css-320 .calenda-h, .mobi .phone .css-320 .calenda-h, .mobi .tablet .css-320 .calenda-h {
  min-height: 199px;
  width: 97%;
  margin-bottom: 20px;
}
.css-320 .con, .mobi .phone .css-320 .con, .mobi .tablet .css-320 .con {
  padding-right: 0.9375rem;
  margin-bottom: -55px;
}
.css-320 .wir, .mobi .phone .css-320 .wir, .mobi .tablet .css-320 .wir {
  margin-bottom: 0;
}
.css-320 .witt, .mobi .phone .css-320 .witt, .mobi .tablet .css-320 .witt {
  margin-left: 186px !important;
  margin-top: -17px;
  width: 30px;
  height: 30px;
}
.css-320 .witt p:first-child, .mobi .phone .css-320 .witt p:first-child, .mobi .tablet .css-320 .witt p:first-child {
  margin-top: -5px;
}
.css-320 .wetd, .css-320 .wedd, .mobi .phone .css-320 .wetd, .mobi .phone .css-320 .wedd, .mobi .tablet .css-320 .wetd, .mobi .tablet .css-320 .wedd {
  padding-top: 0;
  margin-top: -3px;
}
.css-320 .wetd, .mobi .phone .css-320 .wetd, .mobi .tablet .css-320 .wetd {
  margin-left: 17px !important;
}
.css-320 .iw, .mobi .phone .css-320 .iw, .mobi .tablet .css-320 .iw {
  margin-top: 4px;
  margin-left: -3px;
}
.css-320 .p-bad, .mobi .phone .css-320 .p-bad, .mobi .tablet .css-320 .p-bad {
  margin-left: 17px;
}
.css-320 .p-bad i, .mobi .phone .css-320 .p-bad i, .mobi .tablet .css-320 .p-bad i {
  position: absolute;
  left: 4.8%;
}
.css-320 .pt a, .mobi .phone .css-320 .pt a, .mobi .tablet .css-320 .pt a {
  height: 25px;
  width: 25px;
}
.css-320 .t-section .has-dropdown, .mobi .phone .css-320 .t-section .has-dropdown, .mobi .tablet .css-320 .t-section .has-dropdown {
  margin-left: 12px;
  padding-top: 5px;
}
.css-320 .pt .last-p, .mobi .phone .css-320 .pt .last-p, .mobi .tablet .css-320 .pt .last-p {
  margin-top: -2px;
  font-size: 13px;
  margin-left: 7px;
}
.css-320 .t-section .dropdown, .mobi .phone .css-320 .t-section .dropdown, .mobi .tablet .css-320 .t-section .dropdown {
  width: 69px;
}
.css-320 .t-section .dropdown li, .mobi .phone .css-320 .t-section .dropdown li, .mobi .tablet .css-320 .t-section .dropdown li {
  font-size: 9px;
  margin-top: 2px;
}
.css-320 .t-section .dropdown li:last-child, .mobi .phone .css-320 .t-section .dropdown li:last-child, .mobi .tablet .css-320 .t-section .dropdown li:last-child {
  font-size: 7px;
}
.css-320 .calenda-t-o, .mobi .phone .css-320 .calenda-t-o, .mobi .tablet .css-320 .calenda-t-o {
  height: 29px;
}
.css-320 .t-section .arr, .mobi .phone .css-320 .t-section .arr, .mobi .tablet .css-320 .t-section .arr {
  left: 14px;
}
.css-320 .p-dm, .mobi .phone .css-320 .p-dm, .mobi .tablet .css-320 .p-dm {
  margin-bottom: -59px;
}
.css-320 .social-but .share-style, .mobi .phone .css-320 .social-but .share-style, .mobi .tablet .css-320 .social-but .share-style {
  padding: 5px 10px !important;
}
.css-320 .con, .mobi .phone .css-320 .con, .mobi .tablet .css-320 .con {
  display: none !important;
}

.css-240 .n-details-body .mobile-wrap nav.tab-bar, .mobi .phone .css-240 .n-details-body .mobile-wrap nav.tab-bar, .mobi .tablet .css-240 .n-details-body .mobile-wrap nav.tab-bar {
  background-image: none !important;
}
.css-240 .n-details, .mobi .phone .css-240 .n-details, .mobi .tablet .css-240 .n-details {
  min-height: 85px;
}
.css-240 .n-details .n-details-top, .mobi .phone .css-240 .n-details .n-details-top, .mobi .tablet .css-240 .n-details .n-details-top {
  margin-top: -35px !important;
}
.css-240 .top-date .top-date-o, .mobi .phone .css-240 .top-date .top-date-o, .mobi .tablet .css-240 .top-date .top-date-o {
  padding-top: 0;
}
.css-240 .location-i li:nth-child(2), .css-240 .location-i li:last-child, .mobi .phone .css-240 .location-i li:nth-child(2), .mobi .phone .css-240 .location-i li:last-child, .mobi .tablet .css-240 .location-i li:nth-child(2), .mobi .tablet .css-240 .location-i li:last-child {
  padding-left: 0px;
}
.css-240 .event-image, .mobi .phone .css-240 .event-image, .mobi .tablet .css-240 .event-image {
  height: 50px;
  width: 50px;
  margin-top: 52px;
}
.css-240 .event-details-t, .mobi .phone .css-240 .event-details-t, .mobi .tablet .css-240 .event-details-t {
  padding-top: 46px;
  margin-left: -4px;
}
.css-240 .event-details-t h1, .mobi .phone .css-240 .event-details-t h1, .mobi .tablet .css-240 .event-details-t h1 {
  font-size: 0.6rem;
  line-height: 1.7;
}
.css-240 .location-i p, .mobi .phone .css-240 .location-i p, .mobi .tablet .css-240 .location-i p {
  font-size: 0.5rem !important;
}
.css-240 .list-s p, .mobi .phone .css-240 .list-s p, .mobi .tablet .css-240 .list-s p {
  font-size: 8px;
}
.css-240 .social-but .share-style, .mobi .phone .css-240 .social-but .share-style, .mobi .tablet .css-240 .social-but .share-style {
  padding: 5.5px 18px;
}
.css-240 .social-but .button-holder, .mobi .phone .css-240 .social-but .button-holder, .mobi .tablet .css-240 .social-but .button-holder {
  font-size: 0.7rem !important;
  padding: 8px 10px !important;
  margin-right: 40px;
  margin-bottom: 10px;
}
.css-240 .f-dropdown.small.drop-s, .mobi .phone .css-240 .f-dropdown.small.drop-s, .mobi .tablet .css-240 .f-dropdown.small.drop-s {
  max-width: 96px !important;
  margin-left: 98px;
}
.css-240 .description-h h1, .mobi .phone .css-240 .description-h h1, .mobi .tablet .css-240 .description-h h1 {
  font-size: 10px;
}
.css-240 .description-h p, .mobi .phone .css-240 .description-h p, .mobi .tablet .css-240 .description-h p {
  font-size: 8px;
}
.css-240 .desc h1, .mobi .phone .css-240 .desc h1, .mobi .tablet .css-240 .desc h1 {
  font-size: 10px;
  margin-top: 0;
}
.css-240 .lr, .css-240 .rp, .mobi .phone .css-240 .lr, .mobi .phone .css-240 .rp, .mobi .tablet .css-240 .lr, .mobi .tablet .css-240 .rp {
  width: 38.5%;
  height: 90px !important;
}
.css-240 .lr img, .mobi .phone .css-240 .lr img, .mobi .tablet .css-240 .lr img {
  height: 90px;
}
.css-240 .no-image a, .mobi .phone .css-240 .no-image a, .mobi .tablet .css-240 .no-image a {
  padding-top: 41px;
}
.css-240 .rp a, .mobi .phone .css-240 .rp a, .mobi .tablet .css-240 .rp a {
  font-size: 10px;
}
.css-240 .photo-count-t, .mobi .phone .css-240 .photo-count-t, .mobi .tablet .css-240 .photo-count-t {
  top: -90px;
  padding: 36px 12px 12px;
  font-size: 20px;
  height: 90px;
}
.css-240 .s-c h1, .mobi .phone .css-240 .s-c h1, .mobi .tablet .css-240 .s-c h1 {
  font-size: 10px;
}
.css-240 .calenda, .mobi .phone .css-240 .calenda, .mobi .tablet .css-240 .calenda {
  margin-bottom: 70px;
}
.css-240 .calenda-h, .mobi .phone .css-240 .calenda-h, .mobi .tablet .css-240 .calenda-h {
  min-height: 205px;
  width: 96%;
  margin-bottom: 10px;
}
.css-240 .con, .mobi .phone .css-240 .con, .mobi .tablet .css-240 .con {
  padding-right: 0.9375rem;
  margin-bottom: -55px;
  padding-top: 69px;
}
.css-240 .witt, .mobi .phone .css-240 .witt, .mobi .tablet .css-240 .witt {
  margin-left: 186px !important;
  margin-top: -17px;
  width: 30px;
  height: 30px;
}
.css-240 .witt p:first-child, .mobi .phone .css-240 .witt p:first-child, .mobi .tablet .css-240 .witt p:first-child {
  margin-top: -5px;
}
.css-240 .wetd, .css-240 .wedd, .mobi .phone .css-240 .wetd, .mobi .phone .css-240 .wedd, .mobi .tablet .css-240 .wetd, .mobi .tablet .css-240 .wedd {
  padding-top: 0;
}
.css-240 .t-section, .mobi .phone .css-240 .t-section, .mobi .tablet .css-240 .t-section {
  margin-top: 4px;
}
.css-240 .wir, .mobi .phone .css-240 .wir, .mobi .tablet .css-240 .wir {
  margin-bottom: 0;
}
.css-240 .wetd, .mobi .phone .css-240 .wetd, .mobi .tablet .css-240 .wetd {
  margin-left: 116px !important;
  margin-bottom: 11px;
}
.css-240 .iw, .mobi .phone .css-240 .iw, .mobi .tablet .css-240 .iw {
  margin-top: 4px;
  margin-left: -3px;
}
.css-240 .p-bad, .mobi .phone .css-240 .p-bad, .mobi .tablet .css-240 .p-bad {
  margin-left: 17px;
}
.css-240 .p-bad i, .mobi .phone .css-240 .p-bad i, .mobi .tablet .css-240 .p-bad i {
  position: absolute;
  left: 6%;
}
.css-240 .pt a, .mobi .phone .css-240 .pt a, .mobi .tablet .css-240 .pt a {
  height: 25px;
  width: 25px;
}
.css-240 .t-section .has-dropdown, .mobi .phone .css-240 .t-section .has-dropdown, .mobi .tablet .css-240 .t-section .has-dropdown {
  margin-left: 12px;
  padding-top: 5px;
}
.css-240 .pt .last-p, .mobi .phone .css-240 .pt .last-p, .mobi .tablet .css-240 .pt .last-p {
  margin-top: -2px;
  font-size: 13px;
  margin-left: 7px;
}
.css-240 .t-section .dropdown, .mobi .phone .css-240 .t-section .dropdown, .mobi .tablet .css-240 .t-section .dropdown {
  width: 69px;
}
.css-240 .t-section .dropdown li, .mobi .phone .css-240 .t-section .dropdown li, .mobi .tablet .css-240 .t-section .dropdown li {
  font-size: 9px;
  margin-top: 2px;
}
.css-240 .t-section .dropdown li:last-child, .mobi .phone .css-240 .t-section .dropdown li:last-child, .mobi .tablet .css-240 .t-section .dropdown li:last-child {
  font-size: 7px;
}
.css-240 .calenda-t-o, .mobi .phone .css-240 .calenda-t-o, .mobi .tablet .css-240 .calenda-t-o {
  height: 42px;
}
.css-240 .t-section .arr, .mobi .phone .css-240 .t-section .arr, .mobi .tablet .css-240 .t-section .arr {
  left: 14px;
}
.css-240 .p-dm, .mobi .phone .css-240 .p-dm, .mobi .tablet .css-240 .p-dm {
  margin-bottom: -59px;
}
.css-240 .con, .mobi .phone .css-240 .con, .mobi .tablet .css-240 .con {
  display: none !important;
}
