@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  src: local("Exo DemiBold"), local("Exo-DemiBold"), url(http://themes.googleusercontent.com/static/fonts/exo/v2/yQnHD5L8a9aDb09o13m_pg.woff) format("woff");
}

.twitter-typeahead {
  width: 100%;
}

.tt-dropdown-menu {
  background-color: white;
  border: 1px solid #D22C25;
  border-top: 0;
  text-transform: none;
  text-align: left;
  width: 100%;
  top: 70% !important;
}

.tt-hint {
  background-color: white !important;
}

.tt-hint.searchterm {
  position: relative;
}

.tt-suggestions {
  overflow: hidden;
}

.tt-suggestions p {
  margin-bottom: 0;
}

.tt-suggestion {
  padding: 5px;
  border-top: 1px solid #eee;
}

.tt-cursor {
  background-color: #eee;
  color: #D22C25;
}

[data-abide] .error small.error,
[data-abide] span.error,
[data-abide] small.error {
  background-color: #D22C25;
  border-radius: 0 0 3px 3px;
}

.browsehappy {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  z-index: 9999;
  font-size: rem-calc(12);
  background-color: #D22C25;
  color: #fff;
}

input,
button,
.button {
  border-radius: 2px;
}

.top-head .top-bar {
  background: transparent;
  border-bottom: 1px solid #CCC;
  width: 75%;
  margin-left: 12%;
}

.top-head .top-bar .name span {
  display: block;
  font-size: rem-calc(17);
  margin: rem-calc(0 14);
}

.top-head .top-bar .title-area img.logo {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.top-footer {
  background: transparent;
  border-top: 1px solid #CCC;
  width: 75%;
  margin-left: 12%;
  position: absolute;
  margin-top: 4rem;
}

.top-pb {
  padding-bottom: 12rem;
  height: 500px;
}

.top-content {
  text-align: initial;
  padding-top: 3rem;
}

.top-content h3 {
  font-size: 2rem;
  font-weight: bold;
}

.top-content h5 {
  font-weight: bold;
}

.top-content h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.top-content p {
  font-weight: 200;
}

.back-search-b {
  background: rgba(0, 0, 0, 0.8);
}

.back-search-b .back-search-p {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 17px;
}

.search-content-in {
  border-top: 1px solid #ccc;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.search-content-in .search-content-in-o {
  padding-top: 0.5rem;
}

.search-content-in .search-content-button {
  margin-top: 1rem;
}

.search-content {
  margin-top: 2rem;
  min-height: 250px;
  background: #eee;
}

.search-content-x p {
  padding-top: 5.5rem;
  text-align: center;
}

.s-x {
  margin-bottom: 10rem;
}

.c-list .button {
  background: #eee;
  color: #4D4D4D;
}

.c-list .button:focus,
.c-list .button:hover {
  color: #fff;
  background: #D22C25;
}

.c-list span {
  position: absolute;
  background: none repeat scroll 0% 0% #FFF;
  height: 25px;
  top: 5px;
  right: 6px;
  width: 25px;
  border-radius: 50%;
}

.c-list span p {
  color: #D22C25;
  font-size: 0.9rem;
  font-weight: bold;
}

.active-o {
  color: #fff !important;
  background: #D22C25 !important;
}

.search-results-x {
  text-align: center;
}

.search-results-x .results-p {
  padding-top: 2rem;
}

.search-results-x .no-display {
  text-align: center;
}

.search-results-x p.search-p {
  padding-right: 0rem !important;
}

.search-results {
  min-height: 200px;
  background: #eee;
}

.search-results p.search-p {
  border-style: dotted;
  margin-top: 1rem;
  padding-right: 2.8rem;
  font-size: 2rem;
}

.search-results p.search-p a {
  color: #D22C25;
}

.search-results p.search-p a:hover {
  color: #D22C25;
}

.search-results .search-content-in {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (min-width: 641px) and (max-width: 767px) {
  .top-bar .button {
    padding: 0.625rem 1.25rem 0.6875rem;
    margin-top: 0.5rem;
  }

  .top-content h3 {
    font-size: 1.7rem;
  }

  .top-content h4 {
    font-size: 1.2rem;
  }

  .top-bar .button {
    font-size: 0.575rem;
  }
}

@media only screen and (min-width: 521px) and (max-width: 640px) {
  .top-bar .button {
    padding: 0.625rem 1.25rem 0.6875rem;
    margin-top: 0.5rem;
  }

  .align {
    text-align: center;
  }

  .top-content h3 {
    font-size: 1.7rem;
  }

  .top-content h4 {
    font-size: 1.2rem;
  }

  .search-p {
    margin-left: 15rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 520px) {
  .top-bar .button {
    padding: 0.625rem 1.25rem 0.6875rem;
    margin-top: 0.5rem;
  }

  .top-p-o a {
    font-size: 0.6rem !important;
  }

  .align {
    text-align: center;
  }

  .top-content h3 {
    font-size: 1.5rem;
  }

  .top-content h4 {
    font-size: 1rem;
  }

  .top-content p {
    font-size: 0.8rem;
  }

  .search-p {
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 319px) {
  .top-bar .button {
    padding: 0.625rem 1.25rem 0.6875rem;
    margin-top: 0.5rem;
  }

  .top-p-o a {
    font-size: 0.6rem !important;
  }

  .align {
    text-align: center;
  }

  .top-content h3 {
    font-size: 1rem;
  }

  .top-content h4 {
    font-size: 0.8rem;
  }

  .top-content p {
    font-size: 0.5rem;
  }

  .search-p {
    margin-left: 5rem;
  }
}