﻿/* ============================================================= Popup Slider with content*/
.slider
{width: 900px;height: 400px;overflow: hidden; float:left;}
.slider > ul
{
position: relative;-webkit-transition: 0.5s left;-moz-transition: 0.5s left;-ms-transition: 0.5s left;-o-transition: 0.5s left;list-style: none;margin: 0;
padding: 0;
}
.slider > ul > li
{float: left;width: 900px;height: 400px;
}
.slider > ul > li img
{width: auto;height:auto; max-height:100%; max-width:100%;
}
.img-slder-area{display: table-cell;vertical-align: middle;text-align: center;width: 590px; height:400px;margin-left: auto;
    margin-right: auto;background: #000;}
.img-slder-area img {
         vertical-align:middle;
       }


.slider-content{width:280px; padding:10px; float:left;}
.slider-discription{font-size:12px; color:#555; line-height:18px; height:295px;}
.slider-user{color:#555;margin-bottom: 20px;}
.slider-discription h1{ font-size:16px; color:#333; padding:0; margin:0; padding-bottom:5px; margin-bottom:15px; border-bottom:#ccc 1px solid;}
.slider-discription h2{ font-size:15px; color:#090; padding:0; margin:0; margin-bottom:6px; }
.slider-discription h3{ font-size:15px; color:#090; padding:0; margin:0; margin-top:15px; margin-bottom:2px;}
.slider-set-as{width:auto; font-size:12px; color:#777; border-bottom:1px #ccc dotted;padding-bottom: 4px;}
.slider-set-as input{float: left;margin-top: 3px;margin-right: 7px;margin-left: 3px;}
.photo-vote{width:auto; height:auto;padding-left: 6px;}
.photo-vote-l{width:60%; float:left; margin-bottom:3px; color:#777;}
.photo-vote-r{width:35%; float:right; margin-bottom:3px; color:#555;}
.slider-text{width:auto; height:auto;padding-left: 6px; color:#777;}
.next-prv-holder{width:auto; height:auto;margin-top:8px;}
.next-holder{float:right;}
.prv-holder{float:left;}
.next-prv-count{width:145px; float:left; text-align: center;}
.next-prv-holder a {background: #ffefef;padding: 1px 8px;font-size: 12px;color: #C00;text-decoration: none;-webkit-border-radius: 3px;-moz-border-radius: 3px;
border-radius: 3px;border: #e6c9c9 1px solid;
}
.black_overlay
{display: none;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black;z-index: 999001;-moz-opacity: 0.8;opacity: .80;filter: alpha(opacity=80);
}
.white_content
{display: none;position: absolute;width: 900px;border: 4px solid #000;background-color: white;z-index: 9991002;top: 8%; right:0%;
}
.cross-bt-rd
{width: 16px;height: 16px;float: right;position: absolute;right: 0;top: 0;z-index: 10;
}
.cross-bt-rd img
{width: 16px;height: 16px;
}
