﻿@model Vconnect.Models.BoDashboardModel


    <input id="bid" type="hidden" value="@Model.BusinessID" name="bid" />
    <input id="bname" type="hidden" value="@Model.BusinessName" name="bname" />
    @Html.ValidationSummary(true)
    <div class="db-bo-form-holder">

        <div class="clear">
        </div>
        @if (@TempData["alertMsg"] != null)
        {
            <p id="pError2" class="bo-MsgRed">
                @TempData["alertMsg"]

            </p>
            <div class="clear">
            </div>
        }


        @if (@TempData["alertMsg1"] != null)
        {
            <p class="bo-MsgGreen">
                @TempData["alertMsg1"]
            </p>
            <div class="clear">
            </div>
        }

        <div id="ctl00_cphMiddleContainer_divtextboxes">
            <div id="ctl00_cphMiddleContainer_pnlSubmit" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_cphMiddleContainer_btnAddNewOtherContacts')">
            </div>
            <div class="db-bo-form-table-row">
                <div class="db-bo-form-table-row-left">
                    Product Name<span class="mandatory">*</span>
                </div>
                <div class="db-bo-form-table-row-right">

                    @Html.TextBoxFor(model => model.businessProduct.productname, new { @class = "widetxt", data_otf_autocomplete = Url.Action("KeywordAutoComplete", "BoDashboardWeb") })

                    @Html.ValidationMessageFor(model => model.businessProduct.productname)

                </div>
                <span class="rspanmsgs">
                    <span id="Span2" class="Msgcontallvalid" style="display: none;"></span>
                    <span style="color: Red; display: none;" id="pname">Field cannot be left blank.</span>
                </span>


            </div>
            <div class="db-bo-form-table-row">
                <div class="db-bo-form-table-row-left">
                    Product Detail
                </div>
                <div class="db-bo-form-table-row-right">
                    @Html.TextBoxFor(model => model.businessProduct.details, new { @class = "widetxt", autocomplete = "off" })

                    <br>
                </div>

                <div class="clear">
                </div>
            </div>
            <div class="db-bo-form-table-row">
                <div class="db-bo-form-table-row-left">
                    Product Model
                </div>
                <div class="db-bo-form-table-row-right">
                    @Html.TextBoxFor(model => model.businessProduct.modal, new { @class = "widetxt", autocomplete = "off" })

                </div>
                @*<div class="Msgavailablebusiness" id="Msgtxtmodal" style="color: Red"></div>*@
                <div class="clear">
                </div>
            </div>
            <div class="db-bo-form-table-row">
                <div class="db-bo-form-table-row-left">
                    Brand
                </div>
                <div class="db-bo-form-table-row-right">

                    @Html.TextBoxFor(model => model.businessProduct.categoryname, new { @class = "widetxt", data_otf_autocomplete = Url.Action("KeywordAutoCompleteB", "BoDashboardWeb") })
                    @Html.ValidationMessageFor(model => model.businessProduct.categoryname)
                </div>
                @*<div class="Msgavailablebusiness" id="Msgtxtcategoryname" style="color: Red"></div>*@
                <div class="clear">
                </div>
            </div>
            <div class="db-bo-form-table-row">
                <div class="db-bo-form-table-row-left">
                    Price ₦
                </div>
                <div class="db-bo-form-table-row-right">
                    @Html.TextBoxFor(model => model.businessProduct.price, new { @class = "widetxt", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.businessProduct.price)
                    <br>

                </div>

                <div class="clear">
                </div>
            </div>
            <div class="db-bo-form-table-row">
                <div class="db-bo-form-table-row-left">
                    Product Image
                </div>
                <div class="db-bo-form-table-row-right">
                    <input name="uplPhoto" id="uplPhoto" type="file">
                    <span class="com_error">NOTE: only max 5MB, .gif, .jpg, .png, .jpeg allowed.</span>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="db-bo-form-table-row">
                <div class="db-bo-form-table-row-left">
                    &nbsp;
                </div>
                <div class="db-bo-form-table-row-right">
                    <div class="db-bo-form-product-1row-prod">
                        <div class="db-bo-form-product-1row-prod-img">
                            <img id="ctl00_cphMiddleContainer_imgProduct" src="" style="border-width: 0px;" />
                        </div>
                    </div>
                    <div class="db-bo-form-product-1row-prod-text">
                        <br>
                        (Image is subject to approval by our executives)
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="db-bo-form-table-row">
                <div class="db-bo-form-table-row-left">
                    &nbsp;
                </div>
                <div class="db-bo-form-table-row-right">

                    <div id="ctl00_cphMiddleContainer_spanAddButton" style="float: left; margin-right: 5px;">

                        <input class="db-bo-form-submit-bt" type="submit" value="Submit" onclick="javascript: return checkfield()" />
                    </div>
                    @*<div style="float: left;">
                            <a id="ctl00_cphMiddleContainer_btnBackToProfile" class="db-bo-form-submit-bt" href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnBackToProfile','')">Cancel</a>
                        </div>*@
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
