﻿@model Vconnect.Models.BoDashboardModel



<div class="bo-db-for" id="dvmenuheading">
    @if(Model.heading!="" && Model.heading!=null)
    {
        @Model.heading 
    }
    else
    {
   @: Business Profile For:
     }
</div>
<div id="ctl00_cphMiddleContainer_dvbusinessname" class="bo-db-user-name">
    <span id="ctl00_cphMiddleContainer_lblbusinessname">@Model.BusinessName</span>
    @if (Model._claimedbusinesslist.Count > 1)
    {
        <a href="javascript:divexpandcollapse('divChangeYourLoc');" id="ctl00_cphMiddleContainer_alink">
            <img class="bo-db-arrow-down" src="http://image.vconnect.bz/static/WEB/BOdashboard/arrow-down.png" /></a>}
</div>
<div class="clear">
</div>
@if (Model._claimedbusinesslist.Count > 1)
{
    <div class="business-name-menu" id="divChangeYourLoc" style="background: none repeat scroll 0% 0% rgb(240, 240, 240); width: auto; display: none;">
        <a href="javascript:divexpandcollapse('divChangeYourLoc');" id="ctl00_cphMiddleContainer_a1" class="business-name-menu-close">
            <img src="http://image.vconnect.bz/static/WEB/BOdashboard/cross_button.png" alt="X" /></a>
        <h1>See Dashboard For</h1>
        <div style="margin-left: 8px;">
            Select Default
        </div>

        <table id="ctl00_cphMiddleContainer_ChKBBuisnesslist" border="0">
            <tbody>
                @foreach (var item in Model._claimedbusinesslist)
                {
                    <tr>
                        <td>
                            @if (item.isdefault == 1)
                            {
                         
                                @Html.RadioButton("iSetdefaultbusiness","BoDashboardWeb", true, new { onclick = "Yes('" + item.contentid + "', '" + item.businessname.Replace(' ', '_').ToString().ToLower() + "','" + Model.returnaction + "', '" + Model.returncontroller + "');" })
                                <a href="@Url.Action(@Model.returnaction, @Model.returncontroller, new {BID = @item.contentid, bname = @item.businessname,returnaction=@Model.returnaction,retuncontroller=@Model.returncontroller })">@item.businessname</a>

                            }
                            else
                            {
                        
                                                
                                @Html.RadioButton("iSetdefaultbusiness","BoDashboardWeb", false, new { onclick = "Yes('" + item.contentid + "', '" + item.businessname.Replace(' ', '_').ToString().ToLower() + "','" + Model.returnaction + "','" + Model.returncontroller + "');" })
                                <a href="@Url.Action(@Model.returnaction, @Model.returncontroller, new {BID = @item.contentid, bname = @item.businessname,returnaction=@Model.returnaction,retuncontroller=@Model.returncontroller  })">@item.businessname</a>

                            }


                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
}

<div class="clear">
</div>
<script type="text/javascript">
    //TO Expand collapse the left menu div



</script>
<script type="text/javascript">
    function Yes(content, businessnme,returnact,returnctr) {
        debugger;
        window.location.href = "/BoDashboardWeb/iSetdefaultbusiness?bid=" + content + "&businessname=" + businessnme + "&returnaction=" + returnact + "&retuncontroller=" + returnctr;

    }

</script>
