﻿@model Vconnect.Models.BoDashboardModel

@{
    ViewBag.Title = "BO DashBoard Left Menu";
    
}
<link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />
<div id="ctl00_cphMiddleContainer_divprofileimage" class="bo-profile-img-area">
    @if (Model.ProfileImage != "0")
    {
        <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.ProfileImage' alt="Profile Image" style="border-width: 0px;" />
    }
    else if (Model.ProfileImage == "0" && Model.CompanyLogo != "0")
    {
        <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.CompanyLogo' alt="Profile Image" style="border-width: 0px;" />
    }
    else if (Model.ProfileImage == "0" && Model.CompanyLogo == "0")
    {
        <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/images/noImageAvailable.jpg' alt="Profile Image" style="border-width: 0px;" />
    }

</div>

<div id="bo-db-left-tabs" class="ddsmoothmenu">
    <ul id="nav">
        <li>
            <a id="aprofile" href='/BoDashboardWeb/Index/' class='bo-db-left-tabs-activ'>
                <img src="../../images/Bodashboard/icons/business-profile.png" />Business Profile
            </a>
        </li>
        <li>
            <a id="areview" href='/BoDashboardWeb/BusinessReviews/'>
                <img src="../../images/Bodashboard/icons/reviews.png" />Reviews
            </a>
        </li>
        @* style="display:none"*@ @*<li>
        <a href="http://vconnectors.vconnect.com/send.aspx?atab=BulkSMS">
            <img src="../../images/Bodashboard/icons/target-sms.png" />Targeted SMS
        </a>
    </li>*@

        @if (Model.membership != "1")
        {
            <li id="ctl00_cphMiddleContainer_lisubs">
                <a href='/BoDashboardWeb/BusinessSubscription/'>
                    <img src="../../images/Bodashboard/icons/my-subscription.png" />
                    My Subscription
                </a>
            </li> }

        <li>
            <a href='/BoDashboardWeb/BusinessUserActivity/'>
                <img src="../../images/Bodashboard/icons/user-activity.png" />User Activities
            </a>
        </li>
        <li style=" display:none ">
            <a href="http://vconnectors.vconnect.com/send.aspx?atab=Addressbook">
                <img src="../../images/Bodashboard/icons/my-contact.png" />My Contacts
            </a>
        </li>

    </ul>
</div>
<div class="bo-db-left-saddow">
</div>
<script type="text/javascript">
    //TO Expand collapse the left menu div
    function divexpandcollapse(ID) {
        //  debugger;
        if (document.getElementById(ID).style.display == "none") {
            document.getElementById(ID).style.display = "block"

        }
        else if (document.getElementById(ID).style.display == "block") {

            document.getElementById(ID).style.display = "none"
        }
    }

</script>


