﻿@model Vconnect.Models.BoDashboardModel

@{
    string title = "VConnect™ || MyBusiness";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    int cnt=0;
}


@section title{@title}
<script>
    $(document).ready(function () {
        //  debugger;
        $("#filter option[value='@Model.filter']").attr("selected", "selected");

        // document.getElementById(dvmenuheading).innerHTML = "User Activity Report For:";

    });
</script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="~/Scripts/pop-slider/popup-slider.js"></script>
<link href="~/Scripts/pop-slider/slider-content.css" rel="stylesheet" />
<style>
    .total-imges-cont {
        float: left;
        margin-left: 23px;
        padding-bottom: 5px;
    }
</style>
<style>
    #bo-db-container-right img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
</style>

<div style="width: 999PX;margin: 0 auto;position: relative;">
    <div id="bo-db-container">
        <!-- ============================== Left Container -->
        <div id="bo-db-container-left">
            @Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)
        </div>
        <!-- ============================== Center Container -->
        <div id="bo-db-container-mid">
            <div class="bo-db-header-area">
                @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")
            </div>
            <!-- ============================= All Form and submenu Holder -->
            @using (Html.BeginForm())
            {
                <div class="TabbedPanelsContentGroup">
                    <div class="hori-tabs-holder">
                        <ul>
                            <li><a href='/BoDashboardWeb/Index?BID=@Model.BusinessID&bname=@Model.BusinessName'>Basic Details</a></li>
                            <li><a href='/BoDashboardWeb/GetContactDetails?BID=@Model.BusinessID&bname=@Model.BusinessName'>Contact Details </a></li>
                            <li><a href='/BoDashboardWeb/BuisnessProductsList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Products </a></li>
                            <li><a href='/BoDashboardWeb/GetBuisnessServicesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Services </a></li>
                            <li class="hori-tabs-holder-selected">Images</li>
                            @*<li><a href='/BoDashboardWeb/GetVedioGalary?BID=@Model.BusinessID&bname=@Model.BusinessName'>Videos </a></li>*@
                        </ul>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="TabbedPanelsContent" style="margin-top: 4px;">
                        <div id="ctl00_cphMiddleContainer_dvtopbar">
                            <div class="db-bo-add-product">
                                @*<select name="ctl00$cphMiddleContainer$ddlimagetype" id="ctl00_cphMiddleContainer_ddlimagetype" class="db-bo-select-images">*@
                                <select name="filter" onchange="this.form.submit()" id="filter" class="db-bo-select-images" style="height: 25px;">
                                    <option selected="selected" value="0">Select All</option>
                                    <option value="206">Adverts</option>
                                    <option value="205">Brouchure</option>
                                    <option value="211">Images</option>
                                    <option value="202">Menu</option>
                                    <option value="207">Product Price</option>
                                    <option value="204">Tariffs</option>

                                </select>
                            </div>
                            <div class="db-bo-add-product">
                                <a href="@Url.Action("BuisnessImagesList", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })">See All</a>
                            </div>
                            <div class="db-bo-add-product">
                                <a href="@Url.Action("BuisnessImagesListBO", "BoDashboardWeb",new{bid=@Model.BusinessID,bname=@Model.BusinessName})">Added By me</a>
                            </div>
                            <div class="db-bo-add-product">
                                <a href="@Url.Action("AddBusinessImages", "BoDashboardWeb",new{bid=@Model.BusinessID,bname=@Model.BusinessName})">Upload Image</a>
                            </div>

                        </div>
                        <div class="completeness-bar-holder">
                            @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                        </div>
                        <div class="clear">
                        </div>
                        <div class="db-bo-form-holder">
                            @if (Session["update"] != null)
                        {
                        <p id="pError1" class="bo-MsgGreen">
                            @Session["update"]
                        </p>
                        <div class="clear">
                        </div>
                            Session.Remove("update");
                        }
                            @if (Session["updateE"] != null)
                        {
                        <p id="pError" style="color:red">
                            @Session["updateE"]
                        </p>
                        <div class="clear">
                        </div>
                            Session.Remove("updateE");
                        }
                            <div id="dvimagemsgi" style="display: none">

                            </div>


                            <div id="ctl00_cphMiddleContainer_viewallimages">
                                @foreach (Vconnect.Models.BoDashboardModel.BusinessProfileImagesTotalRecords item in Model._ListBusinessProfileImages.ListBusinessProfileImagesTotalRecords)
                            {
                            <div id="ctl00_cphMiddleContainer_dvimagecount" class="total-imges-cont">Total Images:@item.TotalRecords</div>
                            }
                               
                                <div class="clear">
                                </div>
                                <div id="ctl00_cphMiddleContainer_divPrevlinkTag">
                                </div>
                                <div id="ctl00_cphMiddleContainer_divNxtlinkTag">
                                </div>
                                <div class="db-bo-images-holder">

                                    <p id="pError1">

                                    </p>
                                    <div class="clear">
                                    </div>

                                    @if (Model._ListBusinessProfileImages.ListBusinessProfileImages != null)
                                {
                                    if (Model._ListBusinessProfileImages.ListBusinessProfileImages.Count > 0)
                                    {


                                        foreach (Vconnect.Models.BoDashboardModel.BusinessProfileImages item in Model._ListBusinessProfileImages.ListBusinessProfileImages)
                                        {

                                <div class="db-bo-iamges-box-list">
                                    <div class="db-bo-iamges-box">
                                        <div class="bo-db-imgholder">
                                            <div class="bo-db-img1">
                                                <img src="http://image.vconnect.bz/vcsites/vcimages/resource/@item.Photo" />
                                            </div>
                                            <div class="bo-db-img2">
                                                <div class="bo-db-photo">
                                                    <a href="#top" onclick="openslider('banner-slide','@cnt','@item.TotalRecords','divNextgalpen_','divPrevgalpen_')">
                                                        <img src="http://image.vconnect.bz/vcsites/vcimages/resource/@item.Photo" />
                                                    </a>

                                                </div>


                                                <div class="bo-db-cross" id="cross-bt-@cnt">


                                                    @*<a  class="deleteAnchor" id="ctl00_cphMiddleContainer_rptimagesall_ctl00_btndelete" title="delete Image"  data-app-id = "@item.ContentId"  data-business-id="@item.BusinessId" data-value="@item.IType"  href="javascript:__doPostBack('ctl00$cphMiddleContainer$rptimagesall$ctl00$btndelete','')">
                                                            <img src="~/Images/BOdashboard/cross_button.png" alt="delete">
                                                        </a>*@

                                                    <a class="deleteAnchor" title="Delete Image" href="@Url.Action("AjaxCallDeleteBusinessProfileImages", "BoDashboardWeb", new { contentId = @item.ContentId, iType = @item.IType, busId = @item.BusinessId,bname=@Model.BusinessName })"><img src="~/Images/BOdashboard/cross_button.png" alt="delete" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ctl00_cphMiddleContainer_rptimagesall_ctl00_dvimagedetails" class="db-bo-iamges-box-text">
                                        @item.IType

                                        <br>
                                        <label title="">
                                        </label>
                                    </div>
                                </div>
                                              cnt++;
                                        }
                                    }
                                }



                                </div>
                                <div class="clear">
                                </div>
                                <div id="ctl00_cphMiddleContainer_tblPagingDown" class="bestpagena" style="display: none;">
                                    <div id="ctl00_cphMiddleContainer_divPagingBottom" class="">
                                        <div class="bes_pagena">
                                            <div id="ctl00_cphMiddleContainer_divpageingDataBottom" class="bes_resul">
                                            </div>

                                            <div class="bestcentertab">
                                                <span id="ctl00_cphMiddleContainer_PagesDisplayBottom"></span>
                                            </div>

                                        </div>
                                        <div class="vc_clear">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* <asp:label id="lblmsg"></asp:label>*@

                        </div>
                    </div>
                </div>
            }
            <div class="clear"></div>
        </div>


        <div class="white_content" id="banner-slide" style="display: none;">
            <a name="#top"></a>
            <div class="cross-bt-rd">
                <a onclick="document.getElementById('banner-slide').style.display='none';document.getElementById('fade').style.display='none'" href="javascript:void(0)">
                    <img height="16" width="16" src="~/Images/BOdashboard/cross_button.png" />
                </a>
            </div>
            <div id="dvmslider" class="slider">
                <ul id="ulseeall" style="width: 1e+7px; left: 0%;">
                    @if (Model._ListBusinessProfileImages.ListBusinessProfileImages != null)
                    {
                        if (Model._ListBusinessProfileImages.ListBusinessProfileImages.Count > 0)
                        {
                            cnt = 0;
                            foreach (Vconnect.Models.BoDashboardModel.BusinessProfileImages item in Model._ListBusinessProfileImages.ListBusinessProfileImages)
                            {
                    <li>
                        <div style="float: left;">
                            <div class="img-slder-area">
                                <img src="http://image.vconnect.bz/vcsites/vcimages/resource/@item.Photo" id="imgphoto_@cnt" />
                            </div>
                        </div>

                        <div class="slider-content">
                            <div class="slider-discription" id="ctl00_cphMiddleContainer_rptgallery_ctl00_dvuserphoto">
                                <div class="slider-user">

                                    <span id="ctl00_cphMiddleContainer_rptgallery_ctl00_lblusernamep"></span>
                                    <div class="clear">
                                    </div>
                                </div>
                                <h1>@item.PhotoCaption</h1>

                                <div class="slider-text">
                                    <h3>Additional Info</h3>
                                    Uploaded on :
                                    @item.CreateDate

                                </div>
                            </div>
                            <div>
                                <label style="color: green; font-size: 15px; display: none;" id="lblmessage_@cnt">
                                </label>
                            </div>
                            <div style="display: none;" id="Msgavailablebusinessphonenol_@cnt">
                                <img alt="Processing..." src="http://image.vconnect.bz/vcsites/vcimages/resource/images/allpageloader.gif" />
                                <div class="bizuser_loadertxt">
                                    <label id="Labelloaderphone_@cnt">
                                    </label>
                                </div>
                            </div>
                            <div class="bizuser_loadertxt">
                                <label id="Labelsuccess_@cnt">
                                </label>
                            </div>
                            <div class="clear">
                            </div>
                            <div class="slider-set-as">
                                <input type="checkbox" onclick="javascript: SetProfileImage('@item.BusinessId', '@item.IType', '@item.ContentId' ,'@cnt');" data-img="@item.Photo" id="chksetprofieimage_@cnt">
                                Set as Profile Image

                            </div>
                            <input type="hidden" value="0" id="profieimage_@cnt">
                            <div class="next-prv-holder">
                                <div id="divPrevgalpen_@cnt" class="prv-holder" style="display: none;">
                                    <a href="javascript:setprev('ulseeall','divNextgalpen_','divPrevgalpen_');">‹‹ Prev</a>
                                </div>
                                <div class="next-prv-count">
                                    @item.ResultNum
                                    of
                                    @item.TotalRecords

                                </div>
                                <div id="divNextgalpen_@cnt" class="next-holder" style="display: block;">
                                    <a href="javascript:setnext('ulseeall','divNextgalpen_','divPrevgalpen_');">Next ››</a>
                                </div>
                            </div>
                        </div>

                    </li>
                                cnt++;
                            }
                        }
                    }

                </ul>
            </div>



            <div class="clear">
            </div>
        </div>

        <div id="fade" class="black_overlay">
        </div>
        <!-- ============================== Right Container -->
        <div id="bo-db-container-right">

            @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml");

        </div>
        <div class="clear">
        </div>
    </div>

    @Html.Hidden("hdncontainerid")
    @Html.Hidden("hdntotalrecords")

</div>

<script type="text/javascript">
    var sliders = []
    $('.slider').each(function () {
        sliders.push(new Slider(this))
    })
    function openslider(id, containerindex, TotalRecords, nxt, prev) {

        //debugger;
        document.getElementById('hdncontainerid').value = containerindex;
        document.getElementById('hdntotalrecords').value = TotalRecords;
        $('.slider ul').css('left', "-" + ((containerindex) * 100) + '%');
        if (document.getElementById('profieimage_' + containerindex).value == 1) {
            document.getElementById('chksetprofieimage_' + containerindex).checked = true;
        }

        if (TotalRecords == 1) {
            document.getElementById(nxt + containerindex).style.display = 'none';
            document.getElementById(prev + containerindex).style.display = 'none';
        }
        else if ((parseInt(containerindex) + 1) == TotalRecords) {
            document.getElementById(nxt + containerindex).style.display = 'none';
            document.getElementById(prev + containerindex).style.display = 'block';
        }
        else if ((parseInt(containerindex) + 1) == '1') {
            document.getElementById(nxt + containerindex).style.display = 'block';
            document.getElementById(prev + containerindex).style.display = 'none';

        }
        else {
            document.getElementById(nxt + containerindex).style.display = 'block';
            document.getElementById(prev + containerindex).style.display = 'block';
        }
        document.getElementById('lblmessage_' + containerindex).style.display = 'none';
        document.getElementById(id).style.display = 'block'; document.getElementById('fade').style.display = 'block';



    }

    function openslidera(id, containerindex, TotalRecords, typ) {

        //elTarget = document.getElementById('dvmslider');
        // elTarget.innerHTML = "";
        // $('#dvmslider').fadeOut('slow').load(document.getElementById("ctl00_hdnPaths").value
        // + '?GetImage=y&photo=' + id + '&BUSINESSID=<%=BusinessID%>' + '&type=' + typ, function() {


        //debugger;
        document.getElementById('hdncontainerid').value = containerindex;
        document.getElementById('hdntotalrecords').value = TotalRecords;
        document.getElementById(id).style.display = 'block'; document.getElementById('fade').style.display = 'block';

        $('.slider ul').css('left', "-" + ((containerindex) * 100) + '%');
        if ((parseInt(containerindex) + 1) == TotalRecords) {
            document.getElementById('divNextgal_' + containerindex).style.display = 'none';
            document.getElementById('divPrevgal_' + containerindex).style.display = 'block';
        }
        else if ((parseInt(containerindex) + 1) == '1') {
            document.getElementById('divNextgal_' + containerindex).style.display = 'block';
            document.getElementById('divPrevgal_' + containerindex).style.display = 'none';

        }
        else {
            document.getElementById('divNextgal_' + containerindex).style.display = 'block';
            document.getElementById('divPrevgal_' + containerindex).style.display = 'block';
        }
    }



    function setprev(ulid, nxt, prev) {
        // debugger;


        document.getElementById('hdncontainerid').value = parseInt((document.getElementById('hdncontainerid').value) - 1);
        sliders[0].goTo(document.getElementById('hdncontainerid').value, ulid);
        var containerindex = document.getElementById('hdncontainerid').value;

        if ((parseInt(document.getElementById('hdncontainerid').value) + 1) == '1') {
            document.getElementById(nxt + containerindex).style.display = 'block';
            document.getElementById(prev + containerindex).style.display = 'none';
        }
        else {
            document.getElementById(nxt + containerindex).style.display = 'block';
            document.getElementById(prev + containerindex).style.display = 'block';
        }
        document.getElementById('lblmessage_' + containerindex).style.display = 'none';
        if (document.getElementById('profieimage_' + containerindex).value == 1) {
            document.getElementById('chksetprofieimage_' + containerindex).checked = true;
        }
        else {
            document.getElementById('chksetprofieimage_' + containerindex).checked = false;
        }
    }
    function setnext(ulid, nxt, prev) {
        //  debugger;


        document.getElementById('hdncontainerid').value = parseInt((document.getElementById('hdncontainerid').value)) + 1;
        sliders[0].goTo(document.getElementById('hdncontainerid').value, ulid);
        var containerindex = document.getElementById('hdncontainerid').value;
        if ((parseInt(document.getElementById('hdncontainerid').value) + 1) == document.getElementById('hdntotalrecords').value) {
            document.getElementById(nxt + containerindex).style.display = 'none';
            document.getElementById(prev + containerindex).style.display = 'block';
        }
        else {
            document.getElementById(nxt + containerindex).style.display = 'block';
            document.getElementById(prev + containerindex).style.display = 'block';
        }
        document.getElementById('lblmessage_' + containerindex).style.display = 'none';
        // var chk = document.getElementById('chksetprofieimage_' + containerindex);
        if (document.getElementById('profieimage_' + containerindex).value == 1) {
            document.getElementById('chksetprofieimage_' + containerindex).checked = true;
        }
        else {
            document.getElementById('chksetprofieimage_' + containerindex).checked = false;
        }
        //chk.value = 1;
    }
</script>

<script type="text/javascript">
    function hightlight(id) {


        var pid = "img-" + id;
        var cid = "cross-bt-" + id;

        //alert(pid);

        document.getElementById(cid).style.display = "block";
        // document.getElementById(cid).style.margin-top = "-98px";
        document.getElementById(pid).style.display = "block";
        //document.getElementById(cid).style.position = "absolute";
        //document.getElementById(pid).style.margin-top = "-99px";
        //document.getElementById(pid).style.margin-left = "78px";
        //document.getElementById("imgsrc").style.border = "1px solid blue";
        //document.getElementById("textspan").setStyle("color","blue");
        //document.getElementById("imgsrc").setStyle("border","1px solid blue");
    }
    function removehightlight(id) {
        //var pid = "img-" + id;
        var cid = "cross-bt-" + id;
        document.getElementById(cid).style.display = "none";

    }
</script>

<script type="text/javascript">
    function test(id) {


        var pid = "img-" + id;
        var cid = "cross-bt-" + id;

        alert(pid);

    }

</script>

<script type="text/javascript">
    function changeDivHtml(source, target) {
        var elSource = document.getElementById(source)
  , elTarget = document.getElementById(target);
        elTarget.innerHTML = elSource.innerHTML;
        //alert(elTarget.innerHTML);
    }
</script>

<script type="text/javascript">
    //TO Expand collapse the left menu div

    function divexpandcollapse(ID) {
        if (document.getElementById(ID).style.display == "none") {
            $("#" + ID).slideToggle('fast');
            document.getElementById(ID).style.display = "block";
        }
        else if (document.getElementById(ID).style.display == "block") {
            $("#" + ID).slideToggle('fast');
            document.getElementById(ID).style.display = "none";
        }

        //              else if (document.getElementById(ID).style.display == "") {
        //              document.getElementById(ID).style.display = "none";
        //              }
    }

</script>

@*<script type="text/javascript">
        function DeleteImage(id, typ) {
            //alert('Hi');
            if (id > 0) {
                document.getElementById("divLoaderRegPage").style.display = 'block';
                $('#ctl00_cphMiddleContainer_dvpaneladdedbyme').fadeOut('slow').load(document.getElementById("ctl00_hdnPaths").value
        + '?DeleteImage=y&photo=' + id + '&BUSINESSID=<%=BusinessID%>' + '&type=' + typ).fadeIn("slow");

                document.getElementById("divLoaderRegPage").style.display = 'none';
                document.getElementById("dvimagemsgi").style.display = 'block';
                var dvmsg = document.getElementById("dvimagemsgi");
                dvmsg.className = "bo-MsgGreen";
                dvmsg.innerHTML = "Image Deleted Sucessfully";
                dvmsg.focus();
            }
        }
    </script>*@

<script type="text/javascript">
    //    function SetProfileImage(id, itype, cid) {
    //        debugger;
    //        var elements = document.getElementById('chksetprofieimage_' + cid);
    //        var elementes = 'lblmessage_' + cid;
    //        // alert(elements.checked);
    //        if ((elements.checked).toString() == 'true') {
    //            document.getElementById('Msgavailablebusinessphonenol_' + cid).style.display = 'block';

    //            document.getElementById('Labelloaderphone_' + cid).innerHTML = 'Processing ...';
    //            document.getElementById(elementes).style.display = 'block';
    //            // alert(elementes);
    //            $('#' + elementes).fadeOut('slow').load(document.getElementById("ctl00_hdnPaths").value
    //+ '?SaveProfileImage=y&pcontentid=' + id + '&BUSINESSID=<%=BusinessID%>' + '&type=' + itype).fadeIn("slow");
    //            for (var i = 0, len = document.getElementById('hdntotalrecords').value; i < len; i++) {
    //                document.getElementById('profieimage_' + i).value = 0;
    //            }
    //            //alert(document.getElementById('profieimage_' + cid));
    //            document.getElementById('profieimage_' + cid).value = 1;
    //            // var d= document.getElementById('imgphoto_' + cid).src ;
    //            document.getElementById('ctl00_cphMiddleContainer_imgCompanyProfile').src = document.getElementById('imgphoto_' + cid).src
    //            document.getElementById('Msgavailablebusinessphonenol_' + cid).style.display = 'none';

    //            document.getElementById('Labelloaderphone_' + cid).innerHTML = '';
    //            //  alert(d);
    //            //window.close();
    //        }
    //    }


    @*$('.deleteAnchor').click(function(event) {
        event.preventDefault();
        $inp=$(this)
        //alert("hi");
        var contentId = $inp.attr('data-app-id');
        var iType = $inp.attr("data-value");
        var businessId=$inp.attr('data-business-id');

        $.ajax({
            url:"/BoDashboardWeb/AjaxCallDeleteBusinessProfileImages/",
            type: "POST",
            data: {'contentId':contentId,'iType':iType,'busId':businessId},
            success:function(response){


                //alert("success: " + response);
                var objTxtResult;
                document.getElementById('pError1').style.display = "block";
                objTxtResult =document.getElementById('pError1');
                objTxtResult.innerHTML = 'Image deleted successfully ';
                //alert(objTxtResult.innerHTML);
                window.location.href='@Url.Action("BuisnessImagesList", "BoDashboardWeb")'

            },
            error:function (xhr, textStatus, thrownError){
                alert("xhr status: " + xhr.statusText);
            },
        });

    });*@

    function SetProfileImage(id, itype, cid, cnt) {
        // debugger;
        var elements = document.getElementById('chksetprofieimage_' + cnt);
        var imgSrc = $('#chksetprofieimage_' + cnt).attr('data-img');
        var elementes = 'lblmessage_' + cnt;

        if ((elements.checked).toString() == 'true') {


            document.getElementById('Msgavailablebusinessphonenol_' + cnt).style.display = 'block';
            document.getElementById('Labelloaderphone_' + cnt).innerHTML = 'Processing ...';
            document.getElementById(elementes).style.display = 'block';

            $.ajax({
                url: "/BoDashboardWeb/AjaxCallSetBusinessProfileImage/",
                type: "POST",
                data: { 'contentId': cid, 'iType': itype, 'busId': id },
                success: function (response) {
                    //window.location.href='@Url.Action("BuisnessImagesList", "BoDashboardWeb")'
                    document.getElementById('Labelsuccess_' + cnt).innerHTML = 'Profile image changed.';
                    document.getElementById('Msgavailablebusinessphonenol_' + cnt).style.display = 'none';
                    document.getElementById('ctl00_cphMiddleContainer_imgCompanyProfile').src = "http://image.vconnect.bz/vcsites/vcimages/resource/" + imgSrc;
                    for (i = 0; i < parseInt(document.getElementById('hdntotalrecords').value) ; i++) {
                        document.getElementById('profieimage_' + i).value = 0;
                    }
                    document.getElementById('profieimage_' + cnt).value = 1;
                    setInterval(function () { ClearSuccessMsg(cnt) }, 4000);
                },
                error: function (xhr, textStatus, thrownError) {
                    alert("xhr status: " + xhr.statusText);
                },
            });

        }
    }

    function ClearSuccessMsg(cnt) {
        document.getElementById('Labelsuccess_' + cnt).innerHTML = '';
        window.clearInterval(ClearSuccessMsg());
    }
</script>

