﻿@model Vconnect.Models.BoDashboardModel
@{

    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    var chked = Model.modeadvertisemnet.Split(',');
    string title = "VConnect™ || MyBusiness";
}

@section title{@title}


<link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#drp1").change(function (evt) {
            if ($("#drp1").val() != "-1") {
                //var catId = $(this).val();
                var catId = $("#drp1").val()
                // debugger;
                $.getJSON("/BoDashboardWeb/GetCityByState", { catId: catId },
                   function (dropdowndata) {

                       var select = $("#drp2");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "-Select-"
                       }));
                       $.each(dropdowndata, function (index, itemData) {
                           //   debugger;
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
            }
            if ($("#drp1").val() == "") {
                $.getJSON("/BoDashboardWeb/GetCityByState", { catId: 0 },
                   function (dropdowndata) {
                       // debugger;
                       var select = $("#drp2");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "-Select-"
                       }));
                       $.each(dropdowndata, function (index, itemData) {
                           //   debugger;
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
            }
        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#drp2").change(function (evt) {
            if ($("#drp2").val() != "-1") {
                //var catId = $(this).val();
                var catId = $("#drp1").val()
                var catId1 = $("#drp2").val()
                $.getJSON("/BoDashboardWeb/GetAreaByCity", { catId: catId, catId1: catId1 },
                   function (dropdowndata) {
                       // debugger;
                       var select = $("#drp4");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "-Select-"
                       }));
                       $.each(dropdowndata, function (index, itemData) {
                           // debugger;
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
            }
            if ($("#drp1").val() == "" || $("#drp2").val() == "") {
                $.getJSON("/BoDashboardWeb/GetCityByState", { catId: 0, catId1: 0 },
                   function (dropdowndata) {
                       // debugger;
                       var select = $("#drp4");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "-Select-"
                       }));
                       $.each(dropdowndata, function (index, itemData) {
                           // debugger;
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
            }
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#submit").click(function (e) {
            // alert("P");

            //$('#File1').change();
            //this.files[0].size gets the size of your file.
            var objurlPhoto = document.getElementById('alternatephone');
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', ''];
            if ($.inArray($("#uplPhoto").val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                var objTxtResult;
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult =document.getElementById('compLogo');
                objTxtResult.innerHTML = 'Company Logo .jpeg,.jpg, .png, .gif, .bmp formats are allowed.';
                objurlPhoto.focus();


            }

            if ($("#uplPhoto")[0].files[0].size >= 5242880) {
                //   debugger;
                // alert("File size is not more than 5 MB");
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult =document.getElementById('compLogo');
                objTxtResult.innerHTML = 'File size is not more than 5 MB';
                objTxtResult.focus();
                objurlPhoto.focus();
                // document.getElementById('compLogo').focus();



            }


        });
    });
</script>

<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function validateData_BusinessName()
    {

        var result=true;

        var objbname = document.getElementById('GBusinessName');


        var objTxtResult;
        if (objbname.value.trim() == "") {
            document.getElementById('cname').style.display = "block";
            objTxtResult =document.getElementById('cname');
            objTxtResult.innerHTML = 'Please enter company name';
            objbname.focus();
            result=false;

        }
        else
        {
            objTxtResult =document.getElementById('cname').style.display = "none";

        }
        return result;

    }
    function validateData_BusinessPhone()
    {

        var result=true;
        var objbphone = document.getElementById('BusinessPhone');
        if (objbphone.value.trim() == "" ) {

            document.getElementById('cphone').style.display = "block";
            objTxtResult =document.getElementById('cphone');
            objTxtResult.innerHTML = 'Please enter Phone Number';
            objbphone.focus();
            result=false;

        }
        else
        {
            objTxtResult =document.getElementById('cphone').style.display = "none";

        }
        return result;

    }
    function validateData_drp1()
    {

        var result=true;
        var objstate = document.getElementById('drp1');
        if(objstate.value.trim() == "" ||objstate.value.trim() ==0){

            document.getElementById('cstate').style.display = "block";
            objTxtResult =document.getElementById('cstate');
            objTxtResult.innerHTML = 'Please enter State';
            objstate.focus();
            result=false;


        }
        else
        {
            objTxtResult =document.getElementById('cstate').style.display = "none";

        }
        return result;

    }

    function validateData_drp2()
    {

        var result=true;
        var objcity = document.getElementById('drp2');
        if(objcity.value.trim() == "" || objcity.value.trim()=="0" ){

            document.getElementById('ccity').style.display = "block";
            objTxtResult =document.getElementById('ccity');
            objTxtResult.innerHTML = 'Please enter LGA';
            objcity.focus();
            result=false;


        }
        else
        {
            objTxtResult =document.getElementById('ccity').style.display = "none";

        }

        return result;

    }

    function validateData_BusinessAddress()
    {

        var result=true;
        var objstreet = document.getElementById('BusinessAddress');

        if(objstreet.value.trim() == ""){

            document.getElementById('cstreet').style.display = "block";
            objTxtResult =document.getElementById('cstreet');
            objTxtResult.innerHTML = 'Please enter Street';
            objstreet.focus();
            result=false;


        }
        else
        {
            objTxtResult =document.getElementById('cstreet').style.display = "none";

        }

        return result;

    }

    function validateData_BusinessEmail()
    {

        var result=true;
        var objemail = document.getElementById('BusinessEmail');
        if (objemail.value != '')
        {
            // debugger;
            var atpos = objemail.value.indexOf("@@");
            var dotpos = objemail.value.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= objemail.value.length)
            {
                document.getElementById('cemail').style.display = "block";
                objTxtResult = document.getElementById('cemail');
                objTxtResult.innerHTML = 'Please enter valid email';
                objemail.focus();
                // alert('Email address is not valid');
                result=false;

            }
            else {
                objTxtResult = document.getElementById('cemail').style.display = "none";
                // return true;
            }
        }
        else {
            objTxtResult = document.getElementById('cemail').style.display = "none";
            // return true;
        }


        return result;

    }

    function validateData_BusinessAlternateEmail()
    {
        debugger;
        var result=true;

        var objAltemail = document.getElementById('BusinessAlternateEmail');
        if (objAltemail.value != '')
        {
             debugger;
            var atpos = objAltemail.value.indexOf("@@");
            var dotpos = objAltemail.value.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= objAltemail.value.length)
            {
                document.getElementById('caltemail').style.display = "block";
                objTxtResult = document.getElementById('caltemail');
                objTxtResult.innerHTML = 'Please enter valid alternate email';
                objemail.focus();
                // alert('Email address is not valid');
                result=false;

            }
            else {
                objTxtResult = document.getElementById('caltemail').style.display = "none";
                // return true;
            }
            return result;
        }
        else {
            objTxtResult = document.getElementById('caltemail').style.display = "none";
            // return true;
        }


        return result;

    }

    function validateData_BusinessWebsite()
    {

        var result=true;

        var objwebsite = document.getElementById('BusinessWebsite');
        //  debugger;
        if (objwebsite.value != '') {
            var pattern = /(http(s)?:\\)?([\w-]+\.)+[\w-]+[.com|.in|.org]+(\[\?%&=]*)?/;
            if (pattern.test(objwebsite.value)) {
                objTxtResult = document.getElementById('cwebsite').style.display = "none";
                //return true;
            }
            else {
                document.getElementById('cwebsite').style.display = "block";
                objTxtResult = document.getElementById('cwebsite');
                objTxtResult.innerHTML = 'Please enter valid website url';
                objwebsite.focus();
                result=false;

            }
            return result;

        }
        else{
            objTxtResult = document.getElementById('cwebsite').style.display = "none";

        }
        return result;
    }



    function validateData() {
        // debugger;
        var result=true;
        document.getElementById('cemail').style.display = "none";
        document.getElementById('caltemail').style.display = "none";
        document.getElementById('cwebsite').style.display = "none";
        var objbname = document.getElementById('GBusinessName');
        var objbphone = document.getElementById('BusinessPhone');
        var objemail = document.getElementById('BusinessEmail');
        var objAltemail = document.getElementById('BusinessAlternateEmail');
        //var objarea = document.getElementById('drp4');
        var objcity = document.getElementById('drp2');
        var objstate = document.getElementById('drp1');
        var objstreet = document.getElementById('BusinessAddress');


        var objTxtResult;
        if (objbname.value.trim() == "") {
            document.getElementById('cname').style.display = "block";
            objTxtResult =document.getElementById('cname');
            objTxtResult.innerHTML = 'Please enter company name';
            // $("#cname1").focus();
            objbname.focus();
            result=false;

        }
        else
        {
            objTxtResult =document.getElementById('cname').style.display = "none";

        }
        if (objbphone.value.trim() == "" ) {

            document.getElementById('cphone').style.display = "block";
            objTxtResult =document.getElementById('cphone');
            objTxtResult.innerHTML = 'Please enter Phone Number';
            objbphone.focus();
            result=false;



        }
        else
        {
            objTxtResult =document.getElementById('cphone').style.display = "none";

        }

        if(objstate.value.trim() == "" ||objstate.value.trim() ==0){

            document.getElementById('cstate').style.display = "block";
            objTxtResult =document.getElementById('cstate');
            objTxtResult.innerHTML = 'Please enter State';
            objstate.focus();
            result=false;


        }
        else
        {
            objTxtResult =document.getElementById('cstate').style.display = "none";

        }

        if(objstreet.value.trim() == ""){

            document.getElementById('cstreet').style.display = "block";
            objTxtResult =document.getElementById('cstreet');
            objTxtResult.innerHTML = 'Please enter Street';
            objstreet.focus();
            result=false;


        }
        else
        {
            objTxtResult =document.getElementById('cstreet').style.display = "none";

        }

        if(objcity.value.trim() == "" || objcity.value.trim()=="0" ){

            document.getElementById('ccity').style.display = "block";
            objTxtResult =document.getElementById('ccity');
            objTxtResult.innerHTML = 'Please enter LGA';
            objcity.focus();
            result=false;


        }
        else
        {
            objTxtResult =document.getElementById('ccity').style.display = "none";

        }

        if (objemail.value != '')
        {
            // debugger;
            var atpos = objemail.value.indexOf("@@");
            var dotpos = objemail.value.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= objemail.value.length)
            {
                document.getElementById('cemail').style.display = "block";
                objTxtResult = document.getElementById('cemail');
                objTxtResult.innerHTML = 'Please enter valid email';
                objemail.focus();
                // alert('Email address is not valid');
                result=false;

            }
            else {
                objTxtResult = document.getElementById('cemail').style.display = "none";
                // return true;
            }
        }



        if (objAltemail.value != '')
        {
            // debugger;
            var atpos = objAltemail.value.indexOf("@@");
            var dotpos = objemail.value.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= objAltemail.value.length)
            {
                document.getElementById('caltemail').style.display = "block";
                objTxtResult = document.getElementById('caltemail');
                objTxtResult.innerHTML = 'Please enter valid alternate email';
                objemail.focus();
                // alert('Email address is not valid');
                result=false;

            }
            else {
                objTxtResult = document.getElementById('caltemail').style.display = "none";
                // return true;
            }
        }


        var objwebsite = document.getElementById('BusinessWebsite');
        //  debugger;
        if (objwebsite.value != '') {
            var pattern = /(http(s)?:\\)?([\w-]+\.)+[\w-]+[.com|.in|.org]+(\[\?%&=]*)?/;
            if (pattern.test(objwebsite.value)) {
                objTxtResult = document.getElementById('cwebsite').style.display = "none";
                //return true;
            }
            else {
                document.getElementById('cwebsite').style.display = "block";
                objTxtResult = document.getElementById('cwebsite');
                objTxtResult.innerHTML = 'Please enter valid website url';
                objwebsite.focus();
                result=false;

            }
            return result;
        }


        return result;




    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        // debugger;

        $("select option:contains(@Model.EmployeeStrength)").attr('selected', true);

        var myArray1 = new Array("@Model.modeadvertisemnet" );

        $(":submit").click(function (e) {


            //------------check box-----------
            var select_course_name = $('#drp2').find(":selected").text();
            if (select_course_name == "-Select-") {
                $('#pError').append('<span id="add_here">Select state</span>');
                e.preventDefault();
            }
            var select_course_name = $('#drp1').find(":selected").text();
            if (select_course_name == "-Select-") {
                $('#pError').append('<span id="add_here">Select Local Goverment</span>');
                e.preventDefault();
            }

        });

        $("#drp3").change(function (evt) {
            if ($("#drp3").val() != "-1") {
                //var catId = $(this).val();
                var catId = $("#drp3").val()
                debugger;
                $.getJSON("/BoDashboardWeb/GetEmployeeStrength", { catId: catId },
                   function (dropdowndata) {

                       var select = $("#drp3");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "1-10"
                       }));
                       $.each(dropdowndata, function (index, itemData) {
                           //   debugger;
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
            }
        });

    });
</script>



<div style="width: 999PX; margin: 0 auto; position: relative; ">
    <div id="bo-db-container">
        <!-- ============================== Left Container -->
        <div id="bo-db-container-left">
            @Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)

        </div>
        <!-- ============================== Center Container -->
        @using (Html.BeginForm("updateBizDetailsBoDashBoard", "BoDashboardWeb", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
        {


            <div id="bo-db-container-mid">
                <div class="bo-db-header-area">
                    @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")

                </div>
                <!-- ============================= All Form and submenu Holder -->
                <div class="TabbedPanelsContentGroup">
                    <div class="hori-tabs-holder">
                        <ul>
                            <li class="hori-tabs-holder-selected">Basic Details</li>
                            <li><a href='/BoDashboardWeb/GetContactDetails?BID=@Model.BusinessID&bname=@Model.BusinessName'>Contact Details </a></li>
                            <li><a href='/BoDashboardWeb/BuisnessProductsList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Products </a></li>
                            <li><a href='/BoDashboardWeb/GetBuisnessServicesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Services </a></li>
                            <li><a href='/BoDashboardWeb/BuisnessImagesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Images</a></li>
                            @*<li><a href='/BoDashboardWeb/GetVedioGalary?BID=@Model.BusinessID&bname=@Model.BusinessName'>Videos </a></li>*@
                        </ul>
                        <div class="clear">
                        </div>

                    </div>
                    <div class="TabbedPanelsContent">
                        <!-- ------------------------ Basic detail -->
                        <!-- =================================== Completeness Bar -->
                        <div class="completeness-bar-holder">
                            @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                            <div class="clear">
                            </div>
                        </div>
                        <!-- =================================== Basic detail form -->
                        <div class="clear">
                        </div>
                        <div class="db-bo-form-holder">

                            @if (Session["update"] != null)
                            {
                                <p id="pError1" class="bo-MsgGreen">
                                    @Session["update"]
                                </p>
                                <div class="clear">
                                </div>
                                Session.Remove("update");
                            }
                            @if (Session["updateE"] != null)
                            {
                                <p id="pError" style="color:red">
                                    @Session["updateE"]
                                </p>
                                <div class="clear">
                                </div>
                                Session.Remove("updateE");
                            }
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left" id="cname1">
                                    Company Name<span class="mandatory">*</span>
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextBoxFor(m => m.GBusinessName, new { maxlength = "100", onblur = "return validateData_BusinessName();" })
                                    @Html.HiddenFor(m => m.BusinessID)
                                    <span class="rspanmsgs">
                                        <span id="Span2" class="Msgcontallvalid" style="display: none;"></span><br />
                                        <span style="color: Red; display: none;" id="cname">Field cannot be left blank.</span>
                                    </span>



                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Phone Number<span class="mandatory">*</span>
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextBoxFor(m => m.BusinessPhone, new { onkeypress = "return isNumberKey(event)", maxlength = "11", onblur = "return validateData_BusinessPhone();" })
                                    <span class="rspanmsgs">
                                        <span id="2" class="Msgcontallvalid" style="display: none;"></span>
                                        <br>
                                        <span style="color:Red;display:none;" id="cphone"></span>

                                    </span>


                                </div>
                                <div id="change-phone" class="change-phone-holder">
                                    <div class="cross-bt-rd">
                                        <a href="javascript:void(0)" onclick="document.getElementById('change-phone').style.display='none';document.getElementById('fade').style.display='none'">
                                            <img src="http://image.vconnect.bz/static/WEB/BOdashboard/cross_button.png" />
                                        </a>
                                    </div>
                                    <div class="change-phone-col1">
                                        <span id="ctl00_cphMiddleContainer_lblpmessage"></span>
                                    </div>
                                    <div class="change-phone-col1">
                                    </div>
                                    <div class="clear">
                                    </div>
                                    <div class="change-phone-col1">
                                        New Phone Number
                                    </div>
                                    <div class="change-phone-col1">
                                        <input name="ctl00$cphMiddleContainer$txtcountrycode1" value="234" id="ctl00_cphMiddleContainer_txtcountrycode1" disabled="disabled" style="width: 50px;" type="text">
                                        <input name="ctl00$cphMiddleContainer$txtphone1" maxlength="10" id="ctl00_cphMiddleContainer_txtphone1" onblur="return validatephoneno();" type="text">
                                        <div class="clear">
                                        </div>
                                        <span class="rspanmsgs">
                                            <span style="display: none;" class="Msgcontallvalid" id="Span9"></span>
                                            <span id="ctl00_cphMiddleContainer_RequiredFieldValidator4" class="validation" style="color: Red; display: none;">Please Enter New Phone No.</span>
                                            <span id="ctl00_cphMiddleContainer_RegularExpressionValidator5" class="validation" style="color: Red; display: none;">Please Enter Numbers Only</span><br>
                                        </span>
                                        <div id="lblp1" class="validation">
                                            "Note: Please do not start Number with 0"

                                        </div>
                                    </div>
                                    <div class="clear">

                                    </div>

                                    <div style="text-align: center;">
                                        <input name="ctl00$cphMiddleContainer$btnsavenumber" value="Save" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphMiddleContainer$btnsavenumber&quot;, &quot;&quot;, true, &quot;m1&quot;, &quot;&quot;, false, false))" id="ctl00_cphMiddleContainer_btnsavenumber" class="db-bo-form-submit-bt" type="submit">
                                    </div>

                                </div>
                                <div id="fade" class="black_overlay">
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Alternate Phone No.
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextBoxFor(m => m.alternatephone, new { onkeypress = "return isNumberKey(event)", maxlength = "11" })


                                </div>
                                <div class="clear">
                                </div>
                            </div>

                            <div class="db-bo-form-table-row-left">
                                Company Logo
                            </div>
                            <div class="db-bo-form-table-row-right">
                                @*<input name="ctl00$cphMiddleContainer$FileUpload1" id="ctl00_cphMiddleContainer_FileUpload1" style="margin-top: 8px" type="file">*@
                                <input name="uplPhoto" id="uplPhoto" type="file" style="margin-top: 8px">
                                <span id="Span2" class="Msgcontallvalid" style="display: none;"></span><br />
                                <span style="color: Red; display: none;" id="compLogo">Field cannot be left blank.</span>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    &nbsp

                                </div>
                                <div class="db-bo-form-table-row-right" style="padding-top: 10px;">
                                    <div class="bo-profile-img-areapage" style="text-align: left;">
                                        @if (Model.GCompanyLogo != "0" && Model.GCompanyLogo != "")
                                        {
                                            <img id="ctl00_cphMiddleContainer_imgCompanyLogoEdit2" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.GCompanyLogo' alt="Company Logo" style="border-width: 0px;" />
                                        }

                                        else if (Model.ProfileImage == "0")
                                        {
                                            <img id="ctl00_cphMiddleContainer_imgCompanyLogoEdit2" src='http://image.vconnect.bz/vcsites/vcimages/resource/images/noImageAvailable.jpg' alt="Profile Image" style="border-width: 0px;" />
                                        }

                                        @Html.HiddenFor(m => m.GCompanyLogo)

                                    </div>
                                    <div style="float: left; margin-left: 20px; width: 200px; margin-top: 23px;">
                                        <span id="ctl00_cphMiddleContainer_spncprofileimg1" class="com_error" style="margin: 0px;">NOTE: only max 5MB, .gif, .jpg, .png, .jpeg, .bmp allowed.</span>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <br />
                            <div class="clear">
                            </div>

                            <div class="db-bo-form-table-row-left">
                                Profile Image
                            </div>
                            <div class="db-bo-form-table-row-right" style="position: relative;">
                                <div class="bo-profile-img-areapage" style="text-align: left;">
                                    @if (Model.ProfileImage != "0")
                                    {
                                        <img id="ctl00_cphMiddleContainer_profileimage1" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.ProfileImage' alt="Profile Image" style="border-width: 0px;" />
                                    }

                                    else if (Model.ProfileImage == "0")
                                    {
                                        <img id="ctl00_cphMiddleContainer_profileimage1" src='http://image.vconnect.bz/vcsites/vcimages/resource/images/noImageAvailable.jpg' alt="Profile Image" style="border-width: 0px;" />
                                    }

                                    @Html.HiddenFor(m => m.ProfileImage)
                                </div>
                                <div style="font-size: 92%; margin-left: 125px;">
                                    <b style="display: block; color: Red; margin-bottom: 5px; margin-top: 23px;">TO change profile image</b> <b>1)</b> Go to images<br>
                                    <b>2</b>) Click on image of choice.<br>
                                    <b>3)</b> Tick on the option shown: "Set as profile Image"


                                </div>
                            </div>
                            <div class="clear">
                            </div>
                            <br />

                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Brief Description
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextAreaFor(m => m.Businessshortdesc, new { maxlength = "512", rows = "5", cols = "20", style = "width: 350px; height: 57px;" })

                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    State<span class="mandatory">*</span>
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    <div id="ctl00_cphMiddleContainer_UpdatePanel1">

                                        @Html.DropDownListFor(model => model.SelectedStateId, Model.StateOptions, "-Select-", new { @id = "drp1", onblur = "return validateData_drp1();", style = "font-family:Arial,Helvetica,sans-serif; color:#000;" })
                                        <span class="rspanmsgs">
                                            <span id="4" class="Msgcontallvalid" style="display: none;"></span>
                                            <span style="color: Red; display: none;" id="cstate"></span>
                                        </span>

                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Local Government<span class="mandatory">*</span>
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    <div id="ctl00_cphMiddleContainer_UpdatePanel2">
                                        @Html.DropDownListFor(model => model.SelectedCityId, Model.CityOptions, "-Select-", new { @id = "drp2", onblur = "return validateData_drp2();", style = "font-family:Arial,Helvetica,sans-serif; color:#000;"  })
                                        <span class="rspanmsgs">
                                            <span id="5" class="Msgcontallvalid" style="display: none;"></span>
                                            <span style="color: Red; display: none;" id="ccity"></span>
                                        </span>

                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Area@*<span class="mandatory">*</span>*@
                                </div>
                                <div class="db-bo-form-table-row-right">

                                    @Html.DropDownListFor(model => model.SelectedAreaId, Model.AreaOptions, "-Select-", new { @id = "drp4", style = "font-family:Arial,Helvetica,sans-serif; color:#000;"  })
                                    <span class="rspanmsgs">
                                        <span id="7" class="Msgcontallvalid" style="display: none;"></span>
                                        <span style="color: Red; display: none;" id="carea"></span>
                                    </span>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    House Number
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextBoxFor(m => m.Houseno, new { maxlength = "100" })
                                    <span id="7" class="Msgcontallvalid" style="display: none;"></span><br />
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Street<span class="mandatory">*</span>
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextBoxFor(m => m.BusinessAddress, new { maxlength = "100", onblur = "return validateData_BusinessAddress();" })

                                    <span class="rspanmsgs">
                                        <span id="8" class="Msgcontallvalid" style="display: none;"></span><br />
                                        <span style="color: Red; display: none;" id="cstreet"></span>
                                    </span>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Landmark
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextBoxFor(m => m.BusinessLandmark, new { maxlength = "100" })
                                    <span class="Msgcontallvalid" style="display: none;"></span><br />
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Email Id
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextBoxFor(m => m.BusinessEmail, new { maxlength = "50", onblur = "return validateData_BusinessEmail();" })
                                    @* @Html.TextBoxFor(m => m.BusinessEmail, new { maxlength = 50, placeholder = "Your email address", @data_invalid = "", type = "text" })*@
                                    <span class="Msgcontallvalid" style="display: none;"></span><br />
                                    <span style="color: Red; display: none;" id="cemail"></span>
                                    @* <small class="error">Enter your valid email address</small>*@
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Alternate Email
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextBoxFor(m => m.BusinessAlternateEmail, new { maxlength = "50", onblur = "return validateData_BusinessAlternateEmail();" })
                                    <span class="Msgcontallvalid" style="display: none;"></span><br />
                                    <span style="color: Red; display: none;" id="caltemail"></span>
                                    @*@Html.TextBoxFor(m => m.BusinessAlternateEmail, new { maxlength = 50, placeholder = "Your email address", @data_invalid = "", type = "email", pattern = "email" })*@
                                    @* <small class="error">Enter your valid email address</small>*@
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Website
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @Html.TextBoxFor(m => m.BusinessWebsite, new { maxlength = "50", onblur = "return validateData_BusinessWebsite();" })
                                    <span id="8" class="Msgcontallvalid" style="display: none;"></span><br />
                                    <span style="color: Red; display: none;" id="cwebsite"></span>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Mode of Advertisement
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    <div class="ads-list-area" style="width:350px;">
                                        @* <input type="text" name="mode_adv" id="mode_adv" value="mode_adv" />*@
                                        @Html.HiddenFor(m => m.modeadvertisemnet, new { @id = "modeadvertisemnet" })
                                        <table id="ctl00_cphMiddleContainer_Chkadvmode" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Fliters"))
                                                        {
                                                            <input value="Fliters" name="chk" type="checkbox" checked="checked">

                                                        }
                                                        else
                                                        {
                                                            <input value="Fliters" name="chk" type="checkbox">
                                                        }
                                                        Fliters
                                                    </td>

                                                    <td>
                                                        @if (chked.Contains("Radio"))
                                                        {
                                                            <input value="Radio" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Radio" name="chk" type="checkbox">
                                                        }
                                                        Radio
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("TV"))
                                                        {
                                                            <input value="TV" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="TV" name="chk" type="checkbox">
                                                        }TV
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("Magazines"))
                                                        {
                                                            <input value="Magazines" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Magazines" name="chk" type="checkbox">
                                                        }Magazines
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Newspaper"))
                                                        {
                                                            <input value="Newspaper" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Newspaper" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        Newspaper
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("BillBoards"))
                                                        {
                                                            <input value="BillBoards" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="BillBoards" name="chk" type="checkbox">
                                                        }
                                                        Bill Boards
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Internet"))
                                                        {
                                                            <input value="Internet" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Internet" name="chk" type="checkbox">
                                                        }
                                                        Internet
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("Others"))
                                                        {
                                                            <input value="Others" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Others" name="chk" type="checkbox">
                                                        }
                                                        Others
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("None"))
                                                        {
                                                            <input value="None" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="None" name="chk" type="checkbox">
                                                        }
                                                        None
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("Brochures"))
                                                        {
                                                            <input value="Brochures" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Brochures" name="chk" type="checkbox">
                                                        }
                                                        Brochures
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("BulkSMS"))
                                                        {
                                                            <input value="BulkSMS" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="BulkSMS" name="chk" type="checkbox">
                                                        }
                                                        Bulk SMS
                                                    </td>
                                                    <td>

                                                        @if (chked.Contains("Bulletin"))
                                                        {
                                                            <input value="Bulletin" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Bulletin" name="chk" type="checkbox">
                                                        }
                                                        Bulletin
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("BusinessCard"))
                                                        {
                                                            <input value="BusinessCard" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="BusinessCard" name="chk" type="checkbox">
                                                        }
                                                        Business Card
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("ByMouth"))
                                                        {
                                                            <input value="ByMouth" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="ByMouth" name="chk" type="checkbox">
                                                        }
                                                        By Mouth
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("ComplimentaryCard"))
                                                        {
                                                            <input value="ComplimentaryCard" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="ComplimentaryCard" name="chk" type="checkbox">
                                                        }
                                                        Complimentary Card
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("Exhibition"))
                                                        {
                                                            <input value="Exhibition" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Exhibition" name="chk" type="checkbox">
                                                        }
                                                        Exhibition
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Facebook"))
                                                        {
                                                            <input value="Facebook" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Facebook" name="chk" type="checkbox">
                                                        }
                                                        Facebook
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("GoodsSampling"))
                                                        {
                                                            <input value="GoodsSampling" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="GoodsSampling" name="chk" type="checkbox">
                                                        }
                                                        Goods Sampling
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Google Advert"))
                                                        {
                                                            <input value="GoogleAdvert" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="GoogleAdvert" name="chk" type="checkbox">
                                                        }
                                                        Google Advert
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("Manuals"))
                                                        {
                                                            <input value="Manuals" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Manuals" name="chk" type="checkbox">
                                                        }
                                                        Manuals
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Marketers"))
                                                        {
                                                            <input value="Marketers" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Marketers" name="chk" type="checkbox">
                                                        }
                                                        Marketers
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("Media"))
                                                        {
                                                            <input value="Media" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Media" name="chk" type="checkbox">
                                                        }
                                                        Media >
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Networking"))
                                                        {
                                                            <input value="Networking" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Networking" name="chk" type="checkbox">
                                                        }
                                                        Networking
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("OnlineMarketing"))
                                                        {
                                                            <input value="OnlineMarketing" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="OnlineMarketing" name="chk" type="checkbox">
                                                        }
                                                        Online Marketing
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Promotions"))
                                                        {
                                                            <input value="Promotions" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Promotions" type="checkbox">
                                                        }
                                                        Promotions
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("Proposal"))
                                                        {
                                                            <input value="Proposal" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Proposal" name="chk" type="checkbox">
                                                        }
                                                        Proposal
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Recharge Cards Board"))
                                                        {
                                                            <input value="Recharge Cards Board" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Recharge Cards Board" name="chk" type="checkbox">
                                                        }
                                                        Recharge Cards Board
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("Referral"))
                                                        {
                                                            <input value="Referral" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Referral" name="chk" type="checkbox">
                                                        }
                                                        Referral
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Seminars"))
                                                        {
                                                            <input value="Seminars" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Seminars" name="chk" type="checkbox">
                                                        }
                                                        Seminars
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("Stickers"))
                                                        {

                                                            <input value="Stickers" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Stickers" name="chk" type="checkbox">
                                                        }
                                                        Stickers
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("T-Shir"))
                                                        {
                                                            <input value="T-Shirt" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="T-Shirt" name="chk" type="checkbox">
                                                        }
                                                        T-Shirt
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("VehicleSticker"))
                                                        {
                                                            <input value="VehicleSticker" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="VehicleSticker" name="chk" type="checkbox">
                                                        }
                                                        Vehicle Sticker
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("Website"))
                                                        {
                                                            <input value="Website" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="Website" name="chk" type="checkbox">
                                                        }
                                                        Website
                                                    </td>
                                                    <td>
                                                        @if (chked.Contains("YellowPages"))
                                                        {
                                                            <input value="YellowPages" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="YellowPages" name="chk" type="checkbox">
                                                        }
                                                        Yellow Pages
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (chked.Contains("SignPost"))
                                                        {
                                                            <input value="SignPost" name="chk" type="checkbox" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input value="SignPost" name="chk" type="checkbox">
                                                        }
                                                        Sign Post
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                            </div>

                            <br />
                            <div class="db-bo-form-table-row">
                                <div class="clear">
                                </div>
                                <div class="db-bo-form-table-row-left">
                                    Employee Strength
                                </div>
                                <div class="db-bo-form-table-row-right">
                                    @*  @Html.DropDownListFor(model => model.EmpOptionId, Model.EmpOptionName, "-Select-", new { @id="drp3"})*@
                                    <div class="clear">
                                    </div>
                                    @*@Html.DropDownList("EmpOptionId", new SelectList(Model.EmpOptionName, "Value", "Text", Model.EmpOptionId), new { @id = "drp3" })*@

                                    @Html.DropDownListFor(m => m.EmployeeStrength, new SelectList(new[] { "1-10", "11-25", "26-75", "76-250", "251-1000", "251-1000" }))
                                    @*<select name="ctl00$cphMiddleContainer$ddlemployeestrength" id="ctl00_cphMiddleContainer_ddlemployeestrength" class="db-bo-form-select" style="width: 328px;">
                                             <option value="0">-Select-</option>
                                             <option value="18">1-10</option>
                                             <option value="19">11-25</option>
                                             <option value="20">26-75</option>
                                             <option value="21">76-250</option>
                                             <option value="22">251-1000</option>
                                             <option value="23">More than 1000</option>

                                        </select>*@

                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="db-bo-form-table-row">
                                <div class="db-bo-form-table-row-left">
                                    Internet Facility
                                </div>
                                <div class="db-bo-form-table-row-right">


                                    @if (ViewBag.rdo == "1")
                                    {

                                        <input type="radio" name="apply_discount" value="yes" checked="checked" title="Yes" />
                                        <label for="ctl00_cphMiddleContainer_RadioButtonList1_0">Yes</label>
                                        <input type="radio" name="apply_discount" value="no" />
                                        <label for="ctl00_cphMiddleContainer_RadioButtonList1_0">No</label>
                                    }
                                    else if (ViewBag.rdo == "0")
                                    {
                                        <input type="radio" name="apply_discount" value="yes" title="Yes" />
                                        <label for="ctl00_cphMiddleContainer_RadioButtonList1_0">Yes</label>
                                        <input type="radio" name="apply_discount" value="no" checked="checked" />
                                        <label for="ctl00_cphMiddleContainer_RadioButtonList1_0">No</label>
                                    }
                                </div>


                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <div class="db-bo-form-table-row">
                            <div class="db-bo-form-table-row-left">
                                &nbsp;
                            </div>

                            <div class="db-bo-form-table-row-right">
                                @* <input class="db-bo-form-submit-bt" name="ctl00$cphMiddleContainer$btnSaveBizDetails" value="Submit" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphMiddleContainer$btnSaveBizDetails&quot;, &quot;&quot;, true, &quot;vgCompany&quot;, &quot;&quot;, false, false))" id="ctl00_cphMiddleContainer_btnSaveBizDetails" class="db-bo-form-submit-bt" type="submit">*@
                                <input class="db-bo-form-submit-bt" id="submit" type="submit" name="submit" value="Submit" onclick="return validateData();">
                            </div>

                            <div class="clear">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        <!-- ============================== Right Container -->
        <div id="bo-db-container-right">


            @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml");

        </div>
        <div class="clear">
        </div>
    </div>
</div>

<script type="text/javascript">
    //TO Expand collapse the left menu div
    function divexpandcollapse(ID) {
        //  debugger;
        if (document.getElementById(ID).style.display == "none") {
            document.getElementById(ID).style.display = "block"

        }
        else if (document.getElementById(ID).style.display == "block") {

            document.getElementById(ID).style.display = "none"
        }
    }

</script>

