﻿@model Vconnect.Models.BoDashboardModel
@{
    ViewBag.Title = "URegistration";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    var data = Model.Subscription.FirstOrDefault().Split('/');
                     
string title = "VConnect™ || MyBusiness";
}

@section title{@title}
@Scripts.Render("~/bundles/jquery")

<link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
      //  debugger;
        $("#filter option[value='@data[6]']").attr("selected", "selected");
      
        // document.getElementById(dvmenuheading).innerHTML = "User Activity Report For:";

    });
</script>

<div style="width: 999PX; margin: 0 auto; position: relative; margin-top: 0%;">

    <div id="bo-db-container">
        <!-- ============================== Left Container -->
        <div id="bo-db-container-left">
           
            <div id="ctl00_cphMiddleContainer_divprofileimage" class="bo-profile-img-area">
                @if (Model.ProfileImage != "0")
                {
                    <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.ProfileImage' alt="Profile Image" style="border-width: 0px;" />
                }
                else if (Model.ProfileImage == "0" && Model.CompanyLogo != "0")
                {
                    <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.CompanyLogo' alt="Profile Image" style="border-width: 0px;" />
                }
                else if (Model.ProfileImage == "0" && Model.CompanyLogo == "0")
                {
                    <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/images/noImageAvailable.jpg' alt="Profile Image" style="border-width: 0px;" />
                }

            </div>

            <div id="bo-db-left-tabs" class="ddsmoothmenu">
                <ul id="nav">
                    <li>
                        <a id="aprofile" href='/BoDashboardWeb/Index/' >
                            <img src="../../images/Bodashboard/icons/business-profile.png" />Business Profile
                        </a>
                    </li>
                    <li>
                        <a id="areview" href='/BoDashboardWeb/BusinessReviews/'>
                            <img src="../../images/Bodashboard/icons/reviews.png" />Reviews
                        </a>
                    </li>
                    @*<li style=" display:none ">
                        <a href="http://vconnectors.vconnect.com/send.aspx?atab=BulkSMS">
                            <img src="../../images/Bodashboard/icons/target-sms.png" />Targeted SMS
                        </a>
                    </li>*@

                    @if (Model.membership != "1")
                    {
                        <li id="ctl00_cphMiddleContainer_lisubs">
                            <a href='/BoDashboardWeb/BusinessSubscription/'>
                                <img src="../../images/Bodashboard/icons/my-subscription.png" />
                                My Subscription
                            </a>
                        </li> }

                    <li>
                        <a href='/BoDashboardWeb/BusinessUserActivity/' class='bo-db-left-tabs-activ'>
                            <img src="../../images/Bodashboard/icons/user-activity.png" />User Activities
                        </a>
                    </li>
                    <li style=" display:none ">
                        <a href="http://vconnectors.vconnect.com/send.aspx?atab=Addressbook">
                            <img src="../../images/Bodashboard/icons/my-contact.png" />My Contacts
                        </a>
                    </li>

                </ul>
            </div>
            <div class="bo-db-left-saddow">
            </div>

        </div>
        <!-- ============================== Center Container -->
        <div id="bo-db-container-mid">
            <div class="bo-db-header-area">
                @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")
            </div>
            <!-- ============================= All Form and submenu Holder -->
            <div class="TabbedPanelsContentGroup">

                <div class="TabbedPanelsContent">
                    <!-- ------------------------ Basic detail -->
                    <!-- =================================== Completeness Bar -->
                    <div class="completeness-bar-holder">
                        @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                        <div class="clear">
                        </div>
                    </div>
                    <!-- =================================== Basic detail form -->
                    <div class="clear">
                    </div>
                    @using (Html.BeginForm())
                    {<div class="db-bo-form-holder">
                         
                        <div style="float: right; margin-bottom: 5px; margin-right: 5px;">
                            <select name="filter" onchange="this.form.submit()" id="filter" class="db-bo-form-select" style="width: 210px;">
                                <option value="3">Last 7 Days</option>
                                <option value="30">Last 30 Days</option>
                                <option value="90">Last 3 Months</option>
                                <option value="365">Last one Year</option>

                            </select>
                        </div>
                        @*<center><span id="ctl00_cphMiddleContainer_lblmessaage" style="color:Green;font-weight:bold;"></span>&nbsp;</center>
                            <center> <span id="ctl00_cphMiddleContainer_lblnumofrecords" style="color:Green;"></span></center>*@

                        <div class="user-activity-table">

                            <div class="clear">
                            </div>

                            <div class="table-holder">
                                <div class="clear">
                                </div>
                                <div class="table-holder-l">
                                    Profile Views
                                </div>
                                <div class="table-holder-r">
                                    @data[0]
                                </div>
                                <div class="clear">
                                </div>
                                @*<div class="table-holder-l">
                                    Business Send by Email
                                </div>
                                <div class="table-holder-r">
                                    @data[1]
                                </div>
                                <div class="clear">
                                </div>*@
                                <div class="table-holder-l">
                                    Business Send by SMS
                                </div>
                                <div class="table-holder-r">
                                    @data[2]
                                </div>
                                <div class="clear">
                                </div>
                                <div class="table-holder-l">
                                    Reviews
                                </div>
                                <div class="table-holder-r">
                                    @data[3]
                                </div>
                                <div class="clear">
                                </div>
                                <div class="table-holder-l">
                                    Phone Clicks
                                </div>
                                <div class="table-holder-r">
                                    @data[4]
                                </div>
                                <div class="clear">
                                </div>
                                <div class="table-holder-l">
                                    Favorites
                                </div>
                                <div class="table-holder-r">
                                    @data[5]
                                </div>
                                <div class="clear">
                                </div>
                            </div>

                        </div>

                    </div>
                    }

                </div>
            </div>
        </div>
        <!-- ============================== Right Container -->
        <div id="bo-db-container-right">


            @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")

        </div>
        <div class="clear">
        </div>
    </div>

</div>

<script type="text/javascript">
    //TO Expand collapse the left menu div
    function divexpandcollapse(ID) {
        //  debugger;
       // document.getElementById(dvmenuheading).innerHTML = "User Activity Report For:";
        if (document.getElementById(ID).style.display == "none") {
            document.getElementById(ID).style.display = "block"

        }
        else if (document.getElementById(ID).style.display == "block") {

            document.getElementById(ID).style.display = "none"
        }
    }

</script>


