﻿@model Vconnect.Models.BoDashboardModel
@using Vconnect.Models;
@{
   
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
  string title = "VConnect™ || MyBusiness";               
}

@section title{@title}
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
     <link href="~/Content/WEBthemes/base/jquery.ui.all.css" rel="stylesheet" />
    <script lang="javascript" type="text/javascript">
        @if (Model != null)
        {
            foreach (var item in Model._editbusinessProduct)
            {
                <Text> 
        
                </Text>
            }
        }
        //cannot be blank
        function checkfieldemptyornot() {

            var flag = true;
            if (document.getElementById('productname').value == "") {
                document.getElementById("Msgtxtproductname").innerHTML = 'cannot be blank.';
                document.getElementById('Msgtxtproductname').style.color = 'red';
                flag = false;
            }

           

            return flag;
        }
    </script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#submit").click(function (e) {
            // alert("P");

            //$('#File1').change();
            //this.files[0].size gets the size of your file.
            var objurlPhoto = document.getElementById('uplPhoto');
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', ''];
            if ($.inArray($("#uplPhoto").val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                var objTxtResult;
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult = document.getElementById('compLogo');
                objTxtResult.innerHTML = 'Product image .jpeg,.jpg, .png, .gif, .bmp formats are allowed.';
                objurlPhoto.focus();


            }

            if ($("#uplPhoto")[0].files[0].size >= 5242880) {
                //   debugger;
                // alert("File size is not more than 5 MB");
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult = document.getElementById('compLogo');
                objTxtResult.innerHTML = 'File size is not more than 5 MB';
                objTxtResult.focus();
                objurlPhoto.focus();
                // document.getElementById('compLogo').focus();



            }


        });
    });
</script>
     <div style="width: 999PX;margin: 0 auto;position: relative;">

        <div id="bo-db-container">
            <!-- ============================== Left Container -->
            <div id="bo-db-container-left">
                @Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)
            </div>
            <!-- ============================== Center Container -->
            <div id="bo-db-container-mid">
                <div class="bo-db-header-area">
                    @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")
                </div>
                <!-- ============================= All Form and submenu Holder -->

                <div class="hori-tabs-holder">
                    <ul>
                        <li><a href='/BoDashboardWeb/Index?BID=@Model.BusinessID&bname=@Model.BusinessName'>Basic Details</a> </li>
                            <li><a href='/BoDashboardWeb/GetContactDetails?BID=@Model.BusinessID&bname=@Model.BusinessName'>Contact Details </a></li>
                            <li class="hori-tabs-holder-selected">Products</li>
                            <li><a href='/BoDashboardWeb/GetBuisnessServicesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Services </a></li>
                            <li><a href='/BoDashboardWeb/BuisnessImagesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Images</a></li>
                            @*<li><a href='/BoDashboardWeb/GetVedioGalary?BID=@Model.BusinessID&bname=@Model.BusinessName'>Videos </a></li>*@
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="TabbedPanelsContent">
                    <!-- ------------------------ Product -->
                    <!-- =================================== Completeness Bar -->
                    <div id="showl" visible="false">
                        <div style="display: none">
                            <div class="completeness-bar-left">
                                <input aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" name="ctl00$cphMiddleContainer$txtproductsearch" id="ctl00_cphMiddleContainer_txtproductsearch" class="ProductnameSearch ui-autocomplete-input" type="text">
                                <a id="ctl00_cphMiddleContainer_btnsearc" class="bo-db-serch-bt" href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnsearc','')">Go</a>
                            </div>
                        </div>
                        <div class="db-bo-add-product">
                        </div>
                    </div>
                    <div id="showAddl" visible="True">
                        <div class="db-bo-add-product">
                            @*<a id="ctl00_cphMiddleContainer_btnseeproduct" class="db-bo-add-product" href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnseeproduct','')">See Product List</a>*@
                            <a href="@Url.Action("BuisnessProductsList", "BoDashboardWeb")" >See Product List</a>
                        </div>
                    </div>
                    <div class="completeness-bar-holder">
                        @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                        <div class="clear">
                        </div>
                    </div>
                    <div class="clear">
                        &nbsp;
                    </div>
                    <!-- =================================== Product Addition  -->

                    @using (Html.BeginForm("EditProducts", "BoDashboardWeb", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                       
                        @Html.ValidationSummary(true)
                         <input id="bid" type="hidden" value="@Model.BusinessID" name="bid"/>
                        <input id="bname" type="hidden" value="@Model.BusinessName" name="bname"/>
                        <div class="db-bo-form-holder">

                            <div class="clear">
                            </div>
                            @if (@ViewBag.message != null)
                            {
                             <p id="pError1" class="bo-MsgGreen">
                                    @ViewBag.message
                                </p>
                                <div class="clear">
                                </div>
                            }
                             @if (@ViewBag.messageE != null )
                             {
                                <p id="pError" class="bo-MsgRed">
                                   @ViewBag.messageE
                                </p>
                                <div class="clear">
                                </div>
                               
                             }
                            <div id="ctl00_cphMiddleContainer_divtextboxes">
                                <div id="ctl00_cphMiddleContainer_pnlSubmit" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_cphMiddleContainer_btnAddNewOtherContacts')">
                                </div>
                                @Html.HiddenFor(model => model._editbusinessProduct.FirstOrDefault().contentid)
                                @Html.HiddenFor(model => model._editbusinessProduct.FirstOrDefault().businessid)

                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Product Name<span class="mandatory">*</span>
                                    </div>

                                    <div class="db-bo-form-table-row-right">
                                        <span class="rspanmsgs">
                                            @Html.TextBoxFor(model => model._editbusinessProduct.FirstOrDefault().productname, new { @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model._editbusinessProduct.FirstOrDefault().productname)<br>
                                            <span id="ctl00_cphMiddleContainer_reqProductName" style="color: Red; display: none;">Field cannot be left blank.</span>
                                        </span>
                                    </div>
                                    <div class="Msgavailablebusiness" id="Msgtxtproductname" style="color: Red"></div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Product Detail
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        @Html.TextBoxFor(model => model._editbusinessProduct.FirstOrDefault().details, new { @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model._editbusinessProduct.FirstOrDefault().details)
                                        <br>
                                    </div>
                                    <div class="Msgavailablebusiness" id="Msgtxtdetails" style="color: Red"></div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Product Model
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        @Html.TextBoxFor(model => model._editbusinessProduct.FirstOrDefault().modal, new { @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model._editbusinessProduct.FirstOrDefault().modal)
                                        <br>
                                    </div>
                                    <div class="Msgavailablebusiness" id="Msgtxtmodal" style="color: Red"></div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Brand
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                          
                                        @Html.TextBoxFor(model => model._editbusinessProduct.FirstOrDefault().brandname, new { @class = "widetxt", data_otf_autocomplete = Url.Action("KeywordAutoCompleteB", "BoDashboardWeb")})
                                        @Html.ValidationMessageFor(model => model._editbusinessProduct.FirstOrDefault().brandname)
                                        <br>
                                    </div>
                                    <div class="Msgavailablebusiness" id="MsgtxtcategorynameBrand" style="color: Red"></div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Price ₦
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        @Html.TextBoxFor(model => model._editbusinessProduct.FirstOrDefault().price, new { @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model._editbusinessProduct.FirstOrDefault().price)
                                        <br>
                                        <div class="Msgavailablebusiness" id="Msgtxtprice" style="color: Red"></div>
                                        <span class="rspanmsgs"><span style="display: none;" class="Msgcontallvalid" id="Span5"></span>
                                            <br>
                                            <span id="ctl00_cphMiddleContainer_regProductPrice" title="It must consist of 2-10 numeric characters" style="color: Red; display: none;">It must consist of 2-10 
                                                                numeric characters</span>
                                        </span>
                                    </div>

                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Product Image
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        <input name="uplPhoto" id="uplPhoto" type="file">
                                        <span style="color: Red; display: none;" id="compLogo">Field cannot be left blank.</span>
                                        <span class="com_error">NOTE: only max 5MB, .gif, .jpg, .png, .jpeg allowed.</span>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        &nbsp;
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        <div class="db-bo-form-product-1row-prod">
                                            <div class="db-bo-form-product-1row-prod-img">
                                                <img id="ctl00_cphMiddleContainer_imgProduct" src="http://image.vconnect.bz/vcsites/vcimages/resource/@Model._editbusinessProduct.FirstOrDefault().image" style="border-width: 0px; border-bottom-width:1px;" />
                                            </div>
                                        </div>
                                        <div class="db-bo-form-product-1row-prod-text">
                                            <br>
                                            (Image is subject to approval by our executives)
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        &nbsp;
                                    </div>
                                    <div class="db-bo-form-table-row-right">

                                        <div id="ctl00_cphMiddleContainer_spanAddButton" style="float: left; margin-right: 5px;">
                                            @*<a id="ctl00_cphMiddleContainer_btnAddNewOtherContacts" class="db-bo-form-submit-bt" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphMiddleContainer$btnAddNewOtherContacts&quot;, &quot;&quot;, true, &quot;vgProducts&quot;, &quot;&quot;, false, true))" style="margin-left: 115px;">Submit</a>
                                       *@
                                            <input class="db-bo-form-submit-bt" id="submit" type="submit" value="Submit" onclick="javascript: return checkfieldemptyornot()"  />
                                        </div>
                                       
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <!-- ============================== Right Container -->
            <div id="bo-db-container-right">


                @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")
                
       
            </div>
            <div class="clear">
            </div>
        </div>
    </div>

       <script >

           var createAutoComplete = function () {

               var $input = $(this);
               var options = {
                   source: function (request, response) {
                       $.ajax({
                           url: $input.attr("data-otf-autocomplete"),
                           dataType: "json",
                           data: {

                               term: request.term
                           },
                           focus: function (event, ui) {
                               event.preventDefault();
                               $input.val(ui.item.label);
                           },
                           success: function (data) {
                               response($.map(data, function (item) {
                                   return {
                                       label: item.label,
                                       value: item.label
                                   }
                               }));
                           }
                       });
                   },
                   minLength: 2,
                   delay: 0,
                   select: function (event, ui) {
                       $input.val(ui.item.label);

                   }
               }
               $input.autocomplete(options);
           }
           $("input[data-otf-autocomplete]").each(createAutoComplete);
    </script>
