﻿@model Vconnect.Models.BoDashboardModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
                      
string title = "VConnect™ || MyBusiness";
}

@section title{@title}

     <div style="width: 999PX;margin: 0 auto;position: relative;">

      <div id="bo-db-container">
        <!-- ============================== Left Container -->
        <div id="bo-db-container-left">
              @Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)
        </div>
        <!-- ============================== Center Container -->
        <div id="bo-db-container-mid">
            <div class="bo-db-header-area">
                  @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")
            </div>
            <!-- ============================= All Form and submenu Holder -->
            <div class="TabbedPanelsContentGroup">
                <div class="hori-tabs-holder">
                    <ul>
                            <li><a href='/BoDashboardWeb/Index?BID=@Model.BusinessID&bname=@Model.BusinessName'>Basic Details</a></li>
                            <li><a href='/BoDashboardWeb/GetContactDetails?BID=@Model.BusinessID&bname=@Model.BusinessName'>Contact Details </a></li>
                            <li><a href='/BoDashboardWeb/BuisnessProductsList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Products </a></li>
                            <li class="hori-tabs-holder-selected">Services</li>
                            <li><a href='/BoDashboardWeb/BuisnessImagesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Images</a></li>
                            @*<li><a href='/BoDashboardWeb/GetVedioGalary?BID=@Model.BusinessID&bname=@Model.BusinessName'>Videos </a></li>*@
                        </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="TabbedPanelsContent">
                    <!-- ------------------------ Product -->
                    <!-- =================================== Completeness Bar -->
                    <div visible="false" id="showl">
                        <div style="display: none">
                            <div class="completeness-bar-left">
                                <input type="text" class="ProductnameSearch ui-autocomplete-input" id="ctl00_cphMiddleContainer_txtproductsearch" name="ctl00$cphMiddleContainer$txtproductsearch" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                <a href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnsearc','')" class="bo-db-serch-bt" id="ctl00_cphMiddleContainer_btnsearc">Go</a>
                            </div>
                        </div>
                        <div class="db-bo-add-product">
                            @*<a href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnaddnewproduct','')" class="db-bo-add-product" id="ctl00_cphMiddleContainer_btnaddnewproduct">Add New Product</a>*@
                            <a href="@Url.Action("BuisnessServicesAdd", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })" >Add New Service</a>

                        </div>
                    </div>
                    <div visible="True" id="showAddl">
                        <div class="db-bo-add-product">
                            
                        </div>
                    </div>
                    <div class="completeness-bar-holder">
                       @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                        <div class="clear">
                        </div>
                    </div>
                    <div class="clear">
                        &nbsp;</div>
                    <!-- =================================== Product List  -->
                    <div class="db-bo-form-holder">
                       @* <div id="ctl00_cphMiddleContainer_DVmsgproduct">
                           @if (@ViewBag.message != null)
                           {
                             <p id="pError1" class="bo-MsgGreen">
                                    @ViewBag.message
                                </p>
                                <div class="clear">
                                </div>
                           }
                             @if (@ViewBag.messageE != null )
                             {
                                <p id="pError" class="bo-MsgRed">
                                   @ViewBag.messageE
                                </p>
                                <div class="clear">
                                </div>
                               
                             }
                        </div>*@
                         @if (@TempData["alertMsg"] != null)
                              {
                                    <p id="pError2" class="bo-MsgRed">
                                        @TempData["alertMsg"]
                                        
                                    </p>
                                    <div class="clear">
                                    </div>
                              }

                         
                             @if (@TempData["alertMsg1"] != null)
                             {
                             <p  class="bo-MsgGreen">
                                   @TempData["alertMsg1"]
                                </p>
                                <div class="clear">
                                </div>
                             }
                        <div class="clear">
                        </div>
                        <div style="margin: 0 auto;" id="ctl00_cphMiddleContainer_divLabels">
                            
                             @foreach (var item in Model._GetAllServices)
                             {
                                 if (!string.IsNullOrEmpty(@item.image))
                                 {
                                        <div class="db-bo-form-product-1row">
                                        <div class="db-bo-form-product-1row-text">
                                            <div class="db-bo-form-product-1row-prod">
                                                <div class="db-bo-form-product-1row-prod-img">
                                                    <img alt="@item.servicename" src='http://image.vconnect.bz/vcsites/vcimages/resource/@item.image' />
                                                </div>
                                            </div>
                                            <div class="db-bo-form-product-1row-prod-text">
                                                <strong>Service Name:</strong>
                                                @item.servicename<br />

                                                <strong>Description:</strong>
                                                @item.details
                                                <br />
                                                <strong>Price</strong>
                                                @item.pricerange

                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                        <div class="db-bo-form-product-1row-img">
                                            <a href="@Url.Action("EditServices", "BoDashboardWeb", new { cid = @item.contentid, bid = @item.businessid, bname = @item.businessname })">Edit</a>
                                            |
                                              <a href="@Url.Action("DeleteServices", "BoDashboardWeb", new { cid = @item.contentid, bid = @item.businessid, bname = @item.businessname })">Delete</a>
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                 }
                                 else
                                 {
                                 <div class="db-bo-form-product-1row">
                                        <div class="db-bo-form-product-1row-text">
                                            @item.servicename</div>
                                        <div class="db-bo-form-product-1row-img">
                                           <a href="@Url.Action("EditServices", "BoDashboardWeb", new { cid = @item.contentid, bid = @item.businessid, bname = @item.businessname })">Edit</a>
                                            |
                                              <a href="@Url.Action("DeleteServices", "BoDashboardWeb", new { cid = @item.contentid, bid = @item.businessid, bname = @item.businessname })">Delete</a>
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                 }
                             }
                        </div>
                        
                    </div>
                  </div>
                </div>
             </div>
      </div>
                                
        <!-- ============================== Right Container -->
        <div id="bo-db-container-right">
            
            
                       @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")
                
        </div>
        <div class="clear">
        </div>
    </div>  
    

     <script type="text/javascript">
             function ConfirmDelete() {
             return confirm("Do you want to delete?");
         }
    </script>

