﻿@model Vconnect.Models.BoDashboardModel

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    Vconnect.Common.UserSession objUS = new Vconnect.Common.UserSession();
    string title = "VConnect™ || MyBusiness";
}

@section title{@title}

<link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>


<div style="width: 999PX; margin: 0 auto; position: relative;">
    <div id="bo-db-container">

        <!-- ============================== Left Container -->
        <div id="bo-db-container-left">
            @Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)
        </div>
        <!-- ============================== Center Container -->
        <div id="bo-db-container-mid">
            <div class="bo-db-header-area">
                @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")
            </div>
            <!-- ============================= All Form and submenu Holder -->
            <div class="TabbedPanelsContentGroup">
                <div class="hori-tabs-holder">
                    <ul>
                        <li><a href='/BoDashboardWeb/Index?BID=@Model.BusinessID&bname=@Model.BusinessName'>Basic Details </a> </li>
                        <li><a href='/BoDashboardWeb/GetContactDetails?BID=@Model.BusinessID&bname=@Model.BusinessName'>Contact Details </a></li>
                        <li><a href='/BoDashboardWeb/BuisnessProductsList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Products </a></li>
                        <li><a href='/BoDashboardWeb/GetBuisnessServicesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Services </a></li>
                        <li><a href='/BoDashboardWeb/BuisnessImagesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Images</a></li>
                        <li class="hori-tabs-holder-selected">Videos</li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="TabbedPanelsContent">
                    <!-- ------------------------ Videos -->
                    <!-- =================================== Completeness Bar -->
                    <div id="ctl00_cphMiddleContainer_dvshowvideolistbtn" class="db-bo-add-product">
                        <a id="ctl00_cphMiddleContainer_lnkshowvideolist" href='@Url.Action("GetVedioGalary", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })'>See All Videos</a>
                    </div>
                    <div id="ctl00_cphMiddleContainer_showaddbutton" class="db-bo-add-product">
                        <a id="ctl00_cphMiddleContainer_lnkaddbutton" href='@Url.Action("BuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })'>Upload Video</a>
                    </div>
                    <div class="completeness-bar-holder">
                        @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                        <div class="clear">
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <!-- ============================= Video Form Holder -->
                    <div class="db-bo-form-holder">
                        <div id="ctl00_cphMiddleContainer_dvvideomsg">
                        </div>
                        <div class="clear">
                        </div>

                        <div id="ctl00_cphMiddleContainer_Showvideolist">
                            <div class="total-imges-cont" id="ctl00_cphMiddleContainer_dvvideocount">Total Videos- @Model._getVediogalary.Count</div>

                            <div class="clear">
                            </div>
                            <div class="db-bo-video-list">
                                <div style="height: auto" class="db-bo-video-list-l">
                                    <div class="bo-db-vedio-icon" id="ctl00_cphMiddleContainer_dvuserimage">
                                        @if (!string.IsNullOrEmpty(objUS.SV_VCUserPhoto))
                                        {
                                            <img style="height: 55px; width: 55px; border-width: 0px;" src="@objUS.SV_VCUserPhoto" alt="user picture" />
                                        }
                                        else
                                        {
                                            <img style="height: 55px; width: 55px; border-width: 0px;" src="http://image.vconnect.bz/vcsites/vcimages/resource/images/list_noimg.jpg" alt="user picture" />
                                        }
                                    </div>
                                    <h1>Video added by</h1>
                                    <div id="ctl00_cphMiddleContainer_videousername"> @Model.contactname</div>
                                    <div class="clear">
                                    </div>
                                    <div class="db-bo-vedio-list-text" id="ctl00_cphMiddleContainer_videotitle">@Model.VideoTitle</div>

                                    <div class="db-bo-vedio-list-uploaded" id="ctl00_cphMiddleContainer_uploaddate">Uploaded @Model.vcreateddate</div>
                                </div>

                                <div style="height: auto" class="db-bo-video-list-r" id="ctl00_cphMiddleContainer_videoplayerlarge">

                                    @Html.Raw(@Model.videocode)
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="bo-db-vedio-list-tumb-holder">
                                @if (Model != null)
                                {
                                    foreach (var item in Model._getVediogalary)
                                    {
                                        <div class="bo-db-vedio-tumb">
                                            <div class="vc_clear">
                                            </div>
                                            <div class="video-thumb-play">
                                                <a href="@Url.Action("GetVedioGalary","BoDashboardWeb",new{bid=@Model.BusinessID,bname=@Model.BusinessName,videoid=@item.VideoId })">
                                                    <img src="http://image.vconnect.bz/static/WEB/BOdashboard/icons/play-button.png" title="Click to Play Video" width="40px" height="30px" />
                                                </a>
                                            </div>

                                            <div class="bo-db-vedio-tumb">

                                                <img src='@item.imageurl' alt="play" />


                                            </div>
                                            <div class="vc_clear">
                                            </div>
                                            @item.VideoTitle
                                        </div>

                                    }
                                }

                                <div class="clear">
                                </div>

                                <div class="clear">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================== Right Container -->
        <div id="bo-db-container-right">


            @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")


        </div>
        <div class="clear">
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggle() {
        var ele = document.getElementById("ShowEmb");
        var ele1 = document.getElementById("showhelp");

        var text = document.getElementById("displayText");
        if (ele.style.display == "block") {
            ele.style.display = "none";
            ele1.style.display = "none";
            text.innerHTML = "What is an embed code ?";
        }
        else {
            ele.style.display = "block";
            ele1.style.display = "none";
            text.innerHTML = "What is an embed code ?";
        }
    }
    function help() {
        var ele = document.getElementById("ShowEmb");
        var ele1 = document.getElementById("showhelp");

        // var text = document.getElementById("displayText");
        if (ele1.style.display == "block") {
            ele1.style.display = "none";
            ele.style.display = "none";
            //text.innerHTML = "What is embed code ?";
        }
        else {
            ele1.style.display = "block";
            ele.style.display = "none";
            // text.innerHTML = "What is embed code ?";
        }
    }
</script>

<script type="text/javascript">
    function toggleseemore() {
        var ele = document.getElementById("dvseemore");
        var text = document.getElementById("aseemore");
        if (ele.style.display == "block") {
            ele.style.display = "none";
            text.innerHTML = "See More..";
        }
        else {
            ele.style.display = "block";
            text.innerHTML = "";
        }
    }
</script>


<script type="text/javascript">

    function validateData() {
        //alert("asd");
        // debugger;
        var Videocode = document.getElementById('VideoDescription');

        var objTxtResult = document.getElementById('pError');
        if (Videocode.value.trim() == "") {
            document.getElementById('pError').style.color = "red";
            objTxtResult.innerHTML = 'Please Provide Video Info';
            return false;
        }


    }

    function VideoRequest() {
        $.ajax({
            cache: false,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '/BoDashBoardWeb/Videorequest',
            data: { BusinessId: '@Model.BusinessID' },
            dataType: "json",
            success: function (result) {
                var objTxtResult = document.getElementById('pReqVid');
                if (result == "0") {
                    document.getElementById('pReqVid').style.color = "Green";
                    objTxtResult.innerHTML = 'Your request has been forwarded to our team. We will contact you soon';
                }
                else if (result == "2") {
                    document.getElementById('pReqVid').style.color = "red";
                    objTxtResult.innerHTML = 'You have already requested. We will contact you soon';
                }
                else {
                    document.getElementById('pReqVid').style.color = "red";
                    objTxtResult.innerHTML = 'Please Try Again.';
                }
                debugger;
                pReqVid
            }
        })
    }

    function checkimages(images) {

        var iframe = document.getElementById('imap');
        iframe.src = images;

    }



</script>


