﻿@model Vconnect.Models.BoDashboardModel
@using Vconnect.Models;
@{
    
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    string title = "VConnect™ || MyBusiness";               
}

@section title{@title}
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
     <link href="~/Content/WEBthemes/base/jquery.ui.all.css" rel="stylesheet" />
    <script lang="javascript" type="text/javascript">
        //cannot be blank
       // debugger;
        function checkfield() {

            var flag = true;
            if (document.getElementById('businessProduct_productname').value == "") {
                document.getElementById("pname").style.display = "block";
                document.getElementById("pname").innerHTML = 'Product Name cannot be blank.';
                document.getElementById('pname').style.color = 'red';
                flag = false;
            }
            else {
                document.getElementById("pname").style.display = "none";
            }
            return flag;
        }
    
    </script>
  <script type="text/javascript">

    $(document).ready(function () {
        $("#submit").click(function (e) {
            // alert("P");

            //$('#File1').change();
            //this.files[0].size gets the size of your file.
            var objurlPhoto = document.getElementById('uplPhoto');
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', ''];
            if ($.inArray($("#uplPhoto").val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                var objTxtResult;
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult =document.getElementById('compLogo');
                objTxtResult.innerHTML = 'Product image .jpeg,.jpg, .png, .gif, .bmp formats are allowed.';
                objurlPhoto.focus();


            }

            if ($("#uplPhoto")[0].files[0].size >= 5242880) {
                //   debugger;
                // alert("File size is not more than 5 MB");
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult =document.getElementById('compLogo');
                objTxtResult.innerHTML = 'File size is not more than 5 MB';
                objTxtResult.focus();
                objurlPhoto.focus();
                // document.getElementById('compLogo').focus();



            }


        });
    });
</script>

      <div style="width: 999PX;margin: 0 auto;position: relative;">

        <div id="bo-db-container">
            <!-- ============================== Left Container -->
            <div id="bo-db-container-left">
                @Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)
            </div>
            <!-- ============================== Center Container -->
            <div id="bo-db-container-mid">
                <div class="bo-db-header-area">
                    @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")
                </div>
                <!-- ============================= All Form and submenu Holder -->

                <div class="hori-tabs-holder">
                    <ul>
                            <li><a href='/BoDashboardWeb/Index?BID=@Model.BusinessID&bname=@Model.BusinessName'>Basic Details</a> </li>
                            <li><a href='/BoDashboardWeb/GetContactDetails?BID=@Model.BusinessID&bname=@Model.BusinessName'>Contact Details </a></li>
                            <li class="hori-tabs-holder-selected">Products</li>
                            <li><a href='/BoDashboardWeb/GetBuisnessServicesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Services </a></li>
                            <li><a href='/BoDashboardWeb/BuisnessImagesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Images</a></li>
                            @*<li><a href='/BoDashboardWeb/GetVedioGalary?BID=@Model.BusinessID&bname=@Model.BusinessName'>Videos </a></li>*@
                        </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="TabbedPanelsContent">
                    <!-- ------------------------ Product -->
                    <!-- =================================== Completeness Bar -->
                    <div id="showl" visible="false">
                        <div style="display: none">
                            <div class="completeness-bar-left">
                                <input aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" name="ctl00$cphMiddleContainer$txtproductsearch" id="ctl00_cphMiddleContainer_txtproductsearch" class="ProductnameSearch ui-autocomplete-input" type="text">
                                <a id="ctl00_cphMiddleContainer_btnsearc" class="bo-db-serch-bt" href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnsearc','')">Go</a>
                            </div>
                        </div>
                        <div class="db-bo-add-product">
                        </div>
                    </div>
                    <div id="showAddl" >
                        <div class="db-bo-add-product">
                            @*<a id="ctl00_cphMiddleContainer_btnseeproduct" class="db-bo-add-product" href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnseeproduct','')">See Product List</a>*@
                            <a href="@Url.Action("BuisnessProductsList", "BoDashboardWeb")" >See Product List</a>
                        </div>
                    </div>
                    <div class="completeness-bar-holder">
                        @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                        <div class="clear">
                        </div>
                    </div>
                    <div class="clear">
                        &nbsp;
                    </div>
                    <!-- =================================== Product Addition  -->

                    @using (Html.BeginForm("AddBuisnessProducts", "BoDashboardWeb", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                       <input id="bid" type="hidden" value="@Model.BusinessID" name="bid"/>
                       <input id="bname" type="hidden" value="@Model.BusinessName" name="bname"/>
                        @Html.ValidationSummary(true)
                        <div class="db-bo-form-holder">

                            <div class="clear">
                            </div>
                            @if (@TempData["alertMsg"] != null)
                            {
                                    <p id="pError2" class="bo-MsgRed">
                                        @TempData["alertMsg"]
                                        
                                    </p>
                                    <div class="clear">
                                    </div>
                            }

                         
                             @if (@TempData["alertMsg1"] != null)
                             {
                             <p  class="bo-MsgGreen">
                                   @TempData["alertMsg1"]
                                </p>
                                <div class="clear">
                                </div>
                             }
                            
                            <div id="ctl00_cphMiddleContainer_divtextboxes">
                                <div id="ctl00_cphMiddleContainer_pnlSubmit" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_cphMiddleContainer_btnAddNewOtherContacts')">
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Product Name<span class="mandatory">*</span>
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        
                                            @Html.TextBoxFor(model => model.businessProduct.productname, new { @class = "widetxt", data_otf_autocomplete = Url.Action("KeywordAutoComplete", "BoDashboardWeb") })
                                             
                                            @Html.ValidationMessageFor(model => model.businessProduct.productname)
                                    <br />        
                                    <span style="color: Red; display: none; font-family:Arial; font-size:12px;" id="pname">Field cannot be left blank.</span>
                                    </div>
                                      <div class="clear">
                                        </div>
                                    
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Product Detail
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        @Html.TextBoxFor(model => model.businessProduct.details, new { @class = "widetxt", autocomplete = "off" })
                                       <br />
                                    </div>
                                  
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Product Model
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        @Html.TextBoxFor(model => model.businessProduct.modal, new { @class = "widetxt", autocomplete = "off" })
                                       <br />
                                    </div>
                                    @*<div class="Msgavailablebusiness" id="Msgtxtmodal" style="color: Red"></div>*@
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Brand
                                    </div>
                                    <div class="db-bo-form-table-row-right">

                                        @Html.TextBoxFor(model => model.businessProduct.categoryname, new { @class = "widetxt", data_otf_autocomplete = Url.Action("KeywordAutoCompleteB", "BoDashboardWeb") })
                                        @Html.ValidationMessageFor(model => model.businessProduct.categoryname)
                                        <br />
                                    </div>
                                    @*<div class="Msgavailablebusiness" id="Msgtxtcategoryname" style="color: Red"></div>*@
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Price ₦
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        @Html.TextBoxFor(model => model.businessProduct.price, new { @class = "widetxt", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.businessProduct.price)
                                        <br />
                                       
                                    </div>

                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Product Image
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                         <input name="uplPhoto" id="uplPhoto" type="file">
                                        <span id="Span2" class="Msgcontallvalid" style="display: none;"></span><br />
                                       <span style="color: Red; display: none;" id="compLogo">Field cannot be left blank.</span>
                                        <span class="com_error">NOTE: only max 5MB, .gif, .jpg, .png, .jpeg allowed.</span>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        &nbsp;
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        <div class="db-bo-form-product-1row-prod">
                                            <div>
                                                <img id="ctl00_cphMiddleContainer_imgProduct" src='http://image.vconnect.bz/vcsites/vcimages/resource/images/noImageAvailable.jpg' alt="Product Image" style="border-width: 0px; border-bottom-width:1px;" />
                                                <br />
                                            </div>
                                            <br />
                                        </div>
                                        <div class="db-bo-form-product-1row-prod-text">
                                            <br>
                                            (Image is subject to approval by our executives)
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        &nbsp;
                                    </div>
                                    <div class="db-bo-form-table-row-right">

                                        <div id="ctl00_cphMiddleContainer_spanAddButton" style="float: left; margin-right: 5px;">
                                           
                                            <input class="db-bo-form-submit-bt" type="submit" id="submit" value="Submit" onclick="javascript: return checkfield()"  />
                                        </div>
                                        @*<div style="float: left;">
                                            <a id="ctl00_cphMiddleContainer_btnBackToProfile" class="db-bo-form-submit-bt" href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnBackToProfile','')">Cancel</a>
                                        </div>*@
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <!-- ============================== Right Container -->
            <div id="bo-db-container-right">


                @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")
                
       
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <script >

        var createAutoComplete = function () {
            
            var $input = $(this);
            var options = {
                source: function (request, response) {
                    $.ajax({
                        url: $input.attr("data-otf-autocomplete"),
                        dataType: "json",
                        data: {

                            term: request.term
                        },
                        focus: function (event, ui) {
                            event.preventDefault();
                            $input.val(ui.item.label);
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,
                                    value: item.label
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                delay: 0,
                select: function (event, ui) {
                    $input.val(ui.item.label);

                }
            }
            $input.autocomplete(options);
        }
        $("input[data-otf-autocomplete]").each(createAutoComplete); 
    </script>
