﻿@model Vconnect.Models.BoDashboardModel
@{
    
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";

string title = "VConnect™ || MyBusiness";
}

@section title{@title}

<link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />
<style>
    .ratings {
        display: block;
    }
</style>

<div style="width: 999PX; margin: 0 auto; position: relative;">

    <div id="bo-db-container">

        <!-- ============================== Left Container -->
        <div id="bo-db-container-left">
            @*@Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)*@
            <link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />
            <div id="ctl00_cphMiddleContainer_divprofileimage" class="bo-profile-img-area">
                @if (Model.ProfileImage != "0")
                {
                    <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.ProfileImage' alt="Profile Image" style="border-width: 0px;" />
                }
                else if (Model.ProfileImage == "0" && Model.CompanyLogo != "0")
                {
                    <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.CompanyLogo' alt="Profile Image" style="border-width: 0px;" />
                }
                else if (Model.ProfileImage == "0" && Model.CompanyLogo == "0")
                {
                    <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/images/noImageAvailable.jpg' alt="Profile Image" style="border-width: 0px;" />
                }

            </div>

            <div id="bo-db-left-tabs" class="ddsmoothmenu">
                <ul id="nav">
                    <li>
                        <a id="aprofile" href='/BoDashboardWeb/Index/' >
                            <img src="../../images/Bodashboard/icons/business-profile.png" />Business Profile
                        </a>
                    </li>
                    <li>
                        <a id="areview" href='/BoDashboardWeb/BusinessReviews/' class='bo-db-left-tabs-activ'>
                            <img src="../../images/Bodashboard/icons/reviews.png" />Reviews
                        </a>
                    </li>
                    @*<li style=" display:none ">
                        <a href="http://vconnectors.vconnect.com/send.aspx?atab=BulkSMS">
                            <img src="../../images/Bodashboard/icons/target-sms.png" />Targeted SMS
                        </a>
                    </li>*@

                    @if (Model.membership != "1")
                    {
                        <li id="ctl00_cphMiddleContainer_lisubs">
                            <a href='/BoDashboardWeb/BusinessSubscription/'>
                                <img src="../../images/Bodashboard/icons/my-subscription.png" />
                                My Subscription
                            </a>
                        </li> }

                    <li>
                        <a href='/BoDashboardWeb/BusinessUserActivity/'>
                            <img src="../../images/Bodashboard/icons/user-activity.png" />User Activities
                        </a>
                    </li>
                    <li style=" display:none ">
                        <a href="http://vconnectors.vconnect.com/send.aspx?atab=Addressbook">
                            <img src="../../images/Bodashboard/icons/my-contact.png" />My Contacts
                        </a>
                    </li>

                </ul>
            </div>
            <div class="bo-db-left-saddow">
            </div>

        </div>
        <!-- ============================== Center Container -->
        <div id="bo-db-container-mid">
            <div class="bo-db-header-area">
                @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")

            </div>
            <!-- ============================= All Form and submenu Holder -->
            <div class="db-bo-form-holder">
                @if (@Model.TotalRate != "0" && @Model.TotalRate != null)
                {
                    <div id="dvreviewchart" class="review-chart-holder">
                        <div class="user-ratings">
                            <div>
                                <div class="average-rating">
                                    Overall Ratings

                                </div>
                                <div id="Div1" class="votes">
                                    (<strong>@Model.TotalRate</strong>)

                                </div>
                                <div class="clear">
                                </div>
                                <div class="average-rating">
                                    <div class="average-rating-title">
                                        Avg. Rating

                                    </div>

                                    <div id="dvtotalrating" class="votes">
                                        <strong>@Model.Rate/5</strong>
                                    </div>
                                    <div class="average-rating-stars">
                                        <div class="ratings goog-inline-block">
                                            <div class="divstr" style="margin-top: -8px">
                                                @Html.Raw(Vconnect.Common.Utility.RateMe(Vconnect.Common.Utility.RateMe(Model.Rate)))

                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                                <div class="histogram-table" data-csstoken="user-reviews">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="histogram-msg top-row">
                                                    5 stars
                                                </td>
                                                <td id="tdbar1" class="top-row bar-cell"> @Html.Raw(Model.tdbar5)</td>

                                            </tr>
                                            <tr>
                                                <td class="middle-row histogram-msg">
                                                    4 stars
                                                </td>
                                                <td id="tdbar2" class="middle-row bar-cell"> @Html.Raw(Model.tdbar4)</td>

                                            </tr>
                                            <tr>
                                                <td class="middle-row histogram-msg">
                                                    3 stars
                                                </td>
                                                <td id="tdbar3" class="middle-row bar-cell"> @Html.Raw(Model.tdbar3)</td>

                                            </tr>
                                            <tr>
                                                <td class="middle-row histogram-msg">
                                                    2 stars
                                                </td>
                                                <td id="tdbar4" class="middle-row bar-cell"> @Html.Raw(Model.tdbar2)</td>

                                            </tr>
                                            <tr>
                                                <td class="bottom-row histogram-msg">
                                                    1 star&nbsp;
                                                </td>
                                                <td id="tdbar5" class="bottom-row bar-cell"> @Html.Raw(Model.tdbar1)</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
               
                <div id="lblAlertMsgBusinessReview">

                </div>
              @if( @Model.totalRv!="0" && @Model.totalRv !=null)
              {
                <div id="dvreviewcount" class="total-imges-cont"> @Model.totalRv</div>

              }
              else
                {
                 <p id="pError" class="bo-MsgRed">
                     There are no reviews for this business
                </p>
                }

                <div class="clear">
                </div>
                <div id="change-phone" class="report-problem-holder">
                    <p id="pErrorR" class="bo-MsgRed" style=" display:none ">
                        Please enter your issue.
                        <div class="clear">
                        </div>
                    </p>
                    <a href="" id="aFocus"></a>
                   
                    <div class="cross-bt-rd">
                        <a href="javascript:void(o)" onclick="document.getElementById('change-phone').style.display='none';document.getElementById('fade').style.display='none';document.getElementById('dvpaneladdedbyme').style.display='block'">
                            <img src="http://image.vconnect.bz/static/WEB/BOdashboard/cross_button.png" />
                        </a>
                    </div>
                    <div id="divPostReview" class="db-bo-form-holder">
                        <div id="pnllnkbtnSumit" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'lnkbtnSumit')">

                            <div id="dvreviewid" style="display: none">
                            </div>
                            <input name="hdn" id="hdn" type="hidden">
                            <div class="report-incorrect">
                                <h1>Review</h1>
                                <div id="txtreview" class="report-incorrect-text">
                                </div>
                                <div class="clear">
                                    &nbsp;
                                </div>
                                <div class="report-incorrect-issue">
                                    Issue<span class="mandatory">*</span>
                                </div>
                                <div class="report-incorrect-issue">
                                    <textarea name="Txteditor" rows="2" cols="20" id="Txteditor" class="report-incorrect-issue-textarea"></textarea>
                                    <div class="clear">
                                    </div>
                                    <span class="landin_msg">
                                        <span id="RequiredFieldValidator1" style="color: Red; display: none;">Field cannot be left blank.</span>
                                    </span>
                                </div>
                                <div class="report-incorrect-issue">
                                    <input name="lnkbtnSumit" value="Post Issue" id="lnkbtnSumit" data-business-id="@Model.BusinessID" class="db-bo-review-submit-bt" type="submit">
                                </div>
                                <div id="dvPopupPlzWait" style="display: none;">
                                    Please wait...
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="fade" class="black_overlay">
                </div>
                <div class="clear">
                </div>
                <div id="pnlallreview">

                    <div id="dvpaneladdedbyme" class="divLoadData">
                        @if (@TempData["Reviews"] != null && @TempData["Reviews"].ToString().Length > 0)
                        {
                            <p id="pError1">
                                @Html.Raw((String)TempData["Reviews"])
                            </p>
                            <div class="clear">
                            </div>
                        }



                    </div>
                    <div id="dvLoadMessage" class="dvLoadMessage"></div>
                    <div id="divPostsLoader" style="position: relative; left: 50%;">
                    </div>
                    <a href="javascript:void();" id="btnLoadData" style="display: none; padding: 10px; border: 1px solid #CAC9C9; text-align: center; background: #DFDFDF;">Show More Results</a>

                </div>

            </div>

        </div>
        <!-- ============================== Right Container -->
        <div id="bo-db-container-right">

            @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")

        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div id="getReviews">&nbsp;</div>
@Html.Hidden("hid_PageNum")
@Html.Hidden("hid_ReviewRecordsEnded")
@Html.HiddenFor(m => m.BusinessID)



<script type="text/javascript">
    //TO Expand collapse the left menu div
    function divexpandcollapse(ID) {
        //  debugger;
        if (document.getElementById(ID).style.display == "none") {
            document.getElementById(ID).style.display = "block"

        }
        else if (document.getElementById(ID).style.display == "block") {

            document.getElementById(ID).style.display = "none"
        }
    }

    //lastPostFunc();


    $(document).ready(function () {
        document.getElementById("hid_ReviewRecordsEnded").value = "0";
        document.getElementById("hid_PageNum").value = "1";

        function lastPostFunc() {
            $('#divPostsLoader').html('Loading..');
            //$('#divPostsLoader').html('<img src="<%=webconfigWebsiteRootPath.ToString()%>Resource/images/bigLoader.gif">');


            //send a query to server side to present new content
            $.ajax({
                type: "POST",
                // url: "<%=webconfigWebsiteRootPath.ToString()%>" + "Pages/business/bodashboard/businessreviews.aspx/Data",
                url: "/BoDashboardWeb/Data",
                data: "{pge:'" + document.getElementById('hid_PageNum').value + "',rowsPerPage:'5',BusinessId:'" + document.getElementById('BusinessID').value + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != "") {
                        document.getElementById('dvpaneladdedbyme').innerHTML = document.getElementById('dvpaneladdedbyme').innerHTML + data;
                        //$('.divLoadData').innerHTML = $('.divLoadData').innerHTML + data;
                        //$('.divLoadData:last').after(data);
                    }
                    else {

                        document.getElementById('btnLoadData').style.display = 'none';
                        document.getElementById('dvLoadMessage').innerHTML = '<div class=review-list-holder><div class=review-detail-holder style="width:100%;margin:0;padding:0;"><div class=review-star-holder></div><div class=review-more-holder><div class=review-problem-link></div><div  style="display: none" id="divReportProblem_0"></div></div></div><div class=clear></div></div><div id=divShowEmb_0 style="display: none"></div><div id=divReviewid_0 runat=server style="display: none"></div><div class=clear></div>';
                        document.getElementById('hid_ReviewRecordsEnded').value = '1';
                    }
                    $('#divPostsLoader').empty();
                }

            })
        };

        //When scroll down, the scroller is at the bottom with the function below and fire the lastPostFunc function
        $(window).scroll(function () {
            //if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            // document.getElementById('getRV').innerHTML=$(window).scrollTop() + $(window).height()+"-"+(parseInt( $('#getReviews').offset().top) + 1000);
            // document.getElementById('getReviews').innerHTML=$(window).scrollTop() + $(window).height()+"-"+(parseInt( $('#getReviews').offset().top) + 1000);

            if ($(window).scrollTop() + $(window).height() > (parseInt($('#getReviews').offset().top))) {
                if (document.getElementById('hid_ReviewRecordsEnded').value == '0') {
                    if ((parseInt(document.getElementById('hid_PageNum').value)) <= parseInt("1")) {
                        document.getElementById('hid_PageNum').value = parseInt(document.getElementById('hid_PageNum').value) + 1;
                        lastPostFunc();
                    }
                    else { document.getElementById('btnLoadData').style.display = 'block'; }
                }
            }
        });

        $('#btnLoadData').click(function () {
            if (document.getElementById('hid_ReviewRecordsEnded').value == '0') {
                document.getElementById('hid_PageNum').value = parseInt(document.getElementById('hid_PageNum').value) + 1;
                lastPostFunc();
            }
        });
    });
    function showmore(divid) {
        var ele = document.getElementById(divid);
        if (ele.className == "review-details-text") {
            ele.className = "review-details-text_open";
        }
        else {
            ele.className = "review-details-text";
        }

    }

    function ChangeAnchorText(param) {

        var anchr = document.getElementById(param);
        var id = '#' + param;
        if ($(id).text() == "More")
            $(id).text("Less")
        else
            $(id).text("More");
    }


    function changeDivHtml(source, target, reviewid) {
        //debugger;
        document.getElementById('Txteditor').value = "";
        document.getElementById('pErrorR').style.display = 'none';
        var elSource = document.getElementById(source)
  , elTarget = document.getElementById(target), eSreviewid = document.getElementById(reviewid),
  eTreviewid = document.getElementById('dvreviewid');
        document.getElementById('dvpaneladdedbyme').style.display = 'none';
        //document.getElementById('divPagingBottom').style.display = 'none';
        if (document.getElementById('change-phone').style.display == "none") {

            document.getElementById('change-phone').style.display = 'block';
            document.getElementById('fade').style.display = 'block'
        }

        document.getElementById('change-phone').style.display = 'block';
        document.getElementById('fade').style.display = 'block'
        document.getElementById('hdn').value = eSreviewid.innerHTML
        elTarget.innerHTML = elSource.innerHTML;
        eTreviewid.innerHTML = eSreviewid.innerHTML;
        var etxt = document.getElementById('Txteditor');
        etxt.innerHTML = "";
        //alert(elTarget.Text);
        $("#Txteditor").focus();

    }


    $('#lnkbtnSumit').click(function (event) {
        debugger;
        event.preventDefault();
        $inp = $(this)

        var Txteditor = document.getElementById('Txteditor').value;
        if (Txteditor.trim()=="") {
            
            document.getElementById('pErrorR').style.display = 'block';
            return false;
        }
        else
        {
            document.getElementById('pErrorR').style.display = 'none';
        }
        var hdn = document.getElementById('hdn').value;
        var businessId = $inp.attr('data-business-id');
        document.getElementById('dvPopupPlzWait').style.display = 'block';
        $.ajax({
            url: "/BoDashboardWeb/AjaxPostReviews/",
            type: "POST",
            data: { 'BusinessId': businessId, 'Txteditor': Txteditor, 'hdn': hdn },
            success: function (response) {
                document.getElementById('lblAlertMsgBusinessReview').innerHTML = response;
                document.getElementById('Txteditor').value = "";
                document.getElementById('change-phone').style.display = 'none';
                document.getElementById('fade').style.display = 'none';
                document.getElementById('dvpaneladdedbyme').style.display = 'block'
                document.getElementById('dvPopupPlzWait').style.display = 'none';

            },
            error: function (xhr, textStatus, thrownError) {
                alert("xhr status: " + xhr.statusText);
            },
        });

    });

</script>



