﻿@model Vconnect.Models.BoDashboardModel

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
                     
string title = "VConnect™ || MyBusiness";
}

@section title{@title}

    <link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">

        function validateData() {
           // debugger;
            document.getElementById('pErrorS').style.display = "none";
            var objTxtResult;
            var objbname = document.getElementById('Video_Title');
            var objvdescription = document.getElementById('VideoDescription');
            if (objbname.value.trim() == "") {
                document.getElementById('pErrorS').style.display = "block";
                objTxtResult = document.getElementById('pErrorS');
                objTxtResult.innerHTML = 'Please enter video title';
                objbname.focus();
                return false;
            }

                if (objvdescription.value.trim() == "") {
                    document.getElementById('pErrorS').style.display = "block";
                    objTxtResult = document.getElementById('pErrorS');
                    objTxtResult.innerHTML = 'Please Provide video code';
                    objvdescription.focus();
                    return false;
              
            }


        }
    </script>

    <div style="width: 999PX; margin: 0 auto; position: relative;">
        
        <div id="bo-db-container">
        <!-- ============================== Left Container -->
        <div id="bo-db-container-left">
            @Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)
        </div>
        <!-- ============================== Center Container -->
        <div id="bo-db-container-mid">
            <div class="bo-db-header-area">
                @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")
            </div>
            <!-- ============================= All Form and submenu Holder -->
            <div class="TabbedPanelsContentGroup">
                <div class="hori-tabs-holder">
                    <ul>
                        <li><a href='/BoDashboardWeb/Index?BID=@Model.BusinessID&bname=@Model.BusinessName'>Basic Details </a></li>
                        <li><a href='/BoDashboardWeb/GetContactDetails?BID=@Model.BusinessID&bname=@Model.BusinessName'>Contact Details </a></li>
                        <li><a href='/BoDashboardWeb/BuisnessProductsList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Products </a></li>
                        <li><a href='/BoDashboardWeb/GetBuisnessServicesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Services </a></li>
                        <li><a href='/BoDashboardWeb/BuisnessImagesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Images</a></li>
                        <li class="hori-tabs-holder-selected">Videos</li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="TabbedPanelsContent">
                    <!-- ------------------------ Videos -->
                    <!-- =================================== Completeness Bar -->
                    <div id="ctl00_cphMiddleContainer_dvshowvideolistbtn" class="db-bo-add-product">
                        <a id="ctl00_cphMiddleContainer_lnkshowvideolist" href='@Url.Action("GetVedioGalary", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })'>See All Videos</a>
                    </div>
                    <div id="ctl00_cphMiddleContainer_showaddbutton" class="db-bo-add-product">
                        <a id="ctl00_cphMiddleContainer_lnkaddbutton" href='@Url.Action("BuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })'>Upload Video</a>
                    </div>
                    <div class="completeness-bar-holder">
                        @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                        <div class="clear">
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <!-- ============================= Video Form Holder -->
                    <div class="db-bo-form-holder">

                        <div class="clear">
                        </div>


                        @using (Html.BeginForm("Video", "BoDashboardWeb", new{ bid=@Model.BusinessID, bname=@Model.BusinessName}, FormMethod.Post))
                        {

                                            
                            <div id="ctl00_cphMiddleContainer_dvaddnewshow">
                                <div class="db-bo-video-upload-area">
                                    <div class="db-bo-tab-heading">
                                        Do it yourself - Upload your video <a href="javascript:help();" style="position: relative; left: 172px; color: green;">How to upload video?</a>
                                    </div>
                                    <div class="db-bo-form-holder-univarsal">
                                        <p id="pErrorS" class="bo-MsgRed" style=" display:none ">
                                           
                                        </p>
                                        <div class="clear">
                                        </div>
                                        @if (@TempData["message"] != null)
                                        {
                                            <p id="pError1" class="bo-MsgGreen">
                                                @TempData["message"]
                                            </p>
                                            <div class="clear">
                                            </div>
                                        }
                                        @if (@TempData["messageE"] != null)
                                        {
                                            <p id="pError" class="bo-MsgRed">
                                                @TempData["messageE"] 
                                            </p>
                                            <div class="clear">
                                            </div>
                               
                                        }
                                        <div class="db-bo-form-table-row">
                                            <div class="db-bo-form-table-row-left">
                                                 Video Title <span class="mandatory">*</span>
                                            </div>
                                            <div class="db-bo-form-table-row-right">
                                                @Html.TextBoxFor(m => m.Video_Title, new { maxlength = "100" })
                                             @*   <input type="text" name="txtVideoTitle" maxlength="100" />*@
                                                <span class="rspanmsgs"><span style="color: Red; display: none; display: none;" class="Msgcontallvalid" id="Span1"></span>
                                                    <br>
                                                    <span id="ctl00_cphMiddleContainer_reqVideoTitle" style="color: Red; display: none;">Please enter video title</span>
                                                </span>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                        <div class="db-bo-form-table-row">
                                            <div class="db-bo-form-table-row-left">
                                                 Video Embed Code <span class="mandatory">*</span><br>
                                                <a id="displayText" href="javascript:toggle();">What is an embed code?</a>
                                            </div>
                                            <div class="db-bo-form-table-row-right">
                                                @Html.TextAreaFor(m => m.VideoDescription, new { maxlength = "1024",style = "height: 80px;" })
                                                <br>
                                                <span class="rspanmsgs"><span style=" color: Red;display: none;" class="Msgcontallvalid" id="Span2"></span>
                                                </span>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                        <div class="db-bo-form-table-row">
                                            <div class="db-bo-form-table-row-left">
                                                &nbsp;
                                            </div>
                                            <div class="db-bo-form-table-row-right">
                                                <input class="db-bo-form-submit-bt" type="submit" name="submit" value="Submit" onclick="return validateData()">
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ShowEmb" style="display: none">
                                        <div class="db-bo-tab-heading">
                                            What is an Embed Code
                                        </div>
                                        <div class="db-bo-form-holder-univarsal">
                                            <div>
                                                <ul style=" list-style:none; font-size :12px;padding :0;margin :0; margin-left:10px; line-height :18px; ">
                                                    <li>Within the context of adding video, Embed code is a link you can copy from a video site and paste on another site in other to copy its video content.</li>
                                                    <li><a href="http://www.youtube.com/watch?v=iT97xCNh_-g" target="_blank" style="color: blue; font-weight: bold;">Click here</a> to know more </li>
                                                </ul>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="showhelp" style="display: none">
                                        <div class="db-bo-tab-heading">
                                            How to upload a video
                                        </div>
                                        <div class="db-bo-form-holder-univarsal">
                                            <div class="db-bo-video-left">
                                                <h1>Upload the video on youtube.com</h1>
                                                <ul style=" list-style:none; font-size :12px;padding :0;margin :0; margin-left:10px; line-height :18px; ">
                                                    <li><strong>Steps:</strong></li>
                                                    <li>1. Sign into YouTube- <a href="http://www.youtube.com" target="_blank">http://www.youtube.com</a></li>
                                                    <li>2. Click the <strong>Upload</strong> link at the top of the page.</li>
                                                    <li>3. Select the video you'd like to upload form your computer.</li>
                                                    <br>
                                                    </ul>
</div>
                                            <div class="db-bo-video-right">
                                                <h1>Get the embed code</h1>
                                                <ul style=" list-style:none; font-size :12px;padding :0;margin :0; margin-left:10px; line-height :18px; ">
                                                    <li><strong>Steps:</strong></li>
                                                    <li>1. Click the <strong>Share</strong> button located under the video.</li>
                                                    <li>2. Click the <strong>Embed</strong> button.</li>
                                                    <li>3. Copy the code provided in the expanded box.</li>
                                                    <li>4. Paste the code in the box above and click on Submit.</li>
                                                </ul>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="db-bo-tab-heading">
                                        Or - Have a video made by VConnect
                                    </div>

                                    <div class="db-bo-form-holder-text">
                                        Video is a powerful marketing tool that enhances communication with your customers. See some of the videos we made for our clients. For your own-
                                       
                                    <a href="#" onclick="javascript:VideoRequest()" style="color: Blue; font-weight: bold;">Request Here</a>
                                        <p id="pReqVid" runat="server">
                                        </p>
                                    </div>
                                    <div class="bo-db-vedio-tumb-holder">

                                        <div class="bo-db-vedio-tumb">
                                            <div class="vc_clear">
                                            </div>
                                            <div class="video-thumb-play">

                                                <a href="@Url.Action("playBuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName, videoid = 442 })">
                                                    <img src="http://image.vconnect.bz/static/WEB/BOdashboard/icons/play-button.png" title="Click to Play Video" width="40px" height="30px" /></a>
                                            </div>

                                            <div id="Videoplayer_442" class="bo-db-vedio-tumb-active">
                                                <div id="ctl00_cphMiddleContainer_rptsamplevideos_ctl00_UpdatePanel1">


                                                    <img src="http://i.ytimg.com/vi/69mcHcUOznU/2.jpg" id="ctl00_cphMiddleContainer_rptsamplevideos_ctl00_imgvideo" alt="play" />
                                                </div>
                                            </div>
                                            <div class="vc_clear">
                                            </div>
                                            <label title="Binez Hotels Limited">
                                                Binez Hotels..
                                                   
                                            </label>

                                        </div>

                                        <div class="bo-db-vedio-tumb">
                                            <div class="vc_clear">
                                            </div>
                                            <div class="video-thumb-play">
                                                <a href="@Url.Action("playBuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName, videoid = 441 })">
                                                    <img src="http://image.vconnect.bz/static/WEB/BOdashboard/icons/play-button.png" title="Click to Play Video" width="40px" height="30px" /></a>
                                            </div>

                                            <div id="Videoplayer_441" class="bo-db-vedio-tumb">
                                                <div id="ctl00_cphMiddleContainer_rptsamplevideos_ctl01_UpdatePanel1">


                                                    <img src="http://i.ytimg.com/vi/7gvzHF-ywXg/2.jpg" id="ctl00_cphMiddleContainer_rptsamplevideos_ctl01_imgvideo" alt="play" />
                                                </div>
                                            </div>
                                            <div class="vc_clear">
                                            </div>
                                            <label title="Agete Luxury Hotel">
                                                Agete Luxury Hotel
                                                   
                                            </label>

                                        </div>

                                        <div class="bo-db-vedio-tumb">
                                            <div class="vc_clear">
                                            </div>
                                            <div class="video-thumb-play">
                                                <a href="@Url.Action("playBuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName, videoid = 438 })">
                                                    <img src="http://image.vconnect.bz/static/WEB/BOdashboard/icons/play-button.png" title="Click to Play Video" width="40px" height="30px" /></a>
                                            </div>

                                            <div id="Videoplayer_438" class="bo-db-vedio-tumb">
                                                <div id="ctl00_cphMiddleContainer_rptsamplevideos_ctl02_UpdatePanel1">


                                                    <img src="http://i.ytimg.com/vi/6wK2UYiHAXA/2.jpg" id="ctl00_cphMiddleContainer_rptsamplevideos_ctl02_imgvideo" alt="play" />
                                                </div>
                                            </div>
                                            <div class="vc_clear">
                                            </div>
                                            <label title="Bolton White Hotels And Apartments">
                                                Bolton White..
                                                   
                                            </label>

                                        </div>

                                        <div class="bo-db-vedio-tumb">
                                            <div class="vc_clear">
                                            </div>
                                            <div class="video-thumb-play">
                                                <a href="@Url.Action("playBuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName, videoid = 409 })">
                                                    <img src="http://image.vconnect.bz/static/WEB/BOdashboard/icons/play-button.png" title="Click to Play Video" width="40px" height="30px" /></a>
                                            </div>

                                            <div id="Videoplayer_409" class="bo-db-vedio-tumb">
                                                <div id="ctl00_cphMiddleContainer_rptsamplevideos_ctl03_UpdatePanel1">


                                                    <img src="http://i.ytimg.com/vi/09K997HJZ_k/2.jpg" id="ctl00_cphMiddleContainer_rptsamplevideos_ctl03_imgvideo" alt="play" />
                                                </div>
                                            </div>
                                            <div class="vc_clear">
                                            </div>
                                            <label title="Elite Web Builder">
                                                Elite Web Builder
                                                   
                                            </label>

                                        </div>

                                        <div class="clear">
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                    <div class="bo-db-vedio-tumb-holder" id="dvseemore" style="display: none;">

                                        <div class="bo-db-vedio-tumb">
                                            <div class="vc_clear">
                                            </div>
                                            <div class="video-thumb-play">
                                                <a href="@Url.Action("playBuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName, videoid = 398 })">
                                                    <img src="http://image.vconnect.bz/static/WEB/BOdashboard/icons/play-button.png " title="Click to Play Video" width="40px" height="30px" /></a>
                                            </div>

                                            <div id="Videoplayer_398" class="bo-db-vedio-tumb">
                                                <div id="ctl00_cphMiddleContainer_rptseemore_ctl00_UpdatePanel1">


                                                    <img src="http://i.ytimg.com/vi/4l4VkgjJUto/2.jpg" id="ctl00_cphMiddleContainer_rptseemore_ctl00_imgvideo1" alt="play" />
                                                </div>
                                            </div>
                                            <div class="vc_clear">
                                            </div>
                                            <label title="Castlefields Premium Lifestyle Accomodation">
                                                Castlefields..
                                                   
                                            </label>

                                        </div>

                                        <div class="bo-db-vedio-tumb">
                                            <div class="vc_clear">
                                            </div>
                                            <div class="video-thumb-play">
                                                <a href="@Url.Action("playBuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName, videoid = 397 })">
                                                    <img src="http://image.vconnect.bz/static/WEB/BOdashboard/icons/play-button.png " title="Click to Play Video" width="40px" height="30px" /></a>
                                            </div>

                                            <div id="Videoplayer_397" class="bo-db-vedio-tumb">
                                                <div id="ctl00_cphMiddleContainer_rptseemore_ctl01_UpdatePanel1">


                                                    <img src="http://i.ytimg.com/vi/3OslZ2horeM/2.jpg" id="ctl00_cphMiddleContainer_rptseemore_ctl01_imgvideo1" alt="play" />
                                                </div>
                                            </div>
                                            <div class="vc_clear">
                                            </div>
                                            <label title="Bestway Hotel">
                                                Bestway Hotel
                                                   
                                            </label>

                                        </div>

                                        <div class="bo-db-vedio-tumb">
                                            <div class="vc_clear">
                                            </div>
                                            <div class="video-thumb-play">
                                                <a href="@Url.Action("playBuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName, videoid = 392 })">
                                                    <img src="http://image.vconnect.bz/static/WEB/BOdashboard/icons/play-button.png " title="Click to Play Video" width="40px" height="30px" /></a>
                                            </div>

                                            <div id="Videoplayer_392" class="bo-db-vedio-tumb">
                                                <div id="ctl00_cphMiddleContainer_rptseemore_ctl02_UpdatePanel1">


                                                    <img src="http://i.ytimg.com/vi/7Arfc8XUmz8/2.jpg" id="ctl00_cphMiddleContainer_rptseemore_ctl02_imgvideo1" alt="play" />
                                                </div>
                                            </div>
                                            <div class="vc_clear">
                                            </div>
                                            <label title="Body Fit Ventures">
                                                Body Fit Ventures
                                                   
                                            </label>

                                        </div>

                                        <div class="bo-db-vedio-tumb">
                                            <div class="vc_clear">
                                            </div>
                                            <div class="video-thumb-play">
                                                <a href="@Url.Action("playBuisnessVideos", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName, videoid = 351 })">
                                                    <img src="http://image.vconnect.bz/static/WEB/BOdashboard/icons/play-button.png " title="Click to Play Video" width="40px" height="30px" /></a>
                                            </div>

                                            <div id="Videoplayer_351" class="bo-db-vedio-tumb">
                                                <div id="ctl00_cphMiddleContainer_rptseemore_ctl03_UpdatePanel1">


                                                    <img src="http://i.ytimg.com/vi/_T59hlq8i50/2.jpg" id="ctl00_cphMiddleContainer_rptseemore_ctl03_imgvideo1" alt="play" />
                                                </div>
                                            </div>
                                            <div class="vc_clear">
                                            </div>
                                            <label title="Cranes &quot;R&quot; Us Nigeria Limited">
                                                Cranes "R" Us..
                                                   
                                            </label>

                                        </div>

                                        <div class="clear">
                                        </div>
                                    </div>
                                    <div class="see-more-vedio">

                                        <a id="aseemore" href="javascript:toggleseemore();">See More..</a>
                                    </div>
                                    <div class="clear">
                                    </div>
                                    <div class="bo-db-vedio-big-holder">

                                        <div id="ctl00_cphMiddleContainer_dvsamplevideo" class="db-bo-video-list-r">
                                            @Html.Raw(@Model.videocode)
                                        </div>
                                        <div class="bo-db-vedio-big-holder-right">
                                            <div id="ctl00_cphMiddleContainer_dvvideoimage" class="bo-db-vedio-icon">

                                                <img src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.vcompanylogo' width="126" height="75" />
                                            </div>
                                            <div style="float: left;">
                                                <div class="bo-db-vedio-titile-holder">@Model.vbusinessname</div>
                                                <div class="clear">
                                                </div>
                                                <div class="average-rating-stars">
                                                    <div class="ratings goog-inline-block">
                                                        <div class="divstr">
                                                            @Html.Raw(@Vconnect.Common.Utility.RateMe(@Model.vavgrating))


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear">
                                                </div>
                                            </div>

                                            <div class="clear">
                                            </div>
                                            <div class="db-bo-vedio-text-black">@Model.vfulladdress</div>
                                            <div class="clear">
                                            </div>
                                            <div class="db-bo-vedio-text-green" style="padding-right: 10px">@Model.vcategory</div>
                                            <div class="db-bo-vedio-text-black">
                                            </div>

                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================== Right Container -->
        <div id="bo-db-container-right">


            @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")
       
       
        </div>
        <div class="clear">
        </div>
            </div>

    </div>

<script type="text/javascript">
    function toggle() {
        var ele = document.getElementById("ShowEmb");
        var ele1 = document.getElementById("showhelp");

        var text = document.getElementById("displayText");
        if (ele.style.display == "block") {
            ele.style.display = "none";
            ele1.style.display = "none";
            text.innerHTML = "What is an embed code ?";
        }
        else {
            ele.style.display = "block";
            ele1.style.display = "none";
            text.innerHTML = "What is an embed code ?";
        }
    }
    function help() {
        var ele = document.getElementById("ShowEmb");
        var ele1 = document.getElementById("showhelp");

        // var text = document.getElementById("displayText");
        if (ele1.style.display == "block") {
            ele1.style.display = "none";
            ele.style.display = "none";
            //text.innerHTML = "What is embed code ?";
        }
        else {
            ele1.style.display = "block";
            ele.style.display = "none";
            // text.innerHTML = "What is embed code ?";
        }
    }
</script>

<script type="text/javascript">
    function toggleseemore() {
        var ele = document.getElementById("dvseemore");
        var text = document.getElementById("aseemore");
        if (ele.style.display == "block") {
            ele.style.display = "none";
            text.innerHTML = "See More..";
        }
        else {
            ele.style.display = "block";
            text.innerHTML = "";
        }
    }
</script>



    <script type="text/javascript">
    function VideoRequest() {
        $.ajax({
            cache: false,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '/BoDashBoardWeb/Videorequest',
            data: { BusinessId: '@Model.BusinessID' },
            dataType: "json",
            success: function (result) {
                var objTxtResult = document.getElementById('pReqVid');
                if (result == "0") {
                    document.getElementById('pReqVid').style.color = "Green";
                    objTxtResult.innerHTML = 'Your request has been forwarded to our team. We will contact you soon';
                }
                else if (result == "2") {
                    document.getElementById('pReqVid').style.color = "red";
                    objTxtResult.innerHTML = 'You have already requested. We will contact you soon';
                }
                else {
                    document.getElementById('pReqVid').style.color = "red";
                    objTxtResult.innerHTML = 'Please Try Again.';
                }
                debugger;
                pReqVid
            }
        })
    }

    function checkimages(images) {

        var iframe = document.getElementById('imap');
        iframe.src = images;

    }



</script>
