﻿@model Vconnect.Models.BoDashboardModel

@{
    string title = "VConnect™ || MyBusiness";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";

}

@section title{@title}
  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="~/Scripts/pop-slider/popup-slider.js"></script>
    <link href="~/Scripts/pop-slider/slider-content.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () {
        $("#submit").click(function (e) {
            // alert("P");

            //$('#File1').change();
            //this.files[0].size gets the size of your file.
            var objurlPhoto = document.getElementById('uplPhoto');

            if (document.getElementById('uplPhoto').value == "") {
                document.getElementById("compLogo").style.display = "block";
                document.getElementById("compLogo").innerHTML = 'Please select the photo to upload.';
                document.getElementById('compLogo').style.color = 'red';
            }
            

            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', ''];
            if ($.inArray($("#uplPhoto").val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                var objTxtResult;
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult = document.getElementById('compLogo');
                objTxtResult.innerHTML = 'Product image .jpeg,.jpg, .png, .gif, .bmp formats are allowed.';
                objurlPhoto.focus();


            }

            if ($("#uplPhoto")[0].files[0].size >= 5242880) {
                //   debugger;
                // alert("File size is not more than 5 MB");
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult = document.getElementById('compLogo');
                objTxtResult.innerHTML = 'File size is not more than 5 MB';
                objTxtResult.focus();
                objurlPhoto.focus();
                // document.getElementById('compLogo').focus();



            }


        });
    });
</script>

    <style>
        .total-imges-cont {
            float: left;
            margin-left: 23px;
            padding-bottom: 5px;
        }
    </style>
    <style>
        #bo-db-container-right img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    </style>

    <div style="width: 999PX; margin: 0 auto; position: relative;">
        <div id="bo-db-container">

            <!-- ============================== Left Container -->
            <div id="bo-db-container-left">
                @Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)
            </div>
            <!-- ============================== Center Container -->
            <div id="bo-db-container-mid">
                <div class="bo-db-header-area">
                    @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")
                </div>
                <!-- ============================= All Form and submenu Holder -->
                <div class="TabbedPanelsContentGroup">
                    <div class="hori-tabs-holder">
                        <ul>
                            <li><a href='/BoDashboardWeb/Index?BID=@Model.BusinessID&bname=@Model.BusinessName'>Basic Details</a></li>
                            <li><a href='/BoDashboardWeb/GetContactDetails?BID=@Model.BusinessID&bname=@Model.BusinessName'>Contact Details </a></li>
                            <li><a href='/BoDashboardWeb/BuisnessProductsList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Products </a></li>
                            <li><a href='/BoDashboardWeb/GetBuisnessServicesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Services </a></li>
                            <li class="hori-tabs-holder-selected">Images</li>
                            @*<li><a href='/BoDashboardWeb/GetVedioGalary?BID=@Model.BusinessID&bname=@Model.BusinessName'>Videos </a></li>*@
                        </ul>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="TabbedPanelsContent" style="margin-top: 4px;">
                        <div id="ctl00_cphMiddleContainer_dvtopbar">
                            @* <div class="db-bo-add-product">
                                    <select name="DdlimagetypeAdd" id="DdlimagetypeAdd" class="db-bo-select-images">
                                        <option selected="selected" value="0">Select All</option>
                                        <option value="206">Adverts</option>
                                        <option value="205">Brouchure</option>
                                        <option value="211">Images</option>
                                        <option value="202">Menu</option>
                                        <option value="207">Product Price</option>
                                        <option value="204">Tariffs</option>

                                    </select>

                                </div>*@
                            <div class="db-bo-add-product">
                                <a href="@Url.Action("BuisnessImagesList", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })">See All</a>
                            </div>
                            <div class="db-bo-add-product">
                                <a href="@Url.Action("BuisnessImagesListBO", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })">Added By me</a>
                            </div>
                            <div class="db-bo-add-product">
                                <a href="@Url.Action("AddBusinessImages", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })">Upload Image</a>
                            </div>
                        </div>
                        <div class="completeness-bar-holder">
                            @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                        </div>
                        <div class="clear">
                        </div>
                        @using (Html.BeginForm("AddBusinessImages", "BoDashboardWeb", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="db-bo-form-holder">

                                <div id="dvimagemsgi">


                                    @if (@TempData["alertMsg"] != null)
                                    {
                                        <p id="pError1" class="bo-MsgGreen">
                                            @TempData["alertMsg"]
                                        </p>
                                        <div class="clear">
                                        </div>
                                    }
                                    @if (@TempData["alertMsgE"] != null)
                                    {
                                        <p id="pError" class="bo-MsgRed">
                                            @TempData["alertMsgE"]
                                        </p>
                                        <div class="clear">
                                        </div>

                                    }
                                </div>
                                <div class="clear">
                                </div>

                                <div class="db-bo-image-header">
                                    Upload an Image
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Image Type
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        <select name="DdlimagetypeAdd2" id="DdlimagetypeAdd2" class="db-bo-select-images">
                                            <option value="206">Adverts</option>
                                            <option value="205">Brouchure</option>
                                            <option selected="selected" value="211">Images</option>
                                            <option value="202">Menu</option>
                                            <option value="207">Product Price</option>
                                            <option value="204">Tariffs</option>

                                        </select>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Image <span class="mandatory">*</span>
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        <input name="uplPhoto" id="uplPhoto" type="file">
                                        <span style="color: Red; display: none;" id="compLogo">Field cannot be left blank.</span><br />
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        &nbsp;
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        <div class="db-bo-form-product-1row-prod" style="position: relative;">
                                            <div>
                                                <img id="imgbimage" src="http://image.vconnect.bz/vcsites/vcimages/resource/images/noImageAvailable.jpg" alt="image" style="border-width: 0px; border-bottom-width:1px;" />
                                                <br /><br />
                                            </div>
                                            <div style="position: absolute; top: 30px; left: 120px; width: 150px; font-size: 11px; color: Red;">
                                                <b>NOTE:</b> only max 5 MB, .gif, .jpg, .png, .jpeg allowed.
                                                
                                            </div>
                                        </div>
                                        <div class="db-bo-form-product-1row-prod-text">
                                            (Image is subject to approval by our executives)
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div style="margin-left: 50px; padding: 3px 0; font-size: 12px;">
                                    Photo Caption <span class="mandatory">*</span> (eg: The reception, ocean view suit)
                                </div>
                                <div>
                                    <div style="float: left; border: 1px solid #fff; width: 190px;">
                                    </div>
                                    <div style="float: left;">
                                        <input name="txtimagecaption" maxlength="50" id="txtimagecaption" autocomplete="off" style="width: 200px;" type="text">
                                       
                                            <span style="color: Red; display: none; font-family:Arial; font-size:12px;" id="pname">Field cannot be left blank.</span>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                                <div class="db-bo-form-table-row-right" style="margin: 20px 0 38px 81px;">
                                    @* <a id="ctl00_cphMiddleContainer_btnaddnewphoto" class="db-bo-form-submit-bt" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphMiddleContainer$btnaddnewphoto&quot;, &quot;&quot;, true, &quot;vgphotos&quot;, &quot;&quot;, false, true))" style="margin-left: 115px; color: White">Submit</a>*@
                                    <input class="db-bo-form-submit-bt" type="submit" id="submit" value="Submit" onclick="javascript: return checkfield()"  />

                                </div>
                                <div class="clear">
                                </div>

                            </div>

                            @Html.Hidden("hid_DdlimagetypeAddText")
                            @Html.Hidden("bid", @Model.BusinessID)
                            @Html.Hidden("bnmae", @Model.BusinessName)
                        }
                    </div>
                </div>
                <div class="clear"></div>
            </div>



            <!-- ============================== Right Container -->
            <div id="bo-db-container-right">


                @foreach (var item in @Model._bodashboardbannerlist)
                {
                    <div class="faqor">
                        <label id="lblHiddenBannerClick" style="display: block;">
                        </label>
                        <a href="@item.url" onclick="javascript:jsSaveBannerClick('@item.bannerid');" target="_blank">
                            <img src="http://image.vconnect.bz/vcsites/vcimages/resource/@item.advimg" />
                        </a>
                    </div>
                }


            </div>
            <div class="clear">
            </div>
        </div>

    </div>

@*
    <script type="text/javascript">
        function hightlight(id) {


            var pid = "img-" + id;
            var cid = "cross-bt-" + id;

            //alert(pid);

            document.getElementById(cid).style.display = "block";
            // document.getElementById(cid).style.margin-top = "-98px";
            document.getElementById(pid).style.display = "block";
            //document.getElementById(cid).style.position = "absolute";
            //document.getElementById(pid).style.margin-top = "-99px";
            //document.getElementById(pid).style.margin-left = "78px";
            //document.getElementById("imgsrc").style.border = "1px solid blue";
            //document.getElementById("textspan").setStyle("color","blue");
            //document.getElementById("imgsrc").setStyle("border","1px solid blue");
        }
        function removehightlight(id) {
            //var pid = "img-" + id;
            var cid = "cross-bt-" + id;
            document.getElementById(cid).style.display = "none";

        }
    </script>

    <script type="text/javascript">
        function test(id) {


            var pid = "img-" + id;
            var cid = "cross-bt-" + id;

            alert(pid);

        }

    </script>

    <script type="text/javascript">
        function changeDivHtml(source, target) {
            var elSource = document.getElementById(source)
      , elTarget = document.getElementById(target);
            elTarget.innerHTML = elSource.innerHTML;
            //alert(elTarget.innerHTML);
        }
    </script>

    <script type="text/javascript">
        //TO Expand collapse the left menu div

        function divexpandcollapse(ID) {
            if (document.getElementById(ID).style.display == "none") {
                $("#" + ID).slideToggle('fast');
                document.getElementById(ID).style.display = "block";
            }
            else if (document.getElementById(ID).style.display == "block") {
                $("#" + ID).slideToggle('fast');
                document.getElementById(ID).style.display = "none";
            }

            //              else if (document.getElementById(ID).style.display == "") {
            //              document.getElementById(ID).style.display = "none";
            //              }
        }

    </script>

    <script type="text/javascript">
        function DeleteImage(id, typ) {
            //alert('Hi');
            if (id > 0) {
                document.getElementById("divLoaderRegPage").style.display = 'block';
                $('#ctl00_cphMiddleContainer_dvpaneladdedbyme').fadeOut('slow').load(document.getElementById("ctl00_hdnPaths").value
        + '?DeleteImage=y&photo=' + id + '&BUSINESSID=<%=BusinessID%>' + '&type=' + typ).fadeIn("slow");

                document.getElementById("divLoaderRegPage").style.display = 'none';
                document.getElementById("dvimagemsgi").style.display = 'block';
                var dvmsg = document.getElementById("dvimagemsgi");
                dvmsg.className = "bo-MsgGreen";
                dvmsg.innerHTML = "Image Deleted Sucessfully";
                dvmsg.focus();
            }
        }
    </script>

    <script type="text/javascript">
        function SetProfileImage(id, itype, cid) {
            debugger;
            var elements = document.getElementById('chksetprofieimage_' + cid);
            var elementes = 'lblmessage_' + cid;
            // alert(elements.checked);
            if ((elements.checked).toString() == 'true') {
                document.getElementById('Msgavailablebusinessphonenol_' + cid).style.display = 'block';

                document.getElementById('Labelloaderphone_' + cid).innerHTML = 'Processing ...';
                document.getElementById(elementes).style.display = 'block';
                // alert(elementes);
                $('#' + elementes).fadeOut('slow').load(document.getElementById("ctl00_hdnPaths").value
    + '?SaveProfileImage=y&pcontentid=' + id + '&BUSINESSID=<%=BusinessID%>' + '&type=' + itype).fadeIn("slow");
                for (var i = 0, len = document.getElementById('hdntotalrecords').value; i < len; i++) {
                    document.getElementById('profieimage_' + i).value = 0;
                }
                //alert(document.getElementById('profieimage_' + cid));
                document.getElementById('profieimage_' + cid).value = 1;
                // var d= document.getElementById('imgphoto_' + cid).src ;
                document.getElementById('ctl00_cphMiddleContainer_imgCompanyProfile').src = document.getElementById('imgphoto_' + cid).src
                document.getElementById('Msgavailablebusinessphonenol_' + cid).style.display = 'none';

                document.getElementById('Labelloaderphone_' + cid).innerHTML = '';
                //  alert(d);
                //window.close();
            }
        }

    </script>
    </html>*@

<script type="text/javascript">

    var selectedText = $('#DdlimagetypeAdd2 option:selected').text();
    document.getElementById('hid_DdlimagetypeAddText').value = selectedText;

    $('#DdlimagetypeAdd2').change(function () {
        selectedText = $('#DdlimagetypeAdd2 option:selected').text();
        document.getElementById('hid_DdlimagetypeAddText').value = selectedText;
    });
    function checkfield() {

        var flag = true;
        if (document.getElementById('txtimagecaption').value == "") {
            document.getElementById("pname").style.display = "block";
            document.getElementById("pname").innerHTML = 'Photo Caption cannot be blank.';
            document.getElementById('pname').style.color = 'red';
            flag = false;
        }
        else {
            document.getElementById("pname").style.display = "none";
        }
        return flag;
    }

</script>



