﻿@model Vconnect.Models.BoDashboardModel

@{
    ViewBag.Title = "businessprofilelist";
    Layout = "~/Views/Shared/_WAPMainMaster.cshtml";
}

<h2>businessprofilelist</h2>
<link href="~/Content/WAPthemes/BizDb.css" rel="stylesheet" />
        
    <div class="covwrap">
        <div id="wap-db-main-container">
            <!-- ---------------------------- Content Area -->
            <div class="db-title-area">
                <%if (bizrec > 0)
                  { %>
                <div style="float: right;">
                    <a href="bodbusinesslist.aspx">Business List</a></div>
                <%} %>
                <div>
                    <%=businessname%></div>
                <div class="clear">
                </div>
            </div>
            <div class="wap-db-heading-text">
                <div class="wap-db-tab-list">
                    <ul>
                        <li><a href="businessprofile.aspx?businessid=<%=bid%>&biznme=<%=businessname%>&bizrec=<%=bizrec%>">
                            <img src="../images/BusinessOwnerDb/icons/business-profile.png" />
                            Business Profile
                            <div class="clear">
                            </div>
                        </a></li>
                        <li><a href="bodreviews.aspx?businessid=<%=bid%>&biznme=<%=businessname%>&bizrec=<%=bizrec%>">
                            <img src="../images/BusinessOwnerDb/icons/reviews.png" />
                            Reviews
                            <div class="clear">
                            </div>
                        </a></li>
                        @*<li><a href="targetedsms.aspx?businessid=<%=bid%>&biznme=<%=businessname%>&bizrec=<%=bizrec%>">
                            <img src="../images/BusinessOwnerDb/icons/target-sms.png" />
                            Targeted SMS
                            <div class="clear">
                            </div>
                        </a></li>*@
                        <li runat="server" id="liSubscription"><a href="mysubscription.aspx?businessid=<%=bid%>&biznme=<%=businessname%>&bizrec=<%=bizrec%>">
                            <img src="../images/BusinessOwnerDb/icons/my-subscription.png" />
                            My Subscription
                            <div class="clear">
                            </div>
                        </a></li>
                        <li runat="server" id="li1"><a href="useractivity.aspx?businessid=<%=bid%>&biznme=<%=businessname%>&bizrec=<%=bizrec%>&filter=30">
                            <img src="../images/BusinessOwnerDb/icons/user-activity.png" />
                            User Activity
                            <div class="clear">
                            </div>
                        </a></li>
                        <li><a href="../account/SMS/managecontact.aspx?businessid=<%=bid%>&biznme=<%=businessname%>&bizrec=<%=bizrec%>">
                            <img src="../images/BusinessOwnerDb/icons/my-contact.png" />
                            My Contacts</a>
                            <div class="clear">
                            </div>
                        </li>
                        @*<li><a href="businessspecials.aspx?businessid=<%=bid%>&biznme=<%=businessname%>&bizrec=<%=bizrec%>">
                            <img src="../images/BusinessOwnerDb/icons/special.png" />
                            Business Specials
                            <div class="clear">
                            </div>
                        </a></li>*@
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
        
        
        <div id="ctl00_dvWAPFooterAdvert" class="footer2">
            <a href="/linkredirect.aspx?id=1508&amp;url=http://mstage.vconnect.co/BusinessOwnerDb/businessprofile.aspx?businessid=36621&amp;biznme=Lameka And Austin Technologies&amp;bizrec=1&amp;link=http://www.stanbicibtcbank.com/standimg/Campaigns/WR2414-Nigeria-MobileMoney/index.html" target="_blank"><img class="kpqbxpyfcgupvagpihbj" alt="" title="" src="http://vccloud.blob.core.windows.net/static/WEB/Advert/BannerPicture/Mobile/634864976011699770.gif"></a>
        </div>
        <div class="clear">
        </div>
    