﻿@model Vconnect.Models.BoDashboardModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";

    string title = "VConnect™ || MyBusiness";
}

@section title{@title}


<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />

@using (Ajax.BeginForm("BusinessSubscriptionBanner", "BoDashboardWeb", new AjaxOptions { UpdateTargetId = "Banner_Ajax" }))
{
    <div style="width: 999PX; margin: 0 auto; position: relative;">
        <div id="bo-db-container">

            <!-- ============================== Left Container -->
            <div id="bo-db-container-left">

                <div id="ctl00_cphMiddleContainer_divprofileimage" class="bo-profile-img-area">
                    @if (Model.ProfileImage != "0")
                    {
                        <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.ProfileImage' alt="Profile Image" style="border-width: 0px;" />
                    }
                    else if (Model.ProfileImage == "0" && Model.CompanyLogo != "0")
                    {
                        <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.CompanyLogo' alt="Profile Image" style="border-width: 0px;" />
                    }
                    else if (Model.ProfileImage == "0" && Model.CompanyLogo == "0")
                    {
                        <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/images/noImageAvailable.jpg' alt="Profile Image" style="border-width: 0px;" />
                    }

                </div>

                <div id="bo-db-left-tabs" class="ddsmoothmenu">
                    <ul id="nav">
                        <li>
                            <a id="aprofile" href='/BoDashboardWeb/Index/'>
                                <img src="../../images/Bodashboard/icons/business-profile.png" />Business Profile
                            </a>
                        </li>
                        <li>
                            <a id="areview" href='/BoDashboardWeb/BusinessReviews/'>
                                <img src="../../images/Bodashboard/icons/reviews.png" />Reviews
                            </a>
                        </li>
                        @*<li style=" display:none ">
                            <a href="http://vconnectors.vconnect.com/send.aspx?atab=BulkSMS">
                                <img src="../../images/Bodashboard/icons/target-sms.png" />Targeted SMS
                            </a>
                        </li>*@

                        @if (Model.membership != "1")
                        {
                            <li id="ctl00_cphMiddleContainer_lisubs">
                                <a href='/BoDashboardWeb/BusinessSubscription/' class='bo-db-left-tabs-activ'>
                                    <img src="../../images/Bodashboard/icons/my-subscription.png" />
                                    My Subscription
                                </a>
                            </li> }

                        <li>
                            <a href='/BoDashboardWeb/BusinessUserActivity/'>
                                <img src="../../images/Bodashboard/icons/user-activity.png" />User Activities
                            </a>
                        </li>
                        <li style=" display:none ">
                            <a href="http://vconnectors.vconnect.com/send.aspx?atab=Addressbook">
                                <img src="../../images/Bodashboard/icons/my-contact.png" />My Contacts
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="bo-db-left-saddow">
                </div>

            </div>
            <!-- ============================== Center Container -->
            <div id="bo-db-container-mid">
                <div class="bo-db-header-area">


                </div>
                <!-- ============================= All Form and submenu Holder -->
                <div class="TabbedPanelsContentGroup">
                    <div class="hori-tabs-holder">
                        <ul>
                            <li class="hori-tabs-holder-selected">My Subscriptions</li>
                            <li><a href='/BoDashboardWeb/BusinessLeads'>Leads </a></li>
                            <li><a href='/BoDashboardWeb/BusinessCallLeads'>Call Leads</a></li>
                        </ul>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="TabbedPanelsContent">
                        <!-- ------------------------ Basic detail -->
                        <!-- =================================== Completeness Bar -->
                        <div class="completeness-bar-holder">
                            @*@Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)*@
                            <div class="clear">
                            </div>
                        </div>
                        <!-- =================================== Basic detail form -->
                        <div class="clear">
                        </div>

                        <div class="db-bo-tab-heading">
                            Business Subcriptions

                        </div>
                        <div class="db-bo-form-holder">


                            <center>
                                <span id="ctl00_cphMiddleContainer_lblmessaages" style="color:Green;font-weight:bold;">@Model.Subscription.Count Records Found</span>
                            </center>
                            <div class="clear">
                            </div>
                            <a href="@Url.Action("DownloadExcel", "BoDashboardWeb")">Export To Excel</a>
                          @*<p></p>  
                            @Ajax.ActionLink("Export To Excel", "DownloadExcel", null)*@
                            <div class="subs-package-table">
                                <div>
                                    <table id="ctl00_cphMiddleContainer_grdsubcriptions" border="0" cellpadding="5" cellspacing="1">
                                        <tbody>
                                            <tr style="color: White; background-color: #E17100;">
                                                <th scope="col">SNo</th>
                                                <th scope="col">Business Name</th>
                                                <th scope="col">Package</th>
                                                <th scope="col">Start Date</th>
                                                <th scope="col">End Date</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                            @foreach (var item in Model.Subscription)
                                            {
                                                <tr>
                                                    @{
                                                var col = item.Split('/');
                                                foreach (var elemnt in col)
                                                {
                                                    <td>@elemnt</td>
                                                }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <div class="db-bo-tab-heading">
                                Subscription Banner
                            </div>
                            <center>
                                <span id="ctl00_cphMiddleContainer_lblmessaage" style="color:Green;font-weight:bold;">&nbsp;</span>
                            </center>
                            <div class="clear">
                            </div>


                            <div id="ctl00_cphMiddleContainer_dvrptfor" style="float: right; margin: -43px 7px 7px 0px;">
                                Report For:

                                <select name="filter" onchange="$('#form0').submit()" id="filter" class="db-bo-form-select" style="width: 210px;">
                                    <option value="7">Last 7 Days</option>
                                    <option selected="selected" value="30">Last 30 Days</option>
                                    <option value="90">Last 3 Months</option>
                                    <option value="365">Last one Year</option>

                                </select>
                            </div>
                            <div class="subs-banner-table">
                                <div id="Banner_Ajax">
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <!-- ============================== Right Container -->
            <div id="bo-db-container-right">


                @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")

            </div>
            <div class="clear">
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    //TO Expand collapse the left menu div
    $(document).ready(function () {
        $('#form0').submit();
    });
    function divexpandcollapse(ID) {
        //  debugger;
        if (document.getElementById(ID).style.display == "none") {
            document.getElementById(ID).style.display = "block"

        }
        else if (document.getElementById(ID).style.display == "block") {

            document.getElementById(ID).style.display = "none"
        }
    }

</script>

