﻿@model Vconnect.Models.BoDashboardModel
@{
    string title = "VConnect™ || MyBusiness";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
    var count = Model.Subscription.Count - 1;
}


@section title{@title}

<link rel="stylesheet" href='http://image.vconnect.bz/static/WEB/app_themes/generic/bo-dashboard.css' type="text/css" />
<style>
    #bo-db-container-right img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
</style>

<link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#filter option[value='@ViewBag.filter']").attr("selected", "selected");
    });
</script>

<div style="width: 999PX;margin: 0 auto;position: relative;">


    @using (@Html.BeginForm())
    {





        <div id="bo-db-container">
            <!-- ============================== Left Container -->
            <div id="bo-db-container-left">
                @*@Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)*@
                <link href="~/Content/WEBthemes/bo-dashboard.css" rel="stylesheet" />
                <div id="ctl00_cphMiddleContainer_divprofileimage" class="bo-profile-img-area">
                    @if (Model.ProfileImage != "0")
                    {
                        <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.ProfileImage' alt="Profile Image" style="border-width: 0px;" />
                    }
                    else if (Model.ProfileImage == "0" && Model.CompanyLogo != "0")
                    {
                        <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/@Model.CompanyLogo' alt="Profile Image" style="border-width: 0px;" />
                    }
                    else if (Model.ProfileImage == "0" && Model.CompanyLogo == "0")
                    {
                        <img id="ctl00_cphMiddleContainer_imgCompanyProfile" src='http://image.vconnect.bz/vcsites/vcimages/resource/images/noImageAvailable.jpg' alt="Profile Image" style="border-width: 0px;" />
                    }

                </div>

                <div id="bo-db-left-tabs" class="ddsmoothmenu">
                    <ul id="nav">
                        <li>
                            <a id="aprofile" href='/BoDashboardWeb/Index/'>
                                <img src="../../images/Bodashboard/icons/business-profile.png" />Business Profile
                            </a>
                        </li>
                        <li>
                            <a id="areview" href='/BoDashboardWeb/BusinessReviews/'>
                                <img src="../../images/Bodashboard/icons/reviews.png" />Reviews
                            </a>
                        </li>
                        @*<li>
                            <a href="http://vconnectors.vconnect.com/send.aspx?atab=BulkSMS">
                                <img src="../../images/Bodashboard/icons/target-sms.png" />Targeted SMS
                            </a>
                        </li>*@

                        @if (Model.membership != "1")
                        {
                            <li id="ctl00_cphMiddleContainer_lisubs">
                                <a href='/BoDashboardWeb/BusinessSubscription/' class='bo-db-left-tabs-activ'>
                                    <img src="../../images/Bodashboard/icons/my-subscription.png" />
                                    My Subscription
                                </a>
                            </li> }

                        <li>
                            <a href='/BoDashboardWeb/BusinessUserActivity/'>
                                <img src="../../images/Bodashboard/icons/user-activity.png" />User Activities
                            </a>
                        </li>
                        <li>
                            <a href="http://vconnectors.vconnect.com/send.aspx?atab=Addressbook">
                                <img src="../../images/Bodashboard/icons/my-contact.png" />My Contacts
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="bo-db-left-saddow">
                </div>

            </div>
        </div>
        <!-- ============================== Center Container -->
        <div id="bo-db-container-mid">
            <div class="bo-db-header-area">
                <div class="bo-db-for">
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="TabbedPanelsContentGroup">
                <div class="hori-tabs-holder">
                    <ul>
                        <li><a href='/BoDashboardWeb/BusinessSubscription'>My Subscriptions </a></li>
                        <li><a href='/BoDashboardWeb/BusinessLeads'>Leads </a></li>
                        <li class="hori-tabs-holder-selected">Call Leads</li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="db-bo-tab-heading">
                    Business Call Leads
                </div>
            </div>
            <!-- ============================= All Form and submenu Holder -->
            <div class="db-bo-form-holder">
                <h1 style="margin-left: 10px; margin-top: -5px; font-size: 14px;"></h1>
                <div style="float: right; margin: -22px 7px 7px 0px;">
                    Report For:
                    <select name="filter" onchange="this.form.submit()" id="filter" class="db-bo-form-select" style="width: 210px;">
                        <option value="1">Last 7 Days</option>
                        <option value="2">Last 30 Days</option>
                        <option value="3">Last 3 Months</option>
                        <option selected="selected" value="4">Last one Year</option>

                    </select>
                </div>

                <div class="subs-lead-table">
                </div>
                <div class="clear">
                </div>
                @if (@count <= 0)
                {
                    <center>
                        <span id="ctl00_cphMiddleContainer_saage" style="color: Red; font-weight: bold;">No Records Found</span>
                    </center>}

                @if (@count > 0)
                {
                    <center>
                        <span id="ctl00_cphMiddleContainer_lblmessaage" style="color: Red; font-weight: bold;">@count Records Found</span>
                    </center>
                    <div class="subs-lead-table">
                        <div>
                            <table class="gridTable" cellspacing="1" cellpadding="5" border="0" id="ctl00_cphMiddleContainer_gdleadsSummary" style="font-size: 11px;">
                                @foreach (var item in Model.Subscription)
                                {
                                    @Html.Raw(item)
                                }



                            </table>
                        </div>
                    </div>}
            </div>
        </div>
        <!-- ============================== Right Container -->
        <div id="bo-db-container-right">
            @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")


        </div>
        <div class="clear">
        </div>






    }

</div>
