﻿@model Vconnect.Models.BoDashboardModel

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_WEBMainMasterNew.cshtml";
                      
                     
string title = "VConnect™ || MyBusiness";
}

@section title{@title}
    <script lang="javascript" type="text/javascript">
        @if (Model != null)
        {
            foreach (var item in Model._GetAllServices)
            {
                <Text> 
        
                </Text>
            }
        }
        //cannot be blank
        function checkfield() {

            var flag = true;
            if (document.getElementById('servicename').value == "") {
                document.getElementById("Msgtxtservicename").innerHTML = 'Service Name cannot be blank.';
                document.getElementById('Msgtxtservicename').style.color = 'red';
                flag = false;
            }



            return flag;
        }
    </script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#submit").click(function (e) {
            // alert("P");

            //$('#File1').change();
            //this.files[0].size gets the size of your file.
            var objurlPhoto = document.getElementById('uplPhoto');
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', ''];
            if ($.inArray($("#uplPhoto").val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                var objTxtResult;
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult = document.getElementById('compLogo');
                objTxtResult.innerHTML = 'Service image .jpeg,.jpg, .png, .gif, .bmp formats are allowed.';
                objurlPhoto.focus();


            }

            if ($("#uplPhoto")[0].files[0].size >= 5242880) {
                //   debugger;
                // alert("File size is not more than 5 MB");
                //alert("Company Logo '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                e.preventDefault();
                document.getElementById('compLogo').style.display = "block";
                objTxtResult = document.getElementById('compLogo');
                objTxtResult.innerHTML = 'File size is not more than 5 MB';
                objTxtResult.focus();
                objurlPhoto.focus();
                // document.getElementById('compLogo').focus();



            }


        });
    });
</script>

    <div style="width: 999PX; margin: 0 auto; position: relative;">

        <div id="bo-db-container">
            <!-- ============================== Left Container -->
            <div id="bo-db-container-left">
                @Html.Partial("~/Views/BoDashboardWeb/_leftmenu.cshtml", Model)
            </div>
            <!-- ============================== Center Container -->
            <div id="bo-db-container-mid">
                <div class="bo-db-header-area">
                    @Html.Partial("~/Views/BoDashboardWeb/_BusinessNameSelection.cshtml")
                </div>
                <!-- ============================= All Form and submenu Holder -->

                <div class="hori-tabs-holder">
                      <ul>
                            <li><a href='/BoDashboardWeb/Index?BID=@Model.BusinessID&bname=@Model.BusinessName'>Basic Details</a></li>
                            <li><a href='/BoDashboardWeb/GetContactDetails?BID=@Model.BusinessID&bname=@Model.BusinessName'>Contact Details </a></li>
                            <li><a href='/BoDashboardWeb/BuisnessProductsList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Products </a></li>
                            <li class="hori-tabs-holder-selected">Services</li>
                            <li><a href='/BoDashboardWeb/BuisnessImagesList?BID=@Model.BusinessID&bname=@Model.BusinessName'>Images</a></li>
                            @*<li><a href='/BoDashboardWeb/GetVedioGalary?BID=@Model.BusinessID&bname=@Model.BusinessName'>Videos </a></li>*@
                        </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="TabbedPanelsContent">
                    <!-- ------------------------ Product -->
                    <!-- =================================== Completeness Bar -->
                    <div id="showl" >
                        <div style="display: none">
                            <div class="completeness-bar-left">
                                <input aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" name="ctl00$cphMiddleContainer$txtproductsearch" id="ctl00_cphMiddleContainer_txtproductsearch" class="ProductnameSearch ui-autocomplete-input" type="text">
                                <a id="ctl00_cphMiddleContainer_btnsearc" class="bo-db-serch-bt" href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnsearc','')">Go</a>
                            </div>
                        </div>
                        <div class="db-bo-add-product">
                        </div>
                    </div>
                    <div id="showAddl" >
                        <div class="db-bo-add-product">
                            @*<a id="ctl00_cphMiddleContainer_btnseeproduct" class="db-bo-add-product" href="javascript:__doPostBack('ctl00$cphMiddleContainer$btnseeproduct','')">See Product List</a>*@
                            <a href="@Url.Action("GetBuisnessServicesList", "BoDashboardWeb", new { bid = @Model.BusinessID, bname = @Model.BusinessName })" >See All Service</a>

                        </div>
                    </div>
                    <div class="completeness-bar-holder">
                        @Html.Partial("~/Views/BoDashboardWeb/ProfileCompletionbar.cshtml", Model)
                        <div class="clear">
                        </div>
                    </div>
                    <div class="clear">
                        &nbsp;
                    </div>
                    <!-- =================================== Product Addition  -->

                    @using (Html.BeginForm("EditServices", "BoDashboardWeb", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                       
                        @Html.ValidationSummary(true)
                         <input id="bid" type="hidden" value="@Model.BusinessID" name="bid"/>
                        <input id="bname" type="hidden" value="@Model.BusinessName" name="bname"/>
                        <div class="db-bo-form-holder">
                            <div class="clear">
                            </div>
                            @if (@ViewBag.message != null)
                            {
                             <p id="pError1" class="bo-MsgGreen">
                                    @ViewBag.message
                                </p>
                                <div class="clear">
                                </div>
                            }
                             @if (@ViewBag.messageE != null)
                             {
                                <p id="pError" class="bo-MsgRed">
                                   @ViewBag.messageE
                                </p>
                                <div class="clear">
                                </div>
                               
                             }
                            <div id="ctl00_cphMiddleContainer_divtextboxes">
                                <div id="ctl00_cphMiddleContainer_pnlSubmit" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_cphMiddleContainer_btnAddNewOtherContacts')">
                                </div>
                                @Html.HiddenFor(model => model._GetAllServices.SingleOrDefault().contentid)
                                @Html.HiddenFor(model => model._GetAllServices.SingleOrDefault().businessid)

                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Service Name<span class="mandatory">*</span>
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        <span class="rspanmsgs">
                                            @Html.TextBoxFor(model => model._GetAllServices.SingleOrDefault().servicename, new { @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model._GetAllServices.SingleOrDefault().servicename)<br>
                                            <span id="ctl00_cphMiddleContainer_reqProductName" style="color: Red; display: none;">Field cannot be left blank.</span>
                                        </span>
                                    </div>
                                    <div class="Msgavailablebusiness" id="Msgtxtservicename" style="color: Red"></div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Service Detail
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        @Html.TextBoxFor(model => model._GetAllServices.SingleOrDefault().details)
                                        @Html.ValidationMessageFor(model => model._GetAllServices.SingleOrDefault().details)
                                        <br>
                                    </div>
                                    <div class="Msgavailablebusiness" id="Msgtxtdetails" style="color: Red"></div>
                                    <div class="clear">
                                    </div>
                                </div>

                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Price ₦
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        @Html.TextBoxFor(model => model._GetAllServices.FirstOrDefault().pricerange)
                                        @Html.ValidationMessageFor(model => model._GetAllServices.FirstOrDefault().pricerange)
                                        <br>
                                        <div class="Msgavailablebusiness" id="Msgtxtpricerange" style="color: Red"></div>
                                        <span class="rspanmsgs"><span style="display: none;" class="Msgcontallvalid" id="Span5"></span>
                                            <br>
                                            <span id="ctl00_cphMiddleContainer_regProductPrice" title="It must consist of 2-10 numeric characters" style="color: Red; display: none;">It must consist of 2-10 
                                                                numeric characters</span>
                                        </span>
                                    </div>

                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        Service Image
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        <input name="uplPhoto" id="uplPhoto" type="file">

                                        <span style="color: Red; display: none;" id="compLogo">Field cannot be left blank.</span><br />
                                        <span class="com_error">NOTE: only max 5MB, .gif, .jpg, .png, .jpeg allowed.</span>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        &nbsp;
                                    </div>
                                    <div class="db-bo-form-table-row-right">
                                        <div class="db-bo-form-product-1row-prod">
                                             <div>
                                                 <img id="ctl00_cphMiddleContainer_imgProduct" src="http://image.vconnect.bz/vcsites/vcimages/resource/@Model._GetAllServices.SingleOrDefault().image" alt="Service Image" style="border-width: 0px; border-bottom-width:1px;" />
                                                 <br />
                                            </div>
                                        </div>
                                        <div class="db-bo-form-product-1row-prod-text">
                                            <br>
                                            (Image is subject to approval by our executives)
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="db-bo-form-table-row">
                                    <div class="db-bo-form-table-row-left">
                                        &nbsp;
                                    </div>
                                    <div class="db-bo-form-table-row-right">

                                        <div id="ctl00_cphMiddleContainer_spanAddButton" style="float: left; margin-right: 5px;">
                                            @*<a id="ctl00_cphMiddleContainer_btnAddNewOtherContacts" class="db-bo-form-submit-bt" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphMiddleContainer$btnAddNewOtherContacts&quot;, &quot;&quot;, true, &quot;vgProducts&quot;, &quot;&quot;, false, true))" style="margin-left: 115px;">Submit</a>
                                            *@
                                            <input type="submit" id="submit" value="Submit" onclick="javascript: return checkfield()" class="db-bo-form-submit-bt" />
                                        </div>
                                       
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <!-- ============================== Right Container -->
            <div id="bo-db-container-right">


                @Html.Partial("~/Views/BoDashboardWeb/_WebBODBannersPartial.cshtml")
                
       
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
