﻿@model Vconnect.Models.BoDashboardModel


        <div id="ctl00_cphMiddleContainer_dvcompletiontext" class="completeness-bar-right">Profile Completeness: @Model.ProfileCompletionvalue %</div>
        
       <div  id="dvcompletenessbar" class="completeness-bar"><div style="height:5px;width:@(Model.ProfileCompletionvalue)px;background-color:green" ></div></div>
        
        